@import "init";

@import "contrib/bootstrap/pagination";

.pagination {
  border-radius: $border-radius-small;

  > li {
    display: none;

    @include MQ($small) {
      display: inline-block;
    }

    > a,
    > span {
      border: 0;
      margin-left: 0;
      min-width: 44px;
      text-align: center;
      min-height: 32px;
      line-height: 32px;
      border-radius: $border-radius-small;
    }

    &:first-child {
      > a,
      > span {
        border-radius: $border-radius-small;
      }
    }

    &:last-child {
      > a,
      > span {
        border-radius: $border-radius-small;
      }
    }

  }

  .pager__item--previous,
  .pager__item--next,
  .pager__item.active {
    display: inline-block;
  }

}

.mini-pager {
  position: relative;
  padding-top: 35px;
  list-style: none;
  padding-left: 0;
  text-align: center;
  background-image: linear-gradient(transparent, $body-bg);
}
