@import 'init';

.glyphicon {
  position: relative;
  top: 1px;
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: auto 20px;
  background-position: center;
}

.glyphicon-refresh {
  background-image: url(../../../images/icons/icon-autorenew.svg);
}
