.table {
  font-size: 0.875rem;

  td {
    word-break: break-word;
  }
}

.table-responsive {
  overflow: visible;

  @media screen and (max-width: $screen-xs-max) {
    border: 0;
  }
}

.tabledrag-handle {
  color: $gray-light;
  cursor: move;
  position: absolute;
  line-height: 1;
  margin: 0 0 0 -10px;
  padding: 10px;

  ~ .form-managed-file {
    display: block;
    padding-left: 24px;
  }
}
