// Nav List
.table-of-contents {
  padding: 20px;
  list-style: none;

  &.fixed {
    position: fixed;
  }

  li, &.nav > li {
    padding: 2px 0;
    a.active {
      font-weight: 500;
      padding-left: 13px;
      border-left: 2px solid lighten($brand-primary,10%);
    }
  }

  a, &.nav > li > a {
    display: block;
    font-weight: 300;
    color: #757575;
    padding: 0 0 0 14px;
    line-height: 1.5em;

    &:hover {
      color: lighten(#757575, 20%);
      padding-left: 13px;
      border-left: 1px solid lighten($brand-primary,10%);
    }
  }

}

.toc-wrapper {
  position: relative;
  &.affix {
    position: fixed;
  }
}
