field.formatter.settings.file_image_default:
  type: field.formatter.settings.image
  label: 'Image field display format settings'

field.formatter.settings.comment_node:
  type: mapping
  label: 'Comment on node list'
  mapping:
    num_comments:
      type: integer
      label: 'Number of comments'
    always_show_all_comments:
      type: boolean
      label: 'Always show all comments'

field.value.social_external_identifier:
  type: mapping
  label: Default value
  mapping:
    external_id:
      type: string
      label: External ID
    external_owner_target_type:
      type: string
      label: External Owner Target type
    external_owner_id:
      type: integer
      label: External Owner ID

field.storage_settings.social_external_identifier:
  type: mapping
  label: "Social External Identifier field storage settings"
  mapping:
    target_types:
      type: sequence
      label: 'Target entity types'
      sequence:
        type: string
        label: 'Target entity type'

social_core.address.settings:
  type: config_object
  label: "Address format to be rendered"
  mapping:
    format:
      type: string
      label: "Address format template"
    regex_pattern:
      type: string
      label: "Regex pattern to clean empty address field-item"
