.card--stream.social-post-album--post {
  .footer-post {
    margin-bottom: 10px;

    @media(max-width: 599px) {
      flex-wrap: wrap;
    }

    > *:not(.album-name) {
      white-space: nowrap;
    }

    .album-name {
      padding-left: 1.5rem;
      font-size: .875rem;

      @media(max-width: 599px) {
        flex: 1;
        margin-top: .5rem;
        padding-left: 0;
      }
    }
  }
}

.social-post-album--post-gallery {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: .75rem -.25rem .25rem;

  @media (min-width: 600px) {
    margin-top: 1rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
  }

  .post-with-image {
    position: relative;
    display: block;
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    margin-bottom: .5rem;
    padding: 0 .25rem;

    @media (min-width: 600px) {
      flex: 0 0 25%;
      max-width: 25%;
      margin-bottom: 1rem;
      padding: 0 .5rem;
    }

    .plus-count {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: .25rem;
      left: .25rem;
      height: 100%;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      background: rgba(#4d4d4d, .8);
      border-radius: .5rem;

      @media (min-width: 600px) {
        right: .5rem;
        left: .5rem;
        font-size: 48px;
      }

      .text-plus {
        display: inline-block;
        margin-right: 12px;
        font-size: 56px;

        @media(max-width: 599px) {
          margin-right: 5px;
          font-size: 24px;
        }
      }

      .plus-count--wrapper {
        display: flex;
        align-items: center;
      }
    }

    .ajax-throbber {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -.5rem;
      transform: translate(-50%, -50%);
    }
  }

  img {
    border-radius: .5rem;
  }
}

.post-photo-delete-image-form {
  > .card {
    .form-actions {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}
