.introduction {
  padding: 10px 0;
  background-color: #fff;

  @media(min-width: 1200px) {
    .paragraph--section & {
      margin-left: calc(-100vw / 2 + #{1200px} / 2);
      margin-right: calc(-100vw / 2 + #{1200px} / 2);
    }
  }

  .card__body {
    max-width: 700px;
    margin: 0 auto;

    .card__title {
      font-size: 1.5rem;
      color: #4d4d4d;
      font-weight: bold;
      padding: 0 0 15px;
    }

    .field--name-field-introduction-text {
      > *:last-child {
        margin-bottom: 0;
      }
    }

    blockquote {
      padding: 0 24px;

      @media(min-width: 600px) {
        padding: 0 55px;
        border-left-width: 5px;
      }
    }
  }

  .card__actionbar {
    margin-top: 0;
    padding-bottom: 0;
  }
}