.block-activity-overview-block {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  @media (min-width: 900px) {
    margin-top: 78px;
  }
  .block-title {
    text-align: center;
    margin: 0;
    background-color: #F9F9F9;
    font-size: 20px;
    line-height: 24px;
    padding: 18px 10px;
    color: #000;
  }
  .activity-overview {
    padding: 30px;
    .teaser__content-type-icon {
      width: 30px;
      height: 30px;
      margin-right: 25px;
      margin-top: 4px;
      vertical-align: top;
      float: left;
    }
    .info-wrapper {
      overflow: hidden;
    }
    .name {
      font-size: 12px;
      line-height: 19px;
    }
    .value {
      font-size: 32px;
      line-height: 32px;
      display: block;
    }
  }
}

