.page-node-type-landing-page .region--content {
  margin-top: 0;
  width: 100%;
}

.field--widget-entity-reference-paragraphs {
  table.field-multiple-table {
    td {
      padding: 10px;
    }
  }
  .paragraph {
    .field--label-inline {
      > div {
        display: inline-block;
      }
    }
    .field--label {
      font-weight: 500;
      &:after {
        content: ':';
      }
    }
  }
  .dropbutton {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      &:not(:first-child) {
        padding-left: 5px;
      }
    }
  }
  th.tablesaw-cell-persist {
    border-right: none;
  }
  .delta-order {
    width: 70px;
  }
  .table-striped > tbody > tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    .field-multiple-drag {
      width: 35px;
      box-sizing: border-box;
      .tabledrag-handle {
        margin-left: -10px;
        padding-right: 10px;
      }
    }
    .tablesaw-cell-persist {
      padding: 10px;
      border-right: none;
      .field--label {
        font-weight: bold;
      }
      .field-multiple-drag {
        .tabledrag-handle {
          margin-top: -10px;
        }
      }
    }
  }
  .field--name-field-hero-buttons {
    .field--item {
      display: inline-block;
      .card__actionbar {
        padding: 1.23em 0;
        margin-top: 0;
      }
    }
  }
  .paragraph--view-mode--preview > .field {
    margin-bottom: 16px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    .tabledrag-toggle-weight {
      margin-bottom: 5px;
    }
  }
  .paragraph-type-info {
    margin-bottom: 0;
  }
  .paragraph-type-top {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    border-radius: 0;
    .paragraph-type-title {
      margin-bottom: 0;
      line-height: 35px;
    }
  }
}

.field--label + .field__items {
  width: 100%;
}

.field--name-field-featured-items > .form-item {
  width: 100%;
}
