.paragraph--block .title {
  flex: 0 0 100%;
  padding: 0 1rem;

  @media (min-width: 900px) {
    padding-left: 20px;
  }

}

.primary-col {
  padding-left: 1em;
  padding-right: 1em;
  flex-basis: 100%;
  max-width: 100%;

  @media (min-width: 900px) {
    flex: 0 0 (100%/1.5);
    max-width: (100%/1.5);
    order: 1;
  }

  @media (min-width: 1200px) {
    padding-left: 0;
  }
  .block-title {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 30px;
  }

  &.card__actionbar {
    margin: 0;
  }
}

.secondary-col {
  padding-left: 1em;
  padding-right: 1em;
  flex-basis: 100%;
  max-width: 100%;

  @media (min-width: 900px) {
    margin-top: 1rem;
    flex: 0 1 (100%/3);
    order: 2;
    max-width: (100%/3);
  }

  @media (min-width: 1200px) {
    padding-right: 0;
  }
}
