.page-node-type-landing-page .region--content {
  margin-top: 0;
  width: 100%;
}

.field--widget-entity-reference-paragraphs table.field-multiple-table td {
  padding: 10px; }
.field--widget-entity-reference-paragraphs .paragraph .field--label-inline > div {
  display: inline-block; }
.field--widget-entity-reference-paragraphs .paragraph .field--label {
  font-weight: 500; }
  .field--widget-entity-reference-paragraphs .paragraph .field--label:after {
    content: ':'; }
.field--widget-entity-reference-paragraphs .dropbutton {
  padding: 0;
  margin: 0;
  list-style: none; }
  .field--widget-entity-reference-paragraphs .dropbutton li {
    display: inline-block; }
    .field--widget-entity-reference-paragraphs .dropbutton li:not(:first-child) {
      padding-left: 5px; }
.field--widget-entity-reference-paragraphs th.tablesaw-cell-persist {
  border-right: none; }
.field--widget-entity-reference-paragraphs .delta-order {
  width: 70px; }
.field--widget-entity-reference-paragraphs .table-striped > tbody > tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .field--widget-entity-reference-paragraphs .table-striped > tbody > tr .field-multiple-drag {
    width: 35px;
    box-sizing: border-box; }
    .field--widget-entity-reference-paragraphs .table-striped > tbody > tr .field-multiple-drag .tabledrag-handle {
      margin-left: -10px;
      padding-right: 10px; }
  .field--widget-entity-reference-paragraphs .table-striped > tbody > tr .tablesaw-cell-persist {
    padding: 10px;
    border-right: none; }
    .field--widget-entity-reference-paragraphs .table-striped > tbody > tr .tablesaw-cell-persist .field--label {
      font-weight: bold; }
    .field--widget-entity-reference-paragraphs .table-striped > tbody > tr .tablesaw-cell-persist .field-multiple-drag .tabledrag-handle {
      margin-top: -10px; }
.field--widget-entity-reference-paragraphs .field--name-field-hero-buttons .field--item {
  display: inline-block; }
  .field--widget-entity-reference-paragraphs .field--name-field-hero-buttons .field--item .card__actionbar {
    padding: 1.23em 0;
    margin-top: 0; }
.field--widget-entity-reference-paragraphs .paragraph--view-mode--preview > .field {
  margin-bottom: 16px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
  .field--widget-entity-reference-paragraphs .paragraph--view-mode--preview > .field .tabledrag-toggle-weight {
    margin-bottom: 5px; }
.field--widget-entity-reference-paragraphs .paragraph-type-info {
  margin-bottom: 0; }
.field--widget-entity-reference-paragraphs .paragraph-type-top {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  border-radius: 0; }
  .field--widget-entity-reference-paragraphs .paragraph-type-top .paragraph-type-title {
    margin-bottom: 0;
    line-height: 35px; }

.field--label + .field__items {
  width: 100%; }

.field--name-field-featured-items > .form-item {
  width: 100%; }

/*# sourceMappingURL=social_landing_page.admin.css.map */
