.page-node-type-landing-page .region--content {
  margin-top: 0;
  width: 100%;
}

.field--widget-entity-reference-paragraphs table.field-multiple-table td {
  padding: 10px;
}
.field--widget-entity-reference-paragraphs .paragraph .field--label-inline > div {
  display: inline-block;
}
.field--widget-entity-reference-paragraphs .paragraph .field--label {
  font-weight: 500;
}
.field--widget-entity-reference-paragraphs .paragraph .field--label:after {
  content: ":";
}
.field--widget-entity-reference-paragraphs .dropbutton {
  padding: 0;
  margin: 0;
  list-style: none;
}
.field--widget-entity-reference-paragraphs .dropbutton li {
  display: inline-block;
}
.field--widget-entity-reference-paragraphs .dropbutton li:not(:first-child) {
  padding-left: 5px;
}
.field--widget-entity-reference-paragraphs th.tablesaw-cell-persist {
  border-right: none;
}
.field--widget-entity-reference-paragraphs .delta-order {
  width: 70px;
}
.field--widget-entity-reference-paragraphs .table-striped > tbody > tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.field--widget-entity-reference-paragraphs .table-striped > tbody > tr .field-multiple-drag {
  width: 35px;
  box-sizing: border-box;
}
.field--widget-entity-reference-paragraphs .table-striped > tbody > tr .field-multiple-drag .tabledrag-handle {
  margin-left: -10px;
  padding-right: 10px;
}
.field--widget-entity-reference-paragraphs .table-striped > tbody > tr .tablesaw-cell-persist {
  padding: 10px;
  border-right: none;
}
.field--widget-entity-reference-paragraphs .table-striped > tbody > tr .tablesaw-cell-persist .field--label {
  font-weight: bold;
}
.field--widget-entity-reference-paragraphs .table-striped > tbody > tr .tablesaw-cell-persist .field-multiple-drag .tabledrag-handle {
  margin-top: -10px;
}
.field--widget-entity-reference-paragraphs .field--name-field-hero-buttons .field--item {
  display: inline-block;
}
.field--widget-entity-reference-paragraphs .field--name-field-hero-buttons .field--item .card__actionbar {
  padding: 1.23em 0;
  margin-top: 0;
}
.field--widget-entity-reference-paragraphs .paragraph--view-mode--preview > .field {
  margin-bottom: 16px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
.field--widget-entity-reference-paragraphs .paragraph--view-mode--preview > .field .tabledrag-toggle-weight {
  margin-bottom: 5px;
}
.field--widget-entity-reference-paragraphs .paragraph-type-info {
  margin-bottom: 0;
}
.field--widget-entity-reference-paragraphs .paragraph-type-top {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  border-radius: 0;
}
.field--widget-entity-reference-paragraphs .paragraph-type-top .paragraph-type-title {
  margin-bottom: 0;
  line-height: 35px;
}

.field--label + .field__items {
  width: 100%;
}

.field--name-field-featured-items > .form-item {
  width: 100%;
}

.card__accordion--item .card__title-accord {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  line-height: 1.65;
  border-bottom: 1px solid transparent;
}
@media (min-width: 900px) {
  .card__accordion--item .card__title-accord {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.card__accordion--item .card__title-accord:hover {
  cursor: pointer;
}
.card__accordion--item .card__title-accord.is-active {
  border-bottom-color: #eae7e7;
}
.card__accordion--item .card__title-accord svg {
  width: 24px;
  height: 24px;
  fill: #000;
}
.card__accordion--item .card__text-accord {
  display: none;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .card__accordion--item .card__text-accord {
    max-width: calc(780px + 3rem);
  }
}
.card__accordion--item .card__text-accord--wrapper {
  padding: 1.5rem 1rem 2rem;
}
@media (min-width: 900px) {
  .card__accordion--item .card__text-accord--wrapper {
    padding: 2.5rem 1.5rem 3rem;
  }
}

/*# sourceMappingURL=social_landing_page.admin.css.map */
