.paragraph--featured {
  .paragraph--section & {
    background-color: #f3f3f3;
    padding: 30px 1em;
    @media(min-width: 900px) {
      padding: 50px 1em;
    }
    @media(min-width: 1200px) {
      padding: 50px 0;
      margin-left: calc(-100vw / 2 + #{1200px} / 2);
      margin-right: calc(-100vw / 2 + #{1200px} / 2);
    }
  }
  .title {
    margin-top: 25px;
    font-size: 24px;
    line-height: 2;
    color: #4A4A4A;
  }
  .field--name-field-featured-items {
    margin-top: 30px;
    margin-bottom: 0.75rem;
  }
}
