.paragraph--type--accordion {
  padding: 100px 1rem 150px;

  .card__title {
    padding: 0;
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 43.2px;
  }

  .card__text {
    margin-bottom: 1rem;
  }

  .field--name-field-accord-item {

    > .field--item {
      margin-bottom: 1.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

}

.card__accordion--item {

  .card__title-accord {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;
    line-height: 1.65;
    color: #9b9b9b;
    border-bottom: 1px solid transparent;

    @media(min-width: 900px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &.is-active {
      border-bottom-color: #eae7e7;
    }

    svg {
      width: 24px;
      height: 24px;
      fill: #000;
    }
  }

  .card__text-accord {
    display: none;
    max-width: 100%;
    margin: 0 auto;

    @media(min-width: 900px) {
      max-width: calc(780px + 3rem);
    }

    &--wrapper {
      padding: 1.5rem 1rem 2rem;

      @media(min-width: 900px) {
        padding: 2.5rem 1.5rem 3rem;
      }

    }

  }

}