.paragraph--hero {
  .hero__bgimage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(34, 34, 34, 0.7) 100%);
  }

  .cover-small {
    max-width: 620px;
    width: 100%;
    padding: 0 7px;
    margin: 0 auto;
    text-align: left;
    @media(min-width: 600px) {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
    .page-title {
      width: 100%;
      text-align: left;
      padding: 30px 0 10px;
    }
    .page-subtitle {
      margin: 0 0 5px;
      font-weight: normal;
      font-size: 20px;
    }
    .hero-footer {
      .field--name-field-hero-buttons {
        margin: 0 -10px;
      }
      .field--item {
        display: inline-block;
        .paragraph--button {
          padding: 0 10px;
        }
      }
      .card__actionbar {
        padding: 20px 0;
        .btn {
          min-width: 130px;
        }
      }
    }
  }
}
