social_event.settings:
  type: config_object
  label: 'Social Event Settings'
  mapping:
    enroll:
      type: sequence
      label: 'For which group type a user should be added to the group when enrolling for an event.'
      group_type:
        type: string
        label: 'Group Type'
    disable_event_enroll:
      type: boolean
      label: 'Disable all event enrollments on your community'
