{#
/**
 * @file
 * Default theme implementation for a BigPipe JS placeholder interface preview.
 *
 * @see \Drupal\big_pipe\Render\Placeholder\BigPipeStrategy::createBigPipeJsPlaceholder()
 */
#}
<div class="stream skeleton">
  <div class="stream-item">
    <div class="card card--stream no-overflow">
      <div class="post-block-skeleton"></div>
    </div>
  </div>
  <div class="stream-item">
    <div class="card card--stream no-overflow">
      <div class="media-skeleton"></div>
      <div class="post-skeleton"></div>
      <div class="comment-skeleton"></div>
    </div>
  </div>
  <div class="stream-item">
    <div class="card card--stream no-overflow">
      <div class="media-skeleton"></div>
      <div class="teaser-skeleton"></div>
    </div>
  </div>
  <div class="stream-item">
    <div class="card card--stream no-overflow">
      <div class="media-skeleton"></div>
      <div class="big-teaser-skeleton"></div>
      <div class="comment-2-skeleton"></div>
      <div class="comment-3-skeleton"></div>
      <div class="comment-more-skeleton"></div>
    </div>
  </div>
  <div class="stream-item">
    <div class="card card--stream no-overflow">
      <div class="media-skeleton"></div>
      <div class="teaser-skeleton"></div>
      <div class="comment-skeleton"></div>
      <div class="comment-3-skeleton"></div>
      <div class="comment-more-skeleton"></div>
    </div>
  </div>
</div>
