/**
 * @file
 * Administration styles for the Facets module.
 */

/*
 * Facets overview page
 */
.facets-groups-list {
  margin-bottom: 2em;
}
.facets-groups-list tr {
  border-bottom: none;
}

.facets-groups-list tr.facet-source {
  border-top: 1px solid #e6e4df;
}
.facets-groups-list tr.facet:last-of-type {
  border-bottom: 1px solid #e6e4df;
}

.facets-groups-list tr.facet-source .facets-type,
.facets-groups-list tr.facet-source .search-api-title {
  font-weight: bold;
}
.facets-groups-list tr.facet .facets-type {
  padding-left: 3em;
}


/*
 * Facets Display page
 */
.facets-processor-settings-sorting {
  margin-bottom: -7px;
  margin-left: 20px;
  margin-top: -16px;
}

.facets-processor-settings-facet {
  margin-left: 20px;
  margin-bottom: 20px;
}
