.emoji-trigger {
  display: block;
  width: 24px;
  height: 24px;

  position: absolute;
  right: .625rem;
  bottom: .625rem;
  z-index: 1;

  font-size: 0;

  cursor: pointer;

  background: transparent url('../icons/icon-emoji.svg') no-repeat center;
}

.emoji-picker.tooltip {
  right: 0;

  &.shown {
    opacity: 1;

    emoji-picker {
      display: block;
    }
  }

  emoji-picker {
    display: none;

    @media(max-width: 599px) {
      width: 300px;
    }
  }
}

.field--name-field-comment-body {
  .emoji-trigger {
    bottom: 1.625rem;
  }

  .emoji-picker {
      margin-top: -1rem;
  }
}

.field--widget-text-textarea-with-summary,
.field--name-field-group-description  {
  .emoji-trigger {
    bottom: 2.375rem;
  }

  .emoji-picker {
    margin-top: -3.25rem;
  }
}
