@import 'settings';

.brand-bg-primary {
  background-color: $brand-primary !important;
  border-color: $brand-primary !important;
}

.brand-bg-secondary {
  background-color: $brand-secondary !important;
  border-color: $brand-secondary !important;
}

.brand-bg-accent {
  background-color: $brand-accent !important;
  border-color: $brand-accent !important;
}

.brand-text-primary {
  color: $brand-primary !important;
  fill: $brand-primary !important;
}

.brand-text-secondary {
  color: $brand-secondary !important;
  fill: $brand-secondary !important;
}

.brand-text-accent {
  color: $brand-accent !important;
  fill: $brand-accent !important;
}
