@import 'settings';

.brand-bg-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.brand-bg-secondary {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
}

.brand-bg-accent {
  background-color: $brand-accent;
  border-color: $brand-accent;
}

.brand-text-primary {
  color: $brand-info;
  fill: $brand-info;
}
