{#
/**
 * @file
 * Default theme implementation for vertical tabs.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered tabs.
 * - children_raw: The raw tabs titles for in the tabs ul.
 * @see template_preprocess_vertical_tabs()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('socialbase/nav-tabs')}}
<div{{ attributes.setAttribute('data-vertical-tabs-panes', TRUE).addClass('card__block') }}>
  {{ children }}
</div>
