a#comment-1
.media-wrapper
  .media
    .media-left
      a(href="my-stream.html")
        img.media-object.img-circle.img-medium(src="content/images/member5.jpg")
    .media-body
      .media-heading.text-m
        p
          a(href="my-stream.html") John Johnson
        .text-gray-lighter
          a(href="comment.html") 6 hours ago

  .margin-top-s We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege.

  .btn-group.pull-right
    button.btn.btn-icon-toggle.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false", aria-haspopup="true")
      svg.icon-gray.icon-small
        use(xlink:href='#icon-expand_more')
    ul.dropdown-menu(role="menu")
      li
        a(href="comment-edit.html") Edit
      li
        a(href="comment-delete.html") Delete
  .clearfix
    a.btn.btn-link.btn-sm.pull-right(href="comment.html#insert-comment") Reply

.card-nested-section.indented
  include ./_reply1.pug
  include ./_reply2.pug
