.card.card--teaser.card-with-actionbar
  a.card-image(href="group-stream.html")
    img.img-responsive(src="content/images/people3-square.jpg")
  .card-body
    h2.h4.card-title
      a(href="group-stream.html") The Dallas Nerds
    .text-truncate
      svg.teaser-icon
        use(xlink:href='#icon-group')
      | &nbsp;
      span.inline-center 5 members
    .card-actionbar
      .actionbar
        span.label.label-default joined
      a.btn.btn-flat.pull-right(href="group-stream.html") Read more
