.card.card-with-actionbar.hidden-xs
  .card-head
    header.text-center My upcoming events
  .card-body
    .list-group.list-group-divider
      a.list-group-item(href="event.html")
        h6.list-group-item-heading Open social Amsterdam meetup
        small.text-gray-lighter.list-group-item-text 
          span.inline-center 3 aug - 18:00 &nbsp;
          span.label.label-primary enrolled
      a.list-group-item(href="event.html")
        h6.list-group-item-heading Open social Milano meetup
        small.text-gray-lighter.list-group-item-text
          span.inline-center 10 aug - 10:00 &nbsp;
          span.label.label-primary enrolled
    
    .card-actionbar.text-center
      a.btn.btn-flat(href="my-events.html") View all
