.cover.cover-img.cover-img-gradient(style="background-image: url('content/images/my-cover-big.jpg')")
  .hero-action-button
    a.waves-effect.waves-circle.btn.btn-default.btn-floating(href='profile-edit.html')
      svg.icon-gray.icon-medium
        use(xlink:href='#icon-edit')
  .cover-wrap
    h1.page-title John Johnson
    br
    img.hero-avatar(src='content/images/member5.jpg')
    .hero-footer
      .row.row-md-center
        .col-xs-12.col-md-6.col-md-offset-3 Receptionist - Bastion Hotels
