.card.card--teaser.card-with-actionbar.unpublished
  a.card-image(href="topic.html")
    .teaser-type
      svg.teaser-type-icon
        use(xlink:href='#icon-topic')
    img.img-responsive(src='content/images/other-cover-square.jpg', alt='')
    .status unpublished
  .card-body
    h4.card-title
      a(href="topic.html") 5 new cool features in Office 365
    .text-truncate
      svg.teaser-icon
        use(xlink:href='#icon-account_circle')
      | &nbsp;
      span.inline-center
        if user == "isAnonymous"
          | Dennis Rodman
        else
          a(href="other-stream.html") Dennis Rodman
          | &nbsp;&bullet; 28 mar 2016
    .text-truncate
      svg.teaser-icon
        use(xlink:href='#icon-label')
      | &nbsp;
      span.inline-center Blog

    .card-actionbar
      .badge.badge-gray-lighter.badge--toggle
        label
          input(type='checkbox')
          svg.icon-gray-light.icon-badge-toggle
            use(xlink:href='#icon-community')
          span.badge--toggle__label community
      a.btn.btn-flat.pull-right(href="topic.html") Read more
