@import 'init';

.card {
  @include clearfix;
  @include z-depth-1;
  position: relative;
  margin-bottom: $card-spacer-y;
  background-color: $card-bg;
  @include border-radius($card-border-radius);
  transition: box-shadow .25s;
  background-clip: padding-box;

  img {
    max-width: 100%;
  }
}

.card-head {
  position: relative;
  vertical-align: middle;
  border-radius: $card-border-radius $card-border-radius 0 0;
  padding: 15px $card-padding 0;
  color: $gray-light;
  line-height: 1;
}

// This style can be used to separate the card title from the card body.
.card-underline .card-head {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 15px;
}

.card-body {
  position: relative;
  padding: $card-padding;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &.extra-padding {

    @include MQ($small) {
      padding: $card-padding-large;
    }

  }

}

.card-with-actionbar .card-body {
  padding-bottom: 48px;
  overflow: hidden;
}

.card-head header {
  vertical-align: middle;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.teaser--small .card-head {
  text-align: center;
}

a.card:hover {
  @include z-depth-3;
}

.card__label {
  text-transform: uppercase;
  font-size: 14px;
  color: $default-color;
}

.card-nested-section {
  margin: 10px -20px -20px;
  padding: $card-padding;
  background: $gray-lighter-1;
  border-top: 1px solid $gray-lighter;

  .extra-padding & {
    @include MQ($small) {
      margin-left: -$card-padding-large;
      margin-right: -$card-padding-large;
      padding: $card-padding $card-padding-large;
    }
  }

  &.indented {
    margin: -20px;
    background: transparent;
    border-top: 0;

  }

  &:last-child {
    margin-bottom: -$card-padding;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
    border-bottom: 0;

    .extra-padding & {
      @include MQ($small) {
        margin-bottom: -$card-padding-large;
      }
    }

  }
}


.card {
  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

}

//
// Specific Drupal teaser cards

.card--teaser {
  display: flex;
  flex-wrap: wrap;
  @include MQ($small) {
    flex-wrap: nowrap;
    height: 220px; // matches width of image
  }

  .card-image {
    width: 100%;
    > img, > a, .status {
      display: none;
    }

    @include MQ($small) {
      display: block;
      height: 220px;
      flex: 0 0 220px;
      position: relative;
      border-radius: $card-border-radius 0 0 $card-border-radius;
      overflow: hidden;
      width: auto;
      padding-top: 0;
      background: $gray-lighter;

      img, .status {
        display: block;
      }

      &.blue-overlay:before {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: rgba($brand-primary, 0.8);
      }

      a {
        display: block;
      }

    }
  }

  .card-image-avatars {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    img {
      flex: 0 1 110px;
      width: 110px;
    }
  }

  .teaser-type {
    top: 0;
    height: auto;
    pointer-events: none;
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: $gray-light-1;
    border-radius: 0 0 ($card-border-radius - 2px) ($card-border-radius - 2px);
    left: 20px;
    position: relative;
    margin-bottom: -10px;

    .teaser-type-icon {
      width: 18px;
      height: 18px;
      display: table;
      fill: white;
    }

    @include MQ($small) {
      position: absolute;
      background-color: rgba(black, 0.5);
      margin-bottom: 0;
      left: 0;
      width: 44px;
      height: 44px;
      padding: 12px;
      border-radius: 0 0 $card-border-radius 0;
    }
  }


  .card-title {
    margin-top: 0;
    margin-bottom: 20px;
    max-height: 2.2em;
    overflow: hidden;
  }

  .card-body {
    flex: 1 1 auto;
  }

}

.teaser-icon {
  width: 14px;
  height: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: $gray;
  margin-right: 12px;
}

@include MQ($small) {

  .unpublished .card-image.blue-overlay {
    &:before {
      background: rgba($default-color, 0.8);
    }
    .status {
      background-color: transparent;
    }
  }

  .unpublished .status {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    top: 0;
    padding-top: 185px;
    left: 0;
    z-index: 2;
    font-weight: 300;

    &:before {
      display: block;
      position: absolute;
      content: '';
      background-image: linear-gradient(rgba(0,0,0,0.00) 40%, rgba(0,0,0,0.1) 70%, rgba(34,34,34,0.5) 100%);
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  }

}

.card-actionbar {
  @include clearfix; // buttons inside can float
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: inherit;
  padding: 6px $card-padding 6px ($card-padding - 4);

  .actionbar {
    position: absolute;
    z-index: 1;
  }

}

.card-actionbar--with-border {
  border-top: 1px solid $gray-lighter;
}

.card-buttonbar {
  padding: 6px 0;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $gray-lighter;

  @include MQ($small) {
    justify-content: flex-start;
  }

  .btn-link {
    padding: 6px;
  }

  .justify-end {
    margin-left: auto;
    text-align: right;
    flex: 1;
  }
}
