// Badge
$badge-font-size:             75%;
$badge-font-weight:           $font-weight-strong;
$badge-line-height:           1;
$badge-padding-x:             .4em;
$badge-padding-y:             4px;

// Badge Pill
$badge-pill-padding-x:        .6em;

// Badge Large
$badge-large-size:            0.875rem;
$badge-large-padding-x:       1em;
$badge-large-line-height:     2;

