// Button sizes
$button-font-size:           0.875rem;
$button-font-size-small:     0.75rem;
$button-font-size-extrasmall:0.75rem;
$button-font-size-large:     1rem;

$btn-font-weight:            normal;

// Floating buttons
$button-floating-size:       38px;
$button-floating-large-size: 52px;
$button-floating-radius:     50%;

$btn-link-disabled-color:    $gray-light;
