$default-color:          #4d4d4d;

$gray-base:              #000000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             #777777;
$gray-light-1:           #adadad;
$gray-lighter:           #e6e6e6;
$gray-lighter-1:         #f7f7f7;
$gray-lightest:          #f3f3f3;

//** Global text color on `<body>`.
$text-color:            $default-color;
