$padding-base-vertical:      6px !default;
$padding-base-horizontal:    12px !default;

$padding-large-vertical:     10px !default;
$padding-large-horizontal:   16px !default;

$padding-small-vertical:     5px !default;
$padding-small-horizontal:   10px !default;

$padding-xs-vertical:        1px !default;
$padding-xs-horizontal:      5px !default;


//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;
