//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);

// max width for form-controls, so we do not need columns everywhere
$form-control-max-width:         23rem;

// Color help texts that go with form-controls
$help-block:                     #464545;

//** `.form-group` margin
$form-group-margin-bottom:       1rem;

$legend-color:                   $gray-dark;
$legend-border-color:            #e5e5e5;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed;


// Text Inputs + Textarea
$input-border-color: #9e9e9e;
$input-bg-color: white;

$label-font-size: .8em;
$input-disabled-color: rgba(0,0,0, .26);
$input-disabled-solid-color: #BDBDBD;

// Radio buttons
$radio-empty-color: $gray;
$radio-width: 25px;

// Switches
$switch-unchecked-bg: $gray-lightest;
$switch-unchecked-lever-bg: $gray-light;