// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-font-size:                 0.875rem !default;
$navbar-margin-bottom:             0 !default;
$navbar-padding-horizontal:        1rem !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$nav-link-padding:                 0.5em 10px !default;
