//** Popover maximum width
$popover-max-width:                   276px !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
