//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            0.75rem;
//** Padding for cells in `.table-condensed`.
$table-cell-padding-sm:         0.3rem;

//** Default background color used for all tables.
$table-bg:                      transparent;
$table-accent-bg:               rgba(0,0,0,.05);
$table-hover-bg:                rgba(0,0,0,.075);
$table-active-bg:               $table-hover-bg;

$table-border-width:            $border-width;
$table-border-color:            $gray-lighter;

$table-head-bg:                 $gray-lighter;
$table-head-color:              $gray;