//** Disabled cursor for form controls and buttons.
$cursor-disabled:         not-allowed;


$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-family-base:        $font-family-sans-serif !default;

$font-weight-strong:      500;

$font-size-base:          16px;
$font-size-large:         floor(($font-size-base * 1.25));
$font-size-small:         ceil(($font-size-base * 0.875));
$font-size-xs:            ceil(($font-size-base * 0.75));


//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.5 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$line-height-large:          1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:          1.5 !default;

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;
//** Text muted color
$text-muted:                  $gray-light !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light !default;
//** Headings small color
$headings-small-color:        $gray-light !default;
//** Blockquote small color
$blockquote-small-color:      $gray-light !default;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.125) !default;
//** Blockquote border color
$blockquote-border-color:     $gray-lighter !default;
//** Page header border color
$page-header-border-color:    rgba($gray-light, 0.2) !default;

//** Horizontal line color.
$hr-border:                   $gray-lighter !default;

// CODE
$pre-scrollable-max-height:   340px !default;
