@import "settings";

// Used on a hero block that can hold a background image.
.cover {
  position: relative; // keep hero-footer contained
  text-align: center;
  padding: 0 1rem;
  z-index: 2; // needed for the secondary navbar shadow
}

.cover-img {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;

  .node-unpublished &:before {
    display: block;
    position: absolute;
    content: '';
    background-color: rgba($gray, 0.8);
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

}

.cover-with-canvas {
  padding: 40px;
}

.cover-img-gradient:before{
  display: block;
  position: absolute;
  content: '';
  background-image: linear-gradient(rgba(0,0,0,0.00) 40%, rgba(0,0,0,0.1) 70%, rgba(34,34,34,0.5) 100%);
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.cover-wrap {
  width: 100%;
  position: relative;
  z-index: 2;
  min-height: 300px;

  @include for-tablet-portrait-up {
    min-height: 410px;
  }

}

.node-unpublished .status:before {
  border-top: 1px solid white;
  margin: 5px auto;
  width: 40px;
  height: 0;
  content: '';
  display: block;
}

.page-title {
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1em;
  width: 80%;

  @include for-tablet-portrait-up {
    max-width: 900px;
  }

}

// Profile

.hero-avatar {
  @include z-depth-1;
  margin: auto;
  width: 60px;
  height: 60px;

  @include for-tablet-portrait-up {
    width: 128px;
    height: 128px;
    border-width: 3px;
  }
}

.hero-footer {
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;

  @include for-tablet-landscape-up {
    display: flex;
    align-items: center;
  }
}

.hero-footer__text {
  margin-top: 10px;

  @include for-tablet-landscape-up {
    padding-right: 1rem;
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 25%;
  }

}

.hero-footer__cta {
  @include for-tablet-landscape-up {
    padding-left: 1rem;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    justify-content: flex-end;
  }
}

.hero-footer-icon {
  fill: white;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px; // vertical alignment with text
}


.hero-canvas {
  text-align: left; //overwrite .cover setting
  padding: 2rem;

  @include for-tablet-landscape-up {
    max-width: (100%/1.5);
  }
}


.cover .btn-group {
  margin-top: 10px;
}

.hero-action-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
}



// Hero search

.hero-form[role='search'] {

  .form-group {
    position: relative;
    max-width: 400px;
    margin: auto;
  }

  .form-control {
    padding: $padding-base-vertical 38px $padding-base-vertical $padding-base-horizontal;
    max-width: none;
    border: 0;
  }

  .form-submit,
  .search-icon {
    width: 38px;
    height: 38px;
    display: block;
    position: absolute;
    overflow: hidden;
    color: white;
    right: 0;
    top: 0;
    line-height: 38px;
    cursor: pointer;
    text-align: center;
	}

  .search-icon {
    line-height: 38px;
    speak: none;
    pointer-events: none;
    transition: 0.3s;

    svg {
      width: 24px;
      height: 24px;
    }

  }

}
