.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #4d4d4d;
  text-decoration: none;
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled, .btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-default {
  color: #4d4d4d;
  background-color: white;
  border-color: #adadad;
}

.btn-default:focus, .btn-default.focus {
  color: #4d4d4d;
  background-color: #e6e6e6;
  border-color: #6d6d6d;
}

.btn-default:hover {
  color: #4d4d4d;
  background-color: #e6e6e6;
  border-color: #8e8e8e;
}

.btn-default:active, .btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #4d4d4d;
  background-color: #e6e6e6;
  border-color: #8e8e8e;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
  color: #4d4d4d;
  background-color: #d4d4d4;
  border-color: #6d6d6d;
}

.btn-default:active, .btn-default.active,
.open > .btn-default.dropdown-toggle {
  background-image: none;
}

.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
  background-color: white;
  border-color: #adadad;
}

.btn-default .badge {
  color: white;
  background-color: #4d4d4d;
}

.btn-primary {
  color: white;
  background-color: #29abe2;
  border-color: #29abe2;
}

.btn-primary:focus, .btn-primary.focus {
  color: white;
  background-color: #1a8dbe;
  border-color: #115b7b;
}

.btn-primary:hover {
  color: white;
  background-color: #1a8dbe;
  border-color: #1987b5;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #1a8dbe;
  border-color: #1987b5;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: white;
  background-color: #16769f;
  border-color: #115b7b;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #29abe2;
  border-color: #29abe2;
}

.btn-primary .badge {
  color: #29abe2;
  background-color: white;
}

.btn-success {
  color: white;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-success:focus, .btn-success.focus {
  color: white;
  background-color: #449d44;
  border-color: #2d672d;
}

.btn-success:hover {
  color: white;
  background-color: #449d44;
  border-color: #419641;
}

.btn-success:active, .btn-success.active,
.open > .btn-success.dropdown-toggle {
  color: white;
  background-color: #449d44;
  border-color: #419641;
}

.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
  color: white;
  background-color: #398439;
  border-color: #2d672d;
}

.btn-success:active, .btn-success.active,
.open > .btn-success.dropdown-toggle {
  background-image: none;
}

.btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-success .badge {
  color: #5cb85c;
  background-color: white;
}

.btn-info {
  color: white;
  background-color: #33b5e5;
  border-color: #33b5e5;
}

.btn-info:focus, .btn-info.focus {
  color: white;
  background-color: #1a9bcb;
  border-color: #116787;
}

.btn-info:hover {
  color: white;
  background-color: #1a9bcb;
  border-color: #1994c2;
}

.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
  color: white;
  background-color: #1a9bcb;
  border-color: #1994c2;
}

.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
  color: white;
  background-color: #1683ab;
  border-color: #116787;
}

.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
  background-image: none;
}

.btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus {
  background-color: #33b5e5;
  border-color: #33b5e5;
}

.btn-info .badge {
  color: #33b5e5;
  background-color: white;
}

.btn-warning {
  color: white;
  background-color: #ff8800;
  border-color: #ff8800;
}

.btn-warning:focus, .btn-warning.focus {
  color: white;
  background-color: #cc6d00;
  border-color: #804400;
}

.btn-warning:hover {
  color: white;
  background-color: #cc6d00;
  border-color: #c26700;
}

.btn-warning:active, .btn-warning.active,
.open > .btn-warning.dropdown-toggle {
  color: white;
  background-color: #cc6d00;
  border-color: #c26700;
}

.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus,
.open > .btn-warning.dropdown-toggle:hover,
.open > .btn-warning.dropdown-toggle:focus,
.open > .btn-warning.dropdown-toggle.focus {
  color: white;
  background-color: #a85a00;
  border-color: #804400;
}

.btn-warning:active, .btn-warning.active,
.open > .btn-warning.dropdown-toggle {
  background-image: none;
}

.btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #ff8800;
  border-color: #ff8800;
}

.btn-warning .badge {
  color: #ff8800;
  background-color: white;
}

.btn-danger {
  color: white;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:focus, .btn-danger.focus {
  color: white;
  background-color: #c9302c;
  border-color: #8b211e;
}

.btn-danger:hover {
  color: white;
  background-color: #c9302c;
  border-color: #c12e2a;
}

.btn-danger:active, .btn-danger.active,
.open > .btn-danger.dropdown-toggle {
  color: white;
  background-color: #c9302c;
  border-color: #c12e2a;
}

.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus,
.open > .btn-danger.dropdown-toggle:hover,
.open > .btn-danger.dropdown-toggle:focus,
.open > .btn-danger.dropdown-toggle.focus {
  color: white;
  background-color: #ac2925;
  border-color: #8b211e;
}

.btn-danger:active, .btn-danger.active,
.open > .btn-danger.dropdown-toggle {
  background-image: none;
}

.btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger .badge {
  color: #d9534f;
  background-color: white;
}

.btn-link {
  color: #29abe2;
  font-weight: normal;
  border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}

.btn-link:hover, .btn-link:focus {
  color: #177da8;
  text-decoration: none;
  background-color: transparent;
}

.btn-link[disabled]:hover, .btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33333;
  border-radius: 12px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 8px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 8px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn {
  font-size: 0.875rem;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  will-change: opacity, transform;
}

.btn + .btn {
  margin-left: 5px;
}

.btn + .btn-block {
  margin-left: 0;
}

.btn .caret {
  margin-left: 3px;
}

.btn:active, .btn.active {
  box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0;
}

.btn.pull-right + .btn {
  margin-left: 0;
}

.btn-xs {
  font-size: 0.75rem;
}

.btn-sm {
  font-size: 0.75rem;
}

.btn-lg {
  font-size: 1rem;
}

.btn-default {
  fill: #4d4d4d;
}

.btn-accent {
  color: #333333;
  background-color: #ffc142;
  border-color: #ffc142;
  fill: #333333;
}

.btn-accent:focus, .btn-accent.focus {
  color: #333333;
  background-color: #ffb00f;
  border-color: #c28200;
}

.btn-accent:hover {
  color: #333333;
  background-color: #ffb00f;
  border-color: #ffad05;
}

.btn-accent:active, .btn-accent.active,
.open > .btn-accent.dropdown-toggle {
  color: #333333;
  background-color: #ffb00f;
  border-color: #ffad05;
}

.btn-accent:active:hover, .btn-accent:active:focus, .btn-accent:active.focus, .btn-accent.active:hover, .btn-accent.active:focus, .btn-accent.active.focus,
.open > .btn-accent.dropdown-toggle:hover,
.open > .btn-accent.dropdown-toggle:focus,
.open > .btn-accent.dropdown-toggle.focus {
  color: #333333;
  background-color: #ea9d00;
  border-color: #c28200;
}

.btn-accent:active, .btn-accent.active,
.open > .btn-accent.dropdown-toggle {
  background-image: none;
}

.btn-accent.disabled:hover, .btn-accent.disabled:focus, .btn-accent.disabled.focus, .btn-accent[disabled]:hover, .btn-accent[disabled]:focus, .btn-accent[disabled].focus,
fieldset[disabled] .btn-accent:hover,
fieldset[disabled] .btn-accent:focus,
fieldset[disabled] .btn-accent.focus {
  background-color: #ffc142;
  border-color: #ffc142;
}

.btn-accent .badge {
  color: #ffc142;
  background-color: #333333;
}

.btn-link {
  fill: #29abe2;
}

.btn-link:hover {
  fill: #1a8dbe;
}

.btn-raised {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: box-shadow, .15s ease-out;
  transition: box-shadow, .15s ease-out;
}

.btn-raised:active, .btn-raised.active, .btn-raised:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn-raised.disabled, .btn-raised[disabled] {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-flat {
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  -webkit-tap-highlight-color: transparent;
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
  fill: #29abe2;
}

.btn-flat:focus, .btn-flat.focus {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-flat:hover {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-flat:active, .btn-flat.active,
.open > .btn-flat.dropdown-toggle {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-flat:active:hover, .btn-flat:active:focus, .btn-flat:active.focus, .btn-flat.active:hover, .btn-flat.active:focus, .btn-flat.active.focus,
.open > .btn-flat.dropdown-toggle:hover,
.open > .btn-flat.dropdown-toggle:focus,
.open > .btn-flat.dropdown-toggle.focus {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-flat:active, .btn-flat.active,
.open > .btn-flat.dropdown-toggle {
  background-image: none;
}

.btn-flat.disabled:hover, .btn-flat.disabled:focus, .btn-flat.disabled.focus, .btn-flat[disabled]:hover, .btn-flat[disabled]:focus, .btn-flat[disabled].focus,
fieldset[disabled] .btn-flat:hover,
fieldset[disabled] .btn-flat:focus,
fieldset[disabled] .btn-flat.focus {
  background-color: transparent;
  border-color: transparent;
}

.btn-flat .badge {
  color: transparent;
  background-color: #29abe2;
}

.btn-flat:hover, .btn-flat:focus,
.open .dropdown-toggle .btn-flat {
  background-color: rgba(0, 0, 0, 0.12);
  border-color: transparent;
  box-shadow: none;
  color: inherit;
}

.btn-flat:active, .btn-flat.active {
  background-color: rgba(12, 12, 12, 0.25);
  border-color: transparent;
  color: white;
}

.btn-icon-toggle {
  background-color: transparent;
  border-radius: 50% !important;
  padding: 4px;
}

.btn-icon-toggle:hover, .btn-icon-toggle:focus {
  background-color: rgba(0, 0, 0, 0.07);
  border-color: transparent;
}

.btn-icon-toggle:active, .btn-icon-toggle.active {
  background-color: rgba(12, 12, 12, 0.25);
  border-color: transparent;
}

.btn-floating {
  width: 38px;
  height: 38px;
  padding: 7px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-floating:active, .btn-floating.active, .btn-floating:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-floating.btn-lg {
  width: 52px;
  height: 52px;
}

.btn-floating.disabled, .btn-floating[disabled] {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-icon {
  font-size: 1.00012rem;
  line-height: 21px;
  height: 21px;
  width: 21px;
  vertical-align: bottom;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.btn-non-clickable {
  pointer-events: none;
}

/*# sourceMappingURL=buttons.css.map */
