table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}

th {
  text-align: left;
}

.table, .ui-datepicker-calendar {
  width: 100%;
  max-width: 100%;
  margin-bottom: 24px;
}

.table > thead > tr > th, .ui-datepicker-calendar > thead > tr > th,
.table > thead > tr > td, .ui-datepicker-calendar > thead > tr > td,
.table > tbody > tr > th, .ui-datepicker-calendar > tbody > tr > th,
.table > tbody > tr > td, .ui-datepicker-calendar > tbody > tr > td,
.table > tfoot > tr > th, .ui-datepicker-calendar > tfoot > tr > th,
.table > tfoot > tr > td, .ui-datepicker-calendar > tfoot > tr > td {
  padding: 8px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th, .ui-datepicker-calendar > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th, .ui-datepicker-calendar > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td, .ui-datepicker-calendar > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th, .ui-datepicker-calendar > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td, .ui-datepicker-calendar > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th, .ui-datepicker-calendar > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td, .ui-datepicker-calendar > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody, .ui-datepicker-calendar > tbody + tbody {
  border-top: 2px solid #ddd;
}

.table .table, .ui-datepicker-calendar .table, .table .ui-datepicker-calendar, .ui-datepicker-calendar .ui-datepicker-calendar {
  background-color: #f3f3f3;
}

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

.table > thead > tr > td.active, .ui-datepicker-calendar > thead > tr > td.active,
.table > thead > tr > th.active, .ui-datepicker-calendar > thead > tr > th.active,
.table > thead > tr.active > td, .ui-datepicker-calendar > thead > tr.active > td,
.table > thead > tr.active > th, .ui-datepicker-calendar > thead > tr.active > th,
.table > tbody > tr > td.active, .ui-datepicker-calendar > tbody > tr > td.active,
.table > tbody > tr > th.active, .ui-datepicker-calendar > tbody > tr > th.active,
.table > tbody > tr.active > td, .ui-datepicker-calendar > tbody > tr.active > td,
.table > tbody > tr.active > th, .ui-datepicker-calendar > tbody > tr.active > th,
.table > tfoot > tr > td.active, .ui-datepicker-calendar > tfoot > tr > td.active,
.table > tfoot > tr > th.active, .ui-datepicker-calendar > tfoot > tr > th.active,
.table > tfoot > tr.active > td, .ui-datepicker-calendar > tfoot > tr.active > td,
.table > tfoot > tr.active > th, .ui-datepicker-calendar > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}

.table > thead > tr > td.success, .ui-datepicker-calendar > thead > tr > td.success,
.table > thead > tr > th.success, .ui-datepicker-calendar > thead > tr > th.success,
.table > thead > tr.success > td, .ui-datepicker-calendar > thead > tr.success > td,
.table > thead > tr.success > th, .ui-datepicker-calendar > thead > tr.success > th,
.table > tbody > tr > td.success, .ui-datepicker-calendar > tbody > tr > td.success,
.table > tbody > tr > th.success, .ui-datepicker-calendar > tbody > tr > th.success,
.table > tbody > tr.success > td, .ui-datepicker-calendar > tbody > tr.success > td,
.table > tbody > tr.success > th, .ui-datepicker-calendar > tbody > tr.success > th,
.table > tfoot > tr > td.success, .ui-datepicker-calendar > tfoot > tr > td.success,
.table > tfoot > tr > th.success, .ui-datepicker-calendar > tfoot > tr > th.success,
.table > tfoot > tr.success > td, .ui-datepicker-calendar > tfoot > tr.success > td,
.table > tfoot > tr.success > th, .ui-datepicker-calendar > tfoot > tr.success > th {
  background-color: #dff0d8;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}

.table > thead > tr > td.info, .ui-datepicker-calendar > thead > tr > td.info,
.table > thead > tr > th.info, .ui-datepicker-calendar > thead > tr > th.info,
.table > thead > tr.info > td, .ui-datepicker-calendar > thead > tr.info > td,
.table > thead > tr.info > th, .ui-datepicker-calendar > thead > tr.info > th,
.table > tbody > tr > td.info, .ui-datepicker-calendar > tbody > tr > td.info,
.table > tbody > tr > th.info, .ui-datepicker-calendar > tbody > tr > th.info,
.table > tbody > tr.info > td, .ui-datepicker-calendar > tbody > tr.info > td,
.table > tbody > tr.info > th, .ui-datepicker-calendar > tbody > tr.info > th,
.table > tfoot > tr > td.info, .ui-datepicker-calendar > tfoot > tr > td.info,
.table > tfoot > tr > th.info, .ui-datepicker-calendar > tfoot > tr > th.info,
.table > tfoot > tr.info > td, .ui-datepicker-calendar > tfoot > tr.info > td,
.table > tfoot > tr.info > th, .ui-datepicker-calendar > tfoot > tr.info > th {
  background-color: #d9edf7;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}

.table > thead > tr > td.warning, .ui-datepicker-calendar > thead > tr > td.warning,
.table > thead > tr > th.warning, .ui-datepicker-calendar > thead > tr > th.warning,
.table > thead > tr.warning > td, .ui-datepicker-calendar > thead > tr.warning > td,
.table > thead > tr.warning > th, .ui-datepicker-calendar > thead > tr.warning > th,
.table > tbody > tr > td.warning, .ui-datepicker-calendar > tbody > tr > td.warning,
.table > tbody > tr > th.warning, .ui-datepicker-calendar > tbody > tr > th.warning,
.table > tbody > tr.warning > td, .ui-datepicker-calendar > tbody > tr.warning > td,
.table > tbody > tr.warning > th, .ui-datepicker-calendar > tbody > tr.warning > th,
.table > tfoot > tr > td.warning, .ui-datepicker-calendar > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning, .ui-datepicker-calendar > tfoot > tr > th.warning,
.table > tfoot > tr.warning > td, .ui-datepicker-calendar > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th, .ui-datepicker-calendar > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}

.table > thead > tr > td.danger, .ui-datepicker-calendar > thead > tr > td.danger,
.table > thead > tr > th.danger, .ui-datepicker-calendar > thead > tr > th.danger,
.table > thead > tr.danger > td, .ui-datepicker-calendar > thead > tr.danger > td,
.table > thead > tr.danger > th, .ui-datepicker-calendar > thead > tr.danger > th,
.table > tbody > tr > td.danger, .ui-datepicker-calendar > tbody > tr > td.danger,
.table > tbody > tr > th.danger, .ui-datepicker-calendar > tbody > tr > th.danger,
.table > tbody > tr.danger > td, .ui-datepicker-calendar > tbody > tr.danger > td,
.table > tbody > tr.danger > th, .ui-datepicker-calendar > tbody > tr.danger > th,
.table > tfoot > tr > td.danger, .ui-datepicker-calendar > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger, .ui-datepicker-calendar > tfoot > tr > th.danger,
.table > tfoot > tr.danger > td, .ui-datepicker-calendar > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th, .ui-datepicker-calendar > tfoot > tr.danger > th {
  background-color: #f2dede;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

input[type='text'].form-date {
  min-width: 240px;
  background-repeat: no-repeat;
  background-size: auto 18px;
  background-position: 96% 50%;
  background-image: url(../../../images/icons/icon-today.svg);
  fill: #29abe2;
}

input[type='text'].form-time {
  min-width: 160px;
  background-repeat: no-repeat;
  background-size: auto 18px;
  background-position: 96% 50%;
  background-image: url(../../../images/icons/icon-schedule.svg);
}

.ui-datepicker {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  float: left;
  min-width: 160px;
  margin: 4px 0;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  font-size: 0.875rem;
  padding: 4px;
  z-index: 1000 !important;
}

.ui-datepicker-header:before, .ui-datepicker-header:after {
  content: " ";
  display: table;
}

.ui-datepicker-header:after {
  clear: both;
}

.ui-datepicker-title {
  text-align: center;
  width: 145px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 5px;
  margin: 0 auto;
  font-weight: 500;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  background: #e6e6e6;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:before {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  fill: #4d4d4d;
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-prev:before {
  background-image: url(../../../images/icons/icon-navigate_before.svg);
}

.ui-datepicker-next:before {
  background-image: url(../../../images/icons/icon-navigate_next.svg);
}

.ui-icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ui-datepicker-calendar > thead > tr > th {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
}

.ui-datepicker-calendar > tbody > tr > td {
  border: 0;
  padding: 0;
}

.ui-datepicker-calendar > tbody > tr > td .ui-state-default {
  display: block;
  border-radius: 4px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: 300;
}

.ui-datepicker-calendar > tbody > tr > td .ui-state-default:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.ui-datepicker-calendar > tbody > tr > td .ui-state-active {
  color: white;
  background-color: #1f80aa;
  border-color: #1f80aa;
}

.ui-datepicker-calendar > tbody > tr > td .ui-state-active:hover {
  color: white;
  background-color: #134f69;
  border-color: #134f69;
}

@media screen and (max-width: 767px) {

  .table-responsive {
    width: 100%;
    margin-bottom: 18px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

  .table-responsive > .table, .table-responsive > .ui-datepicker-calendar {
    margin-bottom: 0;
  }

  .table-responsive > .table > thead > tr > th, .table-responsive > .ui-datepicker-calendar > thead > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .ui-datepicker-calendar > thead > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .ui-datepicker-calendar > tbody > tr > th,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .ui-datepicker-calendar > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .ui-datepicker-calendar > tfoot > tr > th,
  .table-responsive > .table > tfoot > tr > td,
  .table-responsive > .ui-datepicker-calendar > tfoot > tr > td {
    white-space: nowrap;
  }

  .table-responsive > .table-bordered {
    border: 0;
  }

  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/*# sourceMappingURL=datepicker.css.map */
