.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 11px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #4d4d4d;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #404040;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #1f80aa;
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #777777;
}

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #555555;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.dropdown-menu {
  font-size: 0.875rem;
  border-radius: 0;
  max-width: 500px;
  border: 0;
}

.dropdown-menu li > a {
  padding: 8px 10px;
  font-weight: 300;
  display: block;
  clear: both;
  line-height: 1.5;
  color: #4d4d4d;
}

.dropdown-menu .divider {
  margin: 6px 0;
}

.dropdown-menu .media {
  min-width: 250px;
}

.dropdown-menu .media-left img {
  vertical-align: top;
}

.dropdown-menu .media-body a {
  white-space: nowrap;
}

.dropdown-menu.dropdown-md {
  min-width: 240px;
  right: -70px;
}

.dropdown.profile .header-nav-current-user {
  padding: 4px 15px 0;
}

.dropdown .list-group-item:last-child {
  border-bottom: 0;
  border-radius: 0;
}

.dropdown .list-group-item:hover {
  background-color: #777777;
  border-color: #777777;
  cursor: pointer;
  color: white;
}

.dropdown .list-group-item:hover .help-block {
  color: white;
}

.dropdown .list-group-item label {
  cursor: pointer;
  font-weight: 500;
}

.dropdown .list-group-item label .help-block {
  font-weight: 300;
}

.dropdown .list-group-item .help-block {
  margin: 0;
}

.dropdown .list-group-item.active {
  pointer-events: none;
}

.dropdown .list-group-item.active .help-block {
  color: white;
}

.dropdown .form-group {
  margin: 0;
}

.dropdown-header {
  padding: 7px 20px;
  background: white;
}

.dropdown-toggle + ul > li > svg {
  margin-right: 10px;
}

.scrollable-menu {
  height: calc(100vh - 114px);
  overflow-x: hidden;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.scrollable-menu li {
  margin: 2px 0;
}

.scrollable-menu p {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {

  .dropdown-menu li > a {
    padding: 4px 10px 4px 15px;
  }

  .dropdown-menu .media-left {
    padding-right: 8px;
  }

  .dropdown-menu.dropdown-md {
    right: 0;
  }
}

@media screen and (min-width: 768px), screen and (min-height: 768px) {

  .scrollable-menu {
    height: auto;
    max-height: 450px;
  }
}

@media (min-width: 992px) {

  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }

  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

/*# sourceMappingURL=dropdowns.css.map */
