.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:before, .nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 0.625em 10px;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #e6e6e6;
}

.nav > li.disabled > a {
  color: #777777;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #e6e6e6;
  border-color: #29abe2;
}

.nav .nav-divider {
  height: 1px;
  margin: 11px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid transparent;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: transparent transparent transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #29abe2;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 10px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #1f80aa;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified, .nav-tabs.nav-justified {
  width: 100%;
}

.nav-justified > li, .nav-tabs.nav-justified > li {
  float: none;
}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

.nav-tabs-justified, .nav-tabs.nav-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 10px;
}

.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
.nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid transparent;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
}

.navbar:before, .navbar:after {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

.navbar-header:before, .navbar-header:after {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before, .navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse.in {
  overflow-y: auto;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.navbar-brand {
  float: left;
  padding: 13px 0.9375rem;
  font-size: 20px;
  line-height: 24px;
  height: 50px;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand > img {
  display: block;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 0.9375rem;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 10px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-nav {
  margin: 6.5px -0.9375rem;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
}

.navbar-form {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  padding: 10px 0.9375rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-btn {
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar-btn.btn-sm {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}

.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar-text {
  margin-top: 13px;
  margin-bottom: 13px;
}

.navbar-default {
  background-color: #333333;
  border-color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e6e6e6;
  background-color: #1d789e;
}

.navbar-default .navbar-text {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e6e6e6;
  background-color: #1a8dbe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #0d0d0d;
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #333333;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #0d0d0d;
  color: white;
}

.navbar-default .navbar-link {
  color: white;
}

.navbar-default .navbar-link:hover {
  color: #e6e6e6;
}

.navbar-default .btn-link {
  color: white;
}

.navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
  color: #e6e6e6;
}

.navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:hover,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

.navbar-inverse {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}

.navbar-inverse .navbar-brand {
  color: #29abe2;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #29abe2;
}

.navbar-inverse .navbar-nav > li > a {
  color: #29abe2;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #29abe2;
  background-color: #dadada;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #29abe2;
  background-color: #dadada;
}

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #1a8dbe;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #333;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #e1e1e1;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #dadada;
  color: #29abe2;
}

.navbar-inverse .navbar-link {
  color: #29abe2;
}

.navbar-inverse .navbar-link:hover {
  color: #29abe2;
}

.navbar-inverse .btn-link {
  color: #29abe2;
}

.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
  color: #29abe2;
}

.navbar-inverse .btn-link[disabled]:hover, .navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:hover,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #1a8dbe;
}

.navbar-fixed-top .navbar-right .dropdown-menu {
  right: 0;
  left: auto;
}

.profile .dropdown-toggle img {
  border: 1px solid white;
}

.navbar-footer .navbar-brand {
  color: white;
  width: 100%;
  text-align: center;
  float: none;
}

.navbar-footer .navbar-right {
  text-align: center;
}

.navbar-footer .navbar-right a {
  color: white;
}

.navbar-footer .navbar-right a:active, .navbar-footer .navbar-right a:focus, .navbar-footer .navbar-right a:hover {
  color: white;
  background: transparent;
}

.navbar {
  border: 0;
  font-size: 0.875rem;
}

.navbar .navbar-toggle {
  border: 0;
  border-radius: 0;
  color: white;
  font-weight: 500;
  padding: 8px 10px;
  height: 50px;
  min-width: 50px;
  margin: 0;
  float: none;
}

.navbar .navbar-form {
  box-shadow: none;
  border: 0;
  margin: 6px 0;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-brand {
  background: #2189b5;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  width: auto;
  padding: 0;
  max-width: 200px;
  height: 50px;
  overflow: hidden;
}

.navbar-default .navbar-brand img,
.navbar-default .navbar-brand:focus img,
.navbar-default .navbar-brand:hover img {
  pointer-events: none;
  width: auto;
  height: 50px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  -webkit-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
}

.navbar-inverse {
  font-size: 1rem;
  color: #29abe2;
}

.navbar-inverse .navbar-toggle {
  color: #29abe2;
  border: 1px solid;
}

.navbar-fixed-top .navbar-right {
  margin-top: 0;
  margin-bottom: 0;
  float: right;
}

.navbar-fixed-top .navbar-right > li {
  float: left;
}

.navbar-fixed-top .navbar-right > li > a {
  padding: 13px 10px 8px;
  height: 50px;
}

.navbar .dropdown .badge {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.625em;
  top: 8px;
  left: 25px;
  background-color: #ffc142;
  color: #4d4d4d;
  border-radius: 50%;
}

.navbar-form[role='search'] .form-group {
  position: relative;
}

.navbar-form[role='search'] .form-control {
  padding: 6px 38px 6px 12px;
  border-radius: 5px;
  max-width: none;
  border: 0;
}

.navbar-form[role='search'] .form-submit,
.navbar-form[role='search'] .search-icon {
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  line-height: 38px;
  cursor: pointer;
  text-align: center;
  border-radius: 0 5px 5px 0;
}

.navbar-form[role='search'] .search-icon {
  line-height: 38px;
  fill: #29abe2;
  background: white;
  speak: none;
  pointer-events: none;
}

.navbar-form[role='search'] .search-icon svg {
  width: 24px;
  height: 24px;
}

#navbar-search.is-open,
.no-js #navbar-search {
  width: 180px;
}

#navbar-search.is-open .form-control,
.no-js #navbar-search .form-control {
  padding-left: 12px;
}

#navbar-search.is-open .search-icon,
.no-js #navbar-search .search-icon {
  background: white;
  fill: #29abe2;
  z-index: 11;
  border-radius: 0 5px 5px 0;
}

#navbar-search.is-open .form-submit,
.no-js #navbar-search .form-submit {
  z-index: 90;
}

@media (min-width: 768px) {

  .nav-justified > li, .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }

  .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid transparent;
    border-radius: 10px 10px 0 0;
  }

  .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
  .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #29abe2;
  }
}

@media screen and (min-width: 768px) {

  .navbar-footer .navbar-brand {
    width: auto;
    float: left;
  }

  .navbar-footer .navbar-right li {
    float: left;
  }
}

@media (min-width: 992px) {

  .navbar {
    border-radius: 10px;
  }

  .navbar-header {
    float: left;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }

  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .container > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }

  .navbar-static-top {
    border-radius: 0;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }

  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -0.9375rem;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .navbar-form .form-group {
    margin-bottom: 0;
  }

  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }

  .navbar-text {
    float: left;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
  }

  .navbar-left {
    float: left !important;
  }

  .navbar-right {
    float: right !important;
    margin-right: -0.9375rem;
  }

  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {

  .navbar-fixed-top .navbar-nav {
    margin-left: 10px;
  }

  .navbar .navbar-form {
    position: absolute;
  }

  .navbar-search {
    float: right;
  }

  .navbar-collapse {
    float: left;
  }

  .navbar-form[role='search'] .form-group {
    border-radius: 5px;
    width: 0%;
    min-width: 38px;
    height: 38px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
  }

  .navbar-form[role='search'] .form-control {
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    background: white;
    width: 100%;
    height: 38px;
    margin: 0;
    z-index: 10;
    padding-left: 0;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  .navbar-form[role='search'] .form-submit {
    background: white;
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
  }

  .navbar-form[role='search'] .search-icon {
    z-index: 90;
    border-radius: 0;
    background: #333333;
    fill: white;
    pointer-events: initial;
    -webkit-transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
  }
}

@media screen and (min-width: 1200px) {

  .navbar > .container .navbar-brand {
    margin-left: 0;
  }

  .navbar-footer .navbar-right {
    margin-right: 0;
  }

  .navbar-fixed-top .navbar-right {
    margin-right: 0;
  }
}

@media (max-device-width: 480px) and (orientation: landscape) {

  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}

@media (max-width: 991px) {

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 24px;
  }

  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }

  .navbar-form .form-group {
    margin-bottom: 5px;
  }

  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e6e6e6;
    background-color: #1a8dbe;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #0d0d0d;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #f3f3f3;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #f3f3f3;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #29abe2;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #29abe2;
    background-color: #dadada;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #29abe2;
    background-color: #dadada;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #1a8dbe;
    background-color: transparent;
  }

  .navbar-fixed-top .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    border: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    position: fixed;
    top: auto;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: none;
    max-height: 100%;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .navbar-collapse .navbar-nav {
    margin: 6.5px -0.9375rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .navbar-collapse .navbar-collapse-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .navbar-collapse .navbar-nav > li > a {
    padding: 5px 15px 5px 25px;
  }

  .navbar-collapse .navbar-nav > li > a.dropdown-toggle {
    pointer-events: none;
  }

  .navbar-collapse .dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
    background-color: transparent;
    float: none;
    max-width: none;
    padding-top: 0;
    box-shadow: none;
  }

  .navbar-collapse .dropdown-menu li a {
    color: white;
    padding: 5px 15px 5px 37px;
  }

  .navbar-collapse .dropdown-menu li a:hover, .navbar-collapse .dropdown-menu li a:focus {
    background: #1f80aa;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #4d4d4d;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #404040;
    background-color: #f5f5f5;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #1f80aa;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #4d4d4d;
    background-color: #777777;
  }
}

/*# sourceMappingURL=navbar.css.map */
