@font-face {
  font-family: 'Material-Design-Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../../../font/material-icons/MaterialIcons-Regular.eot");
  src: url("../../../font/material-icons/MaterialIcons-Regular.eot?#iefix") format('embedded-opentype'),
       url("../../../font/material-icons/MaterialIcons-Regular.woff") format('woff'),
       url("../../../font/material-icons/MaterialIcons-Regular.ttf") format('truetype'),
       url("../../../font/material-icons/MaterialIcons-Regular.svg") format('svg');
}

@font-face {
  font-family: 'custom-icons';
  font-weight: normal;
  font-style: normal;
  src: url("../../../font/custom-icons/custom-icons.eot");
  src: url("../../../font/custom-icons/custom-icons.eot?#iefix") format('embedded-opentype'),
       url("../../../font/custom-icons/custom-icons.woff") format('woff'),
       url("../../../font/custom-icons/custom-icons.ttf") format('truetype'),
       url("../../../font/custom-icons/custom-icons.svg") format('svg');
}

.material-icons, .icon-before:before {
  font-family: 'Material-Design-Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.icon-before:before {
  content: attr(data-icon-type);
  font-size: 1rem;
}

.custom-icons {
  font-family: 'custom-icons' !important;
  display: inline-block;
  vertical-align: middle;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  height: 1em;
  line-height: 1;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
  content: "\e900";
}

.title {
  font-weight: 300;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.styleguide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.styleguide .container {
  width: 90%;
}

.styleguide-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.styleguide .navbar .container {
  width: 100%;
}

.styleguide-footer {
  margin-top: 20px;
}

.footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.15);
}

#index-banner .container {
  position: relative;
}

#index-banner .title {
  color: white;
}

#index-banner h4 {
  margin-bottom: 0;
}

#index-banner h1 {
  margin-top: 60px;
}

.repo-link {
  padding: 14px 0;
  height: 64px;
  line-height: 36px;
  background-color: #5c5757;
  color: #e6e6e6;
  font-size: .9em;
  margin-bottom: 20px;
}

.repo-link .sha {
  color: #f0f0f0;
  margin: 0 6px 0 6px;
}

#github-button {
  background-color: #6f6d6d;
  -webkit-transition: .25s ease;
  transition: .25s ease;
  color: #fafafa;
}

#github-button:hover {
  background-color: #797777;
}

/*****************
  Chrome Browser
*****************/
.browser-window {
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 5px 5px 2px 2px;
  margin: 20px 0px;
  overflow: hidden;
}

.browser-window .top-bar {
  height: 30px;
  border-radius: 5px 5px 0 0;
  border-top: thin solid #f5f5f5;
  border-bottom: thin solid #e6e6e6;
  background: -webkit-linear-gradient(#f5f5f5, #e6e6e6);
  background: linear-gradient(#f5f5f5, #e6e6e6);
}

.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  margin-right: 1px;
}

#close-circle {
  background-color: #FF5C5A;
}

#minimize-circle {
  background-color: #FFBB50;
}

#maximize-circle {
  background-color: #1BC656;
}

.browser-window .circles {
  margin: 5px 12px;
}

.browser-window .content {
  margin: 0;
  width: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #f5f5f5;
}

.browser-window .content p {
  text-align: center;
}

.browser-window .row {
  margin: 0;
  text-align: center;
}

.flat-text-header {
  height: 35px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  margin: 27px auto;
}

.flat-text {
  height: 25px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  margin: 27px auto;
}

.flat-text.small {
  width: 25%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}

.flat-text.inline25 {
  width: 22.5%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}

.flat-text.full-width {
  width: 100%;
}

.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  font-size: 28px;
  background-color: #29abe2;
  color: white;
  padding: 0;
  opacity: 0.5;
}

.bs-example > .btn,
.bs-example > .btn-group {
  margin: 5px 0;
}

.header__wrapper {
  height: 128px;
  padding: 60px 0 0 17px;
  background-color: #29abe2;
}

.header__wrapper.moved-up {
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  right: 0;
  left: 0;
  top: -72px;
  z-index: 20;
}

.header__wrapper--placeholder {
  display: none;
  visibility: hidden;
}

.header__innerwrapper {
  -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__innerwrapper.is-fixed {
  height: 56px;
  z-index: 2;
  top: 0;
  left: 56px;
}

.header__title {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  font-size: 22px;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__title.is-fixed {
  height: 56px;
  margin-top: 12px;
  z-index: 2;
  line-height: 56px;
}

.hamburger-button {
  position: fixed;
  left: 4px;
  top: 4px;
  z-index: 21;
  display: block;
  width: 48px;
  height: 48px;
  padding: 0px;
  font-size: 1em;
  line-height: 1em;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.hamburger-button i {
  color: white;
  width: 24px;
  vertical-align: middle;
}

.mask-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.49);
  opacity: 0;
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}

.primary-nav .mask-modal {
  display: block;
  opacity: 1;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0px;
  z-index: 4;
  overflow: hidden;
  width: 240px;
  margin: 0;
  padding-left: 0;
  background-color: white;
  -webkit-transform: translate3d(-241px, 0, 0);
          transform: translate3d(-241px, 0, 0);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  will-change: left;
}

.side-nav:hover {
  overflow-y: auto;
}

.primary-nav .side-nav {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.side-nav li {
  line-height: 44px;
  list-style: none;
  padding: 0 15px;
}

.side-nav li:hover, .side-nav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.side-nav a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 44px;
  padding: 0 15px;
  color: #4d4d4d;
}

.side-nav .collapsible {
  border: none;
  box-shadow: none;
  margin: 0;
}

.side-nav .collapsible li {
  padding: 0;
}

.side-nav .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  margin: 0 15px;
}

.side-nav .collapsible-accordion {
  background-color: white;
}

.side-nav .collapsible-body {
  border: 0;
  background-color: #fff;
}

.side-nav .collapsible-body li a {
  margin: 0 1em 0 2em;
  font-weight: 300;
}

.side-nav .collapsible-body li.active {
  background-color: #29abe2;
}

.side-nav .collapsible-body li.active a {
  color: white;
}

.side-nav .logo {
  text-align: center;
  margin-top: 32px;
}

#logo-container {
  height: 57px;
  margin-bottom: 32px;
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.625rem 0 1.25rem 0;
  padding-left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.collapsible-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

.collapsible-body {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.collapsible-body p {
  margin: 0;
  padding: 2rem;
}

.collapsible-body ul {
  padding-left: 0;
  margin: 0;
}

.collapsible.popout {
  border: none;
  box-shadow: none;
}

.collapsible.popout > li {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 24px;
  -webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsible.popout > li.active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 16px 0;
}

@media screen and (min-width: 768px) {

  #index-banner h4 {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 960px) {

  .styleguide-header,
  .styleguide-container,
  .styleguide-footer {
    padding-left: 240px;
  }

  #index-banner h4 {
    margin-bottom: 40px;
  }

  #index-banner h1 {
    margin-top: 16px;
  }

  .header__wrapper {
    padding-left: 0;
    padding-top: 40px;
  }

  .header__wrapper.moved-up {
    left: 240px;
  }

  .header__innerwrapper.is-fixed {
    left: auto;
  }

  .header__title {
    font-size: 46px;
    margin: 0 auto;
  }

  .header__title.is-fixed {
    font-size: 24px;
    margin-top: 32px;
  }

  .hamburger-button {
    display: none;
  }

  .side-nav {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

/*# sourceMappingURL=styleguide.css.map */
