.tablesaw {
  empty-cells: show;
  border: 0;
  padding: 0;
}

.tablesaw-bar {
  width: 100%;
  clear: both;
  text-align: right;
}

.tablesaw-bar.tablesaw-all-cols-visible {
  display: none;
}

.tablesaw-bar .btn.tablesaw-nav-btn {
  display: inline-block;
  overflow: hidden;
  width: 1.8em;
  height: 1.8em;
  background-position: 50% 50%;
  margin-left: .5em;
  position: relative;
}

.tablesaw-bar .btn.tablesaw-nav-btn:before {
  border-color: white;
  content: "\0020";
  overflow: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.tablesaw-bar .btn.tablesaw-nav-btn.up:before, .tablesaw-bar .btn.tablesaw-nav-btn.down:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  left: .5em;
  top: .65em;
}

.tablesaw-bar .btn.tablesaw-nav-btn.down:before {
  border-top: 5px solid #808080;
}

.tablesaw-bar .btn.tablesaw-nav-btn.up:before {
  border-bottom: 5px solid;
}

.tablesaw-bar .btn.tablesaw-nav-btn.left:before, .tablesaw-bar .btn.tablesaw-nav-btn.right:before {
  top: .44em;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.tablesaw-bar .btn.tablesaw-nav-btn.left:before {
  left: .5em;
  border-right: 5px solid;
}

.tablesaw-bar .btn.tablesaw-nav-btn.right:before {
  left: .64em;
  border-left: 5px solid;
}

.tablesaw-bar .btn.tablesaw-nav-btn.disabled {
  opacity: .25;
  cursor: default;
  pointer-events: none;
}

.tablesaw-bar .btn.btn-small {
  font-size: 0.75rem;
}

.tablesaw-bar .btn.btn-micro {
  font-size: 0.75rem;
}

.tablesaw-advance {
  float: right;
}

.tablesaw-advance.minimap {
  float: none;
  display: inline-block;
}

.tablesaw-advance-dots {
  margin-bottom: 0;
  padding-right: 15px;
}

.tablesaw-advance-dots li {
  display: inline-block;
  margin: 0;
  padding: 0 .2em;
}

.tablesaw-advance-dots i {
  width: .25em;
  height: .25em;
  background: #555;
  border-radius: 100%;
  display: inline-block;
}

.tablesaw-advance-dots-hide {
  opacity: .25;
  cursor: default;
  pointer-events: none;
}

[data-tablesaw-mode="swipe"] > tbody > tr > td {
  vertical-align: middle;
}

[data-tablesaw-mode="swipe"] .tablesaw-cell-persist {
  border-right: 1px solid #e4e1de;
  box-shadow: 3px 0 4px -1px #e4e1de;
}

[data-tablesaw-mode="swipe"] th.tablesaw-cell-hidden, [data-tablesaw-mode="swipe"] td.tablesaw-cell-hidden {
  display: none;
}

[data-tablesaw-mode="stack"] {
  /* Mobile first styles: Begin with the stacked presentation at narrow widths */
  /* Media query to show as a standard table at 560px (35em x 16px) or wider */
}

[data-tablesaw-mode="stack"] tbody tr:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}

[data-tablesaw-mode="stack"] td .tablesaw-cell-label, [data-tablesaw-mode="stack"] th .tablesaw-cell-label {
  display: none;
}

@media (min-width: 40em) {

  [data-tablesaw-mode="stack"] tr {
    display: table-row;
  }

  [data-tablesaw-mode="stack"] td, [data-tablesaw-mode="stack"] th, [data-tablesaw-mode="stack"] thead td, [data-tablesaw-mode="stack"] thead th {
    display: table-cell;
    margin: 0;
  }

  [data-tablesaw-mode="stack"] td.tabledrag-hide, [data-tablesaw-mode="stack"] th.tabledrag-hide, [data-tablesaw-mode="stack"] thead td.tabledrag-hide, [data-tablesaw-mode="stack"] thead th.tabledrag-hide {
    display: none;
  }

  [data-tablesaw-mode="stack"] td .tablesaw-cell-label, [data-tablesaw-mode="stack"] th .tablesaw-cell-label {
    display: none !important;
  }
}

@media only all {

  [data-tablesaw-mode="stack"] td, [data-tablesaw-mode="stack"] th {
    white-space: normal;
  }

  [data-tablesaw-mode="stack"] td .tablesaw-cell-label, [data-tablesaw-mode="stack"] th .tablesaw-cell-label {
    padding: 0 .6em 0 0;
    width: 35%;
    display: inline-block;
  }

  [data-tablesaw-mode="stack"] td .tablesaw-cell-label-top, [data-tablesaw-mode="stack"] th .tablesaw-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0;
  }

  [data-tablesaw-mode="stack"] td .tablesaw-cell-content, [data-tablesaw-mode="stack"] th .tablesaw-cell-content {
    white-space: normal;
  }
}

@media (max-width: 39.9375em) {

  [data-tablesaw-mode="stack"] td, [data-tablesaw-mode="stack"] th {
    text-align: left;
    display: block;
  }

  [data-tablesaw-mode="stack"] tr {
    clear: both;
    display: table-row;
  }

  [data-tablesaw-mode="stack"] thead td, [data-tablesaw-mode="stack"] thead th {
    display: none;
  }

  [data-tablesaw-mode="stack"] tbody td, [data-tablesaw-mode="stack"] tbody th {
    clear: left;
    float: left;
    width: 100%;
  }

  [data-tablesaw-mode="stack"] .tablesaw-cell-label {
    vertical-align: top;
  }

  [data-tablesaw-mode="stack"] .tablesaw-cell-content {
    max-width: 65%;
    display: inline-block;
  }

  [data-tablesaw-mode="stack"] td:empty, [data-tablesaw-mode="stack"] td.tabledrag-hide, [data-tablesaw-mode="stack"] th:empty, [data-tablesaw-mode="stack"] th.tabledrag-hide {
    display: none;
  }
}

/*# sourceMappingURL=tablesaw.css.map */
