{#
/**
 * @file post.html.twig
 * Default theme implementation to present Post data.
 *
 * This template is used when viewing Post pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_post()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('post') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
