.event_an_enroll.row {
  margin-bottom: 5px;

  .col-md {
    flex: 100%;
  }

  h5 {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 600px) {
    min-width: 500px;

    .col-md {
      flex: auto;
    }
  }
}

.avatar {
  position: relative;
  .badge {
    position: absolute;
    right: -6px;
    top: -3px;
    width: 27px;
    height: 27px;
    line-height: 19px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    font-size: 90%;
  }
}
