// Typography
//
// Headings, paragraphs, blockquotes, lists, and more have some global resets.
//
// Weight: 2
//
// Style guide: base.type

// Text elements
//
// The elements in this section give semantics to inline text.
//
// markup: text.twig
//
// Weight: 3
//
// Style guide: base.type.text

// Addresses
//
// Present contact information for the nearest ancestor or the
// entire body of work. Preserve formatting by ending all lines with `<br>`.
//
// markup: address.twig
//
// Weight: 4
//
// Style guide: base.type.address

// Blockquotes
//
// Wrap `<blockquote>` around any __HTML__ as the quote.
// For straight quotes, we recommend a `<p>`.
//
// markup: blockquote.twig
//
// Weight: 5
//
// Style guide: base.type.blockquotes

// Horizontal rule
//
// The `<hr>` element represents a paragraph-level thematic break,
// e.g. a scene change in a story, or a transition to another topic
// within a section of a reference book.
//
// markup: hr.twig
//
// Weight: 6
//
// Style guide: base.type.h-rule


//
// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
//

b,
strong {
  font-weight: bold;
}

p {
  margin: 0 0 0.75rem;
}


// Blockquote
blockquote {
  margin: 20px 0;
  padding-left: 1.5em;
	font-weight: 500;
}


// Text Styles
em.placeholder {
	font-style: normal;
}

.light {
	font-weight: 300;
}

.section-title {
  padding: 1.25rem;
  margin: 0;

  @include for-tablet-portrait-up {
    padding-left: 20px;


    &.section-title-stream {
      padding-left: 40px;
    }

    &.section-title-node {
      padding-left: 48px;
    }
  }

}

.text-truncate {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  max-width: 100%;
}

.post-date {
  color: $gray-light;
  font-size: 0.75rem;
  line-height: 1.25;
}

.text-align-left           { text-align: left; }
.text-align-right          { text-align: right; }
.text-align-center         { text-align: center; }
.text-align-justify        { text-align: justify; }

small,
.small {
  font-size: floor((100% * $font-size-small / $font-size-base));
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }


// Sizes
// -------------------------

.text-xs {		font-size: 0.4em; }
.text-s {			font-size: 0.75rem; }
.text-m {			font-size: 0.875rem; }
.text-l {			font-size: 1.125rem; }
.text-xl {		font-size: 1.25rem; }
.text-xxl {		font-size: 1.5rem; }
.text-xxxl {	font-size: 2rem; }
.text-xxxxl {	font-size: 3rem; }


// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}

// Blockquotes
blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: $blockquote-font-size;
  border-left: 5px solid $blockquote-border-color;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

}


// Addresses
address {
  margin-bottom: $line-height-computed;
  font-style: normal;
  line-height: $line-height-base;
}

// Horizontal rules
hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}

//
// Address styling not present in Safari and Chrome.
//

dfn {
  font-style: italic;
}

//
// Address styling not present in IE 8/9.
//

mark {
  background: #ff0;
  color: #000;
}


//
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
//

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}