<address>
  <strong>Open Social HQ</strong><br>
  Singel 542<br>
  1017 AZ Amsterdam<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>