.profile-organization-tag {
  position: relative;
  display: inline-block;
  height: 14px;
  vertical-align: middle;
  margin-left: 2px;
  margin-top: -2px;

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: 2px;
  }

  &:before {
    width: 14px;
    height: 14px;
    content: '';
    background: url(../images/checkmark.svg) 50% 50% no-repeat;
    background-size: cover;
    display: block;
  }
  span {
    position: absolute;
    left: 100%;
    margin-left: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    white-space: nowrap;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    display: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    @media(max-width: 600px) {
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      margin-top: 5px;
      margin-left: 0;
      .region--hero & {
        left: auto;
        right: 0;
        transform: translate(0, 0);
      }
    }
  }
  &.open {
    span {
      display: block;
    }
  }
}
