.comment-comment-profile-form .control-label--wide {
  display: none;
}
.comment-comment-profile-form {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.comment-comment-profile-form .field--name-comment-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.comment-comment-profile-form .form-group {
  margin-bottom: 0rem;
}

.comment-comment-profile-form .field--widget-string-textfield {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.comment-comment-profile-form .form-type-textfield {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.comment-comment-profile-form .form-control {
  max-width: none;
}
.comment-comment-profile-form .btn--comment-submit {
  margin-left: 8px;
}
