<div class="form-group">
  <label class="control-label" for="exampleInputEmail1">Email address</label><span class="form-required">*</span>
  <input type="email" id="exampleInputEmail1" required class="form-control" placeholder="Enter email">
  <div class="help-block">We'll never share your email with anyone else.</div>
</div>
