<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label" for="exampleIcon">
      <span class="control-label__icon--bg icon-phone">
      </span>
      Example with background image
    </label>
    <div class="select-wrapper">
      <select name="iconexample" id="exampleIcon" class="form-control">
        <option value="">Selected option</option>
        <option value="0">Option one</option>
        <option value="1">Option two</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="switch">
      <div class="switch__label" for="exampleIcon2">
        <svg class="control-label__icon--svg">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-forum"></use>
        </svg>
        Example with inline SVG
      </div>
      <div class="switch__options">
        Off
        <input type="checkbox" checked>
        <span class="lever"></span>
        On
      </div>
    </label>
  </div>
</div>
