<p>The <code>code</code> element represents a fragment of computer code.</p>
<p>There are <var><var>y</var> = <var>m</var><var>x</var> + <var>b</var></var> flavors of ice cream to be available for purchase!</p>
<p><samp>This text is meant to be treated as sample output from a computer program.</samp></p>
<p>To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
  To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd></p>