@import 'settings';

// make sure the date is positioned top right of the message
.message__created {
  position: absolute;
  top: 0;
  right: 0;
  font-size: $font-size-small;
  color: $gray-light;
  line-height: $line-height-base * $font-size-base;
}