  {#
  /**
  * @file post.html.twig
  * Default theme implementation to present Post data.
  *
  * This template is used when viewing Post pages.
  *
  *
  * Available variables:
  * - content: A list of content items. Use 'content' to print all content, or
  * - attributes: HTML attributes for the container element.
  *
  * @see template_preprocess_post()
  *
  * @ingroup themeable
  */
  #}

{%
  set classes = [
    'margin-top-s',
    logged_in ? 'margin-bottom-m',
  ]
%}


{% if content.links|render %}
  {{ content.links }}
{% endif %}

<div{{ attributes.addClass(classes) }}>

  {{ content|without('links', 'field_post_comments') }}

</div>

{% if logged_in %}
  <div class="card-nested-section">
    {% if content.field_post_comments %}
      {{ content.field_post_comments }}
    {% endif %}
  </div>
{% endif %}
