{% extends "comment.html.twig" %}

 {% block comment_author %}
   <div class="comment__author"> {{ author }}
     <span class="comment__metadata">&bullet; {{ submitted }} </span>
   </div>
 {% endblock %}
