{% extends "input.html.twig" %}

{% set attributes = attributes.addClass('btn--comment-submit') %}

{% spaceless %}
  {% block input %}
    <button{{ attributes.addClass(classes) }}>
      <span class="label">{{ label }}</span>
      <svg class="btn-icon">
        <use xlink:href="#icon-send"></use>
      </svg>

    </button>{{ children }}

  {% endblock %}
{% endspaceless %}