{% extends "input.html.twig" %}

{% set attributes = attributes.addClass('btn--comment-submit') %}

{% block input %}
  {% apply spaceless %}
    <button{{ attributes.addClass(classes) }}>
      <span class="label">{{ label }}</span>
      <svg class="btn-icon" aria-hidden="true">
        <title>{% trans %} Send comment {% endtrans %}</title>
        <use xlink:href="#icon-send"></use>
      </svg>

    </button>{{ children }}
  {% endapply %}
{% endblock %}
