@charset "UTF-8";

//
// Variables and mixins
@import "init";

//
// Reset and dependencies
@import "contrib/bootstrap/normalize";
@import "contrib/bootstrap/print";
@import "materialize/icons";
@import "materialize/fonts";

// Utility classes
@import "contrib/bootstrap/utilities";
@import "contrib/bootstrap/responsive-utilities";

//
// Bootstrap components that are used @version 3.3.6
@import "contrib/bootstrap/scaffolding";
@import "contrib/bootstrap/breadcrumbs";
@import "contrib/bootstrap/forms";
@import "contrib/bootstrap/pagination";
@import "contrib/bootstrap/forms";
@import "contrib/bootstrap/component-animations";
@import "contrib/bootstrap/navs";
@import "contrib/bootstrap/dropdowns";
@import "contrib/bootstrap/badges";
@import "contrib/bootstrap/list-group";
@import "contrib/bootstrap/input-groups";
@import "contrib/bootstrap/labels";
@import "contrib/bootstrap/close";
@import "contrib/bootstrap/tables";
@import "contrib/bootstrap/popovers";
@import "contrib/bootstrap/code";
@import "contrib/bootstrap/tooltip";


//
// Materialize style components
@import "materialize/breadcrumbs";
@import "materialize/elevation";
@import "materialize/forms";
@import "materialize/grid"; // This is the Bootstrap v4.0 grid system
@import "materialize/hero";
@import "materialize/pagination";
@import "materialize/scaffolding";
@import "materialize/dropdowns";
@import "materialize/badges";
@import "materialize/chips";
@import "materialize/media";
@import "materialize/stream";
@import "materialize/list-group";
@import "materialize/input-groups";
@import "materialize/vertical-tabs";
@import "materialize/popovers";
@import "materialize/file";
@import "materialize/preview";
@import "materialize/labels";
@import "materialize/tables";

//
// Components
@import "components/tabs";
@import "components/off-canvas";
@import "components/forms/switch";
@import "components/forms/range";
