.email-preview {
  margin: 0 -1.25rem 20px;

  &--content {
    padding: 20px 1.25rem 0;
  }

  &--inside,
  .subject {
    background-color: #f3f3f3;
  }

  .subject {
    padding: 10px 1.25rem;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .header {
    padding: 35px 1rem 25px;
    text-align: center;
  }

  &--inside {
    padding: 0 1rem 30px;
    text-align: center;
  }

  table {
    width: 100%;
  }

  .main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 25px;
    padding: 32px 1rem;
    font-size: 14px;
    text-align: left;
    background: #fff;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);

    .wrapper {
      max-width: 486px;
      margin: 0 auto;
    }
  }

  .logo {
    max-height: 80px;
    max-width: 160px;
  }

  .footer {
    font-size: 12px;
  }

  .helper {
    font-size: 12px;
    padding: 10px 1.25rem 0;
  }

  .btn-wrapp {
    text-align: center;
    margin-bottom: 30px;
  }

  .btn-link {
    display: block;
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 9px 25px 7px;
    text-align: center;

    img {
      position: absolute;
      top: 10px;
      left: 11px;
    }
  }

  .btn-link-one {
    display: inline-block;
    min-width: 230px;
  }

  a.btn-link-bg {
    color: #ffffff;
  }
}
