{#
/**
 * @file queue_storage_entity.html.twig
 * Default theme implementation to present Queue storage entity data.
 *
 * This template is used when viewing Queue storage entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_queue_storage_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('queue_storage_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
