.DS_Store

.lando.yml
.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.ht.router.php
.htaccess
autoload.php
composer.lock
index.php
robots.txt
update.php
web.config


vendor/
core/
modules/
themes/
sites/