sudo: required

addons:
  artifacts:
   # ...
   paths:
     - $(git ls-files -o | grep travis_artifacts | tr "\n" ":")

language: php

php:
  - 5.6

env:
  DOCKER_COMPOSE_VERSION: 1.6.2

services:
  - docker

before_install:
  - sudo apt-get clean
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-engine
  - docker --version
  - git clone https://github.com/goalgorilla/social_docker.git install
  - # TODO add TRAVIS_COMMIT to composer.json
  - cd install
  - composer require goalgorilla/open_social 'dev-master#${TRAVIS_COMMIT}'
  - composer install
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - docker-compose --version
  - docker-compose -f docker-compose-travis.yml up -d
  - docker ps -a

script:
  - docker exec -i social_web bash /root/dev-scripts/install/install_script.sh
  - docker exec -i social_web_scripts sh /root/travis/unit-tests.sh
  - docker ps
  - docker logs social_selenium
  - sleep 30
  - docker exec -it social_behat sh /root/travis/behatstability.sh
