parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getGroupType\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/custom/grequest/src/Form/GroupRequestMembershipForm.php

		-
			message: "#^Cannot call method id\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/custom/grequest/src/Form/GroupRequestMembershipForm.php

		-
			message: "#^Cannot call method label\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/custom/grequest/src/Form/GroupRequestMembershipForm.php

		-
			message: "#^Cannot call method save\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupContentInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/custom/grequest/src/Form/GroupRequestMembershipRejectForm.php

		-
			message: "#^Cannot call method set\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupContentInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/custom/grequest/src/Form/GroupRequestMembershipRejectForm.php

		-
			message: "#^Cannot call method then\\(\\) on GraphQL\\\\Executor\\\\Promise\\\\Adapter\\\\SyncPromise\\|null\\.$#"
			count: 2
			path: html/profiles/contrib/social/modules/custom/social_graphql/src/GraphQL/EntityConnection.php

		-
			message: "#^PHPDoc tag @return with type mixed is not subtype of native type object\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/custom/social_graphql/src/Plugin/GraphQL/DataProducer/Edge/EdgeNode.php

		-
			message: "#^Cannot call method createInstance\\(\\) on Drupal\\\\graphql\\\\Plugin\\\\DataProducerPluginManager\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/custom/social_graphql/tests/src/Kernel/MediaBridgeMediaTest.php

		-
			message: "#^Cannot access property \\$attributes on Symfony\\\\Component\\\\HttpFoundation\\\\Request\\|null\\.$#"
			count: 2
			path: html/profiles/contrib/social/modules/social_features/social_core/src/Plugin/Block/SocialPageTitleBlock.php

		-
			message: "#^Parameter \\#1 \\$request of method Drupal\\\\Core\\\\Controller\\\\TitleResolverInterface\\:\\:getTitle\\(\\) expects Symfony\\\\Component\\\\HttpFoundation\\\\Request, Symfony\\\\Component\\\\HttpFoundation\\\\Request\\|null given\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/social_features/social_core/src/Plugin/Block/SocialPageTitleBlock.php

		-
			message: "#^Cannot call method getGroupType\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_invite/src/Plugin/Block/SocialGroupInviteNotificationBlock.php

		-
			message: "#^Cannot call method id\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 2
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_invite/src/Plugin/Block/SocialGroupInviteNotificationBlock.php

		-
			message: "#^Cannot call method id\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_request/src/Form/GroupRequestMembershipRejectForm.php

		-
			message: "#^Cannot call method save\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupContentInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_request/src/Form/GroupRequestMembershipRejectForm.php

		-
			message: "#^Cannot call method set\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupContentInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_request/src/Form/GroupRequestMembershipRejectForm.php

		-
			message: "#^Cannot call method getGroupType\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 1
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_request/src/Form/GroupRequestMembershipRequestForm.php

		-
			message: "#^Cannot call method id\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 3
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_request/src/Form/GroupRequestMembershipRequestForm.php

		-
			message: "#^Cannot call method get\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 2
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_request/src/Plugin/Block/SocialGroupRequestMembershipNotification.php

		-
			message: "#^Cannot call method getGroupType\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 3
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_request/src/Plugin/Block/SocialGroupRequestMembershipNotification.php

		-
			message: "#^Cannot call method id\\(\\) on Drupal\\\\group\\\\Entity\\\\GroupInterface\\|null\\.$#"
			count: 4
			path: html/profiles/contrib/social/modules/social_features/social_group/modules/social_group_request/src/Plugin/Block/SocialGroupRequestMembershipNotification.php

		-
			message: "#^Cannot call method get\\(\\) on Drupal\\\\profile\\\\Entity\\\\ProfileInterface\\|null\\.$#"
			count: 8
			path: html/profiles/contrib/social/modules/social_features/social_profile/tests/src/Kernel/GraphQLUsersEndpointTest.php

