includes:
  - phpstan-baseline.neon

rules:
  - Drupal\social\PHPStan\Rules\CorrectUpdateHelperUsage
  - Drupal\social\PHPStan\Rules\DisallowPrivateModuleFunctions

parameters:
  level: 8
  paths:
      - src
      - modules/custom
      - modules/social_features
  excludePaths:
    analyseAndScan:
      - */social_demo/*
      - tests/
      - social.install
      - social.profile
      - translations/
    analyse:
      - *SocialProfileTrait.php
  # Not sure we can specify generic types properly with Drupal coding standards
  # yet, disable for now.
  checkGenericClassInNonGenericObjectType: false
  drupal:
      drupal_root: %currentWorkingDirectory%/html/core
      entityMapping:
        activity:
          class:  Drupal\activity_creator\Entity\Activity
          storage: Drupal\Core\Entity\ContentEntityStorageBase
        comment:
          class: Drupal\social_comment\Entity\Comment
          storage: Drupal\comment\CommentStorage
        event_enrollment:
          class: Drupal\social_event\Entity\EventEnrollment
          storage: Drupal\Core\Entity\ContentEntityStorageBase
        font:
          class: Drupal\social_font\Entity\Font
          storage: Drupal\Core\Entity\ContentEntityStorageBase
        group:
          class: Drupal\social_group\Entity\Group
          storage: Drupal\group\Entity\Storage\GroupStorage
        group_content:
          class: Drupal\group\Entity\GroupRelationship
          storage: Drupal\group\Entity\Storage\GroupRelationshipStorage
        mentions:
          class: Drupal\mentions\Entity\Mentions
          storage: Drupal\Core\Entity\ContentEntityStorageBase
        mentions_type:
          class: Drupal\mentions\Entity\MentionsType
          storage: Drupal\Core\Config\Entity\ConfigEntityStorage
        post:
          class: Drupal\social_post\Entity\Post
          storage: Drupal\Core\Entity\ContentEntityStorageBase
        post_type:
          class: Drupal\social_post\Entity\PostType
          storage: Drupal\Core\Config\Entity\ConfigEntityStorage
        queue_storage_entity:
          class: Drupal\social_queue_storage\Entity
          storage: Drupal\Core\Entity\ContentEntityStorageBase

  # When writing Drupal code we have arrays all over the place and even all
  # entities are considered iterable type. Thus it's more sensible to disable
  # this check than work with an ever expanding baseline.
  # See https://phpstan.org/blog/solving-phpstan-no-value-type-specified-in-iterable-type
  checkMissingIterableValueType: false
  ignoreErrors:
      # See - https://github.com/mglaman/drupal-check/pull/187
      - '#Unsafe usage of new static\(\)#'
      - '#\\Drupal calls should be avoided in classes#'
      - '#Usage of deprecated trait Drupal\\social_profile\\SocialProfileTrait#'
      - '#Plugin definitions cannot be altered\.#'
      - '#Access to an undefined property Drupal\\file\\FileInterface::\$\_referringItem\.#'
      - '#Access to an undefined property Drupal\\file\\FileInterface::\$download\.#'
      ## Need to create services for that.
      - '#Not allowed to call private function _activity_basics_entity_action from module social_follow_tag#'
      - '#Not allowed to call private function _activity_send_email_default_template_items from module social_swiftmail#'
      - '#Not allowed to call private function _addresses_to_string from module social_swiftmail#'
      - '#Not allowed to call private function _editor_parse_file_uuids from module social_footer#'
      - '#Not allowed to call private function _filter_url from module social_embed#'
      - '#Not allowed to call private function _enrolments_export_plugin_access from module social_event_an_enroll_enrolments_export#'
      - '#Not allowed to call private function _enrolments_export_plugin_mapping from module social_event_an_enroll_enrolments_export#'
      - '#Not allowed to call private function _content_translation_install_field_storage_definitions from module social_language#'
      - '#Not allowed to call private function _options_values_in_use from module dropdown#'
      - '#Not allowed to call private function _social_core_install_blocks from module social_album#'
      - '#Not allowed to call private function _social_comment_get_summary from module social_activity#'
      - '#Not allowed to call private function _social_event_format_date from module social_activity#'
      - '#Not allowed to call private function _social_event_menu_local_tasks_routes from module social_event_managers#'
      - '#Not allowed to call private function _social_group_cache_tags from module social_group_flexible_group#'
      - '#Not allowed to call private function _social_group_get_current_group from module social_(profile_manager_notes|post|profile_manager_notes|group_request|group_invite|group_gvbo|group_flexible_group|topic|flexible_group_book|follow_tag|social_book|social_metatag)#'
      - '#Not allowed to call private function _social_group_get_group_invite_value from module social_group_invite#'
      - '#Not allowed to call private function _social_profile_get_profile_from_route from module social_profile_fields#'
      - '#Not allowed to call private function _social_profile_get_profile_from_route from module social_profile_manager_notes#'
      - '#Not allowed to call private function _user_mail_notify from module social_user#'
      ## To review after views_bulk_operations Update
      - '#Method Drupal\\social_group_invite\\Plugin\\views\\field\\SocialGroupInviteViewsBulkOperationsBulkForm::viewsFormValidate\(\) has parameter \$form with no type specified\.#'
      - '#Method Drupal\\.*\\Form\\.*::buildForm\(\) has parameter \$display_id with no type specified\.#'
      - '#Method Drupal\\.*\\Form\\.*::buildForm\(\) has parameter \$view_id with no type specified\.#'
      - '#Method Drupal\\.*\\Form\\.*::submitForm\(\) has no return type specified\.#'
      - '#Method Drupal\\.*\\Plugin\\views\\field\\.*::viewsFormValidate\(\) has parameter \$form with no type specified\.#'
      - '#Method Drupal\\social_post\\Plugin\\views\\area\\SocialPostPostForm::buildOptionsForm\(\) has parameter \$form with no type specified\.#'
      ## To review after Drupal 11
      - '#Method Drupal\\Core\\Form\\FormBuilderInterface::getForm\(\) invoked with 2 parameters, 1 required#'
      - '#Method Drupal\\social_group\\Plugin\\views\\argument\\UserUid::query\(\) has parameter \$group_by with no type specified\.#'
      - '#Method Drupal\\activity_viewer\\Plugin\\views\\argument\\ActivityProfileArgument::query\(\) has parameter \$group_by with no type specified\.#'
      - '#Method Drupal\\activity_viewer\\Plugin\\views\\argument\\ActivityGroupArgument::query\(\) has parameter \$group_by with no type specified\.#'
      - '#Method Drupal\\.*\\Plugin\\Action\\.*::execute\(\) has parameter \$entity with no type specified\.#'
      - '#Method Drupal\\activity_viewer\\Plugin\\views\\row\\ActivityRow::preRender\(\) has parameter \$result with no type specified\.#'
      - '#Method Drupal\\social_post_album\\Element\\SocialPostAlbumManagedFile::processManagedFile\(\) has (?:no return type specified\.|parameter \$complete_form with no type specified\.|parameter \$element with no type specified\.)#'

      ## Extend of @internal API
      - '#Class .* extends @internal class .*\.#'


# Found 300 errors
# [ERROR] Found 530 errors
# [ERROR] Found 1075 errors
# [ERROR] Found 1764 errors
