<?xml version="1.0" encoding="UTF-8"?>

<phpunit
  bootstrap="../../../core/tests/bootstrap.php"
  colors="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutChangesToGlobalState="true"
>
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <!-- The base URL of the Open Social web container -->
    <env name="SIMPLETEST_BASE_URL" value="http://social.localhost" />
    <!-- The URI that connects to the database -->
    <env name="SIMPLETEST_DB" value="sqlite://localhost/sites/default/files/db.sqlite" />
    <!-- Put any browser test output in a place where we can view it -->
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/var/www/html/sites/simpletest/browser_output"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>modules/*/*/tests/src/Unit</directory>
      <directory>modules/*/*/modules/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>modules/*/*/tests/src/Kernel</directory>
      <directory>modules/*/*/modules/*/tests/src/Kernel</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
  </listeners>
</phpunit>
