{#
/**
 * @file event_enrollment.html.twig
 * Default theme implementation to present Event enrollment data.
 *
 * This template is used when viewing Event enrollment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_enrollment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('event_enrollment') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
