@import "settings";

.vote-widget {

  // Added like
  a.voted-like .icon-gray {
    fill: $brand-danger;
    stroke: $brand-danger;
  }

  a:active {

    // Voted like focus
    &.voted-like .icon-gray {
      fill: $text-color;
      stroke: $text-color;
    }

    // Not voted like focus
    &:not(.voted-like) .icon-gray {
      stroke: $brand-danger;
      fill: transparent;
    }

  }

  @include for-tablet-portrait-up {
    a:hover {

      // Not voted like hover
      &:not(.voted-like) .icon-gray {
        stroke: $brand-danger;
        fill: transparent;
      }

    }

  }

}
