@import "settings";

.off-canvas {
  @include for-tablet-landscape-down {
    position: fixed;
    top: 50px;
    overflow: auto;
    width: 280px;
    height: 100%;
    background-color: white;
    padding: $card-spacer-x;
    box-shadow: 0 8px 17px 0 transparent, 0 6px 20px 0 transparent;
    z-index: 4;
    backface-visibility: hidden;
    transition: transform 0.5s, box-shadow 0.3s;
  }
}

#block-filter:target {
  transform: translateX(0);
  @include z-depth-5;
}

.off-canvas-right {
  @include for-tablet-landscape-down {
    transform: translateX(290px);
    right: 0;
  }
}

.off-canvas-xs-only {
  @include z-depth-2;
  position: relative;
  margin-bottom: $card-spacer-y;
  background-clip: padding-box;
  background-color: white;

  @include for-tablet-landscape-down {
    @include z-depth-5;
    position: fixed;
  }

}

.views-exposed-form {

  @include for-tablet-landscape-down {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

}

.btn--offcanvas-trigger {

  @include for-tablet-landscape-up {
    display: none;
  }
}

.offcanvas-head {
  position: relative;

  .complementary-title {
  	font-size: 1.25rem;
  }

  @include for-tablet-landscape-up {
    padding: 15px 20px 0;
    color: $gray-light;
    line-height: 1;

    .complementary-title {
      vertical-align: middle;
      font-weight: 500;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.offcanvas-tools {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  @include for-tablet-landscape-up {
    display: none;
  }
}

.offcanvas-body {
	margin-top: 30px;

  @include for-tablet-landscape-up {
    margin-top: 0;
    padding: 20px;
  }
}
