#edit-field-flexible-group-visibility--wrapper legend,
#edit-field-content-visibility--wrapper legend,
#edit-field-content-visibility--wrapper .help-block,
#edit-field-flexible-group-visibility--wrapper .help-block {
  margin-top: 0;
  margin-bottom: 0;
}

#tooltip-field-content-visibility p,
#tooltip-field-flexible-group-visibility p {
  display:flex;
  flex-direction: column;
  padding-top: 0.3rem;
  padding-left: 0;
  padding-bottom: 0.3rem;
  width: 100%;
}

#tooltip-field-flexible-group-visibility p {
  font-size: 0.85rem;
}

.path-group .popover #tooltip-field-flexible-group-visibility svg {
  padding-right: 5px !important;
  padding-top: 5px;
}

.path-group .popover #tooltip-field-flexible-group-visibility p strong span {
  margin-bottom: 0.2rem;
  margin-left: 2rem !important;
}
