{% for label, value in data %}
  <div class="list-item list-item--withlabel">
    <span class="list-item__label">
      {{ label }}
    </span>

    <span class="list-item__text">
     {{ value }}
    </span>

  </div>

{% endfor %}