{% for key, name in users %}
  <div class="list-item">
    <span class="list-item__avatar">
      <img src="kss-assets/avatar-{{ key }}.jpg" alt="" class="img-responsive img-avatar"/>
    </span>

    <span class="list-item__text">
     {{ name }}
    </span>

  </div>

{% endfor %}