.media  
  .media-left
    a(href="other-stream.html")
      img.media-object.img-circle.img-medium(src="content/images/avatar4.jpg")
  .media-body
    h5.media-heading  
      a(href="other-stream.html") Will Bundy 
    br
    small
      a(href="comment.html") 2 hours ago

.margin-top-s I completely agree with Jenny, let's schedule a meeting for this.

.clearfix
  a.btn.btn-link.btn-sm.pull-right(href='comment.html#insert-comment') Reply
