.card.card--teaser.card-with-actionbar
  a.card-image.blue-overlay(href="event.html")
    img.img-responsive(src="content/images/people3-square.jpg")
    .teaser-date 20-21
      .text-xs may-may
  .card-body
    h2.h3.card-title 
      a(href="event.html") Security and modern internet
    .text-grey 20 May 09:00 - 21 May 18:00
    .text-grey-dark Rembrandtplein, Amsterdam
    .card-actionbar
      a.btn.btn-flat.left.btn--primary(href='event.html') Enrolled
      a.btn.btn-flat.right(href="event.html") Read more
