.card.card--teaser.card-with-actionbar.unpublished
  a.card-image.blue-overlay(href="event.html")
    img.img-responsive(src="content/images/people3-square.jpg")
    .teaser-date 28
      .text-xs Aug
  .card-body
    h2.h3.card-title 
      a(href="event.html") Team conference East
    .text-grey 28 Aug 10:00 - 12:00
    .text-grey-dark Old Market, Groningen
    .card-actionbar
      a.btn.btn-flat.pull-left.btn-primary(href='event-enrollments.html') Enrolled
      a.btn.btn-flat.pull-right(href="event.html") Read more
