.card.card--teaser.card-with-actionbar.unpublished
  a.card-image.blue-overlay(href="event.html")
    img.img-responsive(src="content/images/people3-square.jpg")
    .teaser-date 28
      .text-xs Aug
    .status unpublished
  .card-body
    h4.card-title 
      a(href="event.html") Team conference East
    p.text-grey-dark
      i.material-icons.pull-left event
      span.inline-center 28 Aug 10:00 - 12:00 
      | &nbsp; 
      unless user == "isAnonymous"
        span.label.label-primary enrolled
    p.text-grey-dark
      i.material-icons.pull-left place
      span.inline-center Old Market, Groningen
    .card-actionbar
      a.btn.btn-flat.pull-right(href="event.html") Read more
