.card.card--teaser.card-with-actionbar
  a.card-image.blue-overlay(href="event.html")
    img.img-responsive(src="content/images/people3-square.jpg")
    .teaser-date 19
      .text-xs may
  .card-body
    h2.h4.card-title 
      a(href="event.html") Security and modern internet
    p.text-grey-dark
      i.material-icons.pull-left event
      span.inline-center 19 jul 09:00 - 18:00
      | &nbsp; 
      span.label.label-primary enrolled
    p.text-grey-dark 
      i.material-icons.pull-left place
      | Keizersgracht 376, Amsterdam
    .card-actionbar
      a.btn.btn-flat.pull-right(href="event.html") Read more
