a.card.teaser.teaser--event(href="#")
  .teaser__media
    img.teaser__image(src="content/images/people3-square.jpg")
    .teaser__event-date 20-21
      span.teaser__event-date-month Apr - Apr
  .teaser__content
    h2.h4 Security and modern internet
    .teaser__published 20 Apr 09:00 - 21 Apr 18:00
    .teaser__location Rembrandtplein, Amsterdam
    .teaser__enrolled
    .teaser__read-more Read more 
