.card.card--teaser.card-with-actionbar.unpublished
  a.card-image(href="#")
    img.img-responsive(src="content/images/people3-square.jpg")
    .teaser-date 28
      .text-xs Aug
  .card-body
    h2.h3.card-title 
      a(href="#") Team conference East
    .text-grey 28 Aug 10:00 - 12:00
    .text-grey-dark Old Market, Groningen
    .card-actionbar
      a.btn.btn-flat.left.btn--primary(href='#') Enrolled
      a.btn.btn-flat.right(href="#") Read more
