a.card.teaser.teaser--event(href="#")
  .teaser__media
    img.teaser__image(src="content/images/people3-square.jpg")
    .teaser__event-date 19
      span.teaser__event-date-month Apr
  .teaser__content
    h2.teaser__title Security and modern internet
    .teaser__published 19 apr 09:00 - 18:00
    .teaser__location Patheon, Rome
    .teaser__enrolled Enrolled
    .teaser__read-more Read more 
