a.card.teaser.teaser--event(href="#")
  .teaser__media
    img.teaser__image(src="content/images/people3-square.jpg")
    .teaser__event-date 26
      span.teaser__event-date-month May
  .teaser__content
    h2.h4 London Meetup
    .teaser__published 26 may 09:00 - 18:00
    .teaser__location Tower Bridge, London
    .teaser__enrolled Enrolled
    .teaser__read-more Read more 
