.card.card--teaser.card-with-actionbar
  a.card-image(href="event.html")
    img.img-responsive(src="content/images/people3-square.jpg")
    .teaser-date 26
      .text-xs may
  .card-body
    h2.h3.card-title 
      a(href="event.html") London Meetup
    .text-grey 26 may 09:00 - 18:00
    .text-grey-dark Tower Bridge, London
    .card-actionbar
      a.btn.btn-flat.left.btn--primary(href='event.html') Enrolled
      a.btn.btn-flat.right(href="event.html") Read more
