.card.card--teaser.card-with-actionbar
  a.card-image.blue-overlay(href="group-stream.html")
    img.img-responsive(src="content/images/animals1-square.jpg")
  .card-body
    h2.h4.card-title 
      a(href="group-stream.html") Munich local group
    p.text-grey-dark
      i.material-icons.pull-left.icon-group
      span.inline-center 107 members &nbsp;
      span.label.label-primary joined
      
    p.text-grey-dark.card--teaser-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    .card-actionbar
      a.btn.btn-flat.pull-right(href="group-stream.html") Read more
