.card.card--teaser.card-with-actionbar
  a.card-image.blue-overlay(href="group-stream.html")
    img.img-responsive(src="content/images/animals1-square.jpg")
  .card-body
    h2.h4.card-title 
      a(href="group-stream.html") Innovaders
    p.text-grey 65 members 
      span.badge joined  
    p.text-grey-dark.card--teaser-desc Maecenas faucibus mollis interdum.
    .card-actionbar
      a.btn.btn-flat.pull-right(href="group-stream.html") Read more
