.card.card--teaser.card-with-actionbar
  a.card-image.blue-overlay(href="group-stream.html")
    img.img-responsive(src="content/images/animals1-square.jpg")
  .card-body
    h2.h3.card-title 
      a(href="group-stream.html") Munich local group
    .text-grey 107 members 
      .badge joined
    .text-grey-dark Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    .card-actionbar
      a.btn.btn-flat.pull-right(href="group-stream.html") Read more
