.card.card--teaser.card-with-actionbar
  a.card-image(href="profile.html")
    img.img-responsive(src="content/images/member2.jpg")
  .card-body
    h2.h3.card-title Catelyn Stark
      a(href="profile.html") 
    .text-grey-dark Drupal Ninja
    .text-grey House Stark
    .card-actionbar
      a.btn.btn-flat.pull-left.btn-primary(href='profile.html') Contact me
      a.btn.btn-flat.pull-right(href="profile.html") View profile
