.card.card--teaser.card-with-actionbar
  a.card-image(href="profile.html")
    img.img-responsive(src="content/images/member1.jpg")
  .card-body
    h2.h3.card-title 
      a(href="profile.html") Jade Williams
    .text-grey-dark Drupal Ninja
    .text-grey Tech Inc.
    .card-actionbar
      a.btn.btn-flat.pull-left.btn-primary(href='profile-about.html') Contact me
      a.btn.btn-flat.pull-right(href="other-stream.html") View profile
