.card.card--teaser.card-with-actionbar
  a.card-image(href="other-stream.html")
    img.img-responsive(src="content/images/member5.jpg")
  .card-body
    h4.card-title 
      a(href="other-stream.html") Tyrion Lannister
    p.text-grey-dark 
      i.material-icons.pull-left business_center
      span.inline-center Drupal Ninja at House Lannister
    .card-actionbar
      a.btn.btn-flat.pull-left.btn-primary(href='other-profile-about.html') Contact me
      a.btn.btn-flat.pull-right(href="other-stream.html") View profile
