.card.card--teaser.card-with-actionbar
  a.card-image(href="event.html")
    img.img-responsive(src="content/images/member3.jpg")
  .card-body
    h2.h3.card-title 
      a(href="profile.html") Khal Drogo
    .text-grey-dark Drupal Ninja
    .text-grey Nightswatch
    .card-actionbar
      a.btn.btn-flat.pull-left.btn-primary(href='event.html') Contact me
      a.btn.btn-flat.pull-right(href="event.html") View profile
