.cover.cover-img(style="background-image: url('content/images/my-cover-big.jpg')")  
  .hero-action-button
    a.waves-effect.waves-light.btn.brand-user.btn-floating(href='profile-edit.html')
      i.material-icons mode_edit
  .cover-wrap
    h1.page-title.h2 John Johnson
    br
    img.img-circle.img-large.z-depth-2(src='content/images/member5.jpg')
    .hero-footer
      .row.row-md-center
        .col-xs-12.col-md-6.col-md-offset-3
          p Receptionist - Bastion Hotels  
