.media
  .media-left
    a(href='other-stream.html')
      img.media-object.img-circle.img-medium(src='content/images/member2.jpg')
  .media-body
    h5.media-heading
      a(href="other-stream.html") Getrud van Assen
      br 
      small 2 hours 

.margin-top-s Ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
