.media
  .media-left
    a(href='other-stream.html')
      img.media-object.img-circle.img-small(src='content/images/avatar5.jpg')
  .media-body
    h5.media-heading
      a(href="other-stream.html") Jenny Baker 
      | &bullet; 
      small 50 mins

    p Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
