.media
  .media-left
    a(href='')
      img.media-object.img-circle.img-small(src='content/images/avatar3.jpg')
  .media-body
    h5.media-heading
      a(href="my-stream.html") Clive Owen 
      | &bullet; 
      small 2 hours ago

    p Ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
