.media
  .media-left
    a(href='other-stream.html')
      img.media-object.img-circle.img-small(src='content/images/avatar5.jpg')
  .media-body
    h5.media-heading
      a(href="other-stream.html") Jenny Baker
      br 
      small 15 hours ago

p.margin-top-s We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege. 

.card-nested-section
  .media-left
    img.img-small.img-circle(src='content/images/avatar1.jpg')

  .media-body
    form
      .form-group.form-group-inline.clearfix
        textarea.form-control.form-control--block(placeholder='Write a comment...', width='100%', rows="1")
        button.btn.btn-link(type='submit') Comment

  include ./_post1-reply2.jade
  include ./_post1-reply5.jade
  include ./_post1-reply3.jade
  include ./_post1-reply1.jade
  include ./_post1-reply4.jade
  
