li.media
  .media-left
    a(href='')
      img.media-object.img-circle.img-small(src='content/images/avatar3.jpg')
  .media-body
    h4.media-heading
      a(href="my-stream.html") Clive Owen 
      | &bullet; 
      small 
        a(href='comment.html') 2 hours ago

    | Ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
