li.media
  .media-left
    a(href='')
      img.media-object.img-circle.img-small(src='content/images/avatar4.jpg')
  .media-body
    h4.media-heading
      a(href="my-stream.html") Bryan Roy 
      | &bullet; 
      small 
        a(href='comment.html') 44 minutes ago

    | Rutrum faucibus dolor auctor.
