.media
  .media-left
    a(href='other-stream.html')
      img.media-object.img-circle.img-small(src='content/images/avatar4.jpg')
  .media-body
    h5.media-heading
      a(href="other-stream.html") Bryan Roy 
      | &bullet; 
      small 44 minutes ago
    
    p Rutrum faucibus dolor auctor.
