.media
  .media-left
    a(href='other-stream.html')
      img.media-object.img-circle.img-small(src='content/images/avatar2.jpg')
  .media-body
    h5.media-heading
      a(href="other-stream.html") Mary-Lou Wallace 
      br 
      small 13 hours ago

  p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
