li.media
  .media-left
    a(href='')
      img.media-object.img-circle.img-small(src='content/images/avatar0.jpg')
  .media-body
    h4.media-heading
      a(href="my-stream.html") Henry Bond 
      | &bullet; 
      small 
        a(href='comment.html') 12 hours ago

    | Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
