li.media
  .media-left
    a(href='profile.html')
      img.media-object.img-circle.img-small(src='content/images/avatar2.jpg')
  .media-body
    h4.media-heading
      a(href="my-stream.html") Mary-Lou Wallace 
      | &bullet; 
      small 
        a(href='comment.html') 13 hours ago

    | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
