.media
  .media-left
    a(href='other-stream.html')
      img.media-object.img-circle.img-small(src='content/images/member3.jpg')
  .media-body
    h5.media-heading
      a(href="other-stream.html") Henry Bond
      br 
      small 44 minutes 
    
  p Rutrum faucibus dolor auctor.
