.media
  .media-left
    a(href='')
      img.media-object.img-circle.img-small(src='content/images/avatar3.jpg')
  .media-body
    h4.media-heading
      | Eric Cartman 
      small 1 hours ago
    p We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege. 
    .button-group(role='group')
      button.btn.btn-link(type='button') Edit
      button.btn.btn-link(type='button') Delete
      button.btn.btn-link(type='button') Comment link
