.card-head
  header.text-center Suggested events
  .subtitle.text-center in the community
.list-group.list-group-divider
  a.list-group-item(href="#")
    h6.list-group-item-heading World record rainbow watching
    small.text-gray-lighter.list-group-item-text 10 sept
  a.list-group-item(href="#")
    h6.list-group-item-heading Monthly tea party
    small.text-gray-lighter.list-group-item-text 29 nov
  
  .text-center
    a.btn.btn-link(href="#") See all
