a.card.teaser.unpublished(href="#")
  .teaser__media
    img.teaser__image(src="content/images/people3-square.jpg")
    span.status unpublished
  .teaser__content
    h2.teaser__title 5 new cool features in Office 365
    .teaser__published 11 Mar 2016
    .teaser__author Clive Owen
    .teaser__type topic
    .teaser__read-more Read more 
