.card.card--teaser.card-with-actionbar.unpublished
  a.card-image(href="#")
    img.img-responsive(src='content/images/people3-square.jpg', alt='')
    img.teaser-type(src='images/icon-topic.svg', alt='')
  .card-body
    .text-default-dark Blog
    h2.h3.card-title 
      a(href="#") 5 new cool features in Office 365
    a.text-l.text-grey-dark(href="#") Dennis Rodman
    .text-grey-dark 28 mar 2016
    .card-actionbar
      a.btn.btn-flat.right(href="#") Read more
