.card.card--teaser.card-with-actionbar
  a.card-image(href="#")
    img.img-responsive(src='content/images/animals1-square.jpg', alt='')
    img.teaser-type(src='images/icon-topic.svg', alt='')
  .card-body
    .text-default-dark Discussion
    h2.h3.card-title 
      a(href="#") Will this be the cinema of the future?
    a.text-l.text-grey-dark(href="#") Richard Ogylvie
    .text-grey-dark 22 mar 2016
    .card-actionbar
      a.btn.btn-flat.right(href="#") Read more
