.card.card--teaser.card-with-actionbar
  a.card-image(href="#")
    img.img-responsive(src='content/images/people3-square.jpg', alt='')
    img.teaser-type(src='images/icon-topic.svg', alt='')
  .card-body
    .text-default-dark Blog
    h2.h3.card-title 
      a(href="#") Technology for the handicapped
    a.text-l.text-grey-dark(href="#") Clive Owen
    .text-grey-dark 15 feb 2016
    .card-actionbar
      a.btn.btn-flat.right(href="#") Read more
