a.card.teaser.teaser--topic(href="#")
  .teaser__media
    img.teaser__image(src="content/images/animals1-square.jpg")
  .teaser__content
    h2.h4 Will this be the cinema of the future?
    .teaser__published 15 Feb 2016
    .teaser__author Clive Owen
    .teaser__type discussion
    .teaser__read-more Read more 
