.card.card--teaser.card-with-actionbar
  a.card-image.blue-overlay(href="topic.html")
    img.img-responsive(src='content/images/animals1-square.jpg', alt='')
    img.teaser-type(src='images/icon-topic.svg', alt='')
  .card-body
    h4.card-title 
      a(href="topic.html") Will this be the cinema of the future?
    p.text-grey-dark
      a(href="other-stream.html") Richard Ogylvie 
      | &bullet; 22 mar 2016
    p 
      i.material-icons.pull-left label
      span.inline-center Discussion
    .card-actionbar
      a.btn.btn-flat.pull-right(href="topic.html") Read more
