a.card.teaser.teaser--topic(href="#")
  .teaser__media
    img.teaser__image(src="content/images/people3-square.jpg")
  .teaser__content
    h2.teaser__title Technology for the handicapped
    .teaser__published 15 Feb 2016
    .teaser__author Clive Owen
    .teaser__type blog
    .teaser__read-more Read more 
