.card.card--teaser.card-with-actionbar
  a.card-image.blue-overlay(href="#")
    img.img-responsive(src='content/images/people3-square.jpg', alt='')
    img.teaser-type(src='images/icon-topic.svg', alt='')
  .card-body
    .text-default-dark Topic
    h2.h3.card-title 
      a(href="#") Top 10 zoos to visit in 2016
    a.text-l.text-grey-dark(href="#") Amanda Boxer
    .text-grey-dark 12 apr 2016
    .card-actionbar
      a.btn.btn-flat.pull-right(href="#") Read more
