.card.card-with-actionbar
  .card-head
    header.text-center Suggested events
    .subtitle.text-center in community
  .card-body
    .list-group.list-group-divider
      a.list-group-item(href="#")
        h6.list-group-item-heading World record rainbow watching
        small.text-gray-lighter.list-group-item-text 10 sept
      a.list-group-item(href="#")
        h6.list-group-item-heading Monthly tea party
        small.text-gray-lighter.list-group-item-text 29 nov
    
    .card-actionbar.text-center
      a.btn.btn-flat(href="#") See all
