@import 'settings';

.socialblue--sky {
  .badge-status {
    @include for-tablet-landscape-up {
      margin-left: .5rem;
      padding: 5px .875rem;
      font-size: .875rem;
      font-weight: 300;
    }
  }

  .badge {
    font-size: 12px;

    &.teaser__badge {
      &.badge-default,
      &.badge-primary,
      &.badge-secondary,
      &.badge-accent,
      &.badge-success,
      &.badge-info,
      &.badge-warning,
      &.badge-danger,
      &.badge-active {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}