@import 'settings';

.socialblue--sky {
  .badge-status {
    @include for-tablet-landscape-up {
      margin-left: .5rem;
      padding: 5px .875rem;
      font-size: .875rem;
      font-weight: 300;
    }
  }
}