@import 'settings';

// Available variations
//
// Add any of the below mentioned modifier classes to change the appearance of a badge.
//
// .badge-default - Default
// .badge-primary - Primary
// .badge-secondary - Secondary
// .badge-accent - Accent
// .badge-success - Success
// .badge-info - Info
// .badge-warning - Warning
// .badge-danger - Danger
//
// Markup: badge-variation.twig
//
// Weight: 1
//
// style guide: atoms.badge.variations

.badge {
  border-radius: $badge-border-radius;
  color: $badge-color;
}

.socialblue--sky .main-container {
  .badge {
    border-radius: $border-radius-extra;
    white-space: inherit;
    text-align: left;

    @include for-desktop-up {
      margin-right: 12px;
    }
  }

  .teaser__badge {
    color: $default-color;
    background: transparent;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
    }
  }
}

.badge__icon {
  fill: $default-color;

  .socialblue--sky & {

    path {
      stroke: $default-color;
      fill: $default-color;
    }

    &.badge__user-orange {
      height: 11px;
    }
  }
}

.badge--pill {
  @include border-radius($badge-pill-border-radius);
}

.badge-default {
  @include badge-variant($badge-default-bg, $default-color);
}

.badge-primary {
  @include badge-variant($badge-primary-bg, #fff);
}

.badge-secondary {
  @include badge-variant($badge-secondary-bg, #fff);
}

.badge-accent {
  @include badge-variant($badge-accent-bg, $default-color);
}

.socialblue--sky .main-container {
  .badge-accent {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.badge-success {
  @include badge-variant($badge-success-bg, #fff);
}

.badge-info {
  @include badge-variant($badge-info-bg, #fff);
}

.badge-warning {
  @include badge-variant($badge-warning-bg, #fff);
}

.badge-danger {
  @include badge-variant($badge-danger-bg, #fff);
}

a .badge-default {
  color: $default-color;

  &:hover {
    color: $default-color;
  }
}