.breadcrumbs-wrapper {
  height: 20px;
  width: 100%;
  background: white;

  @include MQ($small) {
    color: rgba($grey-dark-1, 0.7);
    height: 56px;
    line-height: 56px;
  }

}

.breadcrumb {

  @include MQ($small) {
    color: rgba($grey-dark-1, 0.7);
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

}

.breadcrumb:before {
    content: '\E5CC';
    color: rgba($grey-dark-1, 0.7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}

.breadcrumb:first-of-type:before{
  display: none
}

.breadcrumb:last-child {
  color: $grey-dark-1;
}
