input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: inherit;
}

button:focus {
  outline: none;
}

// Shared styles
// --------------------------------------------------
.btn {
  display: inline-block;
  padding: $button-padding;
  border-radius: $button-radius;
  text-transform: uppercase;
  font-size: $button-font-size;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  line-height: $button-height;
  border: $button-border;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  transition: .2s ease-out;
  will-change: opacity, transform;

  &:hover {
    @include z-depth-1-half;
  }

  &:active,
  &.active
  &:focus {
		outline: 0;
	}

	&, &:active, &.active {
		&:focus {
			outline: 0;
		}
	}

  &.disabled,
	&[disabled],
	[disabled] & {
		border-color: transparent;
		filter: grayscale(1);
    opacity: 0.6;
		box-shadow: none;
    pointer-events: none;
	}

  i {
    font-size: $button-font-size;
    line-height: inherit;
  }

}

// Button raised
// --------------------------------------------------

.btn-raised {
  @include z-depth-1;
	transition: box-shadow, .15s ease-out;

  &:active, &.active {
    @include z-depth-1-half;
  }

  &.disabled,
  &[disabled],
  .pager .disabled & {
    @include z-depth-0;
  }

}

// Flat button & icon toggle button
// --------------------------------------------------

.btn-flat,
.btn-icon-toggle {
  @include z-depth-0;
	background-color: transparent;
	border-color: transparent;
  -webkit-tap-highlight-color: transparent;

	&:hover,
  &:focus,
  .open .dropdown-toggle & {
		background-color: rgba(12, 12, 12, 0.07);
		border-color: transparent;
		@include z-depth-0;
		color: inherit;
	}

	&:active,
  &.active {
		background-color: rgba(12, 12, 12, 0.25);
		border-color: transparent;
		color: white;
	}

}

.btn-icon-toggle {
	border-radius: 50% !important;
  padding: 0;
  width: 1em;
}

// Floating button
// --------------------------------------------------

.btn-floating {
  width: $button-floating-size;
  height: $button-floating-size;
  padding: 0;
  border-radius: $button-floating-radius;
  font-size: 1.4rem;

  &.btn-large {
    width: $button-floating-large-size;
    height: $button-floating-large-size;
  }
}

.icon-font-loaded .btn-floating i {
  line-height: $button-floating-size;
  font-size: inherit;
  width: inherit;
  text-align: center;
}

.icon-font-loaded .btn-floating.btn-large i {
  line-height: $button-floating-large-size;
}

// button fix
button.btn-floating {
  border: $button-border;
}

// Fixed Action Button
.fixed-action-btn {
  &.active {
    ul {
     visibility: visible;
    }
  }

  &.horizontal {
    padding: 0 0 0 15px;

    ul {
      text-align: right;
      right: 64px;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      left: initial;
      width: 500px; /*width 100% only goes to width of button container */

      li {
        display: inline-block;
        margin: 15px 15px 0 0;
      }
    }
  }

  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;

  ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;

    li {
      margin-bottom: 15px;
    }

    a.btn-floating {
      opacity: 0;
    }
  }
}

// Flat button
.btn-icon-toggle,
.btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: $button-flat-color;
  cursor: pointer;

  &.disabled {
    color: $button-flat-disabled-color;
    cursor: default;
  }

  &.btn-default-light {
    color: $grey-light-1;
  }

}

// Large button
.btn--large {
  font-size: $button-large-font-size;
}

// Block button
.btn--block {
  width: 100%;
  display: block;

  + .btn {
    margin-top: 5px;
  }

}

.btn-raised {

  &.btn--default-dark {
    @extend .style-default-dark;
  }

  &.btn--primary {
    background-color: $primary-color;
    color: white;

    &:hover,
  	&:focus {
      background-color: $primary-color-dark;
    }

  }

  &.btn--secondary {
    background-color: $secondary-color;
    color: white;

    &:hover,
  	&:focus {
      background-color: darken($secondary-color, 15%);
    }

  }

  &.btn--default-bright {
    background-color: white;
    color: $grey-dark-1;

    &:hover,
    &:focus {
      background-color: $grey-light-3;
    }

  }

  &.btn--default {
    background-color: $grey-light-2;
    color: $grey-dark-1;

    &:hover,
    &:focus {
      background-color: $grey-light-1;
    }

  }

}

.btn-flat {

  &.btn--primary {
    color: $primary-color;

    &:hover,
    &:focus {
      color: $primary-color-dark;
    }

  }

  &.btn--default-bright {
    color: white;
  }


}
