// Shared styles
// --------------------------------------------------
.btn {
  font-size: $button-font-size;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: .2s ease-out;
  will-change: opacity, transform;

  + .btn {
    margin-left: 5px;
  }

}

.btn-sm {
  font-size: $button-font-size-small;
}

.btn-accent {
  @include button-variant($btn-accent-color, $btn-accent-bg, $btn-accent-border);
}

.btn-link { // not 100% if this is wise dd 14-04-16
  padding-left: 0;
  padding-right: 0;

  + .btn {
    margin-left: 12px; // default margin + padding-right because it missing on btn-link
  }

  + .btn-sm {
    margin-left: 10px; // default margin + padding-right small because it missing on btn-link
  }
}

// Button raised
// --------------------------------------------------

.btn-raised {
  @include z-depth-1;
	transition: box-shadow, .15s ease-out;

  &:active, &.active {
    @include z-depth-3;
  }

  &.disabled,
  &[disabled],
  .pager .disabled & {
    @include z-depth-0;
  }

}

// Flat button & icon toggle button
// --------------------------------------------------

.btn-flat,
.btn-icon-toggle {
  @include z-depth-0;
	background-color: transparent;
	border-color: transparent;
  -webkit-tap-highlight-color: transparent;

	&:hover,
  &:focus,
  .open .dropdown-toggle & {
		background-color: rgba(0, 0, 0, 0.07);
		border-color: transparent;
		@include z-depth-0;
		color: inherit;
	}

	&:active,
  &.active {
		background-color: rgba(12, 12, 12, 0.25);
		border-color: transparent;
		color: white;
	}

}

.btn-icon-toggle {
	border-radius: 50% !important;
  padding: 0;
  width: 36px;
}

// Floating button
// --------------------------------------------------

.btn-floating {
  width: $button-floating-size;
  height: $button-floating-size;
  padding: 0;
  border-radius: $button-floating-radius;
  font-size: 1.4rem;

  &.btn-large {
    width: $button-floating-large-size;
    height: $button-floating-large-size;
  }
}

// Icons in buttons

.icon-font-loaded .btn i {
  font-size: $button-font-size * 1.143;
  line-height: 33px - ($padding-base-vertical * 2);
}

.icon-font-loaded .btn-floating i {
  line-height: $button-floating-size;
  font-size: inherit;
  width: inherit;
  text-align: center;
}

.icon-font-loaded .btn-floating.btn-large i {
  line-height: $button-floating-large-size;
}

// Fixed Action Button
.fixed-action-btn {
  &.active {
    ul {
     visibility: visible;
    }
  }

  &.horizontal {
    padding: 0 0 0 15px;

    ul {
      text-align: right;
      right: 64px;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      left: initial;
      width: 500px; /*width 100% only goes to width of button container */

      li {
        display: inline-block;
        margin: 15px 15px 0 0;
      }
    }
  }

  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;

  ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;

    li {
      margin-bottom: 15px;
    }

    a.btn-floating {
      opacity: 0;
    }
  }
}

// Flat button
.btn-icon-toggle,
.btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: $button-flat-color;
  cursor: pointer;

  &.disabled {
    color: $button-flat-disabled-color;
    cursor: default;
  }

  &.btn-default-light {
    color: $grey-light-1;
  }

}

.btn-raised {

  &.btn--default-dark {
    @extend .style-default-dark;
  }

  &.btn--secondary {
    background-color: $secondary-color;
    color: white;

    &:hover,
  	&:focus {
      background-color: darken($secondary-color, 15%);
    }

  }

  &.btn--default-bright {
    background-color: white;
    color: $grey-dark-1;

    &:hover,
    &:focus {
      background-color: $grey-light-3;
    }

  }

  &.btn--default {
    background-color: $grey-light-2;
    color: $grey-dark-1;

    &:hover,
    &:focus {
      background-color: $grey-light-1;
    }

  }

}

.btn-flat {
  color: $primary-color;

  &:hover,
  &:focus {
    color: $primary-color;
    background-color: rgba($primary-color, 0.12);
  }

  &.btn--default-bright {
    color: white;
  }


}
