.card-panel {
  transition: box-shadow .25s;
  padding: $card-padding-small;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  border-radius: 10px;
  @include z-depth-1;
  background-color: $card-bg-color;
}

.card {
  position: relative;
  margin: 0 0 24px 0;
  background-color: $card-bg-color;
  @include clearfix;

  @include MQ($small) {
    border-radius: 10px;
    transition: box-shadow .25s;
    background-clip: padding-box;
    @include z-depth-1;
  }

}

.card-head {
  position: relative;
  line-height: 52px;
  min-height: 56px;
  vertical-align: middle;
  border-radius: 10px 10px 0 0;
  @include clearfix;
}

.card-underline .card-head {
  border-bottom: 1px solid $grey-light-2;
}

.card-body {
  padding: $card-padding-small;
  position: relative;
  @include MQ($small) {

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

  }
  
}

.card-head header {
  display: inline-block;
  padding: 11px 24px;
  vertical-align: middle;
  line-height: 17px;
  font-size: 20px;
}

@include MQ($small) {
  a.card:hover {
    @include z-depth-1-half;
  }

}

.card--nodefull {
  @include MQ($medium) {
    padding: (1.5 * $card-padding-medium - 16px) (1.5 * $card-padding-medium);
  }
}


.card__label {
  text-transform: uppercase;
  font-size: 14px;
  color: $grey-dark-1;

  @include MQ($medium) {
    text-align: center;
  }
}

.desktop-card {

  @include MQ($medium) {
    border-radius: 10px;
    transition: box-shadow .25s;
    background-clip: padding-box;
    @include z-depth-1;
  }

}

.card ~ .text-caption {
  margin-top: -15px;
}
