.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-left: 0;
  list-style-type: none;
  background-color: white;
}

.collection__item {
  margin: 0;
  padding: 16px 16px 20px;
  display: block;
  background-color: white;
  line-height: 1.5em;
  border-bottom: 1px solid #e0e0e0;

  &:hover {
    background-color: rgba(0,0,0,.05);
  }

  a {
    display: block;
    transition: .25s;
    color: $primary-color;
  }

  &.avatar {
    min-height: 84px;
    padding-left: 72px;
    position: relative;

    .circle {
      position: absolute;
      width: 42px;
      height: 42px;
      overflow: hidden;
      left: 15px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .title {
    font-size: 16px;
  }

  p {
    margin: 0;
  }

  .secondary-content {
    float: right;
    color: $secondary-color;
  }

  &.avatar .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &:last-child a {
    border-bottom: none;
  }

}

.collection-header {
  background-color: white;
  border-bottom: 1px solid $grey-light-1;
  padding: 10px 20px;
}
