.pagination {
  margin: 30px 0;

  li {
    display: inline-block;
    font-size: 1.2em;
    line-height: 34px;
    min-width: 34px;
    border-radius: 2px;
    text-align: center;
  }

  li a {
    color: $base-color;
    min-width: 34px;
    display: block;
  }

}

.pagination li.active {

  a {
    background-color: $primary-color;
    color: white;
  }

}

.pagination li i {
  font-size: 2.5em;
  vertical-align: middle;
}

.pagination .disabled a {
  cursor: default;
  color: $grey-light-1
}
