.pagination {
  margin: 24px 0;
  display: inline-block;
  padding-left: 0;
  border-radius: 2px;

  .pager__item {
    display: none;

    @include MQ($small) {
      display: inline-block;
    }

    i {
      vertical-align: middle;
    }

  }

  .pager__item--previous,
  .pager__item--next,
  .pager__item.active {
    display: inline-block;

    a {

    }

  }

  a,
  .pager__item > span {
    position: relative;
    float: left; // Collapse white-space
    padding: 0 1em;
    line-height: 34px;
    color: $default-color;
    border-radius: 2px;
    min-width: 36px;
    text-align: center;

    &:hover,
    &:focus {
      background-color: rgba(0,0,0,0.12);
    }
  }

  a span {
    line-height: 1em;
  }

  .active {
    a,
    > span {

      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: white;
        background-color: $primary-color;
        cursor: default;
      }
    }
  }

  .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      cursor: default;
      color: $grey-light-1;
      background-color: rgba(0,0,0,0);
    }
  }
}
