.nav-tabs {
  margin: 0;
  border-bottom: 1px solid $grey-light-2;
  list-style: none;
  @include clearfix;

  &.nav-justified {
    padding: 0;
    width: 100%;
    border-bottom: 0;

    @include MQ($small) {

      li {
        display: table-cell;
        width: 1%;
        float: none;
      }

      a {
        text-align: center;
      }

    }

  }

  &.tabs-center {
    text-align: center;

    li {
      float: none;
      display: inline-block;
    }

  }

  li {
    position: relative;
    display: block;

    @include MQ($small) {
      float: left;
      margin-bottom: -1px;
    }

  }

  .card-underline .card-head & {
    border-bottom: none;
  }

  &.nav-tabs-right {
    @include MQ($small) {
      float: right;
    }
  }

  a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    border: none;
    border-bottom: 2px solid transparent;
    opacity: 0.55;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover,
    &:focus {
	    outline: none;
      background-color: rgba(0,0,0,0.1);
      border-bottom-color: rgba(0,0,0,0.1);
    }

  }

  li.active a {
    border: none;
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
    font-weight: 500;
    background-color: transparent;
    cursor: default;
    opacity: 1;
  }
}

.nav-tabs--xl {
  font-size: 1.2em;
}

.nav-tabs.style-primary,
.style-primary > .nav-tabs,
.nav-tabs.style-secondary,
.style-secondary > .nav-tabs  {

  a {
    color: white;
    opacity: 0.75;
  }

  li.active a {
    border-bottom: 2px solid white;
    color: white;
  }

}


.card-head.nav-tabs,
.card-head > .nav-tabs {
  padding: 0 24px;
  margin: 0;

  &.nav-justified {
    padding: 0;
  }

}

.card-head.nav-tabs > li > a,
.card-head .nav-tabs > li > a {
  line-height: 54px;
  padding-top: 0;
  padding-bottom: 0;
}

// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
    visibility: hidden;
  }
  > .active {
    display: block;
    visibility: visible;
  }
}


// Tabs Left, Right and below
// -------------------------

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
	border: none;
}

// Tab below only
.tabs-below > .nav-tabs {
	border-top: 1px solid $grey-light-2;
  border-radius: 0 0 10px 10px;
}

.tabs-below > .nav-tabs > li {
	margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
	border-bottom: none;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
	border-top-color: rgba(0,0,0,0.1);
	border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a {
	&, &:hover, &:focus {
		border-bottom: none;
		line-height: 50px;
		border-top: 2px solid $primary-color;
	}
}

// Tab left/right
.tabs-left,
.tabs-right {
  display: flex;

  .nav-tabs {
    flex: 1;
  }

  .tab-content {
    padding: $card-padding;
  }
}

.tabs-left > .tab-content,
.tabs-right > .tab-content {
	overflow: auto;
}


.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
	padding-left: 0;
	padding-right: 0;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
	float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
	min-width: 74px;
	margin-right: 0;
}

// Tab left only
.tabs-left > .nav-tabs {
	float: left;
  border-right: 1px solid $grey-light-2;
  border-radius: 10px 0 0 10px;
}

.tabs-left > .nav-tabs > li > a {
	border-bottom: none;
	border-right: 2px solid transparent;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
	border-color: transparent;
	border-right-color: rgba(0,0,0,0.1);
}

.tabs-left > .nav-tabs .active > a {
	&, &:hover, &:focus {
		border-bottom: none;
		border-right: 2px solid $primary-color;
	}
}

// Tab right only
.tabs-right > .nav-tabs {
	float: right;
	border-left: 1px solid #ddd;
  border-radius: 0 10px 10px 0;
}

.tabs-right > .nav-tabs > li > a {
	border-bottom: none;
	border-left: 2px solid transparent;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
	border-color: transparent;
	border-left-color: rgba(0,0,0,0.1);
}

.tabs-right > .nav-tabs .active > a {
	&, &:hover, &:focus {
		border-bottom: none;
		border-left: 2px solid $primary-color;
	}
}
