<nav role="navigation" class="breadcrumbs">
  <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
  <ol class="breadcrumb container">
    <li>
      <a href="#">Home</a>
      <svg class="icon-gray icon-small">
        <use xlink:href="#icon-navigate_next"></use>
      </svg>
    </li>
    <li>
      <a href="#">Overview</a>
      <svg class="icon-gray icon-small">
        <use xlink:href="#icon-navigate_next"></use>
      </svg>
    </li>
    <li class="active"> Detail page</li>
  </ol>
</nav>