@import "settings";

.socialblue--sky {
  .container--navbar {
    max-width: 100%;
  }

  .navbar-fixed-top {
    .navbar-nav {
      @include for-tablet-landscape-up {
        padding-right: 1.625rem;
      }
    }
  }

  .navbar-default {
    .profile {
      > a {
        @include for-tablet-landscape-up {
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }

      img {
        @include for-tablet-landscape-up {
          width: 34px;
          height: 34px;
        }
      }
    }
  }

  &.mode-search {
    .navbar__open-search-block {
      @include for-tablet-landscape-up {
        transform: scale(100);
      }
    }
  }

  .navbar-secondary {
    .navbar-nav {
      li {
        a {
          opacity: 1;
          border-bottom-width: 3px;

          &:hover,
          &:active,
          &:focus {
            background: transparent;
            border-bottom-color: #fff;
            color: #fff;
          }
        }

        &.active {
          a {
            color: #fff;
            border-bottom-color: #fff;
          }
        }
      }
    }
  }
}
