@import "settings";

.socialblue--sky {
  .container--navbar {
    max-width: 100%;
    padding: 0;
  }

  .navbar-fixed-top {
    .navbar-nav {
      @include for-tablet-landscape-up {
        padding-right: 1.625rem;
      }
    }
  }

  &.mode-search {
    .navbar__open-search-block {
      @include for-tablet-landscape-up {
        transform: scale(100);
      }
    }
  }

  .navbar-secondary {
    width: 100%;
    min-height: 44px;
    box-shadow: none;

    .navbar-scrollable {
      width: 100%;
      height: 44px;

      @include for-tablet-landscape-up {
        border-radius: 0 $border-radius-extrasmall 0 0;
        overflow: visible;
      }
    }

    .navbar-nav {
      li {
        a, button {
          padding: 9px 20px 8px;
          opacity: 1;
          border-bottom-width: 3px;

          &:hover,
          &:active,
          &:focus {
            background: transparent;
            border-bottom-color: #fff;
            color: #fff;
          }
        }

        &.active {
          a, button {
            color: #fff;
            border-bottom-color: #fff;
          }
        }
      }
    }
  }

  // Secondary navigation on the user/group pages.
  &.path-user,
  &.path-group {
    .layout--with-complementary {
      .navbar-secondary {
        @include for-tablet-landscape-up {
          flex: 0 0 (100%/1.5);
          max-width: (100%/1.5);
          border-radius: 5px 5px 0 0;
          order: 1;
        }

        .navbar-nav {
          @include for-tablet-landscape-up {
            width: 100%;
            display: table;
            text-align: center;
          }

          li {
            @include for-tablet-landscape-up {
              display: table-cell;
              position: relative;
            }
          }

          @include for-tablet-landscape-up {
            .caret {
              position: absolute;
              top: 50%;
              right: 15px;
              border-width: 6px 6px 0;
              border-top-color: #fff;
              transform: translateY(-50%);
              cursor: pointer;

              &.active {
                transform: translateY(-50%) rotate(180deg);
              }
            }

            .visible-list {
              display: flex;
              height: 44px;
              align-items: center;
              justify-content: center;
              padding: 0 25px;

              a {
                display: block;
              }
            }

            .hidden-list {
              display: none;
              position: absolute;
              top: 100%;
              right: 0;
              padding: .5rem 0 .75rem;
              background: #fff;
              z-index: 10;
              border-top-left-radius: 0 !important;
              border-top-right-radius: 0 !important;

              li {
                display: block;
                text-align: left;

                a, button {
                  display: block;
                  width: 100%;
                  padding: .5rem 2rem;
                  color: #9b9b9b;

                  &:focus {
                    background: transparent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
