@import "settings";

.nav > li {

  > a:hover,
  > a:focus {
    background-color: $nav-link-hover-bg;
  }

  &.disabled > a {
    color: $nav-disabled-link-color;

    &:hover,
    &:focus {
      color: $nav-disabled-link-hover-color;
    }

  }

}

// Default navbar
.navbar-default {
  background-color: $navbar-default-bg;

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;
      fill: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        fill: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }

    > .active > a,
    > .active > a:hover,
    > .active > a:focus,
    > li > a.is-active,
    > li > a.is-active:hover,
    > li > a.is-active:focus {
      color: $navbar-default-link-active-color;
      fill: $navbar-default-link-active-color;
      background-color: $navbar-default-link-active-bg;
    }

    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        fill: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  // Links within the dropdown menu
  .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    > li > a {

      &:hover,
      &:focus {
        background-color: $dropdown-link-hover-bg;
      }

      &.is-active {
        background-color: $navbar-default-dropdown-link-active-bg;
        color: $navbar-default-dropdown-link-active-color;
        font-weight: 500;

        &:hover,
        &:focus {
          cursor: default;
        }
      }
    }
  }


  .navbar-toggle {
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }

  }

  .navbar-collapse {
    border-color: $navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @include for-phone-only {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

}

@include for-tablet-landscape-down {
  .navbar-collapse .dropdown-menu li a {
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: $brand-secondary;
    }

  }

  .navbar-default .navbar-nav .open .dropdown-menu {

    > li > a {
      color: $dropdown-link-color;
      &:hover,
      &:focus {
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-active-color;
        background-color: $dropdown-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-color;
        background-color: $dropdown-link-disabled-color;
      }
    }

  }

}

.navbar-default .dropdown img {
  border-radius: 50%;
}

.navbar-default .profile img {
  border: 2px solid white;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.navbar-search {

  .form-group {
    border-radius: $input-border-radius;
  }

  .form-submit {
    border-radius: 0 $input-border-radius $input-border-radius 0;
  }

}

.navbar__open-search-block {
  background: rgba($navbar-default-bg, 0.95);
}

.navbar-nav__icon {
  fill: $navbar-default-link-color;
}

@include for-tablet-landscape-up {

  .search-take-over .form-text {
    color: $navbar-default-link-color;

    &:focus {
      border-color: $navbar-default-link-color;
      box-shadow: 0 2px 0 0 $navbar-default-link-color;
    }

  }

}

// Navbar secondary
// -------------------------
.navbar-secondary {
  background-color: $brand-secondary;

  .navbar-nav {

    a {
      color: #fff;
    }

    li.active a {
      border-bottom-color: #fff;
    }

    li:not(.active) a:hover,
    li:not(.active) a:focus {
      outline: none;
      background-color: rgba(0,0,0,0.3);
      border-bottom-color: rgba(0,0,0,0.3);
    }
  }
}

// Navbar scrollable
// -------------------------
.navbar-scrollable:after {
  background: linear-gradient(to right, rgba($brand-secondary,0), rgba($brand-secondary,1));
}
