@import "settings";

.nav > li {

  > a:hover,
  > a:focus {
    background-color: $nav-link-hover-bg;
  }

  &.disabled > a {
    color: $nav-disabled-link-color;

    &:hover,
    &:focus {
      color: $nav-disabled-link-hover-color;
    }

  }

}

.navbar-toggle {
  border-radius: $border-radius-base;
}

// Default navbar
.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;

    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;
      fill: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        fill: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        fill: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }

    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        fill: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  // Links within the dropdown menu
  .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    > li > a {

      &:hover,
      &:focus {
        background-color: $dropdown-link-hover-bg;
      }

      &.is-active {
        background-color: $navbar-default-dropdown-link-active-bg;
        color: $navbar-default-dropdown-link-active-color;
        font-weight: 500;
      }
    }
  }

  // Active state
  .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      background-color: $dropdown-link-active-bg;
      color: $dropdown-link-active-color;
    }
  }

  .navbar-toggle {

    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }

  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @include for-phone-only {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

}

@include for-tablet-landscape-down {
  .navbar-collapse .dropdown-menu li a {
    color: white;

    &:hover,
    &:focus {
      background-color: $brand-secondary;
    }

  }

  .navbar-default .navbar-nav .open .dropdown-menu {

    > li > a {
      color: $dropdown-link-color;
      &:hover,
      &:focus {
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-active-color;
        background-color: $dropdown-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-color;
        background-color: $dropdown-link-disabled-color;
      }
    }

  }

}

.navbar-brand {
  background: $navbar-default-brand-bg;
}

.navbar-form[role='search'] {

  .form-group {
    border-radius: $input-border-radius;
  }

  .form-submit,
  .search-icon {
    border-radius: 0 $input-border-radius $input-border-radius 0;
  }

  .search-icon {
    fill: $brand-primary;
    background: white;
  }

  @include for-tablet-landscape-up {

    .form-control {
      background: white;
    }

    .form-submit {
      background: white; // IE needs this
    }

    .search-icon {
      border-radius: 0;
      background: $navbar-default-bg;
      fill: white;
    }

  }

}

#navbar-search.is-open,
.no-js #navbar-search {

  .search-icon {
  	background: white;
  	fill: $brand-primary;
    border-radius: 0 $input-border-radius $input-border-radius 0;
  }

}

// Navbar secondary
// -------------------------
.navbar-secondary {
  background-color: $brand-secondary;

  .navbar-nav {

    li:not(.active) a:hover,
    li:not(.active) a:focus {
      outline: none;
      background-color: darken($brand-secondary, 10%);
      border-bottom-color: darken($brand-secondary, 10%);
    }
  }
}

// Navbar scrollable
// -------------------------
.navbar-scrollable:after {
  background: linear-gradient(to right, rgba($brand-secondary,0), rgba($brand-secondary,1));
}
