@import "settings";

.socialblue--sky {

  .search-take-over .form-submit {
    padding: 0;
  }

  @include for-tablet-landscape-up {
    &.mode-search .navbar__open-search-block {
      transform: scale(100);
    }
  }

  .nav > li {

    > a {
      line-height: 23px;
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  // Container navbar
  .container--navbar {

    max-width: 100%;
    flex-wrap: wrap;

    @include for-tablet-landscape-up {
      padding-left: 0;
      padding-right: 30px;
    }

    .navbar--left {
      flex: 0 0 auto;
      max-width: inherit;

      @include for-tablet-landscape-down {
        display: none;
      }
    }

    .navbar--right {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;

      .navbar-header {
        @include for-tablet-landscape-up {
          display: none;
        }
      }
    }
  }

  // Default navbar
  .navbar-default {
    @include for-tablet-landscape-up {
      min-height: 50px;
    }

    .navbar-nav {
      > li > a {
        padding-top: 14px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .navbar-collapse {
      max-height: 50px;

      @include for-tablet-landscape-down {
        flex: 0 0 100%;
        max-width: 100%;
        max-height: inherit;
      }
    }
  }

  .navbar-default .profile img {
    width: 36px;
    height: 36px;
    margin-top: -7px;

    @include for-tablet-landscape-down {
      width: 24px;
      height: 24px;
      margin-top: 0;
    }
  }

  .navbar-nav__icon--search {
    top: 16px;
  }

  .navbar-nav__icon {
    width: 21px;
    height: 21px;
  }

  // Navbar secondary
  // -------------------------

  &.path-search {
    .navbar-secondary {
      border-radius: 0;
    }
  }

  .navbar-secondary {
    min-height: 44px;
    box-shadow: none;

    @include for-tablet-landscape-up {
      border-radius: $border-radius-extrasmall $border-radius-extrasmall 0 0;
    }

    .navbar-nav {
      font-size: .875rem;

      a {
        opacity: .6;
        border: none;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 11px;
        padding-bottom: 10px;

        @include for-desktop-up {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      li.active a {
        position: relative;
        opacity: 1;
        border: none;
        color: #fff;

        &:after {
          content: '';
          position: absolute;
          height: 3px;
          bottom: 0;
          right: 20px;
          left: 20px;
          background: #fff;
        }

        li:not(.active) a:hover,
        li:not(.active) a:focus {
          opacity: 1;
        }
      }
    }
  }

  // If page has side bar.
  .layout--with-complementary {
    .navbar-scrollable {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 44px;

      @include for-tablet-landscape-up {
        border-radius: 0 $border-radius-extrasmall 0 0;
        overflow: visible;
      }

      @include for-tablet-landscape-down {
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 24px;
          height: 100%;
          top: 0;
          right: 0;
          z-index: 2;
        }

        .navbar-nav {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          user-select: none;
          overflow-x: scroll;
          overflow-y: hidden;
          display: flex;
          text-align: center;
          justify-content: flex-start;
        }
      }

      .navbar-nav {
        width: 100%;
        display: table;
        text-align: center;

        @include for-tablet-landscape-up {
          position: relative;
        }

        > li {
          display: table-cell;
        }

        li a {
          @media(max-width: 1199px) {
            padding-left: 14px;
            padding-right: 14px;
          }
        }

        @include for-tablet-landscape-up {
          .caret {
            position: absolute;
            top: 50%;
            right: 15px;
            border-width: 6px 6px 0;
            border-top-color: #fff;
            transform: translateY(-50%);
            cursor: pointer;
          }

          .visible-list {
            display: flex;
            height: 44px;
            align-items: center;
            justify-content: center;
            padding: 0 25px;

            a {
              display: block;
              padding-top: 14px;
              padding-bottom: 13px;
            }
          }

          .hidden-list {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            padding: .5rem 0 .75rem;
            background: #fff;
            z-index: 10;
            border-radius: 0 0 $border-radius-extrasmall $border-radius-extrasmall;
            box-shadow: 0 2px 4px #4a4a4a;

            li {
              display: block;
              text-align: left;

              a {
                display: block;
                width: 100%;
                padding: .5rem 2rem;
                color: #9b9b9b;

                &:hover {
                  color: orange;
                }
              }
            }
          }
        }
      }
    }
  }

  // Navbar scrollable
  // -------------------------
  .navbar-scrollable {
    @include for-phone-only {
      height: 44px;
    }
  }

  .navbar-header {
    display: inline-block;
  }

  // Navbar brand
  // -------------------------
  .navbar-brand {
    padding: 0;
    max-width: 370px;
    height: 50px;

    > img {
      height: 50px;
    }
  }

  // Navbar fixed top
  // -------------------------
  .navbar-fixed-top {
    .navbar-nav {
      @include for-tablet-landscape-up {
        padding-left: 17px;
      }
    }
  }

  // Navbar user
  // -------------------------
  .navbar-user  {
    max-height: 50px;
    display: flex;
    justify-content: flex-end;

    .navbar-nav {
      padding-right: 0;

      @include for-tablet-landscape-up {
        margin: 0 -12px;
      }

      > li {

        > a {
          @include for-tablet-landscape-up {
            padding-left: 12px;
            padding-right: 12px;
          }
        }
      }
    }
  }
}
