@import 'init';

@import 'contrib/bootstrap/buttons';
@import "contrib/bootstrap/button-groups";
@import "contrib/bootstrap/close";

// Buttons
// --------------------------------------------------
.btn {
  font-size: $button-font-size;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: .3s ease-out;
  will-change: opacity, transform;

  + .btn {
    margin-left: 5px;
  }

  + .btn-block {
    margin-left: 0;
  }

  .caret {
    margin-left: 3px;
  }

  // override bootstrap default
  &:active,
  &.active {
    @include box-shadow(none);
  }

  &:focus,
  &:active:focus,
  &.active:focus {
    outline: 0;
  }

}

.btn.pull-right + .btn {
  margin-left: 0;
}


// Styles
.btn-xs {
  font-size: 0.675rem;
  padding: 2px 10px;
}

.btn-sm {
  font-size: $button-font-size-small;

  .glyphicon:before {
    width: 13px;
    height: 13px;
  }
}

.btn-lg {
  font-size: $button-font-size-large;
}

// Styles
.btn-default {
  fill: $default-color;
}

.btn-accent {
  @include button-variant($btn-accent-color, $btn-accent-bg, $btn-accent-border);
  fill: $btn-accent-color;
}

.btn-iconized {
  line-height: 12px;

  .icon-inline {
    fill: inherit;
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

}

// Button raised
// --------------------------------------------------

.btn-raised {
  @include z-depth-1;
	transition: box-shadow, .15s ease-out;

  &:active,
  &.active,
  &:hover {
    @include z-depth-3;
  }

  &.disabled,
  &[disabled] {
    @include z-depth-1;
  }

}

// Flat button & icon toggle button
// --------------------------------------------------

.btn-flat {
  @include z-depth-0;
	background-color: transparent;
	border-color: transparent;
  -webkit-tap-highlight-color: transparent;
  @include button-variant($brand-primary, transparent, transparent);
  fill: $brand-primary;

	&:hover,
  &:focus,
  .open .dropdown-toggle & {
		background-color: rgba(0, 0, 0, 0.12);
		border-color: transparent;
		@include z-depth-0;
		color: inherit;
    fill: darken($brand-primary, 10%);

    .icon-inline {
      fill: $default-color;
    }
	}

	&:active,
  &.active {
		background-color: rgba(12, 12, 12, 0.25);
		border-color: transparent;
		color: white;
	}

}

.btn-icon-toggle {
  background-color: transparent;
	border-radius: 50% !important;
  padding: 4px;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.07);
		border-color: transparent;
  }

  &:active,
  &.active {
    background-color: rgba(12, 12, 12, 0.25);
    border-color: transparent;
  }

}

// Floating button
// --------------------------------------------------

.btn-floating {
  width: $button-floating-size;
  height: $button-floating-size;
  padding: 7px; //assuming the icon is 24px / medium
  border-radius: $button-floating-radius;
  border: 0;
  @include z-depth-2;

  &:active,
  &.active,
  &:hover {
    @include z-depth-4;
  }

  &.btn-lg {
    width: $button-floating-large-size;
    height: $button-floating-large-size;
  }

  &.disabled,
  &[disabled] {
    @include z-depth-2;
  }

}

// Icons in buttons

.btn-icon {
  font-size: $button-font-size * 1.143;
  line-height: 33px - ($padding-base-vertical * 2);
  height: 33px - ($padding-base-vertical * 2);
  width: 33px - ($padding-base-vertical * 2);
  vertical-align: bottom;
}

.btn-group.open .dropdown-toggle {
  @include box-shadow(none);
}

.btn-non-clickable {
  pointer-events: none;
}

//
// Button groups
//
