<div class="card teaser">

  <div class="teaser__image" >

    <div class="teaser__teaser-type">
      <svg class="teaser__teaser-type-icon">
        <use xlink:href="#icon-topic"></use>
      </svg>
    </div>

    <a href="#">
      <img src="kss-assets/content/images/people3-square.jpg" alt="" class="img-responsive">
    </a>

  </div>

  <div class="teaser__body">
    <div class="teaser__content">

      <h4 class="teaser__title"> <a href="#">Teaser title</a></h4>

      <div class="teaser__content-line">
        <svg class="teaser__content-type-icon">
          <use xlink:href="#icon-account_circle"></use>
        </svg>
        <div class="teaser__content-text">
          <div class="teaser__published">
            <div class="teaser__published-author">
              <a title="View user profile." href="#">Michelle Clark </a>
            </div>
            <div class="teaser__published-date"> &bullet; 29 Jan 2017 </div>
          </div>
        </div>
      </div>

      <div class="teaser__content-line">
        <svg class="teaser__content-type-icon">
          <use xlink:href="#icon-event"></use>
        </svg>
        <div class="teaser__content-text">Blog</div>
      </div>

      <div class="teaser__content-line">
        <svg class="teaser__content-type-icon">
          <use xlink:href="#icon-group"></use>
        </svg>
        <div class="teaser__content-text">Open Social Developers</div>
      </div>

    </div>

    <div class="card__actionbar">

      <a href="#" class="badge badge--comment-count teaser__badge">
        <label>
          <svg class="icon-small icon-badge">
            <use xlink:href="#icon-comment"></use>
          </svg>
          <span class="badge--comment-count__number">6</span>
        </label>
      </a>

      <div class="badge badge--toggle teaser__badge">
        <label title="The visibility of this content is set to public">
          <input type="checkbox">
          <svg class="icon-gray icon-badge-toggle">
            <use xlink:href="#icon-public"></use>
          </svg><span class="badge--toggle__label">public</span>
        </label>
      </div>

      <a href="#" class="card__link">Read more</a>
    </div>

  </div>


</div>