@import 'settings';

.card--teaser {
  display: flex;
  flex-wrap: wrap;
  @include MQ($small) {
    flex-wrap: nowrap;
    height: 220px; // matches width of image
  }

  .card-image {
    width: 100%;
    > img, > a, .status {
      display: none;
    }

    @include MQ($small) {
      display: block;
      height: 220px;
      flex: 0 0 220px;
      position: relative;
      overflow: hidden;
      width: auto;
      padding-top: 0;

      img, .status {
        display: block;
      }

      a {
        display: block;
      }

    }
  }

  .card-image-avatars {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    img {
      flex: 0 1 110px;
      width: 110px;
    }
  }

  .teaser-type {
    top: 0;
    height: auto;
    pointer-events: none;
    width: 30px;
    height: 30px;
    padding: 6px;
    left: 20px;
    position: relative;
    margin-bottom: -10px;

    .teaser-type-icon {
      width: 18px;
      height: 18px;
      display: table;
    }

    @include MQ($small) {
      position: absolute;
      margin-bottom: 0;
      left: 0;
      width: 44px;
      height: 44px;
      padding: 12px;
    }
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 20px;
    max-height: 2.2em;
    overflow: hidden;
  }

  .card-body {
    flex: 1 1 auto;
  }

}

.teaser-icon {
  width: 14px;
  height: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: $gray;
  margin-right: 12px;
}

// Unpublished teaser states

@include MQ($small) {

  .unpublished .status {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    top: 0;
    padding-top: 185px;
    left: 0;
    z-index: 2;
    font-weight: 300;

    &:before {
      display: block;
      position: absolute;
      content: '';
      background-image: linear-gradient(rgba(0,0,0,0.00) 40%, rgba(0,0,0,0.1) 70%, rgba(34,34,34,0.5) 100%);
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  }

}

.teaser-published {
  display: inline-flex;
  width: calc(100% - 30px);
}

.teaser-published__author {
  flex: 0 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 4px;
}

.teaser-published__date {
  flex: 1 1 auto;
}
