// Teaser
//
// A teaser is a concept in  Drupal.
//
// > A teaser is a short piece of text, usually the first paragraph
// > or two of an article. This text is then displayed in most lists,
// > including the default home page (/node). Many modules (including Views)
// > are designed to work with node teasers, and the concept of a "teaser"
// > vs the node "body" is integral to the workings of Drupal core and the Drupal UI.
//
// The teaser can have image but it is not mandatory.
// Teasers can have one or two buttons (of type flat) which are in the actionbar.
// Content hierarchy is achieved by the order of fields and the use of typography.
// Try to limit the amount of information and actions in a teaser.
// On mobile the image field is not displayed. On tablet and wider
// the maximum height of the teaser should match the heigth of the `image_style`.
//
// markup: teaser.twig
//
// Weight: 3
//
// Style guide: molecules.teaser
// Teaser unpublished
//
// markup: teaser-unpublished.twig
//
// Weight: 1
//
// Style guide: molecules.teaser.unpublished
@import 'settings';

// teaser item in an overview
.teaser {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @include for-tablet-portrait-up {
    flex-wrap: nowrap;
    height: 220px; // matches width of image
  }

}

// parent of the <img> element
.teaser__image {
  width: 100%;
  display: none;

  @include for-tablet-portrait-up {
    display: block;
    height: 220px;
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 0;
  }
}

// Icon parent to recognise type of teaser in for example the search results
.teaser__teaser-type {
  top: 0;
  width: 30px;
  height: 30px;
  padding: 6px;
  left: 20px;
  position: relative;
  margin-bottom: -10px;

  @include for-tablet-portrait-up {
    position: absolute;
    margin-bottom: 0;
    left: 0;
    width: 44px;
    height: 44px;
    padding: 12px;
  }
  .no-image & {
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

}

// Icon to recognise type of teaser in for example the search results
.teaser__teaser-type-icon {
  width: 18px;
  height: 18px;
  display: table;
  .no-image & {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    fill: #4d4d4d;
  }
}

// Title of the teaser
.teaser__title {
  margin-top: 0;
  margin-bottom: 20px;
  max-height: 2.2em;
  overflow: hidden;
}

// Body of the teaser, contains the content and the actionbar. Shown on the right side next to the image
.teaser__body {
  flex: 1;
  display: flex;
  overflow: hidden; // makes sure content doesn't continue outside of teaser
  flex-direction: column;
}

// Content of the teaser
.teaser__content {
  flex: 1;
  padding: 20px;
  position: relative;
}

// A line of content giving information about the content.
.teaser__content-line {
  display: flex;
  max-width: 100%;
  font-size: 0.875rem;
}

// Describes the type of content such as a blog, news, group or user icon.
.teaser__content-type-icon {
  width: 14px;
  height: 14px;
  flex: 0 0 14px;
  line-height: 21px;
  margin-top: 3px; // vertical alignment
  fill: $gray;
  margin-right: 12px;
}

// Will always be cut off after one line
.teaser__content-text {
  line-height: 21px;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

// Custom styling for publication info of a node, because it needs to be combined at one line next to the content type icon
.teaser__published {
  display: flex;
  min-width: 0; // critical to prevent children from growing
}

// The author name should be able to truncate when the space is limited
.teaser__published-author {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// The published date should be shown completely when the space is limited
.teaser__published-date {
  flex-shrink: 0;
  margin-right: 4px;
}

// Reset margin so the items in the actionbar are vertically aligned.
.teaser__badge {
  margin-bottom: 0;
  vertical-align: middle;
}

// Unpublished teaser states
@include for-tablet-portrait-up {

  .teaser--unpublished .status {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    top: 0;
    padding-top: 185px;
    left: 0;
    z-index: 2;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);

    &:before {
      display: block;
      position: absolute;
      content: '';
      background-image: linear-gradient(rgba(0, 0, 0, 0.00) 40%, rgba(0, 0, 0, 0.1) 70%, rgba(34, 34, 34, 0.5) 100%);
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  }

}

.teaser--unpublished {
  .teaser__title {
    padding-right: 110px;
    @include for-tablet-portrait-up {
      padding-right: 130px;
    }
  }
}
