{#
/**
 * @file
 * Default theme implementation to present a list of available bundles.
 *
 * Available variables:
 *   - bundles: A list of bundles, each with the following properties:
 *     - label: Bundle label.
 *     - description: Bundle description.
 *     - add_link: Link to create an entity of this bundle.
 *   - add_bundle_message: The message shown when there are no bundles. Only
 *                         available if the entity type uses bundle entities.
 *
 * @see template_preprocess_entity_add_list()
 *
 * @ingroup themeable
 */
#}
{% if bundles is not empty %}
  <div class="card">
    <div class="card__block">
      {% for bundle in bundles %}
        <dl class="list-item list-item--withlabel">
          <dt class="list-item__label"><span class="btn btn-link">{{ bundle.add_link }}</span></dt>
          <dd class="list-item__text">{{ bundle.description }}</dd>
        </dl>
      {% endfor %}
    </div>
  </div>
{% elseif add_bundle_message is not empty %}
  <div class="list-item"> {{ add_bundle_message }} </div>
{% endif %}
