{{ attach_library('socialbase/file') }}
<section class="card-files">
  <h5 class="card-files__title">{{ "Files"|t }}</h5>
  <ul class="card-files__grid">
    {% for item in items %}
      <li class="card-file"> >{{ item.content }}</li>
    {% endfor %}
  </ul>
</section>
