<section class="card-files">
  <h5 class="card-files__title">{{ "Files"|t }}</h5>
  <ul class="card-files__grid">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </ul>
</section>
