{% if part_of_teaser %}

  {% for item in items %}
    {{ item.content|render|striptags }}
  {% endfor %}

{% else %}

  <div class="body-text clearfix">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>

{% endif %}
