{% if part_of_teaser %}

  {% for item in items %}
    {{ item.content|render|striptags }}
  {% endfor %}

{% else %}

  {% if not label_hidden %}
    {%
      set title_classes = [
      'field--label',
      label_display == 'visually_hidden' ? 'sr-only',
    ]
    %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
  <div class="body-text clearfix">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>

{% endif %}
