{% if part_of_teaser %}

  {% for item in items %}
    {% set body %}
      {{ item.content }}
    {% endset %}
    {{ body|striptags|length > 75 ? body|striptags|slice(0, 75) ~ '...' : body|striptags }}
  {% endfor %}

{% else %}

  <div class="clearfix">
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>

{% endif %}
