<div class="teaser__teaser-type">
  <svg class="teaser__teaser-type-icon">
    <use xlink:href="/{{ path_to_socialbase }}/assets/icons/icons.svg#icon-{% block card_teaser_type %} {% endblock %}"></use>
  </svg>
</div>
