<div class="text-truncate">
  <svg class="teaser-icon">
      <use xlink:href="#icon-{% block field_icon %}label{% endblock %}"></use>
  </svg>
  <span class="inline-center">
    {% block field_value %} {% endblock %}
  </span>
</div>
