{#
/**
 * @file post.html.twig
 * Default theme implementation to present Post data.
 *
 * This template is used when viewing Post pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_post()
 *
 * @ingroup themeable
 */
#}
<div class="card__block social_follow_tax">
  <p><strong>{{ tagstitle }}</strong></p>

  <div class="group-action-wrapper">
    {% for tag in tags %}
      <div class="group-action">
        <a class="badge badge-default badge--large badge--pill btn-action__term{% if(tag.follow) %} term-followed{% endif %}" href="#">
          {{ tag.name }}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
            <g>
              <g>
                <path fill="#4d4d4d" d="M6.003 9.078l3.605 2.175-.956-4.1 3.185-2.76-4.194-.356L6.003.17 4.364 4.037.17 4.393l3.185 2.76-.957 4.1z"/>
              </g>
            </g>
          </svg>
        </a>
        {{ tag.popup }}
      </div>
    {% endfor %}
  </div>
</div>
