{#
/**
 * @social-tagging-popup.html.twig
 * Default theme implementation to present follow taxonomy popup.
 *
 * This template is used when viewing follow tag block.
 *
 *
 * Available variables:
 * - url: Lisk to search page with related entities.
 * - name: Taxonomy term name.
 * - action_label: The link title from taxonomy term.
 * - action_url: The link url from taxonomy term.
 * - flag: Link to follow/unfollow tag.
 * - followers_count: Countt of users tthat follow that tag.
 * - related_entity_count: Count of related entities.
 *
 * @ingroup themeable
 */
#}

{% set url_string = action_url ?? url %}
{% set action_label = action_label ?? 'Explore tag'|t %}

<div class="popup-info">
  <div class="card teaser">
    <div class="teaser__body">
      <div class="teaser__content">
        <h4 class="teaser__title">
          {{ name }}
        </h4>

        <div class="teaser__related-content">
          {% if followers_count %}
            <span class="teaser__followers-count">
              {% trans %} <b>1</b> follower {% plural followers_count %} <b>@count</b> followers{% endtrans %}
            </span>
          {% endif %}
          {% trans %} <b>1</b> item {% plural related_entity_count %} <b>@count</b> items{% endtrans %}
        </div>

        <div class="actions">
          {{ flag }}
          <a href="{{ url_string }}" class="btn btn-default">{{ action_label }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
