<div{{ attributes }}>
  <div class="term-followers-wrapper margin-bottom-m">
    <div class="term-followers-name">
      <div class="group-action-wrapper">
        <div class="group-action">
          <a href="#" class="btn-action__term">{{ name.0 }}</a>
          {{ popup }}
        </div>
      </div>
    </div>
    <div class="term-followers-count">{{ elements.follower_count }}</div>
  </div>
</div>
