<div class="form-group">
  <label class="control-label" for="exampleMultiSelect1">{{ label }}</label>
  {% if required == true %}<span class="form-required">*</span>{% endif %}
  <select multiple id="exampleMultiSelect1" required class="form-control">
    {% for user in users %}
      <option value="{{ user|lower }}">{{ user }}</option>
    {% endfor %}
  </select>
  <div class="help-block">{{ help_text }}</div>
</div>