@import 'init';

@import 'contrib/bootstrap/dropdowns';

.dropdown-menu {
  font-size: 0.875rem;
  border-radius: 0;
  max-width: 500px;
  border: 0;

  li > a {
    padding: 8px 10px;
    font-weight: 300;
    display: block;
    clear: both;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    overflow: hidden;
    text-overflow: ellipsis;

    @include MQ($small) {
      padding: 4px 10px 4px 15px;
    }

  }

  .divider {
    margin: 6px 0;
  }

  .media {
    min-width: 250px;
  }

  .media-left {

    @include MQ($small) {
      padding-right: 8px;
    }

    img {
      vertical-align: top;
    }

  }

  .media-body a {
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }

  &.dropdown-md {
    min-width: 240px;
    right: -70px;

    @include MQ($small) {
      right: 0;
    }
  }
}

.dropdown {

  &.profile .header-nav-current-user {
    padding: 4px 15px 0;
  }

  .list-group-item:last-child {
    border-bottom: 0;
    border-radius: 0;
  }

  .list-group-item {

    &:hover {
      background-color: $gray-light;
      border-color: $gray-light;
      cursor: pointer;
      color: white;

      .help-block {
        color: white;
      }

    }

    label {
      cursor: pointer;
      font-weight: 500;

      .help-block {
        font-weight: 300;
      }

    }

    .help-block {
      margin: 0;
    }

    &.active {
      pointer-events: none;

      .help-block {
        color: white;
      }
    }

  }

  .form-group {
    margin: 0;
  }

}


.dropdown-header {
  padding: 7px 20px;
  background: $dropdown-header-bg;
}

.dropdown-toggle + ul > li > svg {
  margin-right: 10px;
}

.scrollable-menu {

  // heights of navbar-fixed, dropdown padding, dropdown-header (2x), dividers (2x) not to be subtracted to get accurate height
  height: calc(100vh - 148px);

  overflow-x: hidden;
  list-style-type: none;
  padding: 0;
  margin: 0;

  // When the screen is taller, the dropdown can be taller
  @include MQH($small, $small) {
    height: auto;
    max-height: 450px;
  }

  li {
    margin: 2px 0;
  }

  p {
    margin-bottom: 0;
  }
}
