img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  @include img-responsive;
}

.img-bordered {
  border: 3px solid white;
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}

img.align-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

img.align-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Image sizes for in posts and streams
.img-medium {
  width: 44px;
  height: 44px;
}

// Image sizes for in navbar
.img-small {
  width: 24px;
  height: 24px;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $padding-large-vertical;

  img {
    margin: 3px;
  }
}
