.card.card--teaser.card-with-actionbar
  a.card-image(href="event.html")
    .teaser-type
      img(src='images/icons/icon-event.svg', alt='Event')
    img.img-responsive(src="content/images/people3-square.jpg")
  .card-body
    h4.card-title 
      a(href="event.html") Security and modern internet
    p.text-grey-dark.no-margin
      i.material-icons event
      | &nbsp;
      span.inline-center 19 jul 09:00 - 18:00
      | &nbsp; 
    p.text-grey-dark.no-margin
      i.material-icons place
      | &nbsp;
      span.inline-center Keizersgracht 376, Amsterdam
    .card-actionbar
      .actionbar
        .badge.badge-gray-lighter.badge--toggle
          label
            input(type='checkbox')
            i.material-icons public
            span.badge--toggle__label public
        unless user == "isAnonymous"
          span.label.label-default enrolled
      a.btn.btn-flat.pull-right(href="event.html") Read more
