.card.card--teaser.card-with-actionbar.unpublished
  a.card-image(href="event.html")
    .teaser-type
      svg.icon-white.icon-responsive
        use(xlink:href='#icon-event')
    img.img-responsive(src="content/images/people3-square.jpg")
    .status unpublished
  .card-body
    h4.card-title 
      a(href="event.html") Team conference East
    .text-gray.text-truncate
      svg.icon-gray.icon-small
        use(xlink:href='#icon-event')
      | &nbsp;
      span.inline-center 28 Aug 10:00 - 12:00 
      | &nbsp; 
    .text-gray.text-truncate
      svg.icon-gray.icon-small
        use(xlink:href='#icon-location')
      | &nbsp;
      span.inline-center Old Market, Groningen
    .card-actionbar
      .actionbar
        .badge.badge-gray-lighter.badge--toggle
          label
            input(type='checkbox')
            svg.icon-gray-light.icon-badge-toggle
              use(xlink:href='#icon-public')
            span.badge--toggle__label public
        unless user == "isAnonymous"
          span.label.label-default enrolled
      a.btn.btn-flat.pull-right(href="event.html") Read more
