tr
  td
    .media.media-middle
      .media-left
        a(href="other-stream.html")
          img.img-medium.img-circle(src="content/images/member-table-view-2.jpg")
      .media-body
        h6.list-group-item-heading.no-margin
          a(href="other-stream.html") Getrud van Assen
  td Social worker at Greenvalley
  td Member
  td
    .links.btn-group.pull-right.text-nowrap
      button.btn-md.button.js-form-submit.btn-raised.form-submit.btn-default.btn(type="submit", value="Edit") Edit
      button.btn-default.btn-md.btn.btn-raised.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu(role="menu")
        li
          a(href="#") Delete
