tr
  td
    .media.media-middle
      .media-left
        a(href="my-stream.html")
          img(src="content/images/member-table-view-5.jpg")
      .media-body
        a(href="my-stream.html") John Johnson
  td Receptionist at Bastion Hotels
  td Member
  td
    .btn-group.pull-right
      button.btn.btn-default.btn-sm.btn-raised.dropdown-toggle(type="button", autocomplete="off", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Manage
        span.caret
      ul.dropdown-menu
        li
          a(href="#") Edit
        li
          a(href="#") Remove
