tr
  td
    .media.media-middle
      .media-left
        a(href="other-stream.html")
          img(src="content/images/member-table-view-4.jpg")
      .media-body
        a(href="other-stream.html") Jenny Baker
  td Head of Communications at Freshminds
  td Member
  td
    .btn-group.pull-right
      button.btn.btn-default.btn-sm.btn-raised.dropdown-toggle(type="button", autocomplete="off", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Manage
        span.caret
      ul.dropdown-menu
        li
          a(href="#") Edit
        li
          a(href="#") Remove
