.card.card--teaser.card-with-actionbar
  a.card-image(href="other-stream.html")
    img.img-responsive(src="content/images/member3.jpg")
  .card-body
    h4.card-title 
      a(href="other-stream.html") Henry Bond
    .text-gray.text-truncate
      svg.icon-gray.icon-small
        use(xlink:href='#icon-business_center')
      | &nbsp;
      span.inline-center Drupal progammer at Go Bananans!
    .card-actionbar
      a.btn.btn-flat.pull-left.btn-primary(href='other-profile-about.html') Contact me
      a.btn.btn-flat.pull-right(href="other-stream.html") View profile
