.cover.cover-img.cover-img-gradient(style="background-image: url('content/images/group-hero.jpg')")  
  .hero-action-button
    a.waves-effect.waves-light.btn.btn-default.btn-floating(href='group-edit.html')
      i.material-icons mode_edit
  .cover-wrap          
    h1.page-title Happy Campers
    p.page-title 21 members
    .hero-footer
      .row.row-md-center
        .col-xs-12.col-md-6.col-md-offset-3 Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .col-xs-12.col-md-3
          .btn-group
            button.btn.btn-accent.btn-lg.btn-raised.dropdown-toggle(type="button", autocomplete="off", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Joined        
              span.caret
            ul.dropdown-menu
              li
                a(href="#") Leave group     
