.card.card-with-actionbar.hidden-xs
  .card-head
    header.text-center My topics
  .card-body
    .list-group.list-group-divider
      a.list-group-item(href="topic.html")
        h6.list-group-item-heading My first week on the job
        small.text-gray-lighter.list-group-item-text 1 may
        
      a.list-group-item(href="topic.html")
        h6.list-group-item-heading What makes a good developer?
        small.text-gray-lighter.list-group-item-text 29 apr
      
    .card-actionbar.text-center
      a.btn.btn-flat(href="my-topics.html") View all
