.card.card-with-actionbar
  .card-head
    header.text-center Newest members
    .subtitle.text-center in the community
  .card-body
    .list-group.list-group-divider
      a.list-group-item.media(href="other-stream.html")
        .media-left.media-middle
          img.img-circle.img-small(src="content/images/avatar0.jpg")
        .media-body.media-middle Jimmy Jameson
      a.list-group-item.media(href="other-stream.html")
        .media-left.media-middle
          img.img-circle.img-small(src="content/images/avatar5.jpg")
        .media-body.media-middle Claire Davis
    
    .card-actionbar.text-center
      a.btn.btn-flat(href="#") See all
        i.material-icons chevron_right
