.card.card-with-actionbar.hidden-xs
  .card-head
    header.text-center Newest groups
    .subtitle.text-center in the community
  .card-body
    .list-group.list-group-divider
      a.list-group-item(href="#")
        h6.list-group-item-heading Local group L.A.
      a.list-group-item(href="#")
        h6.list-group-item-heading Drupal dev-ops
    
    .card-actionbar.text-center
      a.btn.btn-flat(href="#") See all
        i.material-icons chevron_right
