.card.card-with-actionbar.hidden-xs
  .card-head
    header.text-center Upcoming events
    .subtitle.text-center for this user
  .card-body
    .list-group.list-group-divider
      a.list-group-item(href="event.html")
        h6.list-group-item-heading Open social Amsterdam meetup
        small.text-gray-lighter.list-group-item-text 
          span.inline-center 3 aug &nbsp;
          span.label.label-primary enrolled
      a.list-group-item(href="event.html")
        h6.list-group-item-heading Open social Milano meetup
        small.text-gray-lighter.list-group-item-text 
          span.inline-center 10 aug &nbsp;
          span.label.label-primary enrolled
    
    .card-actionbar.text-center
      a.btn.btn-flat(href="other-events.html") See all
