.card.card--teaser.card-with-actionbar
  a.card-image(href="basic-page.html")
    img.img-responsive(src='content/images/people3-square.jpg', alt='')
    .teaser-type
      svg.icon-white.icon-responsive
        use(xlink:href='#icon-page')
  .card-body
    h4.card-title 
      a(href="basic-page.html") Information on the use of cookies
    .card-actionbar
      .badge.badge-gray-lighter.badge--toggle
        label
          input(type='checkbox')
          svg.icon-gray-light.icon-badge-toggle
            use(xlink:href='#icon-public')
          span.badge--toggle__label public
      a.btn.btn-flat.pull-right(href="basic-page.html") Read more
