.card.card--teaser.card-with-actionbar
  a.card-image.blue-overlay(href="basic-page.html")
    img.img-responsive(src='content/images/people3-square.jpg', alt='')
    img.teaser-type(src='images/icon-page.svg', alt='page icon')
  .card-body
    h4.card-title 
      a(href="basic-page.html") Information on the use of cookies
    .card-actionbar
      .badge.badge-gray-lighter.badge--toggle
        label
          input(type='checkbox')
          i.material-icons public        
          span.badge--toggle__label public
      a.btn.btn-flat.pull-right(href="basic-page.html") Read more
