.media
  .media-left
    if user == "isAnonymous"
      img.media-object.img-circle.img-medium(src='content/images/member3.jpg')
    else
      a(href='other-stream.html')
        img.media-object.img-circle.img-medium(src='content/images/member3.jpg')
  .media-body
    .media-heading.text-m
      if user == "isAnonymous"
        | Henry Bond
      else
        a(href="other-stream.html") Henry Bond
      br 
      .text-gray-light 12 hours ago

.margin-top-s Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
