.media
  .media-left
    a(href='my-stream.html')
      img.media-object.img-circle.img-medium(src='content/images/member5.jpg')
  .media-body
    h6.media-heading
      a(href="my-stream.html") John Johnson 
      br
      small 
        a(href='comment.html') 1 hour ago
    .btn-group.pull-right
      button.btn.btn-icon-toggle.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true')
        i.material-icons expand_more
      ul.dropdown-menu(role='menu')
        li 
          a(href='reply-edit.html') Edit
        li
          a(href='reply-delete.html') Delete
    p We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege. 
