//- comment on a post in a group
.media
  .media-left
    if user == "isAnonymous"
      img.media-object.img-circle.img-small(src='content/images/member2.jpg')
    else
      a(href='other-stream.html')
        img.media-object.img-circle.img-medium(src='content/images/member2.jpg')
  .media-body
    .media-heading.text-m
      if user != "isAnonymous"
        a(href="other-stream.html") Claire Davis 
        | commented on your post
      else 
        | Claire Davis commented on a post
      br
      if user == "isAnonymous"
        a(href="single-post-an.html").text-gray-lighter 3 hours ago
      else 
        a(href="single-post.html").text-gray-lighter 3 hours ago
hr.ruler-xs
.media
  .media-left
    if user == "isAnonymous"
      img.media-object.img-circle.img-small(src='content/images/member5.jpg')
    else
      a(href='other-stream.html')
        img.media-object.img-circle.img-medium(src='content/images/member5.jpg')
  .media-body
    .media-heading.text-m
      if user != "isAnonymous"
        a(href="other-stream.html") John Johnson
      else 
        | John Johnson
      br
      if user == "isAnonymous"
        .text-gray-lighter 4 hours ago
      else 
        a(href="single-post.html").text-gray-lighter 4 hours ago

.margin-top-s.margin-bottom-m We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege. 

.visible-xs-block
  a.btn.btn-block.btn-link(href='single-post.html#comment-form') Comment

.card-nested-section
  
  .hidden-xs
  
    .media.margin-bottom-xl
      .media-left.hidden-xs
        img.img-medium.img-circle(src='content/images/member5.jpg')

      .media-body
        form
          .form-group.form-group-inline.clearfix.text-right
            textarea.form-control.form-control--block(placeholder='Write a comment...', width='100%')
            button.btn.btn-link(type='submit') Comment

  include ./_activity4-reply1.jade
  
    .margin-top-l.text-center
      a.btn.btn-link(href='single-post.html') show all 5 comments
        i.material-icons chevron_right
