.media
  .media-left
    if user == "isAnonymous"
      img.media-object.img-circle.img-medium(src='content/images/member4.jpg')
    else
      a(href='other-stream.html')
        img.media-object.img-circle.img-medium(src='content/images/member4.jpg')
  .media-body
    h5.media-heading
      if user == "isAnonymous"
        a(href="other-stream.html") Jenny Baker
      else 
        | Jenny Baker
      br
      if user == "isAnonymous"
        a(href="single-post-an.html") 
          small 15 hours
      else 
        a(href="single-post.html") 
          small 15 hours

.margin-top-s We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege. 

.card-nested-section
  unless user == "isAnonymous"
    .media.margin-bottom-xl
      .media-left.hidden-xs
        img.img-medium.img-circle(src='content/images/member5.jpg')

      .media-body
        form
          .form-group.form-group-inline.clearfix.text-right
            textarea.form-control.form-control--block(placeholder='Write a comment...', width='100%')
            button.btn.btn-link(type='submit') Comment

  include ./_post1-reply2.jade
  include ./_post1-reply1.jade
  
  .margin-top-l.text-center
    if user == "isAnonymous"
      a.btn.btn-link(href='single-post-an.html') show all 5 comments
        i.material-icons chevron_right
    else
      a.btn.btn-link(href='single-post.html') show all 5 comments
        i.material-icons chevron_right
