.media
  .media-left
    if user == "isAnonymous"
      img.media-object.img-circle.img-medium(src='content/images/member5.jpg')
    else
      a(href='my-stream.html')
        img.media-object.img-circle.img-medium(src='content/images/member5.jpg')
  .media-body
    h5.media-heading
      if user == "isAnonymous"
        | John Johson 
      else 
        a(href="my-stream.html") John Johson 
      br
      if user == "isAnonymous"
        a(href="single-post-an.html") 
          small 15 hours
      else 
        a(href="single-post.html") 
          small 15 hours
    unless user == "isAnonymous"    
      .btn-group.pull-right
        button.btn.btn-icon-toggle.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true')
          svg.btn-icon.icon-gray
            use(xlink:href='#icon-expand_more')
        ul.dropdown-menu(role='menu')
          li 
            a(href='post-edit.html') Edit
          li
            a(href='post-delete.html') Delete
.margin-top-s Our software empowers people to effectively collaborate and organize. Replacing traditional intranets, it fuels bottom-up organizational innovation. 
  a(href="#") www.getopensocial.com
img.img-responsive(src="content/images/os_image.jpg", alt="")

.card-nested-section
  unless user == "isAnonymous"
    .media
      .media-left.hidden-xs
        img.img-medium.img-circle(src='content/images/member5.jpg')

      .media-body
        form
          .form-group.form-group-inline.clearfix.text-right
            textarea.form-control.form-control--block(placeholder='Write a comment...', width='100%')
            button.btn.btn-link(type='submit') Comment

  include ./_post1-reply3.jade
  include ./_post1-reply4.jade
  
  .margin-top-l.text-center
    if user == "isAnonymous"
      a.btn.btn-link(href='single-post-an.html') show all 5 comments
        svg.icon-small
          use(xlink:href='#icon-navigate_next')
    else
      a.btn.btn-link(href='single-post.html') show all 5 comments
        svg.icon-small
          use(xlink:href='#icon-navigate_next')
