//- created an event on a profile with no comments
.media
  .media-left
    if user == "isAnonymous"
      img.media-object.img-circle.img-medium(src='content/images/member0.jpg')
    else
      a(href='my-stream.html')
        img.media-object.img-circle.img-medium(src='content/images/member0.jpg')
  .media-body
    .media-heading.text-m
      if user == "isAnonymous"
        | Henry Bond created an event in the community
      else 
        a(href="my-stream.html") Henry Bond    
        | created an event in the community   
      br
      .text-gray-lighter 31 minutes ago
.card--teaser.card--teaser-stream.card-with-actionbar
  a.card-image(href="event.html")
    img.img-responsive(src="content/images/people3-square.jpg")
    .teaser-date 26
      .text-xs Sep
    .status unpublished
  .card-body
    h4.card-title 
      a(href="event.html") London Meetup
    .text-gray.text-m.text-truncate
      i.material-icons event
      | &nbsp;
      span.inline-center 26 sept 09:00 - 18:00  
    .text-gray.text-m.text-truncate
      i.material-icons place
      | &nbsp;
      span.inline-center Tower Bridge, London
    .card-actionbar
      if user != "isAnonymous"
        .badge.badge-gray-lighter.badge--toggle
          label
            input(type='checkbox')
            i.material-icons public        
            span.badge--toggle__label public
      a.btn.btn-flat.btn-sm.pull-right(href="event.html") Read more

if user != "isAnonymous"
  a.btn.btn-block.btn-link(href='event.html#comment-form') Comment
  hr.ruler-xs
  a.btn.btn-block.btn-link.disabled 0 comments
