form
  .form-group
    textarea.form-control.form-control--block.materialize-textarea.textarea-large(placeholder='What is on your mind?')
  .form-group.media
    .media-body
      .dropdown.pull-right
        button#post-visibility.btn.btn-default.dropdown-toggle.icon-before(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true') 
          svg.icon-black.icon-small.glyphicon
            use(xlink:href='#icon-community')
            span.text Community 
            span.caret
        ul.dropdown-menu.dropdown-md(role='menu', aria-labelledby="post-visibility")
          li.dropdown-header Visibility settings
          li.list-group-item.active
            .form-group
              label(for="community") 
                svg.icon-small
                  use(xlink:href='#icon-community')
                | Community
                input#community.invisible(type="radio", name="visioptions", value="Community", onclick="showMe('post-visibility', this)")
                .help-block Visible only to members who are logged in
              
    .media-right
      input.btn.btn-primary(type='submit', value="post")
