.card.card--teaser.card-with-actionbar
  a.card-image.blue-overlay(href="topic.html")
    img.img-responsive(src='content/images/animals1-square.jpg', alt='')
    img.teaser-type(src='images/icon-topic.svg', alt='')
  .card-body
    h4.card-title 
      a(href="topic.html") Will this be the cinema of the future?
    p.text-grey-dark
      if user == "isAnonymous"
        | Richard Ogylvie 
      else
        a(href="other-stream.html") Richard Ogylvie 
      | &bullet; 22 mar 2016
    p 
      i.material-icons label 
      | &nbsp;
      span.inline-center Discussion
    .card-actionbar
      .badge.badge-gray-lighter.badge--toggle
        label
          input(type='checkbox')
          i.material-icons group        
          span.badge--toggle__label community
      a.btn.btn-flat.pull-right(href="topic.html") Read more
