{#
/**
* @file
* Theme override for a link to a file for nodes.
*
* Available variables:
* - attributes: The HTML attributes for the containing element.
* - link: A link to the file.
* - node_icon: An icon.
*
* @ingroup templates
*
* @see \Drupal\bootstrap\Plugin\Preprocess\FileLink::preprocessVariables
*/
#}
{{ attach_library('socialbase/file') }}
{% spaceless %}

  <div class="card-file">
    <span class="card-file__link">
      <span class="card-file__title">
        <span class="file-link">{{ link }}</span>
      </span>
      <span class="card-file__type">
        <span class="card-file__size">{{ file_size }}</span>
        <svg class="icon-vote">
          <use xlink:href="#icon-upload"></use>
        </svg>
      </span>
      </span>
  </div>

{% endspaceless %}