h1.page-title #{page}

.card.form-card

  nav(role="navigation" aria-label="Tabs")
    h2.visually-hidden Primary tabs
    ul.tabs.primary
      li
        a(href="login.html") Log in
      li.is-active
        a.is-active(href="sign-up.html") Sign up
          span.visually-hidden (active tab)
      li
        a(href='reset-password.html') Reset password
        
        // maak hier effect lijn invullen met kleur vanaf links
        // http://tympanus.net/Development/LineMenuStyles/#Shylock

  form.user-signup-form(accept-charset='UTF-8')
    .form-item.form-type-textfield
      .input-field
        input#edit-email.form-text(type='email', autocorrect='none', autofocus='autofocus', required='required')
        label(for='edit-email') E-mail address

    .form-item.form-type-textfield
      .input-field
        input#edit-username.form-text(type='text', required='required')
        label(for='edit-pass') Username
        
    #edit-actions.form-actions.form-wrapper
      input#edit-submit.waves-effect.waves-light.btn.form-submit(type='submit', value='Sign up')
