@font-face {
  font-family: 'montserrat';
  font-path: '../font/montserrat/montserrat-light';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  font-path: '../font/montserrat/montserrat-normal';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  font-path: '../font/montserrat/montserrat-bold';
  font-weight: 700;
  font-style: normal;
}
