@import 'settings';


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style;
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $button-font-size, $line-height-base);
  user-select: none;
  text-transform: uppercase;
  transition: .3s ease-out;
  outline: 0;

  + .btn {
    margin-left: 5px;
  }

  + .btn-block {
    margin-left: 0;
  }

  .caret {
    margin-left: 3px;
  }

  &,
  &:active,
  &.active {
    box-shadow: none;
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    outline: 0;
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    opacity: .65;
    box-shadow: none;
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  font-weight: normal;

  &,
  &:active,
  &.active,
  &[disabled],
  &:hover,
  &:focus,
  fieldset[disabled] & {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $button-font-size-large, $line-height-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $button-font-size-small, $line-height-small);

  .glyphicon:before {
    width: 13px;
    height: 13px;
  }
}

.btn-xs {
  @include button-size(2px, 10px, $font-size-small, $line-height-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn.pull-right + .btn {
  margin-left: 0;
}


// Button raised
// --------------------------------------------------

.btn-raised {
  @include z-depth-1;
	transition: box-shadow, .15s ease-out;

  &:active,
  &.active,
  &:hover {
    @include z-depth-3;
  }

  &.disabled,
  &[disabled] {
    @include z-depth-1;
  }

}

// Flat button & icon toggle button
// --------------------------------------------------

.btn-flat {
  @include z-depth-0;
	background-color: transparent;
	border-color: transparent;
  -webkit-tap-highlight-color: transparent;

	&:hover,
  &:focus,
  .open .dropdown-toggle & {
		@include z-depth-0;
	}

}

.btn-icon-toggle {
  background-color: transparent;
	border-radius: 50% !important;
  padding: 4px;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.07);
		border-color: transparent;
  }

  &:active,
  &.active {
    background-color: rgba(12, 12, 12, 0.25);
    border-color: transparent;
  }

}

// Floating button
// --------------------------------------------------

.btn-floating {
  width: $button-floating-size;
  height: $button-floating-size;
  padding: 7px; //assuming the icon is 24px / medium
  border-radius: $button-floating-radius;
  border: 0;
  @include z-depth-2;

  &:active,
  &.active,
  &:hover {
    @include z-depth-4;
  }

  &.btn-lg {
    width: $button-floating-large-size;
    height: $button-floating-large-size;
  }

  &.disabled,
  &[disabled] {
    @include z-depth-2;
  }

}

// Icons in buttons

.btn-icon {
  font-size: $button-font-size * 1.143;
  line-height: 33px - ($padding-base-vertical * 2);
  height: 33px - ($padding-base-vertical * 2);
  width: 33px - ($padding-base-vertical * 2);
  vertical-align: bottom;
}


.btn-non-clickable {
  pointer-events: none;
}

//
// Button groups
// --------------------------------------------------

// Make the div behave like a button
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above
  > .btn {
    position: relative;
    float: left;
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

// Prevent double borders when buttons are next to each other
.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  margin-left: -5px; // Offset the first child's margin
  @include clearfix;

  .btn,
  .btn-group,
  .input-group {
    float: left;
  }
  > .btn,
  > .btn-group,
  > .input-group {
    margin-left: 5px;
  }
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

// Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
.btn-group > .btn:first-child {
  margin-left: 0;
  &:not(:last-child):not(.dropdown-toggle) {
    @include border-right-radius(0);
  }
}
// Need .dropdown-toggle since :last-child doesn't apply, given that a .dropdown-menu is used immediately after it
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  @include border-left-radius(0);
}

// Custom edits for including btn-groups within btn-groups (useful for including dropdown buttons within a btn-group)
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) {
  > .btn:last-child,
  > .dropdown-toggle {
    @include border-right-radius(0);
  }
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  @include border-left-radius(0);
}

// On active and open, don't show outline
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}


// Sizing
//
// Remix the default button sizing classes into new ones for easier manipulation.

.btn-group-xs > .btn { @extend .btn-xs; }
.btn-group-sm > .btn { @extend .btn-sm; }
.btn-group-lg > .btn { @extend .btn-lg; }


// Split button dropdowns
// ----------------------

// Give the line between buttons some depth
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

// The clickable button for toggling the menu
// Remove the gradient
.btn-group.open .dropdown-toggle {

  // Show no shadow for `.btn-link` since it has no other button styles.
  &.btn-link {
    box-shadow: none;
  }
}

// Carets in other button sizes
.btn-lg .caret {
  border-width: $caret-width-large $caret-width-large 0;
  border-bottom-width: 0;
}
// Upside down carets for .dropup
.dropup .btn-lg .caret {
  border-width: 0 $caret-width-large $caret-width-large;
}


// Vertical button groups
// ----------------------

.btn-group-vertical {
  > .btn,
  > .btn-group,
  > .btn-group > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
  }

  // Clear floats so dropdown menus can be properly placed
  > .btn-group {
    @include clearfix;
    > .btn {
      float: none;
    }
  }

  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    margin-top: -1px;
    margin-left: 0;
  }
}
