social_profile.settings:
  type: config_object
  label: 'Social Profile Settings'
  mapping:
    social_profile_show_email:
      type: boolean
      label: 'Whether to show e-mail addresses on user profiles.'
    social_profile_show_language:
      type: boolean
      label: 'Whether to show preferred language on user profiles.'
    enable_profile_tagging:
      type: boolean
      label: 'Whether to allow add profile tags'
    allow_category_split:
      type: boolean
      label: 'Whether to allow splitting profile tags'
    use_category_parent:
      type: boolean
      label: 'Whether to use first level of profile tags'
    allow_tagging_for_lu:
      type: boolean
      label: 'Whether to allow profile tagging for LU'

views.field.profile_entity_sortable:
  type: views_field
  label: 'Profile entity sortable'
  mapping:
    view_mode:
      type: string
      label: 'View mode'
