h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 24px;
  margin-bottom: 12px;
}

h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 12px;
  margin-bottom: 12px;
}

h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

h1, .h1 {
  font-size: 41px;
}

h2, .h2 {
  font-size: 34px;
}

h3, .h3 {
  font-size: 28px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

p {
  margin: 0 0 12px;
}

.lead {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

small,
.small {
  font-size: 87%;
}

mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase, .initialism {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: #777777;
}

.text-primary {
  color: #29abe2;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #1a8dbe;
}

.text-success {
  color: #3c763d;
}

a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}

.text-info {
  color: #31708f;
}

a.text-info:hover,
a.text-info:focus {
  color: #245269;
}

.text-warning {
  color: #8a6d3b;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}

.text-danger {
  color: #a94442;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}

.bg-primary {
  color: #fff;
}

.bg-primary {
  background-color: #29abe2;
}

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #1a8dbe;
}

.bg-success {
  background-color: #dff0d8;
}

a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}

.bg-info {
  background-color: #d9edf7;
}

a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}

.bg-warning {
  background-color: #fcf8e3;
}

a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}

.bg-danger {
  background-color: #f2dede;
}

a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}

.page-header {
  padding-bottom: 11px;
  margin: 48px 0 24px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.2);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 12px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

dl {
  margin-top: 0;
  margin-bottom: 24px;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}

.dl-horizontal dd:after {
  clear: both;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}

.initialism {
  font-size: 90%;
}

blockquote {
  padding: 12px 24px;
  margin: 0 0 24px;
  font-size: 18px;
  border-left: 5px solid #e6e6e6;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.5;
  color: #777777;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #e6e6e6;
  border-left: 0;
  text-align: right;
}

.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}

.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

address {
  margin-bottom: 24px;
  font-style: normal;
  line-height: 1.5;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 10px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
}

pre {
  display: block;
  padding: 11.5px;
  margin: 0 0 12px;
  font-size: 15px;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

html {
  font-size: 16px;
}

body {
  font-size: 14px;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
}

a {
  font-weight: 500;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: inherit;
}

p {
  margin-bottom: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 1em 0 0.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1, .h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

h4, .h4 {
  font-size: 1.2rem;
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6 {
  font-size: 0.875rem;
}

.header {
  color: #29abe2;
  font-weight: 300;
}

.subtitle {
  font-size: 0.75rem;
  line-height: 1;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5em;
  border-left: 3px solid #29abe2;
  font-weight: 500;
}

em.placeholder {
  font-style: normal;
}

strong {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

.caption {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 30px;
}

ol, ul {
  padding-left: 1.5em;
}

.popover ol:last-child, .popover ul:last-child {
  margin-bottom: 0;
}

ol {
  list-style-position: outside;
}

code {
  border-radius: 2px;
}

.section-title {
  padding: 1.25rem;
  margin: 0;
}

.complementary-title {
  font-size: 1.25rem;
}

.text-caption {
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
}

.text-truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.post-date {
  color: #777777;
  font-size: 0.75rem;
  line-height: 1.25;
}

small {
  font-size: 80%;
}

small .label {
  font-size: 90%;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.text-xs {
  font-size: 0.4em;
}

.text-s {
  font-size: 0.75rem;
}

.text-m {
  font-size: 0.875rem;
}

.text-l {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-xxl {
  font-size: 1.5rem;
}

.text-xxxl {
  font-size: 2rem;
}

.text-xxxxl {
  font-size: 3rem;
}

.text-gray {
  color: #555555;
}

a.text-gray:hover,
a.text-gray:focus {
  color: #3c3c3c;
}

.text-gray-light {
  color: #777777;
}

a.text-gray-light:hover,
a.text-gray-light:focus {
  color: #5e5e5e;
}

.text-gray-lighter {
  color: #adadad;
}

a.text-gray-lighter:hover,
a.text-gray-lighter:focus {
  color: #949494;
}

.text-gray-lightest {
  color: #e6e6e6;
}

a.text-gray-lightest:hover,
a.text-gray-lightest:focus {
  color: #cdcdcd;
}

.text-accent {
  color: #ffc142;
}

a.text-accent:hover,
a.text-accent:focus {
  color: #ffb00f;
}

.bg-gray {
  background-color: #555555;
}

a.bg-gray:hover,
a.bg-gray:focus {
  background-color: #3c3c3c;
}

.bg-gray-light {
  background-color: #777777;
}

a.bg-gray-light:hover,
a.bg-gray-light:focus {
  background-color: #5e5e5e;
}

.bg-gray-lighter {
  background-color: #e6e6e6;
}

a.bg-gray-lighter:hover,
a.bg-gray-lighter:focus {
  background-color: #cdcdcd;
}

.bg-gray-lightest {
  background-color: #f3f3f3;
}

a.bg-gray-lightest:hover,
a.bg-gray-lightest:focus {
  background-color: #dadada;
}

.bg-white {
  background-color: white;
}

a.bg-white:hover,
a.bg-white:focus {
  background-color: #e6e6e6;
}

.brand-primary {
  background-color: #29abe2;
  border-color: #29abe2;
  color: white;
}

a.brand-primary:hover,
a.brand-primary:focus {
  background-color: #1a8dbe;
  border-color: #1a8dbe;
  color: white;
}

.brand-secondary {
  background-color: #1f80aa;
  border-color: #1f80aa;
  color: white;
}

a.brand-secondary:hover,
a.brand-secondary:focus {
  background-color: #17607f;
  border-color: #17607f;
  color: white;
}

.brand-accent {
  background-color: #ffc142;
  border-color: #ffc142;
  color: #4d4d4d;
}

a.brand-accent:hover,
a.brand-accent:focus {
  background-color: #ffb00f;
  border-color: #ffb00f;
  color: #4d4d4d;
}

.brand-user {
  background-color: #222222;
  border-color: #222222;
  color: white;
}

a.brand-user:hover,
a.brand-user:focus {
  background-color: #090909;
  border-color: #090909;
  color: white;
}

.default-light {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #4d4d4d;
}

a.default-light:hover,
a.default-light:focus {
  background-color: #cdcdcd;
  border-color: #cdcdcd;
  color: #4d4d4d;
}

.list-item--collapsed,
.list-item--expanded {
  list-style: none;
  position: relative;
}

.list-item--collapsed::before,
.list-item--expanded::before {
  content: '';
  display: inline-block;
  margin-left: -1em;
  margin-right: 0.45em;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-top: 4px solid \9;
  border-left: 4px dashed;
  border-bottom: 4px solid transparent;
}

.list-item--expanded::before {
  margin-left: -1.2em;
  margin-right: 0.4em;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

img.align-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

img.align-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body-text a {
  text-decoration: underline;
  color: #29abe2;
}

.body-text a:hover {
  color: #177da8;
}

.body-text table {
  border-color: #ddd;
  border-style: solid;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 24px;
}

.body-text table > thead > tr > th,
.body-text table > thead > tr > td,
.body-text table > tbody > tr > th,
.body-text table > tbody > tr > td,
.body-text table > tfoot > tr > th,
.body-text table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.body-text table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.body-text table > caption + thead > tr:first-child > th,
.body-text table > caption + thead > tr:first-child > td,
.body-text table > colgroup + thead > tr:first-child > th,
.body-text table > colgroup + thead > tr:first-child > td,
.body-text table > thead:first-child > tr:first-child > th,
.body-text table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.body-text table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.body-text table table {
  background-color: #f3f3f3;
}

.block--intro-text__content {
  max-width: 520px;
  position: relative;
  margin: auto;
}

@media (min-width: 768px) {

  .lead {
    font-size: 24px;
  }

  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-left: 180px;
  }
}

@media screen and (min-width: 768px) {

  body {
    font-size: 16px;
  }

  .section-title {
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .section-title.section-title-stream {
    padding-left: 40px;
  }

  .section-title.section-title-node {
    padding-left: 48px;
  }
}

@media screen and (min-width: 960px) {

  h1, .h1 {
    font-size: 3rem;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  h3, .h3 {
    font-size: 1.5rem;
  }

  h4, .h4 {
    font-size: 1.25rem;
  }

  h5, .h5 {
    font-size: 1rem;
  }

  h6, .h6 {
    font-size: 0.875rem;
  }
}

/*# sourceMappingURL=type.css.map */
