@import 'settings';

.site-footer {
  background-color: $brand-secondary;
  color: white;
  padding: 25px 0;

  @include for-tablet-landscape-up {
    padding: 0;
  }

  // Links within the dropdown menu
  .dropdown-menu > li > a {
    color: $default-color;

    &:hover,
    &:focus {
      background-color: $dropdown-link-hover-bg;
    }

  }

  .container {
    align-items: center;
    justify-content: space-between;

    @include for-phone-only {
      flex-direction: column;
      align-items: flex-start;
    }

    > * {
      padding: 0 1rem;

      @include for-phone-only {
        + * {
          margin-top: 20px;
        }
      }
    }
  }
}
