// Shared styles
// --------------------------------------------------
.btn {
  font-size: $button-font-size;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: .3s ease-out;
  will-change: opacity, transform;

  + .btn {
    margin-left: 5px;
  }

  + .btn-block {
    margin-left: 0;
  }

  .caret {
    margin-left: 3px;
  }

  // override bootstrap default
  &:active,
  &.active {
    @include box-shadow(none);
  }

  &:focus,
  &:active:focus,
  &.active:focus {
    outline: 0;
  }

}


// Styles
.btn-xs {
  font-size: $button-font-size-small;
}

.btn-sm {
  font-size: $button-font-size-small;
}

.btn-lg {
  font-size: $button-font-size-large;
}


// Styles
.btn-accent {
  @include button-variant($btn-accent-color, $btn-accent-bg, $btn-accent-border);
}

.btn-flat {
  @include button-variant($brand-primary, transparent, transparent);

  &:hover,
  &:focus {
    background-color: rgba($brand-primary, 0.12);
  }

}


// Button raised
// --------------------------------------------------

.btn-raised {
  @include z-depth-1;
	transition: box-shadow, .15s ease-out;

  &:active,
  &.active,
  &:hover {
    @include z-depth-3;
  }

  &.disabled,
  &[disabled],
  .disabled & {
    @include z-depth-0;
  }

}

// Flat button & icon toggle button
// --------------------------------------------------

.btn-flat,
.btn-icon-toggle {
  @include z-depth-0;
	background-color: transparent;
	border-color: transparent;
  -webkit-tap-highlight-color: transparent;

	&:hover,
  &:focus,
  .open .dropdown-toggle & {
		background-color: rgba(0, 0, 0, 0.07);
		border-color: transparent;
		@include z-depth-0;
		color: inherit;
	}

	&:active,
  &.active {
		background-color: rgba(12, 12, 12, 0.25);
		border-color: transparent;
		color: white;
	}

}

.btn-icon-toggle {
	border-radius: 50% !important;
  padding: 0;
  width: 30px;
}

// Floating button
// --------------------------------------------------

.btn-floating {
  width: $button-floating-size;
  height: $button-floating-size;
  padding: 0;
  font-size: 1.25rem;
  border-radius: $button-floating-radius;
  @include z-depth-2;

  &:active,
  &.active,
  &:hover {
    @include z-depth-4;
  }

  &.disabled,
  &[disabled],
  .disabled & {
    @include z-depth-0;
  }

  &.btn-lg {
    width: $button-floating-large-size;
    height: $button-floating-large-size;
  }

}

// Icons in buttons

.btn .material-icons {
  font-size: $button-font-size * 1.143;
  line-height: 33px - ($padding-base-vertical * 2);
  height: 33px - ($padding-base-vertical * 2);
  vertical-align: bottom;
}

.btn .custom-icons {
  font-size: $button-font-size * 0.8;
  line-height: 33px - ($padding-base-vertical * 2);
  height: 33px - ($padding-base-vertical * 2);
  vertical-align: bottom;
}

.btn-floating .material-icons {
  line-height: $button-floating-size - 2;
  height: $button-floating-size - 2;
  font-size: 1.3rem;
}

.btn-floating.btn-lg .material-icons {
  font-size: 2rem;
  line-height: $button-floating-large-size - 2;
  height: $button-floating-large-size - 2;
}

// Fixed Action Button
.fixed-action-btn {
  &.active {
    ul {
     visibility: visible;
    }
  }

  &.horizontal {
    padding: 0 0 0 15px;

    ul {
      text-align: right;
      right: 64px;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      left: initial;
      width: 500px; /*width 100% only goes to width of button container */

      li {
        display: inline-block;
        margin: 15px 15px 0 0;
      }
    }
  }

  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;

  ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;

    li {
      margin-bottom: 15px;
    }

    a.btn-floating {
      opacity: 0;
    }
  }
}
