@font-face {
  font-family: 'Material-Design-Icons';
  font-style: normal;
  font-weight: 400;
  font-path: '../font/material-icons/MaterialIcons-Regular';
}

// prevent block rendering
.material-icons {
  font-family: 'Material-Design-Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  // Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;
  // Support for Safari and Chrome.
  text-rendering: optimizeLegibility;

  // Support for Firefox.
  -moz-osx-font-smoothing: grayscale;

  // Support for IE.
  font-feature-settings: 'liga';
}


// custom icons

.icon-group {
  background-image: url('../images/icon-group.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 16px;
}
