.pagination {
  border-radius: $border-radius-small;

  > li {
    display: none;

    @include MQ($small) {
      display: inline-block;
    }

    > a,
    > span {
      border: 0;
      margin-left: 0;
      min-width: 44px;
      text-align: center;
      min-height: 32px;
      line-height: 32px;
      border-radius: $border-radius-small;
    }

    &:first-child {
      > a,
      > span {
        border-radius: $border-radius-small;
      }
    }

    &:last-child {
      > a,
      > span {
        border-radius: $border-radius-small;
      }
    }

  }

  .pager__item--previous,
  .pager__item--next,
  .pager__item.active {
    display: inline-block;
  }

}

.icon-font-loaded .pagination .material-icons {
  vertical-align: middle;
  font-size: 1em;
}
