.page-preview {
  margin-top: 58px;
}

.node-preview-form-select {
  padding: 10px 20px;
  position: fixed;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  z-index: 9;

  .select-wrapper {
    display: inline-block;
  }
}