a {
	font-weight: 500;
	color: inherit;

  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}


html{
  font-size: 16px;
}

.fonts-loaded body {
	font-family: $font-family-webfont;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
	transition: 0.3s;
	margin: 1em 0 0.5em;

	a {
		font-weight: inherit;
	}

}

// Header Styles

h1, .h1 {
	font-size: 2rem;
	letter-spacing: 0.05em;
	font-weight: 700;

	@include MQ($medium) {
		font-size: 3rem;
	}

}

h2, .h2 {
	font-size: 1.5rem;

	@include MQ($medium) {
		font-size: 2rem;
	}
}

h3, .h3 {
	font-size: 1.25rem;

	@include MQ($medium) {
		font-size: 1.5rem;
	}
}

h4, .h4 {
	font-size: 1.2em;

	@include MQ($medium) {
		font-size: 1.25em;
	}

}

h5, .h5{
	font-size: 1.1em;

	@include MQ($medium) {
		font-size: 1.1em;
	}
}

h6, .h6 {
	font-size: 1em;

	@include MQ($medium) {
		font-size: 1em;
	}
}

.header {
	color: $primary-color;
	font-weight: 300;
}

// Blockquote
blockquote {
  margin: 20px 0;
  padding-left: 1.5em;
  border-left: 3px solid $primary-color;
	font-weight: 500;
}


// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

.flow-text{
  font-size: responsive;
}

.caption {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 30px;
}

ul,
ol {
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 12px;
}

ol {
  list-style-position: inside;
}

.list-unstyled {
  padding-left: 0;
	margin: 0;
  list-style: none;
}

.section-title {
	color: $grey-dark-1;
}

.text-caption {
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
}

// Sizes
// -------------------------

.text-xs {		font-size: 0.4em; }
.text-s {			font-size: 0.75em; }
.text-m {			font-size: 0.875em; }
.text-l {			font-size: 1.125em; }
.text-xl {		font-size: 1.25em; }
.text-xxl {		font-size: 1.5em; }
.text-xxxl {	font-size: 2em; }
.text-xxxxl {	font-size: 3em; }
