extends ./layout/base-lu.pug

block title
  title Explore

block pagetitle
  .container.hero-container
    .cover.cover-img.cover-img-gradient(style="background-image: url('content/images/event-hero.jpg')")
      .cover-wrap
        h1.page-title Amsterdam Meetup
        .hero-footer
          .row.row-md-center
            .col-xs-12.col-md-6.col-md-offset-3
              .badge.badge--toggle
                label
                  input(type='checkbox')
                  svg.icon-white.icon-badge-toggle
                    use(xlink:href='#icon-community')
                  span.badge--toggle__label community
              div
                time.eventdate.updated June 6 2016 - 12:00
                span @ Keizersgracht 376, Amsterdam
              div(itemprop="author", itemscope="", itemtype="http://schema.org/Person")
                span By
                a(itemprop="url", rel="author", href="my-stream.html") John Johnson
                span
                  | in group
                  a(itemprop="organizer", href="group-stream.html") Happy Campers
            .col-xs-12.col-md-3
              .btn-group
                a.btn.btn-default.btn-raised(href="event.html") See more



block breadcrumbs
  li
    a(href='home-lu.html') Home
  li
    a(href='explore.html') Explore

block content

  .row.margin-top-l

    .col-xs-12.col-sm-4.col-sm-last.margin-bottom-l
      //- include ./molecules/_explore-highlighted.pug
      include ./molecules/_explore-upcoming-events.pug
      include ./molecules/_explore-new-topics.pug
      include ./molecules/_explore-new-users.pug
      include ./molecules/_explore-new-groups.pug

    .col-xs-12.col-sm-8

      ul.stream
        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.pug
        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.pug

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.pug

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.pug



      include molecules/_pager.pug
