extends ./layout/base-lu.pug

block title
  title Create a new Open group


block content

  .row.margin-top-l

    .col-xs-12.col-md-8

      h4.section-title Create a new Open Group

      form(action='group-stream.html', method='get')

        #content.card.card-underline.scrollspy

          .card-head
            header Content

          .card-body

            .form-group
              label.form-required Title
              input.form-control(type="text", required)

            .form-group
              label Description
              .textarea--cke
                textarea#ckeditor.form-control(required)

            .form-group.form__type-managed-file
              label Image
              .image-widget.form-managed-file.clearfix
                input.form-control(type='file', value='upload an image')
              .help-block One file only - 2 MB limit - Allowed types: png gif jpg jpeg

        #location.card.card-underline.scrollspy

          .card-head
            header Location

          .card-body

            .form-group
              label Location name
              input.form-control(type="text")

            .form-group
              label Country

              .input-group
                .select-wrapper
                  select.form-select.form-control
                    option - None -
                    option(value='AB') Albania
                    option(value='DZ') Algeria

                span.input-group-addon
                  span.icon.glyphicon.glyphicon-refresh

        .form-actions.clearfix
          input.waves-effect.waves-light.btn.btn-raised.btn-primary.pull-right(type='submit', value='Save')

block scriptinline  
  script(src='js/contrib/ckeditor/ckeditor.js')
  script(src='js/contrib/ckeditor/adapters/jquery.js')

  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();
    });
