extends ./layout/base-lu.pug

block title
  title Happy Campers topics

block pagetitle
  .container.hero-container.hidden-xs
    include ./molecules/_my-group-hero.pug

  .container
    .visible-xs-block.section
      a.btn.btn-flat(href="group-stream.html")
        svg.btn-icon
          use(xlink:href='#icon-navigate_before')
        | Back to group stream

  .container.hero-container
    .brand-secondary.z-depth-1.hidden-xs
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li.hidden-xs
            a(href="group-stream.html") Stream
          li
            a(href='group-about.html') About
          li.active
            a(href='group-topics.html') Topics
            span.visually-hidden (active tab)
          li
            a(href='group-events.html') Events
          li
            a(href="group-members.html") Members

block content

  .row.margin-top-l

    .col-xs-12.col-sm-4.col-sm-last.margin-bottom-l.complementary-top
      a.waves-effect.waves-light.btn.btn-block.btn-primary.btn-raised(href='node-add-topic-in-group.html')
        | Create topic
      br
      br
      btn.waves-effect.waves-light.btn.btn-block.btn-default.btn-raised.visible-xs-block.js-open-canvas
        svg.pull-left.btn-icon.icon-black
          use(xlink:href='#icon-filter_list')
        | Filters

      .off-canvas.off-canvas-right.off-canvas-xs-only
        .offcanvas-head
          header.complementary-title filter
          .offcanvas-tools.visible-xs-block
            .js-close-canvas.btn.btn-icon-toggle.pull-right
              svg.pull-left.btn-icon.icon-black
                title Close
                use(xlink:href='#icon-close')

        .offcanvas-body
          form
            .form-group
              label Topic type
              .select-wrapper
                select.form-control(onchange="enableMe('reset-button', this)")
                  option(value="", selected="") All types
                  option(value="blog") Blog
                  option(value="discussion") Discussion
                  option(value="topic") Topic
            .form-group
              label Status
              .select-wrapper
                select.form-control(onchange="enableMe('reset-button', this)")
                  option(value="", selected="") All statusses
                  option(value="published") Published
                  option(value="unpublished") Unpublished
            .form-group.margin-top-l
              input#reset-button.btn.btn-flat.disabled(type="submit", value="Reset")

    .col-xs-12.col-sm-8
      h4.section-title Topics in Happy Campers

      include molecules/_topic1.pug
      include molecules/_topic2.pug
      include molecules/_topic3.pug
      include molecules/_topic4.pug

      include molecules/_pager.pug

block scriptinline

  script.
    function enableMe() {
      jQuery('#reset-button').removeClass('disabled');
    }
