extends ./layout/base-lu.pug

block title
  title Homepage Logged-in user

block breadcrumbs

block content

  .row.margin-top-xl

    .col-sm-4.col-sm-last
      include ./molecules/_my-events.pug
      include ./molecules/_upcoming-events.pug
      include ./molecules/_new-topics.pug
      include ./molecules/_new-groups.pug
      include ./molecules/_new-users.pug

    .col-xs-12.col-sm-8
      ul.stream
        li.stream-item
          i.stream-icon.stream-icon-new
          .card.stream-card
            .card-body
              include ./molecules/_stream-post-form.pug

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-activity5.pug
              //- created an event in a group with no comments

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-activity6.pug
              //- created an event on profile with no comments

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-activity8.pug
              //- created post in a group

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-activity1.pug
              //- created a topic in a group

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-activity7.pug
              //- created a topic in a group

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-activity2.pug
              //- created post on own profile

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-activity3.pug
              //- commented on an event in a group

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-activity4.pug
              //- commented on a post on a profile


block scriptinline
  script.
    function showMe (it, radio) {
      var visibility = radio.value;
      var icon = jQuery(radio).prevAll('svg').html();
      jQuery('#' + it).find('.text').html(visibility);
      jQuery('#' + it).find('svg').html(icon);
      jQuery('#' + it).next('.dropdown-menu').find('.list-group-item').removeClass('active');
      jQuery(radio).closest('.list-group-item').addClass('active');
    }
