extends ./layout/base-lu.pug

block title
  title A post

block pagetitle
  .container
    .cover
        h1.page-title.h2 Other post 
      
block content
      
  .row.margin-top-l
  
    .col-sm-8
    
      .card
        .card-body.extra-padding
          include ./molecules/_post2.pug
