extends ./layout/base-lu.pug

block title
  title Edit post

block breadcrumbs
  li
    a(href='home-lu.html') Home
  li.active Edit post

block content

  .row.margin-top-l      
  
    .col-xs-12.col-sm-8
      h4.section-title Edit post

      .card
        .card-body
          .media
            a.media-left(href="my-stream.html")
              img.img-circle.img-medium(src='content/images/member5.jpg')
            .media-body
              h5.media-heading
                a(href="my-stream.html") John Johnson 
                br                 
                small 6 hours ago
          
          form.margin-top-l(action="javascript:history.back()")
            .form-group
              textarea.form-control.form-control--block.materialize-textarea(placeholder='What is on your mind?')
                | We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege.
            .form-actions.clearfix           
              input.btn.btn-default(type='submit', value="Discard")
              input.btn.btn-primary.pull-right(type='submit', value="Save")

block scriptinline  
  
  script.  
    function showMe (it, radio) {
      var visibility = radio.value;
      var icon = jQuery(radio).prevAll('svg').html();
      jQuery('#' + it).find('.text').html(visibility);
      jQuery('#' + it).find('svg').html(icon);
      jQuery('#' + it).next('.dropdown-menu').find('.list-group-item').removeClass('active');
      jQuery(radio).closest('.list-group-item').addClass('active');
    }
      
