extends ./layout/base-an.pug

block title
  title Reset your password

block breadcrumbs
  li
    a(href='home-an.html') Home
    svg.icon-gray.icon-small
      use(xlink:href="#icon-navigate_next")
  li.active Reset password


block content

  .row
    .col-md-8.section-header
      h1.h4.section-title Reset your password

      .card
        .card-body

          form(action="login.html", accept-charset='UTF-8')
            .form-group
              label(for='edit-name') Username or email address
              span.form-required *
              input#edit-name.form-control(type='text', autocorrect='off', autofocus='autofocus',  required)
              .help-block Password reset instructions will be sent to your registered email address.

            .margin-top-xxl.clearfix
              input.btn.btn-primary.pull-right(type='submit', value='Submit')
