//
// Labels
// --------------------------------------------------

//
// Variables and mixins
@import "init";

@import "contrib/bootstrap/labels";

.label {
  font-weight: 300;
  border-radius: $label-radius;
}

.badge + .label {
  margin-left: 15px;
}

.label-featured {
  background-color: $brand-accent;
  color: $default-color;
}
