mixin link(name)
  link(href=name, type='text/css', rel='stylesheet', media='screen')

+link('css/components/asset-builds/materialize.css')
+link('css/components/asset-builds/alerts.css')
+link('css/components/asset-builds/buttons.css')
+link('css/components/asset-builds/layout.css')
+link('css/components/asset-builds/type.css')
+link('css/components/asset-builds/toc.css')
+link('css/components/asset-builds/icons.css')
+link('css/components/asset-builds/waves.css')
+link('css/components/asset-builds/ajax.css')
if pagetype == 'styleguide'
  +link('css/components/asset-builds/jumbotron.css')
  +link('css/components/asset-builds/styleguide.css')
  +link('css/components/asset-builds/prism.css')
