mixin link(name)
  link(href=name, type='text/css', rel='stylesheet', media='screen')

+link('assets/css/base.css')
+link('assets/css/blue/base.css')
+link('assets/css/button.css')
+link('assets/css/blue/button.css')
+link('assets/css/form-controls.css')
+link('assets/css/form-elements.css')
+link('assets/css/blue/form-controls.css')
+link('assets/css/blue/form-elements.css')
+link('assets/css/badges.css')
+link('assets/css/blue/badges.css')
+link('assets/css/alerts.css')
+link('assets/css/blue/alerts.css')
+link('assets/css/cards.css')
+link('assets/css/blue/cards.css')
+link('assets/css/dropdown.css')
+link('assets/css/blue/dropdown.css')
+link('assets/css/hero.css')
+link('assets/css/blue/hero.css')
+link('assets/css/input-groups.css')
+link('assets/css/list-group.css')
+link('assets/css/close-icon.css')
+link('assets/css/icons.css')
+link('assets/css/media.css')
+link('assets/css/modal.css')
+link('assets/css/navbar.css')
+link('assets/css/blue/navbar.css')
+link('assets/css/blue/waves.css')
+link('assets/css/ajax.css')
+link('assets/css/breadcrumb.css')
+link('assets/css/blue/breadcrumb.css')
+link('assets/css/labels.css')
+link('assets/css/blue/labels.css')
+link('assets/css/stream.css')
+link('assets/css/blue/stream.css')
+link('assets/css/nav-tabs.css')
+link('assets/css/blue/nav-tabs.css')
+link('assets/css/popover.css')
+link('assets/css/offcanvas.css')
+link('assets/css/pagination.css')
+link('assets/css/blue/pagination.css')
+link('assets/css/file.css')
+link('assets/css/datepicker.css')
+link('assets/css/timepicker.css')
+link('assets/css/blue/datepicker.css')
+link('assets/css/blue/timepicker.css')
+link('assets/css/teaser.css')
+link('assets/css/blue/teaser.css')
+link('assets/css/tablesaw.css')
+link('assets/css/meta.css')
if pagetype == 'styleguide'
  +link('assets/css/blue/jumbotron.css')
  +link('assets/css/blue/styleguide.css')
  +link('assets/css/blue/prism.css')
