nav.docs-sidebar.hidden-print.toc-wrapper
  h6.text-primary Components
  ul.nav.table-of-contents.docs-sidebar
    li(class=(page == "Buttons" ? "active" : ""))
      a(href='buttons.html') Buttons
    li(class=(page == "Forms" ? "active" : ""))
      a(href='forms.html') Forms
      ul.table-of-contents.nav
        li
          a(href='#input') Input Fields
        li
          a(href='#textarea') Textareas
        li
          a(href='#select') Select
        li
          a(href='#radio') Radio Buttons
        li
          a(href='#checkbox') Checkboxes
        li
          a(href='#switches') Switches
        li
          a(href='#file') File Input Button
        li
          a(href='#date-picker') Date picker
    li(class=(page == "Grid" ? "active" : ""))
      a(href='grid.html') Grid
    li(class=(page == "Breadcrumbs" ? "active" : ""))
      a(href='breadcrumbs.html') Breadcrumbs
    li(class=(page == "Cards" ? "active" : ""))
      a(href='cards.html') Cards
    li(class=(page == "Tabs" ? "active" : ""))
      a(href='tabs.html') Tabs
    li(class=(page == "Pagination" ? "active" : ""))
      a(href='pagination.html') Pagination
    li(class=(page == "Badges" ? "active" : ""))
      a(href='badges.html') Badges
    li(class=(page == "Labels" ? "active" : ""))
      a(href='labels.html') Labels
