mixin link(name)
  link(href=name, type='text/css', rel='stylesheet', media='screen')

+link('css/components/asset-builds/normalize.css')
+link('css/components/asset-builds/fonts.css')
+link('css/components/asset-builds/buttons.css')
+link('css/components/asset-builds/forms.css')
+link('css/components/asset-builds/scaffolding.css')
+link('css/components/asset-builds/tables.css')
+link('css/components/asset-builds/type.css')
+link('css/components/asset-builds/utilities.css')
+link('css/components/asset-builds/badges.css')
+link('css/components/asset-builds/alerts.css')
+link('css/components/asset-builds/cards.css')
+link('css/components/asset-builds/dropdowns.css')
+link('css/components/asset-builds/hero.css')
+link('css/components/asset-builds/toc.css')
+link('css/components/asset-builds/grid.css')
+link('css/components/asset-builds/input-groups.css')
+link('css/components/asset-builds/layout.css')
+link('css/components/asset-builds/list-group.css')
+link('css/components/asset-builds/icons.css')
+link('css/components/asset-builds/media.css')
+link('css/components/asset-builds/modals.css')
+link('css/components/asset-builds/navbar.css')
+link('css/components/asset-builds/waves.css')
+link('css/components/asset-builds/ajax.css')
+link('css/components/asset-builds/breadcrumbs.css')
+link('css/components/asset-builds/labels.css')
+link('css/components/asset-builds/stream.css')
+link('css/components/asset-builds/tabs.css')
+link('css/components/asset-builds/popovers.css')
+link('css/components/asset-builds/off-canvas.css')
+link('css/components/asset-builds/pagination.css')
+link('css/components/asset-builds/file.css')
+link('css/components/asset-builds/datepicker.css')
+link('css/components/asset-builds/timepicker.css')
+link('css/components/asset-builds/tablesaw.css')
+link('css/components/asset-builds/chips.css')
+link('css/components/asset-builds/book.css')
+link('css/components/asset-builds/meta.css')
if pagetype == 'styleguide'
  +link('css/components/asset-builds/jumbotron.css')
  +link('css/components/asset-builds/styleguide.css')
  +link('css/components/asset-builds/prism.css')
