footer.brand-secondary
  .navbar.navbar-footer
    .container.clearfix
      .nav.navbar-nav.navbar-right
        li
          a(href="#") About
        li
          a(href="#") Terms
        li
          a(href="#") Privacy
        li
          a(href="#") Cookies
        li
          a(href="#") Contact
      .navbar-brand
        a(href='home-lu.html') Open Social
