script(src='js/drupal-core.js')
script(src='js/contrib/bootstrap.min.js')
script(src='assets/js/blue/waves.min.js')
script(src='assets/js/offcanvas.min.js')
script(src='assets/js/textarea-autogrow.min.js')
script(src='assets/js/navbar-search.min.js')
script(src='js/init.js')
script(src='assets/js/jquery.responsive-dom.min.js')
script(src='assets/js/responsive-dom-init.min.js')

if tablesaw
  script(src='assets/js/tablesaw.min.js')
  script(src='assets/js/tablesaw-init.min.js')


if pagetype == "template"
  script(src='assets/js/navbar-search.min.js')

  script.
    new UISearch( document.getElementById('navbar-search') );

if pagetype == "styleguide"
  script(src='js/contrib/prism/prism.js')
  script(src='js/styleguide.js')

  script.
    // Escape code
    // ============================================================

    var $lang_markup       = document.querySelectorAll('pre code.language-markup')
        $lang_js           = document.querySelectorAll('script.atomic-js'),
        $lang_jscode       = document.querySelectorAll('pre code.language-javascript')
        lang_markupsnippet = [],
        lang_jsnippet      = [];

    // Markup
    // order matters!
    // ============================================================

    for(var i = 0, l = $lang_markup.length; i < l; i++) {
      lang_markupsnippet.push(
        $lang_markup[i].innerHTML.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')
      );
      $lang_markup[i].innerHTML = lang_markupsnippet[i];
    }

    // JavaScript
    // order matters!
    // ============================================================
    for(var i = 0, l = $lang_jscode.length; i < l; i++) {
      lang_jsnippet.push(
        $lang_jscode[i].innerHTML.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')
      );
    }

    for(var i = 0, l = $lang_js.length; i < l; i++) {
      $lang_js[i].innerHTML = lang_jsnippet[i];
    }
