nav.docs-sidebar.hidden-print.toc-wrapper
  h6.text-primary Style &amp; Content
  ul.nav.table-of-contents.docs-sidebar
    li(class=(page == "Color" ? "active" : ""))
      a(href='color.html') Color
    li(class=(page == "Type" ? "active" : ""))
      a(href='type.html') Type
    li(class=(page == "Tables" ? "active" : ""))
      a(href='tables.html') Tables
    li(class=(page == "Images" ? "active" : ""))
      a(href='images.html') Images
