@import 'settings';

.waves-effect {

  // Style input button bug.
  input[type="button"], input[type="reset"], input[type="submit"] {
    background: none;
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
  }

  img,
  svg {
    position: relative;
    z-index: -1;
  }

  &.waves-classic .waves-ripple {
    background-color: rgba(0, 0, 0, 0.15);
  }

}

.waves-circle {
  text-align: center;
  -webkit-mask-image: none;
  border-width: 0;
}

.waves-input-wrapper {
  border-radius: $border-radius-base;
}

// custom bootstrap button implementation
.waves-btn {
  transform: translateZ(0);
  -webkit-mask-image: none;
  border-radius: $border-radius-base;
}


// Firefox Bug: link not triggered
a.waves-effect .waves-ripple {
  z-index: -1;
}
