{#
/**
 * @file
 * Default theme implementation of followers counter.
 *
 * Available variables:
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 *
 * @see template_preprocess_followers()
 *
 * @ingroup themeable
 */
#}

{% set count = flagcount(flag, flaggable) %}

<span class="badge__container">
  <span class="badge__label">{{ count }}</span>
  &nbsp;
  <span class="badge__label badge__label--description">
    {% trans %}follower{% plural count %}followers{% endtrans %}
  </span>
</span>
