@import 'settings';

.badge {
  border-radius: $badge-border-radius;

  label {
    font-weight: 300;
  }
}

.badge--likes-count,
.badge--visibility,
a.badge--comment-count {
  background-color: $gray-lighter;
  color: $default-color;

  .icon-badge {
    fill: $default-color;
  }

}

.badge--likes-count .icon-badge {
  fill: transparent !important;
  stroke: $default-color;
  stroke-width: 15px;
}

// Account for badges in navs
.list-group-item.active > .badge {
  color: $badge-active-color;
  background-color: $badge-active-bg;
}

.badge-default {
  color: $badge-color;
  background-color: $badge-bg;
}

.badge-accent {
  background-color: $brand-accent;
  color: $default-color;

  &:hover {
    color: $default-color;
  }

}

.badge-primary {
  background-color: $brand-primary;
}

.badge-secondary {
  background-color: $brand-secondary;
}

.badge-gray-lighter {
  background-color: $gray-lighter;
  color: $gray-light;

  .icon-badge-toggle {
    background-color: white;
  }
}

.badge-gray-dark {
  background-color: $gray-dark;
}
