@import "settings";

.socialblue--sky {
  .cover--landing {
    position: relative;
    margin-bottom: 9px;

    @include for-tablet-landscape-up {
      margin-bottom: 18px;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 100%;
      width: 100%;
      left: 0;
      height: 9px;

      @include for-tablet-landscape-up {
        height: 18px;
      }
    }
  }
}
