@import "settings";
@import "settings--sky";

// Hero banner with full width.
.socialblue--sky {

  .cover--landing {
    position: relative;
    margin-bottom: 9px;

    @include for-tablet-landscape-up {
      margin-bottom: 18px;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 100%;
      width: 100%;
      left: 0;
      height: 9px;

      @include for-tablet-landscape-up {
        height: 18px;
      }
    }
  }

  .cover-wrap {
    @include for-tablet-portrait-up {
      min-height: 320px;

      > .hero-footer {
        position: static;
      }
    }
  }

  .hero-footer {
    padding-bottom: 4em;
  }

  .hero-footer,
  .hero-footer__header {
    flex-wrap: wrap;
  }

  .hero__banner {
    .shariff.card__block {
      display: flex;
      flex: auto;
      justify-content: flex-end;
      padding: 0;

      .orientation-horizontal {
        flex-wrap: inherit;
        margin: 0 -.5rem;

        li {
          margin: 0 .5rem;
        }

        li,
        li > a {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .fab {
          font-size: 1rem;
        }

        .fa-facebook-f {
          font-size: 1.25rem;
        }
      }
    }

    .hero-footer {
      .vote-widget {
        @include for-phone-only {
          width: auto;
        }
      }
    }

    .hero-footer__list ul,
    .hero__info-list {
      margin: 0;
      padding-left: 0;
      list-style: none;

      li,
      li a {
        font-weight: 400;
      }

      li {
        display: flex;
        align-items: center;
      }
    }

    .hero-footer__list {
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -23px;
      }

      li {
        padding: 0 23px;
        margin-bottom: 15px;
      }

      li,
      li a {
        font-weight: 700;
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: .5rem;

        @include for-tablet-landscape-up {
          width: 26px;
          margin-right: 10px;
        }
      }

      .meta-engage {
        align-items: center;
        margin-bottom: 0;


        .badge--large:first-child {
          padding-left: 0;
          font-weight: 700;
        }

        > * {
          margin-right: 0;
          padding-right: 1rem;

          @include for-tablet-landscape-up {
            padding-right: 45px;
          }
        }
      }

      .meta-follow {
        margin-left: 0;
        margin-bottom: 0;
        flex-basis: auto;
      }
    }

    .badge {
      color: #4a4a4a;
    }
  }

  // Hero static
  .hero__banner-static {
    @include full-with-inside-container;
    background: #fff;
    padding: 60px 1em 0;

    @include for-tablet-portrait-up {
      padding-bottom: 25px;
    }

    @include for-phone-only {
      padding-top: 30px;
    }

    .teaser__title {
      margin: 0 0 1rem;

      @include for-tablet-landscape-up {
        font-size: 2.25rem;
      }

      a {
        color: #4a4a4a;
        font-weight: 700;
        line-height: 44px;
      }
    }

    .badge {
      vertical-align: middle;
    }

    .vote-like {
      margin-right: 0;
    }

    .metainfo {
      margin-bottom: 1.5rem;
      align-items: center;
    }

    .metainfo__content {
      line-height: 2;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .badge--large {
        line-height: 1.2;
        margin-bottom: 0;
        padding-left: 0;
      }
    }

    .page-title {
      width: auto;
      max-width: inherit;
      text-shadow: none;
      text-align: left;
      color: inherit;
      margin: 0;
      padding: 0 0 35px;
    }

    .cover-wrap {
      min-height: inherit;
      padding-top: 0;
      padding-bottom: 0;
    }

    .hero__tag {
      margin-bottom: .75rem;

      a,
      span {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;

        @include for-tablet-portrait-up {
          font-size: 1.25rem;
        }
      }
    }

    .hero-footer {
      padding-top: 1rem;
      padding-bottom: 1.25rem;
      flex-direction: column;

      @include for-tablet-portrait-up {
        align-items: inherit;
        padding-bottom: 2.5rem;

        main:not(.is-navbar-secondary) & {
          padding-bottom: 20px;
        }
      }

      @include for-tablet-landscape-up {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      a:not(.btn) {
        @include for-tablet-landscape-up {
          font-size: 1rem;
        }
      }

      > * {
        margin-bottom: 1rem;
        flex: 0 0 100%;
        max-width: 100%;

        @include for-tablet-landscape-up {
          margin-bottom: 0;
          flex: 0 0 auto;
          max-width: inherit;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .hero__info-list {
      margin-bottom: -15px;

      &--icon {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }

      li {
        margin-bottom: 15px;
      }
    }

    .hero-footer__text {
      @include for-tablet-portrait-up {
        margin-left: 0;
        margin-right: 25%;
      }
    }

    .hero-footer__cta {
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 1rem;

      @include for-tablet-landscape-up {
        flex: 0 0 35%;
        max-width: 35%;
        padding-top: 0;
      }

      .btn-group,
      .btn {
        @include for-phone-only {
          width: 100%;
        }
      }

      .btn {
        border-width: 2px;
        font-size: .875rem;
        text-transform: uppercase;
      }

      .dropdown-menu {
        min-width: auto;
        width: 100%;
        border-radius: 5px;

        a {
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }


  // Hero banner static for event teaser pages.
  &.page-node-type-event .hero__banner-static {
    @include for-tablet-portrait-up {
      padding-top: 75px;
    }

    .hero-image {
      margin-bottom: 3.5rem;

      @include for-phone-only {
        margin-bottom: 1.75rem;
      }
    }

    .metainfo {
      margin-bottom: 26px;
    }

    .hero-footer {
      padding-top: 0;
    }

    .hero-footer__header {
      display: flex;
      flex-direction: column;
      padding: 1.875rem;
      margin-bottom: 1.25rem;
      background: $gray-lightest;

      @include for-tablet-portrait-up {
        flex-direction: row;
        align-items: flex-end;
      }

      @include for-tablet-landscape-up {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .hero-footer__text {
      margin-top: 0;

      @include for-tablet-portrait-up {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
      }

      @include for-tablet-landscape-up {
        flex: 0 0 65%;
        max-width: 65%;
      }
    }

    .article__special-fields {
      padding: 0;
      border: 0;
      letter-spacing: .4px;

      .article__special-field {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .article__special-fields-icon {
        @include for-tablet-portrait-up {
          width: 20px;
          height: 20px;
        }
      }
    }

    .hero-footer__cta {
      .btn {
        min-width: 195px;
        color: inherit;
      }
    }
  }

  main:not(.is-navbar-secondary) {
    .hero__banner-static {
      @include for-tablet-portrait-up {
        padding-bottom: 0;
      }

      .hero-footer {
        padding-bottom: 1.25rem;
      }
    }

    .hero__full {
      .hero-footer__bottom {
        @include for-tablet-landscape-up {
          padding-bottom: 20px;
        }

        padding-bottom: 20px;
      }
    }
  }
}
