@import 'settings';
@import 'settings--sky';

body:not(.socialblue--sky) {
  .complementary--content-merged {
    border-radius: 0 !important;
    box-shadow: none;
    background: transparent;
  }
}

.socialblue--sky {

  .card {
    margin-bottom: 1.5rem;
  }

  .card--views__sidebar {

    .card__block {
      @include for-tablet-landscape-up {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
      }
    }
  }

  section:not(.content-merged) {
    .complementary--content-merged {
      background: transparent;
      border-radius: 0 !important;
      box-shadow: none;
    }
  }

  // Content Merged.
  .card__content-merged {

    > h4 {
      margin-bottom: 1.25rem;

      @include for-tablet-landscape-up {
        font-size: 1.5rem;
      }
    }

    @include for-desktop-up {
      padding: .875rem 3.5rem 5.75rem;
    }

    .content-merged__list {
      display: flex;
      flex-direction: column;
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
      border-bottom: 2px solid #fafafa;

      @include for-tablet-portrait-up {
        flex-direction: row;
      }

      h5,
      .list-item__label {
        margin-top: 0;
        font-size: .875rem;
        font-weight: 300;
        color: #9b9b9b;

        @include for-tablet-portrait-up {
          flex: 0 0 120px;
          max-width: 120px;
          margin: 0;
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  // Content merged for Sidebar.
  .complementary--content-merged {
    @include for-tablet-landscape-down {
      margin-bottom: 0;
    }
  }

  .content-merged {
    .region--complementary {
      .card {
        margin-bottom: 0;

        > .card__title {
          padding-top: 1.875rem;
          font-size: .875rem;
          text-transform: uppercase;
          color: #9b9b9b;
        }

        > .card__actionbar {
          padding-bottom: 1.875rem;
        }
      }
    }

    .complementary--content-merged {
      background: #fff;

      @include for-tablet-landscape-down {
        margin-bottom: 0;
      }
    }

    .region--complementary-top,
    .region--complementary-bottom {
      > .card {
        position: relative;
        box-shadow: none;

        &:after {
          @include separate-line;
          top: 100%;
        }

        &:last-child:after {
          display: none;
        }
      }
    }

    .region--complementary-top + .region--complementary-bottom {
      > .card:first-child:before {
        @include separate-line;
        bottom: 100%;
      }
    }

    [class*='statistic-block'] {
      box-shadow: none;
    }
  }

  // Statistic block.
  [class*='statistic-block'] {
    position: relative;
    padding: 1rem 1.875rem 0;
    background: #fafafa;

    @include for-tablet-portrait-up {
      padding: 2.5rem 2.25rem 0;
    }

    @include for-tablet-landscape-down {
      margin-bottom: 0;
      border-radius: 0 !important;
      box-shadow: none;
    }

    .hero-footer__cta {
      position: static;
      padding: 0 0 1.25rem;
      margin: 0;

      @include for-tablet-portrait-up {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
      }

      > * {
        width: 100%;
      }

      .btn {
        width: 100%;
        font-weight: 700;
        text-transform: uppercase;
        border-width: 2px;
      }
    }

    .card__actionbar {
      padding: 1.5rem 0;
    }

    //.btn-group__chellange {
    //  > div {
    //    display: flex;
    //
    //    > *:not(.caret) {
    //      width: auto;
    //    }
    //
    //    > a {
    //      flex: 1 1 auto;
    //    }
    //
    //    .btn + .btn {
    //      margin-left: 10px;
    //    }
    //  }
    //}

    .card__actionbar {
      padding-left: 0;
      padding-right: 0;
    }

    &.block-profile-statistic-block {
      padding-top: 0;

      .card__info-user {
        .hero-avatar {
          border-color: #fafafa;
        }
      }
    }
  }

  .card__info-user {
    position: relative;
    width: 100%;
    margin-bottom: 1.875rem;
    padding-top: 0;
    padding-bottom: 1.25rem;
    text-align: center;

    @include for-phone-only {
      margin: 0  auto .75rem;
      padding-bottom: .75rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      background: #000;

      @include for-phone-only {
        left: 1.5rem;
        right: 1.5rem;
      }
    }

    .hero-avatar {
      width: 160px;
      height: 160px;
      margin: -80px 0 5px;
      border-width: 10px;
      box-shadow: none;

      @include for-phone-only {
        width: 100px;
        height: 100px;
        border-width: 5px;
        margin: -50px 0 10px;
      }
    }

    &--name {
      margin: 0 0 10px;
      font-size: 1.375rem;
      line-height: 24px;

      @include for-tablet-portrait-up {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1.2;
      }
    }

    &--about {
      font-size: 1rem;
      line-height: 24px;

      &-job,
      &-organization {
        font-size: .875rem;
        margin-bottom: 5px;

        @include for-tablet-portrait-up {
          font-size: 1.125rem;
          margin-bottom: 10px;
        }
      }

      &-address {
        color: #989b97;
        font-weight: 700;

        @include for-phone-only {
          font-size: .875rem;
          color: #b5b8b3;
          text-transform: uppercase;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .card__counter {
    padding-bottom: 1.25rem;

    @include for-phone-only {
      width: 100%;
      margin: 0 auto;
      padding: 0 1.25rem 1rem;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      list-style: none;
      margin: 0 -.5rem;
      padding: 0;
    }

    li {
      padding: 0 .5rem;
      flex: 0 0 33.333333%;
      max-width: 125px;
    }

    span {
      display: block;
      text-align: center;
    }

    &-quantity {
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 5px;

      @include for-phone-only {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 5px;
      }
    }

    &-text {
      font-size: .75rem;
      line-height: 1.2;

      @include for-phone-only {
        font-size: 11px;
      }
    }
  }
}
