@import 'settings';

.card {
  border-top-left-radius: $card-border-radius;
  border-bottom-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
  background-color: $card-bg;
}

.card__title {
  color: $gray-light;
  font-weight: 500;
  //text-transform: uppercase;
}

// Cards in the sidebar should have a centered title.
.region--complementary,
// Cards used on landing page streams as a sidebar should look the same.
.paragraph--block .secondary-col {
  .card__title,
  .card__actionbar {
    text-align: center;
  }
}

.card__block {

  &:first-child {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }

}

.card__nested-section:last-child {
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.card__link {
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 10%);
  }
}

.card.block-data-policy {

  .card__title,
  .card__block {
    width: 100%;
  }

}

// SocialBlue Sky
.socialblue--sky {
  @mixin btn-link__arrow($cycle-width, $cycle-height, $arrow-right, $arrow-padding) {
    position: relative;
    float: none;
    margin-left: 0;
    padding: 0 30px 0 0;
    text-transform: uppercase;
    font-weight: 700;

    border: none;
    box-shadow: none;
    transition: .3s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: .3s ease-out;
    }

    &:before {
      width: $cycle-width;
      height: $cycle-height;
      border-radius: 50%;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      right: $arrow-right;
      margin-top: -1px;
      padding: $arrow-padding;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg) translateY(-50%);
      z-index: 2;
    }
  }

  .card {
    margin-bottom: 2.5rem;
  }

  .card--views__sidebar {

    .card__block {
      @include for-tablet-landscape-up {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
      }
    }

    .card__actionbar {
      .btn {
        @include btn-link__arrow(18px, 18px, 5px, 2px);
      }
    }
  }

  .paragraph--featured {
    .field--name-field-featured-link a {
      @include btn-link__arrow(18px, 18px, 5px, 2px);
    }
  }
}
