@import 'settings';

.card {
  border-top-left-radius: $card-border-radius;
  border-bottom-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
  background-color: $card-bg;
}

.card__title {
  color: $gray-light;
  font-weight: 500;
  //text-transform: uppercase;

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    margin-right: 7px;
  }
}

.block--custom-content-list {
  // Temporary styles.
  .card__title svg {
    display: none;
  }

  .card__actionbar {
    text-align: center;
  }
}

// Cards in the sidebar should have a centered title.
.region--complementary,
// Cards used on landing page streams as a sidebar should look the same.
.paragraph--block .secondary-col {
  .card__title,
  .card__actionbar {
    text-align: center;
  }
}

.card__block {

  &:first-child {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }

}

.card__nested-section:last-child {
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.card__link {
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 10%);
  }
}

.card.block-data-policy {

  .card__title,
  .card__block {
    width: 100%;
  }

}
