body[class*='gin'] {
	.toolbar .toolbar-bar {
		#toolbar-item-administration-tray {
			a.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default {

				&:before {
					width: 45px;
					height: 35px;
					top: 50%;
					-webkit-mask-image: none;
					mask-image: none;
					background: url('../../images/logo-toolbar.svg') no-repeat 0/cover;
					transform: translateY(-50%);

					// Media query from Gin theme.
					@media (min-width: 976px) {
						left: 7px;
						transform: translateY(-50%);

						[dir='rtl'] & {
							left: auto;
							right: 7px;
						}
					}
				}
			}

      .menu-item {
        a.toolbar-icon {
          &:hover {
            color: var(--colorGinPrimary)
          }
        }
        a.toolbar-icon-social-core-dashboard-content-management {
          &:before {
            width: 22px;
            height: 22px;
            -webkit-mask-image: url("../media/sprite.svg#content-view");
            mask-image: url("../media/sprite.svg#content-view");
          }
        }
        a.toolbar-icon-social-core-dashboard-menu-management {
          &:before {
            width: 22px;
            height: 22px;
            -webkit-mask-image: url("../media/sprite.svg#structure-view");
            mask-image: url("../media/sprite.svg#structure-view");
          }
        }
        a.toolbar-icon-social-core-dashboard-people {
          &:before {
            width: 22px;
            height: 22px;
            -webkit-mask-image: url("../media/sprite.svg#people-view");
            mask-image: url("../media/sprite.svg#people-view");
          }
        }
        a.toolbar-icon-social-core-dashboard-configuration {
          &:before {
            width: 22px;
            height: 22px;
            -webkit-mask-image: url("../media/sprite.svg#config-view");
            mask-image: url("../media/sprite.svg#config-view");
          }
        }
        a.toolbar-icon-social-core-dashboard-data-collection-usage {
          &:before {
            width: 22px;
            height: 22px;
            -webkit-mask-image: url("../media/sprite.svg#reports-view");
            mask-image: url("../media/sprite.svg#reports-view");
          }
        }
        a.toolbar-icon-social-core-dashboard-appearance {
          &:before {
            width: 22px;
            height: 22px;
            -webkit-mask-image: url("../media/sprite.svg#appearance-view");
            mask-image: url("../media/sprite.svg#appearance-view");
          }
        }
      }
		}
	}
}
