.profile-preview-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    border: 1px solid transparent;
    top: -3px;
    left: -3px;
    border-radius: 50%;
  }

  &:hover {
    &:before {
      border-color: #777;
    }
  }
}
