@import 'settings';

.tablesaw {
  empty-cells: show;
  border: 0;
  padding: 0;
}

.tablesaw-bar {
  width: 100%;
  clear: both;
  height: 50px;
  text-align: right;

  &.tablesaw-all-cols-visible {
    display: none;
  }

  .btn {

    &.tablesaw-nav-btn {
      display: inline-block;
      overflow: hidden;
      width: 1.8em;
      height: 30px;
      background-position: 50% 50%;
      margin-left: .5em;
      position: relative;
      &:before {
        border-color: white;
        content: "\0020";
        overflow: hidden;
        width: 0;
        height: 0;
        position: absolute;
      }

      &.up, &.down {
        &:before {
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          left: .5em;
        }
      }
      &.down:before {
        border-top: 10px solid #808080;
      }
      &.up:before {
        border-bottom: 10px solid;
      }

      &.left, &.right {
        &:before {
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
      }
      &.left:before {
        left: .5em;
        border-right: 10px solid;
      }
      &.right:before {
        left: .64em;
        border-left: 10px solid;
      }

      &.disabled {
        opacity: .25;
        cursor: default;
        pointer-events: none;
      }
    }

  }
}


.tablesaw-advance {
  float: right;

  &.minimap {
    float: none;
    display: inline-block;
  }
}


.tablesaw-advance-dots {
  margin-bottom: 0;
  padding-right: 15px;
  li {
    display: inline-block;
    margin: 0;
    padding: 0 .2em;
  }
  i {
    width: .25em;
    height: .25em;
    background: #555;
    border-radius: 100%;
    display: inline-block;
  }
}
.tablesaw-advance-dots-hide {
  opacity: .25;
  cursor: default;
  pointer-events: none;
}


@import "tablesaw_swipe";
@import "tablesaw_stack";
