@import "settings";

.pagination {
  border-radius: $border-radius-small;

  > li {

    > a,
    > span {
      color: $pagination-color;
      background-color: $pagination-bg;
      border-radius: $border-radius-small;
    }

    &:first-child {
      > a,
      > span {
        border-radius: $border-radius-small;
      }
    }

    &:last-child {
      > a,
      > span {
        border-radius: $border-radius-small;
      }
    }

  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
    }
  }
}


.mini-pager {
  background-image: linear-gradient(transparent, $body-bg);
}
