@import 'settings';

// Make sure comment anachors are not hidden
// behind fixed navigation (which is 50px tall).
a[id^="comment-"] {
  display: block;
  position: relative;
  top: -($navbar-height + 20px);
  visibility: hidden;
}

.comment {
  position: relative;
  margin-top: 1em;
  line-height: 1.2;
  display: flex;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  .form-actions .btn {
    margin-bottom: 0;
  }

}

.comment__avatar {
  margin-right: 8px;
  width: 38px;
  height: 38px;
  flex-shrink: 0;

  @include for-tablet-portrait-up {
    margin-right: 12px;
  }

}

.comment__content {
  flex: 1;
}

.comment__author {
  color: $gray-base;
  padding-right: 30px;
}

.comment__metadata {
  display: inline-block;
  font-size: $button-font-size-small;
  color: $gray-light;

  > * {
    display: inline-block;
    margin-right: 0.5em;
  }

}

.comment__text {
  margin: .25em 0 .5em;
  line-height: 1.3;

  p {
    word-break: break-word;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // like badge
  .badge {
    margin: 0;
    line-height: 1;
    padding: 2px 0.6em
  }

}

.comments {
  margin-bottom: 0.5em;
  padding: 1em 0.5em 1em 1em;

  @include for-tablet-landscape-up {
    margin-left: 56px;
  }

  .comment:first-of-type {
    margin-top: 0;
  }

  // avatars in replies should be smaller
  .comment__avatar {
    width: 34px;

    img {
      width: 34px;
      height: 34px;
    }
  }

}

// make sure the btn-group is positioned top right of the comment
.comment__actions {
  position: absolute;
  top: -8px;
  right: 0;
}

.comment__reply-btn {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  font-size: $button-font-size-small;
  margin-right: 10px;
}

// Comment form needs to have usable layout on mobile

.comment__avatar {
  display: none;

  @include for-tablet-portrait-up {
    display: block;
  }
}

.comment-form {

  .form-managed-file {
    padding-right: 40px;
  }

  @include for-phone-only {

    .btn--comment-submit {
      padding-left: 6px;
      padding-right: 6px;
      margin-bottom: 0;

      .label {
        font-size: 0;
        text-indent: -9999px;
      }

    }

  }

  @include for-tablet-portrait-up {
    .btn-icon {
      display: none;
    }
  }

  textarea.form-control {
    height: $input-height-base;
  }

}

/*
* Fix styles if last of page textarea is focused on mobile
* Only for page with textareas.
 */
.main-container.open-keyboard {
  @include for-phone-only {
    padding-bottom: 270px;
  }
}

// when optional module social_comment_upload is enabled
.comment-attachments {
  flex: 1 0 100%;

  .btn {
    margin-left: 0;
  }

  &:not([open]) > *:not(summary) {
    display: none;
  }

  > summary:before {
    content: '';
    display: none;
  }

  .btn-link {
    padding-left: 0;
    padding-right: 0;

    svg {
      outline: none;
      cursor: pointer;
      user-select: none;
      vertical-align: bottom;
    }

  }

}

/* Hide the default marker. */
summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

// Set state for open details
details .details__close-icon,
details[open] .details__open-icon {
  display: none;
}

details .details__open-icon,
details[open] .details__close-icon {
  display: inline-block;
}

.comment-unpublished {
  img {
    opacity: 0.5;
  }
  .badge-default {
    background-color: $gray-light;
    color: white;
  }
  * {
    color: #9b9b9b;
  }
}

/* Photoswipe gallery displayed in comments. */
.comment .photoswipe-gallery-custom {
  margin-top: .5rem;
}
