@import 'settings';

// make sure the site doesn't get pushed by the admin toolbar
.toolbar-tray-open.toolbar-vertical {
  #header,
  #content {
    margin-left: -15rem;
  }

}

// make sure to take the admin into account when opening a off-canvas sidebar
.toolbar-vertical .off-canvas-right {
  transform: translateY(39px) translateX(280px);

  @include MQ($small) {
    transform: none;
  }
}

.toolbar-vertical .off-canvas-right.is-open {
  transform: translateY(39px) translateX(0);

  @include MQ($small) {
    transform: none;
  }

}

// make sure we can see both menu's
.toolbar-fixed .navbar-fixed-top {
  position: relative;
  z-index: 10;
}

.toolbar-fixed .main-container {
  padding-top: 0;
}

.hero-container > .contextual {
  margin: 0;
}

@media screen and (max-width:767px) {
	.toolbar-vertical {

		.navbar-fixed-top {
			position: relative;
			z-index: 1;
		}

	}
}
