@import 'settings';

.toolbar-vertical #block-filter:target {
  transform: translateY(39px) translateX(0);
}

// make sure to take the admin into account when opening a off-canvas sidebar
.toolbar-vertical .off-canvas-right {
  transform: translateY(39px) translateX(280px);

  @include for-tablet-landscape-up {
    transform: none;
  }
}

.toolbar-vertical .off-canvas-right.is-open {
  transform: translateY(39px) translateX(0);

  @include for-tablet-landscape-up {
    transform: none;
  }

}

.toolbar-vertical,
.toolbar-fixed {
  // The vertical or fixed toolbar is already fixed so the navbar needs to be
  // made to just sit on the page.
  .navbar-default {

    // Media query from Gin theme.
    @media (max-width: 975px) {
      position: relative;
    }
  }

  // The admin toolbar needs to have a higher z-index than the normal menu.
  // Lowering the z-index of the normal menu causes other issues.
  .toolbar .toolbar-bar {
    z-index: $zindex-admin-menu;
  }
}

.toolbar-fixed .main-container,
.toolbar-vertical .main-container {

  // Media query from Gin theme.
  @media (max-width: 975px) {
    padding-top: 0;
  }
}

.toolbar-horizontal .toolbar-tray {
  .menu-item {
    &:hover,
    &:focus {
      .toolbar-icon.toolbar-icon-social-lets-connect-main:before {
        background-color: transparent;
      }
    }
  }
}
