@import 'settings';

.toolbar-vertical #block-filter:target {
  transform: translateY(39px) translateX(0);
}

// make sure to take the admin into account when opening a off-canvas sidebar
.toolbar-vertical .off-canvas-right {
  transform: translateY(39px) translateX(280px);

  @include for-tablet-landscape-up {
    transform: none;
  }
}

.toolbar-vertical .off-canvas-right.is-open {
  transform: translateY(39px) translateX(0);

  @include for-tablet-landscape-up {
    transform: none;
  }

}

// make sure we can see both menu's
.toolbar-fixed .navbar-default {
  position: relative;
  z-index: 10;
}
.toolbar-fixed .main-container,
.toolbar-vertical .main-container {
  padding-top: 0;
}

@include for-phone-only {
  .toolbar-vertical .navbar-default {
    position: relative;
    z-index: 1;
  }
}
