//
// File (and Image Widget) styles.
//

 @import 'init';

.file {
  display: table;
  font-size: 0.75rem;
  margin: 10px 0 1rem;
  width: 100%;

  @include MQ($small) {
    margin-top: 0;
  }

  > span {
    background: #fff;
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border-left: 1px solid $gray-lighter;
    }
    &:last-child {
      border-right: 1px solid $gray-lighter;
    }
    &:not(.text-primary) {
      color: $gray-light;
    }
  }
  > .tabledrag-changed {
    &, &:last-child {
      border: 1px solid darken($alert-warning-border, 5%);
    }
    background: $alert-warning-bg;
    border-radius: 0;
    color: $alert-warning-text;
    display: table-cell;
    padding: 0 1em;
    top: 0;
    vertical-align: middle;
    border-left: 1px solid inherit;
  }
}

.file-icon {
  display: table-cell;
  padding: .25em .5em;
  text-align: center;
  vertical-align: top;
}

.file-link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  white-space: normal;
  word-break: break-word;

  a, a:hover, a:focus, a:active {
    color: inherit;
  }

}

.file-size {
  display: table-cell;
  padding: 0.5em 1em;
  text-align: right;
  white-space: pre;
  vertical-align: middle;
}

.image-widget.row {
  overflow: hidden;
}

.file-widget {
  .file {
    margin-bottom: 0;
    font-size: 0.85rem;
  }

  + .form-managed-file {
    margin-top: 1rem;
  }
}
