@import "settings";

.vote-widget {

  .vote-dislike {
    display: none;
  }

}

.badge a.disable-status {
  cursor: default;

  .icon-vote {
    fill: $text-color;
    stroke: $text-color;
  }

}

.badge .icon-vote {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: $text-color;
  stroke-width: 15px;
  transition: .2s all ease;
}

// Added like
.voted-like .icon-vote {
  fill: black;
  stroke: black;
}

.badge a:active {

  // Voted like focus
  &.voted-like .icon-vote {
    fill: black;
    stroke: black;
  }

  // Not voted like focus
  &:not(.voted-like) .icon-vote {
    stroke: black;
    fill: transparent;
  }

}

@include for-tablet-portrait-up {
  .badge a:hover {

    // Not voted like hover
    &:not(.voted-like) .icon-vote {
      stroke: black;
      fill: transparent;
    }

    // Voted like hover
    &.voted-like .icon-vote {
      fill: $text-color;
      stroke: $text-color;
    }

  }

}
