@import "settings";

.vote-like {
  background-color: $gray-lighter;

  a[title="Like"] {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    &:focus {
      outline: 2px solid blue;
    }

    .icon-gray {
      fill: transparent;
      stroke: $text-color;
      stroke-width: 15px;
      transition: .2s all ease;

      &:hover {
        fill: $text-color;
        stroke: $text-color;
      }

    }

    &:not(.voted-like) .icon-gray:hover {
      stroke: $text-color;
      fill: transparent;
    }

    &.voted-like .icon-gray {
      fill: $text-color;
      stroke: $text-color;
    }

    &.voted-like .icon-gray:hover {
      fill: $text-color;
      stroke: $text-color;
    }

  }

}
