<nav role="navigation" aria-labelledby="pagination-heading" class="pager-nav text-center">
  <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
  <ul class="pagination">
    <li class="disabled pager__item--previous">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">
         <svg class="icon-small icon-gray">
           <use xlink:href="#icon-navigate_before"></use>
         </svg>
        </span>
      </a>
    </li>
    <li class="active">
      <a href="#">1
        <span class="sr-only"> (current) </span>
      </a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="pager__item--next">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">
          <svg class="icon-small icon-gray">
           <use xlink:href="#icon-navigate_next"></use>
         </svg>
        </span>
      </a>
    </li>
  </ul>
</nav>