# OS
.DS_Store

# Ignore bundler config
/.bundle

# Ignore the build directory
.publish/

# Applications & Tools
.idea
node_modules
npm-debug.log
package-lock.json
**/*.log
/.cache

# SASS #
.sass-cache
*.sass-cache*
**/sass/*.css
*.css.map
