.media.margin-top-m
  .media-left
    if user == "isAnonymous"
      img.media-object.img-circle.img-medium(src='content/images/member1.jpg')
    else
      a(href='other-stream.html')
        img.media-object.img-circle.img-medium(src='content/images/member1.jpg')
  .media-body
    .media-heading.text-m
      if user == "isAnonymous"
        | Mary-Lou Wallace
      else
        a(href="other-stream.html") Mary-Lou Wallace
      br
      .text-gray-light 2 hours ago

.margin-top-s Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
