.card.card--teaser.card-with-actionbar
  a.card-image(href="event.html")
    .teaser-type
      svg.teaser-type-icon
        use(xlink:href='#icon-event')
    img.img-responsive(src="content/images/people3-square.jpg")
  .card-body
    h4.card-title
      a(href="event.html") London Meetup
    .text-truncate
      svg.teaser-icon
        use(xlink:href='#icon-event')
      | &nbsp;
      span.inline-center 26 may 09:00 - 18:00
      | &nbsp;
    .text-truncate
      svg.teaser-icon
        use(xlink:href='#icon-location')
      | &nbsp;
      span.inline-center Tower Bridge, London
    .card-actionbar
      .actionbar
        .badge.badge-gray-lighter.badge--toggle
          label
            input(type='checkbox')
            svg.icon-gray-light.icon-badge-toggle
              use(xlink:href='#icon-community')
            span.badge--toggle__label community
        unless user == "isAnonymous"
          span.label.label-default enrolled
      a.btn.btn-flat.pull-right(href="event.html") Read more
