//- created an event in a group with no comments
.media
  .media-left
    if user == "isAnonymous"
      img.media-object.img-circle.img-medium(src='content/images/member3.jpg')
    else
      a(href='my-stream.html')
        img.media-object.img-circle.img-medium(src='content/images/member3.jpg')
  .media-body
    .media-heading.text-m
      if user == "isAnonymous"
        | Clive Owen created an event
      else
        a(href="my-stream.html") Clive Owen
        | &nbsp;created an event in group&nbsp;
        a(href='group-stream.html') Happy campers
      br
      .text-gray-lighter 30 minutes ago
.card--teaser.card--teaser-stream.card-with-actionbar
  a.card-image(href="event.html")
    img.img-responsive(src="content/images/people3-square.jpg")
  .card-body
    h4.card-title
      a(href="event.html") Team conference East
    .text-gray.text-m.text-truncate
      svg.teaser-icon
        use(xlink:href='#icon-event')
      | &nbsp;
      span.inline-center 28 Aug 10:00 - 12:00
      | &nbsp;
    .text-gray.text-m.text-truncate
      svg.teaser-icon
        use(xlink:href='#icon-location')
      | &nbsp;
      span.inline-center Old Market, Groningen
    .card-actionbar
      unless user == "isAnonymous"
        .actionbar
          .badge.badge--toggle
            label
              input(type='checkbox')
              svg.icon-gray-light.icon-badge-toggle
                use(xlink:href='#icon-community')
              span.badge--toggle__label community
          span.label.label-default enrolled
      a.btn.btn-flat.btn-sm.pull-right(href="event.html") Read more

if user != "isAnonymous"
  a.btn.btn-block.btn-link(href='event.html#comment-form') Comment
  hr.ruler-xs
  a.btn.btn-block.btn-link.disabled 0 comments
