<span class="file">
  <span class="file-icon">
    <img class="node-file__icon" src="kss-assets/base/images/mime-icons/icon_1_pdf_x16.png" srcset="kss-assets/base/images/mime-icons/icon_1_pdf_x32.png 2x" alt="{{ node_icon }}" /></span>
  <span class="file-link"><a href="#" title="{{ 'Open or download file'|t }}" target="_blank">Vestibulum id ligula porta felis euismod semper.pdf</a></span>
  <span class="file-size">40.14 KB</span>
</span>