<ul class="card-files__grid">
<li class="card-file">
  <a class="card-file__link" href="#" title="{{ 'Open or download file'|t }}" target="_blank">
    <span class="card-file__title">Vestibulum id ligula porta felis euismod semper.pdf</span>
    <span class="card-file__type">
        <img class="card-file__icon" src="kss-assets/base/images/mime-icons/icon_1_pdf_x16.png" srcset="kss-assets/base/images/mime-icons/icon_1_pdf_x32.png 2x" alt="{{ node_icon }}" />
        <span class="card-file__size">40.14 KB</span>
      </span>
  </a>
</li>
</ul>