.card__activity-followed,
.card__activity-followed .activity-followed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card__activity-followed {
  font-size: 12px;
  line-height: 18px;
  color: #555;

  > span {
    margin-right: 6px;

    @media(max-width: 599px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .activity-followed {
    position: relative;
    padding: 0 2px;

    @media(max-width: 599px) {
      margin-left: -2px;
    }

    .tag__name {
      margin: 0;
    }

    + .activity-followed {
      margin-left: 4px;
    }

    .tag__arrow,
    svg {
      width: 18px;
      height: 14px;
    }

    svg {
      width: 18px;
      height: 14px;
      fill: #555;
    }

    .flag,
    .flag > *,
    .flag.open > * {
      font-size: 0;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;
    }

    .flag {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;

      button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
      }

      .caret {
        display: none;
      }

      .dropdown-menu {
        min-width: 175px;
        margin-top: 4px;

        @media(max-width: 599px) {
          min-width: 100px;
          margin-top: 0;
        }

        a {
          font-weight: 700;
        }
      }

      &.open + svg {
        transform: rotate(180deg);
      }
    }
  }
}
