.paragraph--section {
  .paragraph--featured.social_follow_tax {
    padding: 20px 1rem;

    &.first {
      padding-top: 20px;
    }

    &.multiple {
      padding-left: 2em;
      padding-right: 2em;
    }

    @media(min-width: 900px) {
      padding-bottom: 40px;
    }
  }
}

.block-social-follow-tag.card {
  box-shadow: none;
  background: transparent;
  margin-bottom: 0;
  padding: 20px 1rem 0;

  @media(min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.paragraph--featured.social_follow_tax {
  .teaser {
    height: auto;
    min-height: auto;
  }

  .teaser__content,
  .teaser__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .teaser__body {
    flex-direction: row;
    padding: 0 10px;
    overflow: visible;
  }

  .teaser__content {
    padding: 0;
    justify-content: space-between;
  }

  .teaser__left,
  .actions {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .teaser__left {
    > * + * {
      margin-left: 16px;
    }
  }

  .actions {
    flex: 1;
    justify-content: flex-end;
    margin-top: 0;

    > * + .btn {
      min-width: 175px;
      margin-right: 10px;
    }
  }

  .teaser__tag,
  .teaser__related-content {
    font-size: .875rem;
  }

  .teaser__title,
  .teaser__tag,
  h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
