.social_follow_tax {
  .teaser__content,
  .teaser__left {
    display: flex;
    align-items: center;
  }

  .teaser__body {
    padding: 10px;
  }

  .teaser__content {
    justify-content: space-between;
  }

  .teaser__left {
    > * + * {
      margin-left: 16px;
    }
  }

  .actions {
    min-width: 325px;
    margin-top: 0;

    > * + .btn {
      min-width: 175px;
    }
  }

  .teaser__tag,
  .teaser__related-content {
    font-size: .875rem;
  }

  .teaser__title,
  .teaser__tag,
  h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
