- var pagetype = "styleguide"
- var page = "Buttons"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade
      
    main.styleguide-container(role='main')

      .container
          
        .row
          .col-xs-12
          
            h3 Button tags
            p 
              :markdown
                Use the button classes on an `<a>`, `<button>`, or `<input>` element. Use logical elements for your buttons. If it is not a link do not use an `a` but a `<button>` tag instead. If the `<a>` elements are used to act as buttons – triggering in-page functionality, rather than navigating to another document or section within the current page – they should also be given an appropriate `role="button"`.
                
        .row.margin-top-l
          .col-xs-12
            h3 Types of buttons
            p There are different types of buttons that can be used.
            ul 
             li <strong>Default button</strong>: Rectangular shaped buttons that is used in most cases. Does not lift (on same layer as the parent element) and should be placed cards. 
             li <strong>Flat button</strong>: Are text-only buttons. They should always have a color to distinguish them from normal text. They can be used to put less emphasis or visual attraction to the action. They may be used in dialogs, toolbars, or inline. They do not lift, but fill with color on press.
             li <strong>Raised button</strong>: Rectangular-shaped buttons that behave like a piece of material resting on another sheet – they lift and fill with color on press. Raised buttons add dimension to mostly flat layouts. They emphasize functions on busy or wide spaces. They may be used inline. They lift and display ink reactions on press.
             li <strong>Floating action button</strong>: A circular button that lifts. A floating action button is used for page-wide actions.
             
        .row.margin-top-l
          .col-xs-12.col-sm-3
            .card
              .card-body
                button.btn.btn-default.waves-effect(type='button') Button
            .text-caption Default button
          
          .col-xs-12.col-sm-3
            .card
              .card-body
                button.btn.btn-default.btn-flat.waves-effect(type='button') Button
            .text-caption Flat button
            
          .col-xs-12.col-sm-3
            .card
              .card-body
                button.btn.btn-default.btn-raised.waves-effect(type='button') Button
            .text-caption Raised button
          .col-xs-12.col-sm-3
            .card
              .card-body
                button.btn.btn-default.btn-floating.waves-effect.waves-circle(type='button')
                  i.material-icons edit
            .text-caption Floating button
            
        .row.margin-top-l
          .col-xs-12
            h3 Style
            p Use the following styles to determine importance of a button. The success, danger, warning button styles from botstrap are available in the theme, but aren't used in this design.
            ol
              li <strong>Accent</strong>: For the actions that a community want to motivate users do. This button has most contrast to the brand color of the site. Therefore they really stand out. Examples: Enroll to an event, follow a person, join a group. 
              li <strong>Primary</strong>: Provides extra visual weight and identifies the primary action in a set of buttons. This style can used for actions that are the most relevant to the current page. For example to save a node form or to create content.
              li <strong>Default</strong>: Standard buttons.
              li <strong>Flat</strong>: Deemphasize a button by making it look like a link while maintaining button behavior
              
        .row.margin-top-l
          .col-xs-12
            .card
              .card-body.bs-example
                button.btn.btn-accent(type='button') Accent
                button.btn.btn-primary(type='button') Primary
                button.btn.btn-default(type='button') Default
                button.btn.btn-flat(type='button') Flat
            .text-caption Default button styles
          
          .col-xs-12
            .bs-example
              button.btn.btn-accent.btn-raised(type='button') Accent
              button.btn.btn-primary.btn-raised(type='button') Primary
              button.btn.btn-default.btn-raised(type='button') Default
              button.btn.btn-flat(type='button') Flat
            .text-caption Raised button styles
            
        .row.margin-top-l
          .col-xs-12  
            h3 Guidelines
            p In the overview above we have listed many options which you can use to style a button. For consistency we recommend the following:
            
            ul
              li Start with a default button style and type.
              li Is your button next (left, right, below) to a card? Consider making it a raised button to put it on the same elevation level as the card.
              li Does the button need to be one level higher then card content in terms of elevation? Then make it a floating button. This usually means that there is no direct relationship with a specific card or section, but the page as a whole. An example for this would be to edit a node, where this button to do this is put in a block, but you are not only editing the block but the whole node.
              li Only when a button needs more emphasis use the primary style, or even the accent style. Per form or set of buttons you only want one emphasized button and this should be the preferred action in any context.
              li If you want to button to be less visible/prominent you can use a flat button style. You can combine this with a smaller size of course. This is mostly used when buttons are repeated on a page or you have limited space and other elements need more attention.
              li The succes, warning and danger buttons are inhereted from teh bootstrap framework and aren't used in the default style. You can use them however if you indicate positive action, negative action or caution when interaction with the button.
            
        .row.margin-top-l
          .col-xs-12
            h3 Sizes
            p
              :markdown
                Define a different button size with `.btn-lg`, `.btn-sm`, or `.btn-xs`.
                
                By default use the default size. You can choose to use a large button if the action really needs to catch the user`s attention. Combine this with a primary or accent style as well to get maximum exposure. Do not mix different button sizes in a set of buttons. If the information density in a block or section is high and you need to make up space you can choose a smaller button size. An example of this are buttons that appear in repetetive blocks.   
      
        .row.margin-top-l
          .col-xs-12.col-sm-6
            .card
              .card-body.text-center
                p
                  button.btn.btn-default.btn-xs(type='button') Extra small Button
                p
                  button.btn.btn-default.btn-sm(type='button') Small Button
                p
                  button.btn.btn-default(type='button') Default Button
                p
                  button.btn.btn-default.btn-lg(type='button') Large Button
            .text-caption Default button sizes
          
          .col-xs-12.col-sm-6
            .card
              .card-body.text-center
                p
                  button.btn.btn-flat.btn-xs(type='button') Extra small Button
                p
                  button.btn.btn-flat.btn-sm(type='button') Small Button
                p
                  button.btn.btn-flat(type='button') Default Button
                p
                  button.btn.btn-flat.btn-lg(type='button') Large Button
            .text-caption Flat button sizes
                  
          .col-xs-12.col-sm-6
            .card
              .card-body.text-center
                p
                  button.btn.btn-primary.btn-raised.btn-xs(type='button') Extra small Button
                p
                  button.btn.btn-primary.btn-raised.btn-sm(type='button') Small Button
                p
                  button.btn.btn-primary.btn-raised(type='button') Default Button
                p
                  button.btn.btn-primary.btn-raised.btn-lg(type='button') Large Button
            .text-caption Raised button sizes
                  
          .col-xs-12.col-sm-6
            .card
              .card-body.text-center
                p &nbsp;
                p
                  button.btn.btn-default.btn-floating.waves-effect.waves-light.waves-circle(type='button')
                    i.material-icons edit
                p
                  button.btn.btn-default.btn-floating.waves-effect.waves-light.waves-circle.btn-lg(type='button') 
                    i.material-icons edit
            .text-caption Floating action button sizes
                    
                    
        .row.margin-top-l
          .col-xs-12
            h3 States
            p In the examples below you can see how styling is applied when a button is active or disabled compared to the default state. For devices that have mouse interaction you can hover and find that state as well. These aren't available for touch devices.
            
          .col-xs-12.col-sm-3
            .card
              .card-body.text-center
                p
                  button.btn.btn-default(type='button') Default
                p
                  button.btn.btn-default.active(type='button') Active
                p
                  button.btn.btn-default.disabled(type='button') Disabled 
            .text-caption Default states
          
          .col-xs-12.col-sm-3
            .card
              .card-body.text-center
                p
                  button.btn.btn-flat(type='button') Default
                p
                  button.btn.btn-flat.active(type='button') Active
                p
                  button.btn.btn-flat.disabled(type='button') Disabled
            .text-caption Flat button states
                  
          .col-xs-12.col-sm-3
            .card
              .card-body.text-center
                p
                  button.btn.btn-primary.btn-raised(type='button') Default
                p
                  button.btn.btn-primary.btn-raised.active(type='button') Active
                p
                  button.btn.btn-primary.btn-raised.disabled(type='button') Disabled
            .text-caption Raised button states
                  
          .col-xs-12.col-sm-3
            .card
              .card-body.text-center
                p
                  button.btn.btn-default.btn-floating.waves-effect.waves-light.waves-circle(type='button')
                    i.material-icons edit
                p
                  button.btn.btn-default.btn-floating.waves-effect.waves-light.waves-circle.active(type='button') 
                    i.material-icons edit
                p
                  button.btn.btn-default.btn-floating.waves-effect.waves-light.waves-circle.disabled(type='button') 
                    i.material-icons edit
            .text-caption Floating action button states   

            
    include ./layout/_scripts.jade
            
