extends ./layout/base-lu.jade

block title
  title Comment on Amsterdam Meetup

block breadcrumbs
  li
    a(href='home-lu.html') Home
  li
    a(href='group-stream.html') Amsterdam Meetup
  li.active Comment

    
block content
      
  .row.margin-top-l
  
    .col-xs-12.col-sm-8
      
      h4.section-title Comment
      
      .card
        .card-body
          include ./molecules/_comment1.jade
          hr
          .media
            .media-left
              img.img-medium.img-circle(src='content/images/member5.jpg')
            .media-body
              form#insert-comment
                .form-group.form-group-inline
                  textarea.form-control.form-control--block(placeholder='Add a reply...', width='100%')
                  button.btn.btn-link(type='submit') Reply
