extends ./layout/base-lu.jade

block title
  title Happy Campers

block pagetitle
  
  .container.hero-container.hidden-xs
    include ./molecules/_my-group-hero.jade
    
  .container  
    .visible-xs-block.section
      a.btn.btn-flat(href="group-stream.html")
        i.material-icons.pull-left keyboard_arrow_left
        | Back to group stream

  .container.hero-container  
    .brand-secondary.z-depth-1.hidden-xs
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li.hidden-xs
            a(href='group-stream.html') Stream
          li
            a(href='group-topics.html') Topics
          li
            a(href='group-events.html') Events
          li.active
            a(href="group-members.html") Members
              span.visually-hidden (active tab)
      
block content
      
  .row.margin-top-l
    .col-xs-12.col-sm-12
      h4.section-title Members of Happy Campers

    .col-xs-12.col-sm-4.col-sm-last.margin-bottom-l
      a.waves-effect.waves-light.btn.btn-block.btn-primary.btn-raised(href='#') Add a member
      br
      br
      button.waves-effect.waves-light.btn.btn-block.btn-default.btn-raised.visible-xs-block.js-open-canvas
        i.material-icons.pull-left tune
        | Filters

      .off-canvas.off-canvas-right.off-canvas-xs-only
        .offcanvas-head
          header.card__label filter
          .offcanvas-tools.visible-xs-block
            button.js-close-canvas.btn.btn-icon-toggle.btn-user-light.pull-right
              i.material-icons close

        .offcanvas-body
          form
            .form-group.radios
              label Event status
              .radio
                input#radio1(name='event', type='radio', checked)
                label(for='radio1') Upcoming
              .radio
                input#radio2(name='event', type='radio')
                label(for='radio2') Past
              .radio
                input#radio3(name='event', type='radio')
                label(for='radio3') Unpublished


    .col-xs-12.col-sm-8
      .card.table-swipe
        .card-body
          table.table.tablesaw.tablesaw-swipe(data-tablesaw-mode="swipe", data-tablesaw-minimap)
            thead
              tr
                th(data-tablesaw-priority="persist") Member
                th Organisation
                th Role
                th Action

            tbody
              include molecules/_member1-table-view.jade
              include molecules/_member2-table-view.jade
              include molecules/_member3-table-view.jade
              include molecules/_member4-table-view.jade
              include molecules/_member5-table-view.jade
              include molecules/_member1-table-view.jade
              include molecules/_member2-table-view.jade
              include molecules/_member3-table-view.jade
              include molecules/_member4-table-view.jade
              include molecules/_member5-table-view.jade