extends ./layout/base-lu.jade

block title
  title Create a new Open group

      
block content
      
  .row.margin-top-l
      
    .col-xs-12.col-md-8
    
      h4.section-title Create a new Open Group   
    
      form(action='group-stream.html', method='get')
      
        #content.card.card-underline.scrollspy
        
          .card-head
            header Content
      
          .card-body 

            .form-group
              label.form-required Title
              input.form-control(type="text", required)

            .form-group
              label.form-required Description
              textarea.form-control(required)

            .form-group.form__type-managed-file
              label Image
              .image-widget.form-managed-file.clearfix
                input.form-control(type='file', value='upload an image')
              .help-block One file only - 2 MB limit - Allowed types: png gif jpg jpeg

        .form-actions.clearfix
          input.waves-effect.waves-light.btn.btn-raised.btn-default(type='submit', value='Preview')
          input.waves-effect.waves-light.btn.btn-raised.btn-primary.pull-right(type='submit', value='Save')
