- var pagetype = "styleguide"
- var page = "Open Social"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade  
    main.styleguide-container(role='main')

      #index-banner.section
        .container
          br
          br
          br
          .center
            p
              :markdown
                **A modern responsive Drupal theme for Open Social.**
                
                This theme is built upon [Drupal bootstrap](https://www.drupal.org/project/bootstrap) and makes use of [Material Design principles](https://www.google.com/design/spec/material-design/introduction.html).
                
                We are currently working on the alpha release which in planned for the end of June.

  
    include ./layout/_scripts.jade
    
    footer.styleguide-footer.brand-secondary
      .repo-link
        .container
          .row
            .col-xs-12
              .commit
                span.hidden-xs Latest commit on Github by &nbsp; &nbsp; 
                a.sha.hidden-xs(href='')
                span.hidden-xs -&nbsp;
                span.date.hidden-xs
                a#github-button.btn.btn-flat.pull-right.waves-effect.waves-light(href='https://github.com/goalgorilla/drupal_social/tree/gh-pages') View repository
      .container
        .row
          .col-xs-12.col-sm-8
            h5.white-text Contribute
            p.grey-text.text-lighten-4 Do you want to join us in this effort? We are welcoming your feedback, (development) time and/or financial support. For <a href="https://www.drupal.org/project/issues/social" class="social-blue-text text-lighten-4"> feedback we will use D.O</a> for other questions or suggestions please <a href="mailto:taco@goalgorilla.com" class="social-blue-text text-lighten-4">contact us</a>.
            p 
              a.btn.btn-default(href='https://github.com/goalgorilla/drupal_social/wiki/Contributing-to-Open-Social') Read more
            
          .col-xs-12.col-sm-3.col-sm-push-1
            h5.white-text Connect
            ul
              li
                a.white-text(href='https://www.drupal.org/project/social') Drupal project page
              li
                a.white-text(href='https://github.com/goalgorilla/drupal_social/') Drupal repository 
              li
                a.white-text(href='https://github.com/goalgorilla/drupal_social/issues/new') Report issues
      .footer-copyright
        .container 
          a(href='http://www.goalgorilla.com') GoalGorilla is Founder and lead of the Open Social project 
