- var pagetype = "styleguide"
- var page = "Layouts"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade
      
    main.styleguide-container(role='main')

      .container
        .row

          #scrollspy.col-xs-12.col-sm-4.col-md-3.col-sm-last
            .toc-wrapper
              ul.table-of-contents.nav
                li
                  a(href='#regions') Regions
                li
                  a(href='#layout-a') Layout A
                li
                  a(href='#layout-b') Layout B
                li
                  a(href='#layout-c') Layout C
                  
          .col-xs-12.col-sm-8.col-md-9
            
            #regions.scrollspy.margin-top-xxl
              h2 Regions
              p We have split up the <em>fluid</em> layout of the interface into regions to which in Drupal we can assign blocks to. The following regions are used. When you scroll down we see how these regions are placed in layouts. 
              
              .list-group 
                .list-group-item.avatar
                  span.circle(style='background-color: #e1bee7') 
                  h6.list-group-item-heading Header
                  p.list-group-item-text Primary navigation, user navigation, site search
                .list-group-item.avatar
                  span.circle(style='background-color: #80deea')
                  h6.list-group-item-heading Breadcrumbs 
                  p.list-group-item-text Pathway navigation for large screen and 'go back' navigation for mobile 
                .list-group-item.avatar
                  span.circle(style='background-color: #ef9a9a')
                  h6.list-group-item-heading Hero
                  p.list-group-item-text Provides a summary of the main content of this page, for example a person, a group or an event.
                .list-group-item.avatar
                  span.circle(style='background-color: #80cbc4')
                  h6.list-group-item-heading Secondary navigation
                  p.list-group-item-text Navigation options to the sub contents of a main content.
                .list-group-item.avatar
                  span.circle(style='background-color: #dce775')
                  h6.list-group-item-heading Title 
                  p.list-group-item-text Explains what this page or section is about
                .list-group-item.avatar
                  span.circle(style='background-color: #a5d6a7')
                  h6.list-group-item-heading Main content 
                  p.list-group-item-text Content about this section          
                .list-group-item.avatar
                  span.circle(style='background-color: #ffe082')
                  h6.list-group-item-heading Complementary 
                  p.list-group-item-text Complementary content, filters, actions, quick navigations that specific to the section  
                .list-group-item.avatar
                  span.circle(style='background-color: #b0bec5')
                  h6.list-group-item-heading Footer 
                  p.list-group-item-text It is static and contains information about the whole application.

            #layout-a.scrollspy.margin-top-xxl
              h2 Layout A | Parents
              
              p This layout is used on the section's parent pages. The parents form the landing pages of the platform such as the timeline page of a person or group or the detail page of an event. These pages always have child pages. 

              
              .browser-window
                .top-bar
                  .circles
                   #close-circle.circle
                   #minimize-circle.circle
                   #maximize-circle.circle
                .content
                  .row
                    .col-xs-12(style='background-color:#e1bee7; min-height: 80px;')
                      p Header
                  .row.hidden-xs
                    .col-md-12(style='background-color:#80deea; min-height: 30px;')
                      p Breadcrumbs
                  .row
                    .col-xs-12(style='background-color:#ef9a9a; min-height: 120px;')
                      p Hero
                      p.flat-text.inline25
                      p.flat-text.inline25
                  .row
                    .col-xs-12(style='background-color:#80cbc4; min-height: 40px;')
                      p Secondary navigation
                      p.flat-text.inline25 
                      p.flat-text.inline25
                      p.flat-text.inline25
                  .row
                    .col-xs-12(style='background-color:#dce775; min-height: 60px;')
                      p Title 
                    .col-xs-12.col-sm-4.col-sm-last(style='background-color:#ffe082; min-height: 250px;')
                      p Complementary
                      p.flat-text.small
                      p.flat-text
                      p.flat-text
                    .col-xs-12.col-sm-8(style='background-color:#a5d6a7; min-height: 400px;')
                      p Main content 
                      p.flat-text-header 
                      p.flat-text
                      p.flat-text
                      p.flat-text
                  .row
                    .col-xs-12(style='background-color:#b0bec5; min-height: 50px;')
                      p Footer
            
            #layout-b.scrollspy.margin-top-xxl
              h2 Layout B | Children

              p This layout is used on section's child pages. For example an event node has enrollment as a child, but a topic node doesn't have children. So we use this template for event enrollment, but not for topic.
              
              p <strong>Please note</strong> that the difference here is only seen on smaller screens compared to Layout A. The hero area will be hidden and instead of the secondary navigation there is a "Back to main page" button which leads back to  Layout A.
              
              .browser-window
                .top-bar
                  .circles
                   #close-circle.circle
                   #minimize-circle.circle
                   #maximize-circle.circle
                .content
                  .row
                    .col-xs-12(style='background-color:#e1bee7; min-height: 80px;')
                      p Header
                  .row
                    .col-md-12.hidden-xs(style='background-color:#80deea; min-height: 30px;')
                      p Breadcrumbs
                    .col-xs-12.hidden-tablet(style='background-color:#80deea; min-height: 30px;')
                      p Back to main page
                  .row.hidden-xs
                    .col-xs-12(style='background-color:#ef9a9a; min-height: 120px;')
                      p Hero
                      p.flat-text.inline25
                      p.flat-text.inline25
                  .row.hidden-xs
                    .col-xs-12(style='background-color:#80cbc4; min-height: 40px;')
                      p Secondary navigation
                      p.flat-text.inline25 
                      p.flat-text.inline25
                      p.flat-text.inline25
                  .row
                    .col-xs-12(style='background-color:#dce775; min-height: 60px;')
                      p Title 
                    .col-xs-12.col-sm-4.col-sm-last(style='background-color:#ffe082; min-height: 250px;')
                      p Complementary
                      p.flat-text.small
                      p.flat-text
                      p.flat-text
                    .col-xs-12.col-sm-8(style='background-color:#a5d6a7; min-height: 400px;')
                      p Main content 
                      p.flat-text-header 
                      p.flat-text
                      p.flat-text
                      p.flat-text
                  .row
                    .col-xs-12(style='background-color:#b0bec5; min-height: 50px;')
                      p Footer
          
            #layout-c.scrollspy.margin-top-xxl
              h2 Layout C | Orphans
              
              p This layout is used on sections that has <strong>no</strong> sub content nor has sibling pages in the hierarchy. For example a topic node, or and edit node page. Compared to the other layouts we do not have a secondary navigation nor title region here. The title will be displayed in the Hero region.
              
              .browser-window
                .top-bar
                  .circles
                   #close-circle.circle
                   #minimize-circle.circle
                   #maximize-circle.circle
                .content
                  .row
                    .col-xs-12(style='background-color:#e1bee7; min-height: 80px;')
                      p Header
                  .row.visible-md-block.visible-lg-block
                    .col-xs-12(style='background-color:#80deea; min-height: 30px;')
                      p Breadcrumbs
                  .row
                    .col-xs-12(style='background-color:#ef9a9a; min-height: 120px;')
                      p Hero
                      p.flat-text.inline25
                      p.flat-text.inline25
                  .row
                    .col-xs-12.col-sm-4.col-sm-last(style='background-color:#ffe082; min-height: 250px;')
                      p Complementary
                      p.flat-text.small
                      p.flat-text
                      p.flat-text
                    .col-xs-12.col-sm-8(style='background-color:#a5d6a7; min-height: 400px;')
                      p Main content 
                      p.flat-text-header 
                      p.flat-text
                      p.flat-text
                      p.flat-text
                  .row
                    .col-xs-12(style='background-color:#b0bec5; min-height: 50px;')
                      p Footer

    include ./layout/_scripts.jade
