extends ./layout/base-lu.jade

block title
  title John Johnson

block pagetitle
  .container.hero-container
    include ./molecules/_my-profile-hero.jade
      
    .brand-secondary.z-depth-1
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li.active.hidden-xs
            a(href="my-stream.html") Stream  
            span.visually-hidden (active tab)
          li
            a(href="my-profile-about.html") About
          li
            a(href='my-topics.html') Topics
          li
            a(href='my-events.html') Events  
          li
            a(href="my-groups.html") Groups
      
block content
  
  .row.margin-top-l
  
    .col-sm-4.col-sm-last.margin-top-complementary

      include ./molecules/_my-events.jade
      include ./molecules/_my-topics.jade
      include ./molecules/_my-groups.jade
      
    .col-xs-12.col-sm-8
    
      h4.section-title.section-title-stream My stream
      
      ul.stream
        li.stream-item
          i.stream-icon.stream-icon-new  
          .card.stream-card
            .card-body
              include ./molecules/_stream-post-form.jade
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.jade
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
              
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
              
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.jade    
      
block scriptinline  
  
  script.  
    function showMe (it, radio) {
      var visibility = radio.value;
      var icon = jQuery(radio).prevAll('svg').html();
      jQuery('#' + it).find('.text').html(visibility);
      jQuery('#' + it).find('svg').html(icon);
      jQuery('#' + it).next('.dropdown-menu').find('.list-group-item').removeClass('active');
      jQuery(radio).closest('.list-group-item').addClass('active');
    }
