extends ./layout/base-lu.jade

block title
  title Edit Event

block breadcrumbs
  li
    a(href='home-lu.html') Home
  li
    a(href='event.html') Amsterdam Meetup
  li.active Edit
      
block content
  .row.margin-top-l
    .col-xs-12
      h1.h4.section-title Edit Event: Amsterdam Meetup
  
    #scrollspy.col-xs-12.col-sm-4.col-sm-last
      .toc-wrapper
        ul.table-of-contents.nav
          li
            a(href='#content') Title &amp; image
          li 
            a(href='#visibility') Visibility
          li
            a(href='#description') Description
          li 
            a(href='#eventtime') Date &amp; time
          li 
            a(href='#location') Location
          li 
            a(href='#attachments') Attachments
          li
            a(href='#comment-settings') Comment settings
    
    .col-xs-12.col-sm-8
    
      form(action='event.html', method='get')
      
        #content.card.card-underline.scrollspy
        
          .card-head
            header Title and image
      
          .card-body

            .form-group
              label.form-required Title
              input.form-control.required(type="text", value='Amsterdam Meetup')
                  
            .form-group.form__type-managed-file
              label Image
              .table-responsive
                button.tabledrag-toggle-weight.btn-sm.btn.btn-default.pull-right(type="button", data-toggle="tooltip", data-placement="left", title="Re-order rows by numerical weight instead of dragging.") Show row weights
                table.responsive-enabled.table.table-hover.tablesaw.tabledrag(data-tablesaw-mode="stack")
                  thead
                    tr
                      th File information
                      th.tabledrag-hide Weight
                      th Operations
                  tbody
                    tr.draggable
                      td
                        a.tabledrag-handle.icon-before(href="#", data-toggle="tooltip", data-icon-type="open_with", data-original-title="Drag to re-order")
                          span.icon.glyphicon.glyphicon-move(aria-hidden="true")

                        div.image-widget.js-form-managed-file.form-managed-file.clearfix.row
                          div.preview.col-sm-4.col-md-3.margin-bottom-m
                            img.img-responsive(src="content/images/topic-hero.jpg", width="150")

                          div.data.col-sm-8.col-md-9
                            div.form-no-label
                              label.visually-hidden(for="edit-field-topic-image-0-alt") Alternative text
                              input#edit-field-topic-image-0-alt.form-text.form-control(placeholder="Alternative text", type="text")
                              div#edit-field-topic-image-0-alt--description.help-block This text will be used by screen readers, search engines, or when the image cannot be loaded.
                            span.file.file--mime-image-jpeg.file--image
                              span.file-icon
                                span.icon.glyphicon.glyphicon-picture.text-primary.material-icons image
                              span.file-link
                                a.menu-item__link(href="#", type="image/jpeg; length=270186", title="Open image in new window") animals1-square.jpg
                              span.file-size 263.85 KB

                      td.tabledrag-hide
                        .form-no-label.form-group
                          label.visually-hidden(for="edit-field-test-0-weight") Weight for new file
                          .select-wrapper
                            .material-select
                              select#edit-field-test-0-weight.edit-field-test-weight.form-select.form-control
                                option(value="-3") -3
                                option(value="-2") -2
                                option(value="-1") -1
                                option(value="0", selected="selected") 0
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                      td
                        button#edit-field-test-0-remove-button.button.js-form-submit.form-submit.btn-default.btn(type="submit") Remove
          
        #visibility.card.card-underline.scrollspy
        
          .card-head
            header Visibility
      
          .card-body

            .form-group.radios
              label.form-required Visibility
              .radio
                input#community(type='radio', name='type', checked)
                label(for='community') Community
                .help-block Visible for members only
              .radio
                input#public(type='radio', name='type')
                label(for='public') Public
                .help-block Visible for everyone, including people who are not a member
        
        #description.card.card-underline.scrollspy
        
          .card-head
            header Description
      
          .card-body
            .form-group
              label.form-required Description
              .textarea--cke
                textarea#ckeditor.form-control(required)
                  p 
                    strong Doing business in the web industry has unbelievably low start-up and fixed running costs. You need little more than a computer and an internet connection. The overheads of freelancers and small agencies that build websites and applications for other people, or develop a digital product, are tiny in comparison to a traditional business. Your training can be free, as so many industry experts write and teach and share this information without charging for it. Even the tools you use to build websites can be downloaded free of charge, or purchased for very little.
                
                    p As an industry we have become accustomed to getting hundreds of hours of work, and the benefit of years of hard-won knowledge for free.

                    p My free time in the last couple of years has been put into looking at the Grid Layout spec. I start most days answering emailed questions about the examples I’ve posted, before I get down to the work that pays the bills.

        #eventtime.card.card-underline.scrollspy
        
          .card-head
            header Date and time
      
          .card-body
            .row
              .col-sm-6
                .form-group
                  label.form-required Start date
                  input.form-control.datepicker(type="text", value='6 june, 2016')
                  .help-block Please fill in the start date of your event
              .col-sm-6
                .form-group
                  label.form-required Start time
                  input.form-control.timepicker(type="text", value='12:00')
            
            .row
              .col-sm-6
                .form-group
                  label End date
                  input.form-control.datepicker(type="text", value='6 june, 2016')    
              .col-sm-6
                .form-group
                  label End time
                  input.form-control.timepicker(type="text", value='17:00')

        #location.card.card-underline.scrollspy
        
          .card-head
            header Location
      
          .card-body
            
            .form-group
              label.form-required Venue name
              input.form-control(type="text", required, value='Goalgorilla')

            .form-group
              label Country
              select.form-control
                option(value='', disabled='') Choose a country
                option(value='1', selected) Netherlands
                option(value='2') Option 2
                option(value='3') Option 3
            
            .form-group
              label Post code
              input.form-control(type="text", value='1234 AB')  
              
            .form-group
              label City
              input.form-control(type="text", value='Amsterdam')  
                
            .form-group
              label Address
              input.form-control(type="text", value='Keizersgracht 376')    

        #attachments.card.card-underline.scrollspy

          .card-head
            header Attachments

          .card-body
            .form-group
              label Files
              .table-responsive
                button.tabledrag-toggle-weight.btn-sm.btn.btn-default.pull-right(type="button", data-toggle="tooltip", data-placement="left", title="Re-order rows by numerical weight instead of dragging.") Show row weights
                table.responsive-enabled.table.table-hover.tablesaw.tabledrag(data-tablesaw-mode="stack")
                  thead
                    tr
                      th File information
                      th Display
                      th.tabledrag-hide Weight
                      th Operations
                  tbody
                    tr.draggable
                      td
                        a.tabledrag-handle.icon-before(href="#", data-toggle="tooltip", data-icon-type="open_with", data-original-title="Drag to re-order")
                          span.icon.glyphicon.glyphicon-move(aria-hidden="true")
                        div.js-form-managed-file.form-managed-file
                          input(type="hidden")
                          span.file.file--mime-application-pdf.file--application-pdf
                            span.file-icon
                              span.icon.glyphicon.glyphicon-file.text-primary.material-icons insert_drive_file
                            span.file-link
                              a.menu-item__link(href="#", type="application/pdf;, length=480544", title="Open file in new window") Very-important-document.pdf
                            span.file-size 412.28 KB
                            span.tabledrag-changed.text-warning.icon.glyphicon.glyphicon-warning-sign.icon-before(aria-hidden="true", data-icon-type="warning")

                        .form-group
                          label(for="edit-field-test-0-description") Description
                          input#edit-field-test-0-description.form-text.form-control(type="text", size="60", maxlength="128")
                          div#edit-field-test-0-description--description.help-block The description may be used as the label of the link to the file.
                      td.checkbox
                        .checkbox
                          input#edit-field-test-0-display.file-display.form-checkbox(type="checkbox")
                          label(for="edit-field-test-0-display")
                      td.tabledrag-hide
                        .form-no-label.form-group
                          label.visually-hidden(for="edit-field-test-0-weight") Weight for new file
                          .select-wrapper
                            .material-select
                              select#edit-field-test-0-weight.edit-field-test-weight.form-select.form-control
                                option(value="-3") -3
                                option(value="-2") -2
                                option(value="-1") -1
                                option(value="0", selected="selected") 0
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                      td
                        button#edit-field-test-0-remove-button.button.js-form-submit.form-submit.btn-default.btn(type="submit") Remove

                    tr.draggable
                      td
                        div.js-form-managed-file.form-managed-file
                          input(type="hidden")
                          span.file.file--mime-application-pdf.file--application-pdf
                            span.file-icon
                              span.icon.glyphicon.glyphicon-file.text-primary.material-icons insert_drive_file
                            span.file-link
                              a.menu-item__link(href="#", type="application/pdf;, length=480544", title="Open file in new window") Very-important-document.pdf
                            span.file-size 469.28 KB

                        .form-group
                          label(for="edit-field-test-1-description") Description
                          input#edit-field-test-1-description.form-text.form-control(type="text", size="60", maxlength="128")
                          div#edit-field-test-1-description--description.help-block The description may be used as the label of the link to the file.
                      td.checkbox
                        .checkbox
                          input#edit-field-test-1-display.file-display.form-checkbox(type="checkbox")
                          label(for="edit-field-test-1-display")
                      td.tabledrag-hide
                        .form-no-label.form-group
                          label.visually-hidden(for="edit-field-test-1-weight") Weight for new file
                          .select-wrapper
                            .material-select
                              select#edit-field-test-1-weight.edit-field-test-weight.form-select.form-control
                                option(value="-3") -3
                                option(value="-2") -2
                                option(value="-1") -1
                                option(value="0", selected="selected") 0
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                      td
                        button#edit-field-test-1-remove-button.button.js-form-submit.form-submit.btn-default.btn(type="submit") Remove


              label Add a new file
              .form-managed-file.clearfix
                input.form-control(type='file', value='upload an image')
                button.btn.form-submit.btn-default.js-hide(type='submit', value='remove')
                  i.material-icons.pull-left file_upload
                  | Upload
                //.help-block 15 MB per file limit - Allowed types: xls xlsx doc
                div#edit-field-topic-image-1-upload--description.description.help-block
                  a.icon-before(href="#upload-instructions--3", data-icon-type="help", data-toggle="popover", data-html="true", data-placement="bottom", data-title="Upload requirements", aria-describedby="popover388085")
                    | Upload requirements

                  div#upload-instructions--3.hidden.help-block.form-group.popover(aria-hidden="true")
                    ul
                      li Unlimited number of files can be uploaded to this field.
                      li 2 MB limit.</li><li>Allowed types:
                        =" "
                        code png, gif, jpg, jpeg
                        |.
                      li Images larger than
                        =" "
                        strong 3600x3600
                        |  pixels will be resized.
            
        #comment-settings.form-item.card.scrollspy.tabs-left
          ul.card-head.nav.nav-tabs.vertical-tabs-list(data-toggle="tabs")
            li.active
              a(href="#comments") Comment settings
                
          .card-body.tab-content
            #comments.tab-pane.active
              .form-group.radios
                label.form-required Comments
                .radio
                  input#open(type='radio', name='comments')
                  label(for='open') Open
                  .help-block Users with the "Post comments" permission can post comments.
                .radio
                  input#closed(type='radio', checked, name='comments')
                  label(for='closed') Closed
                  .help-block Users cannot post comments.
              
        .form-actions.clearfix
          input.waves-effect.waves-light.btn.btn-raised.btn-primary.pull-right(type='submit', value='Save') 
          a.waves-effect.waves-light.btn-raised.btn.btn-default(href="event.html") Discard changes
          a.waves-effect.waves-light.btn-raised.btn.btn-default(href='#') Delete
          a.waves-effect.waves-light.btn-raised.btn.btn-default(href="event.html") Preview

        
block scriptinline  
  script(src='libs/ckeditor/ckeditor.js')
  script(src='libs/ckeditor/adapters/jquery.js')
  
  link(href='css/datepicker.css', type='text/css', rel='stylesheet', media='screen,projection')
  script(src="libs/date_picker/picker.js")
  script(src="libs/date_picker/picker.date.js")
  script(src="libs/date_picker/picker.time.js")
  
  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();  
      $('.datepicker').pickadate({selectYears: 20});
      $('.timepicker').pickatime();
    });
    
    function showMe (it, it2, box) {
      var visibility = (box.checked) ? "block" : "none";
      document.getElementById(it).style.display = visibility;
      document.getElementById(it2).style.display = visibility;
    }
