- var user = "isAnonymous"
- var pagetype = "template"

include layout/_head.jade

body
  include layout/_gtm.jade
  include layout/_header-an.jade
  
  main.main-container(role='main')
  
    nav.visible-md-block.visible-lg-block.bg-white
      ol.breadcrumb.container
        li
          a(href='home-an.html') Home
        li.active Community events
        
    .main-content
      .container
  
        .row.margin-top-l
            
          .col-xs-12.col-sm-4.col-sm-last.margin-bottom-l.margin-top-complementary
            btn.waves-effect.waves-light.btn.btn-block.btn-default.btn-raised.visible-xs-block.js-open-canvas
              i.material-icons.pull-left tune
              | Filters

            .off-canvas.off-canvas-right.off-canvas-xs-only
              .offcanvas-head
                header.complementary-title Filter
                .offcanvas-tools.visible-xs-block
                  button.js-close-canvas.btn.btn-icon-toggle.btn-user-light.pull-right
                    i.material-icons close
          
              .offcanvas-body
                form
                  .form-group.radios
                    label Event status 
                    .radio
                      input#radio1(name='event', type='radio', checked)
                      label(for='radio1') Upcoming
                    .radio
                      input#radio2(name='event', type='radio')
                      label(for='radio2') Past              
          
          .col-xs-12.col-sm-8
            h4.section-title Community events
            
            include molecules/_event1.jade
            include molecules/_event2.jade
            include molecules/_event3.jade
            include molecules/_event4.jade

  include layout/_footer.jade
  include layout/_scripts.jade
