- var pagetype = "styleguide"
- var page = "Tabs"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    
    header.styleguide-header
      include ./layout/_navbar.jade
      
    main.styleguide-container(role='main')

      .container
        .row 
          .col-xs-12
            .section
              .row 
                .col-md-9
                  p.flow-text The tabs structure consists of an unordered list of tabs that have hashes corresponding to tab ids. Then when you click on each tab, only the container with the corresponding tab id will become visible.
                  
                  h3.social-blue-text Markup
                  
                  p
                    :markdown
                      We use Bootstrap nav-tabs as a base for the tabs component. Simply create a list element and add the `.nav` and `.nav-tabs` classes. For further documentation read the [bootstrap docs](http://getbootstrap.com/components/#nav-tabs).
                    
                      You can activate a tab navigation without writing any JavaScript by simply specifying `data-toggle="tab"`  on an element. Adding the nav and nav-tabs classes to the tab ul will apply the tab styling.
                
                .col-xs-12
                  pre
                    code.language-markup.
                      <ul class="nav nav-tabs" data-toggle="tabs">
                        <li class="active"><a href="#one">Home</a></li>
                        <li><a href="#two">Profile</a></li>
                        <li><a href="#three">Messages</a></li>
                      </ul>
                      <div class="tab-content">
                        <div id="one" class="tab-pane active"><p>One</p></div>
                        <div id="two" class="tab-pane"><p>Two</p></div>
                        <div id="three" class="tab-pane"><p>Three</p></div>
                      </div>
                  
                  h3.social-blue-text Alignment
                  p You can align the tabs to the left, right, centered and justified. By default the tabs are left aligned in the header.
              
              .row
                .col-xs-12.col-md-6
                  .card.card-underline
                    ul.card-head.nav.nav-tabs(data-toggle="tabs")
                      li.active
                        a(href="#first1") First item
                      li
                        a(href="#second1") Second item
                      li
                        a(href="#third1") Third item
                          
                    .card-body.tab-content
                      #first1.tab-pane.active
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                      #second1.tab-pane  
                        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                      #third1.tab-pane  
                        p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                
                  em.text-caption Left aligned tabs (default)

                .col-xs-12.col-md-6
                  .card.card-underline
                    .clearfix
                      ul.card-head.nav.nav-tabs.nav-tabs-right(data-toggle="tabs")
                        li.active
                          a(href="#first2") First item
                        li
                          a(href="#second2") Second item
                      
                    .card-body.tab-content
                      #first2.tab-pane.active
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                      #second2.tab-pane  
                        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

                  em.text-caption Right aligned tabs    
              
              .row
                .col-xs-12.col-md-6
                  .card.card-underline
                    ul.card-head.nav.nav-tabs.tabs-center(data-toggle="tabs")
                      li.active
                        a(href="#first3") First item
                      li
                        a(href="#second3") Second item
                      li
                        a(href="#third3") Third item
                          
                    .card-body.tab-content
                      #first3.tab-pane.active
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                      #second3.tab-pane  
                        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                      #third3.tab-pane  
                        p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                
                  em.text-caption Centered tabs

                .col-xs-12.col-md-6
                  .card.card-underline
                    ul.card-head.nav.nav-tabs.nav-justified(data-toggle="tabs")
                      li.active
                        a(href="#first4") First item
                      li
                        a(href="#second4") Second item
                      
                    .card-body.tab-content
                      #first4.tab-pane.active
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                      #second4.tab-pane  
                        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

                  em.text-caption Justified tabs    

            hr              
            
            .section
              .row 
                .col-md-9
                  h3.social-blue-text Layout
                  p Tabs can not only be placed above the content, but also left, right and below the content.
                  
              .row
                .col-xs-12.col-sm-6
                  .card.tabs-left.style-default-bright
                    ul.card-head.nav.nav-tabs.vertical-tabs-list(data-toggle="tabs")
                      li.active
                        a(href="#first5") First item
                      li
                        a(href="#second5") Second item
                      li
                        a(href="#third5") Third item
                          
                    .card-body.tab-content
                      #first5.tab-pane.active
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                      #second5.tab-pane  
                        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                      #third5.tab-pane  
                        p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                
                  em.text-caption Left sidebar layout
                  
                .col-xs-12.col-sm-6
                  .card.tabs-right.style-default-bright
                          
                    .card-body.tab-content
                      #first6.tab-pane.active
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                      #second6.tab-pane  
                        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                      #third6.tab-pane  
                        p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                        
                    ul.card-head.nav.nav-tabs.vertical-tabs-list(data-toggle="tabs")
                      li.active
                        a(href="#first6") First item
                      li
                        a(href="#second6") Second item
                      li
                        a(href="#third6") Third item
                
                  em.text-caption Right sidebar layout

              .row
                .col-xs-12.col-md-6
                  .card.tabs-below.style-default-bright
                          
                    .card-body.tab-content
                      #first7.tab-pane.active
                        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                      #second7.tab-pane  
                        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                      #third7.tab-pane  
                        p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                        
                    ul.card-head.nav.nav-tabs.vertical-tabs-list(data-toggle="tabs")
                      li.active
                        a(href="#first7") First item
                      li
                        a(href="#second7") Second item
                      li
                        a(href="#third7") Third item
                
                  em.text-caption Below layout
              
              hr
              
              .row 
                .col-md-9
                  h3.social-blue-text Colors
              .row 
                .col-xs-12.col-sm-6
                  .card
                    ul.card-head.nav.nav-tabs.default-light(data-toggle="tabs")
                      li.active
                        a(href="#first8") First item
                      li
                        a(href="#second8") Second item
                      li
                        a(href="#third8") Third item
                    .card-body.tab-content
                      #first8.tab-pane.active
                        p Default color 1 
                      #second8.tab-pane  
                        p Default color 2
                      #third8.tab-pane  
                        p Default color 3
                .col-xs-12.col-sm-6
                  .card
                    ul.card-head.nav.nav-tabs(data-toggle="tabs")
                      li.active
                        a(href="#first9") First item
                      li
                        a(href="#second9") Second item
                      li
                        a(href="#third9") Third item
                    .card-body.tab-content
                      #first9.tab-pane.active
                        p Default light color 1
                      #second9.tab-pane  
                        p Default light color 2
                      #third9.tab-pane  
                        p Default light color 3
                
                .col-xs-12.col-sm-6
                  .card
                    ul.card-head.nav.nav-tabs.brand-primary(data-toggle="tabs")
                      li.active
                        a(href="#first11") First item
                      li
                        a(href="#second11") Second item
                      li
                        a(href="#third11") Third item
                    .card-body.tab-content
                      #first11.tab-pane.active
                        p Primary color 1
                      #second11.tab-pane  
                        p Primary color 2
                      #third11.tab-pane  
                        p Primary color 3
                                 
                .col-xs-12.col-sm-6
                  .card
                    ul.card-head.nav.nav-tabs.brand-secondary(data-toggle="tabs")
                      li.active
                        a(href="#first12") First item
                      li
                        a(href="#second12") Second item
                      li
                        a(href="#third12") Third item
                    .card-body.tab-content
                      #first12.tab-pane.active
                        p Secondary color 1
                      #second12.tab-pane  
                        p Secondary color 2
                      #third12.tab-pane  
                        p Secondary color 3
                  
    include ./layout/_scripts.jade
