@import 'settings';

// Indication on labels for required fields
span.form-required {
  color: $brand-danger;
}

html.js .input-group-addon .glyphicon.glyphicon-spin {
  color: $brand-primary;
}

// When a dropdown-toggle in a button group gets an extra class it should be ignored
.form-actions .btn-group--primary .dropdown-toggle {
  border-color: $btn-primary-border;
}

// inline form error
.has-error {

  .form-control {
    border-color: $state-danger-text;

    &:focus {
      box-shadow: 0 2px 0 0 $state-danger-text;
      border-color: $state-danger-text;
    }
  }

}

.form-item--error-message.alert-danger {

  border-radius: $input-border-radius;

  &:before {
    color: $state-danger-bg;

  }
}

.control-label {
  font-weight: 300;
}

.form-wrapper__label {
  font-weight: 500;
}

.form-wrapper {
  border-radius: ($border-radius-base - 1);
}

.form-item-data-policy {
  .card__block & {
    label {
      a {
        color: $link-color;
      }
    }
  }
}
