@import 'settings';

// Indication on labels for required fields
span.form-required {
  color: $brand-danger;
}

html.js .input-group-addon .glyphicon.glyphicon-spin {
  color: $brand-primary;
}


// Feedback states
.has-success {
  @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
}
.has-warning {
  @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
}
.has-error {
  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}
