{% if content.field_group_description|render %}
  <div{{ attributes.addClass('card') }}>
    <div{{ content_attributes.addClass('card__body body-text') }}>
      {% if style == 'sky' %}
        <div class="field--label">{% trans %} Introduction {% endtrans %}</div>
        <div class="field--text">{{ content.field_group_description }}</div>
      {% else %}
        {{ content.field_group_description }}
      {% endif %}
    </div>
  </div>
{% endif %}
