a.btn {
  &-sm {
    &.btn-follow-user {
      &,
      & + .btn-default {
        width: 100%;
        max-width: 134px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: 400;
      }
    }
  }
}
