@import "settings";

// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.
// Add a class `.table` to each table for uniform styling. We do not provide styling on
// HTML tag, so you are flexible to create other styles without having to override much css.
//
// markup: table.twig
//
// Weight: 3
//
// Style guide: base.tables

table {
  border-collapse: collapse;
}

caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $text-muted;
  text-align: left;
  caption-side: bottom;
}

// Matches default `<td>` alignment
th {
  text-align: left;
}


// Baseline styles

.table,
.path-node .body-text table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg;
  font-size: 0.875rem;

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    word-wrap: break-word;
  }

  // Bottom align for column headings
  thead th {
    font-weight: $font-weight-strong;
    font-size: $font-size-xs;
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  // Account for multiple tbody instances
  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  // allow columns to have their own alignment
  .views-align-left {
    text-align: left;
  }
  .views-align-right {
    text-align: right;
  }
  .views-align-center {
    text-align: center;
  }

}


// Condensed table w/ half padding

.table-sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid $table-border-color;

  th,
  td {
    border: 1px solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-accent-bg;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  tbody tr:hover {
    background-color: $table-hover-bg;
  }
}

.thead-default {
  th {
    color: $table-head-color;
    background-color: $table-head-bg;
  }
}

// Table sort
.tablesort {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}

.icon-tablesort {
  width: 20px;
  height: 20px;
}

// Table drag
.tabledrag-handle {
  color: $gray-light;
  cursor: move;
  position: absolute;
  line-height: 1;
  margin: 0 0 0 -10px;
  padding: 10px;

  ~ .form-managed-file {
    display: block;
    padding-left: 24px;
  }
}

// Responsive tables
//
// Add `.table-responsive` around table`s and we'll make them mobile friendly by enabling horizontal scrolling.

.table-responsive {
  display: block;
  width: 100%;

  @include for-phone-only {
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-bottom: 100px;
    margin-bottom: -100px;
  }

  // Prevent double border on horizontal scroll due to use of `display: block;`
  .table-bordered {
    border: 0;
  }

}

// For VBO manage members.
.right-auto {
  margin-right: auto;
  @include for-phone-only {
    margin-left: 0.5rem;
  }
}

.view-group-manage-members {
  @include for-phone-only {
    padding: 0 10px;

    .form-group-inline--right {
      display: block;
    }
    .card {
      display: block;
    }
  }
}

.select-all.checkbox {
  display: table-cell;
}

.vbo-table .form-type-checkbox {
  padding-top: 1rem;
}

.vbo-table.table td {
  vertical-align: inherit;
}

.vbo-table .btn-group--operations {
  justify-content: left;
}

.vbo-table .form-no-label.checkbox label {
  display: none;
}

.vbo-table .views-table-row-vbo-select-all {
  .form-submit {
    color: #4d4d4d;
    background-color: #fff;
    border-radius: 10px;
    fill: #4d4d4d;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #adadad;
    padding: 6px 12px;
    font-size: 0.875rem;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    outline: 0;
    @include for-phone-only {
      font-size: 0.7rem;
    }
  }
  td div {
    text-align: left;
  }
}

#vbo-action-form-wrapper .btn-group.dropdown {
  position: absolute;
  right: 1rem;
  padding: 10px 0;

  @include for-phone-only {
    position: static;
    width: 100%;

    button {
      margin-right: 0.5rem;
    }

    .dropdown-menu.dropdown-menu-right {
      width: 100%;
    }
  }
}

#vbo-action-form-wrapper.card__block {
  padding: 0;

  .panel-heading {
    padding: 1.25rem 0 1.25rem 1.25rem;
  }

  .vbo-multipage-selector ul {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0;
    font-size: 0.875rem;
  }

  .vbo-multipage-selector ul li,
  .vbo-multipage-selector h3 {
    padding-left: 1.25rem;
    font-weight: 500;
  }

  .vbo-multipage-selector li:last-child {
    padding-bottom: 0.5rem;
  }
  .vbo-multipage-selector li:first-child {
    padding-top: 0.5rem;
  }
}
