.event-recording {
  &.card__block {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .field {
    margin-bottom: 0;
  }

  .field--items {
    display: block;
  }

  .field--item {
    display: block;

    + .field--item {
      margin-top: 8px;
    }
  }

  a {
    color: var(--link-color, #33b5e5);
    text-decoration: underline;
    text-decoration-color: var(--link-color, #33b5e5);
  }
}
