.label {
  border-radius: 0.25em;
  color: #fff;
}

a.label:hover, a.label:focus {
  color: #fff;
}

.label-default {
  background-color: #4d4d4d;
}

.label-default[href]:hover, .label-default[href]:focus {
  background-color: #343434;
}

.label-primary {
  background-color: #1f80aa;
}

.label-primary[href]:hover, .label-primary[href]:focus {
  background-color: #17607f;
}

.label-success {
  background-color: #5cb85c;
}

.label-success[href]:hover, .label-success[href]:focus {
  background-color: #449d44;
}

.label-info {
  background-color: #33b5e5;
}

.label-info[href]:hover, .label-info[href]:focus {
  background-color: #1a9bcb;
}

.label-warning {
  background-color: #f80;
}

.label-warning[href]:hover, .label-warning[href]:focus {
  background-color: #cc6d00;
}

.label-danger {
  background-color: #d9534f;
}

.label-danger[href]:hover, .label-danger[href]:focus {
  background-color: #c9302c;
}

.label-featured {
  background-color: #ffc142;
  color: #4d4d4d;
}
