@import 'init';

@import 'contrib/bootstrap/breadcrumbs';

.breadcrumb {
  border-radius: 0;
  font-size: $font-size-base;
  margin-bottom: 0;

  > li {

    + li:before {
      display: inline-block;
      vertical-align: bottom;
      padding: 0;
      font-family: 'Material-Design-Icons';
      content: '\E5CC';
      font-weight: 500;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
    }
  }

  a {
    display: inline-block;
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }

  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
