@import 'settings';

.path-forum .layout--with-complementary {

  @include for-tablet-landscape-up {
    .region--content {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .action-links {
    list-style: none;
    margin-bottom: 1rem;

    a {
      color: #4a4a4a;
      background-color: #ffffff;
      border-color: #adadad;
      fill: #4a4a4a;
      padding-left: 15px;
      padding-right: 15px;

      &:hover,
      &:focus,
      &:active {
        background-color: #e6e6e6;
        border-color: #8e8e8e;
        color: #4a4a4a;
      }
    }
  }
}

.table-forum {
  margin-bottom: 1.75rem;

  thead,
  tbody {
    td,
    th {
      &:first-child {
        @media (min-width: 900px) {
          padding-left: 2.5rem;
        }
      }

      &:last-child {
        @media (min-width: 900px) {
          padding-right: 2.5rem;
        }
      }
    }
  }

  thead {
    th {
      padding: 1.5rem 30px 1rem;

      a,
      &.is-active a {
        color: #4a4a4a;

        &:hover {
          text-decoration: underline;
        }

        .icon-tablesort {
          fill: #4a4a4a;
        }
      }
    }

    th,
    th a {
      font-size: 14px;
      font-weight: 700;
    }
  }

  tbody {
    td {
      padding-right: 30px;
      padding-left: 30px;

      > * {
        margin-bottom: 1rem;

        &[title='No new posts'],
        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        font-weight: 700;
      }
    }
  }
}