@import "init";

.nav-tabs {

  @include MQ($small) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  > li {

    @include MQ($small) {
      float: left;
      margin-bottom: -1px;
    }

    > a {
      border-radius: 0;
      border: 0;
      font-weight: 300;
      position: relative;
      user-select: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      @include MQ($small) {
        border-bottom: 2px solid transparent;
        margin-right: 5px;
      }

      &:hover,
      &:focus {
        outline: none;
        background-color: $gray-lighter;
        border-bottom-color: $gray-lighter;
      }

    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        font-weight: 500;
        background-color: $nav-tabs-active-link-hover-bg;
        border: 0;
        border-bottom-color: transparent;

        @include MQ($small) {
          border-bottom: 2px solid $brand-primary;
        }

      }
    }

  }

  .card-underline .card-head & {
    border-bottom: none;
  }

  &.card-head {
    padding: 0;
    overflow: hidden;
  }


  &.nav-tabs-right {
    @include MQ($small) {
      float: right;
    }
  }

}

.tabs-center {
  text-align: center;

  @include MQ($small) {

    li {
      float: none;
      display: inline-block;
    }

  }

  .card-underline .card-head & {
    margin-top: -1px;
  }

}

.nav-tabs-justified {

  > li > a {
    border-radius: 0;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border-bottom: 2px solid $brand-primary;
  }

  @include MQ($small) {

    > li > a {
      border-bottom: 2px solid $nav-tabs-justified-link-border-color;
      border-radius: 0;
    }

  }

}

.card-underline .card-head.nav-tabs-justified a {
  margin-bottom: -1px;
}

@include MQ($small) {
  .nav-tabs--xl {
    font-size: 1.125em;

    a {
      padding: 1em 1.5em;
    }
  }
}

.nav-tabs.brand-primary,
.brand-primary > .nav-tabs,
.nav-tabs.brand-secondary,
.brand-secondary > .nav-tabs  {

  a {
    color: white;
    opacity: 0.75;

    &:hover,
    &:focus {
      outline: none;
      background-color: darken($brand-secondary, 10%);
      border-bottom-color: darken($brand-secondary, 10%);
    }

  }

  > li.active > a {
    color: white;
    opacity: 1;

    @include MQ($small) {
      border-bottom: 2px solid white;
    }

  }

}


// Tabs Left, Right and below
// -------------------------

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
	border: none;
}

// Tab below only
.tabs-below > .nav-tabs {
	border-top: 1px solid $gray-lighter;
  border-radius: 0 0 10px 10px;
}

.tabs-below > .nav-tabs > li {
	margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
	border-bottom: none;
  border-top: 2px solid transparent;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
	border-top-color: rgba(0,0,0,0.1);
	border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a {
	&, &:hover, &:focus {
		border-bottom: none;
		border-top: 2px solid $brand-primary;
	}
}

// Tab left/right
.tabs-left,
.tabs-right {
  display: flex;

  .nav-tabs {
    flex: 1 1 auto;
  }

  > .tab-content {
    flex: 1 1 75%;
    overflow: auto;
  }

}

.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
	padding-left: 0;
	padding-right: 0;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
	float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
	min-width: 74px;
	margin-right: 0;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

// Tab left only
.tabs-left > .nav-tabs {
	float: left;
  border-right: 1px solid $gray-lighter;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.tabs-left > .nav-tabs > li > a {
	border-bottom: none;
	border-right: 2px solid transparent;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
	border-color: transparent;
	border-right-color: rgba(0,0,0,0.1);
}

.tabs-left > .nav-tabs .active > a {
	&, &:hover, &:focus {
		border-bottom: none;
		border-right: 2px solid $brand-primary;
	}
}

// Tab right only
.tabs-right > .nav-tabs {
	float: right;
	border-left: 1px solid #ddd;
  border-radius: 0 10px 10px 0;
}

.tabs-right > .nav-tabs > li > a {
	border-bottom: none;
	border-left: 2px solid transparent;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
	border-color: transparent;
	border-left-color: rgba(0,0,0,0.1);
}

.tabs-right > .nav-tabs .active > a {
	&, &:hover, &:focus {
		border-bottom: none;
		border-left: 2px solid $brand-primary;
	}
}

.vertical-tabs-list {
  background-color: $gray-lightest;
}
