@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

.view-search-resources.view-albums {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -1%;
  padding: 0 1rem;

  @include for-desktop-up {
    padding: 0;
  }

  .teaser {
    margin: 0 1% 20px;
    flex: 0 0 98%;
    max-width: 98%;
    overflow: hidden;

    @include for-tablet-portrait-up {
      flex: 0 0 48%;
      max-width: 48%;
    }

    @include for-tablet-landscape-up {
      margin-left: 2%;
      margin-right: 2%;
      flex: 0 0 calc((100% / 3) - 4%);
      max-width: calc((100% / 3)  - 4%);
    }

    .teaser__image {
      background: #f3f3f3;
      height: 200px;

      .no-feature-image {
        display: none;
      }

      img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .teaser__content {
      padding-top: 1.25rem;
    }

    .teaser__header {
      > * {
        margin-bottom: .25rem;
      }
    }

    .teaser__title {
      margin-bottom: 0;
      font-size: 1rem;
    }

    .text-muted,
    .text-muted .teaser__content-line {
      font-size: .75rem;
    }

    .card__actionbar {
      padding-bottom: 0;

      .card__link {
        position: relative;
        display: block;
        width: 100%;
        padding: .675rem;
        float: none;
        margin-top: .75rem;
        margin-left: 0;
        text-align: center;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -1.25rem;
          right: -1.25rem;
          height: 1px;
          background: #e6e6e6;
        }
      }

      .card__link,
      .card__link a {
        font-weight: 600;
      }
    }
  }
}