.social-album--block {
  .form-group-inline--right {
    align-items: center;
    margin-bottom: 1.25rem;

    > * {
      margin: 0;

      &.right-auto {
        margin-right: auto;
      }
    }

    @media(max-width: 599px) {
      margin-bottom: 1rem;
    }

    @media(max-width: 599px) {
      flex-direction: column;

      .add-album-btn {
        flex: 1;
        width: 100%;

        .btn {
          width: 100%;
        }
      }
    }
  }

  h4 {
    margin: 0;

    @media(max-width: 599px) {
      margin-bottom: 1rem;
      font-size: 1.125rem;
    }
  }
}
