<nav>
  <div class="tabs-scrollable">
    <ul class="nav nav-tabs nav-tabs--xl">
      <li><a href="#">Stream</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Topics</a></li>
      <li><a href="#">Groups</a></li>
      <li><a href="#">Information</a></li>
    </ul>
  </div>
</nav>
