{#
/**
 * @file
 * Default theme implementation for a BigPipe JS placeholder interface preview.
 *
 * @see \Drupal\big_pipe\Render\Placeholder\BigPipeStrategy::createBigPipeJsPlaceholder()
 */
#}

<div class="card card--list card--views__sidebar skeleton">
  <div class="card-item"></div>
</div>
