/*** Colors ***/
/*** Badges ***/
/*** Buttons ***/
/*** Collapsible ***/
/*** Forms ***/

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }


.clearfix:after {
  clear: both; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

small {
  font-size: 75%; }

.light {
  font-weight: 300; }

.thin {
  font-weight: 200; }

.page-title {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  margin-top: 1em; }

@media screen and (min-width: 60em) {

  .page-title {
    font-size: 60px; } }
