@import 'settings';

.img-metainfo__avatar {
  border-radius: 50%;
}

.node--unpublished__label {
  border-radius: 0 $border-radius-base 0 $border-radius-base;
  background-color: $brand-primary;
  color: white;
}
