@import 'settings';

.img-metainfo__avatar {
  border-radius: 50%;
}

.node--unpublished__label {
  border-radius: 0 $border-radius-base 0 $border-radius-base;
  background-color: $brand-primary;
  color: white;
}

.socialblue--sky {

  .metainfo__uploader-wrapp {
    margin-top: 7px;
    color: #777;
    font-size: .75rem;

    a {
      color: #777;
    }
  }

  .metainfo__published-date,
  .metainfo__content {
    color: #4a4a4a;

    a {
      color: #4a4a4a;
    }
  }

}
