.card {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  position: relative;
  margin-bottom: 0.75rem;
  background-clip: padding-box;
}

.card:before, .card:after {
  content: " ";
  display: table;
}

.card:after {
  clear: both;
}

.card img {
  max-width: 100%;
}

.card__title {
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 15px 20px 0;
  line-height: 1;
  font-size: 0.875rem;
}

.card__subtitle {
  font-size: 0.75rem;
  display: block;
}

.card__title--underline {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.card__body {
  position: relative;
  padding: 20px;
  z-index: 1;
}

.card__body p:last-child {
  margin-bottom: 0;
}

.card__nested-section {
  margin-top: 10px;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  padding: 20px;
  background: #f7f7f7;
  border-top: 1px solid #e6e6e6;
}

.card__actionbar {
  margin-top: -20px;
  padding: 20px 20px 16px 16px;
  position: relative;
  z-index: 2;
}

.card__actionbar:before, .card__actionbar:after {
  content: " ";
  display: table;
}

.card__actionbar:after {
  clear: both;
}

.card__link {
  font-size: 0.875rem;
  margin-left: 24px;
  float: right;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

@media (min-width: 600px) {

  .card__body--fat {
    padding: 48px;
  }

  .card__body--fat .card__nested-section {
    margin-left: -48px;
    margin-right: -48px;
    padding: 20px 48px;
  }

  .card__body--fat .card__nested-section:last-child {
    margin-bottom: -48px;
  }

  .card__body--fat + .card__actionbar {
    margin-top: -48px;
  }
}
