@import "init";

@import "contrib/bootstrap/scaffolding";

// Icon Styles

i {
  line-height: inherit;

  &.pull-left {
    margin-right: 5px;
  }
  &.pull-right {
    margin-left: 5px;
  }
  &.tiny {
    font-size: 1rem;
  }
  &.small {
    font-size: 2rem;
  }
  &.medium {
    font-size: 4rem;
  }
  &.large {
    font-size: 6rem;
  }
}

// Image sizes for in posts and streams
.img-medium {
  width: 44px;
  height: 44px;
}

// Image sizes for in navbar
.img-small {
  width: 24px;
  height: 24px;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $padding-large-vertical;

  img {
    margin: 3px;
  }
}

.img-bordered {
  border: 3px solid white;
}

.no-margin {            margin: 0; }
.margin-left-s {margin-left: 5px;}
.margin-left-m {margin-left: 10px;}
.margin-left-l {margin-left: 20px;}
.margin-left-xl {margin-left: 30px;}

.margin-bottom-s {      margin-bottom: 5px; }
.margin-bottom-m {  	  margin-bottom: 10px; }
.margin-bottom-l {	    margin-bottom: 20px; }
.margin-bottom-xl {	    margin-bottom: 30px; }
.margin-top-s {	        margin-top: 5px; }
.margin-top-m {	        margin-top: 10px; }
.margin-top-l {	        margin-top: 20px; }
.margin-top-xl {	      margin-top: 30px; }
.margin-top-xxl {	      margin-top: 40px; }

.no-padding { padding: 0 !important;}
.padding-xs { padding: 6px; }
.padding-sm { padding: 12px; }
.padding-md { padding: 24px; }
.padding-lg { padding: 48px; }
.no-side-padding { padding: 24px 0; }

.no-border { border: 0 !important;}

.inline-center {
  vertical-align: middle;
  line-height: 1;
  margin-right: 5px;
}

.align-center {
  align-self: center;
}

// can be used on anchor that need to display as a block
.block {
  display: block;
}

// Pushpin
.pin-top, .pin-bottom {
  position: relative;
}
.pinned {
  position: fixed !important;
}

hr {

  &.ruler-xs {
    margin: 2px 0;
  }

  &.ruler-sm {
    margin: 10px 0;
  }

  &.ruler-md {
    margin: 15px 0;
  }

  &.ruler-s {
    margin: ($line-height-computed / 2.5) 0;
  }

  &.ruler-l {
    margin: ($line-height-computed * 2.5) 0;
  }
}

.js .js-hide {
  display: none;
}

.js-show {
  display: none;
}

.js .js-show {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.z-depth-0 { @include z-depth-0; }
.z-depth-1 { @include z-depth-1; }
.z-depth-2 { @include z-depth-2; }
.z-depth-3 { @include z-depth-3; }
.z-depth-4 { @include z-depth-4; }
