body {
  font-family: $font-family-webfont;
	font-weight: 300;
	-webkit-font-smoothing: antialiased; //smooth font in webkit
  -moz-osx-font-smoothing: grayscale; //smooth font in firefox
  color: $default-color;
  background-color: $body-bg;
}
