form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper,
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-visibility,
form.group-flexible-group-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper, form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-visibility,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -12px;
}
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper > *,
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-visibility > *,
form.group-flexible-group-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper > *, form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper > *,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-visibility > *,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper > * {
  padding: 0 12px;
}
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper .form-group,
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-visibility .form-group,
form.group-flexible-group-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper .form-group, form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper .form-group,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-visibility .form-group,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper .form-group {
  margin-bottom: 0;
}
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type=checkbox]:checked + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type=radio]:checked + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-visibility input[type=checkbox]:checked + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-visibility input[type=radio]:checked + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type=checkbox]:checked + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type=radio]:checked + label, form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type=checkbox]:checked + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type=radio]:checked + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-visibility input[type=checkbox]:checked + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-visibility input[type=radio]:checked + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type=checkbox]:checked + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type=radio]:checked + label {
  font-weight: bold;
}
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type=checkbox] + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type=radio] + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-visibility input[type=checkbox] + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-group-allowed-visibility input[type=radio] + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type=checkbox] + label,
form.group-flexible-group-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type=radio] + label, form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type=checkbox] + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type=radio] + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-visibility input[type=checkbox] + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-group-allowed-visibility input[type=radio] + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type=checkbox] + label,
form.group-flexible-group-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type=radio] + label {
  margin-bottom: 0.5rem;
}
form.group-flexible-group-add-form #edit-group-settings legend.control-label, form.group-flexible-group-edit-form #edit-group-settings legend.control-label {
  margin-bottom: 0;
}
form.group-flexible-group-add-form #edit-group-settings .help-block, form.group-flexible-group-edit-form #edit-group-settings .help-block {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
form.group-flexible-group-add-form #edit-group-settings .form-group, form.group-flexible-group-edit-form #edit-group-settings .form-group {
  margin-bottom: 19px;
}

@media (min-width: 600px) {
  .popover {
    max-width: 525px !important;
  }
}
.popover .popover-content .form-group svg {
  margin-right: 10px;
}
.popover .popover-content .form-group p {
  margin-bottom: 1.25rem;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.popover .popover-content .form-group p:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=admin.css.map */
