@import "settings";

.field--name-field-introduction-text,
.body-text {

  a:not(.btn) {
    text-decoration: underline;
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

}
