@import 'settings';

// Base class
.badge {
  display: inline-block;
  min-width: 10px;
  max-width: 100%;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  padding: ($badge-font-size/3) ($badge-font-size/1.5);
  margin-bottom: $padding-small-vertical;
  font-size: $badge-font-size;

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: -1px;
  }

  .btn-xs &,
  .btn-group-xs > .btn & {
    top: 0;
    padding: 1px 5px;
  }

  .list-group-item > & {
    float: right;
  }

  .list-group-item > & + & {
    margin-right: 5px;
  }

}

.badge--large {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.875rem;
}

.badge label {
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.badge--toggle {
  padding: 0;
  background-color: transparent;
  transition: width 0.3s ease;
}

.badge--toggle,
.badge--toggle * {
  user-select: none;
}

// custom badge modifier
.js .badge--toggle {

  .badge--toggle__label {
    width: 0;
    opacity: 0;
    display: inline-block;
    transition: opacity 0.3s ease;
  }

  input[type=checkbox]:checked ~ .icon-badge-toggle,
  input[type=checkbox]:checked ~ .badge--toggle__label {
    background-color: rgba(black,0.1); // by using transparency it will also work on gray backgrounds
    color: $default-color;
  }

  .badge--toggle__label {
    border-radius: 0 8px 8px 0;
  }

  input[type=checkbox]:checked ~ .badge--toggle__label {
    width: auto;
    padding: 3px $badge-font-size 3px ($badge-font-size/2);
    opacity: 1;
  }

}

a.badge--comment-count {
  padding: 0;

  .icon-badge {
    width: 22px;
    height: 18px;
    padding-left: 8px;
  }

}

.badge--comment-count__number {
  padding: 4px 8px 4px 4px;
}
