{#
/**
 * @file
 * Theme for buttons group.
 *
 * Available variables:
 * - label: Button label.
 */
#}
<div class="btn-group">
  <button type="button" autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-accent btn-lg btn-raised dropdown-toggle waves-effect waves-btn waves-light">
    {{ label }}<span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    {% for item in items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
</div>
