{#
/**
 * @file
 * Lists group types available for creation.
 *
 * This list is displayed on the "Add group" page.
 *
 * Available variables:
 * - types: A list of group types, each with the following properties:
 *   - url: Path to the add group of this type page.
 *   - label: The name of this group type.
 *   - description: Description of this group type.
 *
 * @see template_preprocess_group_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <ul class="admin-list">
    {% for type in types %}
      <li class="clearfix"><a href="{{ type.url }}"><span class="label">{{ type.label }}</span><div class="description">{{ type.description }}</div></a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% set create_group_type = path('entity.group_type.add_form') %}
    {% trans %}
    You have not created any group types yet. Go to the <a href="{{ create_group_type }}">group type creation page</a> to add a new group type.
    {% endtrans %}
  </p>
{% endif %}
