.style-default {
  background-color: $grey-light-2;
  border-color: $grey-light-2;
  color: $grey-dark-1;
}

.style-default-light {
  background-color: $grey-light-3;
  border-color: $grey-light-3;
  color: $grey-dark-1;
}

.style-default-bright {
  background-color: white;
  border-color: white;
  color: $grey-dark-1;
}

.style-primary {
  background-color: $primary-color;
  border-color:$primary-color;
  color: white;
}

.style-primary-dark {
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
  color: white;
}
