.style-default {
  background-color: $grey-light-2;
  border-color: $grey-light-2;
  color: $grey-dark-1;
}

.text-default {
  color: $grey-light-2;
}



.style-default-light {
  background-color: $grey-light-3;
  border-color: $grey-light-3;
  color: $grey-dark-1;
}

.text-default-light {
  color: $grey-light-3;
}



.style-default-bright {
  background-color: white;
  border-color: $grey-light-2;
  color: $grey-dark-1;
}

.text-default-bright {
  color: white;
}



.style-primary {
  background-color: $brand-primary;
  border-color:$brand-primary;
  color: white;
}

.text-primary {
  color: $brand-primary;
}



.style-primary-dark {
  background-color: $brand-primary-dark;
  border-color: $brand-primary-dark;
  color: white;
}

.text-primary-dark {
  color: $brand-primary-dark;
}



.style-success {
  background-color: $success-color;
  border-color: $success-color;
  color: white;
}

.text-success {
  color: $success-color;
}



.style-error {
  background-color: $error-color;
  border-color: $error-color;
  color: white;
}

.text-error {
  color: $error-color;
}



.style-warning {
  background-color: $warning-color;
  border-color: $warning-color;
  color: $grey-dark-1;
}

.text-warning {
  color: $warning-color;
}



.style-info {
  background-color: $info-color;
  border-color: $info-color;
  color: white;
}

.text-info {
  color: $info-color;
}
