.style-default {
  background-color: $grey-light-3;
  border-color: $grey-light-3;
  color: $base-color;
}

.style-default-light {
  background-color: $grey-light-4;
  border-color: $grey-light-4;
  color: $base-color;
}

.style-default-bright {
  background-color: white;
  border-color: white;
  color: $base-color;
}

.style-primary {
  background-color: $primary-color;
  border-color:$primary-color;
  color: white;
}

.style-primary-dark {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: white;
}
