.badge {
  border-radius: 14px;
}

.badge label {
  font-weight: 300;
}

a.badge--comment-count {
  background-color: #e6e6e6;
  color: #4d4d4d;
}

a.badge--comment-count .icon-badge {
  fill: #4d4d4d;
}

.list-group-item.active > .badge {
  color: #29abe2;
  background-color: #fff;
}

.badge-default {
  color: #fff;
  background-color: #1f80aa;
}

.badge-accent {
  background-color: #ffc142;
  color: #4d4d4d;
}

.badge-accent:hover {
  color: #4d4d4d;
}

.badge-primary {
  background-color: #29abe2;
}

.badge-secondary {
  background-color: #1f80aa;
}

.badge-gray-lighter {
  background-color: #e6e6e6;
  color: #777;
}

.badge-gray-lighter .icon-badge-toggle {
  background-color: white;
}

.badge-gray-dark {
  background-color: #333333;
}
