.badge {
  border-radius: 0.25em;
  color: #fff;
}

.badge a:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.badge__icon {
  fill: #343434;
}

.badge--pill {
  border-radius: 1em;
}

.badge-default {
  background-color: #e6e6e6;
  color: #343434;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge-default[href]:hover, .badge-default[href]:focus,
[href] .badge-default:hover,
[href] .badge-default:focus {
  background-color: #cdcdcd;
}

.badge-default [href]:hover, .badge-default [href]:focus {
  color: #1b1b1b;
}

.ui-widget-content .badge-default [href] {
  color: #343434;
}

.ui-widget-content .badge-default [href]:hover, .ui-widget-content .badge-default [href]:focus {
  color: #1b1b1b;
}

.badge-primary {
  background-color: #29abe2;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge-primary[href]:hover, .badge-primary[href]:focus,
[href] .badge-primary:hover,
[href] .badge-primary:focus {
  background-color: #1a8dbe;
}

.badge-primary [href]:hover, .badge-primary [href]:focus {
  color: #e6e6e6;
}

.ui-widget-content .badge-primary [href] {
  color: #fff;
}

.ui-widget-content .badge-primary [href]:hover, .ui-widget-content .badge-primary [href]:focus {
  color: #e6e6e6;
}

.badge-secondary {
  background-color: #1f80aa;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus,
[href] .badge-secondary:hover,
[href] .badge-secondary:focus {
  background-color: #17607f;
}

.badge-secondary [href]:hover, .badge-secondary [href]:focus {
  color: #e6e6e6;
}

.ui-widget-content .badge-secondary [href] {
  color: #fff;
}

.ui-widget-content .badge-secondary [href]:hover, .ui-widget-content .badge-secondary [href]:focus {
  color: #e6e6e6;
}

.badge-accent {
  background-color: #ffc142;
  color: #343434;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge-accent[href]:hover, .badge-accent[href]:focus,
[href] .badge-accent:hover,
[href] .badge-accent:focus {
  background-color: #ffb00f;
}

.badge-accent [href]:hover, .badge-accent [href]:focus {
  color: #1b1b1b;
}

.ui-widget-content .badge-accent [href] {
  color: #343434;
}

.ui-widget-content .badge-accent [href]:hover, .ui-widget-content .badge-accent [href]:focus {
  color: #1b1b1b;
}

.badge-success {
  background-color: #5cb85c;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge-success[href]:hover, .badge-success[href]:focus,
[href] .badge-success:hover,
[href] .badge-success:focus {
  background-color: #449d44;
}

.badge-success [href]:hover, .badge-success [href]:focus {
  color: #e6e6e6;
}

.ui-widget-content .badge-success [href] {
  color: #fff;
}

.ui-widget-content .badge-success [href]:hover, .ui-widget-content .badge-success [href]:focus {
  color: #e6e6e6;
}

.badge-info {
  background-color: #33b5e5;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge-info[href]:hover, .badge-info[href]:focus,
[href] .badge-info:hover,
[href] .badge-info:focus {
  background-color: #1a9bcb;
}

.badge-info [href]:hover, .badge-info [href]:focus {
  color: #e6e6e6;
}

.ui-widget-content .badge-info [href] {
  color: #fff;
}

.ui-widget-content .badge-info [href]:hover, .ui-widget-content .badge-info [href]:focus {
  color: #e6e6e6;
}

.badge-warning {
  background-color: #f80;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge-warning[href]:hover, .badge-warning[href]:focus,
[href] .badge-warning:hover,
[href] .badge-warning:focus {
  background-color: #cc6d00;
}

.badge-warning [href]:hover, .badge-warning [href]:focus {
  color: #e6e6e6;
}

.ui-widget-content .badge-warning [href] {
  color: #fff;
}

.ui-widget-content .badge-warning [href]:hover, .ui-widget-content .badge-warning [href]:focus {
  color: #e6e6e6;
}

.badge-danger {
  background-color: #d9534f;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge-danger[href]:hover, .badge-danger[href]:focus,
[href] .badge-danger:hover,
[href] .badge-danger:focus {
  background-color: #c9302c;
}

.badge-danger [href]:hover, .badge-danger [href]:focus {
  color: #e6e6e6;
}

.ui-widget-content .badge-danger [href] {
  color: #fff;
}

.ui-widget-content .badge-danger [href]:hover, .ui-widget-content .badge-danger [href]:focus {
  color: #e6e6e6;
}

a .badge-default {
  color: #343434;
}

a .badge-default:hover {
  color: #343434;
}
