.socialblue--sky .badge {
  font-size: 12px;
}

.socialblue--sky .badge.teaser__badge.badge-default, .socialblue--sky .badge.teaser__badge.badge-primary, .socialblue--sky .badge.teaser__badge.badge-secondary, .socialblue--sky .badge.teaser__badge.badge-accent, .socialblue--sky .badge.teaser__badge.badge-success, .socialblue--sky .badge.teaser__badge.badge-info, .socialblue--sky .badge.teaser__badge.badge-warning, .socialblue--sky .badge.teaser__badge.badge-danger, .socialblue--sky .badge.teaser__badge.badge-active {
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 900px) {
  .socialblue--sky .badge-status {
    margin-left: .5rem;
    padding: 5px .875rem;
    font-size: .875rem;
    font-weight: 400;
  }
}
