.socialblue--sky .cover--landing:after {
  background: #29abe2;
}

.socialblue--sky .hero__banner-static .hero__tag {
  color: #29abe2;
}

.socialblue--sky .site-footer {
  background: #fff;
  color: #29abe2;
}

.socialblue--sky .site-footer:before {
  background: #29abe2;
}

.socialblue--sky .card--views__sidebar .card__actionbar .btn:before {
  background: #29abe2;
}

.socialblue--sky .card--views__sidebar .card__actionbar .btn:hover, .socialblue--sky .card--views__sidebar .card__actionbar .btn:active, .socialblue--sky .card--views__sidebar .card__actionbar .btn:focus {
  color: #ffc142;
}

.socialblue--sky .card--views__sidebar .card__actionbar .btn:hover:before, .socialblue--sky .card--views__sidebar .card__actionbar .btn:active:before, .socialblue--sky .card--views__sidebar .card__actionbar .btn:focus:before {
  background: #ffc142;
}

.socialblue--sky .teaser__tag {
  color: #29abe2;
}

.socialblue--sky [class*='statistic-block'] .hero-footer__cta .btn-default {
  color: #29abe2;
}

.socialblue--sky .card__link--arrow {
  color: #29abe2;
}

.socialblue--sky .card__link--arrow:before {
  background: #29abe2;
}

.socialblue--sky .card__link--arrow:hover, .socialblue--sky .card__link--arrow:active, .socialblue--sky .card__link--arrow:focus {
  color: #ffc142;
}

.socialblue--sky .card__link--arrow:hover:before, .socialblue--sky .card__link--arrow:active:before, .socialblue--sky .card__link--arrow:focus:before {
  background: #ffc142;
}

.socialblue--sky .paragraph--featured .field--name-field-featured-link a:before {
  background: #29abe2;
}

.socialblue--sky .paragraph--featured .field--name-field-featured-link a:hover, .socialblue--sky .paragraph--featured .field--name-field-featured-link a:active, .socialblue--sky .paragraph--featured .field--name-field-featured-link a:focus {
  color: #ffc142;
}

.socialblue--sky .paragraph--featured .field--name-field-featured-link a:hover:before, .socialblue--sky .paragraph--featured .field--name-field-featured-link a:active:before, .socialblue--sky .paragraph--featured .field--name-field-featured-link a:focus:before {
  background: #ffc142;
}
