.socialblue--sky .card__link,
.socialblue--sky .comment__reply-btn {
  color: #29abe2;
}

.socialblue--sky .card__link:hover, .socialblue--sky .card__link:focus, .socialblue--sky .card__link:active,
.socialblue--sky .comment__reply-btn:hover,
.socialblue--sky .comment__reply-btn:focus,
.socialblue--sky .comment__reply-btn:active {
  color: #ffc142;
}

.socialblue--sky .card__link .btn-default,
.socialblue--sky .card__link.btn-default,
.socialblue--sky .card__link .btn-default:hover,
.socialblue--sky .card__link .btn-default:hover,
.socialblue--sky .card__link.btn-default:focus {
  color: #29abe2;
  fill: #29abe2;
  border-color: #29abe2;
}

.socialblue--sky .hero__tag,
.socialblue--sky .teaser__tag {
  color: #29abe2;
  fill: #29abe2;
}

.socialblue--sky .hero__tag:hover, .socialblue--sky .hero__tag:focus, .socialblue--sky .hero__tag.focus,
.socialblue--sky .teaser__tag:hover,
.socialblue--sky .teaser__tag:focus,
.socialblue--sky .teaser__tag.focus {
  color: #ffc142;
  fill: #ffc142;
}

.socialblue--sky #sliding-popup {
  background-color: #1f80aa !important;
}

.socialblue--sky .main-container:not(.is-navbar-secondary) .hero__full:after {
  background: #29abe2;
}

.socialblue--sky .main-container:not(.is-navbar-secondary) .hero__full.hero__banner-footer-bottom .cover-wrap:after {
  background: #29abe2;
}

.socialblue--sky .resources-search-form .search-icon.inputHasFocus {
  border-color: #29abe2;
  -webkit-box-shadow: 0 2px 0 0 #29abe2;
          box-shadow: 0 2px 0 0 #29abe2;
}

.socialblue--sky .search-filter--wrapper .toggle-filter,
.socialblue--sky .search-filter--wrapper .collapse-wrapper .btn {
  color: #29abe2;
  fill: #29abe2;
}

.socialblue--sky .search-filter--wrapper .toggle-filter:focus, .socialblue--sky .search-filter--wrapper .toggle-filter:active, .socialblue--sky .search-filter--wrapper .toggle-filter:hover,
.socialblue--sky .search-filter--wrapper .collapse-wrapper .btn:focus,
.socialblue--sky .search-filter--wrapper .collapse-wrapper .btn:active,
.socialblue--sky .search-filter--wrapper .collapse-wrapper .btn:hover {
  color: #ffc142;
  fill: #ffc142;
}

.socialblue--sky .teaser.teaser--tile .teaser__published-type,
.socialblue--sky .teaser.teaser--tile .teaser__published-type a {
  color: #29abe2;
}

.socialblue--sky .teaser.teaser--tile .teaser__published-type:hover, .socialblue--sky .teaser.teaser--tile .teaser__published-type:active, .socialblue--sky .teaser.teaser--tile .teaser__published-type:focus,
.socialblue--sky .teaser.teaser--tile .teaser__published-type a:hover,
.socialblue--sky .teaser.teaser--tile .teaser__published-type a:active,
.socialblue--sky .teaser.teaser--tile .teaser__published-type a:focus {
  color: #ffc142;
}

.socialblue--sky .teaser.teaser--tile .teaser__published-type:hover, .socialblue--sky .teaser.teaser--tile .teaser__published-type:active, .socialblue--sky .teaser.teaser--tile .teaser__published-type:focus {
  color: #29abe2;
}

.socialblue--sky .hero__banner .hero-footer__cta .btn:not(.button--accent):not(.btn-accent) {
  color: #29abe2;
  border-color: #29abe2;
  background: transparent;
}

.socialblue--sky .hero__banner .hero-footer__cta .btn:not(.button--accent):not(.btn-accent):hover, .socialblue--sky .hero__banner .hero-footer__cta .btn:not(.button--accent):not(.btn-accent):active, .socialblue--sky .hero__banner .hero-footer__cta .btn:not(.button--accent):not(.btn-accent):focus {
  background: #1f80aa;
  color: inherit;
  border-color: #1f80aa;
}

.socialblue--sky .hero__banner .hero-footer__cta .btn-accent {
  color: #4d4d4d;
}

.socialblue--sky .hero__banner .hero-footer__cta .dropdown-menu a {
  color: #29abe2;
}

.socialblue--sky .hero__banner .shariff .shariff-button a {
  background: #29abe2;
}

.socialblue--sky .hero__banner .shariff .shariff-button a:focus, .socialblue--sky .hero__banner .shariff .shariff-button a:active, .socialblue--sky .hero__banner .shariff .shariff-button a:hover {
  background: #ffc142;
}

.orange-theme .socialblue--sky .hero__banner .cover-wrap > .badge-secondary {
  color: #ffc142;
  background: transparent;
}

.socialblue--sky .teaser.teaser--profile .teaser__image {
  background: #29abe2;
}

.socialblue--sky .card.card__column .card__title {
  color: #29abe2;
}

.socialblue--sky .card.card__column .card__header {
  background: #29abe2;
}

.socialblue--sky .vote-widget a:hover:not(.disable-status) .icon-vote path, .socialblue--sky .vote-widget a:hover:not(.voted-like) .icon-vote path {
  stroke: #29abe2;
}

.socialblue--sky .vote-widget a:hover .icon-vote path, .socialblue--sky .vote-widget a:active .icon-vote path, .socialblue--sky .vote-widget a:focus .icon-vote path {
  stroke: #29abe2;
}

.socialblue--sky .vote-widget a.voted-like .icon-vote path {
  stroke: #29abe2;
  fill: #29abe2;
}

.socialblue--sky .vote-widget a.voted-like:hover .icon-vote path, .socialblue--sky .vote-widget a.voted-like:active .icon-vote path, .socialblue--sky .vote-widget a.voted-like:focus .icon-vote path {
  fill: transparent;
}

.paragraph--featured .socialblue--sky .card__link .field--item a:before,
.paragraph--block .socialblue--sky .card__link .field--item a:before {
  background: #29abe2;
}

.paragraph--featured .socialblue--sky .card__link .field--item a:hover, .paragraph--featured .socialblue--sky .card__link .field--item a:active, .paragraph--featured .socialblue--sky .card__link .field--item a:focus,
.paragraph--block .socialblue--sky .card__link .field--item a:hover,
.paragraph--block .socialblue--sky .card__link .field--item a:active,
.paragraph--block .socialblue--sky .card__link .field--item a:focus {
  color: #ffc142;
}

.paragraph--featured .socialblue--sky .card__link .field--item a:hover:before, .paragraph--featured .socialblue--sky .card__link .field--item a:active:before, .paragraph--featured .socialblue--sky .card__link .field--item a:focus:before,
.paragraph--block .socialblue--sky .card__link .field--item a:hover:before,
.paragraph--block .socialblue--sky .card__link .field--item a:active:before,
.paragraph--block .socialblue--sky .card__link .field--item a:focus:before {
  background: #ffc142;
}

.socialblue--sky.path-group .region--complementary-bottom > .card .card__actionbar .card__link:before,
.socialblue--sky.path-group .region--complementary-top > .card .card__actionbar .card__link:before, .socialblue--sky.details .region--complementary-bottom > .card .card__actionbar .card__link:before,
.socialblue--sky.details .region--complementary-top > .card .card__actionbar .card__link:before, .socialblue--sky.path-user .region--complementary-bottom > .card .card__actionbar .card__link:before,
.socialblue--sky.path-user .region--complementary-top > .card .card__actionbar .card__link:before {
  background: #29abe2;
}

.socialblue--sky.path-group .region--complementary-bottom > .card .card__actionbar .card__link:hover, .socialblue--sky.path-group .region--complementary-bottom > .card .card__actionbar .card__link:active, .socialblue--sky.path-group .region--complementary-bottom > .card .card__actionbar .card__link:focus,
.socialblue--sky.path-group .region--complementary-top > .card .card__actionbar .card__link:hover,
.socialblue--sky.path-group .region--complementary-top > .card .card__actionbar .card__link:active,
.socialblue--sky.path-group .region--complementary-top > .card .card__actionbar .card__link:focus, .socialblue--sky.details .region--complementary-bottom > .card .card__actionbar .card__link:hover, .socialblue--sky.details .region--complementary-bottom > .card .card__actionbar .card__link:active, .socialblue--sky.details .region--complementary-bottom > .card .card__actionbar .card__link:focus,
.socialblue--sky.details .region--complementary-top > .card .card__actionbar .card__link:hover,
.socialblue--sky.details .region--complementary-top > .card .card__actionbar .card__link:active,
.socialblue--sky.details .region--complementary-top > .card .card__actionbar .card__link:focus, .socialblue--sky.path-user .region--complementary-bottom > .card .card__actionbar .card__link:hover, .socialblue--sky.path-user .region--complementary-bottom > .card .card__actionbar .card__link:active, .socialblue--sky.path-user .region--complementary-bottom > .card .card__actionbar .card__link:focus,
.socialblue--sky.path-user .region--complementary-top > .card .card__actionbar .card__link:hover,
.socialblue--sky.path-user .region--complementary-top > .card .card__actionbar .card__link:active,
.socialblue--sky.path-user .region--complementary-top > .card .card__actionbar .card__link:focus {
  color: #ffc142;
}

.socialblue--sky.path-group .region--complementary-bottom > .card .card__actionbar .card__link:hover:before, .socialblue--sky.path-group .region--complementary-bottom > .card .card__actionbar .card__link:active:before, .socialblue--sky.path-group .region--complementary-bottom > .card .card__actionbar .card__link:focus:before,
.socialblue--sky.path-group .region--complementary-top > .card .card__actionbar .card__link:hover:before,
.socialblue--sky.path-group .region--complementary-top > .card .card__actionbar .card__link:active:before,
.socialblue--sky.path-group .region--complementary-top > .card .card__actionbar .card__link:focus:before, .socialblue--sky.details .region--complementary-bottom > .card .card__actionbar .card__link:hover:before, .socialblue--sky.details .region--complementary-bottom > .card .card__actionbar .card__link:active:before, .socialblue--sky.details .region--complementary-bottom > .card .card__actionbar .card__link:focus:before,
.socialblue--sky.details .region--complementary-top > .card .card__actionbar .card__link:hover:before,
.socialblue--sky.details .region--complementary-top > .card .card__actionbar .card__link:active:before,
.socialblue--sky.details .region--complementary-top > .card .card__actionbar .card__link:focus:before, .socialblue--sky.path-user .region--complementary-bottom > .card .card__actionbar .card__link:hover:before, .socialblue--sky.path-user .region--complementary-bottom > .card .card__actionbar .card__link:active:before, .socialblue--sky.path-user .region--complementary-bottom > .card .card__actionbar .card__link:focus:before,
.socialblue--sky.path-user .region--complementary-top > .card .card__actionbar .card__link:hover:before,
.socialblue--sky.path-user .region--complementary-top > .card .card__actionbar .card__link:active:before,
.socialblue--sky.path-user .region--complementary-top > .card .card__actionbar .card__link:focus:before {
  background: #ffc142;
}

.socialblue--sky.path-group .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default,
.socialblue--sky.path-group .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default, .socialblue--sky.details .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default,
.socialblue--sky.details .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default, .socialblue--sky.path-user .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default,
.socialblue--sky.path-user .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default {
  border: 2px solid #29abe2;
  color: #29abe2;
}

.socialblue--sky.path-group .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover, .socialblue--sky.path-group .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus, .socialblue--sky.path-group .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active,
.socialblue--sky.path-group .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover,
.socialblue--sky.path-group .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus,
.socialblue--sky.path-group .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active, .socialblue--sky.details .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover, .socialblue--sky.details .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus, .socialblue--sky.details .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active,
.socialblue--sky.details .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover,
.socialblue--sky.details .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus,
.socialblue--sky.details .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active, .socialblue--sky.path-user .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover, .socialblue--sky.path-user .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus, .socialblue--sky.path-user .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active,
.socialblue--sky.path-user .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover,
.socialblue--sky.path-user .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus,
.socialblue--sky.path-user .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active {
  background-color: #e6e6e6;
}

.socialblue--sky .hero__group .teaser__tag {
  background: #29abe2;
}

.socialblue--sky .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list li a:hover, .socialblue--sky .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list li a:focus, .socialblue--sky .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list li a:active {
  color: #29abe2;
}

@media (min-width: 900px) {
  .socialblue--sky .search-take-over .form-text::-webkit-input-placeholder {
    color: #ffffff;
  }
  .socialblue--sky .search-take-over .form-text::-moz-placeholder {
    color: #ffffff;
  }
  .socialblue--sky .search-take-over .form-text::-ms-input-placeholder {
    color: #ffffff;
  }
  .socialblue--sky .search-take-over .form-text::placeholder {
    color: #ffffff;
  }
  .socialblue--sky .search-take-over .form-text:-ms-input-placeholder {
    color: #ffffff;
  }
  .socialblue--sky .search-take-over .form-text::-ms-input-placeholder {
    color: #ffffff;
  }
}
