.socialblue--sky .teaser__tag {
  color: #1f80aa;
}

.socialblue--sky .site-footer {
  background: #fff;
  color: #29abe2;
}

.socialblue--sky .site-footer:before {
  background: #29abe2;
}

.socialblue--sky .card--views__sidebar .card__actionbar .btn:before {
  background: #29abe2;
}

.socialblue--sky .card--views__sidebar .card__actionbar .btn:hover, .socialblue--sky .card--views__sidebar .card__actionbar .btn:active, .socialblue--sky .card--views__sidebar .card__actionbar .btn:focus {
  color: #ffc142;
}

.socialblue--sky .card--views__sidebar .card__actionbar .btn:hover:before, .socialblue--sky .card--views__sidebar .card__actionbar .btn:active:before, .socialblue--sky .card--views__sidebar .card__actionbar .btn:focus:before {
  background: #ffc142;
}

.socialblue--sky .block-profile-statistic-block .hero-footer__cta .btn-default,
.socialblue--sky .block-group-statistic-block .hero-footer__cta .btn-default {
  color: #29abe2;
}

.socialblue--sky .paragraph--featured .field--name-field-featured-link a:before {
  background: #29abe2;
}

.socialblue--sky .paragraph--featured .field--name-field-featured-link a:hover, .socialblue--sky .paragraph--featured .field--name-field-featured-link a:active, .socialblue--sky .paragraph--featured .field--name-field-featured-link a:focus {
  color: #ffc142;
}

.socialblue--sky .paragraph--featured .field--name-field-featured-link a:hover:before, .socialblue--sky .paragraph--featured .field--name-field-featured-link a:active:before, .socialblue--sky .paragraph--featured .field--name-field-featured-link a:focus:before {
  background: #ffc142;
}

.socialblue--sky .phase.phase-active:before {
  background-color: #29abe2;
}

.socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li a:hover, .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li a.is-active,
.socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li.active a:hover,
.socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li.active a.is-active, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li a:hover, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li a.is-active,
.socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li.active a:hover,
.socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li.active a.is-active {
  color: #29abe2;
}
