.btn {
  border-radius: 10px;
}

.btn.btn-floating {
  border-radius: 50%;
}

.btn-default {
  color: #4d4d4d;
  background-color: white;
  border-color: #adadad;
  fill: #4d4d4d;
}

.btn-default:focus, .btn-default.focus {
  color: #4d4d4d;
  background-color: #e6e6e6;
  border-color: #6d6d6d;
}

.btn-default:hover {
  color: #4d4d4d;
  background-color: #e6e6e6;
  border-color: #8e8e8e;
}

.btn-default:active, .btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #4d4d4d;
  background-color: #e6e6e6;
  border-color: #8e8e8e;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
  color: #4d4d4d;
  background-color: #d4d4d4;
  border-color: #6d6d6d;
}

.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
  background-color: white;
  border-color: #adadad;
}

.btn-default .badge {
  color: white;
  background-color: #4d4d4d;
}

.btn-primary {
  color: white;
  background-color: #29abe2;
  border-color: #29abe2;
  fill: white;
}

.btn-primary:focus, .btn-primary.focus {
  color: white;
  background-color: #1a8dbe;
  border-color: #115b7b;
}

.btn-primary:hover {
  color: white;
  background-color: #1a8dbe;
  border-color: #1987b5;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #1a8dbe;
  border-color: #1987b5;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: white;
  background-color: #16769f;
  border-color: #115b7b;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #29abe2;
  border-color: #29abe2;
}

.btn-primary .badge {
  color: #29abe2;
  background-color: white;
}

.btn-accent {
  color: #333333;
  background-color: #ffc142;
  border-color: #ffc142;
  fill: #333333;
  fill: #333333;
}

.btn-accent:focus, .btn-accent.focus {
  color: #333333;
  background-color: #ffb00f;
  border-color: #c28200;
}

.btn-accent:hover {
  color: #333333;
  background-color: #ffb00f;
  border-color: #ffad05;
}

.btn-accent:active, .btn-accent.active,
.open > .btn-accent.dropdown-toggle {
  color: #333333;
  background-color: #ffb00f;
  border-color: #ffad05;
}

.btn-accent:active:hover, .btn-accent:active:focus, .btn-accent:active.focus, .btn-accent.active:hover, .btn-accent.active:focus, .btn-accent.active.focus,
.open > .btn-accent.dropdown-toggle:hover,
.open > .btn-accent.dropdown-toggle:focus,
.open > .btn-accent.dropdown-toggle.focus {
  color: #333333;
  background-color: #ea9d00;
  border-color: #c28200;
}

.btn-accent.disabled:hover, .btn-accent.disabled:focus, .btn-accent.disabled.focus, .btn-accent[disabled]:hover, .btn-accent[disabled]:focus, .btn-accent[disabled].focus,
fieldset[disabled] .btn-accent:hover,
fieldset[disabled] .btn-accent:focus,
fieldset[disabled] .btn-accent.focus {
  background-color: #ffc142;
  border-color: #ffc142;
}

.btn-accent .badge {
  color: #ffc142;
  background-color: #333333;
}

.btn-flat {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
  fill: #29abe2;
  fill: #29abe2;
}

.btn-flat:focus, .btn-flat.focus {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-flat:hover {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-flat:active, .btn-flat.active,
.open > .btn-flat.dropdown-toggle {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-flat:active:hover, .btn-flat:active:focus, .btn-flat:active.focus, .btn-flat.active:hover, .btn-flat.active:focus, .btn-flat.active.focus,
.open > .btn-flat.dropdown-toggle:hover,
.open > .btn-flat.dropdown-toggle:focus,
.open > .btn-flat.dropdown-toggle.focus {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-flat.disabled:hover, .btn-flat.disabled:focus, .btn-flat.disabled.focus, .btn-flat[disabled]:hover, .btn-flat[disabled]:focus, .btn-flat[disabled].focus,
fieldset[disabled] .btn-flat:hover,
fieldset[disabled] .btn-flat:focus,
fieldset[disabled] .btn-flat.focus {
  background-color: transparent;
  border-color: transparent;
}

.btn-flat .badge {
  color: transparent;
  background-color: #29abe2;
}

.btn-flat:hover, .btn-flat:focus,
.open .dropdown-toggle .btn-flat {
  background-color: rgba(0, 0, 0, 0.12);
  border-color: transparent;
  color: #29abe2;
  fill: #1a8dbe;
}

.btn-flat:hover .icon-inline, .btn-flat:focus .icon-inline,
.open .dropdown-toggle .btn-flat .icon-inline {
  fill: #4d4d4d;
}

.btn-flat:active, .btn-flat.active {
  background-color: rgba(12, 12, 12, 0.25);
  border-color: transparent;
  color: white;
}

.btn-link {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
  fill: #29abe2;
}

.btn-link:focus, .btn-link.focus {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:hover {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:active, .btn-link.active,
.open > .btn-link.dropdown-toggle {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:active:hover, .btn-link:active:focus, .btn-link:active.focus, .btn-link.active:hover, .btn-link.active:focus, .btn-link.active.focus,
.open > .btn-link.dropdown-toggle:hover,
.open > .btn-link.dropdown-toggle:focus,
.open > .btn-link.dropdown-toggle.focus {
  color: #29abe2;
  background-color: transparent;
  border-color: transparent;
}

.btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link.disabled.focus, .btn-link[disabled]:hover, .btn-link[disabled]:focus, .btn-link[disabled].focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link.focus {
  background-color: transparent;
  border-color: transparent;
}

.btn-link .badge {
  color: transparent;
  background-color: #29abe2;
}

.btn-link:hover, .btn-link:focus {
  color: #177da8;
  text-decoration: none;
}

.btn-link[disabled]:hover, .btn-link[disabled]:focus {
  color: #777;
}

.btn--with-bgicon {
  color: #fff;
}

.btn--facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
  fill: #fff;
}

.btn--facebook:focus, .btn--facebook.focus {
  color: #fff;
  background-color: #2d4373;
  border-color: #17233c;
}

.btn--facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: #2a3f6c;
}

.btn--facebook:active, .btn--facebook.active,
.open > .btn--facebook.dropdown-toggle {
  color: #fff;
  background-color: #2d4373;
  border-color: #2a3f6c;
}

.btn--facebook:active:hover, .btn--facebook:active:focus, .btn--facebook:active.focus, .btn--facebook.active:hover, .btn--facebook.active:focus, .btn--facebook.active.focus,
.open > .btn--facebook.dropdown-toggle:hover,
.open > .btn--facebook.dropdown-toggle:focus,
.open > .btn--facebook.dropdown-toggle.focus {
  color: #fff;
  background-color: #23345a;
  border-color: #17233c;
}

.btn--facebook.disabled:hover, .btn--facebook.disabled:focus, .btn--facebook.disabled.focus, .btn--facebook[disabled]:hover, .btn--facebook[disabled]:focus, .btn--facebook[disabled].focus,
fieldset[disabled] .btn--facebook:hover,
fieldset[disabled] .btn--facebook:focus,
fieldset[disabled] .btn--facebook.focus {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn--facebook .badge {
  color: #3b5998;
  background-color: #fff;
}

.btn--linkedin {
  color: #fff;
  background-color: #0077b5;
  border-color: #0077b5;
  fill: #fff;
}

.btn--linkedin:focus, .btn--linkedin.focus {
  color: #fff;
  background-color: #005582;
  border-color: #002336;
}

.btn--linkedin:hover {
  color: #fff;
  background-color: #005582;
  border-color: #004f78;
}

.btn--linkedin:active, .btn--linkedin.active,
.open > .btn--linkedin.dropdown-toggle {
  color: #fff;
  background-color: #005582;
  border-color: #004f78;
}

.btn--linkedin:active:hover, .btn--linkedin:active:focus, .btn--linkedin:active.focus, .btn--linkedin.active:hover, .btn--linkedin.active:focus, .btn--linkedin.active.focus,
.open > .btn--linkedin.dropdown-toggle:hover,
.open > .btn--linkedin.dropdown-toggle:focus,
.open > .btn--linkedin.dropdown-toggle.focus {
  color: #fff;
  background-color: #003e5e;
  border-color: #002336;
}

.btn--linkedin.disabled:hover, .btn--linkedin.disabled:focus, .btn--linkedin.disabled.focus, .btn--linkedin[disabled]:hover, .btn--linkedin[disabled]:focus, .btn--linkedin[disabled].focus,
fieldset[disabled] .btn--linkedin:hover,
fieldset[disabled] .btn--linkedin:focus,
fieldset[disabled] .btn--linkedin.focus {
  background-color: #0077b5;
  border-color: #0077b5;
}

.btn--linkedin .badge {
  color: #0077b5;
  background-color: #fff;
}

.btn--google {
  color: #fff;
  background-color: #d34836;
  border-color: #d34836;
  fill: #fff;
}

.btn--google:focus, .btn--google.focus {
  color: #fff;
  background-color: #b03626;
  border-color: #712319;
}

.btn--google:hover {
  color: #fff;
  background-color: #b03626;
  border-color: #a73425;
}

.btn--google:active, .btn--google.active,
.open > .btn--google.dropdown-toggle {
  color: #fff;
  background-color: #b03626;
  border-color: #a73425;
}

.btn--google:active:hover, .btn--google:active:focus, .btn--google:active.focus, .btn--google.active:hover, .btn--google.active:focus, .btn--google.active.focus,
.open > .btn--google.dropdown-toggle:hover,
.open > .btn--google.dropdown-toggle:focus,
.open > .btn--google.dropdown-toggle.focus {
  color: #fff;
  background-color: #922d20;
  border-color: #712319;
}

.btn--google.disabled:hover, .btn--google.disabled:focus, .btn--google.disabled.focus, .btn--google[disabled]:hover, .btn--google[disabled]:focus, .btn--google[disabled].focus,
fieldset[disabled] .btn--google:hover,
fieldset[disabled] .btn--google:focus,
fieldset[disabled] .btn--google.focus {
  background-color: #d34836;
  border-color: #d34836;
}

.btn--google .badge {
  color: #d34836;
  background-color: #fff;
}

.btn--twitter {
  color: #fff;
  background-color: #1da1f2;
  border-color: #1da1f2;
  fill: #fff;
}

.btn--twitter:focus, .btn--twitter.focus {
  color: #fff;
  background-color: #0c85d0;
  border-color: #085788;
}

.btn--twitter:hover {
  color: #fff;
  background-color: #0c85d0;
  border-color: #0b7fc6;
}

.btn--twitter:active, .btn--twitter.active,
.open > .btn--twitter.dropdown-toggle {
  color: #fff;
  background-color: #0c85d0;
  border-color: #0b7fc6;
}

.btn--twitter:active:hover, .btn--twitter:active:focus, .btn--twitter:active.focus, .btn--twitter.active:hover, .btn--twitter.active:focus, .btn--twitter.active.focus,
.open > .btn--twitter.dropdown-toggle:hover,
.open > .btn--twitter.dropdown-toggle:focus,
.open > .btn--twitter.dropdown-toggle.focus {
  color: #fff;
  background-color: #0a70ae;
  border-color: #085788;
}

.btn--twitter.disabled:hover, .btn--twitter.disabled:focus, .btn--twitter.disabled.focus, .btn--twitter[disabled]:hover, .btn--twitter[disabled]:focus, .btn--twitter[disabled].focus,
fieldset[disabled] .btn--twitter:hover,
fieldset[disabled] .btn--twitter:focus,
fieldset[disabled] .btn--twitter.focus {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.btn--twitter .badge {
  color: #1da1f2;
  background-color: #fff;
}

.btn-sm {
  border-radius: 8px;
}

.btn-xs {
  border-radius: 5px;
}
