.socialblue--sky .card {
  margin-bottom: 1.5rem;
}

.socialblue--sky section:not(.content-merged--sky) .content-merged--sky--complementary {
  background: transparent;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.socialblue--sky .card--content-merged > h4 {
  margin-bottom: 1.25rem;
}

.socialblue--sky .card--content-merged .card--content-merged__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  border-bottom: 2px solid #fafafa;
}

.socialblue--sky .card--content-merged .card--content-merged__list h5,
.socialblue--sky .card--content-merged .card--content-merged__list .list-item__label {
  margin: 0 0 1rem;
  font-size: .875rem;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.socialblue--sky .card--content-merged .card--content-merged__list:last-child {
  border-bottom: 0;
}

.socialblue--sky .card--content-merged .card--content-merged__list .badge {
  text-align: left;
  white-space: normal;
}

.socialblue--sky .card--content-merged .card--content-merged__list .list-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socialblue--sky .content-merged--sky .region--complementary .card {
  margin-bottom: 0;
}

.socialblue--sky .content-merged--sky .region--complementary .card > .card__title,
.socialblue--sky .content-merged--sky .region--complementary .card > .card__actionbar {
  padding-top: 1.875rem;
}

.socialblue--sky .content-merged--sky .content-merged--sky--complementary {
  background: #fff;
}

.socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form),
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form) {
  position: relative;
}

.socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form):last-child:after,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form):last-child:after {
  display: none;
}

.socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-discussion-add-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-event-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-topic-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-idea-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-event-add-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-topic-add-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-socail-idea,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-discussion-add-block,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-event-block,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-topic-block,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-idea-block,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-event-add-block,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-topic-add-block,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-block,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-socail-idea {
  display: block;
  margin-top: 0;
  padding: 20px 1.875rem;
}

.socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-discussion-add-block .btn, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-event-block .btn, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-topic-block .btn, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-idea-block .btn, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-event-add-block .btn, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-topic-add-block .btn, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-block .btn, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-socail-idea .btn,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-discussion-add-block .btn,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-event-block .btn,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-topic-block .btn,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-idea-block .btn,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-event-add-block .btn,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-topic-add-block .btn,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-block .btn,
.socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-socail-idea .btn {
  width: 100%;
  margin-bottom: 0;
}

.socialblue--sky .content-merged--sky .block-profile-statistic-block,
.socialblue--sky .content-merged--sky .block-group-statistic-block {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.socialblue--sky .block-profile-statistic-block,
.socialblue--sky .block-group-statistic-block {
  position: relative;
  padding: 1rem 1.875rem 0;
  background: #fafafa;
}

.socialblue--sky .block-profile-statistic-block .hero-footer__cta,
.socialblue--sky .block-group-statistic-block .hero-footer__cta {
  display: block;
  position: static;
  padding: 0 0 1.25rem;
  margin: 0;
}

.socialblue--sky .block-profile-statistic-block .hero-footer__cta > *,
.socialblue--sky .block-group-statistic-block .hero-footer__cta > * {
  width: 100%;
}

.socialblue--sky .block-profile-statistic-block .hero-footer__cta .btn,
.socialblue--sky .block-group-statistic-block .hero-footer__cta .btn {
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  border-width: 2px;
}

.socialblue--sky .block-profile-statistic-block .card__actionbar,
.socialblue--sky .block-group-statistic-block .card__actionbar {
  padding: 1.5rem 0;
}

.socialblue--sky .block-profile-statistic-block .card__actionbar .card__link,
.socialblue--sky .block-group-statistic-block .card__actionbar .card__link {
  float: none;
  margin-left: 0;
}

.socialblue--sky .block-profile-statistic-block .btn-group__chellange,
.socialblue--sky .block-group-statistic-block .btn-group__chellange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialblue--sky .block-profile-statistic-block .btn-group__chellange > *:not(.caret),
.socialblue--sky .block-group-statistic-block .btn-group__chellange > *:not(.caret) {
  width: auto;
}

.socialblue--sky .block-profile-statistic-block .btn-group__chellange > a,
.socialblue--sky .block-group-statistic-block .btn-group__chellange > a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.socialblue--sky .block-profile-statistic-block .btn-group__chellange .btn + .btn,
.socialblue--sky .block-group-statistic-block .btn-group__chellange .btn + .btn {
  margin-left: 10px;
}

.socialblue--sky .block-profile-statistic-block .btn-group__chellange > .dropdown-toggle:not(:first-child),
.socialblue--sky .block-group-statistic-block .btn-group__chellange > .dropdown-toggle:not(:first-child) {
  border-radius: 10px;
}

.socialblue--sky .block-profile-statistic-block.block-profile-statistic-block,
.socialblue--sky .block-group-statistic-block.block-profile-statistic-block {
  padding-top: 0;
}

.socialblue--sky .block-profile-statistic-block.block-profile-statistic-block .card__info-user .hero-avatar,
.socialblue--sky .block-group-statistic-block.block-profile-statistic-block .card__info-user .hero-avatar {
  border-color: #fafafa;
}

.socialblue--sky .card__info-user {
  position: relative;
  width: 100%;
  margin-bottom: 1.875rem;
  padding-top: 0;
  padding-bottom: 1.25rem;
  text-align: center;
}

.socialblue--sky .card__info-user:after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}

.socialblue--sky .card__info-user .hero-avatar {
  width: 160px;
  height: 160px;
  margin: -80px 0 5px;
  border: 10px solid;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.socialblue--sky .card__info-user--name {
  margin: 0 0 10px;
  font-size: 1.375rem;
  line-height: 24px;
}

.socialblue--sky .card__info-user--about {
  font-size: 1rem;
  line-height: 24px;
}

.socialblue--sky .card__info-user--about-job, .socialblue--sky .card__info-user--about-organization {
  font-size: .875rem;
  margin-bottom: 5px;
}

.socialblue--sky .card__info-user--about-address {
  color: #989b97;
  font-weight: 700;
}

.socialblue--sky .card__info-user--about-address p {
  margin-bottom: 0;
}

.socialblue--sky .card__counter {
  padding-bottom: 1.25rem;
}

.socialblue--sky .card__counter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  margin: 0 -.5rem;
  padding: 0;
}

.socialblue--sky .card__counter li {
  padding: 0 .5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 125px;
}

.socialblue--sky .card__counter span {
  display: block;
  text-align: center;
}

.socialblue--sky .card__counter-quantity {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 5px;
}

.socialblue--sky .card__counter-text {
  font-size: .75rem;
  line-height: 1.2;
}

.socialblue--sky .block-views-blockgroup-managers-block-list-managers .card, .socialblue--sky .block-views-blockgroup-managers-block-list-managers.card,
.socialblue--sky .view-group-information .card,
.socialblue--sky .view-group-information.card,
.socialblue--sky .block-social-group-tags-block .card,
.socialblue--sky .block-social-group-tags-block.card {
  padding: 1.75rem 1.5rem;
}

.socialblue--sky .block-views-blockgroup-managers-block-list-managers .card .view--group-managers, .socialblue--sky .block-views-blockgroup-managers-block-list-managers.card .view--group-managers,
.socialblue--sky .view-group-information .card .view--group-managers,
.socialblue--sky .view-group-information.card .view--group-managers,
.socialblue--sky .block-social-group-tags-block .card .view--group-managers,
.socialblue--sky .block-social-group-tags-block.card .view--group-managers {
  padding: 0;
  margin-top: -.625rem;
}

.socialblue--sky .block-views-blockgroup-managers-block-list-managers .card > .card__title, .socialblue--sky .block-views-blockgroup-managers-block-list-managers.card > .card__title,
.socialblue--sky .view-group-information .card > .card__title,
.socialblue--sky .view-group-information.card > .card__title,
.socialblue--sky .block-social-group-tags-block .card > .card__title,
.socialblue--sky .block-social-group-tags-block.card > .card__title {
  margin-top: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.socialblue--sky .block-views-blockgroup-managers-block-list-managers .card > .card__block,
.socialblue--sky .block-views-blockgroup-managers-block-list-managers .card > .card__body, .socialblue--sky .block-views-blockgroup-managers-block-list-managers.card > .card__block,
.socialblue--sky .block-views-blockgroup-managers-block-list-managers.card > .card__body,
.socialblue--sky .view-group-information .card > .card__block,
.socialblue--sky .view-group-information .card > .card__body,
.socialblue--sky .view-group-information.card > .card__block,
.socialblue--sky .view-group-information.card > .card__body,
.socialblue--sky .block-social-group-tags-block .card > .card__block,
.socialblue--sky .block-social-group-tags-block .card > .card__body,
.socialblue--sky .block-social-group-tags-block.card > .card__block,
.socialblue--sky .block-social-group-tags-block.card > .card__body {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  padding: 0;
}

.socialblue--sky .block-social-group-tags-block.card > .card__block p {
  font-size: .875rem;
  margin: .75rem 0 .25rem;
}

.socialblue--sky .block-social-group-tags-block.card > .card__block p:first-child, .socialblue--sky .block-social-group-tags-block.card > .card__block p:nth-child(1) {
  margin-top: 0;
}

@media (min-width: 600px) {
  .socialblue--sky .card--content-merged .card--content-merged__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .socialblue--sky .card--content-merged .card--content-merged__list h5,
  .socialblue--sky .card--content-merged .card--content-merged__list .list-item__label {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    max-width: 200px;
    margin: 0;
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-discussion-add-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-event-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-topic-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-idea-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-event-add-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-topic-add-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-group-add-block, .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form).block-socail-idea,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-discussion-add-block,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-event-block,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-topic-block,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-idea-block,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-event-add-block,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-topic-add-block,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-group-add-block,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form).block-socail-idea {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .socialblue--sky .block-profile-statistic-block,
  .socialblue--sky .block-group-statistic-block {
    padding: 2.5rem 2.25rem 0;
  }
  .socialblue--sky .block-profile-statistic-block .hero-footer__cta,
  .socialblue--sky .block-group-statistic-block .hero-footer__cta {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialblue--sky .card__info-user--name {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .socialblue--sky .card__info-user--about-job, .socialblue--sky .card__info-user--about-organization {
    font-size: 1.125rem;
    margin-bottom: 10px;
  }
  .socialblue--sky .block-views-blockgroup-managers-block-list-managers .card, .socialblue--sky .block-views-blockgroup-managers-block-list-managers.card,
  .socialblue--sky .view-group-information .card,
  .socialblue--sky .view-group-information.card,
  .socialblue--sky .block-social-group-tags-block .card,
  .socialblue--sky .block-social-group-tags-block.card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .socialblue--sky .block-views-blockgroup-managers-block-list-managers .card > .card__title, .socialblue--sky .block-views-blockgroup-managers-block-list-managers.card > .card__title,
  .socialblue--sky .view-group-information .card > .card__title,
  .socialblue--sky .view-group-information.card > .card__title,
  .socialblue--sky .block-social-group-tags-block .card > .card__title,
  .socialblue--sky .block-social-group-tags-block.card > .card__title {
    text-align: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    max-width: 200px;
    margin: 0;
  }
}

@media (min-width: 900px) {
  .socialblue--sky .card--views__sidebar .card__block {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .socialblue--sky .card--content-merged > h4 {
    font-size: 1.5rem;
  }
  .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form),
  .socialblue--sky .content-merged--sky .region--complementary-top .off-canvas-xs-only,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form),
  .socialblue--sky .content-merged--sky .region--complementary-bottom .off-canvas-xs-only {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .socialblue--sky .content-merged--sky .region--complementary-top > *:not(.views-exposed-form):after,
  .socialblue--sky .content-merged--sky .region--complementary-bottom > *:not(.views-exposed-form):after {
    max-width: 280px;
    content: '';
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    height: 2px;
    margin: 0 auto;
    background: #adadad;
    z-index: 1;
    top: 100%;
  }
  .socialblue--sky .content-merged--sky .region--complementary-top + .region--complementary-bottom > .card:first-child:before {
    max-width: 280px;
    content: '';
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    height: 2px;
    margin: 0 auto;
    background: #adadad;
    z-index: 1;
    bottom: 100%;
  }
  .socialblue--sky .block-profile-statistic-block:before,
  .socialblue--sky .block-group-statistic-block:before {
    max-width: 280px;
    content: '';
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    height: 2px;
    margin: 0 auto;
    background: #fafafa;
    z-index: 1;
    top: 100%;
    margin-top: -2px;
    z-index: 10;
  }
  .socialblue--sky .block-views-blockgroup-managers-block-list-managers .card, .socialblue--sky .block-views-blockgroup-managers-block-list-managers.card,
  .socialblue--sky .view-group-information .card,
  .socialblue--sky .view-group-information.card,
  .socialblue--sky .block-social-group-tags-block .card,
  .socialblue--sky .block-social-group-tags-block.card {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .socialblue--sky .card--content-merged {
    padding: .875rem 3.5rem 5.75rem;
  }
  .socialblue--sky .block-views-blockgroup-managers-block-list-managers .card, .socialblue--sky .block-views-blockgroup-managers-block-list-managers.card,
  .socialblue--sky .view-group-information .card,
  .socialblue--sky .view-group-information.card,
  .socialblue--sky .block-social-group-tags-block .card,
  .socialblue--sky .block-social-group-tags-block.card {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (max-width: 899px) {
  .socialblue--sky .content-merged--sky--complementary {
    margin-bottom: 0;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .socialblue--sky .content-merged--sky .content-merged--sky--complementary {
    margin-bottom: 0;
  }
  .socialblue--sky .block-profile-statistic-block,
  .socialblue--sky .block-group-statistic-block {
    margin-bottom: 0;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 599px) {
  .socialblue--sky .card__info-user {
    margin: 0  auto .75rem;
    padding-bottom: .75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .socialblue--sky .card__info-user:after {
    left: 1.5rem;
    right: 1.5rem;
  }
  .socialblue--sky .card__info-user .hero-avatar {
    width: 100px;
    height: 100px;
    border-width: 5px;
    margin: -50px 0 10px;
  }
  .socialblue--sky .card__info-user--about-address {
    font-size: .875rem;
    color: #b5b8b3;
    text-transform: uppercase;
  }
  .socialblue--sky .card__counter {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem 1rem;
  }
  .socialblue--sky .card__counter-quantity {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  .socialblue--sky .card__counter-text {
    font-size: 11px;
  }
}
