.comments {
  background: #f3f3f3;
  border-radius: 10px;
}

.comment__reply-btn {
  color: #33b5e5;
  fill: #33b5e5;
}

.comment__reply-btn:hover, .comment__reply-btn:focus {
  color: #1a8dbe;
  fill: #1a8dbe;
}

.photoswipe-gallery-custom .field--item .file-tile,
.photoswipe-gallery-custom .field--item img:not(.node-file__icon) {
  border-radius: 10px;
}

.photoswipe-gallery-custom .field--item .file-link a {
  font-weight: 500;
}
