.socialblue--sky .comments {
  background: #f3f3f3;
  border-radius: 2px;
}

.socialblue--sky .comment {
  margin-top: 2rem;
}

.socialblue--sky .comment .comment__reply-btn {
  padding-left: 0;
}

.socialblue--sky .comment .comment-attachments {
  position: relative;
}

.socialblue--sky .comment .comment-attachments .btn-link {
  margin-left: 0;
  padding: 0;
}

.page-node-type-discussion .socialblue--sky .comment .form-group-inline {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-node-type-discussion .socialblue--sky .comment .media-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 1rem;
}

.page-node-type-discussion .socialblue--sky .comment .form-actions .btn {
  margin-left: 0;
}

.page-node-type-discussion .socialblue--sky .comment .comment-attachments .btn-link {
  position: relative;
  top: -32px;
}

.page-node-type-discussion .socialblue--sky .comment .comment-attachments .btn-link + * {
  margin-top: -22px;
}

.socialblue--sky .comment .form-actions .btn {
  text-transform: uppercase;
}

.socialblue--sky .comment-form textarea.form-control {
  height: 35px;
}

.socialblue--sky .comment__text {
  margin-bottom: 1rem;
}

.socialblue--sky .comment__text p:last-of-type {
  margin-bottom: .75rem;
}

@media (min-width: 900px) {
  .socialblue--sky .comments {
    margin-left: 50px;
  }
}
