.comments {
  background: #f3f3f3;
  border-radius: 10px;
}

.comment__reply-btn {
  color: #33b5e5;
  fill: #33b5e5;
}

.comment__reply-btn:hover, .comment__reply-btn:focus {
  color: #1a8dbe;
  fill: #1a8dbe;
}

.photoswipe-gallery-custom .field--item .file-tile,
.photoswipe-gallery-custom .field--item img:not(.node-file__icon) {
  border-radius: 10px;
}

.photoswipe-gallery-custom .field--item .file-link a {
  font-weight: 500;
}

.socialblue--sky [id='section-comments'] .card__block {
  margin-top: -.625rem;
}

.socialblue--sky .comment__text {
  margin-bottom: 0;
}

.socialblue--sky .comment__text p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.socialblue--sky .comment {
  margin-top: 1.75rem;
}

.socialblue--sky .comment:first-child {
  margin-top: 0;
}

.socialblue--sky .comments {
  margin-top: 1rem;
}

.socialblue--sky .comments .comment__reply-btn,
.socialblue--sky .comments .vote-widget--like-and-dislike,
.socialblue--sky .comment .comment__reply-btn,
.socialblue--sky .comment .vote-widget--like-and-dislike {
  font-size: .875rem;
}

.socialblue--sky .comments .vote-like,
.socialblue--sky .comment .vote-like {
  margin-right: 5px;
}

.socialblue--sky .comment__reply-btn a {
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .socialblue--sky [id='section-comments'] .card__block {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .socialblue--sky .comment__reply-btn {
    margin-right: 1rem;
  }
}
