.ui-datepicker {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.ui-datepicker-calendar > tbody > tr > td .ui-state-active {
  color: white;
  background-color: #1f80aa;
}

.ui-datepicker-calendar > tbody > tr > td .ui-state-active:hover {
  color: white;
  background-color: #134f69;
}
