.socialblue--sky .dropdown.open .caret,
.socialblue--sky .enroll-action-form.open .caret,
.socialblue--sky .hero-footer__cta .open .caret,
.socialblue--sky .social-gtranslate-list--desktop.open > a:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.socialblue--sky .social-gtranslate-list--desktop.open > a:after {
  margin-top: -.4rem;
  right: auto;
}
