.dropdown-menu {
  border-radius: 3px;
}

.dropdown-menu > li > a {
  font-weight: 300;
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus,
.dropdown-menu > .disabled > span,
.dropdown-menu > .disabled > span:hover,
.dropdown-menu > .disabled > span:focus {
  color: #777;
}

@media (max-width: 599px) {
  .dropdown.has-alert > a:before {
    background-color: #ffc142;
  }
}
