.dropdown-menu {
  border-radius: 3px;
}

.dropdown-menu > li > a {
  font-weight: 300;
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus,
.dropdown-menu > .disabled > span,
.dropdown-menu > .disabled > span:hover,
.dropdown-menu > .disabled > span:focus {
  color: #777;
}

.socialblue--sky .dropdown.open .caret,
.socialblue--sky .enroll-action-form.open .caret,
.socialblue--sky .hero-footer__cta > .open .caret,
.socialblue--sky .social-gtranslate-list--desktop.open > a:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.socialblue--sky .social-gtranslate-list--desktop.open > a:after {
  margin-top: -.4rem;
  right: auto;
}

@media (max-width: 599px) {
  .dropdown.has-alert > a:before {
    background-color: #ffc142;
  }
}
