.node-file {
  border-radius: 5px;
}

.file > .tabledrag-changed {
  background: #fcf8e3;
  border-radius: 0;
  color: #8a6d3b;
}

.file > .tabledrag-changed, .file > .tabledrag-changed:last-child {
  border: 1px solid #f7e1b5;
}

.socialblue--sky .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: transparent;
}

.socialblue--sky .file .file-icon svg {
  width: 16px;
  height: 16px;
}

.socialblue--sky .file .file-icon .icon-vote {
  stroke: transparent;
}
