.node-file {
  border-radius: 5px;
}

.file > .tabledrag-changed {
  background: #fcf8e3;
  border-radius: 0;
  color: #8a6d3b;
}

.file > .tabledrag-changed, .file > .tabledrag-changed:last-child {
  border: 1px solid #f7e1b5;
}
