span.form-required {
  color: #d9534f;
}

html.js .input-group-addon .glyphicon.glyphicon-spin {
  color: #29abe2;
}

.form-actions .btn-group--primary .dropdown-toggle {
  border-color: #29abe2;
}

.has-error .form-control {
  border-color: #a94442;
}

.has-error .form-control:focus {
  -webkit-box-shadow: 0 2px 0 0 #a94442;
          box-shadow: 0 2px 0 0 #a94442;
  border-color: #a94442;
}

form table .field-label,
form table .paragraph-type-label {
  font-weight: 700;
}

.panel .panel-heading,
.panel > legend,
.panel > .card__title,
fieldset .panel-heading,
fieldset > legend,
fieldset > .card__title {
  font-weight: 700;
}

fieldset > legend,
fieldset > .card__title {
  margin-bottom: 8px;
}

fieldset strong {
  font-weight: 700;
}

.panel .panel-heading {
  margin-bottom: 8px;
}

.form-item--error-message.alert-danger {
  border-radius: 5px;
}

.form-item--error-message.alert-danger:before {
  color: #f2dede;
}

.control-label {
  font-weight: 700;
}

.form-wrapper__label {
  font-weight: 500;
}

.form-wrapper {
  border-radius: 9px;
}

.card__block .form-item-data-policy label a {
  color: #33b5e5;
}

.field--name-field-social-collaboration-editors,
.field--name-field-event-managers,
.field--name-field-social-idea-coauthors,
.field--name-field-discussion-moderator,
.field--name-field-course-related-courses {
  max-width: 445px;
}

.field--name-field-social-collaboration-editors .help-block,
.field--name-field-event-managers .help-block,
.field--name-field-social-idea-coauthors .help-block,
.field--name-field-discussion-moderator .help-block,
.field--name-field-course-related-courses .help-block {
  display: none;
}

.field--name-field-social-collaboration-editors table,
.field--name-field-event-managers table,
.field--name-field-social-idea-coauthors table,
.field--name-field-discussion-moderator table,
.field--name-field-course-related-courses table {
  margin-bottom: 0;
}

.field--name-field-social-collaboration-editors table tbody tr,
.field--name-field-event-managers table tbody tr,
.field--name-field-social-idea-coauthors table tbody tr,
.field--name-field-discussion-moderator table tbody tr,
.field--name-field-course-related-courses table tbody tr {
  background: #f3f3f3;
}

.field--name-field-social-collaboration-editors table tbody tr:hover,
.field--name-field-event-managers table tbody tr:hover,
.field--name-field-social-idea-coauthors table tbody tr:hover,
.field--name-field-discussion-moderator table tbody tr:hover,
.field--name-field-course-related-courses table tbody tr:hover {
  background: #f3f3f3;
}

.field--name-field-social-collaboration-editors table tbody td,
.field--name-field-event-managers table tbody td,
.field--name-field-social-idea-coauthors table tbody td,
.field--name-field-discussion-moderator table tbody td,
.field--name-field-course-related-courses table tbody td {
  padding-top: 1.75rem;
  padding-bottom: 0;
}

.field--name-field-social-collaboration-editors table tbody td .form-group,
.field--name-field-event-managers table tbody td .form-group,
.field--name-field-social-idea-coauthors table tbody td .form-group,
.field--name-field-discussion-moderator table tbody td .form-group,
.field--name-field-course-related-courses table tbody td .form-group {
  margin-bottom: 0;
}

.field--name-field-social-collaboration-editors table tbody td > .form-group,
.field--name-field-event-managers table tbody td > .form-group,
.field--name-field-social-idea-coauthors table tbody td > .form-group,
.field--name-field-discussion-moderator table tbody td > .form-group,
.field--name-field-course-related-courses table tbody td > .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -.25rem;
}

.field--name-field-social-collaboration-editors table tbody td > .form-group > *,
.field--name-field-event-managers table tbody td > .form-group > *,
.field--name-field-social-idea-coauthors table tbody td > .form-group > *,
.field--name-field-discussion-moderator table tbody td > .form-group > *,
.field--name-field-course-related-courses table tbody td > .form-group > * {
  padding-left: .25rem;
  padding-right: .25rem;
}

.field--name-field-social-collaboration-editors table tbody td > .form-group label,
.field--name-field-event-managers table tbody td > .form-group label,
.field--name-field-social-idea-coauthors table tbody td > .form-group label,
.field--name-field-discussion-moderator table tbody td > .form-group label,
.field--name-field-course-related-courses table tbody td > .form-group label {
  display: none;
}

.field--name-field-social-collaboration-editors table tbody td .form-type-select,
.field--name-field-event-managers table tbody td .form-type-select,
.field--name-field-social-idea-coauthors table tbody td .form-type-select,
.field--name-field-discussion-moderator table tbody td .form-type-select,
.field--name-field-course-related-courses table tbody td .form-type-select {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 104px;
          flex: 0 0 104px;
  max-width: 104px;
}

.field--name-field-social-collaboration-editors table tbody td .input-group,
.field--name-field-event-managers table tbody td .input-group,
.field--name-field-social-idea-coauthors table tbody td .input-group,
.field--name-field-discussion-moderator table tbody td .input-group,
.field--name-field-course-related-courses table tbody td .input-group {
  max-width: 240px;
}

.field--name-field-social-collaboration-editors .clearfix,
.field--name-field-event-managers .clearfix,
.field--name-field-social-idea-coauthors .clearfix,
.field--name-field-discussion-moderator .clearfix,
.field--name-field-course-related-courses .clearfix {
  padding: .625rem 1rem;
  background: #f3f3f3;
}

.field--name-field-social-collaboration-editors .clearfix .btn,
.field--name-field-event-managers .clearfix .btn,
.field--name-field-social-idea-coauthors .clearfix .btn,
.field--name-field-discussion-moderator .clearfix .btn,
.field--name-field-course-related-courses .clearfix .btn {
  font-weight: bold;
}

.field--name-field-event-managers table tbody tr td .input-group,
.field--name-field-social-idea-coauthors table tbody tr td .input-group,
.field--name-field-discussion-moderator table tbody tr td .input-group,
.field--name-field-course-related-courses table tbody tr td .input-group {
  max-width: 100%;
}

#edit-author-info,
#edit-tab-settings,
#edit-menu,
#edit-content-translation,
.field--name-field-event-date,
.field--name-field-event-date-end,
.field--type-address,
.enrollment-methods,
.field--name-field-discussion-date {
  max-width: 500px;
  margin-bottom: 1.5rem;
}

#edit-author-info fieldset.card,
#edit-tab-settings fieldset.card,
#edit-menu fieldset.card,
#edit-content-translation fieldset.card,
.field--name-field-event-date fieldset.card,
.field--name-field-event-date-end fieldset.card,
.field--type-address fieldset.card,
.enrollment-methods fieldset.card,
.field--name-field-discussion-date fieldset.card {
  margin-top: -1.5rem;
}

#edit-author-info fieldset.card legend.card__title,
#edit-tab-settings fieldset.card legend.card__title,
#edit-menu fieldset.card legend.card__title,
#edit-content-translation fieldset.card legend.card__title,
.field--name-field-event-date fieldset.card legend.card__title,
.field--name-field-event-date-end fieldset.card legend.card__title,
.field--type-address fieldset.card legend.card__title,
.enrollment-methods fieldset.card legend.card__title,
.field--name-field-discussion-date fieldset.card legend.card__title {
  padding: 0 0 .5rem;
  font-size: .875rem;
  line-height: 21px;
}

#edit-author-info .card,
#edit-author-info .card__block,
#edit-tab-settings .card,
#edit-tab-settings .card__block,
#edit-menu .card,
#edit-menu .card__block,
#edit-content-translation .card,
#edit-content-translation .card__block,
.field--name-field-event-date .card,
.field--name-field-event-date .card__block,
.field--name-field-event-date-end .card,
.field--name-field-event-date-end .card__block,
.field--type-address .card,
.field--type-address .card__block,
.enrollment-methods .card,
.enrollment-methods .card__block,
.field--name-field-discussion-date .card,
.field--name-field-discussion-date .card__block {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0 !important;
  background: transparent;
}

#edit-author-info .panel-body,
#edit-author-info .card__block,
#edit-author-info fieldset:not(.card),
#edit-tab-settings .panel-body,
#edit-tab-settings .card__block,
#edit-tab-settings fieldset:not(.card),
#edit-menu .panel-body,
#edit-menu .card__block,
#edit-menu fieldset:not(.card),
#edit-content-translation .panel-body,
#edit-content-translation .card__block,
#edit-content-translation fieldset:not(.card),
.field--name-field-event-date .panel-body,
.field--name-field-event-date .card__block,
.field--name-field-event-date fieldset:not(.card),
.field--name-field-event-date-end .panel-body,
.field--name-field-event-date-end .card__block,
.field--name-field-event-date-end fieldset:not(.card),
.field--type-address .panel-body,
.field--type-address .card__block,
.field--type-address fieldset:not(.card),
.enrollment-methods .panel-body,
.enrollment-methods .card__block,
.enrollment-methods fieldset:not(.card),
.field--name-field-discussion-date .panel-body,
.field--name-field-discussion-date .card__block,
.field--name-field-discussion-date fieldset:not(.card) {
  background: #f3f3f3;
  padding: 1.25rem 1.25rem .25rem;
}

#edit-author-info fieldset:not(.card),
#edit-tab-settings fieldset:not(.card),
#edit-menu fieldset:not(.card),
#edit-content-translation fieldset:not(.card),
.field--name-field-event-date fieldset:not(.card),
.field--name-field-event-date-end fieldset:not(.card),
.field--type-address fieldset:not(.card),
.enrollment-methods fieldset:not(.card),
.field--name-field-discussion-date fieldset:not(.card) {
  margin-top: -24px;
}

#edit-author-info legend:not(.card__title),
#edit-tab-settings legend:not(.card__title),
#edit-menu legend:not(.card__title),
#edit-content-translation legend:not(.card__title),
.field--name-field-event-date legend:not(.card__title),
.field--name-field-event-date-end legend:not(.card__title),
.field--type-address legend:not(.card__title),
.enrollment-methods legend:not(.card__title),
.field--name-field-discussion-date legend:not(.card__title) {
  position: relative;
  top: 22px;
  margin: 0;
  padding-top: 1.25rem;
  padding-bottom: .5rem;
  font-weight: 400;
}

#edit-author-info label,
#edit-tab-settings label,
#edit-menu label,
#edit-content-translation label,
.field--name-field-event-date label,
.field--name-field-event-date-end label,
.field--type-address label,
.enrollment-methods label,
.field--name-field-discussion-date label {
  font-weight: 400;
  margin-bottom: .5rem;
}

#edit-author-info .field--name-uid,
#edit-tab-settings .field--name-uid,
#edit-menu .field--name-uid,
#edit-content-translation .field--name-uid,
.field--name-field-event-date .field--name-uid,
.field--name-field-event-date-end .field--name-uid,
.field--type-address .field--name-uid,
.enrollment-methods .field--name-uid,
.field--name-field-discussion-date .field--name-uid {
  max-width: 260px;
}

#edit-author-info .form-inline,
#edit-tab-settings .form-inline,
#edit-menu .form-inline,
#edit-content-translation .form-inline,
.field--name-field-event-date .form-inline,
.field--name-field-event-date-end .form-inline,
.field--type-address .form-inline,
.enrollment-methods .form-inline,
.field--name-field-discussion-date .form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#edit-author-info .form-inline label,
#edit-tab-settings .form-inline label,
#edit-menu .form-inline label,
#edit-content-translation .form-inline label,
.field--name-field-event-date .form-inline label,
.field--name-field-event-date-end .form-inline label,
.field--type-address .form-inline label,
.enrollment-methods .form-inline label,
.field--name-field-discussion-date .form-inline label {
  margin-bottom: .5rem;
}

#edit-author-info .form-inline > *,
#edit-tab-settings .form-inline > *,
#edit-menu .form-inline > *,
#edit-content-translation .form-inline > *,
.field--name-field-event-date .form-inline > *,
.field--name-field-event-date-end .form-inline > *,
.field--type-address .form-inline > *,
.enrollment-methods .form-inline > *,
.field--name-field-discussion-date .form-inline > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 .5rem;
}

#edit-author-info .form-inline > *:nth-child(1),
#edit-tab-settings .form-inline > *:nth-child(1),
#edit-menu .form-inline > *:nth-child(1),
#edit-content-translation .form-inline > *:nth-child(1),
.field--name-field-event-date .form-inline > *:nth-child(1),
.field--name-field-event-date-end .form-inline > *:nth-child(1),
.field--type-address .form-inline > *:nth-child(1),
.enrollment-methods .form-inline > *:nth-child(1),
.field--name-field-discussion-date .form-inline > *:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  max-width: 240px;
}

#edit-author-info .form-inline input[type='text'].form-date,
#edit-tab-settings .form-inline input[type='text'].form-date,
#edit-menu .form-inline input[type='text'].form-date,
#edit-content-translation .form-inline input[type='text'].form-date,
.field--name-field-event-date .form-inline input[type='text'].form-date,
.field--name-field-event-date-end .form-inline input[type='text'].form-date,
.field--type-address .form-inline input[type='text'].form-date,
.enrollment-methods .form-inline input[type='text'].form-date,
.field--name-field-discussion-date .form-inline input[type='text'].form-date {
  min-width: auto;
}

#edit-author-info [id*='address-ajax-wrapper'],
#edit-tab-settings [id*='address-ajax-wrapper'],
#edit-menu [id*='address-ajax-wrapper'],
#edit-content-translation [id*='address-ajax-wrapper'],
.field--name-field-event-date [id*='address-ajax-wrapper'],
.field--name-field-event-date-end [id*='address-ajax-wrapper'],
.field--type-address [id*='address-ajax-wrapper'],
.enrollment-methods [id*='address-ajax-wrapper'],
.field--name-field-discussion-date [id*='address-ajax-wrapper'] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 375px;
          flex: 0 0 375px;
  max-width: 375px;
}

.field--type-address fieldset.card {
  margin-top: 0;
}

.field--name-field-enroll-method {
  width: auto;
  max-width: none;
}

#edit-menu .panel-body {
  padding: 0;
  background: transparent;
}

#edit-menu .panel-body .form-wrapper {
  background: #f3f3f3;
  padding: 1.25rem 1.25rem .25rem;
}

#edit-menu .panel-body > .form-type-checkbox {
  margin-bottom: 0;
}

.field--name-field-discussion-date .card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -.5rem;
}

.field--name-field-discussion-date .card__block > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 .5rem;
}

.field--name-field-discussion-date .card__block > * .form-inline > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
}

.field--name-field-discussion-date .card__block input[type='text'].form-date {
  min-width: auto;
}

.enrollment-methods .panel-body fieldset,
.enrollment-methods .panel-body .panel-body {
  padding: 0;
}

.enrollment-methods .panel-body legend {
  top: 0;
}

.enrollment-methods .panel-body .panel-heading header {
  font-weight: 400;
}

@media (max-width: 599px) {
  .field--name-field-social-collaboration-editors table tbody td .form-type-select,
  .field--name-field-event-managers table tbody td .form-type-select,
  .field--name-field-social-idea-coauthors table tbody td .form-type-select,
  .field--name-field-discussion-moderator table tbody td .form-type-select,
  .field--name-field-course-related-courses table tbody td .form-type-select {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .field--name-field-social-collaboration-editors table tbody td .form-type-select + .form-item,
  .field--name-field-event-managers table tbody td .form-type-select + .form-item,
  .field--name-field-social-idea-coauthors table tbody td .form-type-select + .form-item,
  .field--name-field-discussion-moderator table tbody td .form-type-select + .form-item,
  .field--name-field-course-related-courses table tbody td .form-type-select + .form-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .field--name-field-social-collaboration-editors table tbody td .input-group,
  .field--name-field-event-managers table tbody td .input-group,
  .field--name-field-social-idea-coauthors table tbody td .input-group,
  .field--name-field-discussion-moderator table tbody td .input-group,
  .field--name-field-course-related-courses table tbody td .input-group {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  #edit-author-info .form-inline,
  #edit-tab-settings .form-inline,
  #edit-menu .form-inline,
  #edit-content-translation .form-inline,
  .field--name-field-event-date .form-inline,
  .field--name-field-event-date-end .form-inline,
  .field--type-address .form-inline,
  .enrollment-methods .form-inline,
  .field--name-field-discussion-date .form-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #edit-author-info .form-inline > *,
  #edit-tab-settings .form-inline > *,
  #edit-menu .form-inline > *,
  #edit-content-translation .form-inline > *,
  .field--name-field-event-date .form-inline > *,
  .field--name-field-event-date-end .form-inline > *,
  .field--type-address .form-inline > *,
  .enrollment-methods .form-inline > *,
  .field--name-field-discussion-date .form-inline > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 276px;
  }
  #edit-author-info .form-inline > *:nth-child(1),
  #edit-tab-settings .form-inline > *:nth-child(1),
  #edit-menu .form-inline > *:nth-child(1),
  #edit-content-translation .form-inline > *:nth-child(1),
  .field--name-field-event-date .form-inline > *:nth-child(1),
  .field--name-field-event-date-end .form-inline > *:nth-child(1),
  .field--type-address .form-inline > *:nth-child(1),
  .enrollment-methods .form-inline > *:nth-child(1),
  .field--name-field-discussion-date .form-inline > *:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 276px;
  }
  .field--name-field-discussion-date .card__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .field--name-field-discussion-date .card__block > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .field--name-field-discussion-date .card__block > * .form-inline {
    margin-bottom: 0;
  }
}
