span.form-required {
  color: #d9534f;
}

html.js .input-group-addon .glyphicon.glyphicon-spin {
  color: #29abe2;
}

.form-actions .btn-group--primary .dropdown-toggle {
  border-color: #29abe2;
}

.has-error .form-control {
  border-color: #a94442;
}

.has-error .form-control:focus {
  box-shadow: 0 2px 0 0 #a94442;
  border-color: #a94442;
}

.form-item--error-message.alert-danger {
  border-radius: 5px;
}

.form-item--error-message.alert-danger:before {
  color: #f2dede;
}

.control-label {
  font-weight: 300;
}

.form-wrapper__label {
  font-weight: 500;
}

.form-wrapper {
  border-radius: 9px;
}

.card__block .form-item-data-policy label a {
  color: #33b5e5;
}
