.cover {
  color: white;
  background-color: #29abe2;
}

.cover .page-title {
  position: relative;
  color: white;
  z-index: 1;
}

.cover .hero-avatar {
  border-radius: 50%;
  border: 2px solid white;
}

.cover .hero-canvas {
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
}

.cover .hero-form[role='search'] .form-control {
  border-radius: 5px;
}

.cover .hero-form[role='search'] .form-control:focus, .cover .hero-form[role='search'] .form-control:active,
.cover .hero-form[role='search'] .form-control:focus ~ .search-icon,
.cover .hero-form[role='search'] .form-control:active ~ .search-icon {
  -webkit-box-shadow: 0 2px 0 0 #1f80aa;
          box-shadow: 0 2px 0 0 #1f80aa;
}

.cover .hero-form[role='search'] .form-submit,
.cover .hero-form[role='search'] .search-icon {
  border-radius: 0 5px 5px 0;
}

.cover .hero-form[role='search'] .search-icon {
  fill: #29abe2;
  background: white;
}

@media (min-width: 600px) {
  .cover .hero-avatar {
    border-width: 3px;
  }
}
