.socialblue--sky .cover--landing {
  position: relative;
  margin-bottom: 9px;
}

.socialblue--sky .cover--landing:after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  width: 100%;
  left: 0;
  height: 9px;
}

.socialblue--sky .hero-footer {
  padding-bottom: 4em;
}

.socialblue--sky .hero-footer,
.socialblue--sky .hero-footer__header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socialblue--sky .hero__banner .hero-footer__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialblue--sky .hero__banner .hero-footer__share > span {
  padding-right: 1.25rem;
  font-size: .875rem;
  font-weight: 600;
}

.socialblue--sky .hero__banner .shariff.card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal {
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  margin: 0 -.5rem;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal li {
  margin: 0 .5rem;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal li,
.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal li > a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal .fab {
  font-size: 1rem;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal .fa-facebook-f {
  font-size: 1.25rem;
}

.socialblue--sky .hero__banner .hero-footer__list ul,
.socialblue--sky .hero__banner .hero__info-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.socialblue--sky .hero__banner .hero-footer__list ul li,
.socialblue--sky .hero__banner .hero-footer__list ul li a,
.socialblue--sky .hero__banner .hero__info-list li,
.socialblue--sky .hero__banner .hero__info-list li a {
  font-weight: 400;
}

.socialblue--sky .hero__banner .hero-footer__list ul li,
.socialblue--sky .hero__banner .hero__info-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialblue--sky .hero__banner .hero-footer__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -23px;
}

.socialblue--sky .hero__banner .hero-footer__list li {
  padding: 0 23px;
  margin-bottom: 15px;
}

.socialblue--sky .hero__banner .hero-footer__list li,
.socialblue--sky .hero__banner .hero-footer__list li a {
  font-weight: 700;
}

.socialblue--sky .hero__banner .hero-footer__list svg {
  width: 20px;
  height: 20px;
  margin-right: .5rem;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage .badge--large {
  padding-left: 0;
  font-size: 1rem;
  font-weight: 700;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage > * {
  margin-right: 0;
  padding-right: 1rem;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-follow {
  margin-left: 0;
  margin-bottom: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.socialblue--sky .hero__banner .hero-footer__list .vote__count {
  font-size: 1rem;
}

.socialblue--sky .hero__banner .badge {
  color: #4a4a4a;
}

.socialblue--sky .hero__banner-static {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #fff;
  padding: 60px 1em 0;
}

.socialblue--sky .hero__banner-static .teaser__title {
  margin: 0 0 1rem;
}

.socialblue--sky .hero__banner-static .teaser__title a {
  color: #4a4a4a;
  font-weight: 700;
  line-height: 44px;
}

.socialblue--sky .hero__banner-static .badge {
  vertical-align: middle;
}

.socialblue--sky .hero__banner-static .vote-like {
  margin-right: 0;
}

.socialblue--sky .hero__banner-static .metainfo {
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialblue--sky .hero__banner-static .metainfo__content {
  line-height: 2;
}

.socialblue--sky .hero__banner-static .metainfo__content a {
  text-decoration: none;
}

.socialblue--sky .hero__banner-static .metainfo__content a:hover {
  text-decoration: underline;
}

.socialblue--sky .hero__banner-static .metainfo__content .badge--large {
  line-height: 1.2;
  margin-bottom: 0;
  padding-left: 0;
}

.socialblue--sky .hero__banner-static .page-title {
  width: auto;
  max-width: inherit;
  text-shadow: none;
  text-align: left;
  color: inherit;
  margin: 0;
  padding: 0 0 35px;
}

.socialblue--sky .hero__banner-static .cover-wrap {
  min-height: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

.socialblue--sky .hero__banner-static .hero__tag {
  margin-bottom: .75rem;
}

.socialblue--sky .hero__banner-static .hero__tag a,
.socialblue--sky .hero__banner-static .hero__tag span {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.socialblue--sky .hero__banner-static .hero-footer {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialblue--sky .hero__banner-static .hero-footer > * {
  margin-bottom: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.socialblue--sky .hero__banner-static .hero-footer > *:last-child {
  margin-bottom: 0;
}

.socialblue--sky .hero__banner-static .hero__info-list {
  margin-bottom: -15px;
}

.socialblue--sky .hero__banner-static .hero__info-list--icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.socialblue--sky .hero__banner-static .hero__info-list li {
  margin-bottom: 15px;
}

.socialblue--sky .hero__banner-static .hero-footer__cta {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-top: 1rem;
}

.socialblue--sky .hero__banner-static .hero-footer__cta .btn {
  border-width: 2px;
  font-size: .875rem;
  text-transform: uppercase;
}

.socialblue--sky .hero__banner-static .hero-footer__cta .dropdown-menu {
  min-width: auto;
  width: 100%;
  border-radius: 5px;
}

.socialblue--sky .hero__banner-static .hero-footer__cta .dropdown-menu a {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-image {
  margin-bottom: 3.5rem;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .metainfo {
  margin-bottom: 26px;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-footer {
  padding-top: 0;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2.5rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #d5d6d2;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-footer__text {
  margin-top: 0;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .article__special-fields {
  padding: 0;
  border: 0;
  letter-spacing: .4px;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .article__special-fields .article__special-field {
  margin-bottom: 10px;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .article__special-fields .article__special-field:last-child {
  margin-bottom: 0;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-footer__cta .btn {
  min-width: 195px;
  color: inherit;
}

.socialblue--sky main:not(.is-navbar-secondary) .hero__banner-static .hero-footer {
  padding-bottom: 1.25rem;
}

.socialblue--sky main:not(.is-navbar-secondary) .hero__full .hero-footer__bottom {
  padding-bottom: 20px;
}

.socialblue--sky.path-user .cover-wrap, .socialblue--sky.path-group .cover-wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.socialblue--sky.path-group .cover-wrap {
  padding: 0 2.25rem;
}

.socialblue--sky.path-group .cover-wrap .page-title {
  width: 100%;
  max-width: 100%;
  text-align: left;
}

.socialblue--sky.path-group .cover-wrap h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  text-shadow: none;
  margin: 0;
}

.socialblue--sky.path-group .cover-wrap .teaser__tag {
  display: inline-block;
  width: auto;
  padding: 4px 11px;
  margin-bottom: .875rem;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;
  text-shadow: none;
}

.socialblue--sky.path-group .cover-wrap .teaser__tag:hover {
  color: #fff;
}

.socialblue--sky.path-group .cover-wrap .hero-footer {
  padding-top: 0;
}

.socialblue--sky.path-group .cover-wrap .hero-footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
}

@media (min-width: 600px) {
  .socialblue--sky .cover-wrap {
    min-height: 320px;
  }
  .socialblue--sky .cover-wrap > .hero-footer {
    position: static;
  }
  .socialblue--sky .hero__banner-static {
    padding-bottom: 25px;
  }
  .socialblue--sky .hero__banner-static .hero__tag a,
  .socialblue--sky .hero__banner-static .hero__tag span {
    font-size: 1.25rem;
  }
  .socialblue--sky .hero__banner-static .hero-footer {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    padding-bottom: 2.5rem;
  }
  main:not(.is-navbar-secondary) .socialblue--sky .hero__banner-static .hero-footer {
    padding-bottom: 20px;
  }
  .socialblue--sky .hero__banner-static .hero-footer__text {
    margin-left: 0;
    margin-right: 25%;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static {
    padding-top: 75px;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-footer__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .article__special-fields .article__special-fields-icon {
    width: 20px;
    height: 20px;
  }
  .socialblue--sky main:not(.is-navbar-secondary) .hero__banner-static {
    padding-bottom: 0;
  }
}

@media (min-width: 900px) {
  .socialblue--sky .cover--landing {
    margin-bottom: 18px;
  }
  .socialblue--sky .cover--landing:after {
    height: 18px;
  }
  .socialblue--sky .hero__banner .hero-footer__list svg {
    width: 26px;
    margin-right: 10px;
  }
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage > * {
    padding-right: 45px;
  }
  .socialblue--sky .hero__banner-static .teaser__title {
    font-size: 2.25rem;
  }
  .socialblue--sky .hero__banner-static .hero-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .socialblue--sky .hero__banner-static .hero-footer > * {
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: inherit;
  }
  .socialblue--sky .hero__banner-static .hero-footer__list a {
    font-size: 1rem;
  }
  .socialblue--sky .hero__banner-static .hero-footer__cta {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
    padding-top: 0;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-footer__header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .socialblue--sky main:not(.is-navbar-secondary) .hero__full .hero-footer__bottom {
    padding-bottom: 20px;
  }
  .socialblue--sky.path-group .cover-wrap h1 {
    font-size: 2.25rem;
    line-height: 1.4;
  }
}

@media (max-width: 599px) {
  .socialblue--sky .hero__banner .hero-footer .vote-widget {
    width: auto;
  }
  .socialblue--sky .hero__banner-static {
    padding-top: 30px;
  }
  .socialblue--sky .hero__banner-static .hero-footer__cta .btn-group,
  .socialblue--sky .hero__banner-static .hero-footer__cta .btn {
    width: 100%;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner-static .hero-image {
    margin-bottom: 1.75rem;
  }
}

@media (max-width: 899px) {
  .socialblue--sky.path-user .cover-wrap {
    min-height: 160px;
  }
  .socialblue--sky.path-group .cover-wrap .teaser__tag {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 11px;
  }
}
