.socialblue--sky .cover--landing {
  position: relative;
  margin-bottom: 9px;
}

.socialblue--sky .cover--landing:after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  width: 100%;
  left: 0;
  height: 9px;
}

@media (min-width: 900px) {
  .socialblue--sky .cover--landing {
    margin-bottom: 18px;
  }
  .socialblue--sky .cover--landing:after {
    height: 18px;
  }
}
