.socialblue--sky .hero-footer {
  padding-bottom: 4em;
}

.socialblue--sky .hero-footer,
.socialblue--sky .hero-footer__header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socialblue--sky .hero__banner .hero-footer__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialblue--sky .hero__banner .hero-footer__share > span {
  padding-right: 1.25rem;
  font-size: .875rem;
  font-weight: 600;
}

.socialblue--sky .hero__banner .shariff.card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal {
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  margin: 0 -.5rem;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal li {
  margin: 0 .5rem;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal li,
.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal li > a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal .fab {
  font-size: 1rem;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal .fa-facebook-f {
  font-size: 1.25rem;
}

.socialblue--sky .hero__banner .hero-footer__list ul:not(.dropdown-menu),
.socialblue--sky .hero__banner .hero__info-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.socialblue--sky .hero__banner .hero-footer__list ul:not(.dropdown-menu) li,
.socialblue--sky .hero__banner .hero-footer__list ul:not(.dropdown-menu) li a,
.socialblue--sky .hero__banner .hero__info-list li,
.socialblue--sky .hero__banner .hero__info-list li a {
  font-weight: 400;
}

.socialblue--sky .hero__banner .hero-footer__list ul:not(.dropdown-menu) li,
.socialblue--sky .hero__banner .hero__info-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialblue--sky .hero__banner .hero-footer__list ul:not(.dropdown-menu) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -23px;
}

.socialblue--sky .hero__banner .hero-footer__list ul:not(.dropdown-menu) li {
  padding: 0 23px;
  margin-bottom: 15px;
}

.socialblue--sky .hero__banner .hero-footer__list ul:not(.dropdown-menu) li,
.socialblue--sky .hero__banner .hero-footer__list ul:not(.dropdown-menu) li a {
  font-weight: 700;
}

.socialblue--sky .hero__banner .hero-footer__list .dropdown-menu {
  min-width: 100%;
}

.socialblue--sky .hero__banner .hero-footer__list .dropdown-menu a {
  font-size: .875rem;
}

.socialblue--sky .hero__banner .hero-footer__list .hero_btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
  padding-left: 10px;
}

.socialblue--sky .hero__banner .hero-footer__list .hero_btn-group > * {
  padding: 0 10px;
}

.socialblue--sky .hero__banner .hero-footer__list .hero_btn-group .btn {
  padding: 4px 15px;
  font-size: .875rem;
  font-weight: 600;
  border-radius: 5px !important;
  margin-bottom: 0;
}

.socialblue--sky .hero__banner .hero-footer__list .hero_btn-group .add-to-calendar .caret {
  margin-left: 10px;
}

.socialblue--sky .hero__banner .hero-footer__list .hero_btn-group .meta-addtocal {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.socialblue--sky .hero__banner .hero-footer__list .hero_btn-group .meta-addtocal .btn {
  margin: 0;
}

.socialblue--sky .hero__banner .hero-footer__list svg {
  width: 20px;
  height: 20px;
  margin-right: .5rem;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage .badge--large {
  padding-left: 0;
  font-size: 1rem;
  font-weight: 700;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage .hero-footer__list-left > *,
.socialblue--sky .hero__banner .hero-footer__list .meta-engage > * {
  margin-right: 0;
  padding-right: 1rem;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage .hero-footer__list-left > *:last-child,
.socialblue--sky .hero__banner .hero-footer__list .meta-engage > *:last-child {
  padding-right: 0;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage .hero-footer__list-left {
  position: relative;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage .hero-footer__list-left > * {
  margin-bottom: 0;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-follow {
  margin-left: 0;
  margin-bottom: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-ordinal-group: initial;
      -ms-flex-order: initial;
          order: initial;
}

.socialblue--sky .hero__banner .hero-footer__list .metainfo__vote .card__link {
  margin: 0;
}

.socialblue--sky .hero__banner .hero-footer__list .metainfo__vote .card__link .btn {
  border-color: #adadad;
}

.socialblue--sky .hero__banner .hero-footer__list .metainfo__vote .card__link .btn.voted {
  border-color: #f3f3f3;
  background: #f3f3f3;
}

.socialblue--sky .hero__banner .hero-footer__list .metainfo__vote .card__link .vote__label {
  text-transform: initial;
}

.socialblue--sky .hero__banner .hero-footer__list .vote__count {
  font-size: 1rem;
}

.socialblue--sky .hero__banner .badge {
  color: #4a4a4a;
}

.socialblue--sky .hero__banner--static {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 60px 1em 0;
}

.socialblue--sky .hero__banner--static .hero-header {
  margin-bottom: .25rem;
}

.socialblue--sky .hero__banner--static .hero-header > * {
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.socialblue--sky .hero__banner--static .teaser__title {
  margin: 0 0 1rem;
  max-height: none;
}

.socialblue--sky .hero__banner--static .teaser__title a {
  color: #4a4a4a;
  font-weight: 700;
  line-height: 44px;
}

.socialblue--sky .hero__banner--static .badge {
  vertical-align: middle;
}

.socialblue--sky .hero__banner--static .vote-like {
  margin-right: 0;
}

.socialblue--sky .hero__banner--static .metainfo {
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialblue--sky .hero__banner--static .metainfo__content {
  line-height: 2;
}

.socialblue--sky .hero__banner--static .metainfo__content a {
  text-decoration: none;
}

.socialblue--sky .hero__banner--static .metainfo__content a:hover {
  text-decoration: underline;
}

.socialblue--sky .hero__banner--static .metainfo__content .badge--large {
  line-height: 1.2;
  margin-bottom: 0;
  padding-left: 0;
}

.socialblue--sky .hero__banner--static .page-title {
  width: auto;
  max-width: inherit;
  text-shadow: none;
  text-align: left;
  color: inherit;
  margin: 0;
  padding: 0 0 35px;
}

.socialblue--sky .hero__banner--static .cover-wrap {
  min-height: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

.socialblue--sky .hero__banner--static .teaser__tag {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.socialblue--sky .hero__banner--static .teaser__tag > * {
  font-weight: 700;
}

.socialblue--sky .hero__banner--static .hero-footer {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialblue--sky .hero__banner--static .hero-footer > * {
  margin-bottom: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.socialblue--sky .hero__banner--static .hero-footer > *:last-child {
  margin-bottom: 0;
}

.socialblue--sky .hero__banner--static.no-image .hero-footer {
  border-top: 1px solid #d5d6d2;
}

.socialblue--sky .hero__banner--static .hero__info-list {
  margin-bottom: -15px;
}

.socialblue--sky .hero__banner--static .hero__info-list--icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.socialblue--sky .hero__banner--static .hero__info-list li {
  margin-bottom: 15px;
}

.socialblue--sky .hero__banner--static .hero-footer__cta {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-top: 1rem;
}

.socialblue--sky .hero__banner--static .hero-footer__cta .btn {
  border-width: 2px;
  font-size: .875rem;
  text-transform: uppercase;
}

.socialblue--sky .hero__banner--static .hero-footer__cta .dropdown-menu {
  min-width: auto;
  width: 100%;
  border-radius: 5px;
}

.socialblue--sky .hero__banner--static .hero-footer__cta .dropdown-menu a {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-image {
  margin-bottom: 3.5rem;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .metainfo {
  margin-bottom: 26px;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-footer {
  padding-top: 0;
  border: 0;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2.5rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #d5d6d2;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-footer__text {
  margin-top: 0;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .article__special-fields {
  padding: 0;
  border: 0;
  letter-spacing: .4px;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .article__special-fields .article__special-field {
  margin-bottom: 10px;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .article__special-fields .article__special-field:last-child {
  margin-bottom: 0;
}

.socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-footer__cta .btn {
  min-width: 195px;
  color: inherit;
}

.socialblue--sky main:not(.is-navbar-secondary) .hero__banner--static .hero-footer {
  padding-bottom: 1.25rem;
}

.socialblue--sky main:not(.is-navbar-secondary) .hero__full .hero-footer__bottom {
  padding-bottom: 20px;
}

.socialblue--sky.path-user .cover-wrap, .socialblue--sky.path-group .cover-wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.socialblue--sky.path-group .cover-wrap {
  padding: 0 2.25rem;
}

.socialblue--sky.path-group .cover-wrap .page-title {
  width: 100%;
  max-width: 100%;
  text-align: left;
}

.socialblue--sky.path-group .cover-wrap .page-title .badge {
  font-size: 12px;
  font-weight: 700;
  padding-left: 1em;
  padding-right: 1em;
}

.socialblue--sky.path-group .cover-wrap .page-title .group-hero--wrapper {
  margin-top: 8px;
}

.socialblue--sky.path-group .cover-wrap h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  text-shadow: none;
  margin: 0;
}

.socialblue--sky.path-group .cover-wrap .teaser__tag {
  display: inline-block;
  width: auto;
  padding: 1px 1em;
  margin-bottom: 0;
  font-size: .75rem;
  color: #fff;
  border-radius: 2px;
  text-shadow: none;
  text-transform: inherit;
}

.socialblue--sky.path-group .cover-wrap .teaser__tag:hover {
  color: #fff;
}

.socialblue--sky.path-group .cover-wrap .hero-footer {
  padding-top: 0;
}

.socialblue--sky.path-group .cover-wrap .hero-footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
}

@media (min-width: 600px) {
  .socialblue--sky .cover-wrap > .hero-footer {
    position: static;
  }
  .socialblue--sky .hero__banner--static {
    padding-bottom: 25px;
  }
  .socialblue--sky .hero__banner--static .teaser__tag {
    font-size: 1.25rem;
  }
  .socialblue--sky .hero__banner--static .hero-footer {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    padding-bottom: 2.5rem;
  }
  main:not(.is-navbar-secondary) .socialblue--sky .hero__banner--static .hero-footer {
    padding-bottom: 20px;
  }
  .socialblue--sky .hero__banner--static .hero-footer__text {
    margin-left: 0;
    margin-right: 25%;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static {
    padding-top: 75px;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-footer__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .article__special-fields .article__special-fields-icon {
    width: 20px;
    height: 20px;
  }
  .socialblue--sky main:not(.is-navbar-secondary) .hero__banner--static {
    padding-bottom: 0;
  }
}

@media (min-width: 900px) {
  .socialblue--sky .hero__banner .hero-footer__list .hero_btn-group {
    padding-left: 15px;
  }
  .socialblue--sky .hero__banner .hero-footer__list .hero_btn-group .btn {
    font-size: 1rem;
  }
  .socialblue--sky .hero__banner .hero-footer__list svg {
    width: 26px;
    margin-right: 10px;
  }
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage .hero-footer__list-left > *,
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage > * {
    padding-right: 15px;
  }
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage .hero-footer__list-left > *:last-child,
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage > *:last-child {
    padding-right: 0;
  }
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage .hero-footer__list-left {
    margin-bottom: 0;
  }
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage .hero-footer__list-left:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    right: 0;
    background-color: #adadad;
  }
  .socialblue--sky .hero__banner--static .teaser__title {
    font-size: 2.25rem;
  }
  .socialblue--sky .hero__banner--static .hero-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .socialblue--sky .hero__banner--static .hero-footer > * {
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: inherit;
  }
  .socialblue--sky .hero__banner--static .hero-footer__list a {
    font-size: 1rem;
  }
  .socialblue--sky .hero__banner--static .hero-footer__cta {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
    padding-top: 0;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-footer__header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .socialblue--sky main:not(.is-navbar-secondary) .hero__full .hero-footer__bottom {
    padding-bottom: 20px;
  }
  .socialblue--sky.path-group .cover-wrap h1 {
    font-size: 2.25rem;
    line-height: 1.4;
  }
}

@media (min-width: 1200px) {
  .socialblue--sky .hero__banner--static {
    width: auto;
    margin: 0 calc((-100vw + (1200px - 3rem)) / 2);
  }
  .socialblue--sky.gin--vertical-toolbar .hero__banner--static {
    margin: 0 calc((-100vw + (1200px + 2rem)) / 2);
  }
}

@media (max-width: 599px) {
  .socialblue--sky .hero__banner .hero-footer__share {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .socialblue--sky .hero__banner .hero-footer .vote-widget {
    width: auto;
  }
  .socialblue--sky .hero__banner .hero-footer__list .hero_btn-group {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 -10px;
  }
  .socialblue--sky .hero__banner .hero-footer__list .hero_btn-group > * {
    padding: 0;
    margin-bottom: 10px;
  }
  .socialblue--sky .hero__banner .hero-footer__list .hero_btn-group .btn {
    font-size: .75rem;
  }
  .socialblue--sky .hero__banner--static {
    padding-top: 30px;
  }
  .socialblue--sky .hero__banner--static .hero-footer__cta .btn-group,
  .socialblue--sky .hero__banner--static .hero-footer__cta .btn {
    width: 100%;
  }
  .socialblue--sky.path-node:not(.page-node-type-topic) .hero__banner--static .hero-image {
    margin-bottom: 1.75rem;
  }
  .socialblue--sky.path-group .cover-wrap .page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .socialblue--sky.path-group .cover-wrap .page-title > * {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .socialblue--sky.path-group .cover-wrap .page-title > *:not(:first-child) {
    margin-top: 8px;
  }
}

@media (max-width: 899px) {
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage > * {
    padding: 0;
  }
  .socialblue--sky.path-user .cover-wrap {
    min-height: 160px;
  }
}
