.socialblue--sky .hero-footer {
  padding-bottom: 4em;
}

.socialblue--sky .hero-footer,
.socialblue--sky .hero-footer__header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socialblue--sky .hero__banner .shariff.card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal {
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  margin: 0 -.5rem;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal li {
  margin: 0 .5rem;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal li,
.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal li > a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal .fab {
  font-size: 1rem;
}

.socialblue--sky .hero__banner .shariff.card__block .orientation-horizontal .fa-facebook-f {
  font-size: 1.25rem;
}

.socialblue--sky .hero__banner .hero-footer__list ul,
.socialblue--sky .hero__banner .hero__info-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.socialblue--sky .hero__banner .hero-footer__list ul li,
.socialblue--sky .hero__banner .hero-footer__list ul li a,
.socialblue--sky .hero__banner .hero__info-list li,
.socialblue--sky .hero__banner .hero__info-list li a {
  font-weight: 400;
}

.socialblue--sky .hero__banner .hero-footer__list ul li,
.socialblue--sky .hero__banner .hero__info-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialblue--sky .hero__banner .hero-footer__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -23px;
}

.socialblue--sky .hero__banner .hero-footer__list li {
  padding: 0 23px;
  margin-bottom: 15px;
}

.socialblue--sky .hero__banner .hero-footer__list li,
.socialblue--sky .hero__banner .hero-footer__list li a {
  font-weight: 700;
}

.socialblue--sky .hero__banner .hero-footer__list svg {
  width: 26px;
  height: 20px;
  margin-right: 15px;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage .badge--large:first-child {
  padding-left: 0;
  font-weight: 700;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-engage > * {
  margin-right: 0;
  padding-right: 1rem;
}

.socialblue--sky .hero__banner .hero-footer__list .meta-follow {
  margin-left: 0;
  margin-bottom: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.socialblue--sky .hero__banner .badge {
  color: #4a4a4a;
}

.socialblue--sky main:not(.is-navbar-secondary) .hero__banner-static .hero-footer {
  padding-bottom: 20px;
}

.socialblue--sky main:not(.is-navbar-secondary) .hero__full .hero-footer__bottom {
  padding-bottom: 20px;
}

.socialblue--sky .hero__banner-static {
  background: #fff;
  padding: 50px 1em 0;
}

.socialblue--sky .hero__banner-static .teaser__title {
  margin: 0 0 1rem;
}

.socialblue--sky .hero__banner-static .teaser__title a {
  color: #4a4a4a;
  font-weight: 700;
  line-height: 44px;
}

.socialblue--sky .hero__banner-static .badge {
  vertical-align: middle;
}

.socialblue--sky .hero__banner-static .vote-like {
  margin-right: 0;
}

.socialblue--sky .hero__banner-static .metainfo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialblue--sky .hero__banner-static .metainfo__content {
  line-height: 2;
}

.socialblue--sky .hero__banner-static .metainfo__content a {
  text-decoration: none;
}

.socialblue--sky .hero__banner-static .metainfo__content a:hover {
  text-decoration: underline;
}

.socialblue--sky .hero__banner-static .metainfo__content .badge--large {
  line-height: 1.2;
  margin-bottom: 0;
  padding-left: 0;
}

.socialblue--sky .hero__banner-static .page-title {
  width: auto;
  max-width: inherit;
  text-shadow: none;
  text-align: left;
  color: inherit;
  margin: 0;
  padding: 0 0 35px;
}

.socialblue--sky .hero__banner-static .cover-wrap {
  min-height: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

.socialblue--sky .hero__banner-static .hero__tag {
  font-size: .7rem;
  margin-bottom: 17px;
}

.socialblue--sky .hero__banner-static .hero__tag a {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.socialblue--sky .hero__banner-static .hero-footer {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialblue--sky .hero__banner-static .hero-footer > * {
  margin-bottom: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.socialblue--sky .hero__banner-static .hero-footer > *:last-child {
  margin-bottom: 0;
}

.socialblue--sky .hero__banner-static .hero__info-list {
  margin-bottom: -15px;
}

.socialblue--sky .hero__banner-static .hero__info-list--icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.socialblue--sky .hero__banner-static .hero__info-list li {
  margin-bottom: 15px;
}

.socialblue--sky .hero__banner-static .hero-footer__cta {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-top: 1rem;
}

.socialblue--sky .hero__banner-static .hero-footer__cta .btn {
  border-width: 2px;
  font-size: .875rem;
  text-transform: uppercase;
}

.socialblue--sky .hero__banner-static .hero-footer__cta .dropdown-menu {
  min-width: auto;
  width: 100%;
  border-radius: 5px;
}

.socialblue--sky .hero__banner-static .hero-footer__cta .dropdown-menu a {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.socialblue--sky .hero__banner-static--event .hero-image {
  margin-bottom: 3.5rem;
}

.socialblue--sky .hero__banner-static--event .metainfo {
  margin-bottom: 26px;
}

.socialblue--sky .hero__banner-static--event .hero-footer {
  padding-top: 0;
}

.socialblue--sky .hero__banner-static--event .hero-footer .hero-footer__header {
  margin-bottom: 20px;
}

.socialblue--sky .hero__banner-static--event .hero-footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 15px;
  background: #f3f3f3;
}

.socialblue--sky .hero__banner-static--event .hero-footer__text {
  margin-top: 0;
}

.socialblue--sky .hero__banner-static--event .article__special-fields {
  padding: 0;
  border: 0;
  letter-spacing: .4px;
}

.socialblue--sky .hero__banner-static--event .hero-footer__cta .btn {
  min-width: 195px;
  color: inherit;
}

.socialblue--sky .hero__full,
.socialblue--sky .hero__full.hero__landing {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.socialblue--sky .hero__full .container {
  position: static;
}

.socialblue--sky .hero__full h1,
.socialblue--sky .hero__full .hero-footer__top {
  max-width: 775px;
}

.socialblue--sky .hero__full .cover-wrap {
  padding: 25px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left;
}

.socialblue--sky .hero__full .hero-footer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

.socialblue--sky .hero__full .hero-footer__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.socialblue--sky .hero__full .hero-footer__text,
.socialblue--sky .hero__full .hero-footer__date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-left: 0;
  padding-right: 0;
}

.socialblue--sky .hero__full .hero-footer__text .badge,
.socialblue--sky .hero__full .hero-footer__date .badge {
  color: #fff;
}

.socialblue--sky .hero__full .hero-footer__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialblue--sky .hero__full .hero-footer__date svg {
  fill: #fff;
}

.socialblue--sky .hero__full .hero-footer__date .badge-secondary {
  background: #fff;
  color: #4a4a4a;
}

.socialblue--sky .hero__full .hero-footer__bottom {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 20px 0 44px;
  color: #4d4d4d;
}

main:not(.is-navbar-secondary) .socialblue--sky .hero__full .hero-footer__bottom {
  padding-bottom: 20px;
}

.socialblue--sky .hero__full .hero-footer__bottom > * {
  position: relative;
  margin-bottom: 1rem;
  z-index: 1;
}

.socialblue--sky .hero__full .hero-footer__bottom:before, .socialblue--sky .hero__full .hero-footer__bottom:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #fff;
}

.socialblue--sky .hero__full .hero-footer__bottom:before {
  left: -99%;
}

.socialblue--sky .hero__full .hero-footer__bottom:after {
  right: -99%;
}

.socialblue--sky .hero__full.hero__landing .cover-small {
  position: relative;
  padding: 0;
  margin: 0;
  left: auto;
  bottom: auto;
  -webkit-transform: none;
          transform: none;
}

.socialblue--sky .hero__full.hero__landing .page-title {
  overflow: hidden;
  padding: 0;
  margin-bottom: 10px;
}

.socialblue--sky .hero__full.hero__landing .page-subtitle {
  margin-bottom: 30px;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 300;
}

.socialblue--sky .hero__full.hero__landing .hero-footer {
  margin-bottom: -20px;
}

.socialblue--sky .hero__full.hero__landing .hero-footer .card__actionbar .btn {
  text-transform: uppercase;
  font-weight: 400;
}

.socialblue--sky .hero__group .page-title h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  text-shadow: none;
  margin: 0;
}

.socialblue--sky .hero__group .teaser__tag {
  display: inline-block;
  width: auto;
  padding: 4px 11px;
  margin-bottom: .875rem;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;
  text-shadow: none;
}

.socialblue--sky .hero__group .teaser__tag:hover {
  color: #fff;
}

.socialblue--sky .hero__group .cover-wrap {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 70px;
}

.socialblue--sky .hero__group .hero-footer {
  padding-bottom: 0;
}

.socialblue--sky .main-container:not(.is-navbar-secondary) .hero__full {
  margin-bottom: 18px;
}

.socialblue--sky .main-container:not(.is-navbar-secondary) .hero__full:after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 18px;
}

.socialblue--sky .main-container:not(.is-navbar-secondary) .hero__full.hero__banner-footer-bottom {
  margin-bottom: 0;
}

.socialblue--sky .main-container:not(.is-navbar-secondary) .hero__full.hero__banner-footer-bottom:after {
  display: none;
}

.socialblue--sky .main-container:not(.is-navbar-secondary) .hero__full.hero__banner-footer-bottom .cover-wrap {
  position: relative;
  margin-bottom: 18px;
}

.socialblue--sky .main-container:not(.is-navbar-secondary) .hero__full.hero__banner-footer-bottom .cover-wrap:after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 18px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  top: inherit;
  bottom: -43px;
}

@media (min-width: 600px) {
  .socialblue--sky .cover-wrap {
    min-height: 320px;
  }
  .socialblue--sky .cover-wrap > .hero-footer {
    position: static;
  }
  .socialblue--sky main:not(.is-navbar-secondary) .hero__banner-static {
    padding-bottom: 0;
  }
  .socialblue--sky .hero__banner-static {
    padding-bottom: 25px;
  }
  .socialblue--sky .hero__banner-static .hero__tag {
    font-size: .85rem;
  }
  .socialblue--sky .hero__banner-static .hero__tag a {
    font-size: 1.25rem;
  }
  .socialblue--sky .hero__banner-static .hero-footer {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    padding-bottom: 2.5rem;
  }
  main:not(.is-navbar-secondary) .socialblue--sky .hero__banner-static .hero-footer {
    padding-bottom: 20px;
  }
  .socialblue--sky .hero__banner-static .hero-footer__text {
    margin-left: 0;
    margin-right: 25%;
  }
  .socialblue--sky .hero__banner-static--event {
    padding-top: 75px;
  }
  .socialblue--sky .hero__banner-static--event .hero-footer__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }
  .socialblue--sky .hero__banner-static--event .hero-footer__text {
    margin-right: 0;
  }
  .socialblue--sky .hero__banner-static--event .article__special-fields {
    padding-bottom: 0;
  }
  .socialblue--sky .hero__full .cover-wrap {
    min-height: 450px;
    padding-bottom: 45px;
  }
  .socialblue--sky .hero__full .cover-wrap > .badge-secondary {
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .orange-theme .socialblue--sky .hero__full .cover-wrap > .badge-secondary {
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: 0;
  }
  .socialblue--sky .hero__full .hero-footer__text {
    font-size: 1.125rem;
    line-height: 24px;
    margin: 0 0 25px;
  }
  .socialblue--sky .hero__full .hero-footer__date .badge {
    font-size: 1rem;
    font-weight: 700;
  }
  .socialblue--sky .hero__full .hero-footer__date .badge-secondary {
    font-size: .875rem;
  }
  .socialblue--sky .hero__full .hero-footer__date svg {
    width: 24px;
    height: 24px;
  }
  .socialblue--sky .main-container:not(.is-navbar-secondary) .hero__full.hero__banner-footer-bottom .cover-wrap:after {
    bottom: -63px;
  }
}

@media (min-width: 900px) {
  .socialblue--sky .hero__banner .hero-footer__list .meta-engage > * {
    padding-right: 2.5rem;
  }
  .socialblue--sky main:not(.is-navbar-secondary) .hero__full .hero-footer__bottom {
    padding-bottom: 20px;
  }
  .socialblue--sky .hero__banner-static .teaser__title {
    font-size: 2.25rem;
  }
  .socialblue--sky .hero__banner-static .hero-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .socialblue--sky .hero__banner-static .hero-footer > * {
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: inherit;
  }
  .socialblue--sky .hero__banner-static .hero-footer__cta {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding-top: 0;
  }
  .socialblue--sky .hero__banner-static--event .hero-footer .hero-footer__header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .socialblue--sky .hero__full h1 {
    font-size: 2.25rem;
    margin: 0 0 15px;
  }
  .socialblue--sky .hero__full .hero-footer__bottom {
    padding-bottom: 64px;
  }
  .socialblue--sky .hero__full .hero-footer__bottom > * {
    margin-bottom: 0;
  }
  .socialblue--sky .hero__full.hero__landing .page-title {
    font-size: 2.625rem;
    line-height: 48px;
    max-height: 145px;
  }
  .socialblue--sky .hero__full.hero__landing .hero-footer .card__actionbar .btn {
    min-width: 200px;
  }
  .socialblue--sky .hero__group .page-title {
    padding-left: 2.25rem;
    margin-left: 0;
    padding-bottom: 0;
    text-align: left;
  }
  .socialblue--sky .hero__group .page-title h1 {
    font-size: 36px;
    line-height: 1.4;
  }
  .socialblue--sky .hero__group .hero-footer__text {
    padding-left: 2.25rem;
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: inherit;
  }
}

@media (max-width: 899px) {
  .socialblue--sky .block-profile-hero-block .cover-wrap {
    min-height: 160px;
    padding: 0;
  }
  .socialblue--sky .block-group-hero-block .cover {
    padding: 0 1.875rem;
    text-align: left;
  }
  .socialblue--sky .block-group-hero-block .page-title {
    width: 100%;
    max-width: 100%;
    text-align: left;
    padding: 0;
  }
  .socialblue--sky .block-group-hero-block .cover-wrap {
    padding-top: 45px;
    padding-bottom: 1rem;
    min-height: auto;
  }
  .socialblue--sky .block-group-hero-block .cover-wrap .hero-footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .socialblue--sky .hero__group .teaser__tag {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 11px;
  }
}

@media (max-width: 599px) {
  .socialblue--sky .block-profile-hero-block .cover-wrap {
    min-height: 80px;
  }
  .socialblue--sky .block-group-hero-block .hero-footer {
    text-align: left;
  }
  .socialblue--sky .hero__banner .hero-footer .vote-widget {
    width: auto;
  }
  .socialblue--sky .hero__banner-static {
    padding-top: 30px;
  }
  .socialblue--sky .hero__banner-static .metainfo {
    margin-bottom: 0;
  }
  .socialblue--sky .hero__banner-static .hero-footer__cta .btn-group,
  .socialblue--sky .hero__banner-static .hero-footer__cta .btn {
    width: 100%;
  }
  .socialblue--sky .hero__banner-static--event .hero-image {
    margin-bottom: 1.75rem;
  }
  .socialblue--sky .hero__banner-static--event .hero-footer .hero-footer__header {
    margin-bottom: 1rem;
  }
  .socialblue--sky .hero__banner-static--event .hero-footer__header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .socialblue--sky .hero__banner-static--event .article__special-fields > * {
    margin-bottom: 10px;
  }
  .socialblue--sky .hero__banner-static--event .article__special-fields > *:last-child {
    margin-bottom: 0;
  }
}
