.input-group .form-control:focus ~ .input-group-addon {
  border-color: #29abe2;
  border-bottom: 1px solid #29abe2;
  -webkit-box-shadow: 0 2px 0 0 #29abe2;
          box-shadow: 0 2px 0 0 #29abe2;
}

.input-group-addon {
  color: #555555;
  background-color: #f3f3f3;
  border: 1px solid #adadad;
}

.input-group.input-group-expanded .input-group-addon {
  color: #343434;
  border-color: #adadad;
  background: #f3f3f3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
