.socialblue--sky .region--hero {
  max-width: 100%;
  margin-top: 0;
}

.socialblue--sky .content--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.socialblue--sky .content--wrapper .content--side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.socialblue--sky .region--hero .cover-wrap {
  margin-right: auto;
  margin-left: auto;
}

.socialblue--sky .region--secondary-navigation {
  max-width: inherit;
  width: 100%;
  position: relative;
  z-index: 2;
  padding-left: 0;
  padding-right: 0;
}

.socialblue--sky .layout--with-complementary {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialblue--sky .layout--with-complementary .content--wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: none;
}

.socialblue--sky .layout--with-complementary .content--side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.socialblue--sky .layout--with-complementary .region--content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.socialblue--sky .layout--with-complementary .content--side_wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.socialblue--sky .layout--with-complementary .content--side_wrapper .region--content {
  padding: 0;
}

.socialblue--sky .region--complementary {
  position: relative;
  margin-top: 1rem;
}

.socialblue--sky .layout--with-two-columns .content--side {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.socialblue--sky .layout--with-three-columns .content--side {
  padding-left: 1em;
  padding-right: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

body.socialblue--sky.path-group .layout--with-complementary, body.socialblue--sky.details .layout--with-complementary, body.socialblue--sky.path-user .layout--with-complementary {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.socialblue--sky.path-group .layout--with-complementary .navbar-secondary, body.socialblue--sky.details .layout--with-complementary .navbar-secondary, body.socialblue--sky.path-user .layout--with-complementary .navbar-secondary {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

body.socialblue--sky.path-group .layout--with-complementary.sidebar-left .region--complementary, body.socialblue--sky.details .layout--with-complementary.sidebar-left .region--complementary, body.socialblue--sky.path-user .layout--with-complementary.sidebar-left .region--complementary {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body.socialblue--sky.path-group .layout--with-complementary.sidebar-left .region--secondary-navigation, body.socialblue--sky.details .layout--with-complementary.sidebar-left .region--secondary-navigation, body.socialblue--sky.path-user .layout--with-complementary.sidebar-left .region--secondary-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body.socialblue--sky.path-group .region--secondary-navigation, body.socialblue--sky.details .region--secondary-navigation, body.socialblue--sky.path-user .region--secondary-navigation {
  z-index: 3;
}

body.socialblue--sky.path-group .region--complementary_wrapper, body.socialblue--sky.details .region--complementary_wrapper, body.socialblue--sky.path-user .region--complementary_wrapper {
  position: relative;
  z-index: 1000;
}

body.socialblue--sky.path-group .content--side_wrapper .region--content,
body.socialblue--sky.path-group .region--complementary_wrapper, body.socialblue--sky.details .content--side_wrapper .region--content,
body.socialblue--sky.details .region--complementary_wrapper, body.socialblue--sky.path-user .content--side_wrapper .region--content,
body.socialblue--sky.path-user .region--complementary_wrapper {
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px #4a4a4a;
          box-shadow: 0 2px 4px #4a4a4a;
}

body.socialblue--sky.path-group .region--complementary-top + .region--complementary-bottom, body.socialblue--sky.details .region--complementary-top + .region--complementary-bottom, body.socialblue--sky.path-user .region--complementary-top + .region--complementary-bottom {
  margin-top: 0;
}

body.socialblue--sky.path-group .region--complementary-bottom,
body.socialblue--sky.path-group .region--complementary-top, body.socialblue--sky.details .region--complementary-bottom,
body.socialblue--sky.details .region--complementary-top, body.socialblue--sky.path-user .region--complementary-bottom,
body.socialblue--sky.path-user .region--complementary-top {
  padding-bottom: 0;
  border-radius: 0;
}

@media (min-width: 900px) {
  .socialblue--sky .container, .socialblue--sky .region--hero .cover-wrap {
    max-width: 1160px;
  }
  .socialblue--sky .content--wrapper.left-aside .region--complementary {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .socialblue--sky .content--wrapper.left-aside .content--side {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .socialblue--sky .region--secondary-navigation {
    max-width: 100%;
  }
  .socialblue--sky .region--content {
    margin-top: 20px;
  }
  .socialblue--sky .layout--with-complementary .content--side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .socialblue--sky .region--complementary {
    margin-top: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .socialblue--sky .layout--with-two-columns .content--side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .socialblue--sky .layout--with-three-columns .content--side {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  body.socialblue--sky.path-group .layout--with-complementary .navbar-secondary, body.socialblue--sky.details .layout--with-complementary .navbar-secondary, body.socialblue--sky.path-user .layout--with-complementary .navbar-secondary {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body.socialblue--sky.path-group .layout--with-complementary .region--secondary-navigation, body.socialblue--sky.details .layout--with-complementary .region--secondary-navigation, body.socialblue--sky.path-user .layout--with-complementary .region--secondary-navigation {
    padding-left: 1rem;
    padding-right: 2rem;
  }
  body.socialblue--sky.path-group .layout--with-complementary.sidebar-left .region--secondary-navigation, body.socialblue--sky.details .layout--with-complementary.sidebar-left .region--secondary-navigation, body.socialblue--sky.path-user .layout--with-complementary.sidebar-left .region--secondary-navigation {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  body.socialblue--sky.path-group .region--complementary_wrapper, body.socialblue--sky.details .region--complementary_wrapper, body.socialblue--sky.path-user .region--complementary_wrapper {
    top: -64px;
  }
}

@media (min-width: 1200px) {
  .socialblue--sky .layout--with-complementary .content--wrapper {
    margin: 0 -20px;
  }
  .socialblue--sky .layout--with-complementary .region--content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .socialblue--sky .layout--with-complementary .content--side_wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .socialblue--sky .region--complementary {
    padding-right: 20px;
    padding-left: 20px;
  }
  .socialblue--sky .layout--with-two-columns .content--side {
    padding-left: 0;
  }
  .socialblue--sky .layout--with-three-columns .content--side {
    padding-left: 0;
  }
  body.socialblue--sky.path-group .layout--with-complementary .region--secondary-navigation, body.socialblue--sky.details .layout--with-complementary .region--secondary-navigation, body.socialblue--sky.path-user .layout--with-complementary .region--secondary-navigation {
    padding-right: 20px;
    padding-left: 0;
  }
  body.socialblue--sky.path-group .layout--with-complementary.sidebar-left .region--secondary-navigation, body.socialblue--sky.details .layout--with-complementary.sidebar-left .region--secondary-navigation, body.socialblue--sky.path-user .layout--with-complementary.sidebar-left .region--secondary-navigation {
    padding-left: 20px;
    padding-right: 0;
  }
}

@media (max-width: 899px) {
  body.socialblue--sky.path-group .region--complementary-bottom,
  body.socialblue--sky.path-group .region--complementary-top, body.socialblue--sky.details .region--complementary-bottom,
  body.socialblue--sky.details .region--complementary-top, body.socialblue--sky.path-user .region--complementary-bottom,
  body.socialblue--sky.path-user .region--complementary-top {
    top: 0;
  }
}
