.socialblue--sky .layout--with-complementary.sidebar-left > .region--complementary {
  z-index: 10;
}

.socialblue--sky .region--secondary-navigation {
  width: 100%;
  padding: 0;
}

.socialblue--sky.path-user .region--hero, .socialblue--sky.path-group .region--hero {
  max-width: 100%;
  padding: 0;
}

.socialblue--sky.path-user .region--complementary-top, .socialblue--sky.path-group .region--complementary-top {
  margin-top: 0;
}

.socialblue--sky.path-user .layout--with-complementary, .socialblue--sky.path-group .layout--with-complementary {
  z-index: 2;
}

.socialblue--sky.path-user .sidebar-left .region--complementary, .socialblue--sky.path-group .sidebar-left .region--complementary {
  position: relative;
  top: 1px;
}

.socialblue--sky.path-user .region--secondary-navigation, .socialblue--sky.path-group .region--secondary-navigation {
  position: relative;
  z-index: 3;
}

@media (min-width: 900px) {
  .socialblue--sky .layout--with-complementary.sidebar-left > .region--complementary {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .socialblue--sky.path-user .layout--with-complementary .region--secondary-navigation, .socialblue--sky.path-group .layout--with-complementary .region--secondary-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: -44px 0 0;
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .socialblue--sky.path-user .sidebar-left .region--complementary, .socialblue--sky.path-group .sidebar-left .region--complementary {
    top: -60px;
  }
}

@media (min-width: 1200px) {
  .socialblue--sky .layout--with-complementary.sidebar-left > .region--complementary {
    padding-right: 1rem;
    padding-left: 0;
  }
  .socialblue--sky .layout--with-complementary.sidebar-left > .region--content {
    padding-left: 1rem;
    padding-right: 0;
  }
  .socialblue--sky.path-user .layout--with-complementary .region--secondary-navigation, .socialblue--sky.path-group .layout--with-complementary .region--secondary-navigation {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 0;
  }
}

@media (max-width: 899px) {
  .socialblue--sky.path-user .region--secondary-navigation, .socialblue--sky.path-group .region--secondary-navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .socialblue--sky.path-user .region--complementary, .socialblue--sky.path-group .region--complementary {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .socialblue--sky.path-user .region--content, .socialblue--sky.path-group .region--content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
