.vote-like {
  background-color: #e6e6e6;
}

.vote-like a[title="Like"]:not(.voted-like) .icon-gray:hover {
  stroke: #d9534f;
  fill: transparent;
}

.vote-like a[title="Like"].voted-like .icon-gray {
  fill: #d9534f;
  stroke: #d9534f;
}
