.vote-widget a.voted-like .icon-vote {
  fill: #d9534f;
  stroke: #d9534f;
}

.vote-widget a:active.voted-like .icon-vote {
  fill: #4d4d4d;
  stroke: #4d4d4d;
}

.vote-widget a:active:not(.voted-like) .icon-vote {
  stroke: #d9534f;
  fill: transparent;
}

@media (min-width: 600px) {

  .vote-widget a:hover:not(.voted-like) .icon-vote {
    stroke: #d9534f;
    fill: transparent;
  }
}
