.card__block > .list-item:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__block > .list-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.list-item--visibility {
  border-top: 1px solid #ddd;
}

.list-item.disabled, .list-item.disabled:hover, .list-item.disabled:focus {
  background-color: #e6e6e6;
  color: #777;
}

.list-item--active,
.list-item--active:hover {
  color: white;
  background-color: #1f80aa;
  border-color: #1f80aa;
}

.list-item--active .icon-small,
.list-item--active:hover .icon-small {
  fill: white;
}

.list-item--active .help-block,
.list-item--active:hover .help-block {
  color: white;
  font-weight: 300;
}

.list-item__avatar img {
  border-radius: 50%;
}

.action-links {
  list-style: none;
  margin-bottom: 1rem;
}

.action-links .btn {
  color: #4a4a4a;
  background-color: #ffffff;
  border-color: #adadad;
  fill: #4a4a4a;
}

.action-links .btn:focus, .action-links .btn.focus, .action-links .btn:hover, .action-links .btn:active, .action-links .btn.active,
.open > .action-links .btn.dropdown-toggle {
  background-color: #e6e6e6;
  border-color: #8e8e8e;
  color: #4a4a4a;
}

.action-links .btn.disabled:hover, .action-links .btn.disabled:focus, .action-links .btn.disabled.focus, .action-links .btn[disabled]:hover, .action-links .btn[disabled]:focus, .action-links .btn[disabled].focus,
fieldset[disabled] .action-links .btn:hover,
fieldset[disabled] .action-links .btn:focus,
fieldset[disabled] .action-links .btn.focus {
  background-color: #ffffff;
  border-color: #adadad;
}
