.message__message-body {
  border-radius: 5px;
}

.unread-thread .card {
  background-color: #e6e6e6;
  color: #000;
}

.unread-thread .message__created {
  color: #000;
}

.unread-thread .read-indicator {
  background-color: #29abe2;
}
