.nav-tabs {
  border-bottom: 1px solid transparent;
}

.nav-tabs > li > a:hover {
  border-color: transparent transparent transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #29abe2;
  background-color: transparent;
  border: 1px solid transparent;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  font-weight: 500;
  color: #29abe2;
  background-color: transparent;
}

.nav-tabs.brand-primary a,
.brand-primary > .nav-tabs a,
.nav-tabs.brand-secondary a,
.brand-secondary > .nav-tabs a {
  color: white;
  opacity: 0.75;
}

.nav-tabs.brand-primary a:hover, .nav-tabs.brand-primary a:focus,
.brand-primary > .nav-tabs a:hover,
.brand-primary > .nav-tabs a:focus,
.nav-tabs.brand-secondary a:hover,
.nav-tabs.brand-secondary a:focus,
.brand-secondary > .nav-tabs a:hover,
.brand-secondary > .nav-tabs a:focus {
  outline: none;
  background-color: #17607f;
  border-bottom-color: #17607f;
}

.nav-tabs.brand-primary > li.active > a,
.brand-primary > .nav-tabs > li.active > a,
.nav-tabs.brand-secondary > li.active > a,
.brand-secondary > .nav-tabs > li.active > a {
  color: white;
  opacity: 1;
}

.tabs-scrollable:before {
  background: -webkit-linear-gradient(left, #1f80aa, transparent);
  background: linear-gradient(90deg, #1f80aa, transparent);
}

.tabs-scrollable:after {
  background: -webkit-linear-gradient(right, #1f80aa, transparent);
  background: linear-gradient(-90deg, #1f80aa, transparent);
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
  border-right: 2px solid #29abe2;
}

.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover, .tabs-right > .nav-tabs .active > a:focus {
  border-left: 2px solid #29abe2;
}

.tabs-left > .nav-tabs {
  border-radius: 10px 0 0 10px;
}

.tabs-right > .nav-tabs {
  border-radius: 0 10px 10px 0;
}

@media (min-width: 900px) {

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-bottom: 2px solid #29abe2;
  }

  .nav-tabs.brand-primary > li.active > a,
  .brand-primary > .nav-tabs > li.active > a,
  .nav-tabs.brand-secondary > li.active > a,
  .brand-secondary > .nav-tabs > li.active > a {
    border-bottom: 2px solid white;
  }
}
