.socialblue--sky .container--navbar {
  max-width: 100%;
  padding: 0;
}

.socialblue--sky .navbar-secondary {
  width: 100%;
  min-height: 44px;
  box-shadow: none;
}

.socialblue--sky .navbar-secondary .navbar-scrollable {
  width: 100%;
  height: 44px;
}

.socialblue--sky .navbar-secondary .navbar-nav li a, .socialblue--sky .navbar-secondary .navbar-nav li button {
  padding: 9px 20px 8px;
  opacity: 1;
  border-bottom-width: 3px;
}

.socialblue--sky .navbar-secondary .navbar-nav li a:hover, .socialblue--sky .navbar-secondary .navbar-nav li a:active, .socialblue--sky .navbar-secondary .navbar-nav li a:focus, .socialblue--sky .navbar-secondary .navbar-nav li button:hover, .socialblue--sky .navbar-secondary .navbar-nav li button:active, .socialblue--sky .navbar-secondary .navbar-nav li button:focus {
  background: transparent;
  border-bottom-color: #fff;
  color: #fff;
}

.socialblue--sky .navbar-secondary .navbar-nav li.active a, .socialblue--sky .navbar-secondary .navbar-nav li.active button {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 900px) {
  .socialblue--sky .navbar-fixed-top .navbar-nav {
    padding-right: 1.625rem;
  }
  .socialblue--sky.mode-search .navbar__open-search-block {
    transform: scale(100);
  }
  .socialblue--sky .navbar-secondary .navbar-scrollable {
    border-radius: 0 5px 0 0;
    overflow: visible;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    border-radius: 5px 5px 0 0;
    order: 1;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav {
    width: 100%;
    display: table;
    text-align: center;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav li, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav li {
    display: table-cell;
    position: relative;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .caret, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .caret {
    position: absolute;
    top: 50%;
    right: 15px;
    border-width: 6px 6px 0;
    border-top-color: #fff;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .caret.active, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .caret.active {
    transform: translateY(-50%) rotate(180deg);
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .visible-list, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .visible-list {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .visible-list a, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .visible-list a {
    display: block;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: .5rem 0 .75rem;
    background: #fff;
    z-index: 10;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li {
    display: block;
    text-align: left;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li a, .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li button, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li a, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li button {
    display: block;
    width: 100%;
    padding: .5rem 2rem;
    color: #9b9b9b;
  }
  .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li a:focus, .socialblue--sky.path-user .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li button:focus, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li a:focus, .socialblue--sky.path-group .layout--with-complementary .navbar-secondary .navbar-nav .hidden-list li button:focus {
    background: transparent;
  }
}
