@media (max-width: 899px) {
  .socialblue--sky [data-class='exposed-filter-block'] {
    position: static;
  }
  .socialblue--sky [data-class='exposed-filter-block'].views-exposed-form {
    margin: 1rem 0;
    padding: 0 1rem;
  }
  .socialblue--sky[class*='path-all'] [data-class='exposed-filter-block'] {
    padding: 0;
    margin: 0;
  }
}
