@media (min-width: 900px) {
  .off-canvas-xs-only {
    border-radius: 10px;
  }
  .socialblue--sky .offcanvas-head {
    padding: 1.25rem 1.875rem 0;
  }
  .socialblue--sky .offcanvas-body {
    padding: 1.25rem 1.875rem;
  }
}@media (max-width: 899px) {
  .socialblue--sky .views-exposed-form {
    top: -4rem;
  }
}
