
/* Radios
* primary #29abe2: red
* secondary #1f80aa: green
* accent #ffc142: pink
*/

[type="radio"]:checked + label:before {
  border-color: green !important;
}

[type="radio"]:checked + label:after {
  border-color: green !important;
  background-color: green !important;
}

[type="radio"]:checked + label {
  color: green !important;
}

.dropdown-toggle.btn-primary:hover {
  background-color: red !important;
  border-color: red !important;
}

.nav-tabs:not(.brand-secondary) .nav-tabs > li.active > a, .nav-tabs:not(.brand-secondary) .nav-tabs > li.active > a:hover, .nav-tabs:not(.brand-secondary) .nav-tabs > li.active > a:focus {
  color: red !important;
}

.nav-tabs:not(.brand-secondary) > li.active > a, .nav-tabs:not(.brand-secondary) > li.active > a:hover, .nav-tabs:not(.brand-secondary) > li.active > a:focus {
  border-right-color: red !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: red !important;
}

#navbar-search.is-open .search-icon, .no-js #navbar-search .search-icon {
  fill: red !important;
}

.form-control:focus {
  border-color: red !important;
  border-bottom-color: red !important;
  box-shadow: 0 2px 0 0 red !important;
}

.brand-secondary {
  background-color: green !important;
  border-color: green !important;
}

.nav-tabs.brand-primary a:hover, .nav-tabs.brand-primary a:focus, .brand-primary > .nav-tabs a:hover, .brand-primary > .nav-tabs a:focus, .nav-tabs.brand-secondary a:hover, .nav-tabs.brand-secondary a:focus, .brand-secondary > .nav-tabs a:hover, .brand-secondary > .nav-tabs a:focus {
  background-color: rgba(0,0,0,0.5) !important;
}

.btn-primary {
  background-color: red !important;
  border-color: red !important;
}

.btn-flat {
  color: red !important;
  fill: red !important;
}

.btn-flat:hover {
  color: inherit !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: green !important;
  border-color: green !important;
}

[type="checkbox"]:checked + label:after {
  border-color: green !important;
  background-color: green !important;
}

.stream-icon-new {
  background: green !important;
}

.comment__reply-btn {
  color: red !important;
}

.btn-accent {
  background-color: pink !important;
  border-color: pink !important;
}

.body-text a {
  color: red !important;
}

.body-text a:hover {
  color: red !important;
}
