.socialblue--sky.path-node .region--complementary .block-shariff {
  display: none;
}

.socialblue--sky.path-group--membership-actions form:not(.layout-builder-configure-block) fieldset {
  margin-top: 0;
}

.socialblue--sky.path-group--membership-actions .layout--with-complementary .region--title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.socialblue--sky.path-group--membership-actions .layout--with-complementary .region--secondary-navigation {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  padding-left: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.socialblue--sky.path-group--membership-actions .layout--with-complementary .region--secondary-navigation .navbar-secondary {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  border-radius: 0;
}

@media (max-width: 899px) {
  .socialblue--sky.path-group--membership-actions .layout--with-complementary .region--secondary-navigation {
    padding-left: 0;
  }
}
