.field--name-field-introduction-text a:not(.btn),
.field--name-field-featured-items-description a:not(.btn),
.field--name-field-featured-description a:not(.btn),
.field--name-field-accord-description a:not(.btn),
.field--name-field-text a:not(.btn),
.body-text a:not(.btn) {
  text-decoration: underline;
  color: #33b5e5;
}

.field--name-field-introduction-text a:not(.btn):hover,
.field--name-field-featured-items-description a:not(.btn):hover,
.field--name-field-featured-description a:not(.btn):hover,
.field--name-field-accord-description a:not(.btn):hover,
.field--name-field-text a:not(.btn):hover,
.body-text a:not(.btn):hover {
  color: #178ab4;
}
