.pagination {
  border-radius: 8px;
}

.pagination > li > a,
.pagination > li > span {
  color: #333333;
  background-color: transparent;
  border-radius: 8px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 8px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 8px;
}

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #333333;
  background-color: rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  color: white;
  background-color: #29abe2;
  border-color: transparent;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  background-color: transparent;
  border-color: transparent;
}

.mini-pager {
  background-image: linear-gradient(transparent, #f3f3f3);
}
