.paragraphs-dropbutton-wrapper > .btn-widget {
  color: #4d4d4d;
  background-color: #e6e6e6;
  border-color: #777;
  fill: #4d4d4d;
  border-radius: 10px;
}

.paragraphs-dropbutton-wrapper > .btn-widget:focus, .paragraphs-dropbutton-wrapper > .btn-widget.focus {
  color: #4d4d4d;
  background-color: #cdcdcd;
  border-color: #373737;
}

.paragraphs-dropbutton-wrapper > .btn-widget:hover {
  color: #4d4d4d;
  background-color: #cdcdcd;
  border-color: #585858;
}

.paragraphs-dropbutton-wrapper > .btn-widget:active, .paragraphs-dropbutton-wrapper > .btn-widget.active,
.open > .paragraphs-dropbutton-wrapper > .btn-widget.dropdown-toggle {
  color: #4d4d4d;
  background-color: #cdcdcd;
  border-color: #585858;
}

.paragraphs-dropbutton-wrapper > .btn-widget:active:hover, .paragraphs-dropbutton-wrapper > .btn-widget:active:focus, .paragraphs-dropbutton-wrapper > .btn-widget:active.focus, .paragraphs-dropbutton-wrapper > .btn-widget.active:hover, .paragraphs-dropbutton-wrapper > .btn-widget.active:focus, .paragraphs-dropbutton-wrapper > .btn-widget.active.focus,
.open > .paragraphs-dropbutton-wrapper > .btn-widget.dropdown-toggle:hover,
.open > .paragraphs-dropbutton-wrapper > .btn-widget.dropdown-toggle:focus,
.open > .paragraphs-dropbutton-wrapper > .btn-widget.dropdown-toggle.focus {
  color: #4d4d4d;
  background-color: #bbbbbb;
  border-color: #373737;
}

.paragraphs-dropbutton-wrapper > .btn-widget.disabled:hover, .paragraphs-dropbutton-wrapper > .btn-widget.disabled:focus, .paragraphs-dropbutton-wrapper > .btn-widget.disabled.focus, .paragraphs-dropbutton-wrapper > .btn-widget[disabled]:hover, .paragraphs-dropbutton-wrapper > .btn-widget[disabled]:focus, .paragraphs-dropbutton-wrapper > .btn-widget[disabled].focus,
fieldset[disabled] .paragraphs-dropbutton-wrapper > .btn-widget:hover,
fieldset[disabled] .paragraphs-dropbutton-wrapper > .btn-widget:focus,
fieldset[disabled] .paragraphs-dropbutton-wrapper > .btn-widget.focus {
  background-color: #e6e6e6;
  border-color: #777;
}

.dropbutton-multiple .btn-widget {
  color: #4d4d4d;
  background-color: #e6e6e6;
  border-color: transparent;
  fill: #4d4d4d;
}

.dropbutton-multiple .btn-widget:focus, .dropbutton-multiple .btn-widget.focus {
  color: #4d4d4d;
  background-color: #cdcdcd;
  border-color: transparent;
}

.dropbutton-multiple .btn-widget:hover {
  color: #4d4d4d;
  background-color: #cdcdcd;
  border-color: transparent;
}

.dropbutton-multiple .btn-widget:active, .dropbutton-multiple .btn-widget.active,
.open > .dropbutton-multiple .btn-widget.dropdown-toggle {
  color: #4d4d4d;
  background-color: #cdcdcd;
  border-color: transparent;
}

.dropbutton-multiple .btn-widget:active:hover, .dropbutton-multiple .btn-widget:active:focus, .dropbutton-multiple .btn-widget:active.focus, .dropbutton-multiple .btn-widget.active:hover, .dropbutton-multiple .btn-widget.active:focus, .dropbutton-multiple .btn-widget.active.focus,
.open > .dropbutton-multiple .btn-widget.dropdown-toggle:hover,
.open > .dropbutton-multiple .btn-widget.dropdown-toggle:focus,
.open > .dropbutton-multiple .btn-widget.dropdown-toggle.focus {
  color: #4d4d4d;
  background-color: #bbbbbb;
  border-color: transparent;
}

.dropbutton-multiple .btn-widget.disabled:hover, .dropbutton-multiple .btn-widget.disabled:focus, .dropbutton-multiple .btn-widget.disabled.focus, .dropbutton-multiple .btn-widget[disabled]:hover, .dropbutton-multiple .btn-widget[disabled]:focus, .dropbutton-multiple .btn-widget[disabled].focus,
fieldset[disabled] .dropbutton-multiple .btn-widget:hover,
fieldset[disabled] .dropbutton-multiple .btn-widget:focus,
fieldset[disabled] .dropbutton-multiple .btn-widget.focus {
  background-color: #e6e6e6;
  border-color: transparent;
}
