.password-strength__indicator {
  background-color: #5cb85c;
}

.password-strength__indicator.is-weak {
  background-color: #d9534f;
}

.password-strength__indicator.is-fair {
  background-color: #f80;
}

.password-strength__indicator.is-good {
  background-color: #33b5e5;
}

.password-confirm .ok {
  color: #5cb85c;
}

.password-confirm .error {
  color: #d9534f;
}
