.tooltip-inner {
  border-radius: 10px;
  color: #fff;
  background-color: #000;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000;
}

.popover {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.popover-title {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 11px 11px 0 0;
}

.popover.top > .arrow {
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.popover.top > .arrow:after {
  border-top-color: #fff;
}

.popover.right > .arrow {
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.right > .arrow:after {
  border-right-color: #fff;
}

.popover.bottom > .arrow {
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.popover.bottom > .arrow:after {
  border-bottom-color: #fff;
}

.popover.left > .arrow {
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.left > .arrow:after {
  border-left-color: #fff;
}

.popover.bottom {
  max-width: 525px !important;
  width: 100%;
}

.popover.bottom .popover-content [id*='visibility'] svg {
  margin-right: 10px;
}

.popover.bottom .popover-content [id*='visibility'] p {
  margin-bottom: 1.25rem;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.popover.bottom .popover-content [id*='visibility'] p:last-child {
  margin-bottom: 0;
}

.path-group .popover {
  max-width: 378px !important;
  width: 100%;
}

.path-group .popover .popover-title {
  padding: .75rem 1.25rem .75rem 52px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background: #f3f3f3 url("../../components/03-molecules/popover/icon-cog.svg") no-repeat 20px center/24px 24px;
}

.path-group .popover .popover-content {
  padding: 1.25rem;
}

.path-group .popover .popover-content .form-group {
  margin: 0;
}

.path-group .popover .popover-content .title {
  display: block;
  margin-bottom: .5rem;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #4d4d4d;
}

.path-group .popover .popover-content .group-visibility-details {
  padding: .75rem;
  border-radius: 5px;
  background: #f3f3f3;
  margin-bottom: 1.5rem;
}

.path-group .popover .popover-content .group-visibility-details:last-child {
  margin-bottom: 0;
}

.path-group .popover .popover-content p {
  position: relative;
  padding-left: 33px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: .75rem;
}

.path-group .popover .popover-content p:last-child {
  margin-bottom: 0;
}

.path-group .popover .popover-content p strong {
  font-weight: bold;
}

.path-group .popover .popover-content svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
}
