.tooltip-inner {
  border-radius: 10px;
  color: #fff;
  background-color: #000;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000;
}

.popover {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.popover-title {
  background-color: #f3f3f3;
  border-radius: 5px 5px 0 0;
}

.popover.top > .arrow {
  border-top-color: #f3f3f3;
  border-top-color: #f3f3f3;
}

.popover.top > .arrow:after {
  border-top-color: #f3f3f3;
}

.popover.right > .arrow {
  border-right-color: #f3f3f3;
  border-right-color: #f3f3f3;
}

.popover.right > .arrow:after {
  border-right-color: #f3f3f3;
}

.popover.bottom > .arrow {
  border-bottom-color: #f3f3f3;
  border-bottom-color: #f3f3f3;
}

.popover.bottom > .arrow:after {
  border-bottom-color: #f3f3f3;
}

.popover.left > .arrow {
  border-left-color: #f3f3f3;
  border-left-color: #f3f3f3;
}

.popover.left > .arrow:after {
  border-left-color: #f3f3f3;
}

.popover.bottom {
  max-width: 380px !important;
  width: 100%;
}

.popover.bottom .popover-content [id*='visibility'],
.popover.bottom .popover-content [id*='enroll-method'] {
  margin-top: .625rem;
  margin-bottom: .75rem;
}

.popover.bottom .popover-content [id*='visibility'] svg,
.popover.bottom .popover-content [id*='enroll-method'] svg {
  margin-right: 10px;
}

.popover.bottom .popover-content [id*='visibility'] strong,
.popover.bottom .popover-content [id*='enroll-method'] strong {
  font-weight: 700;
}

.popover.bottom .popover-content [id*='visibility'] p,
.popover.bottom .popover-content [id*='enroll-method'] p {
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.popover.bottom .popover-content [id*='visibility'] p:last-child,
.popover.bottom .popover-content [id*='enroll-method'] p:last-child {
  margin-bottom: 0;
}

.path-group .popover {
  max-width: 378px !important;
  width: 100%;
}

[dir='rtl'] .path-group .popover .arrow:after {
  left: 0;
}

.path-group .popover .popover-title {
  padding: .75rem 1.25rem .75rem 52px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.625rem;
  border: none;
  background: #f3f3f3 url("../../components/03-molecules/popover/icon-cog.svg") no-repeat 20px center/24px 24px;
}

[dir='rtl'] .path-group .popover .popover-title {
  padding-right: 52px;
  padding-left: 1.25rem;
  background-position: calc(100% - 20px) center;
}

.path-group .popover .popover-content {
  padding: 1.25rem;
}

.path-group .popover .popover-content .form-group {
  margin: 0;
}

.path-group .popover .popover-content .title {
  display: block;
  margin-bottom: .5rem;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #343434;
}

.path-group .popover .popover-content .group-visibility-details,
.path-group .popover .popover-content .course-visibility-details {
  padding: .75rem;
  border-radius: 5px;
  background: #f3f3f3;
  margin-bottom: 1.5rem;
}

.path-group .popover .popover-content .group-visibility-details:last-child,
.path-group .popover .popover-content .course-visibility-details:last-child {
  margin-bottom: 0;
}

.path-group .popover .popover-content .group-visibility-details > *:empty,
.path-group .popover .popover-content .course-visibility-details > *:empty {
  display: none;
}

.path-group .popover .popover-content p {
  position: relative;
  padding-left: 33px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: .75rem;
}

[dir='rtl'] .path-group .popover .popover-content p {
  padding-left: 0;
  padding-right: 33px;
}

.path-group .popover .popover-content p:last-child {
  margin-bottom: 0;
}

.path-group .popover .popover-content p strong {
  font-weight: bold;
}

.path-group .popover .popover-content svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  fill: #000;
}

[dir='rtl'] .path-group .popover .popover-content svg {
  left: auto;
  right: 0;
}
