.site-footer {
  background-color: #1f80aa;
  color: white;
}

.site-footer .dropdown-menu > li > a {
  color: #4d4d4d;
}

.site-footer .dropdown-menu > li > a:hover, .site-footer .dropdown-menu > li > a:focus {
  background-color: #f5f5f5;
}
