.socialblue--sky .site-footer {
  position: relative;
  margin-top: 9px;
  padding: 25px 0;
}

.socialblue--sky .site-footer:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 9px;
}

@media (min-width: 900px) {
  .socialblue--sky .site-footer {
    margin-top: 18px;
    padding: 45px 0;
  }
  .socialblue--sky .site-footer:before {
    height: 18px;
  }
}
