.stream-icon-new {
  background: #1f80aa;
}

.teaser--stream .teaser__image {
  border-radius: 0;
}

.teaser--stream:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.teaser--stream:last-child .card-image {
  border-bottom-left-radius: 10px;
}

.socialblue--sky .stream::before {
  background: #d5d6d2;
}

.socialblue--sky .stream-icon {
  width: 12px;
  height: 12px;
  top: 37px;
  left: 2px;
  background: #adadad;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}

.socialblue--sky .stream-icon-new {
  background: #1f80aa;
}

.socialblue--sky .teaser--stream {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: transparent;
  margin-top: 1.25rem;
  margin-left: -1.875rem;
  margin-right: -1.875rem;
}

.socialblue--sky .teaser--stream .teaser__title {
  max-height: 3rem;
  font-size: 1.125rem;
  line-height: 26px;
  margin-bottom: 10px;
}

.socialblue--sky .teaser--stream .teaser__published-author {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 10px;
}

.socialblue--sky .teaser--stream .teaser__published-author a {
  font-weight: 300;
}

.socialblue--sky .teaser--stream .teaser__published-author + .teaser__published-date {
  margin-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.socialblue--sky .teaser--stream:last-child {
  margin-bottom: -1.25rem;
}

.socialblue--sky .teaser--stream .card__actionbar {
  padding-top: 0;
  padding-bottom: 1rem;
}

.socialblue--sky .teaser--stream .teaser__tag {
  margin-right: 6px;
  margin-bottom: 0;
}

.socialblue--sky .teaser--stream.teaser--idea .card__actionbar .badge__container > *,
.socialblue--sky .teaser--stream.teaser--idea .card__actionbar .teaser__content-line > * {
  display: inline-block;
  vertical-align: middle;
}

.socialblue--sky .teaser--stream.teaser--idea .card__actionbar .badge__container > *.teaser__content-type-icon,
.socialblue--sky .teaser--stream.teaser--idea .card__actionbar .teaser__content-line > *.teaser__content-type-icon {
  margin-top: 0;
  margin-right: 4px;
}

.socialblue--sky .teaser--stream.teaser--idea .card__actionbar .badge__container > *.badge__label--description,
.socialblue--sky .teaser--stream.teaser--idea .card__actionbar .teaser__content-line > *.badge__label--description {
  display: none;
}

.socialblue--sky .teaser--stream.teaser--idea .card__actionbar .badge__container .badge__label,
.socialblue--sky .teaser--stream.teaser--idea .card__actionbar .teaser__content-line .badge__label {
  font-size: 12px;
  font-weight: 100;
}

.socialblue--sky .teaser--stream.teaser--idea .card__actionbar .teaser__content-line {
  margin-right: .6rem;
}

@media (min-width: 600px) {
  .socialblue--sky .teaser--stream .teaser__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 199px;
            flex: 0 0 199px;
    height: 199px;
  }
}

@media (min-width: 900px) {
  .socialblue--sky .teaser--stream {
    height: 180px;
  }
  .socialblue--sky .teaser--stream .teaser__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 179px;
            flex: 0 0 179px;
    height: 179px;
  }
}

@media (min-width: 1200px) {
  .socialblue--sky .teaser--stream .teaser__tag {
    margin-right: 15px;
  }
}
