.stream-icon-new {
  background: #1f80aa;
}

.card--teaser.card--teaser-stream:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card--teaser.card--teaser-stream:last-child .card-image {
  border-bottom-left-radius: 10px;
}
