@media (min-width: 600px) {
  .socialblue--sky .teaser.teaser--stream {
    height: 180px;
  }
  .socialblue--sky .teaser.teaser--stream .teaser__image {
    height: 180px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
}@media (min-width: 900px) {
  .socialblue--sky .teaser.teaser--stream .teaser__title {
    font-size: 1.125rem;
    margin-bottom: 10px;
  }
}
