.styleguide-container {
  padding-top: 0;
}

.docssection {
  margin: 2rem 0;
}

.docsheader {
  padding: 50px 15px 2rem;
  margin-bottom: 1.5rem;
  color: #d4eef9;
  text-align: center;
  background-color: #29abe2;
}

.docsheader h1 {
  font-size: 3rem;
  color: #fff;
}

.docsheader p {
  font-size: 1.25rem;
}

/* All levels of nav */
.docs-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}

.docs-sidebar .nav > li > a:hover,
.docs-sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #29abe2;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #29abe2;
}

.docs-sidebar .nav > .active > a,
.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: #29abe2;
  background-color: transparent;
  border-left: 2px solid #29abe2;
}

/* Nav: second level (shown on .active) */
.docs-sidebar .nav .nav {
  display: none;
  /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}

.docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}

.docs-sidebar .nav .nav > li > a:hover,
.docs-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}

.docs-sidebar .nav .nav > .active > a,
.docs-sidebar .nav .nav > .active:hover > a,
.docs-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

/* Show and affix the side nav when space allows it */

.footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.15);
}

.repo-link {
  padding: 14px 0;
  height: 64px;
  line-height: 36px;
  background-color: #5c5757;
  color: #e6e6e6;
  font-size: .9em;
  margin-bottom: 20px;
}

.repo-link .sha {
  color: #f0f0f0;
  margin: 0 6px 0 6px;
}

#github-button {
  background-color: #6f6d6d;
  -webkit-transition: .25s ease;
  transition: .25s ease;
  color: #fafafa;
}

#github-button:hover {
  background-color: #797777;
}

/*****************
  Chrome Browser
*****************/
.browser-window {
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 5px 5px 2px 2px;
  margin: 20px 0px;
  overflow: hidden;
}

.browser-window .top-bar {
  height: 30px;
  border-radius: 5px 5px 0 0;
  border-top: thin solid #f3f3f3;
  border-bottom: thin solid #e6e6e6;
  background: -webkit-linear-gradient(#f3f3f3, #e6e6e6);
  background: linear-gradient(#f3f3f3, #e6e6e6);
}

.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  margin-right: 1px;
}

#close-circle {
  background-color: #FF5C5A;
}

#minimize-circle {
  background-color: #FFBB50;
}

#maximize-circle {
  background-color: #1BC656;
}

.browser-window .circles {
  margin: 5px 12px;
}

.browser-window .content {
  margin: 0;
  width: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #f3f3f3;
}

.browser-window .content p {
  text-align: center;
}

.browser-window .row {
  margin: 0;
  text-align: center;
}

.flat-text-header {
  height: 35px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  margin: 27px auto;
}

.flat-text {
  height: 25px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  margin: 27px auto;
}

.flat-text.small {
  width: 25%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}

.flat-text.inline25 {
  width: 22.5%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}

.flat-text.full-width {
  width: 100%;
}

.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  font-size: 28px;
  background-color: #29abe2;
  color: white;
  padding: 0;
  opacity: 0.5;
}

.bs-example > .btn,
.bs-example > .btn-group {
  margin: 5px 0;
}

@media (min-width: 600px) {

  .docsheader {
    text-align: left;
  }

  .docsheader h1 {
    font-size: 4rem;
  }

  .docsheader p {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {

  .docs-sidebar .nav > .active > ul {
    display: block;
  }
}

@media (min-width: 1200px) {

  .docsheader p {
    margin-right: 235px;
  }
}
