.socialblue--sky .teaser__content-line {
  margin-bottom: 5px;
}

.socialblue--sky .teaser__content {
  padding-bottom: 0;
}

.socialblue--sky .teaser__title {
  margin-bottom: .75rem;
}

.socialblue--sky .teaser__tag {
  display: inline-block;
  vertical-align: middle;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.socialblue--sky .teaser__tag a {
  font-weight: 700;
  transition: .3s ease-out;
}

.socialblue--sky .teaser .badge__label {
  color: #4d4d4d;
}

.socialblue--sky .teaser--tile .teaser__title {
  min-height: auto;
  max-height: none;
  margin-bottom: .5rem;
}

.socialblue--sky .teaser--tile .teaser__content {
  flex: none;
  padding-bottom: 10px;
}

.socialblue--sky .teaser__not-icon svg {
  display: none;
}

.socialblue--sky .teaser__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialblue--sky .teaser__header .teaser__badge {
  margin: 0 0 .5rem 3px;
}

@media (min-width: 900px) {
  .socialblue--sky .badge-status {
    margin-left: .5rem;
    padding: 5px .875rem;
    font-size: .875rem;
    font-weight: 300;
  }
}

@media (max-width: 899px) {
  .socialblue--sky .teaser__tag {
    font-size: .75rem;
  }
}
