.socialblue--sky .teaser__title {
  max-height: 2.3em;
}

.socialblue--sky .teaser__published-date {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.socialblue--sky .teaser__published-author {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.socialblue--sky .teaser__tag {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.socialblue--sky .teaser.teaser--tile {
  margin-bottom: 45px;
}

.socialblue--sky .teaser.teaser--tile .text__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.socialblue--sky .teaser.teaser--tile .text__header > * {
  margin-bottom: 10px;
}

.socialblue--sky .teaser.teaser--tile .text__header .teaser__tag {
  margin-bottom: 0;
}

.socialblue--sky .teaser.teaser--tile .text__header .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialblue--sky .teaser.teaser--tile .text__header .lang li + li::before {
  content: '|';
  position: relative;
  display: inline-block;
  top: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

.socialblue--sky .teaser.teaser--tile .teaser__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.four-items .socialblue--sky .teaser.teaser--tile .teaser__title {
  font-size: 16px;
  line-height: 22px;
}

.four-items .socialblue--sky .teaser.teaser--tile .text-muted > * {
  font-size: 12px;
}

.socialblue--sky .teaser.teaser--tile .teaser__published-date {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.socialblue--sky .teaser.teaser--tile .teaser__published-author {
  margin-right: 4px;
}

.socialblue--sky .teaser.teaser--tile .teaser__published-author a {
  font-weight: 300;
}

.socialblue--sky .teaser.teaser--tile .card__link {
  text-transform: uppercase;
}

.socialblue--sky .teaser.teaser--tile .teaser__content-header {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.socialblue--sky .teaser.teaser--tile .teaser__content-header .teaser__published {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialblue--sky .teaser.teaser--tile .teaser__content-header .teaser__published-type {
  font-weight: 700;
}

.socialblue--sky .teaser.teaser--tile .teaser__content-header .teaser__published-type a {
  font-weight: 700;
}

.socialblue--sky .teaser.teaser--tile .teaser__content-header .teaser__tag {
  margin-bottom: 0;
}

.socialblue--sky .teaser.teaser--tile .card__actionbar, .socialblue--sky .teaser.teaser--stream .card__actionbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.socialblue--sky .teaser.teaser--tile .card__actionbar:before, .socialblue--sky .teaser.teaser--tile .card__actionbar:after, .socialblue--sky .teaser.teaser--stream .card__actionbar:before, .socialblue--sky .teaser.teaser--stream .card__actionbar:after {
  display: none;
}

.socialblue--sky .teaser.teaser--tile .card__actionbar-side, .socialblue--sky .teaser.teaser--stream .card__actionbar-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
}

.socialblue--sky .teaser.teaser--tile .card__actionbar-side:empty, .socialblue--sky .teaser.teaser--stream .card__actionbar-side:empty {
  display: none;
}

.socialblue--sky .teaser.teaser--stream .teaser__tag {
  margin-right: 6px;
  margin-bottom: 0;
}

.socialblue--sky .teaser.teaser--stream .teaser__tag {
  margin-bottom: 0;
}

.socialblue--sky .field--name-field-featured-items .teaser--tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialblue--sky .teaser.teaser--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialblue--sky .teaser.teaser--profile .teaser__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  height: 80px;
  margin-bottom: 55px;
  border-radius: 0;
  text-align: center;
  overflow: visible;
  display: block;
}

.socialblue--sky .teaser.teaser--profile .teaser__image a {
  display: block;
  height: 100%;
}

.socialblue--sky .teaser.teaser--profile .teaser__image img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 10px solid white;
  border-radius: 50%;
  position: relative;
  top: 30px;
  background-color: #adadad;
}

.socialblue--sky .teaser.teaser--profile .teaser__title {
  min-height: auto;
  margin-bottom: .5rem;
  font-size: 1.25rem;
}

.socialblue--sky .teaser.teaser--profile .teaser__body {
  text-align: center;
}

.socialblue--sky .teaser.teaser--profile .teaser__content {
  padding-top: 0;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.socialblue--sky .teaser.teaser--profile .teaser__work,
.socialblue--sky .teaser.teaser--profile .teaser__address,
.socialblue--sky .teaser.teaser--profile .badge__label {
  font-size: .875rem;
}

.socialblue--sky .teaser.teaser--profile .teaser__work {
  margin-bottom: 1.25rem;
}

.socialblue--sky .teaser.teaser--profile .card__actionbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialblue--sky .teaser.teaser--profile .card__actionbar .card__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 236px;
          flex: 0 0 236px;
  max-width: 236px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .socialblue--sky .teaser {
    height: 180px;
  }
  .socialblue--sky .field--name-field-featured-items .teaser--tile {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%;
    max-width: 31%;
    margin-left: 3.5%;
  }
  .socialblue--sky .field--name-field-featured-items .teaser--tile:nth-child(2n+1) {
    margin-left: 3.5%;
  }
  .socialblue--sky .field--name-field-featured-items .teaser--tile:nth-child(3n+1) {
    margin-left: 0;
  }
  .socialblue--sky .field--name-field-featured-items.four-items .teaser--tile {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22.35%;
            flex: 0 0 22.35%;
    max-width: 22.35%;
    margin-left: 3.5%;
  }
  .socialblue--sky .field--name-field-featured-items.four-items .teaser--tile:nth-child(2n+1), .socialblue--sky .field--name-field-featured-items.four-items .teaser--tile:nth-child(3n+1) {
    margin-left: 3.5%;
  }
  .socialblue--sky .field--name-field-featured-items.four-items .teaser--tile:nth-child(4n+1) {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .socialblue--sky .teaser.teaser--stream .teaser__tag {
    margin-right: 15px;
  }
}
