.teaser__teaser-type {
  background-color: #adadad;
  border-radius: 0 0 8px 8px;
}

.teaser__teaser-type-icon {
  fill: white;
}

.socialblue--sky .teaser .card__link .btn {
  font-weight: 700;
  text-transform: uppercase;
  border-width: 2px;
}

.socialblue--sky .teaser__badge {
  color: #4a4a4a;
}

.socialblue--sky .teaser__content-line {
  margin-bottom: 5px;
}

.socialblue--sky .teaser__title {
  margin-bottom: .75rem;
}

.socialblue--sky .teaser__tag {
  display: inline-block;
  vertical-align: middle;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: .5rem;
}

.socialblue--sky .teaser__tag a {
  font-weight: 700;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

@media (min-width: 600px) {
  .teaser__image {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: #e6e6e6;
  }
  .teaser__teaser-type {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 0;
  }
}

@media (max-width: 899px) {
  .socialblue--sky .teaser__tag {
    font-size: .75rem;
  }
}
