.socialblue--sky .teaser__content-line {
  margin-bottom: 5px;
}

.socialblue--sky .teaser__title {
  margin-bottom: .75rem;
}

.socialblue--sky .teaser__tag {
  display: inline-block;
  vertical-align: middle;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.socialblue--sky .teaser__tag a {
  font-weight: 700;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.socialblue--sky .teaser--tile .badge__label {
  color: #4d4d4d;
}

.socialblue--sky .teaser--tile .teaser__title {
  min-height: auto;
}

@media (min-width: 900px) {
  .socialblue--sky .badge-status {
    margin-left: .5rem;
    padding: 5px .875rem;
    font-size: .875rem;
    font-weight: 300;
  }
}

@media (max-width: 899px) {
  .socialblue--sky .teaser__tag {
    font-size: .75rem;
  }
}
