.teaser__teaser-type {
  background-color: #adadad;
  border-radius: 0 0 8px 8px;
}

.teaser__teaser-type-icon {
  fill: white;
}

.teaser__label > * {
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.teaser .teaser__badge:first-child {
  padding-left: 0;
}

.teaser .teaser__badge:first-child.badge-default, .teaser .teaser__badge:first-child.badge-primary, .teaser .teaser__badge:first-child.badge-secondary, .teaser .teaser__badge:first-child.badge-accent, .teaser .teaser__badge:first-child.badge-success, .teaser .teaser__badge:first-child.badge-info, .teaser .teaser__badge:first-child.badge-warning, .teaser .teaser__badge:first-child.badge-danger, .teaser .teaser__badge:first-child.badge-active {
  padding-left: 1em;
}

.teaser .badge__label {
  color: #4d4d4d;
}

@media (min-width: 600px) {
  .teaser__image {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: #e6e6e6;
  }
  .teaser__teaser-type {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 0;
  }
}
