.socialblue--sky .teaser__content-line {
  margin-bottom: 5px;
}

.socialblue--sky .teaser__content {
  padding-bottom: 0;
}

.socialblue--sky .teaser__title {
  margin-bottom: .75rem;
}

.socialblue--sky .teaser__tag {
  display: inline-block;
  vertical-align: middle;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.socialblue--sky .teaser__tag a {
  font-weight: 700;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.socialblue--sky .teaser .badge__label {
  color: #4d4d4d;
}

.socialblue--sky .teaser--tile .teaser__title {
  min-height: auto;
  max-height: none;
  margin-bottom: .5rem;
}

.socialblue--sky .teaser--tile .teaser__content {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-bottom: 10px;
}

.socialblue--sky .teaser__not-icon svg {
  display: none;
}

.socialblue--sky .teaser__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialblue--sky .teaser__header .teaser__badge {
  margin: 0 0 .5rem 3px;
}

.socialblue--sky .teaser-profile .teaser__image img {
  border-radius: 50%;
}

.socialblue--sky .teaser-profile .teaser__body .teaser__content {
  padding-top: 10px;
}

.socialblue--sky .teaser-profile .teaser__tag {
  margin-bottom: 4px;
}

@media (min-width: 900px) {
  .socialblue--sky .badge-status {
    margin-left: .5rem;
    padding: 5px .875rem;
    font-size: .875rem;
    font-weight: 300;
  }
}

@media (max-width: 899px) {
  .socialblue--sky .teaser__tag {
    font-size: .75rem;
  }
}
