.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  background: none;
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
}

.waves-circle {
  -webkit-mask-image: none;
  border-width: 0;
  line-height: 21px;
  width: auto;
  height: auto;
}

.waves-input-wrapper {
  border-radius: 10px;
}

.waves-btn {
  transform: translateZ(0);
  -webkit-mask-image: none;
  border-radius: 10px;
}

a.waves-effect .waves-ripple {
  z-index: -1;
}
