.socialblue--sky.path-group {
  .cover--course .cover-wrap {
    .page-title {
      .badge {
        margin-right: 0;
        font-size: 14px;
        line-height: 21px;
        text-shadow: none;

        & + .badge {
          margin-left: .75rem;
        }

        .badge__container {
          position: relative;
          padding-left: 28px;
        }

        .badge__icon {
          position: absolute;
          width: 24px;
          height: 21px;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }

        .certificate-link {
          text-decoration: underline;

          &:hover,
          &:focus {
            text-decoration: none;
          }

          .ajax-throbber {
            &:before {
              height: 15px;
            }
          }
        }
      }
    }
  }
}