.course__navigation {
  overflow: hidden; }
  .course__navigation .complementary-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem; }
    @media (max-width: 899px) {
      .course__navigation .complementary-title {
        font-size: .75rem;
        padding-left: .625rem;
        padding-right: 1rem; } }
  .course__navigation .course_nav-title {
    display: flex;
    align-items: center;
    font-weight: 700; }
    .course__navigation .course_nav-title .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      border-radius: 50%;
      background: #000; }
      @media (max-width: 899px) {
        .course__navigation .course_nav-title .icon {
          width: 16px;
          height: 16px;
          margin-right: 15px; } }
    .course__navigation .course_nav-title svg {
      width: 18px;
      height: 18px;
      fill: #fff; }
      @media (max-width: 899px) {
        .course__navigation .course_nav-title svg {
          width: 16px;
          height: 16px; } }
  @media (min-width: 900px) {
    .course__navigation .course_dividing-line,
    .course__navigation .course_nav-toggle {
      display: none; } }
  .course__navigation .course_dividing-line {
    margin: 0 1rem; }
  .course__navigation .course_nav-toggle svg {
    width: 20px;
    height: 20px;
    margin-left: 5px; }
  .course__navigation .card__block--list {
    display: none;
    padding: 0; }
    @media (min-width: 900px) {
      .course__navigation .card__block--list {
        display: block !important; } }
  .course__navigation .course__list-item {
    padding: 1.25rem;
    background: #f3f3f3; }
    @media (max-width: 899px) {
      .course__navigation .course__list-item {
        padding-top: 1rem;
        padding-bottom: 1rem; } }
    .course__navigation .course__list-item:last-child {
      padding-bottom: 1.5rem; }
    .course__navigation .course__list-item.active {
      background: #fff; }
      .course__navigation .course__list-item.active .list-item__text {
        font-size: 1rem; }
        @media (max-width: 899px) {
          .course__navigation .course__list-item.active .list-item__text {
            font-size: .75rem; } }
  .course__navigation .course__items-header {
    position: relative;
    min-height: 24px;
    font-size: .75rem;
    margin-bottom: 5px;
    padding-right: 35px; }
    .course__navigation .course__items-header .list-item__section {
      font-weight: 700; }
  .course__navigation .section__status {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }
  .course__navigation .badge__container {
    padding: 1px; }
  .course__navigation .teaser__badge {
    width: 24px;
    height: 24px;
    padding: 0 !important;
    margin: 0;
    border-radius: 5px;
    overflow: hidden; }
    @media (max-width: 899px) {
      .course__navigation .teaser__badge {
        width: 18px;
        height: 18px; } }
    .course__navigation .teaser__badge .badge__icon {
      width: 22px;
      height: 22px;
      fill: #fff; }
      @media (max-width: 899px) {
        .course__navigation .teaser__badge .badge__icon {
          width: 18px;
          height: 16px; } }
  .course__navigation .list-item__text {
    font-size: .875rem;
    line-height: 24px; }
    @media (max-width: 899px) {
      .course__navigation .list-item__text {
        font-size: .75rem; } }
  .course__navigation .list-items {
    margin-top: 1.25rem;
    border-top: 1px solid #d5d6d2; }
  .course__navigation .list-item {
    padding: 1.25rem 0; }
    .course__navigation .list-item + .list-item {
      margin-top: -1.25rem; }
    .course__navigation .list-item:last-child {
      padding-bottom: 0; }
    .course__navigation .list-item.active {
      color: inherit; }
      .course__navigation .list-item.active a {
        font-weight: 700; }
    .course__navigation .list-item.not-allowed {
      opacity: .5;
      color: #4a4a4a; }
      .course__navigation .list-item.not-allowed .list-item__avatar .not-finished {
        background: transparent; }
  .course__navigation .list-item__avatar {
    display: flex;
    width: 18px;
    flex: 0 0 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 2px; }
    .course__navigation .list-item__avatar .badge {
      width: 18px;
      flex: 0 0 18px;
      height: 18px;
      padding: 0; }
    .course__navigation .list-item__avatar svg {
      width: 16px;
      height: 16px;
      fill: #fff; }
    .course__navigation .list-item__avatar .not-finished {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #4a4a4a;
      border: 1px solid #4a4a4a; }

/*# sourceMappingURL=social_course_nav.css.map */
