.paragraph--type--image-text {
  margin: 1.25em 0;
  @media (min-width: 900px) {
    display: flex;
    > div {
      width: 50%;
      &:first-child {
        padding-right: 10px;
      }
      &:last-child {
        padding-left: 10px;
      }
    }
  }
}
