p {
  margin: 0 0 0.75rem;
}

.lead {
  margin-bottom: $line-height-computed;
  font-size: floor(($font-size-base * 1.15));
  font-weight: 300;
  line-height: 1.4;

  @media (min-width: $screen-sm-min) {
    font-size: ($font-size-base * 1.5);
  }
}


.header {
	color: $brand-primary;
	font-weight: 300;
}

.subtitle {
	font-size: 0.75rem;
	line-height: 1;
}

// Blockquote
blockquote {
  margin: 20px 0;
  padding-left: 1.5em;
  border-left: 3px solid $brand-primary;
	font-weight: 500;
}


// Text Styles
em.placeholder {
	font-style: normal;
}

strong {
	font-weight: $font-weight-strong;
}

.light {
	font-weight: 300;
}

.caption {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 30px;
}

ol, ul {
  padding-left: 1.5em;

  .popover &:last-child {
    margin-bottom: 0;
  }

}

ol {
  list-style-position: outside;
}

// override bootstrap default
code {
  border-radius: 2px;
}

.section-title {
  padding: 1.25rem;
  margin: 0;

  @include MQ($small) {
    padding-left: 20px;

		// the title cannot wrap because we want to align sidebar cards vertical top with the content
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.section-title-stream {
			padding-left: 40px;
		}

		&.section-title-node {
			padding-left: 48px;
		}
  }

}

.complementary-title {
	font-size: 1.25rem;
}


.text-caption {
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
}

.text-truncate {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  max-width: 100%;
}

.post-date {
  color: $gray-light;
  font-size: 0.75rem;
  line-height: 1.25;
}


small {
  font-size: 80%;

  .label {
    font-size: 90%;
  }
}

.text-align-left           { text-align: left; }
.text-align-right          { text-align: right; }
.text-align-center         { text-align: center; }
.text-align-justify        { text-align: justify; }

small,
.small {
  font-size: floor((100% * $font-size-small / $font-size-base));
}

mark,
.mark {
  background-color: $state-warning-bg;
  padding: .2em;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors
.text-muted {
  color: $text-muted;
}

// Sizes
// -------------------------

.text-xs {		font-size: 0.4em; }
.text-s {			font-size: 0.75rem; }
.text-m {			font-size: 0.875rem; }
.text-l {			font-size: 1.125rem; }
.text-xl {		font-size: 1.25rem; }
.text-xxl {		font-size: 1.5rem; }
.text-xxxl {	font-size: 2rem; }
.text-xxxxl {	font-size: 3rem; }


// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}
.initialism {
  font-size: 90%;
  @extend .text-uppercase;
}

// Blockquotes
blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: $blockquote-font-size;
  border-left: 5px solid $blockquote-border-color;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: $line-height-base;
    color: $blockquote-small-color;

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid $blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Addresses
address {
  margin-bottom: $line-height-computed;
  font-style: normal;
  line-height: $line-height-base;
}
