{#
/**
 * @file
 * Theme override for a dropdown element.
 *
 * Available variables:
 * - attributes: HTML attributes for the dropdown tag.
 * - options: The option element children.
 *
 * @see template_preprocess_dropdown()
 */
#}
<div{{ attributes }}>
    {{ children }}
</div>
