extends ./layout/base-lu.jade

block title
  title Edit comment on Amsterdam meetup

block pagetitle

  .container.hero-container
    .cover
        h1.page-title.h2 Edit comment 

block content

  .row.margin-top-l
  
    .col-sm-9

      .card
        .card-body.extra-padding
          ul.media-list
            li.media
              .media-left
                a(href='')
                  img.media-object.img-circle.img-small(src='content/images/avatar1.jpg')
              .media-body
                h5.media-heading
                  a(href="my-stream.html") John Johnson 
                  | &bullet; 
                  br                  
                  small 6 hours ago
                form
                  .form-group
                    textarea.form-control.form-control--block.materialize-textarea(placeholder='Add a comment') We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege. 
                  .form-group.clearfix
                    button.btn.btn-primary.pull-right(type='submit') Submit
