extends ./layout/base-lu.jade

block title
  title Comment on Amsterdam Meetup

block breadcrumbs
  li
    a(href='home-lu.html') Home
  li
    a(href='group-stream.html') Amsterdam Meetup
  li.active Comment

    
block content
      
  .row
  
    .col-xs-12.col-sm-8
      
      h4.section-title Comment
      
      .card
        .card-body
          .media
            .media-left
              a(href='my-stream.html')
                img.media-object.img-circle.img-medium(src='content/images/member5.jpg')
            .media-body
              h5.media-heading
                a(href="my-stream.html") John Johnson 
              .btn-group.pull-right
                button.btn.btn-icon-toggle.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true')
                  i.material-icons expand_more
                ul.dropdown-menu(role='menu')
                  li 
                    a(href='comment-edit.html') Edit
                  li
                    a(href='comment-delete.html') Delete
              br
              small 
                a(href='comment.html') 6 hours ago

          p.margin-top-s We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege. 

          .clearfix
            a.btn.btn-link.btn-sm.pull-right(href="#insert-comment") Reply

          .card-nested-section.indented      
            include ./molecules/_reply1.jade
            include ./molecules/_reply2.jade
            
            hr
            .media
              .media-left
                img.img-medium.img-circle(src='content/images/member5.jpg')
              .media-body
                form#insert-comment
                  .form-group.form-group-inline
                    textarea.form-control.form-control--block(placeholder='Add a reply...', width='100%')
                    button.btn.btn-link(type='submit') Reply
