extends ./layout/base-lu.jade

block title
  title Amsterdam meetup

block pagetitle
  
  .container.hero-container
    .cover.cover-img.hidden-xs(style="background-image: url('content/images/event-hero.jpg')")  
      .cover-wrap   
        a.pull-right.waves-effect.waves-light.btn.btn-raised.brand-user.btn-floating(href='node-edit-event.html')
          i.material-icons mode_edit        
        h1.page-title Amsterdam Meetup
        .hero-footer
          .row.row-md-center
            .col-xs-12.col-md-6.col-md-offset-3
              div
                time.eventdate.updated June 6 2016 - 12:00 
                span @ Keizersgracht 376, Amsterdam
              div(itemprop="author", itemscope="", itemtype="http://schema.org/Person") published by 
                a.author(itemprop="url", rel="author", href="my-stream.html") John Johnson
            .col-xs-12.col-md-3
              .btn-group
                button.btn.btn-accent.btn-lg.btn-raised.dropdown-toggle(type="button", autocomplete="off", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Enrolled        
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="#") Cancel enrollment 
    
  .container  
    .visible-xs-block.section
      a.btn.btn-raised.btn-user(href="event.html")
        i.material-icons.pull-left keyboard_arrow_left
        | Back to event

  .container.hero-container  
    .brand-secondary.z-depth-1.hidden-xs
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li
            a(href='event.html') Details
          li.active
            a(href="event-enrollments.html") Enrollments
              span.visually-hidden (active tab)
      
block content
      
  .row
    .col-sm-12
      h4.section-title Event enrollments
    
    .col-sm-8
      include molecules/_member1.jade
      include molecules/_member2.jade
      include molecules/_member3.jade
      include molecules/_member4.jade
      include molecules/_member5.jade
