extends ./layout/base-lu.jade

block title
  title Explore groups

block breadcrumbs  
  li
    a(href='home-lu.html') Home
  li
    a(href='explore.html') Explore
  li
    a(href='explore-groups.html') Users

block pagetitle

  .container.hero-container
    .cover
      h1.page-title.h2 Community users
      

block content
              
  .row.margin-top-l    

    .col-xs-12.col-sm-4.col-sm-last.margin-bottom-l
    
      button.waves-effect.waves-light.btn.btn-default.btn-block.btn-raised.visible-xs-inline-block.js-open-canvas
        i.material-icons.pull-left tune
        | Filter
      .off-canvas.off-canvas-right.off-canvas-xs-only
        .offcanvas-head
          header.complementary-title Filter users
          .offcanvas-tools.visible-xs-block
            .js-close-canvas.btn.btn-icon-toggle.btn-user-light.pull-right
              i.material-icons close
      
        .offcanvas-body
          form
            label(for="expertise-input") Expertises
            .input-group.form-group  
              input#expertise-input.form-control(type="text", onchange="enableMe('reset-button', this)")
              span.input-group-addon 
                i.glyphicon.material-icons(title="loading") loop
            label(for="interests-input") Interests
            .input-group.form-group
              input#interests-input.form-control(type="text", onchange="enableMe('reset-button', this)")
              span.input-group-addon
                i.glyphicon.material-icons(title="loading") loop
            .form-group
              input#reset-button.btn.btn-default.disabled(type="submit", value="Reset")
              
    .col-xs-12.col-sm-8
    
      include molecules/_member2.jade
      include molecules/_member3.jade
      include molecules/_member4.jade
      include molecules/_member5.jade
      
      nav
        ul.pagination
          li.pager__item.pager__item--previous.disabled
            a(href="#0", aria-label='Previous')    
              span(aria-hidden="true") 
                i.material-icons chevron_left
          li.pager__item.active
            a(href="#1") 1
          li.pager__item 
            a(href="#1") 2
          li.pager__item 
            a(href="#1") 3          
          li.pager__item 
            a(href="#1") 4
          li.pager__item.pager__item--next
            a(href='#', aria-label='Next')
              span(aria-hidden="true")
                i.material-icons chevron_right

block scriptinline  
  
  script.
    function enableMe(id, elem) {
      jQuery('#' + id).removeClass('disabled');
    }
