- var white_nav = true
- var page = "Getting Started"
- var meta_descript = "Learn how to quickly get started using our CSS framework. We have guides for a variety of skill levels."

doctype html
html(lang="en")
  head
    include layout/_head.jade
  body(class='#{pagetype}')
    include layout/_navbar.jade
    include layout/_title.jade
    main
      
    include layout/_scripts.jade
