extends ./layout/base-lu.jade

block title
  title Homepage Logged-in user

block pagetitle

block breadcrumbs  
      
block content
  
  .row
  
    .col-xs-12
      h2.h3.section-title Open Social

    .col-xs-12.col-sm-8
          
      ul.stream
        li.stream-item
          i.stream-icon.stream-icon-new 
          .card.stream-card
            .card-body
              form
                .form-group
                  textarea.form-control.form-control--block.materialize-textarea(placeholder='What is on your mind?')
                .form-group.media
                  .media-body
                    .dropdown.pull-right
                      button#post-visibility.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true') 
                        i.material-icons.pull-left public
                        span.text Public 
                        span.caret
                      ul.dropdown-menu.dropdown-md(role='menu', aria-labelledby="post-visibility")
                        li.dropdown-header Visibility settings
                        li.list-group-item.active
                          .form-group
                            label(for="public") 
                              i.material-icons.pull-left public
                              | Public
                              input#public.invisible(type="radio", name="visioptions", value="Public", checked, onclick="showMe('post-visibility', this)")
                              .help-block Visible to all visitors of the site
                        li.list-group-item
                          .form-group
                            label(for="community") 
                              i.material-icons.pull-left group
                              | Community
                              input#community.invisible(type="radio", name="visioptions", value="Community", onclick="showMe('post-visibility', this)")
                              .help-block Visible only to member who are logged in
                            
                  .media-right
                    input.btn.btn-primary(type='submit', value="post")
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.jade
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
              
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.jade
              
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
              
    .col-sm-4.hidden-xs
      include ./molecules/_my-events.jade
      include ./molecules/_upcoming-events.jade
      include ./molecules/_new-topics.jade
      include ./molecules/_new-groups.jade
      include ./molecules/_new-users.jade
      
      
block scriptinline  
  
  script.  
    function showMe (it, radio) {
      var visibility = radio.value;
      var icon = jQuery(radio).prevAll('.material-icons').text();
      jQuery('#' + it).find('.text').html(visibility);
      jQuery('#' + it).find('.material-icons').html(icon);
      jQuery('#' + it).next('.dropdown-menu').find('.list-group-item').removeClass('active');
      jQuery(radio).closest('.list-group-item').addClass('active');
    }
      
