extends ./layout/base-lu.jade

block title
  title Homepage Logged-in user

block pagetitle
      
block content
  
  .row

    .col-sm-9.margin-top-xl
    
      .card.no-margin
        .card-body
          form.form-horizontal
            .form-group
              .col-xs-12
                textarea.form-control.form-control--block.materialize-textarea(placeholder='What is on your mind?')
            .form-group
              .col-xs-7.col-sm-3
                .dropdown
                  button#post-visibility.btn.btn-sm.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true') 
                    i.material-icons.pull-left public
                    span.text Public 
                    span.caret
                  ul.dropdown-menu.dropdown-md(role='menu', aria-labelledby="post-visibility")
                    li.dropdown-header Visibility settings
                    li.list-group-item.active
                      .form-group
                        label(for="public") 
                          i.material-icons.pull-left public
                          | Public
                          input#public.invisible(type="radio", name="visioptions", value="Public", checked, onclick="showMe('post-visibility', this)")
                          .help-block Visible to all visitors of the site
                    li.list-group-item
                      .form-group
                        label(for="community") 
                          i.material-icons.pull-left group
                          | Community
                          input#community.invisible(type="radio", name="visioptions", value="Community", onclick="showMe('post-visibility', this)")
                          .help-block Visible only to member who are logged in
                        
              .col-xs-5.col-sm-2.col-sm-offset-7
                input.btn.btn-sm.btn-primary.btn-block(type='submit', value="post")
    
      ul.stream
        
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
              
    .col-sm-3.margin-bottom-l.hidden-xs
      
  style.
   .card-body {padding: 10px; font-size: 14px; line-height: 18px;}
   .media-left, .media>.pull-left {padding-right: 10px;}
   .card-nested-section { margin: 0 -10px -10px -10px; font-size: 13px; padding: 10px;}
   .card-nested-section:last-child { margin-bottom: -10px;}
   .form-control {font-size: 14px;}
   .btn .material-icons, label .material-icons {line-height: 18px; height: 18px;}
   label .material-icons { font-size: inherit}
   .img-small {width: 34px; height: 34px;}
   .card-nested-section .media-body .form-group {margin-bottom: 0;}

block scriptinline  
 
 script.  
   function showMe (it, radio) {
     var visibility = radio.value;
     jQuery('#' + it).find('span.text').html(visibility);
     jQuery('#' + it).next('.dropdown-menu').find('.list-group-item').removeClass('active');
     jQuery(radio).closest('.list-group-item').addClass('active');
   }
