- var pagetype = "styleguide"
- var page = "Drupal social"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade
      
    main.styleguide-container(role='main')

      #index-banner.section
        .container
          .center
            h4.title.center A modern responsive Drupal theme based on Material Design
      .repo-link
        .container
          .commit
            span.hidden-mobile Latest commit on Github by &nbsp; &nbsp; 
            a.sha.hidden-mobile(href='')
            span.hidden-mobile &nbsp;&nbsp; - &nbsp;&nbsp;
            span.date.hidden-mobile
            a#github-button.btn-flat.right.waves-effect.waves-light View repo
  
    include ./layout/_scripts.jade
