- var pagetype = "styleguide"
- var page = "Open Social"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade
      
    main.styleguide-container(role='main')

      #index-banner.section
        .container
          br
          br
          br
          .row.center
            h5.header.col-xs-12.light A modern responsive Drupal theme based on Material Design

  
    include ./layout/_scripts.jade
    
    footer.styleguide-footer.social-blue
      .repo-link
        .container
          .row
            .col-xs-12
              .commit
                span.hidden-mobile Latest commit on Github by &nbsp; &nbsp; 
                a.sha.hidden-mobile(href='')
                span.hidden-mobile -&nbsp;
                span.date.hidden-mobile
                a#github-button.btn-flat.pull-right.waves-effect.waves-light(href='https://github.com/goalgorilla/drupal_social/tree/gh-pages') View repo
      .container
        .row
          .col-xs-12.col-md-6
            h5.white-text Help wanted!
            p.grey-text.text-lighten-4 Do you want to join us in this effort? We are welcoming your feedback, (development) time and/or financial support. For <a href="https://www.drupal.org/project/issues/social?categories=All" class="social-blue-text text-lighten-4"> feedback we will use D.O</a> for other questions or suggestions please <a href="mailto:taco@goalgorilla.com" class="social-blue-text text-lighten-4">contact us</a>.
          .col-md-3.col-xs-12.col-md-push-3
            h5.white-text Connect
            ul
              li
                a.white-text(href='https://www.drupal.org/project/social') Drupal project page
              li
                a.white-text(href='https://github.com/goalgorilla/drupal_social/tree/gh-pages') Drupal repo 
              li
                a.white-text(href='https://github.com/goalgorilla/drupal_social/issues/new') Report issues
      .footer-copyright
        .container 
          a.grey-text.text-lighten-4(href='http://www.goalgorilla.com') GoalGorilla is Founder and lead of the Open Social project 
          a.hidden.grey-text.text-lighten-4.pull-right(href='https://github.com/goalgorilla/drupal_social/blob/master/LICENSE') GPL License
