extends ./layout/base-an.jade

block title
  title Login

block secondary_navigation
  
  .style-default-bright
    .container
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.style-default-bright.nav-tabs--xl
          li.active
            a(href="login.html") Log in
              span.visually-hidden (active tab)
          li
            a(href="sign-up.html") Sign up
          li
            a(href='reset-password.html') Reset password

block content
  
  .row
    .col-xs-12.col-md-8.section-header
      h2.h3.section-title Login

      .card
      
        .card-body

          form.user-login-form(accept-charset='UTF-8')
            .form-group
              label(for='edit-name') Username
              input.form-control(type='text', autocorrect='none', autofocus='autofocus', required)

            .form-group
              label(for='edit-pass') Password
              input.form-control(type='password', required='required')
                
            #edit-actions.form-actions.form-wrapper.clearfix
              input.btn.btn-primary.right(type='submit', value='Log in')
