extends ./layout/base-an.jade

block title
  title Login

block secondary_navigation
  
  .style-default-bright.only-desktop
    .container
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.nav-justified.style-default-bright.nav-tabs--xl
          li.active
            a(href="login.html") Log in
              span.visually-hidden (active tab)
          li
            a(href="sign-up.html") Sign up
          li
            a(href='reset-password.html') Reset password

block content
  
  .row
    .col.s12.l9.section-header
      h2.h3.section-title Login

      .card.form-card
      
        .card-body

          form.user-login-form(accept-charset='UTF-8')
            .form__item.form__type-textfield
              .input-field
                input#edit-name.form-text(type='text', autocorrect='none', autofocus='autofocus', required='required')
                label(for='edit-name') Username

            .form__item.form__type-textfield
              .input-field
                input#edit-pass.form-text(type='password', required='required')
                label(for='edit-pass') Password
                
            #edit-actions.form-actions.form-wrapper
              input#edit-submit.waves-effect.waves-light.btn.form__submit(type='submit', value='Log in')
