extends ./layout/base-lu.jade

block title
  title Michael Angarano



block pagetitle
  .block-hero.only-desktop
    .container
      .row
        .col.s12.center
          img.circle.img-bordered(src='content/images/avatar0.jpg')
          h1.page-title.h2 Michael Angarano
          button.btn.white.social-blue-text following
      
block secondary_navigation
  .container
    .row.hidden-desktop.section-header
      .col.s12
        a.btn 
          i.material-icons.left keyboard_arrow_left
          | Back to timeline

  .style-primary-dark.only-desktop
    .container
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.nav-justified.style-primary-dark.nav-tabs--xl
          li
            a(href="#") Timeline  
          li
            a(href="#") Information
          li
            a(href='my-topics.html') Topics
          li.active
            a(href='my-events.html') Events
              span.visually-hidden (active tab)
          li
            a(href="#") Groups
      
block content
  
  .row
  
    .col.s12
      h2.h3.section-title My events
    
    .col.s12.l3.right
      a.waves-effect.waves-light.btn.btn--block.btn--black(href='#!') 
        i.material-icons.left add
        | Add an event

      a.btn.btn--block.hidden-desktop.js-open-canvas
        i.material-icons.left tune
        | Filters
      
      .off-canvas.off-canvas-right.off-canvas-small-only.desktop-card
        .offcanvas-head
          header.card__label filter
          .offcanvas-tools.hidden-desktop
            .js-close-canvas.btn-flat.btn-icon-toggle.btn-default-light.right
              i.material-icons close
    
        form
          .form__item.form__item-radios
            label.form__label Event status 
            .form__radios
              .form__item.form__item-radio
                input.form__radio#radio1(name='event', type='radio', checked)
                label.label--option(for='radio1') Upcoming
              .form__item.form__item-radio
                input.form__radio#radio2(name='event', type='radio')
                label.label--option(for='radio2') Past 
              .form__item.form__item-radio
                input.form__radio#radio3(name='event', type='radio')
                label.label--option(for='radio3') Unpublished
          
          .form-actions.form-wrapper
            button.btn.js-close-canvas.hidden-desktop Done

    .col.s12.l9
      .card--wrapper
        include molecules/_event1.jade
        include molecules/_event2.jade
        include molecules/_event3.jade
        include molecules/_event4.jade
        
      ul.pagination
        li.disabled
          a(href="#0")     
            i.material-icons chevron_left
        li.active
          a(href="#1") 1
        li 
          a(href="#1") 2
        li 
          a(href="#1") 3          
        li 
          a(href="#1") 4
        li
          a(href="#0")     
            i.material-icons chevron_right
