extends ./layout/base-lu.jade

block title
  title Michael Angarano

block pagetitle
  .container.hero-container.hidden-xs
    .cover
      .hero-action-button
        a.waves-effect.waves-light.btn.brand-user.btn-floating(href='profile-edit.html')
          i.material-icons mode_edit
      .cover-wrap
        h1.page-title.h2 John Johnson
        p Receptionist - Bastion Hotels
        img.img-circle.img-bordered(src='content/images/avatar1.jpg')
        
  
  .container
    .visible-xs-block.section
      a.btn.btn-raised.btn-user(href="my-stream.html")
        i.material-icons.pull-left keyboard_arrow_left
        | Back to my stream

  .container.hero-container    
    .brand-secondary.z-depth-1.hidden-xs
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li
            a(href="my-stream.html") Stream  
          li
            a(href="my-profile-about.html") About
          li
            a(href='my-topics.html') Topics
          li
            a(href='my-events.html') Events 
          li.active
            a(href="my-groups.html") Groups
              span.visually-hidden (active tab) 
      
block content
  
  .row
  
    .col-xs-12
      h2.h3.section-title My groups
    
    .col-xs-12.col-sm-3.pull-right.margin-bottom-l
      a.waves-effect.waves-light.btn.btn-block.btn-user.btn-raised(href='node-add-topic.html') Create group

    .col-xs-12.col-sm-9
      include molecules/_group1.jade
      include molecules/_group2.jade
      include molecules/_group3.jade
      include molecules/_group4.jade
        
      nav
        ul.pagination
          li.pager__item.pager__item--previous.disabled
            a(href="#0", aria-label='Previous')    
              span(aria-hidden="true") 
                i.material-icons chevron_left
          li.pager__item.active
            a(href="#1") 1
          li.pager__item 
            a(href="#1") 2
          li.pager__item.pager__item--next
            a(href='#', aria-label='Next')
              span(aria-hidden="true")
                i.material-icons chevron_right

block scriptinline  
  
  script.
    function enableMe() {
      jQuery('#reset-button').removeClass('disabled');
    }
