extends ./layout/base-lu.jade

block title
  title John Johnson

block pagetitle
  .container.hidden-xs
    .cover
      .cover-wrap
        a.pull-right.waves-effect.waves-light.btn.btn-raised.style-default-dark.btn-floating(href='profile-edit.html')
          i.material-icons mode_edit   
        h1.page-title.h2 John Johnson
        img.img-circle.img-bordered(src='content/images/avatar1.jpg')
      
block secondary_navigation
  .container
    .visible-xs-block.section
      a.btn.btn-raised.btn-default(href="my-stream.html")
        i.material-icons.pull-left keyboard_arrow_left
        | Back to my stream

  .container
    .brand-secondary.z-depth-1.hidden-xs
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li
            a(href="my-stream.html") Stream  
          li.active
            a(href="my-profile-about.html") About
            span.visually-hidden (active tab)
          li
            a(href='my-topics.html') Topics
          li
            a(href='my-events.html') Events  
          li
            a(href="#.html") Groups
      
block content
  
  .row
    .col-sm-12
      h4.section-title About you
    
    .col-xs-12.col-sm-8
      
      .card
        .card-body.extra-padding
        
          ul.collection
            li.collection-item
              h4 Contact information
            li.collection-item 
              .collection-label Phone
              .collection-field +31 612345678
            li.collection-item 
              .collection-label E-mail
              .collection-field 
                a(href="example@domain.com") john@johnjohnson.com    
            li.collection-item 
              .collection-label Address
              .collection-field 
                | My street name 123 
                br
                | 1234 BB
                br
                | Amsterdam
          
          h4 Intro
          p Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla.
          
          h4 Your interests
          .chip drupal
          .chip sales
          .chip barbecues
          
          h4 Your expertise
          .chip php
          .chip interaction design
          .chip cooking
              
                    
              
          
          
