extends ./layout/base-lu.jade

block title
  title John Johnson

block pagetitle
  .container.hero-container
    .cover
      .hero-action-button
        a.waves-effect.waves-light.btn.brand-user.btn-floating(href='profile-edit.html')
          i.material-icons mode_edit
      .cover-wrap
        h1.page-title.h2 John Johnson
        img.img-circle(src='content/images/avatar1.jpg')
      
    .brand-secondary.z-depth-1
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li.active
            a(href="my-stream.html") Stream  
            span.visually-hidden (active tab)
          li
            a(href="my-profile-about.html") About
          li
            a(href='my-topics.html') Topics
          li
            a(href='my-events.html') Events  
          li
            a(href="#") Groups
      
block content
  
  .row
  
    .col-xs-12
      h2.h3.section-title My stream
  
  .row

    .col-sm-8
      
      ul.stream
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post-form.jade
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.jade
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
              
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
              
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.jade    
      
    .col-xs-12.col-sm-4.pull-right.margin-bottom-l
      a.waves-effect.waves-light.btn.btn-block.btn-user.margin-bottom-l.btn-raised(href='#') 
        i.material-icons.pull-left add
        | Add content
      include ./molecules/_my-upcoming-events.jade
      include ./molecules/_new-topics.jade
      include ./molecules/_new-groups.jade
      
block scriptinline  
  
  script.  
    function showMe (it, radio) {
      var visibility = radio.value;
      var icon = jQuery(radio).prevAll('.material-icons').text();
      jQuery('#' + it).find('.text').html(visibility);
      jQuery('#' + it).find('.material-icons').html(icon);
      jQuery('#' + it).next('.dropdown-menu').find('.list-group-item').removeClass('active');
      jQuery(radio).closest('.list-group-item').addClass('active');
    }
