extends ./layout/base-lu.jade

block title
  title John Johnson

block pagetitle
  .container.hero-container
    .cover
      .hero-action-button
        a.waves-effect.waves-light.btn.brand-user.btn-floating(href='profile-edit.html')
          i.material-icons mode_edit
      .cover-wrap
        h1.page-title.h2 John Johnson
        br
        img.img-circle.img-medium(src='content/images/avatar1.jpg')
        .hero-footer
          .row.row-md-center
            .col-xs-12.col-md-6.col-md-offset-3
              p Receptionist - Bastion Hotels
      
    .brand-secondary.z-depth-1
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li.active.hidden-xs
            a(href="my-stream.html") Stream  
            span.visually-hidden (active tab)
          li
            a(href="my-profile-about.html") About
          li
            a(href='my-topics.html') Topics
          li
            a(href='my-events.html') Events  
          li
            a(href="my-groups.html") Groups
      
block content
  
  .row
    .col-sm-12
      h4.section-title My stream
      
    .col-sm-8
      
      ul.stream
        li.stream-item
          i.stream-icon.stream-icon-new  
          .card.stream-card
            .card-body
              include ./molecules/_stream-post-form.jade
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.jade
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
              
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.jade
              
        li.stream-item
          i.stream-icon 
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.jade    
      
    .col-sm-4.hidden-xs

      include ./molecules/_my-events.jade
      include ./molecules/_my-topics.jade
      include ./molecules/_my-groups.jade
      
block scriptinline  
  
  script.  
    function showMe (it, radio) {
      var visibility = radio.value;
      var icon = jQuery(radio).prevAll('.material-icons').text();
      jQuery('#' + it).find('.text').html(visibility);
      jQuery('#' + it).find('.material-icons').html(icon);
      jQuery('#' + it).next('.dropdown-menu').find('.list-group-item').removeClass('active');
      jQuery(radio).closest('.list-group-item').addClass('active');
    }
