- var pagetype = "styleguide"
- var page = "Navigation"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
    body(class='#{pagetype}')
      header.styleguide-header
        include ./layout/_navbar.jade

      main.styleguide-container(role='main')
        .container
          .section
            p This navbar component is used for the main navigation positioned in the header region.
            
            nav.navbar.navbar-default.navbar-static-top
              .container

                a.navbar-brand(href='#')
                  object#front-page-logo(type='image/svg+xml', data='images/social-logo-white.svg') Your browser does not support SVG
                
                .navbar-header
                
                  button.navbar-toggle.collapsed(href='#', data-toggle='collapse', data-target='#menu-dropdown', type='button', aria-haspopup='true', aria-expanded='false')
                    span.sr-only Toggle navigation
                    i.material-icons(title='menu') menu                
                
                  ul.nav.navbar-nav.navbar-right
                    li.hidden-xs
                      a(href='#')
                        i.material-icons(title='Add content') add
                        span.sr-only Add content
                    li.hidden-xs
                      a(href='#') Home
                    li
                      a(href='#')
                        i.material-icons.hidden-sm.hidden-md.hidden-lg(title='Notifications') people
                        span.hidden-xs Groups
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        i.material-icons(title='Notifications') notifications
                        sup.badge 4
                      ul.dropdown-menu.notifications-nav
                        li
                          .dropdown-header Notifications
                        li
                          a.media(href='#')
                            .media-left
                              img.img-medium.img-circle(src='content/images/avatar2.jpg', alt='')
                            .media-body Clive Owen
                              br
                              small.text-muted Commented on your post
                        li
                          a.media(href='#')
                            .media-left
                              img.img-medium.img-circle(src='content/images/avatar3.jpg', alt='')
                            .media-body Jeremy Bob
                              br
                              small.text-muted Liked your post
                        li
                          a.media(href='#')
                            .media-left
                              img.img-medium.img-circle(src='content/images/avatar4.jpg', alt='')
                            .media-body Bettie McLaren
                              br
                              small.text-muted likes your event 
                                strong Amsterdam Meetup
                        li
                          .dropdown-header
                            a(href="#") See more
                              span.pull-right 
                                i.material-icons chevron_right
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        i.material-icons(title='admin') account_box
                        span.hidden-xs Maikel
                      ul.dropdown-menu
                        li
                          a(href='#') View profile
                        li
                          a(href='#') Edit profile
                        li
                          a(href='#') Edit account
                        li.divider
                        li
                          a(href='#') Log out
                    
                #menu-dropdown.collapse.navbar-collapse(aria-expanded='false')
                  ul.nav.navbar-nav
                    li
                      a(href='#') Explore
                    li
                      form.navbar-form.navbar-left(role='search')
                        #navbar-search.form-group
                          input#search.form-control(type='text', placeholder='Search', name='search')
                          input.form-submit(type='submit', value='')
                          span.search-icon
                            i.material-icons search
                
            pre
              code.language-markup.
                <nav class="navbar navbar-default navbar-static-top">
                  <div class="container"><a href="#" class="navbar-brand">
                    <object id="front-page-logo" type="image/svg+xml" data="images/social-logo-white.svg">Your browser does not support SVG</object></a>
                  <div class="navbar-header">
                    <button href="#" data-toggle="collapse" data-target="#menu-dropdown" type="button" aria-haspopup="true" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><i title="menu" class="material-icons">menu                </i></button>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="hidden-xs"><a href="#"><i title="Add content" class="material-icons">add</i><span class="sr-only">Add content</span></a></li>
                      <li class="hidden-xs active"><a href="#">Home</a></li>
                      <li><a href="#"><i title="Notifications" class="material-icons hidden-sm hidden-md hidden-lg">people</i><span class="hidden-xs">Groups</span></a></li>
                      <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i title="Notifications" class="material-icons">notifications</i><sup class="badge">4</sup></a>
                        <ul class="dropdown-menu notifications-nav">
                          <li>
                            <div class="dropdown-header">Notifications</div>
                          </li>
                          <li><a href="#" class="media">
                              <div class="media-left"><img src="content/images/avatar2.jpg" alt="" class="img-small img-circle"/></div>
                              <div class="media-body">Clive Owen<br/><small class="text-muted">Commented on your post</small></div></a></li>
                          <li><a href="#" class="media">
                              <div class="media-left"><img src="content/images/avatar3.jpg" alt="" class="img-small img-circle"/></div>
                              <div class="media-body">Jeremy Bob<br/><small class="text-muted">Liked your post</small></div></a></li>
                          <li><a href="#" class="media">
                              <div class="media-left"><img src="content/images/avatar4.jpg" alt="" class="img-small img-circle"/></div>
                              <div class="media-body">Bettie McLaren<br/><small class="text-muted">likes your event <strong>8th anniversary our beloved company</strong></small></div></a></li>
                          <li>
                            <div class="dropdown-header"><a href="#">See more<span class="pull-right"> <i class="material-icons">chevron_right</i></span></a></div>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i title="admin" class="material-icons">account_box</i><span class="hidden-xs">Maikel</span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">View profile</a></li>
                          <li><a href="#">Edit profile</a></li>
                          <li><a href="#">Edit account</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Log out</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div id="menu-dropdown" aria-expanded="false" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li><a href="#">Explore</a></li>
                      <li>
                        <form role="search" class="navbar-form navbar-left">
                          <div id="navbar-search" class="form-group">
                            <input id="search" type="text" placeholder="Search" name="search" class="form-control"/>
                            <input type="submit" value="" class="form-submit"/><span class="search-icon"><i class="material-icons">search</i></span>
                          </div>
                        </form>
                      </li>
                    </ul>
                  </div>
                  </div>
                  </nav>

    include ./layout/_scripts.jade
    script.
      new UISearch( document.getElementById( 'navbar-search' ) );
