- var pagetype = "styleguide"
- var page = "Navigation"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
    body(class='#{pagetype}')
      header.styleguide-header
        include ./layout/_navbar.jade

      main.styleguide-container(role='main')
        .container
          .row
            .col.s12
              .section
                p This navbar component is used for the main navigation positioned in the header region.
                
                nav.navbar.navbar-default.navbar-fixed-top
                  .container
                    a.navbar-brand(href='#')
                      object#front-page-logo(type='image/svg+xml', data='images/social-logo-white.svg') Your browser does not support SVG
                    ul.nav.navbar-nav.navbar-right
                      li.hidden-xs
                        a(href='#') +
                      li.hidden-xs.active
                        a(href='#') Home
                      li
                        a(href='#')
                          i.material-icons.hidden-sm.hidden-md.hidden-lg(title='Notifications') people
                          span.hidden-xs Groups
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                          i.material-icons(title='Notifications') notifications
                          sup.badge 4
                        ul.dropdown-menu.notifications-nav
                          li
                            .dropdown-header 
                              span Notifications
                          li
                            a(href='#') 
                              .user-picture
                                img(src='images/person1.jpg', alt='')
                              .user-name
                                span Clive Owen
                              .user-action
                                span Commented on your post
                          li
                            a(href='#')
                              .user-picture
                                img(src='images/person2.jpg', alt='')
                              .user-name 
                                span Jeremy Bob
                              .user-action
                                span Liked your post
                          li
                            .dropdown-footer
                              a(href="") See more
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                          i.material-icons(title='admin') account_box
                          span.hidden-xs Maikel
                        ul.dropdown-menu
                          li
                            a(href='#') 
                              i.material-icons(title='admin') portrait
                              span My profile
                          li
                            a(href='#') 
                              i.material-icons(title='admin') mode_edit
                              span Edit account
                          li
                            a(href='#') 
                              i.material-icons(title='admin') settings
                              span Account settings
                          li
                            a(href='#')
                              i.material-icons(title='admin') power_settings_new
                              span Log out
                      li.hidden-sm.hidden-md.hidden-lg
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                          i.material-icons(title='menu') menu
                        ul.dropdown-menu
                          li
                            a(href='#') 
                              i.material-icons(title='menu') explore
                              span Explore
                          li
                            form.navbar-form.navbar-left(role='search')
                              .form-group
                                input.form-control(type='text', placeholder='Search')
                    ul#navbar-collapse.collapse.navbar-collapse.nav.navbar-nav.navbar-left 
                      li
                        a(href='#') Explore
                      li
                        form.navbar-form.navbar-left(role='search')
                          .form-group
                            input.form-control(type='text', placeholder='Search')
                    
                pre
                  code.language-markup.
                    <nav class="navbar navbar-default navbar-fixed-top">
                      <div class="container"><a href="#" class="navbar-brand">
                          <object id="front-page-logo" type="image/svg+xml" data="images/social-logo-white.svg">Your browser does not support SVG</object></a>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="hidden-xs"><a href="#">+</a></li>
                          <li class="hidden-xs active"><a href="#">Home</a></li>
                          <li><a href="#"><i title="Notifications" class="material-icons hidden-sm hidden-sm hidden-lg">people</i><span class="hidden-xs">Groups</span></a></li>
                          <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i title="Notifications" class="material-icons">notifications</i><sup class="badge">4</sup></a>
                            <ul class="dropdown-menu notifications-nav">
                              <li>
                                <div class="dropdown-header"> <span>Notifications</span></div>
                              </li>
                              <li><a href="#">
                                  <div class="user-picture"><img src="images/person1.jpg" alt=""/></div>
                                  <div class="user-name"><span>Clive Owen</span></div>
                                  <div class="user-action"><span>Commented on your post</span></div></a></li>
                              <li><a href="#">
                                  <div class="user-picture"><img src="images/person2.jpg" alt=""/></div>
                                  <div class="user-name"> <span>Jeremy Bob</span></div>
                                  <div class="user-action"><span>Liked your post</span></div></a></li>
                              <li>
                                <div class="dropdown-footer"><a href="">See more</a></div>
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i title="admin" class="material-icons">account_box</i><span class="hidden-xs">Maikel</span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">My profile</a></li>
                              <li><a href="#">Edit account</a></li>
                              <li><a href="#">Edit profile</a></li>
                              <li><a href="#">Log out</a></li>
                            </ul>
                          </li>
                          <li class="hidden-sm hidden-lg"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i title="admin" class="material-icons">menu</i></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Explore</a></li>
                              <li>
                                <form role="search" class="navbar-form navbar-left">
                                  <div class="form-group">
                                    <input type="text" placeholder="Search" class="form-control"/>
                                  </div>
                                </form>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <ul id="navbar-collapse" class="collapse navbar-collapse nav navbar-nav navbar-left">
                          <li><a href="#">Explore</a></li>
                          <li>
                            <form role="search" class="navbar-form navbar-left">
                              <div class="form-group">
                                <input type="text" placeholder="Search" class="form-control"/>
                              </div>
                            </form>
                            <div id="search-wrapper" class="form-item form-type-search input-field search-open"><i class="material-icons prefix search__icon">search</i>
                              <input id="icon_prefix" type="text" class="form-text search__input">
                              <label for="icon_prefix" class="search__label">Search the entire website</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      </nav>

    include ./layout/_scripts.jade
