- var pagetype = "styleguide"
- var page = "Navigation"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
    body(class='#{pagetype}')
      header.styleguide-header
        include ./layout/_navbar.jade

      main.styleguide-container(role='main')
        .container
          .section
            p This navbar component is used for the main navigation positioned in the header region.
            
            nav.navbar.navbar-default.navbar-static-top
              .container

                a.navbar-brand(href='#')
                  object#front-page-logo(type='image/svg+xml', data='images/social-logo-white.svg') Your browser does not support SVG
                
                .navbar-header
                
                  button.navbar-toggle.collapsed(href='#', data-toggle='collapse', data-target='#menu-dropdown', type='button', aria-haspopup='true', aria-expanded='false')
                    span.sr-only Toggle navigation
                    i.material-icons(title='menu') menu                
                
                  ul.nav.navbar-nav.navbar-right
                    li.hidden-xs
                      a(href='#')
                        i.material-icons(title='Add content') add
                        span.sr-only Add content
                    li.hidden-xs
                      a(href='#') Home
                    li
                      a(href='#')
                        i.material-icons.hidden-sm.hidden-md.hidden-lg(title='Notifications') people
                        span.hidden-xs Groups
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        i.material-icons(title='Notifications') notifications
                        sup.badge 4
                      ul.dropdown-menu.notifications-nav
                        li
                          .dropdown-header Notifications
                        li
                          a.media(href='#')
                            .media-left
                              img.img-small.img-circle(src='content/images/avatar2.jpg', alt='')
                            .media-body Clive Owen
                              br
                              small.text-muted Commented on your post
                        li
                          a.media(href='#')
                            .media-left
                              img.img-small.img-circle(src='content/images/avatar3.jpg', alt='')
                            .media-body Jeremy Bob
                              br
                              small.text-muted Liked your post
                        li
                          a.media(href='#')
                            .media-left
                              img.img-small.img-circle(src='content/images/avatar4.jpg', alt='')
                            .media-body Bettie McLaren
                              br
                              small.text-muted likes your event 
                                strong 8th anniversary our beloved company
                        li
                          .dropdown-header
                            a(href="#") See more
                              span.pull-right 
                                i.material-icons chevron_right
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        i.material-icons(title='admin') account_box
                        span.hidden-xs Maikel
                      ul.dropdown-menu
                        li
                          a(href='#') View profile
                        li
                          a(href='#') Edit profile
                        li
                          a(href='#') Edit account
                        li.divider
                        li
                          a(href='#') Log out
                    
                #menu-dropdown.collapse.navbar-collapse(aria-expanded='false')
                  ul.nav.navbar-nav
                    li
                      a(href='#') Explore
                    li
                      form.navbar-form.navbar-left(role='search')
                        #navbar-search.form-group
                          input#search.form-control(type='text', placeholder='Search', name='search')
                          input.form-submit(type='submit', value='')
                          span.search-icon
                            i.material-icons search
                
            pre
              code.language-markup.
                <nav class="navbar navbar-default navbar-static-top">
                  <div class="container"><a href="#" class="navbar-brand">
                      <object id="front-page-logo" type="image/svg+xml" data="images/social-logo-white.svg">Your browser does not support SVG</object></a>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="hidden-xs"><a href="#">+</a></li>
                      <li class="hidden-xs active"><a href="#">Home</a></li>
                      <li><a href="#"><i title="Notifications" class="material-icons hidden-sm hidden-sm hidden-lg">people</i><span class="hidden-xs">Groups</span></a></li>
                      <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i title="Notifications" class="material-icons">notifications</i><sup class="badge">4</sup></a>
                        <ul class="dropdown-menu notifications-nav">
                          <li>
                            <div class="dropdown-header"> <span>Notifications</span></div>
                          </li>
                          <li><a href="#">
                              <div class="user-picture"><img src="content/images/avatar2.jpg" alt=""/></div>
                              <div class="user-name"><span>Clive Owen</span></div>
                              <div class="user-action"><span>Commented on your post</span></div></a></li>
                          <li><a href="#">
                              <div class="user-picture"><img src="content/images/avatar3.jpg" alt=""/></div>
                              <div class="user-name"> <span>Jeremy Bob</span></div>
                              <div class="user-action"><span>Liked your post</span></div></a></li>
                          <li>
                            <div class="dropdown-footer"><a href="#">See more</a></div>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i title="admin" class="material-icons">account_box</i><span class="hidden-xs">Maikel</span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">My profile</a></li>
                          <li><a href="#">Edit account</a></li>
                          <li><a href="#">Edit profile</a></li>
                          <li><a href="#">Log out</a></li>
                        </ul>
                      </li>
                      <li class="hidden-sm hidden-lg"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i title="admin" class="material-icons">menu</i></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Explore</a></li>
                          <li>
                            <form role="search" class="navbar-form navbar-left">
                              <div class="form-group">
                                <input type="text" placeholder="Search" class="form-control"/>
                              </div>
                            </form>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <ul id="navbar-collapse" class="collapse navbar-collapse nav navbar-nav navbar-left">
                      <li><a href="#">Explore</a></li>
                      <li>
                        <form role="search" class="navbar-form navbar-left">
                          <div class="form-group">
                            <input type="text" placeholder="Search" class="form-control"/>
                          </div>
                        </form>
                        <div id="search-wrapper" class="form-item form-type-search input-field search-open"><i class="material-icons prefix search__icon">search</i>
                          <input id="icon_prefix" type="text" class="form-text search__input">
                          <label for="icon_prefix" class="search__label">Search the entire website</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  </nav>

    include ./layout/_scripts.jade
    script.
      new UISearch( document.getElementById( 'navbar-search' ) );
