extends ./layout/base-lu.jade

- var ckeditor = true

block title
  title Edit Topic Where has all the corn in the midwest gone?

block pagetitle
  .block-hero.cover
    .container
      h1.page-title.h2 Edit: Where has all the corn in the midwest gone?

      
block content
      
  .row.margin-top-l
    .col-xs-12.col-sm-9
    
      form.node-form
      
        #content.card.card-underline.scrollspy
        
          .card-head
            header Content
      
          .card-body

            .row
              .col-xs-12
                .form-item.form__item-radios
                  label.form__label.form-required Topic type
                  .form__radios
                    .form-item
                      input#blog.form-radio(type='radio', checked, name='type')
                      label.option(for='blog') Blog
                    .form-item
                      input#discussion.form-radio(type='radio', name='type')
                      label.option(for='discussion') Discussion
                    .form-item
                      input#topic.form-radio(type='radio', name='type')
                      label.option(for='topic') Topic  
            .row
              .col-xs-12.col-sm-8
                .form-item.form__type-textfield
                  label.form__label.form-required Title
                  input.form-text.required(type="text", value='Where has all the corn in the midwest gone?')
            .row
              .col-xs-12
                .form-item.form__type-textarea
                  label.form__label.form-required Description
                  .textarea--cke
                    textarea#ckeditor.form-text.form-textarea
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. An me, inquam, nisi te audire vellem, censes haec dicturum fuisse? Summae mihi videtur inscitiae. Non enim iam stirpis bonum quaeret, sed animalis. Tu vero, inquam, ducas licet, si sequetur; In qua quid est boni praeter summam voluptatem, et eam sempiternam? Duo Reges: constructio interrete. Verba tu fingas et ea dicas, quae non sentias?


            .row
              .col-xs-12 
                .form-item.form__type-managed-file
                  label.form__label Image
                  .image-widget.form-managed-file.clearfix
                    img.img-responsive.left(src='content/images/animals1-square.jpg', width='100')
                    .left.padding-s
                      .file.file--image
                      a(href='#', type="image/jpeg; length=158378") animals1-square.jpg
                      .file-size (154.78kb)
                    .left.padding-s
                      button.btn.btn-flat.form-submit(type='submit', value='remove')
                        i.material-icons.left delete
                        | Remove
                  .form__item-help-text(style='display:none') One file only - 2 MB limit - Allowed types: png gif jpg jpeg
          
        #placement.card.card-underline.scrollspy
        
          .card-head
            header Placement and visibility
      
          .card-body 
            .row
              .col-xs-12
                .form-item.form__item-radios
                  label.form__label.form-required Add topic to
                  .form__radios
                    .form-item
                      input#profile.form-radio(type='radio', name='placement')
                      label.option(for='profile') My profile
                    .form-item
                      input#group.form-radio(type='radio', checked, name='placement', onclick="showMe('selectagroup', this)")
                      label.option(for='group') A group I am a member of:
              #selectagroup
                .form-item.col.col-xs-12.col-sm-6.margin-top-s
                  select.browser-default
                    option(value='', disabled='',) Select a group
                    option(value='1') Group name 1
                    option(value='2', selected='') Group name 2
                    option(value='3') Group name 3
            
            .row
              .col-xs-12      
                .form-item.form__item-radios
                  label.form__label.form-required Visibility
                  .form__radios
                    .form-item
                      input#public.form-radio(type='radio', name='visibility')
                      label.option(for='public') Public
                      .form__item-help-text Community visible to all visitors of the platform
                    .form-item
                      input#community.form-radio(type='radio', checked, name='visibility')
                      label.option(for='community') Community
                      .form__item-help-text visible only to logged in members
                    .form-item
                      input#groups.form-radio(type='radio', name='visibility')
                      label.option(for='groups') Groups
                      .form__item-help-text Visible only to group members

                      
          
            
      #comment-settings.form-item.card.scrollspy.tabs-left
        ul.card-head.nav.nav-tabs.style-default-light(data-toggle="tabs")
          li.active
            a(href="#comments") Comment settings
              
        .card-body.tab-content
          #comments.tab-pane.active
            .form-item.form__item-radios
              label.form__label.form-required Comments
              .form__radios
                .form-item
                  input#open.form-radio(type='radio', name='comments')
                  label.option(for='open') Open
                  .form__item-help-text Users with the "Post comments" permission can post comments.
                .form-item
                  input#closed.form-radio(type='radio', checked, name='comments')
                  label.option(for='closed') Closed
                  .form__item-help-text Users cannot post comments.
              
      .form-wrapper.clearfix
        a.waves-effect.waves-light.btn.btn-raised.btn--default-bright(href="#") Discard changes
        a.btn.btn-flat(href='#') Delete
        input.waves-effect.waves-light.btn.btn-raised.btn--primary.right(type='submit', value='Save') 
        input.waves-effect.waves-light.btn.btn-raised.btn--default-dark.right(type='submit', value='Preview') 
        

    .col-sm-3.hidden-mobile
      .toc-wrapper
        ul.section.table-of-contents
          li
            a(href='#content') Content
          li
            a(href='#placement') Placement and visibility
          li
            a(href='#comment-settings') Comment settings

        
block scriptinline  
  script(src='libs/ckeditor/ckeditor.js')
  script(src='libs/ckeditor/adapters/jquery.js')
  
  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();  
    });
    
    function showMe (it, box) {
      var visibility = (box.checked) ? "block" : "none";
      document.getElementById(it).style.display = visibility;
    }
