extends ./layout/base-lu.jade

- var ckeditor = true

block title
  title Create Topic

block pagetitle
  .block-hero
    .container
      .row
        .col.s12.center.margin-bottom-xxl
          h1.page-title.h2 Create Topic         

      
block content
      
  .row.margin-top-l
    .col.s12.l9
    
      form.node-form
        
        .form-item.form__type-textfield
          label.form__label.form-required Title
          input.form-text.required(type="text")
        
        .form-item.form__type-textarea
          label.form__label.form-required Description
          .textarea--cke
            textarea#ckeditor.form-text.form-textarea
            
        .form-item.form__item-radios
          label.form__label.form-required Topic type
          .form__radios
            .form-item
              input#blog.form-radio(type='radio', checked, name='type')
              label.option(for='blog') Blog
            .form-item
              input#discussion.form-radio(type='radio', name='type')
              label.option(for='discussion') Discussion
            .form-item
              input#topic.form-radio(type='radio', name='type')
              label.option(for='topic') Topic
              
        .form-item.form__type-managed-file
          label.form__label.form-required Image
          .file-field.input-field
            .btn
              span file
              input(type='file')
            .file-path-wrapper
              input.file-path.form-text(type='text')
          .form__item-help-text One file only - 2 MB limit - Allowed types: png gif jpg jpeg
          
        .form-item.card
          ul.card-head.nav.nav-tabs.style-default-bright(data-toggle="tabs")
            li.active
              a(href="#comments") Comment settings
                
          .card-body.tab-content
            #comments.tab-pane.active
              .form-item.form__item-radios
                label.form__label.form-required Comments
                .form__radios
                  .form-item
                    input#open.form-radio(type='radio', checked, name='comments')
                    label.option(for='open') Open
                    .form__item-help-text Users with the "Post comments" permission can post comments.
                  .form-item
                    input#closed.form-radio(type='radio', name='comments')
                    label.option(for='closed') Closed
                    .form__item-help-text Users cannot post comments.
              
        .form-wrapper
          input.waves-effect.waves-light.btn.btn-raised.btn--primary(type='submit', value='Save') 
          input.waves-effect.waves-light.btn.btn-raised.btn--secondary(type='submit', value='Preview') 


        
block scriptinline  
  script(src='libs/ckeditor/ckeditor.js')
  script(src='libs/ckeditor/adapters/jquery.js')
  
  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();  
    });
