extends ./layout/base-lu.jade

block title
  title Create Topic  

      
block content
      
  .row
  
    .col-xs-12
      h1.h4.section-title Create Topic
      
    .col-xs-12.col-sm-4.col-sm-last
      .toc-wrapper
        ul.table-of-contents
          li
            a(href='#content') Content
          li
            a(href='#description') Description
          li
            a(href='#comment-settings') Comment settings
      
    .col-xs-12.col-sm-8
    
      form(action='topic.html', method='get')
      
        #content.card.card-underline.scrollspy
        
          .card-head
            header Content
      
          .card-body

            .form-group.radios
              label.form-required Topic type
              .radio
                input#blog(type='radio', name='type')
                label(for='blog') Blog
              .radio
                input#discussion(type='radio', name='type')
                label(for='discussion') Discussion
              .radio
                input#topic(type='radio', name='type')
                label(for='topic') Topic  

            .form-group
              label.form-required Title
              input.form-control(type="text", required)

            .form-group.form__type-managed-file
              label Image
              .image-widget.form-managed-file.clearfix
                input.form-control(type='file', value='upload an image')
                button.btn.form-submit.style-default.js-hide(type='submit', value='remove')
                  i.material-icons.pull-left file_upload
                  | Upload
              .help-block One file only - 2 MB limit - Allowed types: png gif jpg jpeg
        
        #description.card.card-underline.scrollspy
          .card-head
            header Event description
      
          .card-body 
            .form-group
              label.form-required Description
              .textarea--cke
                textarea#ckeditor.form-control(required)
            
        #comment-settings.form-item.card.scrollspy.tabs-left
          ul.card-head.nav.nav-tabs.style-default-light(data-toggle="tabs")
            li.active
              a(href="#comments") Comment settings
                
          .card-body.tab-content
            #comments.tab-pane.active
              .form-group.radios
                label.form-required Comments
                .radio
                  input#open(type='radio', checked, name='comments')
                  label(for='open') Open
                  .help-block Users with the "Post comments" permission can post comments.
                .radio
                  input#closed(type='radio', name='comments')
                  label(for='closed') Closed
                  .help-block Users cannot post comments.
              
        .form-actions.clearfix          
          input.waves-effect.waves-light.btn.btn-raised.btn-primary.pull-right(type='submit', value='Save') 
          input.waves-effect.waves-light.btn.btn-raised.btn-default(type='submit', value='Preview')  

    

        
block scriptinline  
  script(src='libs/ckeditor/ckeditor.js')
  script(src='libs/ckeditor/adapters/jquery.js')
  
  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();  
    });
    
    function showMe (it, it2, box) {
      var visibility = (box.checked) ? "block" : "none";
      document.getElementById(it).style.display = visibility;
      document.getElementById(it2).style.display = visibility;
    }
