extends ./layout/base-lu.jade

- var ckeditor = true

block title
  title Edit Topic Where has all the corn in the midwest gone?

block pagetitle
  .block-hero.cover
    .container
      h1.page-title.h2 Edit: Where has all the corn in the midwest gone?

      
block content
      
  .row.margin-top-xl
    .col-xs-12.col-sm-9
    
      form.node-form
      
        #content.card.card-underline.scrollspy
          .card-head
            header Content
          .card-body
            .form-group.radios
              label.form-required Topic type
              .radio
                input#blog(type='radio', checked, name='type')
                label(for='blog') Blog
              .radio
                input#discussion(type='radio', name='type')
                label(for='discussion') Discussion
              .radio
                input#topic(type='radio', name='type')
                label(for='topic') Topic  
                
            .form-group
              label.form-required Title
              input.form-control(type="text", value='Where has all the corn in the midwest gone?')
            
            .form-group
              label.form-required Description
              .textarea--cke
                textarea#ckeditor.form-control.form-textarea
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. An me, inquam, nisi te audire vellem, censes haec dicturum fuisse? Summae mihi videtur inscitiae. Non enim iam stirpis bonum quaeret, sed animalis. Tu vero, inquam, ducas licet, si sequetur; In qua quid est boni praeter summam voluptatem, et eam sempiternam? Duo Reges: constructio interrete. Verba tu fingas et ea dicas, quae non sentias?

            .form-group.form__type-managed-file
              label Image
              .image-widget.form-managed-file.clearfix
                img.img-responsive.left(src='content/images/animals1-square.jpg', width='100')
                .left.padding-s
                  .file.file--image
                  a(href='#', type="image/jpeg; length=158378") animals1-square.jpg
                  .file-size (154.78kb)
                .left.padding-s
                  button.btn.btn-flat.form-submit(type='submit', value='remove')
                    i.material-icons.left delete
                    | Remove
              .help-block(style='display:none') One file only - 2 MB limit - Allowed types: png gif jpg jpeg
          
        #placement.card.card-underline.scrollspy
        
          .card-head
            header Placement and visibility
      
          .card-body 
            .form-group.radios
              label.form-required Add topic to
              .radio
                input#profile(type='radio', name='placement')
                label(for='profile') My profile
              .radio
                input#group(type='radio', checked, name='placement', onclick="showMe('selectagroup', this)")
                label(for='group') A group I am a member of:
              #selectagroup
                  select.form-control
                    option(value='', disabled='',) Select a group
                    option(value='1') Group name 1
                    option(value='2', selected='') Group name 2
                    option(value='3') Group name 3
            
            .form-group.radios
              label.form-required Visibility
              .radio
                input#public(type='radio', name='visibility')
                label(for='public') Public
                .help-block Community visible to all visitors of the platform
              .radio
                input#community(type='radio', checked, name='visibility')
                label(for='community') Community
                .help-block visible only to logged in members
              .radio
                input#groups(type='radio', name='visibility')
                label(for='groups') Groups
                .help-block Visible only to group members

                      
          
            
      #comment-settings.form-item.card.scrollspy.tabs-left
        ul.card-head.nav.nav-tabs.style-default-light(data-toggle="tabs")
          li.active
            a(href="#comments") Comment settings
              
        .card-body.tab-content
          #comments.tab-pane.active
            .form-group.radios
              label.form-required Comment
              .radio
                input#open(type='radio', name='comments')
                label(for='open') Open
                .help-block Users with the "Post comments" permission can post comments.
              .radio
                input#closed(type='radio', checked, name='comments')
                label(for='closed') Closed
                .help-block Users cannot post comments.
              
      .form-wrapper.clearfix
        a.waves-effect.waves-light.btn.btn-raised.btn--default-bright(href="#") Discard changes
        a.btn.btn-flat(href='#') Delete
        input.waves-effect.waves-light.btn.btn-raised.btn--primary.right(type='submit', value='Save') 
        input.waves-effect.waves-light.btn.btn-raised.btn--default-dark.right(type='submit', value='Preview') 
        

    .col-sm-3.hidden-mobile
      .toc-wrapper
        ul.section.table-of-contents
          li
            a(href='#content') Content
          li
            a(href='#placement') Placement and visibility
          li
            a(href='#comment-settings') Comment settings

        
block scriptinline  
  script(src='libs/ckeditor/ckeditor.js')
  script(src='libs/ckeditor/adapters/jquery.js')
  
  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();  
    });
    
    function showMe (it, box) {
      var visibility = (box.checked) ? "block" : "none";
      document.getElementById(it).style.display = visibility;
    }
