extends ./layout/base-lu.jade

- var ckeditor = true

block title
  title Create Topic

block pagetitle
  .block-hero.cover
    .container
      h1.page-title.h2.text-center Create Topic         

      
block content
      
  .row.margin-top-l
    .col-md-9.margin-bottom-l
    
      form.node-form
      
        #content.card.card-underline.scrollspy
        
          .card-head
            header Content
      
          .card-body

            .form-group.radios
              label.form-required Topic type
              .radio
                input#blog(type='radio', name='type')
                label(for='blog') Blog
              .radio
                input#discussion(type='radio', name='type')
                label(for='discussion') Discussion
              .radio
                input#topic(type='radio', name='type')
                label(for='topic') Topic  

            .form-group
              label.form-required Title
              input.form-control(type="text", required)

            .form-group
              label.form-required Description
              .textarea--cke
                textarea#ckeditor.form-control(required)

            .form-group.form__type-managed-file
              label Image
              .image-widget.form-managed-file.clearfix
                input.form-control(type='file', value='upload an image')
                button.btn.form-submit.style-default.js-hide(type='submit', value='remove')
                  i.material-icons.left file_upload
                  | Upload
              .help-block One file only - 2 MB limit - Allowed types: png gif jpg jpeg
          
        #placement.card.card-underline.scrollspy
        
          .card-head
            header Placement and visibility
      
          .card-body 

            .form-group
              label.form-required Add topic to
              .radio
                input#profile(type='radio', name='placement')
                label(for='profile') My profile
              .radio
                input#group(type='radio', name='placement', onclick="showMe('selectagroup', 'visibilitygroup', this)")
                label(for='group') A group I am a member of:
              #selectagroup(style='display:none;')
                select.form-control
                  option(value='', disabled='', selected='') Select a group
                  option(value='1') Group 1
                  option(value='2') Group 2
                  option(value='3') Group 3
            
     
            .form-group.radios
              label.form-required Visibility
              .radio
                input#public(type='radio', name='visibility')
                label(for='public') Public
                .help-block Community visible to all visitors of the platform
              .radio
                input#community(type='radio', name='visibility')
                label(for='community') Community
                .help-block visible only to logged in members
              .radio
                input#groups(type='radio', name='visibility')
                label(for='groups') Groups
                .help-block Visible only to group members
        
            
        #comment-settings.form-item.card.scrollspy.tabs-left
          ul.card-head.nav.nav-tabs.style-default-light(data-toggle="tabs")
            li.active
              a(href="#comments") Comment settings
                
          .card-body.tab-content
            #comments.tab-pane.active
              .form-group.radios
                label.form-required Comments
                .radio
                  input#open(type='radio', checked, name='comments')
                  label(for='open') Open
                  .help-block Users with the "Post comments" permission can post comments.
                .radio
                  input#closed(type='radio', name='comments')
                  label(for='closed') Closed
                  .help-block Users cannot post comments.
              
        .form-wrapper.clearfix
          input.waves-effect.waves-light.btn.btn-raised.btn--primary.right(type='submit', value='Save') 
          input.waves-effect.waves-light.btn.btn-raised.btn--default-dark.right(type='submit', value='Preview') 

    .col-sm-3.hidden-mobile
      .toc-wrapper
        ul.section.table-of-contents
          li
            a(href='#content') Content
          li
            a(href='#placement') Placement and visibility
          li
            a(href='#comment-settings') Comment settings

        
block scriptinline  
  script(src='libs/ckeditor/ckeditor.js')
  script(src='libs/ckeditor/adapters/jquery.js')
  
  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();  
    });
    
    function showMe (it, it2, box) {
      var visibility = (box.checked) ? "block" : "none";
      document.getElementById(it).style.display = visibility;
      document.getElementById(it2).style.display = visibility;
    }
