extends ./layout/base-lu.jade

block title
  title Edit Topic Why are color runs so popular?
    
block content
      
  .row
  
    .col-xs-12
      h1.h4.section-title Edit: Why are color runs so popular?
      
    .col-xs-12.col-sm-4.col-sm-last
      .toc-wrapper
        ul.table-of-contents
          li
            a(href='#content') Content
          li
            a(href='#visibility') Visibility
          li
            a(href='#description') Description
          li
            a(href='#comment-settings') Comment settings
      
    .col-xs-12.col-sm-8
    
      form(action='topic.html', method='get')
      
        #content.card.card-underline.scrollspy
          .card-head
            header Content
          .card-body
            .form-group.radios
              label.form-required Topic type
              .radio
                input#blog(type='radio', checked, name='type')
                label(for='blog') Blog
              .radio
                input#discussion(type='radio', name='type')
                label(for='discussion') Discussion
              .radio
                input#topic(type='radio', name='type')
                label(for='topic') Topic  
                
            .form-group
              label.form-required Title
              input.form-control(type="text", value='Why are color runs so popular?')

            .form-group.form__type-managed-file
              label Image
              .image-widget.form-managed-file.clearfix
                img.img-responsive.pull-left(src='content/images/topic-hero.jpg', width='150')
                .pull-left.padding-xs
                  .file.file--image
                  a(href='#', type="image/jpeg; length=158378") animals1-square.jpg
                  .file-size (154.78kb)
                .pull-left.padding-xs
                  button.btn.btn-default(value='remove', style='pointer-events: none;')
                    i.material-icons.pull-left delete
                    | Remove
              .help-block(style='display:none') One file only - 2 MB limit - Allowed types: png gif jpg jpeg
          
        #visibility.card.card-underline.scrollspy
        
          .card-head
            header Visibility
      
          .card-body

            .form-group.radios
              label.form-required Visibility
              .radio
                input#community(type='radio', name='type', checked)
                label(for='community') Community
                .help-block Visible for members only
              .radio
                input#public(type='radio', name='type')
                label(for='public') Public
                .help-block Visible for everyone, including people who are not a member
        
        #description.card.card-underline.scrollspy
        
          .card-head
            header Description
      
          .card-body 
            .form-group
              label.form-required Description
              .textarea--cke
                textarea#ckeditor.form-control.form-textarea
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. An me, inquam, nisi te audire vellem, censes haec dicturum fuisse? Summae mihi videtur inscitiae. Non enim iam stirpis bonum quaeret, sed animalis. Tu vero, inquam, ducas licet, si sequetur; In qua quid est boni praeter summam voluptatem, et eam sempiternam? Duo Reges: constructio interrete. Verba tu fingas et ea dicas, quae non sentias?

        #comment-settings.form-item.card.scrollspy.tabs-left
          ul.card-head.nav.nav-tabs.vertical-tabs-list(data-toggle="tabs")
            li.active
              a(href="#comments") Comment settings
              
          .card-body.tab-content
            #comments.tab-pane.active
              .form-group.radios
                label.form-required Comment
                .radio
                  input#open(type='radio', name='comments')
                  label(for='open') Open
                  .help-block Users with the "Post comments" permission can post comments.
                .radio
                  input#closed(type='radio', checked, name='comments')
                  label(for='closed') Closed
                  .help-block Users cannot post comments.
              
        .form-actions.clearfix
          input.waves-effect.waves-light.btn.btn-raised.btn-primary.pull-right(type='submit', value='Save') 
          a.waves-effect.waves-light.btn-raised.btn.btn-default(href="topic.html") Discard changes
          a.waves-effect.waves-light.btn-raised.btn.btn-default(href='#') Delete
          a.waves-effect.waves-light.btn-raised.btn.btn-default(href="topic.html") Preview
        
block scriptinline  
  script(src='libs/ckeditor/ckeditor.js')
  script(src='libs/ckeditor/adapters/jquery.js')
  
  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();  
    });
    
    function showMe (it, box) {
      var visibility = (box.checked) ? "block" : "none";
      document.getElementById(it).style.display = visibility;
    }
