extends ./layout/base-lu.jade

block title
  title Delete post

block breadcrumbs
  li
    a(href='home-lu.html') Home
  li.active Delete post

        
block content

  .row
  
    .col-xs-12
      h4.section-title Delete post
  
    .col-xs-12.col-sm-6

      .card
        .card-body
          form(action="home-lu.html")
            p Are you sure you want to delete this post?
            p &nbsp;
            .form-actions.clearfix
              a.btn.btn-default(href='javascript:history.back()') Cancel
              button.btn.btn-primary.pull-right(type='submit') Delete
