extends ./layout/base-lu.jade

block title
  title Delete post

block breadcrumbs
  li
    a(href='home-lu.html') Home
  li.active Delete post

block pagetitle

  .container
    .cover
        h1.page-title.h2 Delete post 
        
block content

  .row.margin-top-l
  
    .col-xs-12.col-sm-6

      .card
        .card-body.extra-padding
          form(action="home-lu.html")
            p Are you sure you want to delete this post?
            p &nbsp;
            .form-actions.clearfix
              a.btn.btn-default(href='javascript:history.back()') Cancel
              button.btn.btn-primary.pull-right(type='submit') Delete
