- var pagetype = "styleguide"
- var page = "Prototype pages"

mixin collection(link, name)
  a.list-group-item(href=link)
    p.list-group-item-text= name

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade
      
    main.styleguide-container(role='main')

      .container
        .row.section 
          .col-xs-12.col-md-6
            .list-group
              .list-group-item
                h4.list-group-item-heading.text-primary Anonymous users
              +collection('login.html', 'Login')
              +collection('sign-up.html', 'Sign up')
              +collection('sign-up-with-email.html', ' Sign up with e-mail verification')
              +collection('reset-password.html', 'Reset password')
            
          .col-xs-12.col-md-6
            .list-group
              .list-group-item
                h4.list-group-item-heading.text-primary Logged in users
              +collection('my-stream.html', 'Profile')
              +collection('profile-edit.html', 'Edit Profile')
              +collection('account-edit.html', 'Edit Account')
              +collection('my-topics.html', 'My Topics')
              +collection('topic.html', 'Topic')
              +collection('node-add-topic.html', 'Create topic')
              +collection('node-edit-topic.html', 'Edit topic')
              +collection('my-events.html', 'My Events')
              +collection('event.html', 'Event')
              +collection('event-enrollments.html', 'Event enrollments')
              +collection('node-add-event.html', 'Create event')
              +collection('node-edit-event.html', 'Edit event')
              +collection('comment.html', 'Single comment')
              +collection('single-post.html', 'Single post')
  
    include ./layout/_scripts.jade
