- var pagetype = "styleguide"
- var page = "Prototype pages"

mixin collection(link, name)
  a.list-group-item(href=link)
    p.list-group-item-text= name

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade
      
    main.styleguide-container(role='main')

      .container
        .row.section
          .col-xs-12
            p The prototype consists of static pages that are linked together. The content that is used is fictional demo content. You can choose any of the pages listed here to start browsing the prototype and then following the links on the pages as you normally would do.  
        
        .row 
          .col-xs-12.col-md-6
            .list-group
              .list-group-item
                h4.list-group-item-heading.text-primary Anonymous users
              +collection('home-an.html', 'Homepage')
              +collection('public-events.html', 'Public events')
              +collection('public-topics.html', 'Public topics')
              +collection('login.html', 'Login')
              +collection('sign-up.html', 'Sign up')
              +collection('sign-up-with-email.html', ' Sign up with e-mail verification')
              +collection('reset-password.html', 'Reset password')
            
          .col-xs-12.col-md-6
            .list-group
              .list-group-item
                h4.list-group-item-heading.text-primary Logged in users
              +collection('home-lu.html', 'Homepage')
              +collection('my-stream.html', 'My stream')
              +collection('my-profile-about.html', 'My profile - About')
              +collection('profile-edit.html', 'Edit Profile')
              +collection('account-edit.html', 'Edit Account')
              +collection('my-topics.html', 'My Topics')
              +collection('my-events.html', 'My Events')
              +collection('my-groups.html', 'My Groups')
              +collection('other-stream.html', 'Other member`s stream')
              +collection('other-profile-about.html', 'Other member`s profile - About')
              +collection('other-topics.html', 'Other member`s topics')
              +collection('other-events.html', 'Other member`s events')
              +collection('other-groups.html', 'Other member`s groups')
              +collection('topic.html', 'Topic')
              +collection('node-add-topic.html', 'Create topic')
              +collection('node-edit-topic.html', 'Edit topic')
              +collection('event.html', 'Event')
              +collection('event-enrollments.html', 'Event enrollments')
              +collection('node-add-event.html', 'Create event')
              +collection('node-edit-event.html', 'Edit event')
              +collection('group-stream.html', 'Group stream')
              +collection('group-topics.html', 'Group topics')
              +collection('group-events.html', 'Group events')
              +collection('group-members.html', 'Group members')
              +collection('group-add.html', 'Create Group')
              +collection('group-edit.html', 'Edit Group')
              +collection('comment.html', 'Single comment')
              +collection('single-post.html', 'Single post')
              +collection('search-content.html', 'Search content')
              +collection('search-members.html', 'Search members')
              +collection('explore.html', 'Explore')
              +collection('explore-events.html', 'Explore events')
              +collection('explore-topics.html', 'Explore topics')
              +collection('explore-groups.html', 'Explore groups')
              +collection('explore-users.html', 'Explore users')
  
    include ./layout/_scripts.jade
