- var pagetype = "styleguide"
- var page = "Prototype pages"

mixin collection(link, name)
  li.collection__item
    a(href=link)= name

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade
      
    main.styleguide-container(role='main')

      .container
        .row 
          .col.s12
            .section
              ul.collection
                li.collection-header
                  h4.flow-text Anonymous users
                +collection('login.html', 'Login')
                +collection('sign-up.html', 'Sign up')
                +collection('sign-up-with-email.html', ' Sign up with e-mail verification')
                +collection('reset-password.html', 'Reset password')
            
            .section
              ul.collection
                li.collection-header
                  h4.flow-text Logged in users
                +collection('topic-overview.html', 'Topic overview')
                +collection('topic.html', 'Topic')
  
    include ./layout/_scripts.jade
