- var user = "isAnonymous"
- var pagetype = "template"
- var page  = "Community Topics"

include layout/_head.jade

body
  include layout/_gtm.jade
  include layout/_header-an.jade
  
  main.main-container(role='main')
  
    nav.visible-md-block.visible-lg-block.bg-white
      ol.breadcrumb.container
        li
          a(href='home-an.html') Home
        li.active Community topics
        
    .main-content
      .container
  
        .row.margin-top-l
          .col-xs-12
            h4.section-title Community topics
            
          .col-xs-12.col-sm-4.col-sm-last.margin-bottom-l
            btn.waves-effect.waves-light.btn.btn-block.btn-default.btn-raised.visible-xs-block.js-open-canvas
              i.material-icons.pull-left tune
              | Filters

            .off-canvas.off-canvas-right.off-canvas-xs-only
              .offcanvas-head
                header.card__label filter
                .offcanvas-tools.visible-xs-block
                  button.js-close-canvas.btn.btn-icon-toggle.btn-user-light.pull-right
                    i.material-icons close
          
              .offcanvas-body
                form
                  .form-group
                    label Topic type
                    select.form-control(onchange="enableMe('reset-button', this)")
                      option(value="", selected="") All types
                      option(value="blog") Blog
                      option(value="discussion") Discussion
                      option(value="topic") Topic
                  .form-group
                    input#reset-button.btn.btn-default.disabled(type="submit", value="Reset")
          
          .col-xs-12.col-sm-8
            include molecules/_topic1.jade
            include molecules/_topic2.jade
            include molecules/_topic3.jade
            include molecules/_topic4.jade

  include layout/_footer.jade
  include layout/_scripts.jade

  script.
    function enableMe() {
      jQuery('#reset-button').removeClass('disabled');
    }
