extends ./layout/base-an.jade

block title
  title Reset your password

block pagetitle


block content
  
  .row
    .col-md-8.section-header
      h2.h3.section-title Reset your password

      .card
        .card-body

          form(action="login.html", accept-charset='UTF-8')
            .form-group
              label(for='edit-name') Username or email address
              span.form-required *
              input#edit-name.form-control(type='text', autocorrect='off', autofocus='autofocus',  required)
              .help-block Password reset instructions will be sent to your registered email address.
                
            .margin-top-xxl.clearfix
              input.btn.btn-primary(type='submit', value='Submit')
