extends ./layout/base-lu.jade

block title
  title Search content

block breadcrumbs  
  li
    a(href='home-lu.html') Home
  li
    a(href='search-content.html') Search content

block pagetitle

  .container
    .cover
      h1.page-title.h2 Search 
      br 
      form.hero-form(role='search', method='get', action='search-content.html')
        .form-group
          input.form-control(type='text', placeholder='Search', value='all the content' name='search', autocomplete='off')
          input.form-submit(type='submit', value='')
          span.search-icon
            i.material-icons search

    .brand-secondary.z-depth-1
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li.active
            a(href='search-content.html') Content 
            span.visually-hidden (active tab) 
          li
            a(href="search-members.html") Members  
  

block content
              
  .row
    .col-sm-12
      h4.section-title Content results
      p If you are searching for members, <a href="search-members.html">click here</a>

    .col-sm-4.col-sm-push-8
    
      .off-canvas.off-canvas-right.off-canvas-xs-only.visible-sm-card
        .offcanvas-head
          header.card__label filter
          .offcanvas-tools.visible-xs-block
            .js-close-canvas.btn.btn-icon-toggle.btn-default-light.pull-right
              i.material-icons close
      
      .offcanvas-body
        form
          .form-group
  
    .col-sm-8.col-sm-pull-4
      include molecules/_topic1.jade
      include molecules/_event1.jade
      include molecules/_event2.jade
      include molecules/_topic2.jade
      include molecules/_topic3.jade
      include molecules/_event3.jade
      include molecules/_event4.jade
      include molecules/_topic4.jade

      nav
        ul.pagination
          li.pager__item.pager__item--previous.disabled
            a(href="#0", aria-label='Previous')    
              span(aria-hidden="true") 
                i.material-icons chevron_left
          li.pager__item.active
            a(href="#1") 1
          li.pager__item 
            a(href="#1") 2
          li.pager__item 
            a(href="#1") 3          
          li.pager__item 
            a(href="#1") 4
          li.pager__item.pager__item--next
            a(href='#', aria-label='Next')
              span(aria-hidden="true")
                i.material-icons chevron_right
