extends ./layout/base-lu.jade

block title
  title A post

block pagetitle
  .container
    .cover
        h1.page-title.h2 A post 
      
block content
      
  .row.margin-top-l
  
    .col-sm-9
    
      .card
        .card-body.extra-padding
          ul.media-list
            include ./molecules/_post1.jade
