extends ./layout/base-lu.jade

block title
  title The High Price of Free

block pagetitle
  .page-title 
    .container
      .row
        .col.s12
          h1.entry-title The High Price of Free
          p.entry-details
            span(itemprop="author", itemscope="", itemtype="http://schema.org/Person") By 
              a.author(itemprop="url", rel="author", href="/author/rachelandrew") Rachel Andrew
            time.pubdate.updated(datetime="2016-01-26T10:00:00-05:00", itemprop="datePublished")  January 26, 2016
            span.entry-meta Published in
              a(href="/topic/blogs")
                span(itemprop="about") Blogs
      
block content
      
  .row
    .col.s12.l9
      .card.card--nodefull
      
        p.caption Doing business in the web industry has unbelievably low start-up and fixed running costs. You need little more than a computer and an internet connection. The overheads of freelancers and small agencies that build websites and applications for other people, or develop a digital product, are tiny in comparison to a traditional business. Your training can be free, as so many industry experts write and teach and share this information without charging for it. Even the tools you use to build websites can be downloaded free of charge, or purchased for very little.
        
        p As an industry we have become accustomed to getting hundreds of hours of work, and the benefit of years of hard-won knowledge for free.

        p My free time in the last couple of years has been put into looking at the Grid Layout spec. I start most days answering emailed questions about the examples I’ve posted, before I get down to the work that pays the bills.

        p I’m not unusual in that. Most of my friends in the industry have tales of invites to events where no payment is offered, a queue of issues raised on their personal project on GitHub, or people requesting general web development technical support via email.

        p What pays the bills for me, and enables me to spend my spare time doing unpaid work, is my product Perch. Yet we launched Perch to complaints that it wasn’t open source. There are very good reasons why someone might want, or be required, to use software that has an open source license. However, when we ask about it, people rarely cite these reasons. When they say open source, they mean free of charge.

        p I’ll be 41 this year. I don’t feel 41, but the reality is that at some point I won’t be able to keep up a pace of work that encompasses running a business, putting together talks and workshops, writing books, and contributing as much as possible to the industry that I love being a part of. I need to make sure that I am building not only a body of work and contributions that I’m proud of, but also financial security for when I can’t do this anymore. Yes, that free work does sometimes result in someone trying my software or offering me paid consultancy, but not as often as you might think. Despite having very marketable skills, I don’t own a home, much less have a pension and savings in place.
        
        img.responsive-img(src='content/images/iphone6.jpg')

        p I wondered how other independent and freelance web workers dealt with this conflict between earning money and contributing back. I also wondered if I was alone in feeling that the clock is ticking. I put together a survey (the responses to which probably will be the background to several other pieces of research), and a few things stood out immediately.

        p Of the 211 people who responded and said they worked for themselves, 33% said they had some provision but not enough to fully retire, while 39% said they had no pension or retirement savings at all. In fact, 30% of the 211 said that they live pretty much “month to month” without so much as a contingency fund. Even filtering out the under-40 age groups, those percentages remained roughly the same.
        
        p John Gruber:
        blockquote
          q I worry that the inherent slowness of the web and ill-considered trend toward over-produced web design is going to start hurting traffic to DF.
        
        p I asked the question, “Are you involved in open source projects, writing tutorials, mentoring, speaking at events-that you do free of charge or for expenses only?” 59% said they were not involved, with 27% of those people citing time constraints. Some people did explain that they were involved in volunteer work outside of the web. By the time I filtered out the under-40s, the non-involvement figure rose to 70%.

        p We know that not paying speakers and not covering speaker expenses causes events to become less diverse. The ability to give time, energy and professional skills free of charge is a privilege. It is a privilege that not everyone has to begin with, but that we can also lose as our responsibilities increase or as we start to lose the youthful ability to pull all-nighters. Perhaps we begin to realize how much that free work is taking us away from our families, friends, and hobbies; away from work that might improve our situation and enable us to save for the future.

        p If you are in your early twenties, willing to work all night for the love of this industry, and have few pressing expenses, then building up your professional reputation on open source projects and sharing your ideas is a great thing to do. It’s how we all got started, how I and the majority of my peers found our voices. As I get older, however, I have started to feel the pressure of the finite amount of time we all have. I’ve started to see people of my generation taking a step back. I’ve seen people leave the industry, temporarily or permanently, due to burnout. Others disappear into companies, often in managerial (rather than hands-on) roles that leave limited time for giving back to the community.

        p Some take on job roles that enable them to continue to be a contributing part of the community. The fact that so many companies essentially pay people to travel around and talk about the web or to work on standards is a great thing. Yet, I believe independent voices are important too. I believe that independent software is important. For example, I would love to see more people who are not tied to a big company be able to contribute to the standards process. I endorse that, yet know that in doing so I am also advocating that people give themselves another unpaid job to do.

        p The enthusiasm of newcomers to the industry is something I value. I sit in conference audiences and have my mind changed and my eyes opened by speakers who are often not much older than my daughter. However, there is also value in experience. When experience can work alongside fresh ideas, I believe that is where some of the best things happen.

        p Do we want our future to be dictated by big companies, with independent input coming only from those young or privileged enough to be able to work some of the time without payment? Do we want our brightest minds to become burned out, leaving the industry or heading into jobs where the best scenario is contribution under their terms of employment? Do we want to see more fundraisers for living or medical expenses from people who have spent their lives making it possible for us to do the work that we do? I don’t believe these are things that anyone wants. When we gripe about paying for something or put pressure on a sole project maintainer to quickly fix an issue, we’re thinking only about our own need to get things done. But in doing so we are devaluing the work of all of us, of our industry as a whole. We risk turning one of the greatest assets of our community into the reason we lose the very people who have given the most.
    
    .col.s12.l3
      a.waves-effect.waves-light.btn.btn--black.btn-edit-node(href='#!') Edit
