@import 'init';

@import "contrib/bootstrap/list-group";

.list-group {
  border-radius: $border-radius-base;
}

a.list-group-item {
  font-weight: 300;
}

.list-group-item-heading {
  margin: 0;
  line-height: inherit;
}

.list-group-item,
.list-group-item:focus {
  .icon-small {
    fill: $default-color;
    margin-right: .25em;
  }
}

.list-group-item.active,
.list-group-item:hover,
.list-group-item.active:hover,
.list-group-item.active:focus {
  .icon-small {
    fill: white;
  }
}

.list-group-divider {

  .list-group-item {
    border: 0;
    line-height: 1.2;

    .media-left {
      padding-right: 10px;
    }

  }

}

.card-body > .list-group {

  margin-bottom: 0;

  > .list-group-item {
    padding-left: 0;
    padding-right: 0;
  }
}


.list-group-item.media {
  margin-top: 0;
}


.list-group {

  .avatar {
    min-height: 62px;
    padding-left: 72px;
    position: relative;

    .circle {
      position: absolute;
      width: 42px;
      height: 42px;
      overflow: hidden;
      left: 15px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
    }
  }

}

.list-group-label {
  display: inline-block;
  margin-right: 20px;
  width: 180px;
  font-weight: 500;
  vertical-align: top;
}

.list-group-field {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}


@include MQ($small) {

  .card-body .list-group {

    .list-group-item:not(.media) {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .list-group-label,
    .list-group-field {
      display: table-cell;
    }

    .list-group-field {
      max-width: 70%;
    }

  }

}

.card-body {
  .list-group-item {
    border-left: 0;
    border-right: 0;
  }
}
