// Reset the box-sizing
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-size: $font-size-small;
  font-family: $font-family-base;
	font-weight: 300;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
	-webkit-font-smoothing: antialiased; //smooth font in webkit
  -moz-osx-font-smoothing: grayscale; //smooth font in firefox
	word-wrap: break-word;

  @include MQ($small) {
    font-size: $font-size-base;
  }

}
