h1.page-title #{page}

.card.form-card

  nav(role="navigation" aria-label="Tabs")
    h2.visually-hidden Primary tabs
    ul.tabs.primary
      li
        a(href="login.html") Log in
      li
        a(href="sign-up.html") Sign up
      li.is-active
        a.is-active(href='reset-password.html') Reset password
        span.visually-hidden (active tab)

  form.user-pass(accept-charset='UTF-8')
    .form-item.form-type-textfield
      .input-field
        input#edit-name.form-text(type='text', autocorrect='off', autofocus='autofocus', required='required')
        label.form-required(for='edit-name') Username or email address
        .description Password reset instructions will be sent to your registered email address.
        
    #edit-actions.form-actions.form-wrapper
      input#edit-submit.waves-effect.waves-light.btn.form-submit(type='submit', value='Submit')
