@import "settings";

// Base styles
// -------------------------
.input-group .form-control:focus ~ .input-group-addon {
  border-color: $brand-primary;
  border-bottom: 1px solid $brand-primary;
  box-shadow: 0 2px 0 0 $brand-primary;
}

.input-group-addon {
  color: $input-color;
  background-color: $input-group-addon-bg;
  border: 1px solid $input-group-addon-border-color;
  @include border-radius($input-border-radius);
}
