@import 'settings';

.resources-search-form {
  .search-icon,
  .btn {
    height: 35px;
  }
}

.view-header {
  border: none;
  margin-bottom: 2.5rem;
  align-items: center;

  @include for-tablet-landscape-down {
    margin-bottom: 30px;
  }

  .total-results {
    padding-left: 0;
    background: transparent;

    @include for-tablet-portrait-up {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.5rem;
    }
  }

  form {
    .form-item-sort-bef-combine {
      margin-bottom: 0;

      @include for-tablet-portrait-up {
        max-width: 160px;
      }
    }
  }

  > * {
    flex-grow: 0;
  }

  .toolbar-vertical #block-filter:target {
    transform: translateY(0);
  }
}

.view-search-resources .views-exposed-form {
  right: 1.5rem;
  z-index: 10;

  @include for-tablet-landscape-up {
    right: 0;
  }

  @include for-tablet-landscape-down {
    top: -2rem;
  }
}

.off-canvas-right {
  @include for-tablet-landscape-down {
    z-index: 10;
  }
}

.resources-search-form {
  border-bottom: 0;
  margin-bottom: .75rem;
  position: relative;
  align-items: flex-end;

  .search-icon {
    svg {
      display: none;
    }
  }
}

.search-filter--wrapper {
  padding: 20px 0 30px;

  .collapse-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include for-desktop-up {
      margin: 0 -1.25rem;
    }

    > * {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 1rem;
      margin-left: 0;
      margin-bottom: 30px;

      @include for-tablet-portrait-up {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include for-tablet-landscape-up {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }

      @include for-desktop-up {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 1.25rem;
      }
    }

    &.js-collapse-block {
      overflow: hidden;
      transition: height .5s ease;
    }

    .card__title,
    label {
      display: block;
      padding: 0;
      margin-bottom: 7px;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      color: #4a4a4a;
      text-transform: none;

      @include for-tablet-landscape-up {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: -1rem;
      }
    }

    .form-control {
      max-width: 100%;
    }

    .select2-container {
      width: 100% !important;
    }

    .select2-selection {
      position: relative;
      display: block;
      padding-bottom: 3px;
      min-height: 35px;
      padding-right: 35px;

      .select2-selection__rendered {
        display: block;
      }

      .select2-selection__choice {
        white-space: normal;

        @include for-tablet-portrait-up {
          margin-top: 4px;
        }
      }
    }
  }

  .collapse-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px 1rem 0;

    @include for-desktop-up {
      padding-left: 0;
      padding-right: 0;
    }

    .btn {
      padding: 0;
      margin-right: 0;
      border: none;
      text-transform: uppercase;

      &:hover,
      &:active,
      &:focus,
      > div {
        background: transparent;
      }
    }
  }

  .toggle-filter {
    display: flex;
    align-items: center;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;

    &:after {
      content: '▾';
      display: block;
      margin-left: 16px;
    }

    &.js-toggle-filter-close {
      display: none;

      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

.path-search {
  background: #fff;

  .region--title,
  .region--secondary-navigation {
    section {
      background: #f3f3f3;

      @media (min-width: 1160px){
        margin-left: calc(-100vw / 2 + #{1160px} / 2);
        margin-right: calc(-100vw / 2 + #{1160px} / 2);
      }
    }
  }

  .region--title {
    margin-top: 0;
  }

  .section-title {
    padding-top: 25px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    @include for-tablet-portrait-up {
      padding-top: 50px;
    }

    @include for-tablet-landscape-up {
      font-size: 3rem;
    }
  }

  .section-title,
  .search-filter--wrapper {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .search-filter--wrapper {
    @media(max-width: 1199px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .region--secondary-navigation {
    margin-top: 0;
  }
}

.block-social-resource-library .block-facet--dropdown {
  padding-top: 0;
}

//Teasers tile on resource page.
.resource__featured-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -1%;
  padding: 0 1rem;

  @include for-tablet-landscape-up {
    margin: 0 -1.75%;
  }

  .pager-nav {
    width: 100%;
  }

  .view-header {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1%;

    @include for-tablet-portrait-up {
      padding: 0 1.75%;
    }

    .total-results {
      .btn {
        text-transform: uppercase;
        margin-left: 40px;
      }
    }

    + .alert {
      width: 100%;
    }
  }

  .no-results .text {
    max-width: 100%;
  }

  .teaser.teaser--tile {
    margin: 0 1% 40px;
    flex: 0 0 calc(100% - 2%);
    max-width: calc(100% - 2%);

    @include for-tablet-portrait-up {
      flex: 0 0 calc(50% - 2%);
      max-width: calc(50% - 2%);
    }

    @include for-tablet-landscape-up {
      flex: 0 0 calc(33.33333% - 3.5%);
      max-width: calc(33.33333% - 3.5%);
      margin-left: 1.75%;
      margin-right: 1.75%;
    }

    @include for-desktop-up {
      flex: 0 0 calc(25% - 3.5%);
      max-width: calc(25% - 3.5%);
    }

    .teaser__image {
      @include for-desktop-up {
        height: 110px;
      }

      img {
        max-width: max-content;
        height: 100%;
      }
    }

    .teaser__content {
      padding-top: 10px;
    }

    .teaser__title {
      margin-bottom: .375rem;
      font-size: 1rem;
    }

    .text-muted,
    .text-muted .teaser__content-line {
      font-size: .75rem;
    }

    .card__actionbar {
      display: block;
    }

    .card__link {
      width: 100%;
      max-width: 220px;
      margin: 0 auto;
      float: none;
    }
  }
}
