// Reset the box-sizing
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-size: $font-size-small;
  line-height: $line-height-base;
	word-wrap: break-word;

  @include for-tablet-portrait-up {
    font-size: $font-size-base;
  }

}
