@import 'init';

.chip {
  display: inline-block;
  height: $chip-height;
  font-size: $font-size-small;
  font-weight: 500;
  line-height: $chip-height;
  padding: 0 $padding-base-horizontal;
  margin: 0 $padding-base-vertical $padding-small-horizontal 0;
  border-radius: $chip-radius;
  background-color: $chip-bg-color;
}
