.block-social-footer-powered-by-block {
  [block='block-socialblue-footer-powered'] {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.2;

    img {
      width: auto;
      max-height: 100px;
      margin-right: 1.25rem;
    }

    .footer-block--body {
      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#block-socialblue-footer-powered,
.block-social-footer {
  .block-title {
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 1rem;
  }
}
