// based on https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d

@mixin z-depth-0 {
  box-shadow: none;
}

// cards level
@mixin z-depth-1 {
  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

//
@mixin z-depth-2 {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

@mixin z-depth-3 {
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

@mixin z-depth-4 {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}
