extends ./layout/base-lu.jade

block title
  title Jenny Baker`s groups

block pagetitle
  .container.hero-container.hidden-xs
    include ./molecules/_other-profile-hero.jade
        
  .container
    .visible-xs-block.section
      a.btn.btn-flat(href="other-stream.html")
        i.material-icons.pull-left keyboard_arrow_left
        | Back to Jenny`s stream

  .container.hero-container    
    .brand-secondary.z-depth-1.hidden-xs
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li.hidden-xs
            a(href="other-stream.html") Stream  
          li
            a(href="other-profile-about.html") About
          li
            a(href='other-topics.html') Topics
          li
            a(href='other-events.html') Events 
          li.active
            a(href="other-groups.html") Groups
              span.visually-hidden (active tab) 
      
block content
  
  .row.margin-top-l
  
    .col-xs-12
      h1.h4.section-title Jenny Baker`s groups
    
    .col-xs-12.col-sm-3.col-md-4.col-sm-last.margin-bottom-l


    .col-xs-12.col-sm-8
      include molecules/_group2.jade
      include molecules/_group1.jade
      include molecules/_group4.jade
      include molecules/_group3.jade
        
      nav
        ul.pagination
          li.pager__item.pager__item--previous.disabled
            a(href="#0", aria-label='Previous')    
              span(aria-hidden="true") 
                i.material-icons chevron_left
          li.pager__item.active
            a(href="#1") 1
          li.pager__item 
            a(href="#1") 2
          li.pager__item.pager__item--next
            a(href='#', aria-label='Next')
              span(aria-hidden="true")
                i.material-icons chevron_right

block scriptinline  
  
  script.
    function enableMe() {
      jQuery('#reset-button').removeClass('disabled');
    }
