- var user = "isAnonymous"
- var pagetype = "template"
- var page = "Post"

include layout/_head.jade

body
  include layout/_gtm.jade
  include layout/_header-an.jade
  
  main.main-container(role='main')
  
    nav.visible-md-block.visible-lg-block.bg-white
      ol.breadcrumb.container
        li
          a(href='home-an.html') Home
        li.active Post
        
    .main-content
      .container
  
        .row
        
          .col-xs-12.col-sm-8
          
            h4.section-title Post
          
            .card
              .card-body
                include ./molecules/_post1.jade

  include layout/_footer.jade
  include layout/_scripts.jade
