{% extends "profile--profile--teaser.html.twig" %}

{% block card_title %}
  <div class="teaser__tag">
    {% trans %}Member{% endtrans %}
  </div>
  <h4 class="teaser__title">
    <a href="{{ profile_home }}">
      {{ profile_name }} {{ profile_name_extra }}
    </a>
  </h4>
{% endblock %}
