{% extends "profile--profile--teaser.html.twig" %}

{% block card_actionbar %}
  <div class="teaser__tag">
    {% trans %}Member{% endtrans %}
  </div>
  <div class="card__link">
    <a href="{{ profile_contact_url }}" class="btn btn-default">
      {% if profile_contact_label == 'private_message' %}
        {% trans %}Private message{% endtrans %}
      {% else %}
        {% trans %}View profile{% endtrans %}
      {% endif %}
    </a>
  </div>
  <div class="card__link">
    <a href="{{ profile_stream_url }}" class="hidden-for-phone-only btn btn-default">
      {% trans %}View activities{% endtrans %}
    </a>
  </div>
{% endblock %}
