{% extends 'profile--featured.html.twig' %}

{% block card_title %}
  {% if not hide_teaser_tag %}
    <div class="teaser__tag">
      {% trans %}Member{% endtrans %}
    </div>
  {% endif %}

  <h4 class="teaser__title">
    <a href="{{ profile_home }}">
      {{ profile_name }} {{ profile_name_extra }}
    </a>
  </h4>
{% endblock %}
