{{ attach_library('socialbase/hero') }}

{% if profile_hero_styled_image_url %}
<div style="background-image: url('{{ profile_hero_styled_image_url }}')" class="cover cover-img cover-img-gradient">
  {% else %}
<div class="cover">
  {% endif %}
  <div class="hero__bgimage-overlay"></div>
    {% if profile_edit_url %}
      <div class="hero-action-button">
        <a href="{{ profile_edit_url }}" title="{% trans %}Edit profile information{% endtrans %}"
           class="btn btn-raised btn-default btn-floating">
          <svg class="icon-medium">
            <title>{% trans %}Edit profile information{% endtrans %}</title>
            <use xlink:href="#icon-edit"></use>
          </svg>
        </a>
      </div>
    {% endif %}
    <div class="cover-wrap">
    </div>
</div>
