.toolbar-vertical {

  .panel.show {
    transform: translateY(39px);
    overflow: auto;
  }

  #user-panel.show {
    @media screen and (min-width: 960px) {
      transform: translateY(127px);
    }
  }

}

.toolbar-tray-open {
  #header {
    margin-left: -15rem;
  }

}
