@import 'settings';

.metainfo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.4;
}

.metainfo__follow {
  margin-top: 0.5em;
  flex-basis: 100%;
  align-self: flex-start;

  @include MQ($small) {
    flex-basis: auto;
    margin-top: 0;
  }
}

.metainfo__avatar {
  margin-right: 12px;

  .img-metainfo__avatar {
    border-radius: 50%;
    width: 44px;
    height: auto;
  }

}

.metainfo__content {
  flex: 1;
  font-size: 0.875rem;

  a {
    text-decoration: underline;
    color: $default-color;
  }

  .badge--toggle {
    vertical-align: text-top;
  }

}

.metainfo__authorname {
  display: inline-block;
  color: $gray-light;
  margin-right: 0.2em;
}

.metainfo__published-date {
  display: inline-block;
  color: $gray-light;
}

.metainfo__properties {
  flex: 1 1 100%;
  margin: 20px 0 40px;
}

.metainfo__brief {
  margin-top: 10px;
  flex-basis: 100%;

  .badge--comment-count {
    margin-right: 3px;
  }

}

.article__special-fields {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-lighter;

  .article__special-fields-icon {
    width: 14px;
    height: 14px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    fill: $gray;
    margin-right: 12px;
  }
}

.node--unpublished__label {
  display: inline-block;
  position: absolute;
  font-style: italic;
  font-weight: 500;
  top: 0;
  right: 0;
  border-radius: 0 $border-radius-base 0 $border-radius-base;
  background-color: $brand-primary;
  color: white;
  padding: 0.5em 1em;
}
