/**
 * Navbar styling.
 */
body {
  margin-top: (@grid-gutter-width / 2);

  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    margin-top: (@navbar-height + (@grid-gutter-width / 2));
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: (@navbar-height + (@grid-gutter-width / 2));
  }
}
.navbar.container {
  @tablet:  ~"screen and (min-width: @{screen-sm-min})";
  @normal:  ~"screen and (min-width: @{screen-md-min})";
  @wide:    ~"screen and (min-width: @{screen-lg-min})";

  @media @tablet {
    max-width: ((@container-sm - @grid-gutter-width));
  }
  @media @normal {
    max-width: ((@container-md - @grid-gutter-width));
  }
  @media @wide {
    max-width: ((@container-lg - @grid-gutter-width));
  }
}
.navbar.container > .container,
.navbar.container-fluid > .container-fluid {
  margin: 0;
  padding: 0;
  width: auto;
}
