@import 'settings';

// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

@each $color, $value in $theme-colors {
  @include table-row-variant($color, theme-color-level($color, -9));
}

@include table-row-variant(active, $table-active-bg);

.table {

  .table {
    background-color: $body-bg;
  }

  th a {
    color: $brand-primary-dark;
  }

  th.is-active > a {
    color: $brand-primary;
  }

  .icon-tablesort {
    fill: $brand-primary;
  }

}
