@import 'settings';

.node-file {
  border-radius: $border-radius-extrasmall;
}

.file {

  > .tabledrag-changed {
    &, &:last-child {
      border: 1px solid darken($alert-warning-border, 5%);
    }
    background: $alert-warning-bg;
    border-radius: 0;
    color: $alert-warning-text;
  }

  .socialblue--sky & {

    display: flex;
    align-items: center;
    border: none;
    background: transparent;

    .file-icon {
      svg {
        width: 16px;
        height: 16px;
      }

      .icon-vote {
        stroke: transparent;
      }
    }

    .field--item--file {
      width: 100%;
      height: auto;
      flex: auto;
    }
  }
}
