@import 'settings';

.block-data-policy {
  align-items: center;
  cursor: pointer;
  flex-direction: unset;
  padding: 1rem;

  @include for-tablet-landscape-up {
    align-items: normal;
    cursor: default;
    flex-direction: column;
    padding: inherit;
  }

  .card__block {
    display: none;

    @include for-tablet-landscape-up {
      display: block;
      text-align: left;
    }
  }

  .card__title {
    flex: 2;
    padding: 0 0.75rem 0 0;
    text-align: left !important;

    @include for-tablet-landscape-up {
      border-radius: inherit;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      flex: none;
      padding: 15px $card-spacer-x;
      text-align: center !important;
    }
  }

  footer {
    border-left: 2px solid $gray-lighter;
    flex: fit-content;
    padding: 0 0 0 0.75rem;
    margin-top: 0;

    @include for-tablet-landscape-up {
      border-left: none;
      flex: none;
      padding: 1.25rem;
      margin-top: -1.25rem;
    }

    a {
      padding: 0;

      @include for-tablet-landscape-up {
        padding: 6px 12px;
      }
    }
  }
}