@import 'settings';

.block-data-policy {
  @include for-tablet-landscape-down {
    margin: 0 1rem;
  }

  .card__title {
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 15px;
  }
}
