- var no_nav = true
- var page = "Drupal Social"

doctype html
html(lang="en")
  head
    include layout/_head.jade
  body
    include layout/_navbar.jade
    
    include layout/_title.jade
    
    main
      include page-contents/index_content.html
    include layout/_scripts.jade
