- var no_nav = false
- var page = "Prototype"

doctype html
html(lang="en")
  head
    include layout/_head.jade
  body
    include layout/_navbar.jade
    include layout/_title.jade
    main
      include page-contents/prototype_content.jade
    include layout/_scripts.jade
