- var page = "Sign up"
- var pagetype = "template"

doctype html
html(lang="en")
  head
    include layout/_head.jade
  body(class='#{pagetype}')
    include layout/_header-an.jade
    
    main.main-container(role='main')
      include layout/_breadcrumbs.jade
    
      .container
        include page-contents/signup_content.jade
    include layout/_scripts.jade
