- var no_nav = true
- var page = "Drupal Social"
- var pagetype = "template"

doctype html
html(lang="en")
  head
    include layout/_head.jade
  body(class='#{pagetype}')
    include layout/_header.jade
    
    main
      include page-contents/topic_content.jade
    include layout/_scripts.jade
