- var no_nav = false
- var page = "Typography"

doctype html
html(lang="en")
  head
    include layout/_head.jade
  body
    include layout/_navbar.jade
    include layout/_title.jade
    main
      include page-contents/typography_content.html
    include layout/_scripts.jade
