.user-signup-form,
.user-login-form {
  padding: 10px 20px;

  @include MQ($small) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .form-item {
    margin-top: 1rem;
  }

  .form-actions {
    margin-top: 2rem;

    .btn {
      max-width: 100%;
      width: 300px;
    }
  }
}

@include MQ($small) {
  .form-card {
    max-width: $small;
  }
}
