// Badge

@mixin badge-variant($bgcolor, $color) {
  background-color: $bgcolor;
  color: $color;
  transition: 0.3s;

  &[href] {
    &:hover,
    &:focus {
      background-color: darken($bgcolor, 10%);
    }
  }
}
