// Badge

@mixin badge-variant($bgcolor, $color) {
  background-color: $bgcolor;
  color: $color;
  transition: 0.3s;

  &[href],
  [href] & {
    &:hover,
    &:focus {
      background-color: darken($bgcolor, 10%);
    }
  }

  [href] {
    &:hover,
    &:focus {
      color: darken($color, 10%);
    }
  }

  .ui-widget-content & {
    [href] {
      color: $color;

      &:hover,
      &:focus {
        color: darken($color, 10%);
      }
    }
  }
}
