// Badge

@mixin badge-variant($bgcolor, $color) {
  background-color: $bgcolor;
  color: $color;

  svg {
    fill: $color;
  }

  &[href] {
    &:hover,
    &:focus {
      background-color: darken($bgcolor, 10%);
    }
  }
}
