// Link button of the card variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all link buttons of the card

@mixin separate-line {
  @include for-tablet-landscape-up {
    max-width: 280px;
    content: '';
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    height: 2px;
    margin: 0 auto;
    background: #fafafa;
    z-index: 1;
  }
}
