// Contextual backgrounds

// [converter] $parent hack
@mixin style-variant($parent, $color, $type-color) {
  #{$parent} {
    background-color: $color;
    border-color: $color;
    color: $type-color;
  }

  a#{$parent}:hover,
  a#{$parent}:focus {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
    color: $type-color;
  }
}
