$badge-color:                 #fff !default;
//** Linked badge text color on hover
$badge-link-hover-color:      #fff !default;
$badge-bg:                    $brand-secondary !default;

//** Badge text color in active nav link
$badge-active-color:          $brand-primary !default;
//** Badge background color in active nav link
$badge-active-bg:             #fff !default;

$badge-border-radius:         $font-size-small !default;
