// Styles
$btn-default-color:              $default-color !default;
$btn-default-bg:                 white !default;
$btn-default-border:             $gray-light-1 !default;

$btn-primary-color:              white !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary !default;

$btn-accent-color:               $gray-dark !default;
$btn-accent-bg:                  $brand-accent !default;
$btn-accent-border:              $brand-accent !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;
