// 2. Scaffolding
// ==========================================================================
//** Background color for `<body>`.
$body-bg:               $gray-lightest !default;
//** Global text color on `<body>`.
$text-color:            $default-color !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: none !default;


$border-radius-base:        10px !default;
$border-radius-large:       12px !default;
$border-radius-small:       8px !default;

$padding-base-vertical:      6px !default;
$padding-base-horizontal:    12px !default;

$padding-large-vertical:     10px !default;
$padding-large-horizontal:   16px !default;

$padding-small-vertical:     5px !default;
$padding-small-horizontal:   10px !default;

$padding-xs-vertical:        1px !default;
$padding-xs-horizontal:      5px !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;
