// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            5px !default;

//** Border color for inputs on focus
$input-border-focus:             $brand-primary !default;

//** Placeholder text color
$input-color-placeholder:        #999 !default;

$input-error-color:             $brand-danger !default;
$input-success-color:           $brand-success !default;
$input-focus-color:             $brand-success !default;

// Switches
$switch-bg-color:               $brand-primary-dark !default;
$switch-checked-lever-bg:       desaturate(lighten($brand-primary-dark, 25%), 25%) !default;

// Radio buttons
$radio-fill-color:              $brand-primary-dark !default;
$radio-border:                  2px solid $radio-fill-color !default;
