//** `<input>` background color
$input-bg:                       white !default;
//** `<input disabled>` background color
$input-bg-disabled:              white !default;

//** Text color for `<input>`s
$input-color:                    $gray !default;
//** `<input>` border color
$input-border:                   $gray-light-1 !default;

$input-border-radius:            5px !default;

//** Border color for inputs on focus
$input-border-focus:             $brand-primary !default;

//** Placeholder text color
$input-color-placeholder:        #999 !default;

$input-error-color:             $brand-danger !default;
$input-success-color:           $brand-success !default;
$input-focus-color:             $brand-success !default;

//** Background color for textual input addons
$input-group-addon-bg:           $gray-lighter !default;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border !default;

// Switches
$switch-bg-color:               $brand-primary-dark !default;
$switch-checked-lever-bg:       desaturate(lighten($brand-primary-dark, 25%), 25%) !default;

// Radio buttons
$radio-fill-color:              $brand-primary-dark !default;
$radio-border:                  2px solid $radio-fill-color !default;
