$navbar-border-radius:                     $border-radius-base;

$nav-link-hover-bg:                        transparent;

$nav-disabled-link-color:                  $gray-light;
$nav-disabled-link-hover-color:            $gray-light;

$navbar-default-color:                     white;
$navbar-default-bg:                        $gray-dark;
$navbar-default-border:                    white;

// Navbar links
$navbar-default-link-color:                white;
$navbar-default-link-hover-color:          $gray-lighter;
$navbar-default-link-hover-bg:             darken($brand-primary, 10%);
$navbar-default-link-active-color:         white;
$navbar-default-link-active-bg:            darken($gray-dark, 15%);
$navbar-default-dropdown-link-active-color: $default-color;
$navbar-default-dropdown-link-active-bg:   $gray-lighter;
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-bg:                  mix(black, $brand-primary, 20%);
$navbar-default-brand-hover-bg:            mix(black, $brand-primary, 30%);

// Navbar toggle
$navbar-default-toggle-hover-bg:           $gray-darker;

//== Tabs
$nav-tabs-border-color:                     transparent;
$nav-tabs-link-hover-border-color:          transparent;

$nav-tabs-active-link-hover-bg:             transparent;
$nav-tabs-active-link-hover-color:          $brand-primary;
$nav-tabs-active-link-hover-border-color:   transparent;
