.taxonomy-term-event-types-form {
  .icon-svg-wrapper {
    margin-bottom: 2rem;

    &[data-href="#"] {
      display: none;
    }

    position: relative;
    width: 193px;
    height: 193px;
    border: 1px solid #b8b8b8;

    display: flex;
    align-items: center;
    justify-content: center;

    .selected-svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
