// Links
//
// Hyperlinks are used to allow the user to navigate to other resources or to download a resource.
//
// markup: links.twig
//
// Weight: 2
//
// Style guide: base.type.links


//
// 1. Remove the gray background color from active links in IE 10.
//

//
// 2. Improve readability of focused elements when they are also in an
// active/hover state.
//

a {
  background-color: transparent; // 1.
  text-decoration: none;
	font-weight: 500;
	color: inherit;

	// Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &:active,
  &:hover {
    outline: 0; // 2.
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:active:not(.btn) {
    opacity: .8;
  }
  
}
