// Links

a {
  text-decoration: none;
	font-weight: 500;
	color: inherit;

	// Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    @include tab-focus;
  }
}
