$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;

@import 'variables/components';
@import 'variables/type';
@import 'variables/alerts';
@import 'variables/badges';
@import 'variables/buttons';
@import 'variables/cards';
@import 'variables/dropdowns';
@import 'variables/forms';
@import 'variables/layout';
@import 'variables/modals';
@import 'variables/navbar';
@import 'variables/popover';
@import 'variables/tables';
@import 'variables/tooltip';
