$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1060;
$zindex-tooltip:           1070;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;
$zindex-tour-backdrop:     1060;
$zindex-tour:              1070;

@import 'variables/colors';
@import 'variables/components';
@import 'variables/type';
@import 'variables/alerts';
@import 'variables/badges';
@import 'variables/buttons';
@import 'variables/cards';
@import 'variables/dropdowns';
@import 'variables/forms';
@import 'variables/layout';
@import 'variables/modals';
@import 'variables/navbar';
@import 'variables/popover';
@import 'variables/tables';
@import 'variables/tooltip';
@import 'variables/tour';
