.event-date-advanced {
  margin-bottom: 5px;
}

.event-date-advanced,
.event-location-address {
  position: relative;
  padding-left: 30px;
}

.event-date-advanced .icon,
.event-location-address .icon {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}

.event-date-advanced .sr-only,
.event-location-address .sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.event-date-advanced > span {
  vertical-align: middle;
}

.inline-center.date,
.inline-center.location {
  vertical-align: middle;
  line-height: 1;
  margin-right: 5px;
}

.event-location-address img {
  width: 100%;
  height: 90%;
}
