/**
 * @file
 * Styles for the Event Meeting Widget.
 */

.event-meeting-widget {

  > div.form-group {
    padding: 0.5rem;
    background: #f3f3f3;
  }

  .meeting-type-wrapper {
    border-radius: 0;
    background: white;
    border: 1px solid #cecece;
    margin-block: 0.5rem;
    padding-block-end: 0.5rem;

    & > div {
      margin-inline: 1rem;
    }

    span.meeting-type-label {
      display: block;
      width: fit-content;
      padding-inline: 1rem;
      background: #f3f3f3;
      color: black;
      font-weight: bold;
      font-size: small;
      cursor: pointer;
    }

    /* Circle pseudo-element for span elements */
    span.meeting-type-label {
      &::before {
        content: '';
        display: inline-block;
        color: black;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: white;
        vertical-align: middle;
        align-items: center;
        text-align: center;
        line-height: 1;
        margin-inline-end: 0.5rem;
        border: 2px solid #cecece;
      }
    }
  }

  span.meeting-type-label[data-is-selected="true"] {
    background: black;
    color: white;

    &::before {
      background-image: url(../icons/selected.svg);
      background-color: black;
      background-repeat: no-repeat;
      border: none;
    }
  }
}
