.node-event-form .field--name-field-event-date .card,
.node-event-form .field--name-field-event-date-end .card,
.node-event-edit-form .field--name-field-event-date .card,
.node-event-edit-form .field--name-field-event-date-end .card {
  box-shadow: none;
  border-radius: 0 !important;
}
.node-event-form .field--name-field-event-date .card__title,
.node-event-form .field--name-field-event-date-end .card__title,
.node-event-edit-form .field--name-field-event-date .card__title,
.node-event-edit-form .field--name-field-event-date-end .card__title {
  padding-right: 0;
  padding-left: 0;
  border: 0;
  font-size: 0.875rem;
  font-weight: 300;
}
.node-event-form .field--name-field-event-date .card__block,
.node-event-form .field--name-field-event-date-end .card__block,
.node-event-edit-form .field--name-field-event-date .card__block,
.node-event-edit-form .field--name-field-event-date-end .card__block {
  max-width: 500px;
  background: #f3f3f3;
  border-radius: 5px !important;
}
.node-event-form .field--name-field-event-date .card__block label,
.node-event-form .field--name-field-event-date-end .card__block label,
.node-event-edit-form .field--name-field-event-date .card__block label,
.node-event-edit-form .field--name-field-event-date-end .card__block label {
  margin-bottom: 0.5rem;
}
.node-event-form .field--name-field-event-date .card__block .form-inline,
.node-event-form .field--name-field-event-date-end .card__block .form-inline,
.node-event-edit-form .field--name-field-event-date .card__block .form-inline,
.node-event-edit-form .field--name-field-event-date-end .card__block .form-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.node-event-form .field--name-field-event-date .card__block .form-inline > .form-item,
.node-event-form .field--name-field-event-date-end .card__block .form-inline > .form-item,
.node-event-edit-form .field--name-field-event-date .card__block .form-inline > .form-item,
.node-event-edit-form .field--name-field-event-date-end .card__block .form-inline > .form-item {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 600px) {
  .node-event-form .field--name-field-event-date .card__block .form-inline > .form-item:first-child,
.node-event-form .field--name-field-event-date-end .card__block .form-inline > .form-item:first-child,
.node-event-edit-form .field--name-field-event-date .card__block .form-inline > .form-item:first-child,
.node-event-edit-form .field--name-field-event-date-end .card__block .form-inline > .form-item:first-child {
    flex: 0 0 245px;
    max-width: 245px;
  }
}
@media (min-width: 600px) {
  .node-event-form .field--name-field-event-date .card__block .form-inline > .form-item:last-child,
.node-event-form .field--name-field-event-date-end .card__block .form-inline > .form-item:last-child,
.node-event-edit-form .field--name-field-event-date .card__block .form-inline > .form-item:last-child,
.node-event-edit-form .field--name-field-event-date-end .card__block .form-inline > .form-item:last-child {
    flex: 0 0 195px;
    max-width: 190px;
  }
}

/*# sourceMappingURL=social-event--admin.css.map */
