.ui-dialog:not(.ui-dialog-off-canvas).social-dialog--event-addtocal {
  font-family: 'montserrat', sans-serif;
  margin: 0;

  @media(max-width: 599px) {
    width: 100% !important;
    max-width: 479px !important;
  }

  .ui-dialog-titlebar {
    display: block;
    padding: 1.25rem 1.5rem 1rem;
  }

  .ui-dialog-title {
    margin: 0;
    font-size: 1.125rem;
    line-height: 27px;
  }

  .ui-dialog-content {
    @media(min-width: 600px) {
      padding: 42px 50px;
    }
  }

  .dialog-content--addtocal {
    .addtocal-location {
      background-color: #f3f3f3;
      padding: 1rem 1.25rem;
      margin-bottom: 2rem;

      + .btn-primary {
        width: 100%;
        margin-bottom: 2rem;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #fff;
        font-weight: 700;
      }

      h4 {
        margin: 0 0 1.5rem;
        font-size: 1rem;
        font-weight: 700;
      }

      .article__special-field {
        display: flex;

        + .article__special-field {
          margin-top: 1rem;
        }

        .inline-center {
          font-weight: 400;
          line-height: 24px;

          * {
            display: inline;
          }
        }
      }

      .article__special-fields-icon {
        width: 20px;
        height: 20px;
        margin-right: .75rem;
      }
    }
  }
}
