{% block content %}
    <form role="search" class="navbar-form navbar-left">
      <div class="form-group form-inline">
        {{ content.search_content_form.search_input }}
      </div>
    </form>
    <div id="search-wrapper" class="form-item form-type-search input-field search-open">
      <input id="icon_prefix" type="text" class="form-text search__input">
      <label for="icon_prefix" class="search__label">Search the entire website</label>
    </div>
{% endblock %}
{{ kint(content.search_content_form.search_input) }}


<!-- <form role="search" class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" placeholder="Search" class="form-control">
  </div>
</form>
<div id="search-wrapper" class="form-item form-type-search input-field search-open"><i class="material-icons prefix search__icon">search</i>
  <input id="icon_prefix" type="text" class="form-text search__input">
  <label for="icon_prefix" class="search__label">Search the entire website</label>
</div> -->
