// Textarea
//
// Form control which supports multiple lines of text. Change rows attribute as necessary.
//
// ### Styling
// The border should light up simply and clearly indicating which field the user is currently editing.
//
// ### Requirements
// You should have put a .form-control class on each textarea.
//
// markup: form-textarea.twig
//
// Weight: 1
//
// Style guide: atoms.form-controls.textarea

// Textarea Autogrow
//
// If you want the textarea to autogrow while typing you need to add
// classes `form-control--autogrow` to the
// element as well. Also you need to remove the rows attribute.
//
// markup: form-textarea-autogrow.twig
//
// Weight: 2
//
// Style guide: atoms.form-controls.textarea.textarea-autogrow


.data-policy-edit-form {
  .form-textarea {
    max-width: 100%;
  }
}
