<div class="form-group">
  <div class="checkbox">
    <input type="checkbox" id="test5">
    <label for="test5">Red</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="test6" checked="">
    <label for="test6">Yellow</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="test7" checked="" disabled="disabled">
    <label for="test7">Green</label>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="test8" disabled="disabled">
    <label for="test8">Brown</label>
  </div>
</div>