@import 'settings';

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@import 'input';
@import 'radio-checkbox';
@import 'switch';
@import 'select';
