<div class="form-group">
  <div class="radio">
    <input name="group1" type="radio" id="test1">
    <label for="test1">Red</label>
  </div>
  <div class="radio">
    <input name="group1" type="radio" id="test2">
    <label for="test2">Yellow</label>
  </div>
  <div class="radio">
    <input class="with-gap" name="group1" type="radio" id="test3">
    <label for="test3">Green</label>
  </div>
  <div class="radio">
    <input name="group1" type="radio" id="test4" disabled="disabled">
    <label for="test4">Brown</label>
  </div>
</div>