<div class="form-group">
  <label for="selectDropdown">A standard select</label>
  <div class="select-wrapper">
    <select class="form-control" id="selectDropdown">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <optgroup label="More options">
        <option>Option 4</option>
        <option>Option 5</option>
      </optgroup>
    </select>
  </div>
</div>