@import 'settings';

// Form controls
//
// Form controls are all individual elements that can be used in forms. They built up to form-groups.
//
// **Common form controls**
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
// * select
// * textarea
// * input[type="text"]
// * input[type="password"]
// * input[type="datetime"]
// * input[type="datetime-local"]
// * input[type="date"]
// * input[type="month"]
// * input[type="time"]
// * input[type="week"]
// * input[type="number"]
// * input[type="email"]
// * input[type="url"]
// * input[type="search"]
// * input[type="tel"]
// * input[type="color"]
//
// Weight: 1
//
// Style guide: atoms.form-controls


.form-control {
  display: block;
  width: 100%;
  max-width: $form-control-max-width;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: inherit;
  line-height: $line-height-base;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  // Placeholder Firefox
  &::-moz-placeholder {
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    font-size: $font-size-base;
  }

  @include for-tablet-landscape-up {
    font-size: $font-size-base;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  // [converter] extracted textarea& to textarea.form-control
}

@import 'input';
@import 'textarea';

@import 'input';
@import 'radio-checkbox';
@import 'switch';
@import 'range';
@import 'select';
