.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 24px;
  border: 1px solid transparent;
}

.alert * {
  margin-top: 0;
  color: inherit;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissible .close {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert em {
  font-weight: 500;
  font-style: normal;
}

.alert-sm {
  padding: 0.25rem 0.75rem;
}
