.badge {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0.25em 0.4em;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  min-width: 10px;
  max-width: 100%;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge--pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
}

.badge--large {
  padding: 0 1em;
  font-size: 0.875rem;
  line-height: 2;
}

.badge label {
  margin-bottom: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  overflow: hidden;
  font-weight: inherit;
}

.badge--toggle {
  padding: 0;
  background-color: transparent;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.badge--toggle,
.badge--toggle * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.js .badge--toggle .badge--toggle__label {
  width: 0;
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.js .badge--toggle input[type=checkbox]:checked ~ .icon-badge-toggle,
.js .badge--toggle input[type=checkbox]:checked ~ .badge--toggle__label {
  background-color: rgba(0, 0, 0, 0.1);
  color: #4d4d4d;
}

.js .badge--toggle .badge--toggle__label {
  border-radius: 0 8px 8px 0;
}

.js .badge--toggle input[type=checkbox]:checked ~ .badge--toggle__label {
  width: auto;
  padding: 4px 0.75rem 4px 0.375rem;
  opacity: 1;
}

a.badge--comment-count {
  padding: 0;
}

a.badge--comment-count .icon-badge {
  width: 22px;
  height: 18px;
  padding-left: 8px;
}

.badge--comment-count__number {
  padding: 4px 8px 4px 4px;
}
