/**
 * Contains some styles to fix the limitations of lazy_builder rendering.
 *
 * Among things it prevents properly putting the title and subtitle together.
 */
.block--custom-content-list .card__subtitle {
  text-align: center;
  color: #777;
  font-weight: 500;
}
