.block-data-policy .card__title {
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 15px;
}@media (max-width: 899px) {
  .block-data-policy {
    margin: 0 1rem;
  }
}
