.region--breadcrumb {
  display: none;
}

.breadcrumb {
  padding: 8px 1rem;
  list-style: none;
  font-size: 16px;
  margin-bottom: 0;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb a {
  display: inline-block;
  font-weight: 300;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  .region--breadcrumb {
    display: block;
    background-color: #fff;
  }
}
