[role="button"] {
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 0.875rem;
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  outline: 0;
}

.btn + .btn {
  margin-left: 5px;
}

.btn + .btn-block {
  margin-left: 0;
}

.btn .caret {
  margin-left: 3px;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  outline: 0;
}

.btn:active, .btn.active {
  background-image: none;
}

.btn.disabled, .btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn a {
  font-weight: normal;
}

.btn.btn-full {
  display: block;
}

.btn-non-clickable.disabled,
fieldset[disabled] .btn-non-clickable,
a.btn.disabled,
fieldset[disabled]
a.btn {
  pointer-events: none;
}

.btn-link {
  font-weight: normal;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], .btn-link:hover, .btn-link:focus,
fieldset[disabled] .btn-link {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link[disabled]:hover, .btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus {
  text-decoration: none;
}

.btn--with-bgicon {
  padding-left: 32px;
  background-size: 16px 16px;
  background-position: 10px 8px;
  background-repeat: no-repeat;
}

.btn--facebook {
  background-image: url("../images/icons/icon-facebook.svg");
}

.btn--linkedin {
  background-image: url("../images/icons/icon-linkedin.svg");
}

.btn--google {
  background-image: url("../images/icons/icon-google.svg");
}

.btn--twitter {
  background-image: url("../images/icons/icon-twitter.svg");
}

.fieldset-wrapper > .btn {
  margin: 5px 5px 5px 0;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 1rem;
  line-height: 1.33333;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 0.75rem;
  line-height: 1.5;
}

.btn-sm .glyphicon:before, .btn-group-sm > .btn .glyphicon:before {
  width: 13px;
  height: 13px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 0.75rem;
  line-height: 1.5;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn.pull-right + .btn {
  margin-left: 0;
}

.btn-raised {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  -webkit-transition: .15s ease-out, -webkit-box-shadow;
  transition: .15s ease-out, -webkit-box-shadow;
  transition: box-shadow, .15s ease-out;
  transition: box-shadow, .15s ease-out, -webkit-box-shadow;
}

.btn-raised:active, .btn-raised.active, .btn-raised:hover {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

.btn-raised.disabled, .btn-raised[disabled] {
  -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.btn-icon-toggle {
  background-color: transparent;
  border-radius: 50% !important;
  padding: 4px;
}

.btn-icon-toggle:hover, .btn-icon-toggle:focus {
  background-color: rgba(0, 0, 0, 0.07);
  border-color: transparent;
}

.btn-icon-toggle:active, .btn-icon-toggle.active {
  background-color: rgba(12, 12, 12, 0.25);
  border-color: transparent;
}

.btn-icon {
  font-size: 1.00012rem;
  line-height: 21px;
  height: 21px;
  width: 21px;
  vertical-align: bottom;
}

.btn-iconized {
  line-height: 12px;
}

.btn-iconized .icon-inline {
  fill: inherit;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.btn-floating {
  width: 38px;
  height: 38px;
  padding: 7px;
  border-radius: 50%;
  border: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.btn-floating:active, .btn-floating.active, .btn-floating:hover {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

.btn-floating.btn-lg, .btn-group-lg > .btn-floating.btn {
  width: 52px;
  height: 52px;
}

.btn-floating.disabled, .btn-floating[disabled] {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}

.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-toolbar {
  margin-left: -5px;
}

.btn-toolbar:before, .btn-toolbar:after {
  content: " ";
  display: table;
}

.btn-toolbar:after {
  clear: both;
}

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: left;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-left: 5px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-of-type):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn-group {
  float: left;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle, .btn-group-lg.btn-group > .btn + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

.btn-group > .btn-sm + .dropdown-toggle, .btn-group-sm.btn-group > .btn + .dropdown-toggle {
  padding-left: 6px;
  padding-right: 6px;
}

.btn-group > .btn-xs + .dropdown-toggle, .btn-group-xs.btn-group > .btn + .dropdown-toggle {
  padding-left: 4px;
  padding-right: 4px;
}

.btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-lg .caret, .btn-group-lg > .btn .caret {
  border-width: 5px 5px 0;
}

.dropup .btn-lg .caret, .dropup .btn-group-lg > .btn .caret {
  border-width: 0 5px 5px;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}

.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
  content: " ";
  display: table;
}

.btn-group-vertical > .btn-group:after {
  clear: both;
}

.btn-group-vertical > .btn-group > .btn {
  float: none;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group--operations {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-group-add-event-block,
.block-group-add-topic-block,
.block-event-add-block,
.block-topic-add-block,
.block-group-add-block {
  display: inline-block;
}

.shariff-button {
  text-align: center;
}

@media (min-width: 900px) {
  .block-group-add-event-block,
  .block-group-add-topic-block,
  .block-event-add-block,
  .block-topic-add-block,
  .block-group-add-block {
    display: block;
  }
  .block-group-add-event-block .btn,
  .block-group-add-topic-block .btn,
  .block-event-add-block .btn,
  .block-topic-add-block .btn,
  .block-group-add-block .btn {
    width: 100%;
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 899px) {
  .block-group-add-event-block,
  .block-group-add-topic-block,
  .block-event-add-block,
  .block-topic-add-block,
  .block-group-add-block {
    margin-top: 1rem;
  }
}
