.textarea--cke .cke {
  position: relative;
}

body {
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 .75rem;
}

a {
  font-weight: 500;
  color: inherit;
}

blockquote {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 2px 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 0;
}

.cke_contents_ltr blockquote {
  padding-left: 20px;
  padding-right: 8px;
  border-left-width: 5px;
}

.cke_contents_rtl blockquote {
  padding-left: 8px;
  padding-right: 20px;
  border-right-width: 5px;
}

ul,
ol {
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 12px;
}

ol {
  list-style-position: inside;
}

.list-unstyled {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 1em 0 0.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1, .h1 {
  font-size: 2rem;
  letter-spacing: 0.05em;
  font-weight: 700;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

h4, .h4 {
  font-size: 1.2em;
}

h5, .h5 {
  font-size: 1.1em;
}

h6, .h6 {
  font-size: 1em;
}

hr {
  border: 0px;
  border-top: 1px solid #ccc;
}

img.right {
  float: right;
  margin-left: 15px;
  padding: 5px;
}

img.left {
  float: left;
  margin-right: 15px;
  padding: 5px;
}

pre {
  white-space: pre-wrap;
  /* CSS 2.1 */
  word-wrap: break-word;
  /* IE7 */
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

span[lang] {
  font-style: italic;
}

figure {
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 10px 20px;
  display: inline-block;
}

figure > figcaption {
  text-align: center;
  display: block;
  /* For IE8 */
}

a > img {
  padding: 1px;
  margin: 1px;
  border: none;
  outline: 1px solid blue;
}

/**
 * @file
 * Alignment classes for text and block level elements.
 */
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

/**
 * Alignment classes for block level elements (images, videos, blockquotes, etc.)
 */
.align-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.align-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-color: #ddd;
  border-style: solid;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 24px;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table > caption + thead > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > th,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table > tbody + tbody {
  border-top: 2px solid #ddd;
}

@media screen and (min-width: 960px) {

  h1, .h1 {
    font-size: 3rem;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  h3, .h3 {
    font-size: 1.5rem;
  }

  h4, .h4 {
    font-size: 1.25em;
  }

  h5, .h5 {
    font-size: 1.1em;
  }

  h6, .h6 {
    font-size: 1em;
  }
}
