.comment {
  position: relative;
  margin-top: 1em;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.comment__avatar {
  margin-right: 8px;
  width: 44px;
}

.comment__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comment__author {
  color: #000000;
  padding-right: 30px;
}

.comment__metadata {
  display: inline-block;
  font-size: 0.75rem;
  color: #777777;
}

.comment__metadata > * {
  display: inline-block;
  margin-right: 0.5em;
}

.comment__text {
  margin: .25em 0 .5em;
  line-height: 1.3;
}

.comment__text p {
  margin: 0;
}

.comments {
  margin-bottom: 0.5em;
  padding: 1em 0.5em 1em 1em;
}

.comments .comment:first-of-type {
  margin-top: 0;
}

.comments .comment__avatar {
  width: 34px;
}

.comments .comment__avatar img {
  width: 34px;
  height: 34px;
}

.comment__actions {
  position: absolute;
  top: -8px;
  right: 0;
}

.comment__reply-btn {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {

  .comment__avatar {
    margin-right: 12px;
  }
}

@media screen and (min-width: 960px) {

  .comments {
    margin-left: 56px;
  }
}
