.email-preview {
  margin: 0 -1.25rem 20px;
}

.email-preview--content {
  padding: 20px 1.25rem 0;
}

.email-preview--inside,
.email-preview .subject {
  background-color: #f3f3f3;
}

.email-preview .subject {
  padding: 10px 1.25rem;
  margin-bottom: 20px;
  font-size: 14px;
}

.email-preview .header {
  padding: 35px 1rem 25px;
  text-align: center;
}

.email-preview--inside {
  padding: 0 1rem 30px;
  text-align: center;
}

.email-preview table {
  width: 100%;
}

.email-preview .main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 25px;
  padding: 32px 1rem;
  font-size: 14px;
  text-align: left;
  background: #fff;
  -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.email-preview .main .wrapper {
  max-width: 486px;
  margin: 0 auto;
}

.email-preview .logo {
  max-height: 80px;
  max-width: 160px;
}

.email-preview .footer {
  font-size: 12px;
}

.email-preview .helper {
  font-size: 12px;
  padding: 10px 1.25rem 0;
}

.email-preview .btn-wrapp {
  text-align: center;
  margin-bottom: 30px;
}

.email-preview .btn-link {
  display: block;
  position: relative;
  margin-bottom: 15px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 9px 25px 7px;
  text-align: center;
}

.email-preview .btn-link img {
  position: absolute;
  top: 10px;
  left: 11px;
}

.email-preview .btn-link-one {
  display: inline-block;
  min-width: 230px;
}

.email-preview a.btn-link-bg {
  color: #ffffff;
}
