.event-date-advanced,
.event-location-address,
.event-flag-online,
.event-flag-enrolled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  height: 26px;
}

.event-date-advanced .icon,
.event-location-address .icon {
  width: 20px;
  height: 20px;
}

.event-date-advanced > span {
  vertical-align: middle;
}

.event-location-address__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  gap: 10px;
}

.event-flag-enrolled {
  background: #339c34;
  color: #fff;
  border-radius: 4px;
  padding: 2px 4px;
  gap: 2px;
  height: auto;
  font-weight: 500;
  font-size: 13px;
}

.event-flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-flag-online .icon-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14px;
  height: 14px;
  padding: 3px;
  background-color: #d5d6d2;
  border-radius: 50%;
}

.event-flag-enrolled,
.event-flag-online,
.event-date-advanced {
  margin-bottom: 5px;
}

.event-flag-enrolled,
.event-flag-online {
  cursor: pointer;
}

.event-flag-enrolled .icon,
.event-flag-online .icon {
  width: 12px;
  height: 12px;
}

.inline-center.date, .inline-center.location, .inline-center.online {
  vertical-align: middle;
  line-height: 1;
  margin-right: 5px;
}

.inline-center.enrolled {
  margin-right: 0;
}

.event-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 599px) {
  .event-location-address__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
