.file {
  display: table;
  font-size: 0.75rem;
  margin: 10px 0 1rem;
  width: 100%;
}

.file > span {
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

.file > span:first-child {
  border-left: 1px solid #e6e6e6;
}

.file > span:last-child {
  border-right: 1px solid #e6e6e6;
}

.file > span:not(.text-primary) {
  color: #777777;
}

.file > .tabledrag-changed {
  display: table-cell;
  padding: 0 1em;
  top: 0;
  vertical-align: middle;
  border-left: 1px solid inherit;
}

.file-icon {
  display: table-cell;
  padding: .25em .5em;
  text-align: center;
  vertical-align: top;
}

.file-link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  white-space: normal;
  word-break: break-word;
}

.file-link a, .file-link a:hover, .file-link a:focus, .file-link a:active {
  text-decoration: none;
  color: inherit;
}

.file-size {
  display: table-cell;
  padding: 0.5em 1em;
  text-align: right;
  white-space: pre;
  vertical-align: middle;
}

.image-widget.row {
  overflow: hidden;
}

.file-widget .file {
  margin-bottom: 0;
  font-size: 0.85rem;
}

.file-widget + .form-managed-file {
  margin-top: 1rem;
}

@media (min-width: 600px) {

  .file {
    margin-top: 0;
  }
}
