.iframe-container iframe {
  display: block;
}

.iframe-container p .fitframe {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 100%;
}

.iframe-container p > iframe {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 100%;
}
