.iframe-container {
  max-width: 100% !important;
}

.iframe-container .twitter-tweet,
.iframe-container .fb_iframe_widget,
.iframe-container iframe {
  max-width: 100% !important;
  width: 100% !important;
}
