.iframe-container {
  max-width: 100% !important;
}

.iframe-container .twitter-tweet,
.iframe-container .fb_iframe_widget,
.iframe-container iframe {
  max-width: 100% !important;
  width: 100% !important;
  min-height: 300px;
}

@media screen and (max-width: 600px) {
  .iframe-container .twitter-tweet,
  .iframe-container .fb_iframe_widget,
  .iframe-container iframe {
    max-width: 100% !important;
    width: 100% !important;
    min-height: 200px;
  }
}
