@charset "UTF-8";
.form-control {
  display: block;
  width: 100%;
  max-width: 23rem;
  height: 38px;
  padding: 6px 12px;
  font-size: inherit;
  line-height: 1.5;
  background-image: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.form-control::-moz-placeholder {
  opacity: 1;
}

.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form-control:disabled,
fieldset[disabled] .form-control,
.form-disabled .form-control {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.26);
}

.form-control--autogrow {
  resize: none;
  min-height: 38px;
  overflow: hidden;
  max-width: none;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="file"] {
  display: inline-block;
}

select[multiple],
select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type="search"] {
  -webkit-appearance: none;
}

.data-policy-edit-form .form-textarea {
  max-width: 100%;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-bottom: 5px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

/* Remove default Radio Buttons */
[type="radio"]:not(:checked),
[type="radio"]:checked,
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.form-no-label.checkbox [type="radio"], .form-no-label.checkbox [type="checkbox"] {
  opacity: 1;
  left: 0;
  margin: 0;
  position: static;
}

.checkbox label,
.radio label {
  font-weight: 300;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  line-height: 21px;
  font-size: 0.875rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio label:before,
.radio label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 2px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

/* Unchecked styles */
[type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid #555555;
}

[type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
  border: 2px solid #555555;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

[type="radio"]:checked + label:before {
  border-radius: 50%;
}

[type="radio"]:checked + label:after {
  border-radius: 50%;
  z-index: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

/* Disabled style */
[type="radio"]:disabled + label:before,
[type="radio"]:disabled + label:before {
  background-color: transparent;
}

[type="radio"]:disabled:checked + label:before {
  border: 2px solid rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled + label {
  color: rgba(0, 0, 0, 0.26);
  cursor: not-allowed;
}

[type="radio"]:disabled:not(:checked) + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:checked + label:after {
  background-color: rgba(0, 0, 0, 0.26);
  border: none;
  background-color: rgba(0, 0, 0, 0.26);
}

[type="checkbox"] + label:after {
  border-radius: 2px;
}

[type="checkbox"] + label:before,
[type="checkbox"] + label:after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  z-index: 1;
}

[type="checkbox"]:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
          transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}

[type="checkbox"]:not(:checked) + label:after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #555555;
  top: 0px;
  z-index: 0;
}

[type="checkbox"]:checked + label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotateZ(37deg);
          transform: rotateZ(37deg);
  margin-top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

[type="checkbox"]:checked + label:after {
  top: 0px;
  width: 20px;
  height: 20px;
  z-index: 0;
}

[type="checkbox"].tabbed:focus + label:after {
  border-radius: 2px;
  border-color: #555555;
  background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"].tabbed:checked:focus + label:after {
  border-radius: 2px;
}

[type="checkbox"]:disabled + label {
  color: rgba(0, 0, 0, 0.26);
  cursor: not-allowed;
}

[type="checkbox"]:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent;
}

[type="checkbox"]:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #BDBDBD;
}

[type="checkbox"]:disabled:checked + label:before {
  background-color: transparent;
}

[type="checkbox"]:disabled:checked + label:after {
  background-color: #BDBDBD;
  border-color: #BDBDBD;
}

.form-inline {
  margin-bottom: 1rem;
}

.switch * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.switch__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.switch__options {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
  text-align: right;
}

.switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label {
  font-weight: 300;
}

.switch .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  background-color: #777777;
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch .lever:after {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #f3f3f3;
  border-radius: 21px;
  left: -5px;
  top: -3px;
  -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease;
  transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease;
}

input[type=checkbox]:not(:disabled) ~ .lever:active:after {
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08);
}

.switch input[type=checkbox]:checked + .lever:after {
  left: 24px;
}

.switch input[type=checkbox][disabled] + .lever {
  cursor: default;
}

.switch input[type=checkbox][disabled] + .lever:after,
.switch input[type=checkbox][disabled]:checked + .lever:after {
  background-color: #BDBDBD;
}

[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
}

[type='range']:focus {
  outline: 0;
}

[type='range']:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

[type='range']:focus::-moz-range-thumb {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

[type='range']:focus::-ms-thumb {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

[type='range']::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  background: #e6e6e6;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

[type='range']::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}

[type='range']::-moz-range-track {
  cursor: pointer;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  background: #e6e6e6;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

[type='range']::-moz-range-thumb {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

[type='range']::-ms-track {
  cursor: pointer;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}

[type='range']::-ms-fill-lower {
  background: #d9d9d9;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
}

[type='range']::-ms-fill-upper {
  background: #e6e6e6;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
}

[type='range']::-ms-thumb {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 0;
}

.select-wrapper {
  position: relative;
  width: 100%;
  max-width: 23rem;
}

.form-inline .select-wrapper {
  width: auto;
}

.input-group .select-wrapper {
  display: table-cell;
}

.select-wrapper select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1;
  padding-right: 30px;
}

.select-wrapper select:disabled {
  color: rgba(0, 0, 0, 0.26);
}

.select-wrapper:after {
  content: '▾';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: -.5em;
  padding-right: 12px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
}

.form-disabled .select-wrapper::after {
  color: #777777;
}

@media (min-width: 600px) {
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: absolute;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 22px;
    margin-right: 25px;
  }
}

@media (min-width: 900px) {
  .form-control {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .form-control {
    font-size: 16px;
  }
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 24px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  input[type="date"].form-control:focus,
  input[type="time"].form-control:focus,
  input[type="datetime-local"].form-control:focus,
  input[type="month"].form-control:focus {
    background: inherit;
  }
}
