.form--post-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form--post-create .field--name-field-post {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.form--post-create .field--name-field-post .filter-wrapper {
  margin-bottom: 0;
}

.form--post-create .field--name-field-post .form-control {
  min-height: 4em;
}

.form--post-create .field--name-field-post-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
}

.form--post-create .field--name-field-post-image .btn-default {
  width: 100%;
  margin-bottom: 1rem;
}

.form--post-create .field--name-field-post-image .preview {
  display: inline-block;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  width: auto;
}

.form--post-create .field--name-field-post-image .image-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin-bottom: 1rem;
}

.form--post-create .field--name-field-post-image .image-widget.hidden {
  display: block !important;
  height: 0;
  margin-bottom: 0 !important;
}

.form--post-create .field--name-field-post-image .image-widget.hidden .form-file {
  display: none;
}

.form--post-create .field--name-field-post-image .image-widget.hidden .form-submit {
  position: absolute;
  z-index: 10;
}

.form--post-create .field--name-field-post-visibility {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form--post-create .btn-primary {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-left: 0.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 600px) {
  .form--post-create .field--name-field-post-image .image-widget.hidden .form-submit {
    position: relative;
    top: -2px;
    left: 150px;
    right: auto;
  }
  .form--post-create .field--name-field-post-image {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-bottom: 0;
  }
  .form--post-create .field--name-field-post-image .btn-default {
    width: auto;
    margin-bottom: 0;
  }
  .form--post-create .field--name-field-post-visibility {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .form--post-create .btn-primary {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

@media (max-width: 599px) {
  .form--post-create .field--name-field-post-image .image-widget.hidden .form-submit {
    width: 29px;
    height: 29px;
    top: 3px;
    right: 3px;
  }
  .form--post-create .field--name-field-post-image .image-widget.hidden .form-submit .ajax-throbber {
    top: 4px;
    left: 4px;
  }
}
