label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.control-label {
  font-size: 0.875rem;
}

.control-label__icon--bg {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px 24px;
}

.control-label__icon--svg {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  padding: 3px;
  fill: #4d4d4d;
}

.control-label--above {
  display: block;
  margin-bottom: 3px;
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}

.form-group .radio,
.form-group .checkbox {
  margin-bottom: 0;
}

.form-group-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-group-inline .form-group {
  margin-bottom: 0;
}

.form-group-inline .form-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-group-inline .btn {
  margin-left: 8px;
  margin-bottom: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.form-group-inline--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-group-inline--right .button--primary {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.form-no-label label + .form-required {
  display: none;
}

span.form-required {
  margin: 0 3px;
}

.help-block {
  display: block;
  margin-top: 5px;
  font-size: 0.75rem;
  color: #464545;
}

.radio .help-block {
  padding-left: 25px;
  max-width: none;
  margin-top: 0;
}

.form-actions .btn {
  margin-bottom: 5px;
}

.views-exposed-form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.views-exposed-form__actions .btn-default {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.views-exposed-form__actions .btn-flat {
  margin-left: 0;
}

.form--default .form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form--default .form-actions .btn-group--primary,
.form--default .form-actions .btn-primary {
  margin-left: auto;
  margin-right: 0;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.form-item--error-message {
  margin-top: 10px;
  position: relative;
  font-size: 0.75rem;
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 2.25rem;
}

.form-item--error-message .close {
  float: none;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 16px;
  padding: 0.25rem 0.75rem;
}

.form-item--error-message::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 20px;
  top: -7px;
  border-bottom: 8px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.fieldset-wrapper .form-item--error-message {
  margin-top: 0;
}

.has-error .form-inline {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
}
