.form-horizontal .form-fieldset {
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .form-horizontal .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form-horizontal .help-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    line-height: 1.5;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-right: 1em;
  }
  .form-horizontal .control-label + .form-control,
  .form-horizontal .control-label + .select-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: auto;
  }
  .form-horizontal .control-label--wide {
    -webkit-box-flex: 3;
        -ms-flex: 3 1 70%;
            flex: 3 1 70%;
  }
  .form-horizontal .control-label--wide + .form-control,
  .form-horizontal .control-label--wide + .select-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
}

@media (min-width: 1200px) {
  .form-horizontal .control-label--wide {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .form-horizontal .control-label--wide + .form-control,
  .form-horizontal .control-label--wide + .select-wrapper {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}
