.form-toolbar {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 1rem;
  text-align: center;
}

.form-toolbar .btn {
  margin-left: 0;
}

.form-toolbar .form-group {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .form-toolbar {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .form-toolbar.form-toolbar--sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: 10px;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  }
  .toolbar-fixed.toolbar-horizontal .form-toolbar.form-toolbar--sticky {
    top: 50px;
  }
  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open .form-toolbar.form-toolbar--sticky {
    top: 90px;
  }
  .form-toolbar.form-toolbar--fixed-bottom {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    margin-bottom: 0;
  }
  .form-toolbar .btn {
    margin-left: 5px;
    margin-bottom: 0;
  }
}
