label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.control-label {
  font-size: 0.875rem;
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}

.form-group > label {
  font-weight: 300;
  font-size: 0.875rem;
  cursor: text;
}

.form-group-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-group-inline .form-group {
  margin-bottom: 0;
}

.form-group-inline .form-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-group-inline .btn {
  margin-left: 8px;
  margin-bottom: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.form-group-inline--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-group-inline--right .button--primary {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.form-no-label label + .form-required {
  display: none;
}

span.form-required {
  margin: 0 3px;
}

.help-block {
  display: block;
  margin-top: 5px;
  font-size: 0.75rem;
  color: #777777;
}

.radio .help-block {
  padding-left: 25px;
  max-width: none;
  margin-top: 0;
}

.form-control--autogrow {
  overflow: auto;
  resize: none;
  max-width: none;
}

.form-actions .btn {
  margin-bottom: 5px;
}

.views-exposed-form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
}

.views-exposed-form__actions .btn-default {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.views-exposed-form__actions .btn-flat {
  margin-left: 0;
  margin-right: auto;
}

.form--default .form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form--default .form-actions .btn-group--primary,
.form--default .form-actions .btn-primary {
  margin-left: auto;
  margin-right: 0;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 40px;
}

.form-control-static.input-lg, .form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}

.has-feedback {
  position: relative;
}

.has-feedback .form-control {
  padding-right: 47.5px;
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
}

.has-feedback label ~ .form-control-feedback {
  top: 29px;
}

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

@media (min-width: 600px) {

  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }

  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }

  .form-inline .input-group > .form-control {
    width: 100%;
  }

  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
