form.card__nested-section {
  margin: 0;
  padding: 0;
  background: transparent;
}

form.card__nested-section:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-inline {
  margin-bottom: 1rem;
}

.form-item-data-policy .glyphicon-spin {
  margin: -2px 0;
  vertical-align: middle;
}

.card__block .form-item-data-policy .form-item--error-message {
  display: block;
  max-width: 23rem;
}

.card__block .form-item-data-policy label a {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .form-inline .form-item {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: absolute;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 22px;
    margin-right: 25px;
  }
}
