.form-horizontal .form-fieldset {
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .form-horizontal .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .form-horizontal .help-block {
    flex-basis: 100%;
  }
  .form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    line-height: 1.5;
    flex: 1 1 auto;
    padding-right: 1em;
  }
  .form-horizontal .control-label + .form-control,
  .form-horizontal .control-label + .select-wrapper {
    flex: 0 1 auto;
    width: auto;
  }
  .form-horizontal .control-label--wide {
    flex: 3 1 70%;
  }
  .form-horizontal .control-label--wide + .form-control,
  .form-horizontal .control-label--wide + .select-wrapper {
    flex: 1 1 30%;
  }
}

@media (min-width: 1200px) {
  .form-horizontal .control-label--wide {
    flex-basis: 80%;
  }
  .form-horizontal .control-label--wide + .form-control,
  .form-horizontal .control-label--wide + .select-wrapper {
    flex-basis: 20%;
  }
}
