.table-forum {
  margin-bottom: 1.75rem;
}

.table-forum thead th {
  padding: 1.5rem 30px 1rem;
}

.table-forum thead th a,
.table-forum thead th.is-active a {
  color: #4a4a4a;
}

.table-forum thead th a:hover,
.table-forum thead th.is-active a:hover {
  text-decoration: underline;
}

.table-forum thead th a .icon-tablesort,
.table-forum thead th.is-active a .icon-tablesort {
  fill: #4a4a4a;
}

.table-forum thead th,
.table-forum thead th a {
  font-size: 14px;
  font-weight: 700;
}

.table-forum tbody td {
  padding-right: 30px;
  padding-left: 30px;
}

.table-forum tbody td > * {
  margin-bottom: 1rem;
}

.table-forum tbody td > *[title='No new posts'], .table-forum tbody td > *:last-child {
  margin-bottom: 0;
}

.table-forum tbody td a {
  font-weight: 700;
}

@media (min-width: 900px) {
  .path-forum .layout--with-complementary .region--content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .table-forum thead td:first-child,
  .table-forum thead th:first-child,
  .table-forum tbody td:first-child,
  .table-forum tbody th:first-child {
    padding-left: 2.5rem;
  }
  .table-forum thead td:last-child,
  .table-forum thead th:last-child,
  .table-forum tbody td:last-child,
  .table-forum tbody th:last-child {
    padding-right: 2.5rem;
  }
}
