.view--group-managers .card__block {
  padding: 0;
}@media (min-width: 900px) {
  .view--group-managers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25rem;
  }
  .view--group-managers .card__block {
    flex: 0 0 48%;
  }
}
