.container, .region--content-top,
.region--content-bottom,
.region--hero,
.region--secondary-navigation {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container {
  overflow: hidden;
  min-height: 100%;
  min-height: calc(100vh - 50px);
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
}

.region--title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.region--content,
.region--content-bottom,
.region--sidebar-first,
.region--sidebar-second {
  margin-top: 1rem;
}

.layout--with-complementary > .region--content {
  padding-left: 1em;
  padding-right: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.region--complementary {
  padding-left: 1em;
  padding-right: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.layout--with-two-columns .region--content,
.layout--with-two-columns .region--sidebar-first,
.layout--with-two-columns .region--sidebar-second {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.layout--with-three-columns .region--content,
.layout--with-three-columns .region--sidebar-first,
.layout--with-three-columns .region--sidebar-second {
  padding-left: 1em;
  padding-right: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.region--complementary-bottom {
  display: none;
}

.socialblue--sky.path-user .region--hero, .socialblue--sky.path-group .region--hero {
  max-width: 100%;
}

.socialblue--sky.path-user .layout--with-complementary, .socialblue--sky.path-group .layout--with-complementary {
  z-index: 2;
}

.socialblue--sky.path-user .region--complementary, .socialblue--sky.path-group .region--complementary {
  position: relative;
  top: 1px;
}

.socialblue--sky.path-user .region--secondary-navigation, .socialblue--sky.path-group .region--secondary-navigation {
  position: relative;
  z-index: 3;
}

@media (min-width: 900px) {
  .container, .region--content-top,
  .region--content-bottom,
  .region--hero,
  .region--secondary-navigation {
    max-width: 1200px;
  }
  .region--title {
    margin-top: 1rem;
  }
  .layout--with-complementary > .region--content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .region--complementary {
    margin-top: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 33.33333%;
  }
  .layout--with-two-columns .region--content,
  .layout--with-two-columns .region--sidebar-first,
  .layout--with-two-columns .region--sidebar-second {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .layout--with-three-columns .region--content,
  .layout--with-three-columns .region--sidebar-first,
  .layout--with-three-columns .region--sidebar-second {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .region--complementary-bottom {
    display: block;
  }
  .region--complementary-top {
    margin-top: 0;
  }
  .socialblue--sky .layout--with-complementary.sidebar-left > .region--complementary {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .socialblue--sky .region--secondary-navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1200px;
            flex: 0 0 1200px;
  }
  .socialblue--sky.path-user .region--complementary, .socialblue--sky.path-group .region--complementary {
    top: -60px;
  }
  .socialblue--sky.path-user .region--secondary-navigation, .socialblue--sky.path-group .region--secondary-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: -44px 0 0;
    padding-left: 2rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .layout--with-complementary > .region--content {
    padding-left: 0;
  }
  .region--complementary {
    padding-right: 0;
  }
  .layout--with-two-columns .region--content {
    padding-left: 0;
  }
  .layout--with-two-columns .region--sidebar-first,
  .layout--with-two-columns .region--sidebar-second {
    padding-right: 0;
  }
  .layout--with-three-columns .region--content {
    padding-left: 0;
  }
  .layout--with-three-columns .region--sidebar-second {
    padding-right: 0;
  }
  .socialblue--sky .layout--with-complementary.sidebar-left > .region--complementary {
    padding-right: 1rem;
    padding-left: 0;
  }
  .socialblue--sky .layout--with-complementary.sidebar-left > .region--content {
    padding-left: 1rem;
    padding-right: 0;
  }
  .socialblue--sky.path-user .region--secondary-navigation, .socialblue--sky.path-group .region--secondary-navigation {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 0;
  }
}

@media (max-width: 899px) {
  .socialblue--sky.path-user .region--secondary-navigation, .socialblue--sky.path-group .region--secondary-navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .socialblue--sky.path-user .region--complementary, .socialblue--sky.path-group .region--complementary {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .socialblue--sky.path-user .region--content, .socialblue--sky.path-group .region--content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
