.vote-widget .vote-dislike {
  display: none;
}

.badge a.disable-status {
  cursor: default;
}

.badge a.disable-status .icon-vote {
  fill: #4d4d4d;
  stroke: #4d4d4d;
}

.badge .icon-vote {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: #4d4d4d;
  stroke-width: 15px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.voted-like .icon-vote {
  fill: black;
  stroke: black;
}

.badge a:active.voted-like .icon-vote {
  fill: black;
  stroke: black;
}

.badge a:active:not(.voted-like) .icon-vote {
  stroke: black;
  fill: transparent;
}

@media (min-width: 600px) {

  .badge a:hover:not(.voted-like) .icon-vote {
    stroke: black;
    fill: transparent;
  }

  .badge a:hover.voted-like .icon-vote {
    fill: #4d4d4d;
    stroke: #4d4d4d;
  }
}
