.vote-widget {
  display: inline-block;
  vertical-align: middle;
}

.vote-widget .vote-dislike {
  display: none;
}

.badge-default .icon-vote {
  fill: transparent;
  stroke: #4d4d4d;
  stroke-width: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge a.disable-status {
  cursor: default;
}

.badge a.disable-status .icon-vote {
  fill: #4d4d4d;
  stroke: #4d4d4d;
}

.voted-like .icon-vote {
  fill: black;
  stroke: black;
}

.vote-like a:active.voted-like .icon-vote {
  fill: black;
  stroke: black;
}

.vote-like a:active:not(.voted-like) .icon-vote {
  stroke: black;
  fill: transparent;
}

@media (min-width: 600px) {

  .vote-like a:hover:not(.voted-like) .icon-vote {
    stroke: black;
    fill: transparent;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .vote-like a:hover.voted-like .icon-vote {
    fill: #4d4d4d;
    stroke: #4d4d4d;
  }
}
