.vote-widget {
  display: inline-block;
  vertical-align: middle;
}

.vote-widget .vote-dislike {
  display: none;
}

.vote__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vote-like {
  margin-right: 3px;
  cursor: pointer;
}

.icon-vote {
  width: 18px;
  height: 18px;
  padding: 0 1px;
  line-height: 1;
  fill: transparent;
  stroke: #4d4d4d;
  stroke-width: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  vertical-align: text-top;
}

svg[class^="icon-vote"] {
  vertical-align: text-bottom;
}

.vote__count {
  font-size: 14px;
}

.vote__count .use-ajax {
  outline: 0;
}

.vote-widget a.disable-status {
  cursor: default;
}

.vote-widget a.disable-status .icon-vote {
  fill: transparent;
  stroke: #4d4d4d;
}

.voted-like .icon-vote {
  fill: black;
  stroke: black;
}

.vote-like a:active.voted-like .icon-vote {
  fill: black;
  stroke: black;
}

.vote-like a:active:not(.voted-like) .icon-vote {
  stroke: black;
  fill: transparent;
}

.view--who-liked .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.5rem 0;
}

.view--who-liked .row:last-child {
  border-bottom: 0;
}

.view--who-liked .views-field-rendered-entity-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54px;
          flex: 0 0 54px;
}

.view--who-liked .views-field-rendered-entity-1 a:focus {
  outline: 0;
}

.view--who-liked .views-field-name {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  min-width: 0;
}

.view--who-liked .views-field-name a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view--who-liked .views-field-view-user {
  display: none;
}

.view--who-liked .mini-pager {
  background-image: none;
}

@media (min-width: 600px) {
  .vote-like a:hover .icon-vote {
    stroke: black;
    fill: transparent;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .vote-like a:hover.voted-like .icon-vote,
  .vote-like a:hover.disable-status .icon-vote {
    fill: #4d4d4d;
    stroke: #4d4d4d;
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 900px) {
  .view--who-liked {
    width: 500px;
  }
  .view--who-liked .views-field-view-user {
    margin-right: 0;
    display: block;
  }
  .view--who-liked .views-field-view-user a {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 0.875rem;
    line-height: 1.5;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    outline: 0;
  }
}

@media (max-width: 599px) {
  .vote-widget {
    width: 100%;
  }
  .vote__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .vote-like {
    margin-right: 10px;
  }
  .icon-vote {
    width: 22px;
    height: 22px;
  }
}
