.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-width: 0;
}

.list-item__avatar {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  margin-right: 10px;
  border-radius: 50%;
  margin-top: 2px;
}

.list-item__avatar--medium {
  width: 44px;
  height: 44px;
  flex-basis: 44px;
}

.list-item--withlabel {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.list-item__label {
  margin-right: 20px;
  font-weight: 500;
  flex-basis: 100%;
  align-self: flex-start;
}

.list-item__text {
  flex-grow: 1;
  max-width: 100%;
  margin: 0;
  font-size: .875rem;
  line-height: 1.25;
}

.list-item__text p {
  margin-bottom: 0;
}

.list-item__text .list-item__text--small {
  color: #555;
  font-weight: 300;
  margin-top: 5px;
}

.list-item--visibility {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: -1px;
  justify-content: flex-start;
}

.list-item--visibility .form-group label {
  font-weight: 500;
  cursor: pointer;
}

.list-item--visibility:hover, .list-item--visibility:focus-within {
  background-color: #e6e6e6;
  cursor: pointer;
}

.dropdown-menu--visibility > .list-item--visibility > a {
  padding: 0;
}

.dropdown-menu--visibility > .list-item--visibility > a, .dropdown-menu--visibility > .list-item--visibility > a:hover, .dropdown-menu--visibility > .list-item--visibility > a:focus {
  background-color: inherit;
  box-shadow: none;
  outline: none;
}

.list-item--visibility .icon-small {
  fill: #4d4d4d;
  margin-right: .25em;
}

.list-item--link .list-item__avatar {
  margin-left: 0.625rem;
}

.list-item--link:hover, .list-item--link:focus {
  background-color: rgba(0, 0, 0, 0.12);
}

.item-list__comma-list,
.item-list__comma-list li {
  display: inline;
}

.item-list__comma-list {
  margin: 0;
  padding: 0;
}

.item-list__comma-list li:after {
  content: ", ";
}

.item-list__comma-list li:last-child:after {
  content: "";
}

@media (min-width: 600px) {
  .list-item__label {
    flex-basis: 180px;
  }
}
