.media-wrapper {
  position: relative;
  margin-top: 15px;
}

.media-wrapper:first-of-type {
  margin-top: 0;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.media-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 85px;
}

.media-object {
  display: block;
}

.media-right,
.media > .pull-right {
  padding-left: 8px;
}

.media-left,
.media > .pull-left {
  padding-right: 8px;
}

.media-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
  padding-right: 40px;
}

.media-heading p {
  margin: 0;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

@media (min-width: 600px) {
  .media-right,
  .media > .pull-right {
    padding-left: 20px;
  }
  .media-left,
  .media > .pull-left {
    padding-right: 20px;
  }
}
