@media (max-width: 599px) {
  .mentions-input .ui-autocomplete {
    max-height: 125px;
    overflow-y: auto;
  }
  .main-container {
    overflow: auto;
  }
  .ui-autocomplete.ui-widget-content {
    margin-bottom: 1rem;
  }
}
