.mentions-input .ui-autocomplete {
  max-height: 304px;
  overflow-y: auto;
}

.ui-state-active {
  background-color: #e6e6e6;
}

@media (max-width: 599px) {
  .main-container {
    overflow: auto;
  }
}
