.message__created {
  font-size: 12px;
  color: #777777;
  line-height: 24px;
}

.field--name-message p {
  margin: 0;
}

.message {
  font-weight: 300;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.message:hover, .message:focus {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.message .avatar {
  -webkit-box-flex: 64px;
      -ms-flex: 64px 0 0px;
          flex: 64px 0 0;
}

.message__inbox-body {
  overflow: hidden;
}

.message__excerpt {
  margin-top: 0.3em;
  line-height: 1;
}

.message__excerpt p {
  margin: 0;
}

.message__excerpt .message__owner {
  padding-right: 0.5em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  white-space: nowrap;
}

.message__heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0 0.5rem;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0.5rem;
}

.message__recipients {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message__back-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
}

.private-message-thread-messages {
  padding: 1.25rem;
}

.message__thread-actions {
  margin-left: auto;
  margin-right: 0;
}

.message__thread-members {
  font-weight: 500;
}

.private-message-full {
  margin-bottom: 2rem;
}

.private-message-full .message__owner {
  font-weight: 500;
  padding-right: 1em;
}

.message__deleted .private-message-full .message__owner {
  color: #9b9b9b;
}

.message__by-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message__by-me .message__message-body {
  background: #f3f3f3;
  border: 0;
}

.message__message-body {
  display: block;
  padding: 1.25rem;
  border: #e6e6e6 2px solid;
  margin-top: 0.625em;
}

.message__deleted .message__message-body {
  text-align: center;
  color: #adadad;
  font-size: 0.85em;
}

.message__message-body p:last-child {
  margin-bottom: 0;
}

.card--message-thread .card__block {
  padding-top: 0;
}

.private-message-form textarea.form-control {
  height: 38px;
}

.avatar-group-icon {
  display: inline-block;
  background-color: #adadad;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url(../images/icons/icon-group-white.svg);
  background-position: 50% 50%;
}

.avatar-group-icon--medium {
  width: 44px;
  height: 44px;
  padding: 8px;
  background-size: 28px 28px;
}

.avatar-group-icon--small {
  width: 34px;
  height: 34px;
  padding: 6px;
  background-size: 22px 22px;
}

.unread-thread .card {
  background: rgba(0, 0, 0, 0.02);
}

.unread-thread .read-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  .message__created {
    float: right;
  }
  .private-message-full {
    width: 70%;
    max-width: 550px;
  }
  .private-message-form .btn-icon {
    display: none;
  }
}

@media (min-width: 900px) {
  .message__excerpt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .message__message-excerpt {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (max-width: 599px) {
  .private-message-form .btn--comment-submit {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 0;
  }
  .private-message-form .btn--comment-submit .label {
    font-size: 0;
    text-indent: -9999px;
  }
}
