.message__created {
  font-size: 12px;
  color: #777777;
  line-height: 24px;
}

.field--name-message {
  margin-top: 5px;
}

.field--name-message p {
  margin: 0;
}

.message {
  font-weight: 300;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.message:hover, .message:focus {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.message__excerpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message__excerpt .message__owner {
  padding-right: 0.5em;
}

.message__heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1.25rem;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0.5rem;
}

.message__back-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  height: 44px;
  margin-right: 1em;
}

.message__thread-actions {
  margin-left: auto;
  margin-right: 0;
}

.message__thread-members {
  font-weight: 500;
}

.message__thread-member {
  display: inline-block;
}

@media (min-width: 600px) {
  .message__created {
    float: right;
  }
}
