.metainfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
  line-height: 1.4;
}

.metainfo__follow {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 30px;
}

.metainfo__follow .flag {
  display: block;
}

.metainfo__avatar {
  margin-right: 12px;
}

.metainfo__avatar .img-metainfo__avatar {
  width: 44px;
  height: auto;
}

.metainfo__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.875rem;
}

.metainfo__content a {
  text-decoration: underline;
  color: #4d4d4d;
}

.metainfo__content .badge--toggle {
  vertical-align: text-top;
}

.metainfo__authorname {
  display: inline-block;
  color: #777777;
  margin-right: 0.2em;
}

.metainfo__published-date {
  display: inline-block;
  color: #777777;
}

.metainfo__properties {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 20px 0 40px;
}

.metainfo__brief {
  padding-bottom: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.metainfo__brief .badge--likes-count,
.metainfo__brief .badge--visibility,
.metainfo__brief .badge--comment-count {
  margin-right: 3px;
}

.article__special-fields {
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
}

.article__special-fields .article__special-field {
  margin-bottom: 15px;
}

.article__special-fields .article__special-field:last-child {
  margin-bottom: 0;
}

.article__special-fields .article__special-fields-icon {
  width: 18px;
  height: 18px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  fill: #222222;
  margin-right: 12px;
}

.node--unpublished__label {
  display: inline-block;
  position: absolute;
  font-style: italic;
  font-weight: 500;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
}

@media (min-width: 600px) {

  .metainfo__follow {
    float: right;
    padding-bottom: 0;
  }
}
