.metainfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
  line-height: 1.4;
}

.metainfo__avatar {
  margin-right: 12px;
}

.metainfo__avatar .img-metainfo__avatar {
  width: 44px;
  height: auto;
}

.metainfo__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.875rem;
}

.metainfo__content a {
  text-decoration: underline;
  color: #4d4d4d;
}

.metainfo__content .badge--toggle {
  vertical-align: text-top;
}

.metainfo__authorname {
  display: inline-block;
  color: #777777;
  margin-right: 0.2em;
}

.metainfo__published-date {
  display: inline-block;
  color: #777777;
}

.metainfo__properties {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 20px 0 40px;
}

.meta-engage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.meta-engage .badge {
  margin-right: 5px;
}

.meta-follow {
  margin-right: 0;
  margin-left: auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 1rem;
}

.article__special-fields {
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
}

.article__special-fields .article__special-field {
  margin-bottom: 15px;
}

.article__special-fields .article__special-field:last-child {
  margin-bottom: 0;
}

.article__special-fields .article__special-fields-icon {
  width: 18px;
  height: 18px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  fill: #222222;
  margin-right: 12px;
}

.node--unpublished__label {
  display: inline-block;
  position: absolute;
  font-style: italic;
  font-weight: 500;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
}

.stream-item .node--unpublished__label {
  top: -1.25rem;
  right: -1.25rem;
}

@media (min-width: 600px) {
  .meta-engage {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 2rem;
  }
  .meta-follow {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
    margin-bottom: 0;
  }
}
