.nav {
  padding-left: 0;
  list-style: none;
}

.nav:before, .nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 0.5em 10px;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.navbar:before, .navbar:after {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

.navbar-collapse {
  overflow-x: visible;
  border-top: 1px solid transparent;
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before, .navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse.in {
  overflow-y: auto;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}

.navbar-fixed-top {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  max-width: 200px;
  overflow: hidden;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand > img {
  display: block;
  pointer-events: none;
  width: auto;
  height: 50px;
}

.navbar-toggle {
  position: relative;
  background-color: transparent;
  background-image: none;
  border: 0;
  color: white;
  font-weight: 500;
  padding: 8px 10px;
  height: 50px;
  min-width: 50px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
}

.navbar-form {
  padding: 0.5em 10px;
  border: 0;
}

.navbar-form .form-group {
  margin-bottom: 0;
}

.navbar-nav > .dropdown > .dropdown-menu {
  margin-top: 0;
}

.navbar-nav > .dropup > .dropdown-menu {
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-right .dropdown-menu {
  right: 0;
  left: auto;
}

.profile .dropdown-toggle img {
  border: 2px solid white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  -webkit-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
}

.navbar-fixed-top .navbar-right {
  margin-top: 0;
  margin-bottom: 0;
  float: right;
}

.navbar-fixed-top .navbar-right > li {
  float: left;
}

.navbar-fixed-top .navbar-right > li > a {
  padding: 13px 10px 8px;
  height: 50px;
}

.navbar .dropdown .badge {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.625em;
  top: 8px;
  left: 25px;
  border-radius: 50%;
}

.navbar-form[role='search'] .form-group {
  position: relative;
}

.navbar-form[role='search'] .form-control {
  padding: 6px 38px 6px 12px;
  max-width: none;
  border: 0;
}

.navbar-form[role='search'] .form-submit,
.navbar-form[role='search'] .search-icon {
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  line-height: 38px;
  cursor: pointer;
  text-align: center;
}

.navbar-form[role='search'] .search-icon {
  line-height: 38px;
  speak: none;
  pointer-events: none;
}

.navbar-form[role='search'] .search-icon svg {
  width: 24px;
  height: 24px;
}

#navbar-search.is-open,
.no-js #navbar-search {
  width: 180px;
}

#navbar-search.is-open .form-control,
.no-js #navbar-search .form-control {
  padding-left: 12px;
}

#navbar-search.is-open .search-icon,
.no-js #navbar-search .search-icon {
  z-index: 11;
}

#navbar-search.is-open .form-submit,
.no-js #navbar-search .form-submit {
  z-index: 90;
}

@media (min-width: 900px) {

  .navbar-header {
    float: left;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }

  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-fixed-top .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .navbar-form {
    width: auto;
    margin: 6px 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-left {
    float: left !important;
  }

  .navbar-right {
    float: right !important;
  }

  .navbar-fixed-top .navbar-nav {
    margin-left: 10px;
  }

  .navbar-search {
    float: right;
  }

  .navbar-collapse {
    float: left;
  }

  .navbar-right {
    margin-right: 0;
  }

  .navbar-form[role='search'] .form-group {
    width: 0%;
    min-width: 38px;
    height: 38px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
  }

  .navbar-form[role='search'] .form-control {
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    width: 100%;
    height: 38px;
    margin: 0;
    z-index: 10;
    padding-left: 0;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  .navbar-form[role='search'] .form-submit {
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
  }

  .navbar-form[role='search'] .search-icon {
    z-index: 90;
    pointer-events: initial;
    -webkit-transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
  }
}

@media (min-width: 1200px) {

  .navbar-fixed-top .navbar-right {
    margin-right: 0;
  }
}

@media screen and (max-height: 480px) {

  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}

@media (max-width: 599px) {

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 24px;
  }

  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}

@media (max-width: 899px) {

  .navbar-fixed-top .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
    position: fixed;
    top: auto;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: none;
    max-height: 100%;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .navbar-collapse .navbar-nav {
    margin: 6.5px -1rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .navbar-collapse .navbar-collapse-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .navbar-collapse .navbar-nav > li > a {
    padding: 5px 15px 5px 25px;
  }

  .navbar-collapse .navbar-nav > li > a.dropdown-toggle {
    pointer-events: none;
  }

  .navbar-collapse .dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
    background-color: transparent;
    float: none;
    max-width: none;
    padding-top: 0;
    box-shadow: none;
  }

  .navbar-collapse .dropdown-menu li a {
    padding: 5px 15px 5px 37px;
  }
}
