#block-filter:target {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.45);
}

.off-canvas-xs-only {
  -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  position: relative;
  margin-bottom: 0.75rem;
  background-clip: padding-box;
  background-color: white;
}

.offcanvas-head {
  position: relative;
}

.offcanvas-head .complementary-title {
  font-size: 1.25rem;
}

.offcanvas-tools {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.offcanvas-body {
  margin-top: 30px;
}

@media (min-width: 900px) {
  .btn--offcanvas-trigger {
    display: none;
  }
  .offcanvas-head {
    padding: 15px 20px 0;
    color: #777777;
    line-height: 1;
  }
  .offcanvas-head .complementary-title {
    vertical-align: middle;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
  .offcanvas-tools {
    display: none;
  }
  .offcanvas-body {
    margin-top: 0;
    padding: 20px;
  }
}

@media (max-width: 899px) {
  .off-canvas {
    position: fixed;
    top: 50px;
    overflow: auto;
    width: 280px;
    height: 100%;
    background-color: white;
    padding: 1.25rem;
    -webkit-box-shadow: 0 8px 17px 0 transparent, 0 6px 20px 0 transparent;
            box-shadow: 0 8px 17px 0 transparent, 0 6px 20px 0 transparent;
    z-index: 4;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    transition: -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    transition: transform 0.5s, box-shadow 0.3s;
    transition: transform 0.5s, box-shadow 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
  }
  .off-canvas-right {
    -webkit-transform: translateX(290px);
            transform: translateX(290px);
    right: 0;
  }
  .off-canvas-xs-only {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.45);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.45);
    position: fixed;
  }
  .views-exposed-form {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
