.path-search .section-title {
  padding-top: 0;
  padding-right: 100px;
}@media (min-width: 900px) {
  .path-search .region--complementary-top {
    margin-top: 2.625rem;
  }
  .path-search .section-title {
    padding-right: 0;
  }
}
