.page-preview {
  margin-top: 58px;
}

.node-preview-form-select {
  padding: 10px 20px;
  position: fixed;
  margin-top: 50px;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 9;
}

.node-preview-form-select .select-wrapper {
  display: inline-block;
}

.toolbar-fixed .node-preview-form-select {
  margin-top: 0px;
}
