.path-search .section-title {
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 100px;
}
@media (min-width: 900px) {
  .path-search .region--complementary-top {
    margin-top: 5.375rem;
  }
  .path-search .section-title {
    padding-right: 0;
  }
}
