.js .field--widget-paragraphs .dropbutton-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 0em;
  margin-right: 0em;
  /* Override 600px breakpoint from core. */
  width: auto;
}

.js .field--widget-paragraphs .dropbutton-widget {
  position: relative;
}

.js .paragraph-type-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.js .paragraph-type-top .form-group {
  margin-bottom: 0;
}

.js .paragraphs-collapsed-description {
  height: 1.538em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: #777;
  overflow: hidden;
  word-break: break-all;
}

.js .paragraphs-collapsed-description:after {
  content: '\00a0';
  display: block;
  position: absolute;
  top: 0;
  right: 1em;
  width: 3em;
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.js .draggable:hover .paragraphs-collapsed-description:after,
.js .draggable:hover .paragraphs-collapsed-description:after {
  background: #f7fcff;
  background: -webkit-linear-gradient(left, rgba(247, 252, 255, 0) 0%, #f7fcff 100%);
  background: linear-gradient(to right, rgba(247, 252, 255, 0) 0%, #f7fcff 100%);
}

.js .drag-previous .paragraphs-collapsed-description:after {
  background: #ffd;
  background: -webkit-linear-gradient(left, rgba(255, 255, 221, 0) 0%, #ffd 100%);
  background: linear-gradient(to right, rgba(255, 255, 221, 0) 0%, #ffd 100%);
}

.js .paragraph-type-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  min-width: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.js .field--widget-paragraphs .delta-order {
  padding-right: 10px;
  text-align: right;
}

.paragraph--view-mode--preview {
  padding-right: 1em;
}

.paragraphs-edit-button-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  padding-right: 0.5em;
  margin-left: auto;
}

/* Override 600px breakpoint core submit button tweaks. */

.js .paragraph-type-top .paragraphs-dropbutton-wrapper {
  text-align: right;
}

.js .table-striped > tbody > tr:nth-of-type(odd) .paragraphs-collapsed-description:after {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.clearfix + .paragraphs-dropbutton-wrapper {
  padding: 10px 0;
  border-top: 1px solid #e6e6e6;
}

.paragraphs-dropbutton-wrapper > .btn-widget {
  margin: 4px 2px;
}

.paragraphs-dropbutton-wrapper > .btn-widget .btn-icon {
  height: 21px;
  width: 21px;
}

.field--widget-paragraphs .field-multiple-table {
  border-bottom: 1px solid #e6e6e6;
}

.field--widget-paragraphs .field-multiple-table .field--name-field-nested-content {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 0.625rem;
}

.field--widget-paragraphs .field-multiple-table .field-multiple-table {
  background-color: transparent;
}

.field--widget-paragraphs .tabledrag-toggle-weight {
  position: absolute;
  right: 0;
}

.field--widget-paragraphs .field-multiple-drag {
  padding-left: 0;
  padding-right: 0;
}

.field--widget-paragraphs .field-multiple-drag .tabledrag-handle {
  padding: 0;
  margin: 0;
  position: relative;
}

.field--widget-paragraphs .field-multiple-drag .tabledrag-handle .icon {
  margin: 0;
}

.field--widget-paragraphs .field-multiple-drag .tabledrag-handle .icon:before {
  top: 6px;
}

.field--widget-paragraphs thead th.tabledrag-hide {
  font-size: 0;
  text-indent: -9999px;
  opacity: 0;
}

.field--widget-paragraphs .delta-order .form-item {
  margin-bottom: 0;
}

.field--widget-paragraphs .delta-order .select-wrapper .form-control {
  padding: 5px 10px;
  font-size: 0.75rem;
  height: auto;
  line-height: 1.5;
}

.field--widget-paragraphs .field--type-image .form-type-managed-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.field--widget-paragraphs .field--type-image .form-type-managed-file > .control-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.field--widget-paragraphs .field--type-image .form-type-managed-file .image-widget {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field--widget-paragraphs .field--type-image .form-type-managed-file .image-widget .form-file {
  margin-left: 0;
}

.field--widget-paragraphs .field--type-file {
  width: 100%;
}

.field--widget-paragraphs .field--type-file .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.field--widget-paragraphs .field--type-file .control-label {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.field--widget-paragraphs .field--type-file .form-managed-file + .help-block {
  margin-left: 1rem;
  margin-top: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.field--widget-paragraphs .field--type-file .file {
  margin-bottom: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.field--widget-paragraphs .field--type-file .form-type-textfield {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.66667%;
          flex: 1 1 66.66667%;
  margin-bottom: 0;
}

.field--widget-paragraphs .field--type-file .btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.field--widget-paragraphs .form-type-textarea .control-label {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 900px) {

  .field--widget-paragraphs .field--type-image .form-type-managed-file .preview {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-bottom: 1rem;
    padding-right: 1rem;
  }

  .field--widget-paragraphs .field--type-image .form-type-managed-file .image-widget-data {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .field--widget-paragraphs .field--type-image .form-type-managed-file .form-group {
    margin-bottom: 0;
  }

  .field--widget-paragraphs .field--type-image .form-type-managed-file .form-managed-file + .help-block {
    margin-left: 1rem;
    margin-top: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .field--widget-paragraphs .field--type-file .form-group {
    margin-bottom: 0;
  }

  .field--widget-paragraphs .field--type-file .help-block {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {

  .js .paragraphs-edit-button-container {
    height: 40px;
    width: 50px;
  }
}
