.post-unpublished img {
  opacity: 0.5;
}

.post-unpublished .badge-default {
  background-color: #777777;
  color: white;
  margin-left: 5px;
  font-size: 100%;
}

.post-unpublished * {
  color: #9b9b9b;
}
