.social-auth-buttons .card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px -10px;
}

.social-auth-buttons .card__block .btn {
  display: inline-block;
  margin: 0 5px 10px;
}

@media (max-width: 599px) {
  .social-auth-buttons .card__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
