.stream {
  padding: 0;
  list-style: none;
  position: relative;
  margin-left: -15px;
}

.stream:before {
  top: 21px;
  bottom: 0;
  left: 7px;
  width: 2px;
  content: '';
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.stream-item {
  position: relative;
}

.stream-icon {
  top: 19px;
  left: 4px;
  width: 8px;
  height: 8px;
  position: absolute;
  background: #777777;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  border: 1px solid #fff;
}

.card--stream {
  margin: 0 0 20px 20px;
  font-size: 0.875rem;
}

.card--stream:before, .card--stream:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.card--stream:before {
  border-right-color: rgba(0, 0, 0, 0.12);
  border-width: 7px;
  top: 16px;
}

.card--stream:after {
  border-right-color: white;
  border-width: 6px;
  top: 17px;
}

.card--stream .card__body {
  padding: 15px;
  z-index: initial;
}

.card--stream .card__body .card__nested-section {
  margin: 10px -15px -15px;
  padding: 15px;
}

.card--stream .mediawrapper {
  margin-top: 15px;
}

.card--stream .mediawrapper:first-child {
  margin-top: 0;
}

.card--stream .comment__reply-btn {
  display: none;
}

.teaser--stream {
  margin: 10px -15px 10px;
  background: #e6e6e6;
}

.teaser--stream:last-child {
  margin-bottom: -15px;
}

@media (min-width: 600px) {

  .stream {
    margin-left: 0;
  }

  .stream:before {
    top: 42px;
  }

  .stream-icon {
    left: 0;
    top: 36px;
    width: 16px;
    height: 16px;
    border-width: 2px;
  }

  .card--stream {
    margin-left: 30px;
  }

  .card--stream:before {
    border-width: 9px;
    top: 35px;
  }

  .card--stream:after {
    border-width: 8px;
    top: 36px;
  }

  .teaser--stream {
    height: 200px;
  }

  .teaser--stream .teaser__image {
    height: 200px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
  }
}
