.stream {
  padding: 0;
  list-style: none;
  position: relative;
  margin-left: -15px;
}

.stream:before {
  top: 21px;
  bottom: 0;
  left: 7px;
  width: 2px;
  content: '';
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.stream-item {
  position: relative;
}

.stream-item:first-of-type {
  z-index: 2;
}

.stream-item .pull-right {
  z-index: 2;
}

.stream-icon {
  top: 19px;
  left: 4px;
  width: 8px;
  height: 8px;
  position: absolute;
  background: #777777;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
  border-radius: 50%;
  border: 1px solid #fff;
}

.card--stream {
  margin-left: 1.25rem;
}

.card--stream:before, .card--stream:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.card--stream:before {
  border-right-color: rgba(0, 0, 0, 0.12);
  border-width: 7px;
  top: 16px;
}

.card--stream:after {
  border-right-color: white;
  border-width: 6px;
  top: 17px;
}

.card--stream .mediawrapper {
  margin-top: 15px;
}

.card--stream .mediawrapper:first-child {
  margin-top: 0;
}

.card--stream .comment__reply-btn {
  display: none;
}

.card--stream .comment {
  font-size: 0.875rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.card--stream .comment__avatar {
  margin-right: 8px;
  width: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.teaser--stream {
  margin-top: 0.625rem;
  margin-right: -1.25rem;
  margin-bottom: 0.625rem;
  margin-left: -1.25rem;
  background: #e6e6e6;
}

.teaser--stream:last-child {
  margin-bottom: -1.25rem;
}

.post-unpublished img {
  opacity: 0.5;
}

.post-unpublished .badge-default {
  background-color: #777777;
  color: white;
  margin-left: 5px;
  font-size: 100%;
}

.post-unpublished * {
  color: #9b9b9b;
}

@media (min-width: 600px) {
  .stream {
    margin-left: 0;
  }
  .stream:before {
    top: 42px;
  }
  .stream-icon {
    left: 0;
    top: 36px;
    width: 16px;
    height: 16px;
    border-width: 2px;
  }
  .card--stream {
    margin-left: 30px;
  }
  .card--stream:before {
    border-width: 9px;
    top: 35px;
  }
  .card--stream:after {
    border-width: 8px;
    top: 36px;
  }
  .card--stream .comment__avatar {
    margin-right: 12px;
  }
  .teaser--stream {
    height: 200px;
  }
  .teaser--stream .teaser__image {
    height: 200px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
}
