.teaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.teaser__image {
  width: 100%;
  display: none;
}

.teaser__teaser-type {
  top: 0;
  pointer-events: none;
  width: 30px;
  height: 30px;
  padding: 6px;
  left: 20px;
  position: relative;
  margin-bottom: -10px;
}

.teaser__teaser-type-icon {
  width: 18px;
  height: 18px;
  display: table;
}

.teaser__title {
  margin-top: 0;
  margin-bottom: 20px;
  max-height: 2.2em;
  overflow: hidden;
}

.teaser__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teaser__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  position: relative;
}

.teaser__content-line {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.teaser__content-type-icon {
  width: 14px;
  height: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: #555555;
  margin-right: 12px;
}

.teaser__content-text {
  vertical-align: middle;
  line-height: 1;
  margin-right: 5px;
  display: inline;
}

.teaser__published {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(100% - 30px);
}

.teaser__published-author {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 4px;
}

.teaser__published-date {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.teaser__badge {
  margin-bottom: 0;
  vertical-align: text-bottom;
}

.teaser__badge .badge--comment-count__number {
  padding: 4px 8px 4px 4px;
  font-size: 12px;
  line-height: 1;
}

@media (min-width: 600px) {

  .teaser {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 220px;
  }

  .teaser__image {
    display: block;
    height: 220px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 0;
  }

  .teaser__teaser-type {
    position: absolute;
    margin-bottom: 0;
    left: 0;
    width: 44px;
    height: 44px;
    padding: 12px;
  }

  .teaser--unpublished .teaser__status {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    top: 0;
    padding-top: 185px;
    left: 0;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  .teaser--unpublished .teaser__status:before {
    display: block;
    position: absolute;
    content: '';
    background-image: -webkit-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.1) 70%, rgba(34, 34, 34, 0.5) 100%);
    background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.1) 70%, rgba(34, 34, 34, 0.5) 100%);
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}
