.teaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.teaser__image {
  width: 100%;
  display: none;
}

.teaser__teaser-type {
  top: 0;
  width: 30px;
  height: 30px;
  padding: 6px;
  left: 20px;
  position: relative;
  margin-bottom: -10px;
}

.no-image .teaser__teaser-type {
  background: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teaser__teaser-type-icon {
  width: 18px;
  height: 18px;
  display: table;
}

.no-image .teaser__teaser-type-icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  fill: #4d4d4d;
}

.teaser__title {
  margin-top: 0;
  margin-bottom: 20px;
  max-height: 2.2em;
  overflow: hidden;
}

.teaser__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teaser__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  position: relative;
}

.teaser__content-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  font-size: 0.875rem;
}

.teaser__content-type-icon {
  width: 14px;
  height: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14px;
          flex: 0 0 14px;
  line-height: 21px;
  margin-top: 3px;
  fill: #555555;
  margin-right: 12px;
}

.teaser__content-text {
  line-height: 21px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.teaser__published {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.teaser__published-author {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.teaser__published-date {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 4px;
}

.teaser__badge {
  margin-bottom: 0;
  vertical-align: middle;
}

.teaser--unpublished .teaser__title {
  padding-right: 110px;
}

@media (min-width: 600px) {
  .teaser {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 220px;
  }
  .teaser__image {
    display: block;
    height: 220px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 0;
  }
  .teaser__teaser-type {
    position: absolute;
    margin-bottom: 0;
    left: 0;
    width: 44px;
    height: 44px;
    padding: 12px;
  }
  .teaser--unpublished .status {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    top: 0;
    padding-top: 185px;
    left: 0;
    z-index: 2;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  .teaser--unpublished .status:before {
    display: block;
    position: absolute;
    content: '';
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0.1)), to(rgba(34, 34, 34, 0.5)));
    background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.1) 70%, rgba(34, 34, 34, 0.5) 100%);
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .teaser--unpublished .teaser__title {
    padding-right: 130px;
  }
}
