.joyride-close-tip {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 2em;
  line-height: 1;
  right: 0px;
  top: 0px;
  padding: 7px 13px;
  height: 45px;
  width: 45px;
  -webkit-transition: .3s background-color ease;
  transition: .3s background-color ease;
}

.joyride-close-tip:focus, .joyride-close-tip:hover {
  background-color: black;
}

.joyride-modal-bg {
  display: block !important;
  pointer-events: none;
  z-index: 1060;
  background: rgba(0, 0, 0, 0.5);
}

.joyride-nub.top {
  border-bottom: 28px solid white;
  border-top: none;
}

.joyride-nub.bottom {
  border-top: 28px solid white;
  border-bottom: none;
}

.joyride-nub.left {
  border-right: 28px solid white;
  border-left: none;
}

.joyride-nub.right {
  border-left: 28px solid white;
  border-right: none;
}

.joyride-tip-guide {
  background: white;
  color: #4d4d4d;
  z-index: 1070;
}

.joyride-next-tip {
  margin-left: 10px;
}

.joyride-content-wrapper {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.tour-tip-body,
.tour-tip-label {
  text-align: left;
}

.tour-tip-label {
  font-size: 1.5rem;
}

.joyride-nub {
  z-index: 1;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
}

@media (min-width: 600px) {

  .joyride-tip-guide {
    width: 450px;
  }

  .joyride-content-wrapper {
    padding: 35px 65px 35px 35px;
  }
}
