@import 'init';

.book-menu {

  .list-item {
    list-style: none;
  }

  .list-item--active-trail > a {
    color: $brand-primary;
    padding-top: 6px;
    padding-bottom: 6px;
  }

}

.navigation-book {
  padding: 0.5em 0;
  font-size: $font-size-small;

  .book-menu {
    padding-left: 66px;
  }

  a:hover {
    text-decoration: underline;
  }

  .page-links {
    border-top: 1px solid $gray-light-1;
    text-align: center;
    padding: 1em 0;
    font-size: $font-size-small;
  }
}

.navigation-book .pager__item {
  display: block;
  position: relative;

  @include MQ($screen-md) {
    max-width: 50%;
    display: inline-block;
  }

  span {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon-inline {
    margin-top: 6px;
    position: absolute;
    top: 0;

    & + span {
      line-height: 24px;
    }
  }

}

.navigation-book .pager__item--previous {
  text-align: left;
  margin-bottom: 5px;

  @include MQ($screen-md) {
    margin-bottom: 0px;
    float: left;
  }

  span {
    padding-left: 24px;
  }

  .icon-inline {
    left: 0;
    margin-left: 12px;
  }

}

.navigation-book .pager__item--next {
  text-align: right;
  margin-left: 0px;

  @include MQ($screen-md) {
    float: right;
  }

  span {
    padding-right: 24px;
  }

  .icon-inline {
    right: 0;
    margin-right: 12px;
  }

}

#book-outline {
  min-width: 56em;
}

.book-outline-form .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

html.js #edit-book-pick-book {
  display: none;
}

.form-item-book-bid .description {
  clear: both;
}

#book-admin-edit select {
  margin-right: 24px;
}

#book-admin-edit select.progress-disabled {
  margin-right: 0;
}

#book-admin-edit tr.ajax-new-content {
  background-color: #ffd;
}

#book-admin-edit .form-item {
  float: left;
}
