// Link styles on the body/description blocks.

.field--name-field-introduction-text,
.field--name-field-featured-items-description,
.field--name-field-featured-description,
.field--name-field-accord-description,
.field--name-field-accord-item-description,
.paragraph--type--image-text .field--name-field-text,
.paragraph--type--text-image .field--name-field-text,
.paragraph--type--text .field--name-field-text,
.course-full .card__body p,
.teaser--course p,
.comment__text,
.body-text {

  a:not(.btn) {
    text-decoration: underline;
    color: $link-color;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
