@import "settings";

.comments {
  background: $gray-lightest;
  border-radius: $border-radius-base;
}

.comment__reply-btn {
  color: $link-color;
  fill: $link-color;
  &:hover,
  &:focus {
    color: darken($brand-primary, 10%);
    fill: darken($brand-primary, 10%);
  }
}

.photoswipe-gallery-custom .field--item {
  .file-tile,
  img:not(.node-file__icon) {
    border-radius: $border-radius-base;
  }

  .file-link a {
    font-weight: $font-weight-strong;
  }
}

// SocialBlue Sky.
.socialblue--sky {
  [id='section-comments'] {
    .card__block {
      @include for-tablet-landscape-up {
        padding-left: 3.75rem;
        padding-right: 3.75rem;
      }
    }
  }

  .comment__text {
    margin-bottom: 0;

    p {
      margin-bottom: 1rem;
      line-height: 1.5rem;
    }
  }

  .comment {
    margin-top: 1.75rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .comments {
    margin-top: 1rem;
  }

  .comments,
  .comment {
    .comment__reply-btn,
    .vote-widget--like-and-dislike {
      font-size: .875rem;
    }

    .vote-like {
      margin-right: 5px;
    }
  }

  .comment__reply-btn {
    a {
      font-weight: 700;
      text-transform: uppercase;
    }

    @include for-tablet-landscape-up {
      margin-right: 1rem;
    }
  }
}
