@import "settings";

.socialblue--sky {

  .comments {
    background: $gray-lightest;
    border-radius: $border-radius-extra;

    @include for-tablet-landscape-up {
      margin-left: 50px;
    }
  }

  .comment {
    margin-top: 2rem;

    .comment__reply-btn {
      padding-left: 0;
    }

    .comment-attachments {
      position: relative;

      .btn-link {
        margin-left: 0;
        padding: 0;
      }
    }

    .page-node-type-discussion & {
      .form-group-inline {
        justify-content: flex-end;
      }

      .media-body {
        flex: 0 0 100%;
        margin-bottom: 1rem;
      }

      .form-actions {
        .btn {
          margin-left: 0;
        }
      }

      .comment-attachments {
        .btn-link {
          position: relative;
          top: -32px;

          & + * {
            margin-top: -22px;
          }
        }
      }
    }

    .form-actions .btn {
      text-transform: uppercase;
    }
  }

  .comment-form {
    textarea {
      &.form-control {
        height: 35px;
      }
    }
  }

  .comment__text {
    margin-bottom: 1rem;

    p:last-of-type {
      margin-bottom: .75rem;
    }
  }

  .comment__actions.open {
    .btn-icon {
      transform: rotate(180deg);
    }
  }
}
