nav.only-desktop
  .breadcrumbs-wrapper
    .container
      .row
        .col.s12
          a.breadcrumb(href='#!') First
          a.breadcrumb(href='#!') Second
          a.breadcrumb(href='#!') Third
