#header
  nav.navbar.navbar-default.navbar-fixed-top.z-depth-2
    .container

      a.navbar-brand(href='#')
        object#front-page-logo(type='image/svg+xml', data='images/social-logo-white.svg') Your browser does not support SVG
      
      .navbar-header
      
        button.navbar-toggle.collapsed(href='#', data-toggle='collapse', data-target='#menu-dropdown', type='button', aria-haspopup='true', aria-expanded='false')
          span.sr-only Toggle navigation
          i.material-icons(title='menu') menu     
  
        ul.nav.navbar-nav.navbar-right
          li
            a(href='login.html') Log in
          li
            a(href='sign-up.html') Sign up
  
      #menu-dropdown.collapse.navbar-collapse(aria-expanded='false')
        ul.nav.navbar-nav
          li
            a(href='#') Explore
          li
            form.navbar-form.navbar-left(role='search')
              #navbar-search.form-group
                input#search.form-control(type='text', placeholder='Search', name='search', autocomplete='off')
                input.form-submit(type='submit', value='')
                span.search-icon
                  i.material-icons search
