header#header
  .container
    a.site-logo(href='prototype.html')
      object#header-logo(type='image/svg+xml', data='images/social-logo-white.svg') Your browser does not support SVG
      
    nav.block--headermenu(role='navigation')
      ul.header-menu
        li.menu__item.hidden-mobile
          a.menu__link(href='#0')
            .b-menu
              i.material-icons(title='Account') add
              span.menu__label.hidden Add content
        li.menu__item.hidden-mobile
          a.menu__link(href='#0')
            .b-menu.hidden-tablet
              i.material-icons(title='Home') home
            span.menu__label.hidden-mobile Home
        li.menu__item
          a.menu__link(href='#0')
            .b-menu.hidden-tablet
              i.material-icons(title='Groups') group
            span.menu__label.hidden-mobile Groups
        li.menu__item
          a.menu__link.panel-trigger(href='#0', data-panel='#notification-panel', title='Show notifications')
            .b-menu
              i.material-icons(title='Notifications') notifications_none
            span.menu__label.hidden Notifications
        li.menu__item
          a.menu__link.panel-trigger(href='#0', data-panel='#user-panel', title='Show user menu')
            .b-menu
              i.material-icons(title='View profile') account_box
            span.menu__label.hidden-mobile Sebastiaan            
        li.menu__item.hidden-desktop
          a.menu__link.panel-trigger(href='#0', data-panel='#menu-panel', title='Show menu')
            .b-menu
              .b-bun.b-bun--top
              .b-bun.b-bun--mid
              .b-bun.b-bun--bottom
            span.menu__label.hidden menu
  
  #menu-panel.panel          
    .container
      .block--search(role='search')
        h2.visually-hidden Search
        form(action='#', method='get', id='search-block-form' accept-charset="UTF-8")
          #search-wrapper.form-item.form-type-search.input-field
            i.material-icons.prefix.search__icon search
            input.search__input#icon_prefix(type="text")
            label.search__label(for="icon_prefix") Search the entire website
      
      .block--main-menu
        ul.main-menu
          li.menu__item
            a.menu__link(href='#0') 
              i.material-icons(title='Account') explore
              span.menu__label Explore

  #user-panel.panel
    .container
      .block--user-menu
        ul.user-menu
          li.menu__item
            a.menu__link(href='#0') 
              i.material-icons(title='Edit profile') edit
              span.menu__label Edit profile
          li.menu__item
            a.menu__link(href='#0') 
              i.material-icons(title='Account settings') settings
              span.menu__label Account settings
          li.menu__item
            a.menu__link(href='#0') 
              i.material-icons(title='Edit profile') exit_to_app
              span.menu__label Logout
