meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(charset='utf-8')

if page
  title #{page} - Drupal Social
else
  title Documentation - Drupal social

link(rel='apple-touch-icon-precomposed', type='image/svg+xml', href='/images/social-logo-blue.svg')
link(rel='shortcut icon', type='image/svg+xml', href='/images/social-logo-blue.svg')

link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen')
link(href='css/styleguide.css', type='text/css', rel='stylesheet', media='screen')
if page
  link(href='css/prism.css', type='text/css', rel='stylesheet', media='screen')
