#header
  nav.navbar.navbar-default.navbar-fixed-top.z-depth-2
    .container

      a.navbar-brand(href='home-lu.html')
        object(type='image/svg+xml', data='images/social-logo-white.svg') Your browser does not support SVG
      
      .navbar-header
      
        button.navbar-toggle.collapsed(href='#', data-toggle='collapse', data-target='#menu-dropdown', type='button', aria-haspopup='true', aria-expanded='false')
          span.sr-only Toggle navigation
          i.material-icons(title='menu') menu                
      
        ul.nav.navbar-nav.navbar-right
          li.hidden-xs
            a(href='home-lu.html') Home
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              i.custom-icons.icon-group(title='My groups')
            ul.dropdown-menu
              li
                .dropdown-header My groups
              li 
                ul.scrollable-menu
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body
                          .text-truncate Happy campers
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body.text-truncate Drupal Ninja's Italy
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body.text-truncate The Dallas Nerds
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body.text-truncate Munich local group
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body.text-truncate Innovaders
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body
                          .text-truncate Happy campers
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body.text-truncate Drupal Ninja's Italy
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body.text-truncate The Dallas Nerds
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body.text-truncate Munich local group
                  li
                    a(href='group-stream.html')
                      .media
                        .media-left
                          img.img-tiny.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                        .media-body.text-truncate Innovaders
              li
                .dropdown-header
                  a.block.clearfix(href="my-groups.html") See all
                    i.material-icons.pull-right chevron_right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              i.material-icons(title='Notifications') notifications
              sup.badge 
                strong 4
            ul.dropdown-menu
              li
                .dropdown-header Notifications
              li
                ul.scrollable-menu
                  li 
                    a(href='single-post.html')
                      .media
                        .media-left
                          img.img-small.img-circle(src='content/images/avatar2.jpg', alt='')
                        .media-body Clive Owen
                          br
                          small.text-muted Commented on your post
                  li
                    a(href='single-post.html')
                      .media
                        .media-left
                          img.img-small.img-circle(src='content/images/avatar3.jpg', alt='')
                        .media-body Jeremy Bob
                          br
                          small.text-muted Liked your post
                  li
                    a(href='event.html')
                      .media
                        .media-left
                          img.img-small.img-circle(src='content/images/avatar4.jpg', alt='')
                        .media-body Bettie McLaren
                          br
                          small.text-muted likes your event 
                            strong Amsterdam Meetup
              li
                .dropdown-header
                  a.block.clearfix(href="#") See more
                    i.material-icons.pull-right chevron_right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              img.img-small.img-circle.pull-left(src='content/images/member5.jpg', alt='')
              span.profile.hidden-xs John Johnson
            ul.dropdown-menu
              li
                a(href='my-stream.html') View profile
              li
                a(href='profile-edit.html') Edit profile
              li
                a(href='account-edit.html') Edit account
              li.divider
              li
                a(href='login.html') Log out
          
      #menu-dropdown.collapse.navbar-collapse(aria-expanded='false')
        ul.nav.navbar-nav
          li
            form.navbar-form.navbar-left(role='search', method='get', action='search-content.html')
              #navbar-search.form-group
                input#search.form-control(type='text', placeholder='Search', name='search', autocomplete='off')
                input.form-submit(type='submit', value='')
                span.search-icon
                  i.material-icons search
