- var pagetype = "template"

doctype html
html(lang="en")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
  
    block title
      title  Documentation - Drupal Social

    //Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='images/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='images/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='images/favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='images/favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='images/favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='images/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='images/favicon/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='images/favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='images/favicon/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='images/favicon/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='images/favicon/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='images/favicon/manifest.json')
    link(rel='mask-icon', href='images/favicon/safari-pinned-tab.svg', color='#29abe2')
    meta(name='msapplication-TileColor', content='#29abe2')
    meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

    //CSS
    link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
  
  body(class='#{pagetype}')
    include _header-lu.jade
    
    main.main-container(role='main')
      
      nav.visible-md-block.visible-lg-block.style-default-bright
        ol.breadcrumb.container
          block breadcrumbs  
            li
              a(href='home-lu.html') Home
            li
              a(href='#!') Overview
            li.active Detail
      
      block pagetitle

      .main-content
      
        block secondary_navigation
        
        .container
          block content

  block scriptinline_before

  script(src='js/vendor.js')
  script(src='js/drupal-core.js')
  script(src='js/bootstrap.min.js')
  script(src='js/components.js')
  script(src='js/materialize.js')
  script(src='js/init.js')
  
  // Does not work for Safari iOS, debug later
  // include _fontfaceobserver.jade
  
  script.
    new UISearch( document.getElementById( 'navbar-search' ) );
  
  unless pagetype == "template"
    script(src='js/prism.js')

  block scriptinline
