.label--option {
  font-size: $label-font-size;
  color: $grey-dark-1;
}

.form__label {
  display: block;
  font-size: 0.875rem;
  opacity: 0.75;
  cursor: text;
  font-weight: 300;
  transition: .2s ease-out;
  color: $grey-dark-1;
  margin-bottom: 3px;
}

form p {
  margin-bottom: 10px;
}

.form-required::after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background: url(../images/required.svg) 0/6px no-repeat;
  width: 6px;
  height: 6px;
  margin: 0 5px;
}

.form-item {
  position: relative;
  margin-bottom: 20px;
}

.form__item-help-text {
  text-align: right;
  margin: 0;
  color: inherit;
  opacity: .7;
  font-size: 0.75rem;
}

.form__item--description {
  font-size: 12px;
  margin-top: 7px;
  color: $grey-light-1;
  font-weight: 300;
}

.form__description {
  font-size: 14px;
  margin: 20px 0;
  color: $grey-light-1;
  font-weight: 300;
}
