.label--option {
  font-size: $label-font-size;
  color: $grey-dark-1;
}

.form__label {
  color: $grey-dark-1;
}

form p {
  margin-bottom: 10px;
}

.form-required::after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background: url(../images/required.svg) 0/6px no-repeat;
  width: 6px;
  height: 6px;
  margin: 0 5px;
}

.form__item {
  position: relative;
  margin: 2em 0;
}

.form__item--description {
  font-size: 12px;
  margin-top: 7px;
  color: $grey-light-1;
  font-weight: 300;
}

.form__description {
  font-size: 14px;
  margin: 20px 0;
  color: $grey-light-1;
  font-weight: 300;
}
