.paragraph--section {

  // Paragraph block.
  .paragraph--block {
    @media(min-width: 1160px) {
      margin-left: calc(-100vw / 2 + 1160px / 2);
      margin-right: calc(-100vw / 2 + 1160px / 2)
    }
  }

  // Paragraph featured.
  .paragraph--featured {
    @media(min-width: 1200px) {
      padding: 50px 0;
      margin-left: calc(-100vw / 2 + #{1160px} / 2);
      margin-right: calc(-100vw / 2 + #{1160px} / 2);
    }

    .teaser footer.card__actionbar {
      padding-bottom: 0;

      .card__link {
        a {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

  }

  // Paragraph quote.
  .paragraph--type--quote {
    padding: 50px 0 45px;
  }
}
