@font-face {
  font-family: 'montserrat';
  font-path: '../font/montserrat/montserrat-regular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  font-path: '../font/montserrat/montserrat-bold';
  font-weight: bold;
  font-style: normal;
}
