.styleguide {
  .header__wrapper,
  main,
  footer {

    @include MQ($medium) {
      padding-left: 240px;
    }

  }

}

.container {
  margin: 0 auto;
  max-width: $medium;
  width: 100%;
  padding: 0 10px;

  @include MQ($small) {
    width: 85%;
    position: relative;
    padding: 0;
  }

}

.valign-wrapper {
  display: flex;
  align-items: center;

  .valign {
    display: block;
  }
}

.main-container {
  overflow: hidden;
  width: 100vw;
  min-height: 100%;
  min-height: 100vh;
  padding-top: 64px;

  @include MQ($small) {
    padding-top: 64px;
  }

  @include MQ($medium) {
    padding-top: 88px;
  }

  &::before {
    background: url(../images/background-gradient.svg) 0 100% / 100% auto no-repeat;
    position: absolute;
    height: 260px;
    width: 100%;
    left: 0;
    top: 0;
    content: '';
    z-index: -1;

    @include MQ($small) {
      height: 620px;
      background-position: 0 0;
    }

    @include MQ($large) {
      height: 100%;
      top: 0;
      background-position: 0 -200px;
    }

  }

}
