header, main, footer {

  @include MQ($medium) {
    padding-left: 240px;
  }

}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;

  @include MQ($small) {
    width: 85%;
    position: relative;
  }

}

.valign-wrapper {
  display: flex;
  align-items: center;

  .valign {
    display: block;
  }
}
