@import "settings";

.socialblue--sky {

  .region--title {
    margin-top: 0;
  }

  .region--hero {
    max-width: 100%;
    margin-top: 0;
  }

  .region--hero .cover-wrap {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    @include for-tablet-portrait-up {
      padding-top: 75px;
      padding-bottom: 75px;

      > .hero-footer {
        bottom: 50px;
        justify-content: space-between;
      }

      .hero-footer__text {
        margin-left: 0;
      }
    }
  }

  .region--secondary-navigation {
    max-width: inherit;
    width: 100%;
    margin: -44px 0 0;
    position: relative;
    z-index: 2;
    padding-left: 0;
    padding-right: 0;

    @include for-phone-only {
      margin-top: 0;
    }

    @include for-tablet-landscape-up {
      max-width: 100%;
    }
  }

  .region--content {
    @include for-tablet-landscape-up {
      margin-top: 20px;
    }
  }

  .layout--with-complementary {

    &.sidebar-left {
      .region--content {
        order: 3;

        @include for-desktop-up {
          padding-left: 20px;
          padding-right: 0;
        }
      }

      .region--complementary {
        margin-top: 0;
        padding: 0;
        order: 0;

        @include for-tablet-landscape-up {
          padding-left: 1rem;
          padding-right: 1rem;
          order: 1;
        }

        @include for-desktop-up {
          padding-right: 20px;
          padding-left: 0;
        }
      }

      .region--complementary_wrapper {
        background: #fff;

        @include for-tablet-landscape-up {
          top: -43px;
        }
      }

      .navbar-secondary {
        flex: 0 0 100%;
        max-width: 100%;

        @include for-tablet-landscape-up {
          flex: 0 0 (100%/1.5);
          max-width: (100%/1.5);
          order: 2;
        }
      }

      .region--secondary-navigation {
        display: flex;
        justify-content: flex-end;
        z-index: 3;
        order: 1;
        margin-top: 0;

        @include for-tablet-landscape-up {
          padding-left: 2rem;
          padding-right: 1rem;
          margin-top: -44px;
          order: 0;
        }

        @include for-desktop-up {
          padding-left: 30px;
          padding-right: 0;
        }
      }

      .region--complementary-top {
        > * {
          &[class*='statistic-block']:first-child:not(:last-child) {
            @include for-tablet-portrait-up {
              border-bottom-right-radius: 0 !important;
              border-bottom-left-radius: 0 !important;
            }
          }
        }
      }
    }

    .region--content {
      @include for-desktop-up {
        padding-left: 0;
        padding-right: 20px;
      }
    }
  }

  section:not(.content-merged) {
    .content--side_wrapper-card.card {
      box-shadow: none;
      background: transparent;
    }
  }

  .region--complementary {
    position: relative;
    margin-top: 1rem;

    @include for-tablet-landscape-up {
      margin-top: 20px;
      order: 3;
    }

    @include for-desktop-up {
      padding-right: 0;
      padding-left: 20px;
    }
  }
}

body.socialblue--sky {
  .region--complementary_wrapper {
    position: relative;
    margin-bottom: 0;
    z-index: 5;

    @include for-tablet-landscape-down {
      border-radius: 0 !important;
    }
  }

  .layout--with-complementary:not(.sidebar-left) {
    .region--complementary_wrapper.card {
      box-shadow: none;
    }
  }

  &.mode-search {
    .region--complementary_wrapper {
      z-index: 1;
    }
  }

  // move to left-sidebar
  //.region--complementary-top + .region--complementary-bottom {
  //  margin-top: 0;
  //  padding-bottom: 1rem;
  //}

  .region--complementary-bottom,
  .region--complementary-top {
    padding-bottom: 0;
    border-radius: 0;
  }
}

body.socialblue--sky {
  &.page-node-type-course-article .sidebar-left {
    .region--complementary_wrapper {
      border-radius: 10px !important;

      @include for-tablet-landscape-up {
        top: 0;
      }

      .region--complementary-top  {
        .block-course-section-navigation {
          .card__block {
            padding-bottom: 0;

            > .list-item {
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.block-course-material-navigation {
  .complementary-title {
    > a {
      display: flex;
      align-items: center;
      padding: 1rem 1.25rem;
      font-weight: 700;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        border-radius: 50%;
      }

      svg {
        width: 18px;
        height: 18px;
        fill: #fff;
      }
    }
  }
}
