@import "settings";

.socialblue--sky {
  .layout--with-complementary.sidebar-left {
    > .region--complementary {
      z-index: 10;

      @include for-tablet-landscape-up {
        order: 1;
      }

      @include for-desktop-up {
        padding-right: 1rem;
        padding-left: 0;
      }
    }

    > .region--content {
      @include for-desktop-up {
        padding-left: 1rem;
        padding-right: 0;
      }
    }
  }

  .region--secondary-navigation {
    width: 100%;
    padding: 0;
  }


  // Layout for the user/group page.
  &.path-user,
  &.path-group {
    .region--hero {
      max-width: 100%;
      padding: 0;
    }

    .region--complementary-top {
      margin-top: 0;
    }

    .layout--with-complementary {
      z-index: 2;

      .region--secondary-navigation {
        @include for-tablet-landscape-up {
          display: flex;
          justify-content: flex-end;
          margin: -44px 0 0;
          padding-left: 2rem;
          padding-right: 1rem;
        }

        @include for-desktop-up {
          max-width: 1200px;
          margin-left: auto;
          margin-right: auto;
          padding-left: 1.5rem;
          padding-right: 0;
        }
      }
    }

     .sidebar-left .region--complementary {
      position: relative;
      top: 1px;

      @include for-tablet-landscape-up {
        top: -60px;
      }
    }

    .region--secondary-navigation {
      position: relative;
      z-index: 3;
    }

    // Change position for secondary nav, sidebar and content regions.
    @include for-tablet-landscape-down {
      .region--secondary-navigation {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
      }

      .region--complementary {
        padding-left: 0;
        padding-right: 0;
        order: 0;
      }

      .region--content {
        order: 2;
      }
    }
  }
}
