.main-container {
  overflow: hidden;
  min-height: 100%;
  min-height: 100vh;
  padding-top: 64px;

  @include MQ($medium) {
    padding-top: 88px;
  }

}

.section-header {
  margin-top: 20px;
}

.page-title {
  display: block;
  width: 100%;

  .container {
    padding: 0 $card-padding;
    transition: 0.3s;

    @include MQ($small) {
      padding: 0 $card-padding-large;
    }

    @include MQ($medium) {
      padding: 0;
    }

  }

}

.block-hero {
  padding: 30px 0 10px;
  background: $primary-color;
}

.section-overview {
  margin: 1em 0;

  @include MQ($small) {
    margin: 3em 0;
  }
}
