.main-container {
  overflow: hidden;
  min-height: 100%;
  min-height: 100vh;
  padding-top: 64px;
  padding-bottom: 40px;

  @include MQ($medium) {
    padding-top: 88px;
    padding-bottom: 100px;
  }

}

.valign {
  display: table-cell;
}

.valign-wrapper-center {
  display: table;
  vertical-align: middle;
  width: 100%;
}

.valign-wrapper-bottom {
  display: table;
  vertical-align: bottom;
  width: 100%;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.no-pad {
    padding: 0;
  }
  &.no-pad-bot {
    padding-bottom: 0;
  }
  &.no-pad-top {
    padding-top: 0;
  }
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
  padding: 24px;

  @include MQ($small) {
    padding-left: 48px;
  }
}

.section-overview {
  margin: 1em 0;

  @include MQ($small) {
    margin: 3em 0;
  }
}
