@import 'init';

@import "contrib/bootstrap/badges";

.badge {
  padding: ($badge-font-size/3) ($badge-font-size/1.5);
  font-size: $badge-font-size;
  font-weight: 500;
}

.badge-accent {
  background-color: $brand-accent;
  color: $default-color;

  &:hover {
    color: $default-color;
  }

}

.badge-primary {
  background-color: $brand-primary;
}

.badge-secondary {
  background-color: $brand-secondary;
}

.badge-gray-lighter {
  background-color: $gray-lighter;
  color: $gray-light;

  .icon-badge-toggle {
    background-color: white;
  }
}

.badge-gray-dark {
  background-color: $gray-dark;
}


.badge label {
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.badge--toggle {
  padding: 0;
  background-color: transparent;
  transition: width 0.3s ease;
}

.badge--toggle,
.badge--toggle * {
  user-select: none;
}

// custom chip modifier
.js .badge--toggle {

  .badge--toggle__label {
    width: 0;
    opacity: 0;
    display: inline-block;
    transition: opacity 0.3s ease;
  }

  input[type=checkbox]:checked ~ .icon-badge-toggle,
  input[type=checkbox]:checked ~ .badge--toggle__label {
    background-color: rgba(black,0.1); // by using transparency it will also work on gray backgrounds
    color: $default-color;
  }

  .badge--toggle__label {
    border-radius: 0 8px 8px 0;
  }

  input[type=checkbox]:checked ~ .badge--toggle__label {
    width: auto;
    padding: 3px $badge-font-size 3px ($badge-font-size/2);
    opacity: 1;
  }

}

a.badge--comment-count {
  background-color: $gray-lighter;
  padding: 0;
  color: $default-color;

  &:hover,
  &:focus {
    background-color: $gray-lighter;
    color: $default-color;
  }

  .icon-badge {
    width: 22px;
    height: 18px;
    padding-left: 8px;
    fill: $default-color;
  }

}

.badge--comment-count__number {
    padding: 4px 8px 4px 4px;
}
