@import 'settings';

@include for-tablet-landscape-up {

  // provide an offset that matches the section title element + a paragraph
  .path-search .region--complementary-top {
    margin-top: ((1.1*1.25rem) + 1.25rem);
  }

}

.path-search .section-title {
  padding-top: 0;
  padding-right: 100px;

  @include for-tablet-landscape-up {
    padding-right: 0;
  }

}
