{{ attach_library('social_post_album/social-post-album--post') }}

{# @see field--field-post-image.html.twig #}
<div class="social-post-album--post-gallery">
  {% for index, item in items %}
    <div class="post-with-image">
      <a{{ item.attributes }}">
        {{ item.content }}

        {% if loop.last and more_posts_count > 0 %}
          <span class="plus-count">
            <span class="plus-count--wrapper">
              <span class="text-plus">+</span>
              {{ more_posts_count }}
            </span>
          </span>
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>
