{% extends "node--small-teaser.html.twig" %}

{% block extra_text %}
  <div class="card__text">
    <small class="text-muted">
      {{ event_date }}
      {% if content.enrolled %}
        <span class="badge badge-secondary">
          {{  content.enrolled }}
        </span>
      {% endif %}
    </small>
  </div>
{% endblock %}

