@import "settings";

.tooltip-inner {
  border-radius: $border-radius-base;
  color: $tooltip-color;
  background-color: $tooltip-bg;
}

.tooltip {
  &.top .tooltip-arrow {
    border-top-color: $tooltip-arrow-color;
  }
  &.right .tooltip-arrow {
    border-right-color: $tooltip-arrow-color;
  }
  &.left .tooltip-arrow {
    border-left-color: $tooltip-arrow-color;
  }
  &.bottom .tooltip-arrow {
    border-bottom-color: $tooltip-arrow-color;
  }
}

.popover {
  border-radius: $border-radius-base;
  background-color: $popover-bg;
  border: 1px solid $popover-fallback-border-color;
  border: 1px solid $popover-border-color;
}

.popover-title {
  background-color: $popover-title-bg;
  border-bottom: 1px solid darken($popover-title-bg, 5%);
  border-radius: ($border-radius-large - 1) ($border-radius-large - 1) 0 0;
}

.popover {
  &.top > .arrow {
    border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-top-color: $popover-arrow-outer-color;
    &:after {
      border-top-color: $popover-arrow-color;
    }
  }
  &.right > .arrow {
    border-right-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-right-color: $popover-arrow-outer-color;
    &:after {
      border-right-color: $popover-arrow-color;
    }
  }
  &.bottom > .arrow {
    border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-bottom-color: $popover-arrow-outer-color;
    &:after {
      border-bottom-color: $popover-arrow-color;
    }
  }

  &.left > .arrow {
    border-left-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-left-color: $popover-arrow-outer-color;
    &:after {
      border-left-color: $popover-arrow-color;
    }
  }
}
