$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #777777 !default;
$gray-light-1:           #adadad !default;
$gray-lighter:           #e6e6e6 !default;
$gray-lighter-1:         #f7f7f7 !default;
$gray-lightest:          #f3f3f3 !default;

$default-color:         #4d4d4d !default;
$brand-primary:         #29abe2 !default;
$brand-secondary:       #1f80aa !default;
$brand-accent:          #ffc142 !default;

$brand-primary-dark:      mix(black, $brand-primary, 30%) !default;

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;
