$border-radius-base:        10px !default;
$border-radius-large:       12px !default;
$border-radius-small:       8px !default;

@import "variables/alerts";
@import "variables/badges";
@import "variables/buttons";
@import "variables/cards";
@import "variables/components";
@import "variables/dropdown";
@import "variables/labels";
@import "variables/links";
@import "variables/list-group";
@import "variables/navbar";
@import "variables/pagination";
@import "variables/popover";
@import "variables/tooltip";
@import "variables/type";
