@import 'settings';

.socialblue--sky {

  .form--post-create {

    .field--name-field-post {

      .form-control {
        min-height: 4.875em;
      }
    }

    .btn-primary {
      flex: 0 1 auto;
      margin-left: 22px;
      align-self: flex-end;

      @include for-tablet-portrait-up {
        flex-grow: 0;
      }

    }

  }
}
