<table class="btn-wrapp">
  <tr>
    <td class="align-center">
      <a href="{{ link }}" class="btn-link btn-link-bg btn-link-one">
        {% trans %} Read more about this {% endtrans %} {{ type }}
      </a>
    </td>
  </tr>
</table>
