<div class="comments">
  <div class="post">
    <em>{{ name }}</em> {% trans %} posted {% endtrans %}
    <div><small> {{ date }}</small></div>
    <p> {{ summary }} </p>
  </div>
</div>

<table class="btn-wrapp">
  <tr>
    <td class="align-center">
      <a href="{{ link }}" class="btn-link btn-link-bg btn-link-one">
        {% trans %} Leave a comment {% endtrans %}
      </a>
    </td>
  </tr>
</table>
