@import 'settings';

$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 15px !default;

//** Text color of current page in the breadcrumb
$breadcrumb-active-color:        $gray !default;


.breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  list-style: none;
  background-color: $breadcrumb-bg;
  font-size: $font-size-base;

  > li {
    display: inline-block;
  }

  a {
    display: inline-block;
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }

  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
