// Check for export, otherwise build a media query
@mixin MQ($width) {

  @if ($width == 'retina2') {
    @media screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      @content;
    }
  }

  @else if ($width == 'retina3') {
    @media screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
      @content;
    }
  }

  @else {
    @media screen and (min-width: $width) {
      @content;
    }
  }

}

@mixin MQH($height) {
  @media screen and (min-height: $height) {
    @content;
  }
}

%inline-clear {
  clear: both;
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

@import "mixins/card";
@import "mixins/border-radius";
@import "mixins/breakpoints";
@import "mixins/elevation";
@import "mixins/grid-framework";
@import "mixins/grid";
@import "mixins/style-variant";
