@import 'init';

@import 'contrib/bootstrap/type';
@import "contrib/bootstrap/code";

html{
  font-size: 16px;
}

body {
  font-size: $font-size-small;
  font-family: $font-family-webfont;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;

  @include MQ($small) {
    font-size: $font-size-base;
  }
}

a {
	font-weight: 500;
	color: inherit;

  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;

	&:hover {
		color: inherit;
	}
}

p {
  margin-bottom: 0.75rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
	transition: 0.3s;
	margin: 1em 0 0.5em;

	a {
		font-weight: inherit;
	}

}

// Header Styles

h1, .h1 {
	font-size: 2rem;
	font-weight: 700;

	@include MQ($medium) {
		font-size: 3rem;
	}

}

h2, .h2 {
	font-size: 1.5rem;

	@include MQ($medium) {
		font-size: 2rem;
	}
}

h3, .h3 {
	font-size: 1.25rem;

	@include MQ($medium) {
		font-size: 1.5rem;
	}
}

h4, .h4 {
	font-size: 1.2rem;

	@include MQ($medium) {
		font-size: 1.25rem;
	}

}

h5, .h5{
	font-size: 1rem;

	@include MQ($medium) {
		font-size: 1rem;
	}
}

h6, .h6 {
	font-size: 0.875rem;;

	@include MQ($medium) {
		font-size: 0.875rem;
	}
}

.header {
	color: $brand-primary;
	font-weight: 300;
}

.subtitle {
	font-size: 0.75rem;
	line-height: 1;
}

// Blockquote
blockquote {
  margin: 20px 0;
  padding-left: 1.5em;
  border-left: 3px solid $brand-primary;
	font-weight: 500;
}


// Text Styles
em.placeholder {
	font-style: normal;
}

strong {
	font-weight: $font-weight-strong;
}

.light {
	font-weight: 300;
}

.caption {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 30px;
}

ol, ul {
  padding-left: 1.5em;

  .popover &:last-child {
    margin-bottom: 0;
  }

}

ol {
  list-style-position: outside;
}

// override bootstrap default
code {
  border-radius: 2px;
}

.section-title {
  padding: 1.25rem;
  margin: 0;

  @include MQ($small) {
    padding-left: 20px;

		// the title cannot wrap because we want to align sidebar cards vertical top with the content
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.section-title-stream {
			padding-left: 40px;
		}

		&.section-title-node {
			padding-left: 48px;
		}
  }

}

.complementary-title {
	font-size: 1.25rem;
}


.text-caption {
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
}

.text-truncate {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  max-width: 100%;
}

.post-date {
  color: $gray-light;
  font-size: 0.75rem;
  line-height: 1.25;
}

small {
  font-size: 80%;

  .label {
    font-size: 90%;
  }
}

.text-align-left           { text-align: left; }
.text-align-right          { text-align: right; }
.text-align-center         { text-align: center; }
.text-align-justify        { text-align: justify; }

// Sizes
// -------------------------

.text-xs {		font-size: 0.4em; }
.text-s {			font-size: 0.75rem; }
.text-m {			font-size: 0.875rem; }
.text-l {			font-size: 1.125rem; }
.text-xl {		font-size: 1.25rem; }
.text-xxl {		font-size: 1.5rem; }
.text-xxxl {	font-size: 2rem; }
.text-xxxxl {	font-size: 3rem; }

@include text-emphasis-variant('.text-gray', $gray);
@include text-emphasis-variant('.text-gray-light', $gray-light);
@include text-emphasis-variant('.text-gray-lighter', $grey-light-1);
@include text-emphasis-variant('.text-gray-lightest', $gray-lighter);
@include text-emphasis-variant('.text-accent', $brand-accent);

//
@include bg-variant('.bg-gray', $gray);
@include bg-variant('.bg-gray-light', $gray-light);
@include bg-variant('.bg-gray-lighter', $gray-lighter);
@include bg-variant('.bg-gray-lightest', $gray-lightest);
@include bg-variant('.bg-white', white);

@include style-variant('.brand-primary', $brand-primary, white);
@include style-variant('.brand-secondary', $brand-secondary, white);
@include style-variant('.brand-accent', $brand-accent, $default-color);
@include style-variant('.brand-user', $gray-darker, white);

@include style-variant('.default-light', $gray-lighter, $default-color);


// Lists

.list-item--collapsed,
.list-item--expanded {
  list-style: none;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    margin-left: -1em;
    margin-right: 0.45em;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top:   $caret-width-base solid transparent;
    border-top:   $caret-width-base solid \9; // IE8
    border-left: $caret-width-base dashed;
    border-bottom:  $caret-width-base solid transparent;
  }

}

.list-item--expanded::before {
  margin-left: -1.2em;
  margin-right: 0.4em;
  border-top:   $caret-width-base dashed;
  border-top:   $caret-width-base solid \9; // IE8
  border-right: $caret-width-base solid transparent;
  border-left:  $caret-width-base solid transparent;
}


// Images

img.align-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

img.align-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body-text {

  a {
    text-decoration: underline;
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  table {
    border-color: $table-border-color;
    border-style: solid;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: $line-height-computed;

    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: $table-cell-padding;
          line-height: $line-height-base;
          vertical-align: top;
          border-top: 1px solid $table-border-color;
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid $table-border-color;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;
        }
      }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
      border-top: 2px solid $table-border-color;
    }

    // Nesting
    table {
      background-color: $body-bg;
    }

  }
}
