// Rounded corners
//
// Today all modern browsers support the non-prefixed border-radius property.
// This mixin can be used a shortcut for quickly rounding two corners on
// a particular side of an object.
//
// `@mixin border-top-radius($radius)`<br />
// `@mixin border-right-radius($radius)`<br />
// `@mixin border-bottom-radius($radius)`<br />
// `@mixin border-left-radius($radius)`
//
// Weight: 6
//
// Style guide: sass.roundedcorners

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
