// Dropdown open on tablet and mobile devices
@mixin dropdown-open {
  position: static !important;
  display: block !important;
  box-shadow: none;
  background: #f5f5f5;
}

@mixin dropdown-el {
  padding-left: 30px;

  &:hover,
  &.is-active {
    background: #fff;
  }
}

@mixin dropdown-Ipad {
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    @include dropdown-open;
  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    @include dropdown-open;
  }
}

@mixin dropdown-el-Ipad {
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    @include dropdown-el;
  }

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    @include dropdown-el;
  }
}