// Unstyled list
//
// Remove the default list-style and left margin on list items (immediate children only). This only applies to immediate children list items, meaning you will need to add the class for any nested lists as well.
// `@mixin list-unstyled`
//
// Weight: 7
//
// Style guide: sass.list-unstyled

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}