// sass-lint:disable no-important

// visually-hidden()
//
// Make an element visually hidden, but accessible to screen readers, etc.
// @see: http://a11yproject.com/posts/how-to-hide-content
//
// Weight:
//

@mixin visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  margin: -1px;
  padding: 0;
  clip: rect(0,0,0,0);
  border: 0;
}

// visually-hidden--off()
//
// Turns off the visually-hidden effect.
//

@mixin visually-hidden--off {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  overflow: visible;
  margin: 0;
}

// visually-hidden--focusable()
//
// Makes an element visually hidden by default, but visible when receiving
// focus.
//
// Use in conjunction with visually-hidden to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

@mixin visually-hidden--focusable {
  @include visually-hidden;

  &:active,
  &:focus {
    @include visually-hidden--off;
  }
}
