@keyframes chip-rotate {
  0% {
    transform: perspective(800px) rotateY(0);
  }

  70% { // this creates the bounce effect
    transform: perspective(800px) rotateY(220deg);
  }

  100% {
    transform: perspective(800px) rotateY(180deg);
  }
}

@keyframes chip-rotate-inverse {
  0% {
    transform: perspective(800px) rotateY(-180deg);
  }

  70% {
    transform: perspective(800px) rotateY(40deg);
  }

  100% {
    transform: perspective(800px) rotateY(0);
  }
}
