.card {
  position: relative;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  background-color: white;
  transition: box-shadow .25s;
  border-radius: 10px;
  background-clip: padding-box;
  overflow: hidden;
  padding: 20px 0;
  @extend .z-depth-1;

  @include MQ($small) {
    padding: 30px;
  }

}
