.style-default {
  background-color: $grey-light-2;
  border-color: $grey-light-2;
  color: $grey-dark-1;
}

.text-default {
  color: $grey-light-2;
}



.style-default-light {
  background-color: $grey-light-3;
  border-color: $grey-light-3;
  color: $grey-dark-1;
}

.text-default-light {
  color: $grey-light-3;
}



.style-default-bright {
  background-color: white;
  border-color: $grey-light-2;
  color: $grey-dark-1;
}

.text-default-bright {
  color: white;
}



.style-primary {
  background-color: $primary-color;
  border-color:$primary-color;
  color: white;
}

.text-primary {
  color: $primary-color;
}



.style-secondary {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: white;
}

.text-secondary {
  color: $secondary-color;
}



.style-accent {
  background-color: $accent-color;
  border-color: $accent-color;
  color: $grey-dark-1;
}

.text-accent {
  color: $accent-color;
}



.style-success {
  background-color: $success-color;
  border-color: $success-color;
  color: white;
}

.text-success {
  color: $success-color;
}



.style-error {
  background-color: $error-color;
  border-color: $error-color;
  color: white;
}

.text-error {
  color: $error-color;
}



.style-warning {
  background-color: $warning-color;
  border-color: $warning-color;
  color: $grey-dark-1;
}

.text-warning {
  color: $warning-color;
}



.style-info {
  background-color: $info-color;
  border-color: $info-color;
  color: white;
}

.text-info {
  color: $info-color;
}
