.style-default {
  background-color: $grey-light-2;
  border-color: $grey-light-2;
  color: $grey-dark-1;
}

.text-default {
  color: $grey-light-2;
}

.text-default-dark {
  color: $grey-dark-1;
}

.text-grey {
  color: $grey-light-1;
}

.text-grey-dark {
  color: $grey-dark-2;
}



.style-default-light {
  background-color: $grey-light-3;
  border-color: $grey-light-3;
  color: $grey-dark-1;
}

.text-default-light {
  color: $grey-light-3;
}



.style-default-bright {
  background-color: white;
  border-color: $grey-light-2;
  color: $grey-dark-1;
}

.text-default-bright {
  color: white;
}



.style-primary {
  background-color: $brand-primary;
  border-color:$brand-primary;
  color: white;
}

.text-primary {
  color: $brand-primary;
}



.style-secondary {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  color: white;
}

.text-secondary {
  color: $brand-secondary;
}



.style-accent {
  background-color: $brand-accent;
  border-color: $brand-accent;
  color: $grey-dark-1;
}

.text-accent {
  color: $brand-accent;
}


.style-success {
  background-color: $brand-success;
  border-color: $brand-success;
  color: white;
}

.text-success {
  color: $brand-success;
}



.style-error {
  background-color: $brand-danger;
  border-color: $brand-danger;
  color: white;
}

.text-error {
  color: $brand-danger;
}



.style-warning {
  background-color: $brand-warning;
  border-color: $brand-warning;
  color: white;
}

.text-warning {
  color: $brand-warning;
}



.style-info {
  background-color: $brand-info;
  border-color: $brand-info;
  color: white;
}

.text-info {
  color: $brand-info;
}
