.social-blue {
  background-color: #29abe2 !important;
}

.social-blue-text {
  color: #29abe2 !important;
}

.social-blue.lighten-4 {
  background-color: #A1D6EC !important;
}

.social-blue-text.text-lighten-4 {
  color: #A1D6EC !important;
}

.social-blue.darken-1 {
  background-color: #1f80aa !important;
}

.social-blue-text.text-darken-1 {
  color: #1f80aa !important;
}
