/*** Colors ***/

$secondary-color: #1f80aa !default;
$success-color: #1f80aa !default;
$error-color: red;
$link-color: #29abe2 !default;

$primary-color: #29abe2 !default;

$body-color: #e6e6e6;
$grey-light-1: #adadad;
$base-color: #4d4d4d;

/*** Badges ***/
$badge-bg-color: $secondary-color !default;

/*** Buttons ***/
// Shared styles
$button-border: none !default;
$button-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 2rem !default;
$button-radius: 5px !default;

// Disabled styles
$button-disabled-background: #DFDFDF !default;
$button-disabled-color: #9F9F9F !default;

// Raised buttons
$button-raised-background: $primary-color;
$button-raised-background-hover: lighten($primary-color, 5%) !default;
$button-raised-color: #fff !default;

// Large buttons
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 37px !default;
$button-floating-large-size: $button-floating-size * 1.5 !default;
$button-floating-radius: 50% !default;

/*** Collapsible ***/
$collapsible-height: 3rem !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;

/*** Forms ***/
// Text Inputs + Textarea
$input-border-color: #9e9e9e !default;
$input-bg-color: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $success-color !default;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;

$radio-fill-color: $secondary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// Media queries ================================================================
$x-small: 480px;
$small: 640px;
$medium: 960px;
$large: 1024px;
$x-large: 1200px;
$xx-large: 1440px;

// Grid ==========================================================================

$num-cols: 12 !default;
$gutter-width: 30px !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// Typography =====================================================================

$off-black: rgba(0, 0, 0, 0.87) !default;
// Header Styles

$h1-font-sizes: (
  null : 30px,
  $medium : 52px
);

$h2-font-sizes: (
  null : 24px,
  $medium : 34px
);

$h3-font-sizes: (
  null : 20px,
  $medium : 28px
);

$h4-font-sizes: (
  null: 18px,
  $medium : 22px
);

$h5-font-sizes: (
  null  : 16px,
  $medium : 20px
);

$h6-font-sizes: (
  null  : 14px,
  $medium : 18px
);

// Cards ==========================================================================

$card-padding: 20px;
$card-bg-color: white;
$card-link-color: $primary-color;
$card-link-color-light: lighten($card-link-color, 20%);
