html {
  background-color: $body-color;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}


ul {
	list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none;
}


// Icon Styles

i {
  line-height: inherit;

  &.left {
    float: left;
    margin-right: 15px;
  }
  &.right {
    float: right;
    margin-left: 15px;
  }
  &.tiny {
    font-size: 1rem;
  }
  &.small {
    font-size: 2rem;
  }
  &.medium {
    font-size: 4rem;
  }
  &.large {
    font-size: 6rem;
  }
}


// Images
img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.img-bordered {
  border: 5px solid white;
  @include z-depth-1-half;
}

// Text Align
.left-align {
  text-align: left;
}

.right-align {
  text-align: right
}

.center, .center-align {
  text-align: center;
}

.pull-left,
.left {
  float: left !important;
}

.pull-right,
.right {
  float: right !important;
}

.circle {
  border-radius: 50%;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.margin-bottom-s {	margin-bottom: 5px; }
.margin-bottom-m {	margin-bottom: 10px; }
.margin-bottom-l {	margin-bottom: 20px; }

.margin-top-s {	margin-top: 5px; }
.margin-top-m {	margin-top: 10px; }
.margin-top-l {	margin-top: 20px; }


// Pushpin
.pin-top, .pin-bottom {
  position: relative;
}
.pinned {
  position: fixed !important;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid rgba(12, 12, 12, 0.12);

  &.ruler-s {
    margin: 8px 0;
  }

  &.ruler-l {
    margin: 56px 0;
  }
}
