$fix-mqs: false !default;

// Check for export, otherwise build a media query
@mixin MQ($width) {

  @if ($width == 'retina2') {
    @media screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      @content;
    }
  }

  @else if ($width == 'retina3') {
    @media screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
      @content;
    }
  }

  @else if $fix-mqs {
    @if $fix-mqs >= $width {
      @content;
    }
  }

  @else {
    @media screen and (min-width: $width) {
      @content;
    }
  }

}

// Prevent IE styles from exporting, unless asked for
$oldie: false !default;

// Everything for IE8-
@mixin old-ie {
  @if $oldie {
    @content;
  }
}

@mixin clearfix {

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

}

%clearfix,
.clearfix {
  @include clearfix;
}

%inline-clear {
  clear: both;
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
