.tabs {
  margin: 0;
  padding: 0;
  position: relative;
  @include clearfix;

  @include MQ($small) {
    border-bottom: 1px solid $secondary-color;
  }

  li {
    margin-bottom: -1px;
    line-height: 1.5em;

    @include MQ($small) {
      float: left;

      .center & {
        float: none;
        display: inline-block;
      }

    }

  }

  a {
    position: relative;
    padding: 0 15px;
    margin-right: 2px;
    color: white;
    display: block;
    font-weight: 300;
    line-height: 54px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    opacity: 0.7;
    transition: color 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      background-color: rgba(0,0,0,0.15);
      border-color: $grey-light-2 $grey-light-2 $secondary-color;
    }
  }

  .is-active a {
    border-bottom-color: white;
    color: white;
    background-color: transparent;
    cursor: default;
    opacity: 1;
  }
}

.tabs-justified {
  @include MQ($small) {
    padding: 0;
    width: 100%;

    li {
      float: none;
      display: table-cell;
      width: 1%;
    }

    a {
      margin-right: 0;
    }
  }
}
