a {
	text-decoration: none;
	font-weight: 500;
	color: inherit;

  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}


html{
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0,0,0,0.87);
  -webkit-font-smoothing: antialiased;

	&.fonts-loaded {
		font-family: 'montserrat', sans-serif;
	}

}

body {
	font-size: 14px;
	font-size: 0.875em;
}

p {
  color: rgba(0,0,0,0.71);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
	transition: 0.3s;
	margin: 1em 0 0.5em;

	a {
		font-weight: inherit;
	}

}

// Header Styles

h1, .h1 {
	font-size: 2rem;
	letter-spacing: 0.05em;
	font-weight: 700;

	@include MQ($medium) {
		font-size: 3rem;
	}

}

h2, .h2 {
	font-size: 1.5rem;

	@include MQ($medium) {
		font-size: 2rem;
	}
}

h3, .h3 {
	font-size: 1.25rem;

	@include MQ($medium) {
		font-size: 1.5rem;
	}
}

h4, .h4 {
	font-size: 1.2em;

	@include MQ($medium) {
		font-size: 1.25em;
	}

}

h5, .h5{
	font-size: 1.1em;

	@include MQ($medium) {
		font-size: 1.1em;
	}
}

h6, .h6 {
	font-size: 1em;

	@include MQ($medium) {
		font-size: 1em;
	}
}

.header {
	color: $primary-color;
	font-weight: 300;
}

// Blockquote
blockquote {
  margin: 20px 0;
  padding-left: 1.5em;
  border-left: 3px solid $primary-color;
	font-weight: 500;
}


// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

.flow-text{
  font-size: responsive;
}

.caption {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 30px;
}

.list {
  padding-left: 30px;
  margin: 1em 0;
	font-size: 15px;

  li {
    list-style-type: square;
  }
}


.page-title h1 {
	color: white;
	font-weight: 300;
	padding: 0.5em 0 1em;
	margin: 0;
}

.page-title {
	color: white;
	font-weight: 700;
	margin: 0;
	margin: 12px 0 18px;
}

.section-title {
	color: $base-color;
	text-transform: uppercase;
}

.text-caption {
  display: block;
  margin-bottom: 29px;
  font-size: 12px;
}
