.socialblue--sky.path-group .hero__banner--course_statistic,
.path-group .hero__banner--course_statistic {
  margin-bottom: 14px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 900px) {
    .socialblue--sky.path-group .hero__banner--course_statistic,
    .path-group .hero__banner--course_statistic {
      padding-top: 105px; } }
  @media (max-width: 599px) {
    .socialblue--sky.path-group .hero__banner--course_statistic,
    .path-group .hero__banner--course_statistic {
      padding-top: 1.25rem; } }
  @media (max-width: 899px) {
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap,
    .path-group .hero__banner--course_statistic .cover-wrap {
      padding-left: 1rem;
      padding-right: 1rem; } }
  .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .back-link,
  .path-group .hero__banner--course_statistic .cover-wrap .back-link {
    margin-bottom: 1.25rem; }
    @media (min-width: 900px) {
      .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .back-link,
      .path-group .hero__banner--course_statistic .cover-wrap .back-link {
        margin-bottom: 38px; } }
  .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .teaser__tag,
  .path-group .hero__banner--course_statistic .cover-wrap .teaser__tag {
    margin-bottom: 10px; }
    @media (max-width: 899px) {
      .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .teaser__tag,
      .path-group .hero__banner--course_statistic .cover-wrap .teaser__tag {
        font-size: 18px;
        line-height: 27px; } }
  @media (min-width: 900px) {
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .teaser__title,
    .path-group .hero__banner--course_statistic .cover-wrap .teaser__title {
      margin-bottom: 1.25rem; } }
  @media (max-width: 899px) {
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .teaser__title,
    .path-group .hero__banner--course_statistic .cover-wrap .teaser__title {
      font-size: 2rem;
      line-height: 38px; } }
  .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .teaser__title .field--label,
  .path-group .hero__banner--course_statistic .cover-wrap .teaser__title .field--label {
    display: none; }
  .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .teaser__title .field--item,
  .path-group .hero__banner--course_statistic .cover-wrap .teaser__title .field--item {
    color: #4a4a4a;
    font-weight: 700;
    line-height: 44px; }
  .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer,
  .path-group .hero__banner--course_statistic .cover-wrap .hero-footer {
    padding-top: 1.25rem;
    padding-bottom: 2rem; }
    @media (max-width: 599px) {
      .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer,
      .path-group .hero__banner--course_statistic .cover-wrap .hero-footer {
        padding-bottom: 1.5rem; } }
  .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list,
  .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list {
    width: 100%;
    color: #4d4d4d; }
    @media (max-width: 599px) {
      .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .hero-footer__list-item:first-child,
      .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .hero-footer__list-item:first-child {
        margin-bottom: 1.25rem; } }
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage,
    .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage {
      display: flex;
      justify-content: flex-start;
      flex-direction: row; }
      .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item,
      .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 0; }
        .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:before,
        .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:before {
          display: none; }
        .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child),
        .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child) {
          position: relative;
          padding-right: 1.5rem;
          margin-right: 1.5rem; }
          @media (max-width: 599px) {
            .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child),
            .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child) {
              padding-right: 1rem;
              margin-right: 1rem; } }
          .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child):before,
          .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child):before {
            display: block;
            content: '';
            position: absolute;
            width: 1px;
            height: 36px;
            right: 0;
            bottom: 5px;
            background: #000; }
          @media (min-width: 900px) {
            .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user,
            .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user {
              padding-right: 40px;
              margin-right: 40px; } }
          @media (max-width: 599px) {
            .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user,
            .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user {
              flex: 0 0 100%;
              max-width: 100%;
              margin-bottom: 1rem;
              margin-right: 0;
              padding-right: 0; }
              .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user .hero-footer__list-label,
              .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user .hero-footer__list-label {
                margin-bottom: .5rem; } }
          .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user:before,
          .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user:before {
            display: none; }
            @media (min-width: 600px) {
              .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user:before,
              .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage > .hero-footer__list-item:not(:last-child).hero-footer__list-user:before {
                display: block;
                height: 24px; } }
      .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-label,
      .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-label {
        font-size: .875rem;
        line-height: 21px;
        margin-bottom: .75rem;
        padding-right: 0; }
      .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-content,
      .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-content {
        font-size: 2.25rem;
        line-height: 44px;
        font-weight: 700;
        display: flex;
        align-items: center; }
        @media (max-width: 599px) {
          .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-content,
          .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-content {
            font-size: 2rem;
            line-height: 38px; } }
        .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-content--user,
        .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-content--user {
          font-size: 1.25rem;
          line-height: 30px; }
          @media (max-width: 599px) {
            .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-content--user,
            .path-group .hero__banner--course_statistic .cover-wrap .hero-footer__list .meta-engage .hero-footer__list-content--user {
              font-size: 1.5rem;
              line-height: 30px; } }
  .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .cover-wrap--course-statistic-profile .teaser__tag,
  .path-group .hero__banner--course_statistic .cover-wrap .cover-wrap--course-statistic-profile .teaser__tag {
    margin-bottom: 1.375rem; }
    @media (max-width: 899px) {
      .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .cover-wrap--course-statistic-profile .teaser__tag,
      .path-group .hero__banner--course_statistic .cover-wrap .cover-wrap--course-statistic-profile .teaser__tag {
        margin-bottom: 1.125rem; } }
  .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user,
  .path-group .hero__banner--course_statistic .cover-wrap .card__info-user {
    position: relative;
    min-height: 120px;
    margin-bottom: 1.25rem;
    padding: 0;
    text-align: left; }
    @media (min-width: 600px) {
      .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user,
      .path-group .hero__banner--course_statistic .cover-wrap .card__info-user {
        padding-left: 150px; } }
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user:after,
    .path-group .hero__banner--course_statistic .cover-wrap .card__info-user:after {
      display: none; }
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user .card__info-user--name,
    .path-group .hero__banner--course_statistic .cover-wrap .card__info-user .card__info-user--name {
      margin-bottom: 0;
      font-weight: 700; }
      @media (max-width: 899px) {
        .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user .card__info-user--name,
        .path-group .hero__banner--course_statistic .cover-wrap .card__info-user .card__info-user--name {
          font-size: 2rem;
          line-height: 38px; } }
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user .hero-avatar,
    .path-group .hero__banner--course_statistic .cover-wrap .card__info-user .hero-avatar {
      width: 120px;
      height: 120px;
      border: none;
      margin: 0 0 1rem;
      box-shadow: none;
      border-radius: 50%; }
      @media (min-width: 600px) {
        .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user .hero-avatar,
        .path-group .hero__banner--course_statistic .cover-wrap .card__info-user .hero-avatar {
          position: absolute;
          top: 0;
          left: 0;
          margin-bottom: 0; } }
  .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about,
  .path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about {
    margin-top: .5rem; }
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-job,
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-organization,
    .path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-job,
    .path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-organization {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem; }
      @media (max-width: 599px) {
        .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-job,
        .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-organization,
        .path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-job,
        .path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-organization {
          font-size: .875rem;
          line-height: 21px; } }
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-organization,
    .path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-organization {
      margin-top: .5rem; }
    .socialblue--sky.path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-address,
    .path-group .hero__banner--course_statistic .cover-wrap .card__info-user--about .card__info-user--about-address {
      display: none; }
  @media (min-width: 600px) {
    .socialblue--sky.path-group .hero__banner--course_statistic .hide-desktop,
    .path-group .hero__banner--course_statistic .hide-desktop {
      display: none !important; } }
  .socialblue--sky.path-group .hero__banner--course_statistic .section-title-block,
  .path-group .hero__banner--course_statistic .section-title-block {
    margin: 0 -1em;
    padding: .5rem;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    font-size: .875rem;
    line-height: 21px;
    font-weight: 700;
    color: #adadad; }
  @media (max-width: 599px) {
    .socialblue--sky.path-group .hero__banner--course_statistic.hero__banner--course_statistic--profile,
    .path-group .hero__banner--course_statistic.hero__banner--course_statistic--profile {
      margin-bottom: 0; } }

.view-course-statistics table.table tbody td {
  vertical-align: middle; }
.view-course-statistics table.table thead tr th:not(:first-child) {
  white-space: nowrap; }
@media (max-width: 599px) {
  .view-course-statistics table.table tbody tr td:not(:first-child) {
    white-space: nowrap; } }
@media (max-width: 599px) {
  .view-course-statistics table.table tbody td.views-field-nothing .btn-link {
    display: none; } }
.view-course-statistics table.table tbody td.views-field-nothing .btn-default {
  display: block; }
  @media (min-width: 600px) {
    .view-course-statistics table.table tbody td.views-field-nothing .btn-default {
      display: none; } }
.view-course-statistics .view-header {
  margin: 0 0 20px; }
  @media (max-width: 599px) {
    .view-course-statistics .view-header {
      text-align: center; } }
  .view-course-statistics .view-header h4 {
    margin: 0;
    font-weight: 700;
    line-height: 30px; }
    @media (max-width: 599px) {
      .view-course-statistics .view-header h4 {
        font-size: 18px;
        line-height: 27px; } }
@media (max-width: 599px) {
  .view-course-statistics .table-responsive {
    padding-bottom: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
  .view-course-statistics table.table thead tr th:first-child,
  .view-course-statistics table.table tbody tr td:first-child {
    position: -webkit-sticky;
    position: sticky;
    width: 120px;
    left: 0;
    top: auto;
    padding-left: .875rem;
    padding-right: .875rem; }
    .view-course-statistics table.table thead tr th:first-child:after,
    .view-course-statistics table.table tbody tr td:first-child:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: #e6e6e6; }
  .view-course-statistics table.table thead tr th:first-child {
    background: #fff; }
  .view-course-statistics table.table tbody tr td,
  .view-course-statistics table.table tbody tr th,
  .view-course-statistics table.table thead tr td,
  .view-course-statistics table.table thead tr th {
    padding-left: .75rem;
    padding-right: .75rem; }
    .view-course-statistics table.table tbody tr td:nth-child(2),
    .view-course-statistics table.table tbody tr th:nth-child(2),
    .view-course-statistics table.table thead tr td:nth-child(2),
    .view-course-statistics table.table thead tr th:nth-child(2) {
      padding-left: 1.125rem; }
  .view-course-statistics table.table tbody tr td {
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    vertical-align: top; }
  .view-course-statistics table.table tbody tr td,
  .view-course-statistics table.table tbody tr td a {
    font-size: .875rem;
    line-height: 21px; }
  .view-course-statistics table.table tbody tr:nth-child(odd) td:first-child {
    background: #f3f3f3; }
  .view-course-statistics table.table tbody tr:nth-child(even) td:first-child {
    background: #fff; }
  .view-course-statistics table.table tbody tr .media-left {
    display: none; } }

@media (max-width: 599px) {
  .view-course-sections-statistics,
  .view-course-statistics {
    margin: 0 -14px; }
    .view-course-sections-statistics .card,
    .view-course-statistics .card {
      border-radius: 0 !important;
      box-shadow: none; } }
.view-course-sections-statistics table.table tbody td.views-field-status,
.view-course-statistics table.table tbody td.views-field-status {
  font-weight: 700;
  white-space: nowrap; }
  .view-course-sections-statistics table.table tbody td.views-field-status svg,
  .view-course-statistics table.table tbody td.views-field-status svg {
    width: 21px;
    height: 21px;
    margin-right: 5px;
    vertical-align: top; }

@media (max-width: 599px) {
  .view-course-sections-statistics {
    margin-top: -1rem; }
    .view-course-sections-statistics .table-responsive {
      padding: 0;
      margin: 0; }
    .view-course-sections-statistics table.table {
      display: block; }
      .view-course-sections-statistics table.table thead {
        display: none; }
      .view-course-sections-statistics table.table tbody,
      .view-course-sections-statistics table.table tr,
      .view-course-sections-statistics table.table td {
        display: block; }
      .view-course-sections-statistics table.table tbody tr {
        padding: 1.125rem .875rem;
        background: transparent; }
        .view-course-sections-statistics table.table tbody tr:nth-child(odd) {
          background: #f3f3f3; }
        .view-course-sections-statistics table.table tbody tr td {
          padding: 0;
          border: none; }
          .view-course-sections-statistics table.table tbody tr td.views-field-title {
            margin-bottom: 1.75rem; }
          .view-course-sections-statistics table.table tbody tr td.views-field-status {
            margin-bottom: .5rem;
            white-space: normal; }
        .view-course-sections-statistics table.table tbody tr td,
        .view-course-sections-statistics table.table tbody tr a {
          font-size: 0.875rem;
          line-height: 21px; } }
.view-course-sections-statistics table.table tbody .views-field-changed {
  opacity: 1; }
  @media (min-width: 600px) {
    .view-course-sections-statistics table.table tbody .views-field-changed .text-info-changed {
      display: none; } }

body .layout--full .region--content,
body .layout--full.layout--with-complementary .region--content,
body .layout--full.layout--with-complementary.sidebar-left .region--content {
  flex: 0 0 100%;
  max-width: 100%; }
  @media (min-width: 900px) {
    body .layout--full .region--content,
    body .layout--full.layout--with-complementary .region--content,
    body .layout--full.layout--with-complementary.sidebar-left .region--content {
      padding-left: 0;
      padding-right: 0; } }

/*# sourceMappingURL=social_course_statistics.css.map */
