@import 'settings';

.view--group-managers {
  @include for-tablet-landscape-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25rem;

    .card__block {
      flex: 0 0 48%;
    }
  }

  .card__block {
    padding: 0;
  }

}