nav.visible-md-block.visible-lg-block.bg-white
  ol.breadcrumb.container
    li
      a(href='#!') Home
      svg.icon-gray.icon-small
        use(xlink:href="#icon-navigate_next")
    li
      a(href='#!') Overview
      svg.icon-gray.icon-small
        use(xlink:href="#icon-navigate_next")
    li.active Detail
