#header
  nav.navbar.navbar-default.navbar-fixed-top.z-depth-2
    .container

      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            svg.icon-white.icon-medium
              use(xlink:href='#icon-add_box')
          ul.dropdown-menu
            li
              a(href="node-add-event.html") New event
            li
              a(href="node-add-topic.html") New topic
            li
              a(href="group-add.html") New group
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            svg.icon-white.icon-medium
              use(xlink:href='#icon-group')
          ul.dropdown-menu
            li
              .dropdown-header My groups
            li.divider
            li
              ul.scrollable-menu
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body
                        .text-truncate Happy campers
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body.text-truncate Drupal Ninja's Italy
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body.text-truncate The Dallas Nerds
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body.text-truncate Munich local group
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body.text-truncate Innovaders
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body
                        .text-truncate Happy campers
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body.text-truncate Drupal Ninja's Italy
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body.text-truncate The Dallas Nerds
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body.text-truncate Munich local group
                li
                  a.bg-white(href='group-stream.html')
                    .media
                      .media-left
                        img.img-small.img-circle.media-object(src='content/images/group1-square.jpg', alt='')
                      .media-body.text-truncate Innovaders
            li.divider
            li
              .dropdown-header
                a.block.clearfix(href="my-groups.html") All my groups
                  svg.btn-icon.icon-black.pull-right
                    use(xlink:href='#icon-navigate_next')
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            svg.icon-white.icon-medium
              title My Notifications
              use(xlink:href='#icon-notifications')
            span.badge 4
          ul.dropdown-menu
            li
              .dropdown-header Notifications
            li.divider
            li
              ul.scrollable-menu
                li
                  a.bg-gray-lightest(href='single-post.html')
                    .media
                      .media-left
                        img.img-small.img-circle(src='content/images/avatar2.jpg', alt='')
                      .media-body <em>Clive Owen</em> commented on your post
                        br
                        .text-gray-1 3 hours ago

                li
                  a.bg-gray-lightest(href='single-post.html')
                    .media
                      .media-left
                        img.img-small.img-circle(src='content/images/avatar3.jpg', alt='')
                      .media-body <em>Jeremy Bob</em> liked your post
                        br
                        .text-gray-1 4 hours ago
                li
                  a.bg-white(href='event.html')
                    .media
                      .media-left
                        img.img-small.img-circle(src='content/images/avatar4.jpg', alt='')
                      .media-body <em>Bettie McLaren</em> likes your event
                        em Amsterdam Meetup
                        br
                        .text-gray-1 1 day ago
                li
                  a.bg-white(href='topic.html')
                    .media
                      .media-left
                        img.img-small.img-circle(src='content/images/avatar5.jpg', alt='')
                      .media-body <em>Jim Bohlen</em> commented on your topic
                        em Technology for the handicapped
                        br
                        .text-gray-1 2 days ago
            li.divider
            li
              .dropdown-header
                a.block.clearfix(href="notification-archive.html") All Notifications
                  svg.btn-icon.icon-black.pull-right
                    use(xlink:href='#icon-navigate_next')
        li.dropdown.profile
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            img.img-small.img-circle.media-middle(src='content/images/member5.jpg', alt='')
          ul.dropdown-menu
            li.dropdown-header.header-nav-current-user Signed in as
              strong.text-truncate John Johnson
            li.divider
            li
              a(href='my-stream.html') My profile
            li
              a(href='my-events.html') My events
            li
              a(href='my-topics.html') My topics
            li
              a(href='my-groups.html') My groups
            li.divider
            li
              a(href='profile-edit.html') Edit profile
            li
              a(href='account-edit.html') Edit account
            li.divider
            li
              a(href='home-an.html') Log out

      .navbar-header
        a.navbar-brand(href='home-lu.html')
          img(src='images/social-logo-white.svg' alt='Brand logo')

        button.navbar-toggle.collapsed(href='#', data-toggle='collapse', data-target='#main-navigation', type='button', aria-haspopup='true', aria-expanded='false')
          span Menu
          span.sr-only Toggle navigation

      #main-navigation.collapse.navbar-collapse(aria-expanded='false')
        ul.nav.navbar-nav
          li
            a(href='home-lu.html') Home
          li.dropdown.expanded
            a.dropdown-toggle.clearfix(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Explore
              span.caret
            ul.dropdown-menu
              li
                a(href="explore.html") Community
              li
                a(href="explore-events.html") All events
              li
                a(href="explore-groups.html") All groups
              li
                a(href="explore-topics.html") All topics
              li
                a(href="explore-members.html") All members
        .navbar-search
          form.navbar-form.navbar-left(role='search', method='get', action='search-content.html')
            #navbar-search.form-group
              input#search.form-control(type='text', placeholder='Search', name='search', autocomplete='off')
              button.form-submit.btn.btn-default(type='submit', value='Search') Search
              span.search-icon
                svg
                  use(xlink:href='#icon-search')
