#header
  nav.navbar.navbar-default.navbar-fixed-top.z-depth-2
    .container

      ul.nav.navbar-nav.navbar-right
        li
          a(href='login.html') Log in
        li
          a(href='sign-up.html') Sign up

      .navbar-header

        a.navbar-brand(href='home-an.html')
          img(src='images/social-logo-white.svg' alt='Brand logo')

        button.navbar-toggle.collapsed(href='#', data-toggle='collapse', data-target='#main-navigation', type='button', aria-haspopup='true', aria-expanded='false')
          span Menu
          span.sr-only Toggle navigation


      #main-navigation.collapse.navbar-collapse(aria-expanded='false')
        ul.nav.navbar-nav
          li
            a(href='home-an.html') Home
          li.expanded.dropdown
            a.dropdown-toggle.clearfix(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Explore
              span.caret
            ul.dropdown-menu
              li
                a(href="explore.html") Community
              li
                a(href="public-events.html") All events
              li
                a(href="public-topics.html") All topics
        .navbar-search
          form.navbar-form.clearfix(role='search', method='get', action='search-content.html')
            #navbar-search.form-group
              input#search.form-control(type='text', placeholder='Search', name='search', autocomplete='off')
              button.form-submit.btn.btn-default(type='submit', value='Search') Search
              span.search-icon
                svg
                  use(xlink:href='#icon-search')
