{% if links -%}

  {%- for key, item in links -%}
    {%- if item.link -%}
      <div class="card__link btn btn-default">
        {{ item.link }}
      </div>
    {%- elseif item.text_attributes -%}
      <span{{ item.text_attributes }}>{{ item.text }}</span>
    {%- else -%}
      {{ item.text }}
    {%- endif -%}

  {%- endfor -%}

{%- endif %}
