{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

<div class="media">
  <div class="media-left">{{ current_user_picture }}</div>
  <div class="media-body">
    {#<h5 class="media-heading"><a href="my-stream.html">John Johnson </a>&bullet; <small>6 hours ago</small></h5>#}
    <form{{ attributes|without('class') }}>
      <div class="form-group form-group-inline">
        {{ children }}
      </div>
    </form>
  </div>
</div>
