{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="card card-body ">
  <div class="media">
    <div class="media-left">
      picture
    </div>
    <div class="media-body">
      <h5 class="media-heading">
        user id
        <small>date</small>
      </h5>
    </div>
  </div>
  <div class="margin-top-s">
    <form{{ attributes }}>
      {{ children }}
    </form>
  </div>
  {% if content.links %}
    {{ content.links }}
  {% endif %}
</div>
</div>
