{#
/**
 * @file
 * Default theme implementation for a BigPipe JS placeholder interface preview.
 *
 * @see \Drupal\big_pipe\Render\Placeholder\BigPipeStrategy::createBigPipeJsPlaceholder()
 */
#}

{{ attach_library('social_content_block/skeleton') }}

<div class="social-content-block skeleton">
  <div class='teaser-wrapper'>
    <div class="teaser-small-skeleton"></div>
    <div class="teaser-small-skeleton"></div>
  </div>
  <div class='teaser-wrapper'>
    <div class="teaser-small-skeleton"></div>
    <div class="teaser-small-skeleton"></div>
  </div>
  <div class='teaser-wrapper'>
    <div class="teaser-small-skeleton"></div>
    <div class="teaser-small-skeleton"></div>
  </div>
  <div class='teaser-wrapper'>
    <div class="teaser-small-skeleton"></div>
    <div class="teaser-small-skeleton"></div>
  </div>
  <div class='teaser-wrapper'>
    <div class="teaser-small-skeleton"></div>
    <div class="teaser-small-skeleton"></div>
  </div>
</div>
