{#
/**
 * @file
 * Custom theme implementation to display a custom content block.
 */
#}
<h4 class="card__title">
    {{ title }}
    <div class="card__subtitle">
        {{ subtitle }}
    </div>
</h4>
{{ entities }}
{% if link %}
    <footer class="card__actionbar">
        {{ link }}
    </footer>
{% endif %}
