@include MQ($medium) {

  // provide an offset that matches the section title element + a paragraph
  .path-search .complementary-top {
    margin-top: ((1.1*1.25rem) + 1.25rem + 1.25rem + (1.5 * 1rem) + 0.75rem);
  }

}
