mixin link(name)
  link(href=name, type='text/css', rel='stylesheet', media='screen')

+link('css/alerts.css')
+link('css/buttons.css')
+link('css/layout.css')
+link('css/materialize.css')
+link('css/type.css')
+link('css/toc.css')
