@import 'settings';

// Ensure that social login buttons are full-width on mobile.
.social-auth-buttons .card__block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px -10px;

  @include for-phone-only {
    flex-direction: column;
  }

  .btn {
    display: inline-block;
    margin: 0 5px 10px;
  }
}
