.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;

  .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top:-10px;
    margin-left:-10px;
    opacity: 0;
    background: rgba(0,0,0,0.2);
    transition: all 0.7s ease-out;
    transition-property: transform, opacity;
    transform: scale(0);
    pointer-events: none;
  }

  // Waves Colors
  &.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }

  &.waves-grey .waves-ripple {
    background-color: rgba(0, 0, 0, .15);
  }

  // Style input button bug.
  input[type="button"], input[type="reset"], input[type="submit"] {
    background: none;
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
  }

}

.waves-notransition {
  transition: none #{"!important"};
}

.waves-input-wrapper {
  border-radius: $border-radius-base;
  vertical-align: bottom;

  .waves-button-input {
    position: relative;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
  }

}

.waves-block {
  display: block;
}

// Firefox Bug: link not triggered
a.waves-effect .waves-ripple {
  z-index: -1;
}
