{% extends "node--featured--sky.html.twig" %}

{% block card_teaser_type %}
  <a href="{{ url }}">
    <div class="teaser__teaser-type">
      <svg class="teaser__teaser-type-icon">
        <use xlink:href="#icon-topic"></use>
      </svg>
    </div>
  </a>
{% endblock %}
