{% extends 'node--featured.html.twig' %}

  {% block card_hero_image %}
    <div class="img_wrapper">
      {% if content.field_book_image|render %}
        {{ content.field_book_image }}
      {% else %}
        <hr class="no-feature-image">
      {% endif %}
    </div>
  {% endblock %}
