{% extends 'node--featured.html.twig' %}

{% block card_body %}

  <div class="card__link">
    <a href="{{ url }}" rel="bookmark">{{ 'Read more'|t }}
      <span class="visually-hidden">{{ 'about'|t }}{{ label }}</span>
    </a>
  </div>

{% endblock %}