{% extends 'node--featured.html.twig' %}

{% block card_hero_image %}
  <div class="img_wrapper">{{ content.field_profile_image }}</div>
{% endblock %}

{% block card_teaser_type %}

{% endblock %}

{% block card_title %}
  <h4 class="teaser__title">
    <a href="{{ profile_stream_url }}">
      {{ profile_name|render }}
    </a>
  </h4>
{% endblock %}

{% block card_body %}

{% endblock %}
