.block--custom-content-list .wrapper span[data-big-pipe-placeholder-id] {
  width: 100%;
}

.social-content-block.skeleton {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-content-block.skeleton .teaser-wrapper {
  width: 100%;
  display: flex;
}

@media (max-width:640px) {
  .social-content-block.skeleton .teaser-wrapper {
    display: block;
  }
}

.teaser-small-skeleton {
  flex: 1;
}
