.form-type-vertical-tabs .color-form .form-item {
  height: auto;
}
.form-type-vertical-tabs .color-form label {
  float: none;
  clear: left;
  display: inline-block;
}
.form-type-vertical-tabs .color-form .form-select,
.form-type-vertical-tabs .color-form .form-text {
  float: none;
  display: inline-block;
}
.form-type-vertical-tabs button.color-palette__lock, .color-palette__lock,
.form-type-vertical-tabs .color-palette__hook {
  display: none;
}
