@import 'settings';

.iframe-container {

  iframe {
    display: block;
  }

  p .fitframe {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 100%;
  }

  p > iframe {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 100%;
  }
}