{#
/**
 * @file
 * Theme template for a social comments.
 *
 * Available variables:
 * - comments: A list of comments, each one contains:
 *   - id: The ID of the comment.
 *   - username: The name of user.
 *   - userphoto: The photo of user.
 *   - text: The text of the comment.
 *   - timestamp: The date where comment was posted.

 * @see template_preprocess()
 * @see template_preprocess_social_comments_items()
 *
 * @ingroup themeable
 */
#}
{% for comment in comments %}
  <ul>
    {% for name, value in comment %}
      <li>{{ name }} - {{ value }}</li>
    {% endfor %}
  </ul>
{% endfor %}
