@import "init";

.off-canvas {
  position: fixed;
  top: 50px;
  overflow: auto;
  width: 280px;
  height: 100%;
  background-color: $card-bg-color;
  padding: $card-padding;
  box-shadow: 0 8px 17px 0 transparent, 0 6px 20px 0 transparent;
  z-index: 4;
  backface-visibility: hidden;
  transition: transform 0.5s, box-shadow 0.3s;

  &.is-open {
    transform: translateX(0);
    @include z-depth-2;
  }

}

.off-canvas-left {
  transform: translateX(-280px);
  left: 0;
}

.off-canvas-right {
  transform: translateX(280px);
  right: 0;
}

.off-canvas-xs-only {
  @include MQ($small) {
    margin-bottom: 0.75rem;
    position: relative;
    width: 100%;
    height: auto;
    right: auto;
    transform: none;
    overflow: visible;
    top: 0;
    padding: 0;
    border-radius: 10px;
    background-clip: padding-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

}

.btn-primary ~ .off-canvas-xs-only {
  @include MQ($small) {
    margin-top: 0.75rem;
  }
}

.offcanvas-head {
  position: relative;

  @include MQ($small) {
    padding: 15px 20px 0;
    color: $gray-light;
    line-height: 1;

    .complementary-title {
      vertical-align: middle;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 0.875rem;
      text-align: center;
    }
  }
}

.offcanvas-tools {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.offcanvas-body {
	margin-top: 30px;

  @include MQ($small) {
    margin-top: 0;
    padding: 20px;
  }
}
