@import 'settings';

.teaser__image {

  @include for-tablet-portrait-up {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: $gray-lighter;
  }

}

.teaser__teaser-type {
  background-color: $gray-light-1;
  border-radius: 0 0 ($card-border-radius - 2px) ($card-border-radius - 2px);

  @include for-tablet-portrait-up {
    background-color: rgba(black, 0.5);
    border-radius: 0 0 $card-border-radius 0;
  }

}

.teaser__teaser-type-icon {
  fill: white;
}

.teaser__label {
  >  * {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
}

.teaser {
  // Remove 'padding-left' from teaser badge if teaser badge(first-child) does not use 'background-color'.
  .teaser__badge {
    &:first-child {
      padding-left: 0;

      &.badge-default,
      &.badge-primary,
      &.badge-secondary,
      &.badge-accent,
      &.badge-success,
      &.badge-info,
      &.badge-warning,
      &.badge-danger,
      &.badge-active {
        padding-left: 1em;
      }
    }
  }

  .badge__label {
    color: $default-color;
  }
}
