@import 'settings';

.teaser__image {

  @include for-tablet-portrait-up {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: $gray-lighter;
  }

}

.teaser__teaser-type {
  background-color: $gray-light-1;
  border-radius: 0 0 ($card-border-radius - 2px) ($card-border-radius - 2px);

  @include for-tablet-portrait-up {
    background-color: rgba(black, 0.5);
    border-radius: 0 0 $card-border-radius 0;
  }

}

.teaser__teaser-type-icon {
  fill: white;
}

// SocialBlue Sky.
.socialblue--sky {
  .teaser {
    .card__link {
      .btn {
        font-weight: 700;
        text-transform: uppercase;
        border-width: 2px;
      }
    }

    &:not(.teaser--stream) {
      .badge__label {
        color: $default-color--sky;
      }
    }
  }

  .badge-status {
    @include for-tablet-landscape-up {
      margin-left: .5rem;
      padding: 5px .875rem;
      font-size: .875rem;
      font-weight: 300;
    }
  }

  .teaser__content-line {
    margin-bottom: 5px;
  }

  .teaser__title {
    margin-bottom: .75rem;
  }

  .teaser__tag {
    display: inline-block;
    vertical-align: middle;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: .5rem;

    a {
      font-weight: 700;
      transition: .3s ease-out;
    }

    @include for-tablet-landscape-down {
      font-size: .75rem;
    }
  }
}
