@import 'settings';

.socialblue--sky {
  .teaser {
    .card__link {
      .btn {
        font-weight: 700;
        text-transform: uppercase;
        border-width: 2px;
      }
    }
  }

  .teaser__title {
    margin-bottom: 5px;
  }
}
