@import 'settings';

.teaser__title {
  max-height: 2.3em;
}

.teaser__published-date {
  flex-grow: 1;
}

.teaser__published-author {
  flex-grow: 0;
  flex-shrink: 0;
}

.teaser__tag {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.teaser.teaser--tile {
  margin-bottom: 45px;

  .text__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    > * {
      margin-bottom: 10px;
    }

    .teaser__tag {
      margin-bottom: 0;
    }

    .lang {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      li + li {
        &::before {
          content: '|';
          position: relative;
          display: inline-block;
          top: 1px;
          margin-left: 6px;
          margin-right: 6px;
        }
      }
    }
  }

  .teaser__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;

    .four-items & {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .text-muted {
    > * {
      .four-items & {
        font-size: 12px;
      }
    }
  }

  .teaser__published-date {
    flex-grow: 0;
  }

  .teaser__published-author {
    margin-right: 4px;

    a {
      font-weight: 300;
    }
  }

  .card__link {
    text-transform: uppercase;
  }

  .teaser__content-header {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;

    .teaser__published {
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    .teaser__published-type {
      font-weight: 700;

      a {
        font-weight: 700;
      }
    }

    .teaser__tag {
      margin-bottom: 0;
    }
  }
}

.teaser {
  &.teaser--tile,
  &.teaser--stream {
    .card__actionbar {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &:before,
      &:after {
        display: none;
      }

      &-side {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;

        &:empty {
          display: none;
        }
      }
    }
  }
}

.teaser {
  &.teaser--stream {
    .teaser__tag {
      margin-right: 6px;
      margin-bottom: 0;

      @include for-desktop-up {
        margin-right: 15px;
      }
    }
    .teaser__tag {
      margin-bottom: 0;
    }
  }
}

// Teaser Tile inside Featured Items paragraph.
.field--name-field-featured-items {
  .teaser--tile {
    display: flex;

    @media(min-width: 900px) {
      flex: 0 0 31%;
      max-width: 31%;
      margin-left: 3.5%;

      &:nth-child(2n+1) {
        margin-left: 3.5%;
      }

      &:nth-child(3n+1) {
        margin-left: 0;
      }

    }

  }

  &.four-items {
    .teaser--tile {

      @media(min-width: 900px) {
        flex: 0 0 22.35%;
        max-width: 22.35%;
        margin-left: 3.5%;

        &:nth-child(2n+1),
        &:nth-child(3n+1) {
          margin-left: 3.5%;
        }

        &:nth-child(4n+1) {
          margin-left: 0;
        }
      }

    }

  }
}

.teaser.teaser--profile {
  display: flex;
  flex-direction: column;

  .teaser__image {
    flex: 0 0 80px;
    height: 80px;
    margin-bottom: 55px;
    border-radius: 0;
    text-align: center;
    overflow: visible;
    display: block;

    a {
      display: block;
      height: 100%;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border: 10px solid white;
      border-radius: 50%;
      position: relative;
      top: 30px;
      background-color: #adadad;
    }
  }

  .teaser__title {
    min-height: auto;
    margin-bottom: .5rem;
    font-size: 1.25rem;
  }

  .teaser__body {
    text-align: center;
  }

  .teaser__content {
    padding-top: 0;
    justify-content: inherit;
  }

  .teaser__work,
  .teaser__address,
  .badge__label{
    font-size: .875rem;
  }

  .teaser__work {
    margin-bottom: 1.25rem;
  }

  .card__actionbar {
    display: flex;
    justify-content: center;

    .card__link {
      flex: 0 0 236px;
      max-width: 236px;
      margin: 0 auto;
    }
  }
}
