.switch input[type=checkbox]:checked + .lever {
  background-color: $switch-checked-lever-bg;
}

.switch input[type=checkbox]:checked + .lever:after {
  background-color: $switch-bg-color;
}

// Switch active style
input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px transparentize($switch-bg-color, .9);
}
