@import "init";

@import "contrib/bootstrap/popovers";

//
// Popovers
// --------------------------------------------------

.popover {
  font-size: 0.875rem;
  padding: 0;
  border-radius: $border-radius-base;
}

.popover-title {
  font-size: 0.875rem;
}

[data-toggle="popover"] {
  &.icon-before:before {
    margin-right: 0.3em;
  }
}
