@import 'settings';

input[type='text'].form-date {
  min-width: 240px;
  background-repeat: no-repeat;
  background-size: auto 18px;
  background-position: 96% 50%;
  padding-right: 36px;
  background-image: url(../images/icons/icon-today.svg);
}

input[type='text'].form-time {
  min-width: 160px;
  background-repeat: no-repeat;
  background-size: auto 18px;
  background-position: 96% 50%;
  padding-right: 36px;
  background-image: url(../images/icons/icon-schedule.svg);
}

.ui-datepicker {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  float: left;
  min-width: 160px;
  margin: 4px 0; // override default ul
  text-align: left;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  font-size: 0.875rem;
  padding: 4px;
  z-index: $zindex-dropdown !important;
}

.ui-datepicker-header {
  @include clearfix;
}

.ui-datepicker-title {
  text-align: center;
  width: 145px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 5px;
  margin: 0 auto;
  font-weight: 500;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: $gray-lighter;
  }

  &:before {
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    fill: $default-color;
  }
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-prev:before {
  background-image: url(../images/icons/icon-navigate_before.svg);
}

.ui-datepicker-next:before {
  background-image: url(../images/icons/icon-navigate_next.svg);
}

.ui-icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.ui-datepicker-calendar > thead > tr > th {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0;
  font-weight: 500;
}

.ui-datepicker-calendar > tbody > tr > td {
  border: 0;
  padding: 0;

  .ui-state-default {
    display: block;
    border-radius: 4px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: 300;

    &:hover {
      background: $gray-lightest;
      cursor: pointer;
    }

  }

  .ui-state-highlight {
    background-color: $gray-lighter;

    &:hover {
      color: white;
      background-color: $gray-light;
    }
  }

}
