{#
/**
 * @file
 * Theme override for confirm form.
 *
 * We add a card element around these forms.
 *
 * Available variables:
 * - form: The confirm form.
 *
 * @ingroup themeable
 */
#}


<div class="card">
  <div class="card__block">
    {{ form }}
  </div>
</div>