{#
/**
 * @file
 * Theme override for confirm form.
 *
 * We add a card element around these forms and make sure the brand-border-radius is applied.
 *
 * Available variables:
 * - form: The confirm form.
 *
 * @ingroup themeable
 */
#}

<div class="card brand-border-radius">
  <div class="card-body">
    {{ form }}
  </div>
</div>