{#
/**
 * @file
 * Default theme implementation for a form element label.
 *
 * Available variables:
 * - element: an input element.
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - description: element description.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 *
 * @ingroup templates
 */
#}


{%- if title is not empty -%}
  <div class="switch__label">
    {{ title }}
    {%- if required -%}
      <span class="form-required">*</span>
    {%- endif -%}
  </div>
  <div class="switch__options">
    {%- trans -%} Off {%- endtrans -%}
    {{ element }}
    <span class="lever"></span>
    {%- trans -%} On {%- endtrans -%}
    {{ children }}
  </div>

{%- endif -%}
