@import 'settings';


.password-strength__indicator {
  background-color: $brand-success;
}

.password-strength__indicator.is-weak {
  background-color: $brand-danger;
}
.password-strength__indicator.is-fair {
  background-color: $brand-warning;
}
.password-strength__indicator.is-good {
  background-color: $brand-info;
}


// Styling for the status indicator of the passwords match test.
.password-confirm .ok {
  color: $brand-success;
}
.password-confirm .error {
  color: $brand-danger;
}
