@import 'settings';

.socialblue--sky {

  // Hero on the landing page
  .cover--landing:after {
    background: $brand-primary;
  }

  .hero__banner--static .teaser__tag {
    color: $brand-primary;
  }

  &.path-group .cover-wrap .teaser__tag {
    background: $brand-primary;
  }

  .site-footer {
    background: #fff;
    color: $brand-primary;

    &:before {
      background: $brand-primary;
    }
  }

  .card--views__sidebar {
    .card__actionbar {
      .btn {
        &:before {
          background: $brand-primary;
        }

        &:hover,
        &:active,
        &:focus {
          color: $brand-accent;

          &:before {
            background: $brand-accent;
          }
        }
      }
    }
  }

  .teaser__tag {
    color: $brand-primary;
  }

  .block-profile-statistic-block,
  .block-group-statistic-block {
    .hero-footer__cta .btn-default {
      color: $brand-primary;
    }
  }

  .paragraph--featured  {
    .field--name-field-featured-link a {
      &:before {
        background: $brand-primary;
      }

      &:hover,
      &:active,
      &:focus {
        color: $brand-accent;

        &:before {
          background: $brand-accent;
        }
      }
    }
  }

  .phase.phase-active:before {
    background-color: $brand-primary;
  }
}
