@import 'settings';

.socialblue--sky {
  .teaser__tag {
    color: $brand-secondary;
  }

  &.path-group .cover-wrap .teaser__tag {
    background: $brand-primary;
  }

  .site-footer {
    background: #fff;
    color: $brand-primary;

    &:before {
      background: $brand-primary;
    }
  }

  .card--views__sidebar {
    .card__actionbar {
      .btn {
        &:before {
          background: $brand-primary;
        }

        &:hover,
        &:active,
        &:focus {
          color: $brand-accent;

          &:before {
            background: $brand-accent;
          }
        }
      }
    }
  }

  .block-profile-statistic-block,
  .block-group-statistic-block {
    .hero-footer__cta .btn-default {
      color: $brand-primary;
    }
  }

  .paragraph--featured  {
    .field--name-field-featured-link a {
      &:before {
        background: $brand-primary;
      }

      &:hover,
      &:active,
      &:focus {
        color: $brand-accent;

        &:before {
          background: $brand-accent;
        }
      }
    }
  }

  .phase.phase-active:before {
    background-color: $brand-primary;
  }

  &.path-user,
  &.path-group {
    .layout--with-complementary {
      .navbar-secondary .navbar-nav .hidden-list {
        li,
        li.active {
          a {
            &:hover,
            &.is-active {
              color: $brand-primary;
            }
          }
        }
      }
    }
  }
}
