label {
  font-weight: 300;
}

.form__label {
  font-size: 0.875rem;
  cursor: text;
}

.label--option {
  font-size: $label-font-size;
  color: $grey-dark-1;
}

.form-item {
  position: relative;
  margin-bottom: 1.25rem;
}

.form-actions {
  margin-bottom: 1.25rem;
  margin-top: 2.50rem;
}

.help-block {
  text-align: right;
  font-size: 0.75rem;
  max-width: $form-control-max-width; // match max width of form-controls
}

.form__item--description {
  font-size: 12px;
  margin-top: 7px;
  color: $grey-light-1;
  font-weight: 300;
}

.form__description {
  font-size: 14px;
  margin: 20px 0;
  color: $grey-light-1;
  font-weight: 300;
}
