{% if items is not empty %}
  <div class="card--content-merged__list">
    <h5>{{ label }}</h5>

    {% set classes = ['badge', 'badge--pill', 'badge--large', 'badge-default'] %}

    <div class="list-item__text">
      {% for item in items %}
        <div{{ item.attributes.addClass(classes) }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}
