{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL.
 *
 * @ingroup themeable
 */
#}
{% if profile_edit_url %}
  <a href="{{ profile_edit_url }}" class="pull-right waves-effect waves-light btn btn-raised style-default-dark btn-floating">
    <i class="material-icons">mode_edit</i>
  </a>
{% endif %}
<h1 class="hero-title">
  {{ profile_name }}
</h1>
{{ content.field_profile_image }}
