{% extends "node--teaser--sky.html.twig" %}

{% block card_image %}
  {{ content.field_discussion_image }}
{% endblock %}

{% block card_teaser_type %}
  <div class="teaser__teaser-type">
    <svg class="teaser__teaser-type-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
      <g>
        <path d="M12.55556 8H15l2 2V1c0-.55-.45-1-1-1H8c-.55 0-1 .45-1 1v4.31313h4.33333c.67223 0 1.22223.55 1.22223 1.22222V8z"/>
        <path d="M10.8 6H1.2C.54 6 0 6.495 0 7.1V17l2.4-2.2h8.4c.66 0 1.2-.495 1.2-1.1V7.1c0-.605-.54-1.1-1.2-1.1z"/>
      </g>
    </svg>
  </div>
{% endblock %}