@import "settings";

.stream-icon-new {
  background:$brand-secondary;
}

.teaser--stream {

  .teaser__image {
    border-radius: 0;
  }

  &:last-child {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;

    .card-image {
      border-bottom-left-radius: $card-border-radius;
    }
  }

}
