@import "settings";

.stream-icon-new {
  background:$brand-secondary;
}

.teaser--stream {

  .teaser__image {
    border-radius: 0;
  }

  &:last-child {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;

    .card-image {
      border-bottom-left-radius: $card-border-radius;
    }
  }

}

.socialblue--sky {
  .teaser--stream {
    @include for-tablet-portrait-up {
      height: 180px;
    }

    .teaser__title {
      @include for-tablet-landscape-up {
        font-size: 1.125rem;
      }
    }

    .teaser__image {
      @include for-tablet-portrait-up {
        height: 180px;
        flex: 0 0 180px;
      }
    }
  }

  .card--stream {
    margin-bottom: 1.5rem;
  }
}
