@import "settings";

.stream-icon-new {
  background:$brand-secondary;
}

.teaser--stream {

  .teaser__image {
    border-radius: 0;
  }

  &:last-child {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;

    .card-image {
      border-bottom-left-radius: $card-border-radius;
    }
  }

}

.socialblue--sky {

  .stream {
    &::before {
      background: #d5d6d2;
    }
  }

  .stream-icon {
    width: 12px;
    height: 12px;
    top: 37px;
    left: 2px;
    background: $gray-light-1;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  }

  .stream-icon-new {
    background: $brand-secondary;
  }

  .card--stream {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
  }

  .teaser--stream {
    background: transparent;

    .teaser__published-author {
      flex-grow: 0;
      margin-right: 10px;

      a {
        font-weight: 300;
      }
    }

    .teaser__published-date {
      margin-right: 10px;
      flex-grow: 1;
    }
  }
}
