@import "settings";

.socialblue--sky {
  .teaser.teaser--stream {
    @include for-tablet-portrait-up {
      height: 180px;
    }

    .teaser__title {
      @include for-tablet-landscape-up {
        font-size: 1.125rem;
        margin-bottom: 10px;
      }
    }

    .teaser__image {
      @include for-tablet-portrait-up {
        height: 180px;
        flex: 0 0 180px;
      }
    }
  }
}
