@import 'settings';

.ui-datepicker {
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
  border-radius: $border-radius-base;
}

.ui-datepicker-calendar > tbody > tr > td .ui-state-active {
  color: white;
  background-color: $brand-secondary;

  &:hover {
    color: white;
    background-color: darken($brand-secondary, 15%);
  }

}
