<nav class="navbar navbar-secondary" role="navigation" >
  <div class="navbar-scrollable">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Stream</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Topics</a></li>
      <li><a href="#">Groups</a></li>
      <li><a href="#">Information</a></li>
    </ul>
  </div>
</nav>
