{% if content %}
  <nav {{ attributes.addClass('navbar navbar-default navbar-fixed-top') }} role="banner">
    <div class="container container--navbar">
      {{ content }}
    </div>
  </nav>
{% endif %}