{%
  set classes = [
    'region--' ~ region|clean_class,
    'container',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes).setAttribute('id', 'hero') }}>
    {{ content }}
  </div>
{% endif %}