{%
  set classes = [
  'region--' ~ region|clean_class,
]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="content--side_wrapper-card">
      {{ content }}
    </div>
  </div>
{% endif %}