@import 'settings';

.joyride-close-tip {
  color: $tour-text-color;
  border-top-right-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;

  &:hover {
    background-color: $brand-primary;
  }
}

.joyride-modal-bg {
  background: $tour-backdrop-color;
}

.joyride-tip-guide {
  
  .joyride-nub.top {
    border-bottom: 28px solid $tour-background-color;
  }

  .joyride-nub.bottom {
    border-top: 28px solid $tour-background-color;
  }

  .joyride-nub.left {
    border-right: 28px solid $tour-background-color;
  }

  .joyride-nub.right {
    border-left: 28px solid $tour-background-color;
  }

}

.joyride-content-wrapper {
  background: $tour-background-color;
  color: $tour-text-color;
  border-radius: $border-radius-base;
}
