@import "settings";

// force the direct child of the container to take 100% of width screen on xs-screens
.hero-container.container {
  padding-right: 0;
  padding-left: 0;

  @include MQ($grid-float-breakpoint) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }

  .card {
    margin: 0.75rem 0;
  }

}

// Used on a hero block that can hold a background image.
.cover {
  position: relative; // keep hero-footer contained
  color: white;
  background-color: $brand-primary;
  text-align: center;
  padding: 20px;
}

.cover-img {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;

  .node-unpublished &:before {
    display: block;
    position: absolute;
    content: '';
    background-color: rgba($gray, 0.8);
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  @include MQ($medium) {

    .cover-wrap {
      min-height: 335px;
    }
  }
}

.cover-with-canvas {

  @include MQ($small) {
    padding: 40px;
  }

}

.cover-img-gradient:before{
  display: block;
  position: absolute;
  content: '';
  background-image: linear-gradient(rgba(0,0,0,0.00) 40%, rgba(0,0,0,0.1) 70%, rgba(34,34,34,0.5) 100%);
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.cover-wrap {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.node-unpublished .status:before {
  border-top: 1px solid white;
  margin: 5px auto;
  width: 40px;
  height: 0;
  content: '';
  display: block;
}

.page-title {
	color: white;
  font-weight: 700;
  text-align: center;
  margin: 0;

  .cover-img & {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  }

  .cover-wrap & {
    margin: 1em 0 0.5em;

    @include MQ($small) {
      margin-bottom: 0;
    }

  }

}

// Profile

.hero-avatar {
  @include z-depth-2;
  border-radius: 50%;
  margin: auto;
  width: 60px;
  height: 60px;
  border: 2px solid white;

  @include MQ($small) {
    width: 128px;
    height: 128px;
    border-width: 3px;
  }
}

.hero-footer {
  padding-top: 20px;
  width: 100%;
}

.hero-footer-icon {
  fill: white;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px; // vertical alignment with text
}


.hero-canvas {
  border-radius: $border-radius-base;
  background-color: rgba($gray-dark, 0.8);
  text-align: left; //overwrite .cover setting
  color: white;

  .page-title {
    font-weight: 700;
    margin-top: 0;
    text-align: left;

    @include MQ($small) {
      margin: 1em 0 .5em;
    }
  }
}


.cover .btn-group {
  margin-top: 10px;
}

.hero-action-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}



// Hero search

.hero-form[role='search'] {

  .form-group {
    position: relative;
    max-width: 400px;
    margin: auto;
  }

  .form-control {
    padding: $padding-base-vertical 38px $padding-base-vertical $padding-base-horizontal;
    border-radius: $input-border-radius;
    max-width: none;
    border: 0;

    &:focus,
    &:active,
    &:focus ~ .search-icon,
    &:active ~ .search-icon {
      border-bottom: 1px solid $brand-secondary;
      box-shadow: 0 2px 0 0 $brand-secondary;
    }

  }

  .form-submit,
  .search-icon {
    width: 38px;
    height: 38px;
    display: block;
    position: absolute;
    overflow: hidden;
    color: white;
    right: 0;
    top: 0;
    line-height: 38px;
    cursor: pointer;
    text-align: center;
    border-radius: 0 $input-border-radius $input-border-radius 0;
	}

  .search-icon {
    line-height: 38px;
    fill: $brand-primary;
    background: white;
    speak: none;
    pointer-events: none;
    transition: 0.3s;

    svg {
      width: 24px;
      height: 24px;
    }

  }

}
