// Google Tag Manager
noscript
  iframe(src='//www.googletagmanager.com/ns.html?id=GTM-5BGZV3', height='0', width='0', style='display:none;visibility:hidden')
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5BGZV3');
// End Google Tag Manager

.header__wrapper
  .header__innerwrapper.container
    .row
      .col-xs-12
        if page
          h1.header__title #{page}
        else
          h1.header__title Drupal Social

.nav-button-wrapper
  button#js-showSidebar.hamburger-button(role='tab') 
    i.material-icons(title='show navigation') menu

ul#nav-mobile.side-nav.fixed
  li.logo
    a#logo-container.brand-logo(href='index.html')
      img#front-page-logo(src='images/social-logo-blue.svg')
  li.bold(class=(page == "Overview" ? "active" : ""))
    a.waves-effect.waves-teal(href='getting-started.html') Overview

  li.no-padding
    ul.collapsible.collapsible-accordion
      li.bold
        a.collapsible-header(class=(page == "Sass" || page == "Typography" || page == "Color" || page == "Elevation" || page == "Table" ? "active" : "")+" waves-effect waves-teal")
          | Style
        .collapsible-body
          ul
            li(class=(page == "Color" ? "active" : ""))
              a(href='color.html') Color
            li(class=(page == "Typography" ? "active" : ""))
              a(href='typography.html') Typography
            li(class=(page == "Elevation" ? "active" : ""))
              a(href='elevation.html') Elevation
      li.bold
        a.collapsible-header(class=(page == "Forms" || page == "Buttons" || page == "Tabs" || page == "Cards" || page == "Chips" || page == "Preloader" || page == "Pagination" || page == "Collections" || page == "Badges" || page == "Breadcrumbs" || page == "Footer" ? "active" : "" || page == "Icons" ? "active" : "")+" waves-effect waves-teal")
          | Components
        .collapsible-body
          ul
            li(class=(page == "Buttons" ? "active" : ""))
              a(href='buttons.html') Buttons
            li(class=(page == "Grid" ? "active" : ""))
              a(href='grid.html') Grid
            li(class=(page == "Navigation" ? "active" : ""))
              a(href='navigation.html') Navigation
            li(class=(page == "Breadcrumbs" ? "active" : ""))
              a(href='breadcrumbs.html') Breadcrumbs
            li(class=(page == "Cards" ? "active" : ""))
              a(href='cards.html') Cards  
            li(class=(page == "Forms" ? "active" : ""))
              a(href='forms.html') Forms
            li(class=(page == "Tabs" ? "active" : ""))
              a(href='tabs.html') Tabs
            li(class=(page == "Pagination" ? "active" : ""))
              a(href='pagination.html') Pagination
  li.bold(class=(page == "Layouts" ? "active" : ""))
    a.waves-effect.waves-teal(href='layouts.html') Layout
  li.bold(class=(page == "Prototype" ? "active" : ""))
    a.waves-effect.waves-teal(href='prototype.html') Prototype

.mask-modal
