<div class="form-group form-autocomplete">
  <label class="control-label" for="tags">{{ label }}</label>
  <div class="input-group">
    <input class="form-autocomplete form-text form-control ui-autocomplete-input" type="text" id="tags"  autocomplete="off">
    <span class="input-group-addon">
      <span class="icon glyphicon glyphicon-refresh ajax-progress ajax-progress-throbber" aria-hidden="true"></span>
    </span>
  </div>

  <div class="help-block">{{ help_text }}</div>
</div>
