{% for item in items %}
    {% if item.active %}
        <span class="list-item active" title="{{ 'Current page'|t }}">
    {% elseif item.url == false %}
        <span class="list-item not-allowed">
    {% else %}
        <span class="list-item">
    {% endif %}
        <span class="list-item__text">
            {% if item.url %}
                <a href="{{ item.url }}">
            {% endif %}
            {{ item.label }}
            {% if item.url %}
                </a>
            {% endif %}
        </span>
    </span>
{% endfor %}
