$navbar-border-radius:             $border-radius-base !default;

$nav-link-hover-bg:                transparent !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

$navbar-default-color:             white !default;
$navbar-default-bg:                $gray-dark !default;
$navbar-default-border:            white !default;

// Navbar links
$navbar-default-link-color:                white !default;
$navbar-default-link-hover-color:          $gray-lighter !default;
$navbar-default-link-hover-bg:             darken($brand-primary, 10%) !default;
$navbar-default-link-active-color:         white !default;
$navbar-default-link-active-bg:            darken($gray-dark, 15%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-bg:                  mix(black, $brand-primary, 20%) !default;
$navbar-default-brand-hover-bg:            mix(black, $brand-primary, 30%) !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $gray-dark !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;

//== Tabs
$nav-tabs-border-color:                     transparent !default;

$nav-tabs-link-hover-border-color:          transparent !default;

$nav-tabs-active-link-hover-bg:             transparent !default;
$nav-tabs-active-link-hover-color:          $brand-primary !default;
$nav-tabs-active-link-hover-border-color:   transparent !default;

$nav-tabs-justified-link-border-color:        transparent !default;
$nav-tabs-justified-active-link-border-color: $brand-primary !default;
