@import "settings";

.stream {
  padding: 0;
  list-style: none;
  position: relative;
  margin-left: -15px;

  @include for-tablet-portrait-up {
    margin-left: 0;
  }

  &:before {
    top: 21px;
    bottom: 0;
    left: 7px;
    width: 2px;
    content: '';
    background: rgba(0,0,0,0.25);
    position: absolute;

    @include for-tablet-portrait-up {
      left: 14px;
      top: 42px;
    }
  }

}

.stream-item {
  position: relative;
}

.stream-icon {
  top: 19px;
  left: 4px;
  width: 8px;
  height: 8px;
  position: absolute;
  background: $gray-light;
  @include z-depth-1;
  border-radius: 50%;
  border: 1px solid #fff;

  @include for-tablet-portrait-up {
    left: 7px;
    top: 36px;
    width: 16px;
    height: 16px;
    border-width: 2px;
  }
}

.card--stream {
  margin: 0 0 $card-padding $card-padding;
  font-size: 0.875rem;

  @include for-tablet-portrait-up {
    margin-left: (2 * $card-padding)
  }

  &:before,
  &:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    border-right-color: rgba(0,0,0,0.12);
    border-width: 7px;
    top: 16px;

    @include for-tablet-portrait-up {
      border-width: 9px;
      top: 35px;
    }
  }

  &:after {
    border-right-color: white;
    border-width: 6px;
    top: 17px;

    @include for-tablet-portrait-up {
      border-width: 8px;
      top: 36px;
    }
  }

  .card__body {
    padding: 15px;
    z-index: initial; //prevents post visibility dropdown from showing under next card in stream

    .card__nested-section {
      margin: 10px -15px -15px;
      padding: 15px;
    }
  }

  .mediawrapper {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  .comment__reply-btn {
    display: none;
  }

}


.teaser--stream {
  margin: 10px -15px 10px;
  background: $gray-lighter;

  @include for-tablet-portrait-up {
    height: 200px; // matches width of image
  }

  &:last-child {
    margin-bottom: -15px;
  }

  .teaser__image {

    @include for-tablet-portrait-up {
      height: 200px;
      flex: 0 0 200px;
    }

  }

}
