@import "settings";

.stream {
  padding: 0;
  list-style: none;
  position: relative;
  margin-left: -15px;

  @include for-tablet-portrait-up {
    margin-left: 0;
  }

  &:before {
    top: 21px;
    bottom: 0;
    left: 7px;
    width: 2px;
    content: '';
    background: rgba(0,0,0,0.25);
    position: absolute;

    @include for-tablet-portrait-up {
      top: 42px;
    }
  }

}

.stream-item {
  position: relative;

  &:first-of-type {
    z-index: 2; //prevents post visibility dropdown from showing under next card in stream
  }

  .pull-right {
    z-index: 2;
  }

}

.stream-icon {
  top: 19px;
  left: 4px;
  width: 8px;
  height: 8px;
  position: absolute;
  background: $gray-light;
  @include z-depth-1;
  border-radius: 50%;
  border: 1px solid #fff;

  @include for-tablet-portrait-up {
    left: 0;
    top: 36px;
    width: 16px;
    height: 16px;
    border-width: 2px;
  }
}

.card--stream {
  margin-left: $card-spacer-x;

  @include for-tablet-portrait-up {
    margin-left: 30px;
  }

  &:before,
  &:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    border-right-color: rgba(0,0,0,0.12);
    border-width: 7px;
    top: 16px;

    @include for-tablet-portrait-up {
      border-width: 9px;
      top: 35px;
    }
  }

  &:after {
    border-right-color: white;
    border-width: 6px;
    top: 17px;

    @include for-tablet-portrait-up {
      border-width: 8px;
      top: 36px;
    }
  }

  .mediawrapper {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  .comment__reply-btn {
    display: none;
  }

  .comment {
    font-size: 0.875rem;
    position: relative;
    display: flex;
    width: 100%;
  }

  .comment__avatar {
    margin-right: 8px;
    width: 44px;
    flex-shrink: 0;

    @include for-tablet-portrait-up {
      margin-right: 12px;
    }

  }

}


.teaser--stream {
  margin-top: ($card-spacer-x/2);
  margin-right: -$card-spacer-x;
  margin-bottom: ($card-spacer-x/2);
  margin-left: -$card-spacer-x;
  background: $gray-lighter;

  @include for-tablet-portrait-up {
    height: 200px; // matches width of image
  }

  &:last-child {
    margin-bottom: -$card-spacer-x;
  }

  .teaser__image {

    @include for-tablet-portrait-up {
      height: 200px;
      flex: 0 0 200px;
    }

  }

}

.post-unpublished {
  img {
    opacity: 0.5;
  }
  .badge-default {
    background-color: $gray-light;
    color: white;
    margin-left: 5px;
    font-size: 100%;
  }
  * {
    color: #9b9b9b;
  }
}
