@import 'settings';

.message__message-body {
  border-radius: floor($card-border-radius / 2);;
}

.unread-thread {

  .card {
    background-color: $gray-lighter;
    color: #000;
  }

  .message__created {
    color: #000;
  }

  .read-indicator {
    background-color: $brand-primary;
  }

}