[type="radio"]:checked + label:before {
  border-color: #29abe2;
}

[type="radio"]:focus + label:before {
  box-shadow: 0 0 3px 2px #29abe2;
}

[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  border-color: #29abe2;
  background-color: #29abe2;
}

[type="checkbox"]:checked:not(:disabled) + label,
[type="radio"]:checked:not(:disabled) + label {
  color: #29abe2;
}

.tabs-left .nav-tabs > li.active > a,
.tabs-left .nav-tabs > li.active > a:hover,
.tabs-left .nav-tabs > li.active > a:focus {
  border-right-color: #29abe2;
}

.view-birthday .teaser--tile .teaser__image {
  background-color: #29abe2;
}

.cover,
.read-indicator,
.badge-secondary,
.select2-container--social .select2-results__option--highlighted[aria-selected],
.select2-container--social .select2-results__option[aria-selected=true],
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #29abe2;
}

.hero-form[role='search'] .form-control:focus, .hero-form[role='search'] .form-control:active,
.hero-form[role='search'] .form-control:focus ~ .search-icon,
.hero-form[role='search'] .form-control:active ~ .search-icon {
  box-shadow: 0 2px 0 0 #1f80aa;
}

.hero-form[role='search'] .search-icon {
  fill: #29abe2;
}

.form-control:focus {
  border-color: #29abe2;
  box-shadow: 0 2px 0 0 #29abe2;
}

.select2-container--social.select2-container--focus .select2-selection, .select2-container--social.select2-container--open .select2-selection, .select2-container--social .select2-dropdown {
  border-color: #29abe2;
}

.site-footer,
.ui-datepicker-calendar > tbody > tr > td .ui-state-active,
.stream-icon-new {
  background-color: #1f80aa;
}

.eu-cookie-compliance-secondary-button,
.btn-primary {
  background-color: #29abe2;
  border-color: #29abe2;
}

.eu-cookie-compliance-secondary-button:focus, .eu-cookie-compliance-secondary-button.focus, .eu-cookie-compliance-secondary-button:hover, .eu-cookie-compliance-secondary-button:active, .eu-cookie-compliance-secondary-button.active,
.open > .eu-cookie-compliance-secondary-button.dropdown-toggle, .eu-cookie-compliance-secondary-button.dropdown-toggle:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open >
.btn-primary.dropdown-toggle,
.btn-primary.dropdown-toggle:hover {
  background-color: #29abe2;
  border-color: #29abe2;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.eu-cookie-compliance-secondary-button.disabled:hover, .eu-cookie-compliance-secondary-button.disabled:focus, .eu-cookie-compliance-secondary-button.disabled.focus, .eu-cookie-compliance-secondary-button[disabled]:hover, .eu-cookie-compliance-secondary-button[disabled]:focus, .eu-cookie-compliance-secondary-button[disabled].focus,
fieldset[disabled] .eu-cookie-compliance-secondary-button:hover,
fieldset[disabled] .eu-cookie-compliance-secondary-button:focus,
fieldset[disabled] .eu-cookie-compliance-secondary-button.focus,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled]
.btn-primary:hover,
fieldset[disabled]
.btn-primary:focus,
fieldset[disabled]
.btn-primary.focus {
  background-color: #29abe2;
  border-color: #29abe2;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.btn-secondary {
  background-color: #1f80aa;
  border-color: #1f80aa;
}

.btn-secondary:focus, .btn-secondary.focus, .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active,
.open > .btn-secondary.dropdown-toggle, .btn-secondary.dropdown-toggle:hover {
  background-color: #1f80aa;
  border-color: #1f80aa;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary:hover,
fieldset[disabled] .btn-secondary:focus,
fieldset[disabled] .btn-secondary.focus {
  background-color: #1f80aa;
  border-color: #1f80aa;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.badge-accent {
  background-color: #ffc142;
  border-color: #ffc142;
}

.btn-accent {
  background-color: #ffc142;
  border-color: #ffc142;
}

.btn-accent:focus, .btn-accent.focus, .btn-accent:hover, .btn-accent:active, .btn-accent.active,
.open > .btn-accent.dropdown-toggle, .btn-accent.dropdown-toggle:hover {
  background-color: #ffc142;
  border-color: #ffc142;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.btn-accent.disabled:hover, .btn-accent.disabled:focus, .btn-accent.disabled.focus, .btn-accent[disabled]:hover, .btn-accent[disabled]:focus, .btn-accent[disabled].focus,
fieldset[disabled] .btn-accent:hover,
fieldset[disabled] .btn-accent:focus,
fieldset[disabled] .btn-accent.focus {
  background-color: #ffc142;
  border-color: #ffc142;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.card__link,
.card__link .btn-default,
.card__link.btn-default {
  border-color: #29abe2;
}

.btn-flat,
.btn-link,
.btn-link:hover,
.btn-flat:hover,
.btn-link:focus,
.btn-flat:focus,
.hero__tag,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.card__link,
.card__link .btn-default,
.card__link.btn-default,
.card__link:focus,
.card__link:hover,
.card__link .btn-default:hover,
.card__link.btn-default:focus,
.card__link .btn-default:hover,
.card__link.btn-default:focus,
.teaser__tag,
.view--who-liked .views-field-view-user a,
.comment__reply-btn,
.nav-book .menu-item--active-trail > a {
  color: #29abe2;
  fill: #29abe2;
}

.btn-flat:hover, .btn-flat:focus, .btn-flat.focus,
.btn-link:hover,
.btn-link:focus,
.btn-link.focus,
.btn-link:hover:hover,
.btn-link:hover:focus,
.btn-link:hover.focus,
.btn-flat:hover:hover,
.btn-flat:hover:focus,
.btn-flat:hover.focus,
.btn-link:focus:hover,
.btn-link:focus:focus,
.btn-link:focus.focus,
.btn-flat:focus:hover,
.btn-flat:focus:focus,
.btn-flat:focus.focus,
.hero__tag:hover,
.hero__tag:focus,
.hero__tag.focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a.focus,
.nav-tabs > li.active > a:hover:hover,
.nav-tabs > li.active > a:hover:focus,
.nav-tabs > li.active > a:hover.focus,
.nav-tabs > li.active > a:focus:hover,
.nav-tabs > li.active > a:focus:focus,
.nav-tabs > li.active > a:focus.focus,
.card__link:hover,
.card__link:focus,
.card__link.focus,
.card__link .btn-default:hover,
.card__link .btn-default:focus,
.card__link .btn-default.focus,
.card__link.btn-default:hover,
.card__link.btn-default:focus,
.card__link.btn-default.focus,
.card__link:focus:hover,
.card__link:focus:focus,
.card__link:focus.focus,
.card__link:hover:hover,
.card__link:hover:focus,
.card__link:hover.focus,
.card__link .btn-default:hover:hover,
.card__link .btn-default:hover:focus,
.card__link .btn-default:hover.focus,
.card__link.btn-default:focus:hover,
.card__link.btn-default:focus:focus,
.card__link.btn-default:focus.focus,
.card__link .btn-default:hover:hover,
.card__link .btn-default:hover:focus,
.card__link .btn-default:hover.focus,
.card__link.btn-default:focus:hover,
.card__link.btn-default:focus:focus,
.card__link.btn-default:focus.focus,
.teaser__tag:hover,
.teaser__tag:focus,
.teaser__tag.focus,
.view--who-liked .views-field-view-user a:hover,
.view--who-liked .views-field-view-user a:focus,
.view--who-liked .views-field-view-user a.focus,
.comment__reply-btn:hover,
.comment__reply-btn:focus,
.comment__reply-btn.focus,
.nav-book .menu-item--active-trail > a:hover,
.nav-book .menu-item--active-trail > a:focus,
.nav-book .menu-item--active-trail > a.focus {
  color: #ffc142;
  fill: #ffc142;
}

.list-item--active,
.list-item--active:hover,
.list-item--active:focus,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #1f80aa;
  border-color: #1f80aa;
}

.comment__reply-btn:hover,
.comment__reply-btn:focus {
  color: #1f80aa;
  fill: #1f80aa;
}

.field--name-field-introduction-text a:not(.btn),
.field--name-field-introduction-text a:not(.btn):hover,
.body-text a:not(.btn),
.body-text a:not(.btn):hover {
  color: #33b5e5;
}

blockquote {
  border-left-color: #29abe2;
}

.input-group .form-control:focus ~ .input-group-addon {
  border-color: #29abe2;
  box-shadow: 0 2px 0 0 #29abe2;
}

.navbar-secondary {
  background-color: #29abe2;
}

.navbar-secondary .navbar-nav li.active a {
  color: #fff;
}

.orange-theme .navbar-secondary li.active a:after {
  display: none;
}

.navbar-scrollable:before {
  background: linear-gradient(90deg, #1f7ea7, transparent);
}

.navbar-scrollable:after {
  background: linear-gradient(-90deg, #1f7ea7, transparent);
}

.social-gtranslate-list--mobile {
  background: #333333;
}

.navbar-default {
  background-color: #29abe2;
}

.navbar-default .navbar-toggle {
  color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  color: #f3f3f3;
  background-color: #1f1f1f;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  fill: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f3f3f3;
  background-color: #1f1f1f;
}

.navbar-default .navbar-nav > li > a:hover .navbar-nav__icon, .navbar-default .navbar-nav > li > a:focus .navbar-nav__icon {
  fill: #f3f3f3;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #1f1f1f;
  color: #f3f3f3;
}

.navbar-default .navbar-nav > li > a.is-active, .navbar-default .navbar-nav > li > a.is-active:hover, .navbar-default .navbar-nav > li > a.is-active:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f3f3f3;
  fill: #f3f3f3;
  background-color: #1f1f1f;
}

.navbar-nav__icon {
  fill: #ffffff;
}

.navbar__open-search-block {
  background-color: #29abe2;
}

.card__block .form-item-data-policy label a {
  color: #33b5e5;
}

.vote-widget--social-vote .vote-vote {
  background-color: #ffc142;
}

#sliding-popup {
  background-color: #1f80aa !important;
}

.main-container:not(.is-navbar-secondary) .hero__full:after {
  background: #29abe2;
}

.main-container:not(.is-navbar-secondary) .hero__full.hero__banner-footer-bottom .cover-wrap:after {
  background: #29abe2;
}

.orange-theme .main-container:not(.is-navbar-secondary) .hero__full:after {
  background-image: linear-gradient(to right, #fdb515 0%, #fbaf1e 15%, #f99f33 39%, #f58547 69%, #f37451 100%);
}

.orange-theme .main-container:not(.is-navbar-secondary) .hero__full.hero__banner-footer-bottom .cover-wrap:after {
  background-image: linear-gradient(to right, #fdb515 0%, #fbaf1e 15%, #f99f33 39%, #f58547 69%, #f37451 100%);
}

.orange-theme .paragraph--featured .title > *::after,
.orange-theme .paragraph--type--featured-items .title > *::after {
  display: block;
  background-image: linear-gradient(to right, #fdb515 0%, #fbaf1e 15%, #f99f33 39%, #f58547 69%, #f37451 100%);
}

.orange-theme .site-footer:before {
  background-image: linear-gradient(to right, #fdb515 0%, #fbaf1e 15%, #f99f33 39%, #f58547 69%, #f37451 100%);
}

.site-footer:before {
  background: #29abe2;
}

.cart__comment .section-title svg path {
  fill: #29abe2;
}

.card__featured-items .teaser__info svg {
  color: #29abe2;
  fill: #29abe2;
}

.card__featured-items .teaser__info svg:hover, .card__featured-items .teaser__info svg:focus, .card__featured-items .teaser__info svg:active {
  color: #ffc142;
  fill: #ffc142;
}

.resources-search-form .search-icon.inputHasFocus {
  border-color: #29abe2;
  box-shadow: 0 2px 0 0 #29abe2;
}

.search-filter--wrapper .toggle-filter,
.search-filter--wrapper .collapse-wrapper .btn {
  color: #29abe2;
  fill: #29abe2;
}

.search-filter--wrapper .toggle-filter:focus, .search-filter--wrapper .toggle-filter:active, .search-filter--wrapper .toggle-filter:hover,
.search-filter--wrapper .collapse-wrapper .btn:focus,
.search-filter--wrapper .collapse-wrapper .btn:active,
.search-filter--wrapper .collapse-wrapper .btn:hover {
  color: #ffc142;
  fill: #ffc142;
}

.teaser.teaser--tile .teaser__published-type,
.teaser.teaser--tile .teaser__published-type a,
.site-footer nav[aria-labelledby*='footer-menu'] > ul a {
  color: #29abe2;
}

.teaser.teaser--tile .teaser__published-type:hover, .teaser.teaser--tile .teaser__published-type:active, .teaser.teaser--tile .teaser__published-type:focus,
.teaser.teaser--tile .teaser__published-type a:hover,
.teaser.teaser--tile .teaser__published-type a:active,
.teaser.teaser--tile .teaser__published-type a:focus,
.site-footer nav[aria-labelledby*='footer-menu'] > ul a:hover,
.site-footer nav[aria-labelledby*='footer-menu'] > ul a:active,
.site-footer nav[aria-labelledby*='footer-menu'] > ul a:focus {
  color: #ffc142;
}

.teaser.teaser--tile .teaser__published-type:hover, .teaser.teaser--tile .teaser__published-type:active, .teaser.teaser--tile .teaser__published-type:focus {
  color: #29abe2;
}

.hero__banner .hero-footer__cta .btn:not(.button--accent):not(.btn-accent) {
  color: #29abe2;
  border-color: #29abe2;
  background: transparent;
}

.hero__banner .hero-footer__cta .btn:not(.button--accent):not(.btn-accent):hover, .hero__banner .hero-footer__cta .btn:not(.button--accent):not(.btn-accent):active, .hero__banner .hero-footer__cta .btn:not(.button--accent):not(.btn-accent):focus {
  background: #1f80aa;
  color: inherit;
  border-color: #1f80aa;
}

.hero__banner .hero-footer__cta .btn-accent {
  color: #4d4d4d;
}

.hero__banner .hero-footer__cta .dropdown-menu a {
  color: #29abe2;
}

.hero__banner .shariff .shariff-button a {
  background: #29abe2;
}

.hero__banner .shariff .shariff-button a:focus, .hero__banner .shariff .shariff-button a:active, .hero__banner .shariff .shariff-button a:hover {
  background: #ffc142;
}

.orange-theme .hero__banner .cover-wrap > .badge-secondary {
  color: #ffc142;
  background: transparent;
}

.teaser.teaser--profile .teaser__image,
.site-footer .block-social-media-links > ul a {
  background: #29abe2;
}

.card.card__column .card__title {
  color: #29abe2;
}

.card.card__column .card__header {
  background: #29abe2;
}

.vote-widget a:hover:not(.disable-status) .icon-vote path, .vote-widget a:hover:not(.voted-like) .icon-vote path {
  stroke: #29abe2;
}

.vote-widget a:hover .icon-vote path, .vote-widget a:active .icon-vote path, .vote-widget a:focus .icon-vote path {
  stroke: #29abe2;
}

.vote-widget a.voted-like .icon-vote path {
  stroke: #29abe2;
  fill: #29abe2;
}

.vote-widget a.voted-like:hover .icon-vote path, .vote-widget a.voted-like:active .icon-vote path, .vote-widget a.voted-like:focus .icon-vote path {
  fill: transparent;
}

.paragraph--featured .card__link .field--item a:before,
.paragraph--block .card__link .field--item a:before {
  background: #29abe2;
}

.paragraph--featured .card__link .field--item a:hover, .paragraph--featured .card__link .field--item a:active, .paragraph--featured .card__link .field--item a:focus,
.paragraph--block .card__link .field--item a:hover,
.paragraph--block .card__link .field--item a:active,
.paragraph--block .card__link .field--item a:focus {
  color: #ffc142;
}

.paragraph--featured .card__link .field--item a:hover:before, .paragraph--featured .card__link .field--item a:active:before, .paragraph--featured .card__link .field--item a:focus:before,
.paragraph--block .card__link .field--item a:hover:before,
.paragraph--block .card__link .field--item a:active:before,
.paragraph--block .card__link .field--item a:focus:before {
  background: #ffc142;
}

body.path-group .region--complementary-bottom > .card .card__actionbar .card__link:before,
body.path-group .region--complementary-top > .card .card__actionbar .card__link:before,
body.details .region--complementary-bottom > .card .card__actionbar .card__link:before,
body.details .region--complementary-top > .card .card__actionbar .card__link:before,
body.path-user .region--complementary-bottom > .card .card__actionbar .card__link:before,
body.path-user .region--complementary-top > .card .card__actionbar .card__link:before {
  background: #29abe2;
}

body.path-group .region--complementary-bottom > .card .card__actionbar .card__link:hover, body.path-group .region--complementary-bottom > .card .card__actionbar .card__link:active, body.path-group .region--complementary-bottom > .card .card__actionbar .card__link:focus,
body.path-group .region--complementary-top > .card .card__actionbar .card__link:hover,
body.path-group .region--complementary-top > .card .card__actionbar .card__link:active,
body.path-group .region--complementary-top > .card .card__actionbar .card__link:focus,
body.details .region--complementary-bottom > .card .card__actionbar .card__link:hover,
body.details .region--complementary-bottom > .card .card__actionbar .card__link:active,
body.details .region--complementary-bottom > .card .card__actionbar .card__link:focus,
body.details .region--complementary-top > .card .card__actionbar .card__link:hover,
body.details .region--complementary-top > .card .card__actionbar .card__link:active,
body.details .region--complementary-top > .card .card__actionbar .card__link:focus,
body.path-user .region--complementary-bottom > .card .card__actionbar .card__link:hover,
body.path-user .region--complementary-bottom > .card .card__actionbar .card__link:active,
body.path-user .region--complementary-bottom > .card .card__actionbar .card__link:focus,
body.path-user .region--complementary-top > .card .card__actionbar .card__link:hover,
body.path-user .region--complementary-top > .card .card__actionbar .card__link:active,
body.path-user .region--complementary-top > .card .card__actionbar .card__link:focus {
  color: #ffc142;
}

body.path-group .region--complementary-bottom > .card .card__actionbar .card__link:hover:before, body.path-group .region--complementary-bottom > .card .card__actionbar .card__link:active:before, body.path-group .region--complementary-bottom > .card .card__actionbar .card__link:focus:before,
body.path-group .region--complementary-top > .card .card__actionbar .card__link:hover:before,
body.path-group .region--complementary-top > .card .card__actionbar .card__link:active:before,
body.path-group .region--complementary-top > .card .card__actionbar .card__link:focus:before,
body.details .region--complementary-bottom > .card .card__actionbar .card__link:hover:before,
body.details .region--complementary-bottom > .card .card__actionbar .card__link:active:before,
body.details .region--complementary-bottom > .card .card__actionbar .card__link:focus:before,
body.details .region--complementary-top > .card .card__actionbar .card__link:hover:before,
body.details .region--complementary-top > .card .card__actionbar .card__link:active:before,
body.details .region--complementary-top > .card .card__actionbar .card__link:focus:before,
body.path-user .region--complementary-bottom > .card .card__actionbar .card__link:hover:before,
body.path-user .region--complementary-bottom > .card .card__actionbar .card__link:active:before,
body.path-user .region--complementary-bottom > .card .card__actionbar .card__link:focus:before,
body.path-user .region--complementary-top > .card .card__actionbar .card__link:hover:before,
body.path-user .region--complementary-top > .card .card__actionbar .card__link:active:before,
body.path-user .region--complementary-top > .card .card__actionbar .card__link:focus:before {
  background: #ffc142;
}

body.path-group .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default,
body.path-group .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default,
body.details .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default,
body.details .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default,
body.path-user .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default,
body.path-user .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default {
  border: 2px solid #29abe2;
  color: #29abe2;
}

body.path-group .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover, body.path-group .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus, body.path-group .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active,
body.path-group .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover,
body.path-group .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus,
body.path-group .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active,
body.details .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover,
body.details .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus,
body.details .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active,
body.details .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover,
body.details .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus,
body.details .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active,
body.path-user .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover,
body.path-user .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus,
body.path-user .region--complementary-bottom .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active,
body.path-user .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:hover,
body.path-user .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:focus,
body.path-user .region--complementary-top .card.block-profile-statistic-block .hero-footer__cta .btn.btn-default:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

body.path-group:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn,
body.path-group:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn,
body.details:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn,
body.details:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn,
body.path-user:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn,
body.path-user:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn {
  background: #ffc142;
  border-color: #ffc142;
  color: #4a4a4a;
}

body.path-group:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn:hover, body.path-group:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn:focus, body.path-group:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn:active,
body.path-group:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn:hover,
body.path-group:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn:focus,
body.path-group:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn:active,
body.details:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn:hover,
body.details:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn:focus,
body.details:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn:active,
body.details:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn:hover,
body.details:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn:focus,
body.details:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn:active,
body.path-user:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn:hover,
body.path-user:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn:focus,
body.path-user:not(.orange-theme) .region--complementary-bottom .card.block-group-statistic-block .hero-footer__cta .btn:active,
body.path-user:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn:hover,
body.path-user:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn:focus,
body.path-user:not(.orange-theme) .region--complementary-top .card.block-group-statistic-block .hero-footer__cta .btn:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.hero__group .teaser__tag {
  background: #29abe2;
}

.layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list li a:hover, .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list li a:focus, .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list li a:active {
  color: #29abe2;
}

@media (min-width: 900px) {

  .search-take-over .form-text {
    color: #ffffff;
  }

  .search-take-over .form-text:focus {
    border-color: #ffffff;
    box-shadow: 0 2px 0 0 #ffffff;
  }

  .btn--close-search-take-over svg {
    fill: #ffffff;
  }
}

@media (max-width: 599px) {

  .dropdown.has-alert > a:before {
    background-color: #ffc142;
  }
}

@media (max-width: 899px) {

  .navbar-collapse .dropdown-menu li a {
    color: #ffffff;
  }

  .navbar-collapse .dropdown-menu li a:hover, .navbar-collapse .dropdown-menu li a:focus {
    color: #f3f3f3;
    background-color: #1f1f1f;
  }
}
