.paragraph--featured .teaser footer.card__actionbar {
  padding-bottom: 0;
}

.paragraph--featured .teaser footer.card__actionbar .card__link a {
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 1200px) {

  .paragraph--section .paragraph--featured {
    padding: 50px 0;
    margin-left: calc(-100vw / 2 + 1160px / 2);
    margin-right: calc(-100vw / 2 + 1160px / 2);
  }
}
