.node-file {
  border-radius: 5px;
}

.file {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border: none;
  background: transparent;
}

.file > .tabledrag-changed {
  background: #fcf8e3;
  border-radius: 0;
  color: #8a6d3b;
}

.file > .tabledrag-changed, .file > .tabledrag-changed:last-child {
  border: 1px solid #f7e1b5;
}

.file .file-icon svg {
  width: 16px;
  height: 16px;
}
