.node-file {
  border-radius: 5px;
}

.file {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border: none;
  background: transparent;
}

.file > .tabledrag-changed {
  background: #fcf8e3;
  border-radius: 0;
  color: #8a6d3b;
}

.file > .tabledrag-changed, .file > .tabledrag-changed:last-child {
  border: 1px solid #f7e1b5;
}

.file .file-icon svg {
  width: 16px;
  height: 16px;
}

.card-file {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-right: 0;
}

.card-file__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 50px;
  font-weight: 300;
}

.card-file__link > * {
  font-size: .75rem;
}

.card-file__type {
  position: static;
  width: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 0;
}

.card-file__type svg {
  width: 16px;
  height: 16px;
  margin-left: 15px;
}

@media (min-width: 600px) {

  .card-file__link {
    padding: 13px 25px 13px 20px;
  }

  .card-file__link > * {
    font-size: 1rem;
  }

  .card-file__type svg {
    width: 18px;
    height: 18px;
    margin-left: 25px;
  }
}
