.form--post-create .field--name-field-post .form-control {
  min-height: 4.875em;
}

.form--post-create .btn-primary {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  margin-left: 22px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 600px) {

  .form--post-create .btn-primary {
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
