.input-group .form-control:focus ~ .input-group-addon {
  border-color: #29abe2;
  border-bottom: 1px solid #29abe2;
  box-shadow: 0 2px 0 0 #29abe2;
}

.input-group-addon {
  color: #555555;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  border-radius: 5px;
}
