body {
  overflow-x: hidden;
}

.container, .region--hero .cover-wrap,
.region--content-top,
.region--content-bottom {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container {
  overflow: hidden;
  min-height: 100%;
  min-height: calc(100vh - 50px);
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  z-index: 0;
  width: 100%;
}

.region--title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.region--hero {
  max-width: 100%;
}

.content--wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

.content--wrapper .content--side {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

.region--secondary-navigation {
  max-width: inherit;
  width: 100%;
  margin: -44px 0 0;
  position: relative;
  z-index: 2;
  padding-left: 0;
  padding-right: 0;
}

.region--content-bottom,
.region--sidebar-first,
.region--sidebar-second {
  margin-top: 1rem;
}

.layout--with-complementary {
  -ms-flex-direction: column;
      flex-direction: column;
}

.layout--with-complementary .content--wrapper {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  max-width: none;
}

.layout--with-complementary .content--side {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

.layout--with-complementary .region--content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.layout--with-complementary .content--side_wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.layout--with-complementary .content--side_wrapper .region--content {
  padding: 0;
}

.region--complementary {
  margin-top: 1rem;
  padding-left: 1em;
  padding-right: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  position: relative;
}

.layout--with-two-columns .content--side,
.layout--with-two-columns .region--sidebar-first,
.layout--with-two-columns .region--sidebar-second {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.layout--with-three-columns .content--side,
.layout--with-three-columns .region--sidebar-first,
.layout--with-three-columns .region--sidebar-second {
  padding-left: 1em;
  padding-right: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.region--complementary-bottom {
  display: none;
}

body.path-group:not(.group-type-challenge) .layout--with-complementary, body.details .layout--with-complementary, body.path-user .layout--with-complementary {
  -ms-flex-direction: column;
      flex-direction: column;
}

body.path-group:not(.group-type-challenge) .layout--with-complementary .navbar-secondary, body.details .layout--with-complementary .navbar-secondary, body.path-user .layout--with-complementary .navbar-secondary {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

body.path-group:not(.group-type-challenge) .layout--with-complementary.sidebar-left .region--complementary, body.details .layout--with-complementary.sidebar-left .region--complementary, body.path-user .layout--with-complementary.sidebar-left .region--complementary {
  -ms-flex-order: 1;
      order: 1;
}

body.path-group:not(.group-type-challenge) .layout--with-complementary.sidebar-left .region--secondary-navigation, body.details .layout--with-complementary.sidebar-left .region--secondary-navigation, body.path-user .layout--with-complementary.sidebar-left .region--secondary-navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

body.path-group:not(.group-type-challenge) .region--secondary-navigation, body.details .region--secondary-navigation, body.path-user .region--secondary-navigation {
  z-index: 3;
}

body.path-group:not(.group-type-challenge).mode-search .region--complementary_wrapper, body.details.mode-search .region--complementary_wrapper, body.path-user.mode-search .region--complementary_wrapper {
  z-index: 1;
}

body.path-group:not(.group-type-challenge) .region--complementary_wrapper, body.details .region--complementary_wrapper, body.path-user .region--complementary_wrapper {
  position: relative;
  z-index: 1000;
}

body.path-group:not(.group-type-challenge) .content--side_wrapper .region--content,
body.path-group:not(.group-type-challenge) .region--complementary_wrapper, body.details .content--side_wrapper .region--content,
body.details .region--complementary_wrapper, body.path-user .content--side_wrapper .region--content,
body.path-user .region--complementary_wrapper {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 4px #4a4a4a;
}

body.path-group:not(.group-type-challenge) .region--complementary-top + .region--complementary-bottom, body.details .region--complementary-top + .region--complementary-bottom, body.path-user .region--complementary-top + .region--complementary-bottom {
  margin-top: 0;
}

body.path-group:not(.group-type-challenge) .region--complementary-bottom,
body.path-group:not(.group-type-challenge) .region--complementary-top, body.details .region--complementary-bottom,
body.details .region--complementary-top, body.path-user .region--complementary-bottom,
body.path-user .region--complementary-top {
  padding-bottom: 0;
  border-radius: 0;
}

@media (min-width: 900px) {

  .container, .region--hero .cover-wrap,
  .region--content-top,
  .region--content-bottom {
    max-width: 1160px;
  }

  .region--title {
    margin-top: 1rem;
  }

  .content--wrapper.left-aside .region--complementary {
    -ms-flex-order: 1;
    order: 1;
  }

  .content--wrapper.left-aside .content--side {
    -ms-flex-order: 2;
    order: 2;
  }

  .region--secondary-navigation {
    max-width: 100%;
  }

  .region--content {
    margin-top: 20px;
  }

  .layout--with-complementary .content--side {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -ms-flex-order: 2;
    order: 2;
  }

  .region--complementary {
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
    -ms-flex-order: 3;
    order: 3;
    max-width: 33.33333%;
    margin-top: 20px;
  }

  .layout--with-two-columns .content--side,
  .layout--with-two-columns .region--sidebar-first,
  .layout--with-two-columns .region--sidebar-second {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .layout--with-three-columns .content--side,
  .layout--with-three-columns .region--sidebar-first,
  .layout--with-three-columns .region--sidebar-second {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .region--complementary-bottom {
    display: block;
  }

  .region--complementary-top {
    margin-top: 0;
  }

  body.path-group:not(.group-type-challenge) .layout--with-complementary .navbar-secondary, body.details .layout--with-complementary .navbar-secondary, body.path-user .layout--with-complementary .navbar-secondary {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -ms-flex-order: 2;
    order: 2;
  }

  body.path-group:not(.group-type-challenge) .layout--with-complementary .region--secondary-navigation, body.details .layout--with-complementary .region--secondary-navigation, body.path-user .layout--with-complementary .region--secondary-navigation {
    padding-left: 1rem;
    padding-right: 2rem;
  }

  body.path-group:not(.group-type-challenge) .layout--with-complementary.sidebar-left .region--secondary-navigation, body.details .layout--with-complementary.sidebar-left .region--secondary-navigation, body.path-user .layout--with-complementary.sidebar-left .region--secondary-navigation {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  body.path-group:not(.group-type-challenge) .region--complementary_wrapper, body.details .region--complementary_wrapper, body.path-user .region--complementary_wrapper {
    top: -64px;
  }
}

@media (min-width: 1200px) {

  .layout--with-complementary .content--wrapper {
    margin: 0 -20px;
  }

  .layout--with-complementary .region--content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .layout--with-complementary .content--side_wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .region--complementary {
    padding-right: 20px;
    padding-left: 20px;
  }

  .layout--with-two-columns .content--side {
    padding-left: 0;
  }

  .layout--with-two-columns .region--sidebar-first,
  .layout--with-two-columns .region--sidebar-second {
    padding-right: 0;
  }

  .layout--with-three-columns .content--side {
    padding-left: 0;
  }

  .layout--with-three-columns .region--sidebar-second {
    padding-right: 0;
  }

  body.path-group:not(.group-type-challenge) .layout--with-complementary .region--secondary-navigation, body.details .layout--with-complementary .region--secondary-navigation, body.path-user .layout--with-complementary .region--secondary-navigation {
    padding-right: 20px;
    padding-left: 0;
  }

  body.path-group:not(.group-type-challenge) .layout--with-complementary.sidebar-left .region--secondary-navigation, body.details .layout--with-complementary.sidebar-left .region--secondary-navigation, body.path-user .layout--with-complementary.sidebar-left .region--secondary-navigation {
    padding-left: 20px;
    padding-right: 0;
  }
}

@media (max-width: 899px) {

  body.path-group:not(.group-type-challenge) .region--complementary-bottom,
  body.path-group:not(.group-type-challenge) .region--complementary-top, body.details .region--complementary-bottom,
  body.details .region--complementary-top, body.path-user .region--complementary-bottom,
  body.path-user .region--complementary-top {
    top: 0;
  }
}
