.img-metainfo__avatar {
  border-radius: 50%;
}

.node--unpublished__label {
  border-radius: 0 10px 0 10px;
  background-color: #29abe2;
  color: white;
}

.metainfo__uploader-wrapp {
  margin-top: 7px;
  color: #777;
  font-size: .75rem;
}

.metainfo__uploader-wrapp a {
  color: #777;
}

.metainfo__published-date,
.metainfo__content {
  color: #4a4a4a;
}

.metainfo__published-date a,
.metainfo__content a {
  color: #4a4a4a;
}
