.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.nav > li.disabled > a {
  color: #777;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  color: #777;
}

.nav > li > a {
  line-height: 23px;
  padding-left: 14px;
  padding-right: 14px;
}

.container--navbar {
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container--navbar .navbar--left {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  max-width: inherit;
}

.container--navbar .navbar--right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
}

.container--navbar .navbar--right > * {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}

.navbar-default {
  position: relative;
  background-color: #333333;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 14px;
  color: #ffffff;
  fill: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e6e6e6;
  fill: #e6e6e6;
  background-color: #1a8dbe;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a.is-active,
.navbar-default .navbar-nav > li > a.is-active:hover,
.navbar-default .navbar-nav > li > a.is-active:focus {
  color: #f3f3f3;
  fill: #f3f3f3;
  background-color: #1f1f1f;
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  fill: #ccc;
  background-color: transparent;
}

.navbar-default .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > li > a:focus {
  background-color: #f5f5f5;
}

.navbar-default .dropdown-menu > li > a.is-active {
  background-color: #e6e6e6;
  color: #4d4d4d;
  font-weight: 500;
}

.navbar-default .dropdown-menu > li > a.is-active:hover, .navbar-default .dropdown-menu > li > a.is-active:focus {
  cursor: default;
}

.navbar-default .navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #222222;
}

.navbar-default .navbar-collapse {
  max-height: 50px;
  border-color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #1f1f1f;
  color: #f3f3f3;
}

.navbar-default .dropdown img {
  border-radius: 50%;
}

.navbar-default .profile img {
  border: 2px solid white;
  width: 36px;
  height: 36px;
  overflow: hidden;
  margin-top: -7px;
}

.navbar-search .form-group {
  border-radius: 5px;
}

.navbar-search .form-submit {
  border-radius: 0 5px 5px 0;
}

.navbar-nav__icon--search {
  top: 16px;
}

.navbar__open-search-block {
  background: rgba(51, 51, 51, 0.95);
}

.navbar-nav__icon {
  width: 21px;
  height: 21px;
  fill: #ffffff;
}

.navbar-secondary {
  min-height: 44px;
  background-color: #1f80aa;
  box-shadow: none;
}

.navbar-secondary .navbar-nav {
  font-size: .875rem;
}

.navbar-secondary .navbar-nav a {
  color: #fff;
  opacity: .6;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 10px;
}

.navbar-secondary .navbar-nav li.active a {
  position: relative;
  opacity: 1;
  border: none;
  color: #fff;
}

.navbar-secondary .navbar-nav li.active a:after {
  content: '';
  position: absolute;
  height: 3px;
  bottom: 0;
  right: 20px;
  left: 20px;
  background: #fff;
}

.navbar-secondary .navbar-nav li:not(.active) a:hover,
.navbar-secondary .navbar-nav li:not(.active) a:focus {
  opacity: 1;
}

.layout--with-complementary .navbar-secondary .navbar-scrollable {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 44px;
}

.layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav {
  width: 100%;
  display: table;
  text-align: center;
}

.layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav > li {
  display: table-cell;
}

.navbar-scrollable:after {
  background: linear-gradient(to right, rgba(31, 128, 170, 0), #1f80aa);
}

.navbar-header {
  display: inline-block;
}

.navbar-brand {
  padding: 0;
  max-width: 370px;
  height: 50px;
}

.navbar-brand > img {
  height: 50px;
}

.navbar-user {
  max-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.navbar-user .navbar-nav {
  padding-right: 0;
}

.block-site,
.block-social-gtranslate {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 0 0 40%;
      flex: 0 0 40%;
  max-width: 40%;
  height: 50px;
  padding-left: 31px;
  background: #f3f3f3;
}

.block-social-gtranslate,
.block-site a {
  color: #989b97;
  font-size: .75rem;
  font-weight: 700;
}

.block-social-gtranslate {
  -ms-flex-order: 2;
      order: 2;
  padding-left: 0;
}

.social-gtranslate-list--desktop > a {
  background: transparent;
  color: #989b97;
}

.social-gtranslate-list--desktop > a:focus, .social-gtranslate-list--desktop > a:active, .social-gtranslate-list--desktop > a:hover {
  background: transparent;
  color: #989b97;
}

.social-gtranslate-list--desktop > a:focus .select-icon, .social-gtranslate-list--desktop > a:active .select-icon, .social-gtranslate-list--desktop > a:hover .select-icon {
  fill: #989b97;
}

.social-gtranslate-list--desktop > a:focus::after, .social-gtranslate-list--desktop > a:active::after, .social-gtranslate-list--desktop > a:hover::after {
  color: #989b97;
}

.social-gtranslate-list--desktop > a::after {
  color: #989b97;
  z-index: 0;
}

.social-gtranslate-list--desktop .select-icon {
  fill: #989b97;
}

.social-gtranslate-list--desktop.open {
  color: #989b97;
  background: transparent;
}

.social-gtranslate-list--desktop.open > a {
  color: #989b97;
}

.social-gtranslate-list--desktop.open > a:focus, .social-gtranslate-list--desktop.open > a:active, .social-gtranslate-list--desktop.open > a:hover {
  color: #989b97;
  background: transparent;
}

.social-gtranslate-list--desktop.open > a:focus .select-icon, .social-gtranslate-list--desktop.open > a:active .select-icon, .social-gtranslate-list--desktop.open > a:hover .select-icon {
  fill: #989b97;
}

.social-gtranslate-list--desktop.open > a .select-icon {
  fill: #989b97;
}

.social-gtranslate-list--desktop.open > a::after {
  color: #989b97;
}

.block-site {
  position: relative;
  display: none;
  -ms-flex-pack: end;
      justify-content: flex-end;
  text-transform: uppercase;
  padding-right: 31px;
  -ms-flex-order: 2;
      order: 2;
}

.block-site a {
  transition: .2s linear;
}

.block-site a:hover, .block-site a:focus, .block-site a:active {
  opacity: .6;
}

@media (min-width: 900px) {

  .container--navbar {
    padding-left: 0;
    padding-right: 30px;
  }

  .container--navbar .navbar--right .navbar-header {
    display: none;
  }

  .navbar-default {
    min-height: 50px;
  }

  .search-take-over .form-text {
    color: #ffffff;
  }

  .search-take-over .form-text:focus {
    border-color: #ffffff;
    box-shadow: 0 2px 0 0 #ffffff;
  }

  .navbar-secondary {
    border-radius: 5px 5px 0 0;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable {
    border-radius: 0 5px 0 0;
    overflow: visible;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav {
    position: relative;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .caret {
    position: absolute;
    top: 50%;
    right: 15px;
    border-width: 6px 6px 0;
    border-top-color: #fff;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .visible-list {
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 25px;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .visible-list a {
    display: block;
    padding-top: 12px;
    padding-bottom: 11px;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: .5rem 0 .75rem;
    background: #fff;
    z-index: 10;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px #4a4a4a;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list li {
    display: block;
    text-align: left;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list li a {
    display: block;
    width: 100%;
    padding: .5rem 2rem;
    color: #9b9b9b;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav .hidden-list li a:hover {
    color: orange;
  }

  .navbar-fixed-top .navbar-nav {
    padding-left: 17px;
  }

  .navbar-user .navbar-nav {
    margin: 0 -12px;
  }

  .navbar-user .navbar-nav > li > a {
    padding-left: 12px;
    padding-right: 12px;
  }

  .block-social-gtranslate,
  .block-site a {
    font-size: .875rem;
  }

  .block-site {
    padding-right: 0;
    display: -ms-flexbox;
    display: flex;
  }

  .block-site::after {
    content: '';
    position: absolute;
    top: 0;
    right: -40px;
    width: 50%;
    height: 50px;
    z-index: -1;
    background: #f3f3f3;
  }
}

@media (min-width: 1200px) {

  .navbar-secondary .navbar-nav a {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 899px) {

  .container--navbar .navbar--left {
    display: none;
  }

  .container--navbar .navbar--right {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container--navbar .navbar--right > * {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: inherit;
  }

  .navbar-default .navbar-collapse {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    max-height: inherit;
  }

  .navbar-collapse .dropdown-menu li a {
    color: #ffffff;
  }

  .navbar-collapse .dropdown-menu li a:hover, .navbar-collapse .dropdown-menu li a:focus {
    background-color: #1f80aa;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #4d4d4d;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #404040;
    background-color: #f5f5f5;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1f80aa;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #4d4d4d;
    background-color: #777;
  }

  .navbar-default .profile img {
    width: 24px;
    height: 24px;
    margin-top: 0;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable:after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .block-site,
  .block-social-gtranslate {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: inherit;
    background: transparent;
  }

  .social-gtranslate-list--desktop {
    padding-left: 0;
  }
}

@media (max-width: 599px) {

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e6e6e6;
    background-color: #1a8dbe;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f3f3f3;
    background-color: #1f1f1f;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }

  .navbar-scrollable {
    height: 44px;
  }
}

@media (max-width: 1199px) {

  .layout--with-complementary .navbar-secondary .navbar-scrollable .navbar-nav li a {
    padding-left: 14px;
    padding-right: 14px;
  }
}
