@charset "UTF-8";
.resources-search-form .search-icon,
.resources-search-form .btn {
  height: 35px;
}

.view-header {
  border: none;
  margin-bottom: 2.5rem;
  -ms-flex-align: center;
      align-items: center;
}

.view-header .total-results {
  padding-left: 0;
  background: transparent;
}

.view-header form .form-item-sort-bef-combine {
  margin-bottom: 0;
}

.view-header > * {
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view-header .toolbar-vertical #block-filter:target {
  transform: translateY(0);
}

.view-search-resources .views-exposed-form {
  right: 1.5rem;
  z-index: 10;
}

.resources-search-form {
  border-bottom: 0;
  margin-bottom: .75rem;
  position: relative;
  -ms-flex-align: end;
      align-items: flex-end;
}

.resources-search-form .search-icon svg {
  display: none;
}

.search-filter--wrapper {
  padding: 20px 0 30px;
}

.search-filter--wrapper .collapse-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
}

.search-filter--wrapper .collapse-block > * {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  margin-left: 0;
  margin-bottom: 30px;
}

.search-filter--wrapper .collapse-block.js-collapse-block {
  overflow: hidden;
  transition: height .5s ease;
}

.search-filter--wrapper .collapse-block .card__title,
.search-filter--wrapper .collapse-block label {
  display: block;
  padding: 0;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #4a4a4a;
  text-transform: none;
}

.search-filter--wrapper .collapse-block .form-control {
  max-width: 100%;
}

.search-filter--wrapper .collapse-block .select2-container {
  width: 100% !important;
}

.search-filter--wrapper .collapse-block .select2-selection {
  position: relative;
  display: block;
  padding-bottom: 3px;
  min-height: 35px;
  padding-right: 35px;
}

.search-filter--wrapper .collapse-block .select2-selection .select2-selection__rendered {
  display: block;
}

.search-filter--wrapper .collapse-block .select2-selection .select2-selection__choice {
  white-space: normal;
}

.search-filter--wrapper .collapse-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 5px 1rem 0;
}

.search-filter--wrapper .collapse-wrapper .btn {
  padding: 0;
  margin-right: 0;
  border: none;
  text-transform: uppercase;
}

.search-filter--wrapper .collapse-wrapper .btn:hover, .search-filter--wrapper .collapse-wrapper .btn:active, .search-filter--wrapper .collapse-wrapper .btn:focus,
.search-filter--wrapper .collapse-wrapper .btn > div {
  background: transparent;
}

.search-filter--wrapper .toggle-filter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.search-filter--wrapper .toggle-filter:after {
  content: '▾';
  display: block;
  margin-left: 16px;
}

.search-filter--wrapper .toggle-filter.js-toggle-filter-close {
  display: none;
}

.search-filter--wrapper .toggle-filter.js-toggle-filter-close:after {
  transform: rotate(180deg);
}

.path-search {
  background: #fff;
}

.path-search .region--title section,
.path-search .region--secondary-navigation section {
  background: #f3f3f3;
}

.path-search .region--title {
  margin-top: 0;
}

.path-search .section-title {
  padding-top: 25px;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.path-search .section-title,
.path-search .search-filter--wrapper {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.path-search .region--secondary-navigation {
  margin-top: 0;
}

.block-social-resource-library .block-facet--dropdown {
  padding-top: 0;
}

.resource__featured-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin: 0 -1%;
  padding: 0 1rem;
}

.resource__featured-item .pager-nav {
  width: 100%;
}

.resource__featured-item .view-header {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1%;
}

.resource__featured-item .view-header .total-results .btn {
  text-transform: uppercase;
  margin-left: 40px;
}

.resource__featured-item .view-header + .alert {
  width: 100%;
}

.resource__featured-item .no-results .text {
  max-width: 100%;
}

.resource__featured-item .teaser.teaser--tile {
  margin: 0 1% 40px;
  -ms-flex: 0 0 calc(100% - 2%);
      flex: 0 0 calc(100% - 2%);
  max-width: calc(100% - 2%);
}

.resource__featured-item .teaser.teaser--tile .teaser__image img {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  height: 100%;
}

.resource__featured-item .teaser.teaser--tile .teaser__content {
  padding-top: 10px;
}

.resource__featured-item .teaser.teaser--tile .teaser__title {
  margin-bottom: .375rem;
  font-size: 1rem;
}

.resource__featured-item .teaser.teaser--tile .text-muted,
.resource__featured-item .teaser.teaser--tile .text-muted .teaser__content-line {
  font-size: .75rem;
}

.resource__featured-item .teaser.teaser--tile .card__actionbar {
  display: block;
}

.resource__featured-item .teaser.teaser--tile .card__link {
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  float: none;
}

@media (min-width: 600px){
  .view-header .total-results{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .view-header form .form-item-sort-bef-combine{
    max-width: 160px;
  }
  .search-filter--wrapper .collapse-block > *{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .search-filter--wrapper .collapse-block .select2-selection .select2-selection__choice{
    margin-top: 4px;
  }
  .path-search .section-title{
    padding-top: 50px;
  }
  .resource__featured-item .view-header{
    padding: 0 1.75%;
  }
  .resource__featured-item .teaser.teaser--tile{
    -ms-flex: 0 0 calc(50% - 2%);
    flex: 0 0 calc(50% - 2%);
    max-width: calc(50% - 2%);
  }
}

@media (min-width: 900px){
  .view-search-resources .views-exposed-form{
    right: 0;
  }
  .search-filter--wrapper .collapse-block > *{
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .search-filter--wrapper .collapse-block .card__title,
  .search-filter--wrapper .collapse-block label{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
  }
  .path-search .section-title{
    font-size: 3rem;
  }
  .resource__featured-item{
    margin: 0 -1.75%;
  }
  .resource__featured-item .teaser.teaser--tile{
    -ms-flex: 0 0 calc(33.33333% - 3.5%);
    flex: 0 0 calc(33.33333% - 3.5%);
    max-width: calc(33.33333% - 3.5%);
    margin-left: 1.75%;
    margin-right: 1.75%;
  }
}

@media (min-width: 1160px){
  .path-search .region--title section,
  .path-search .region--secondary-navigation section{
    margin-left: calc(-100vw / 2 + 1160px / 2);
    margin-right: calc(-100vw / 2 + 1160px / 2);
  }
}

@media (min-width: 1200px){
  .search-filter--wrapper .collapse-block{
    margin: 0 -1.25rem;
  }
  .search-filter--wrapper .collapse-block > *{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 1.25rem;
  }
  .search-filter--wrapper .collapse-wrapper{
    padding-left: 0;
    padding-right: 0;
  }
  .resource__featured-item .teaser.teaser--tile{
    -ms-flex: 0 0 calc(25% - 3.5%);
    flex: 0 0 calc(25% - 3.5%);
    max-width: calc(25% - 3.5%);
  }
  .resource__featured-item .teaser.teaser--tile .teaser__image{
    height: 110px;
  }
}

@media (max-width: 899px){
  .view-header{
    margin-bottom: 30px;
  }
  .view-search-resources .views-exposed-form{
    top: -2rem;
  }
  .off-canvas-right{
    z-index: 10;
  }
}

@media (max-width: 1199px){
  .path-search .search-filter--wrapper{
    padding-left: 0;
    padding-right: 0;
  }
}
