.stream::before {
  background: #d5d6d2;
}

.stream-icon {
  width: 12px;
  height: 12px;
  top: 37px;
  left: 2px;
  background: #adadad;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}

.stream-icon-new {
  background: #1f80aa;
}

.card--stream {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
}

.teaser--stream {
  background: transparent;
}

.teaser--stream .teaser__image {
  border-radius: 0;
}

.teaser--stream:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.teaser--stream:last-child .card-image {
  border-bottom-left-radius: 5px;
}

.teaser--stream .teaser__published-author {
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-right: 10px;
}

.teaser--stream .teaser__published-author a {
  font-weight: 300;
}

.teaser--stream .teaser__published-date {
  margin-right: 10px;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
