.teaser__teaser-type {
  background-color: #adadad;
  border-radius: 0 0 0px 0px;
}

.teaser__title {
  max-height: 2.3em;
}

.teaser__teaser-type-icon {
  fill: white;
}

.teaser__published-date {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.teaser__published-author {
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.teaser__tag {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.teaser.teaser--tile {
  margin-bottom: 45px;
}

.teaser.teaser--tile .text__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.teaser.teaser--tile .text__header > * {
  margin-bottom: 10px;
}

.teaser.teaser--tile .text__header .teaser__tag {
  margin-bottom: 0;
}

.teaser.teaser--tile .text__header .lang {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.teaser.teaser--tile .text__header .lang li + li::before {
  content: '|';
  position: relative;
  display: inline-block;
  top: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

.teaser.teaser--tile .teaser__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.four-items .teaser.teaser--tile .teaser__title {
  font-size: 16px;
  line-height: 22px;
}

.four-items .teaser.teaser--tile .text-muted > * {
  font-size: 12px;
}

.teaser.teaser--tile .teaser__published-date {
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.teaser.teaser--tile .teaser__published-author {
  margin-right: 4px;
}

.teaser.teaser--tile .teaser__published-author a {
  font-weight: 300;
}

.teaser.teaser--tile .card__link {
  text-transform: uppercase;
}

.teaser.teaser--tile .teaser__content-header {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.teaser.teaser--tile .teaser__content-header .teaser__published {
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.teaser.teaser--tile .teaser__content-header .teaser__published-type {
  font-weight: 700;
}

.teaser.teaser--tile .teaser__content-header .teaser__published-type a {
  font-weight: 700;
}

.teaser.teaser--tile .teaser__content-header .teaser__tag {
  margin-bottom: 0;
}

.teaser.teaser--tile .card__actionbar, .teaser.teaser--stream .card__actionbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.teaser.teaser--tile .card__actionbar:before, .teaser.teaser--tile .card__actionbar:after, .teaser.teaser--stream .card__actionbar:before, .teaser.teaser--stream .card__actionbar:after {
  display: none;
}

.teaser.teaser--tile .card__actionbar-side, .teaser.teaser--stream .card__actionbar-side {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
}

.teaser.teaser--tile .card__actionbar-side:empty, .teaser.teaser--stream .card__actionbar-side:empty {
  display: none;
}

.teaser.teaser--stream .teaser__tag {
  margin-right: 6px;
  margin-bottom: 0;
}

.teaser.teaser--stream .teaser__tag {
  margin-bottom: 0;
}

.field--name-field-featured-items .teaser--tile {
  display: -ms-flexbox;
  display: flex;
}

.teaser.teaser--profile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.teaser.teaser--profile .teaser__image {
  -ms-flex: 0 0 80px;
      flex: 0 0 80px;
  height: 80px;
  margin-bottom: 55px;
  border-radius: 0;
  text-align: center;
  overflow: visible;
  display: block;
}

.teaser.teaser--profile .teaser__image a {
  display: block;
  height: 100%;
}

.teaser.teaser--profile .teaser__image img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 10px solid white;
  border-radius: 50%;
  position: relative;
  top: 30px;
  background-color: #adadad;
}

.teaser.teaser--profile .teaser__title {
  min-height: auto;
  margin-bottom: .5rem;
  font-size: 1.25rem;
}

.teaser.teaser--profile .teaser__body {
  text-align: center;
}

.teaser.teaser--profile .teaser__content {
  padding-top: 0;
  -ms-flex-pack: inherit;
      justify-content: inherit;
}

.teaser.teaser--profile .teaser__work,
.teaser.teaser--profile .teaser__address,
.teaser.teaser--profile .badge__label {
  font-size: .875rem;
}

.teaser.teaser--profile .teaser__work {
  margin-bottom: 1.25rem;
}

.teaser.teaser--profile .card__actionbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.teaser.teaser--profile .card__actionbar .card__link {
  -ms-flex: 0 0 236px;
      flex: 0 0 236px;
  max-width: 236px;
  margin: 0 auto;
}

@media (min-width: 600px) {

  .teaser__image {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: #e6e6e6;
  }

  .teaser__teaser-type {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 2px 0;
  }
}

@media (min-width: 900px) {

  .field--name-field-featured-items .teaser--tile {
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
    margin-left: 3.5%;
  }

  .field--name-field-featured-items .teaser--tile:nth-child(2n+1) {
    margin-left: 3.5%;
  }

  .field--name-field-featured-items .teaser--tile:nth-child(3n+1) {
    margin-left: 0;
  }

  .field--name-field-featured-items.four-items .teaser--tile {
    -ms-flex: 0 0 22.35%;
    flex: 0 0 22.35%;
    max-width: 22.35%;
    margin-left: 3.5%;
  }

  .field--name-field-featured-items.four-items .teaser--tile:nth-child(2n+1), .field--name-field-featured-items.four-items .teaser--tile:nth-child(3n+1) {
    margin-left: 3.5%;
  }

  .field--name-field-featured-items.four-items .teaser--tile:nth-child(4n+1) {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {

  .teaser.teaser--stream .teaser__tag {
    margin-right: 15px;
  }
}
