@import "settings";

.field--name-field-introduction-text,
.field--name-field-featured-items-description,
.field--name-field-featured-description,
.field--name-field-accord-description,
.field--name-field-text,
.body-text {

  a:not(.btn) {
    text-decoration: underline;
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

}
