{% extends 'node--featured.html.twig' %}

  {% block card_body %}
    <small class="text-muted">
      {% embed "node--teaser__field.html.twig" %}
        {%- block field_icon -%} event {%- endblock -%}
        {%- block field_value %}
          <span class="sr-only">{% trans %}Event date{% endtrans %} </span>
          {{ event_date }}
        {%- endblock -%}
      {% endembed %}
      {% embed "node--teaser__field.html.twig" %}
        {%- block field_icon -%} location {%- endblock -%}
        {%- block field_value -%}
          <span class="sr-only">{% trans %}The event will take place at the{% endtrans %} </span>
          {{ content.field_event_location }}
        {%- endblock -%}
      {% endembed %}
      {% if content.ongoing %}
        <span class="badge badge-primary teaser__badge">
          {{ content.ongoing }}
        </span>
      {% endif %}
      {% if content.enrolled %}
        <span class="badge badge-default teaser__badge">
          {{ content.enrolled }}
        </span>
      {% endif %}
    </small>
  {% endblock %}
