.indent_filter {
  margin-bottom: 1rem;
}

.indent_filter .panel-heading ~ div {
  background: #f3f3f3;
  padding-top: 1rem;
  /* Force margin to be on the background */
  overflow: hidden;
}

.indent_filter div.form-item {
  margin-left: 20px;
  margin-right: 20px;
}

.indent_filter .form-type-select {
  margin-bottom: 20px;
}

.indent_filter .form-item-field-event-date-max {
  margin-top: 20px;
}

.indent_filter .panel-heading {
  font-size: 0.875rem;
}

/* Ensure date pickers don't overflow */
.indent_filter input[type="text"].form-date {
  min-width: initial;
}

/* Ensure styling is consistent with labels */
.indent_filter .panel-heading header div,
.indent_filter .panel-heading header a {
  margin-bottom: 5px;
}
