.indent_filter .panel-heading ~ div {
  background: #f3f3f3;
  padding: 20px 0;
}

.indent_filter div.form-item {
  margin-left: 20px;
  margin-right: 20px;
}

.indent_filter .form-type-select {
  margin-bottom: 20px;
}

.indent_filter .form-item-field-event-date-max {
  margin-top: 20px;
}

.indent_filter .panel-heading {
  font-size: 0.875rem;
}