/**
 * @file
 * Contains CSS specific to the way we display the combined sort/filter block.
 */

#block-filter .form-item-sort-bef-combine {
  margin: 0 -20px;
  padding: 20px 20px 0;
  background-color: rgb(243, 243, 243);
}

#block-filter .form-item-sort-bef-combine:after {
  display: block;
  background-color: white;
  text-align: center;
  font-weight: normal;
  color: rgb(168, 168, 168);
  margin: 2rem -20px 0;
  padding: 20px;
}

#block-filter .form-item-sort-bef-combine .control-label {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(168, 168, 168);
  font-size: 1rem;
}
