{%
  set classes = [
    view_mode == 'full' ? 'message__message-body' : 'message__message-excerpt'
  ]
%}

{% for item in items %}
  <span{{ attributes.addClass(classes) }}>
    {% if view_mode == 'full' %}
      {{ item.content }}
    {% else %}
      {{ item.content['#text']|striptags|length > 60 ? item.content['#text']|striptags|slice(0, 57) ~ '...' : item.content['#text']|striptags }}
    {% endif %}
  </span>
{% endfor %}

