{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('socialbase/comment')}}
<div class="comment comment-form__wrapper">
  <div class="comment__avatar">{{ current_user_picture }}</div>
  <div class="comment__content">
    <form{{ attributes }}>
      <div class="form-group-inline">
        {{ children }}
      </div>
    </form>
  </div>
</div>
