
[data-tablesaw-mode="swipe"] {
  > tbody > tr > td {
    vertical-align: middle;
  }

  .tablesaw-cell-persist {
    border-right: 2px solid $gray-lighter;
  }

  th, td {
    &.tablesaw-cell-hidden {
      display: none;
    }
  }
}
