.user-register-form,
.user-login-form,
.user-pass-form {
  padding-top: 10px;
  padding-bottom: 10px;

  @include MQ($small) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-item {
    margin-top: 1em;
  }

  .form-item + .form-item {
    margin-top: 2em;
  }

  .form-actions {
    margin-top: 2em;

    .btn {
      max-width: 100%;
      width: 300px;
    }
  }
}

.user-register-form #edit-pass {
  color: $grey-dark-1;
  font-weight: 300;

  .password-strength,
  div.password-confirm {
    margin-top: 1em;
    color: $grey-light-1;
    font-size: 80%;
  }

  @include MQ($small) {
    width: 50%;

    .password-strength,
    div.password-confirm {
      position: absolute;
      left: 110%;
      top: 1em;
      width: 90%;
      margin-top: 0;
    }

  }
}

.password-strength__meter {
  height: 3px;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  background-color: $grey-light-1;

  @include MQ($small) {
    margin-top: 2em;
    position: absolute;
  }
}
.password-strength__indicator {
  height: 100%;
  width: 0;
  background-color: $success-color;
  transition: width 0.5s ease-out;
}
.password-confirm-match {
  visibility: hidden;
}

.password-strength__indicator.is-weak {
  background-color: $error-color;
}
.password-strength__indicator.is-fair {
  background-color: $warning-color;
}
.password-strength__indicator.is-good {
  background-color: $info-color;
}
.password-strength__indicator.is-strong {
  background-color: $success-color;
}

.form-item .password-suggestions {
  margin: 2em 0;
  max-width: 100%;
}
.password-suggestions ul {
  margin: 1em 0;
  padding-left: 30px;

  li {
    list-style: square outside;
    line-height: 1.5;
  }
}

/* Styling for the status indicator of the passwords match test.  */
.password-confirm .ok {
  color: $success-color;
  font-weight: 500;
}
.password-confirm .error {
  color: $error-color;
  font-weight: 500;
}
