#header {
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: $primary-color;
  color: white;
  z-index: 10;
  transition: height 0.3s;
  padding-left: 0;
  font-weight: 500;
  @include z-depth-1;

  @include MQ($medium) {
    height: 88px;
    line-height: 44px;
  }

  > .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: $primary-color;
    position: relative;
    z-index: 10;
    line-height: 64px;

    @include MQ($medium) {
      line-height: 44px;
      max-width: $medium;
      margin: auto;
    }
  }

  .container {
    padding: 0 10px;
    width: 100%;
  }

}

.site-logo {
  background-color: rgba(0,0,0,.14);
  height: 64px;
  width: 68px;
  vertical-align: top;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 0;

  @include MQ($medium) {
    height: 88px;
    width: 88px;
  }

}

#header-logo {
  height: 44px;
  margin: 10px;
  display: inline-block;
  transition: 0.3s;
  pointer-events: none;

  @include MQ($medium) {
    margin: 24px 20px;
  }

}

.block--headermenu {
  display: flex;
  justify-content: flex-end;
  height: 64px;

  @include MQ($medium) {
    height: 44px;
  }

}

.header-menu {
  display: flex;
  padding-top: 16px;

  @include MQ($medium) {
    padding-top: 5px;
  }

  .menu__item {
    margin-left: 20px;
  }

  .menu__link {
    position: relative;
    line-height: 34px;
    height: 34px;
    display: flex;
    min-width: 34px;
    text-align: center;
    color: white;
    transition: 0.3s;

    @include MQ($medium) {
      line-height: 44px;
      border-bottom: 1px solid transparent;

      &:hover {
        .menu__label {
          border-color: white;
        }
      }
    }
  }

  .panel-open .material-icons {
    color: $primary-color;
    transform: rotateY(180deg);
    animation: chip-rotate-inverse 0.5s;
  }

  .material-icons {
    position: absolute;
    left: 3px;
    top: 3px;
    transform: rotateY(0);
    animation: chip-rotate 0.5s;
  }

  .menu__label {
    line-height: 38px;
    height: 34px;
    transition: 0.3s;
  }

  .b-menu + .menu__label {
    padding-left: 5px;
  }

  .panel-open > .b-menu + .menu__label {
    border-bottom: 1px solid white;
  }


}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 90px 0 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9;
  padding: 90px 0 0;
  transform: translateY(-100%);
  transform-origin: top right;
  transition: transform 0.3s;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;

  &.show {
    transform: translateY(0);
    overflow: auto;
  }

  .container {
    padding: 0;
  }

}

.panel-opened {
  overflow: hidden;
}

.block--search,
.block--main-menu {
  margin-top: 1rem;
}

.block--user-menu,
.block--main-menu {

  .menu__link {
    color: $base-color;
    display: block;
    padding: 10px 20px;

    &:hover {
      background-color: rgba(0,0,0,0.05);

      @include MQ($medium) {
        background-color: transparent;
      }

    }

    &.active {
      background-color: rgba($primary-color,0.5);
    }
  }

  .material-icons {
    display: inline-block;
    width: 3rem;
    font-size: 24px;
    height: 34px;
    line-height: 28px;
    vertical-align: middle;
  }

  .menu__label {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    text-transform: uppercase;
  }

}

@include MQ($medium) {

  #menu-panel {
    position: relative;
    height: 44px;
    transform: translateY(0);
    overflow: visible;
    background-color: transparent;
    padding: 0 0 0 100px;
    max-width: $medium;
    margin: auto;
    z-index: 10;

    .container {
      display: flex;
      align-items: flex-end;
      height: 44px;
      background-color: $primary-color;
    }

  }

  .block--main-menu {
    order: 3;
    margin-top: 0;

    .menu__link {
      padding-top: 0;
      padding-bottom: 0;
      color: white;
      line-height: 34px;
      font-size: 1.1em;
      border-bottom: 5px solid transparent;
      transition: 0.3s;

      &.active,
      &:hover {
        border-bottom-color: #1f80aa;
      }

      i {
        display: none;
      }
    }

  }

  .block--search {
    order: 4;
    line-height: 34px;
  }

  #user-panel {
    padding-top: 0;
    height: auto;
    background-color: transparent;

    &.show {
      transform: translateY(88px);
    }

    .container {
      max-width: $medium;
      display: flex;
      justify-content: flex-end;
    }

    .block--user-menu {
      background-color: white;
    }
  }

}
