.form-type-search {
  color: $grey-dark-1;
  padding: 0 20px;
  margin-top: 0;

  label {
    color: $grey-light-1;
    left: 20px;
    top: 0.5em;
    width: auto;
    font-size: 14px;
    font-weight: 300;

    &.active {
      transform: translateY(-150%);
    }

  }

  .search__icon.active {
    color: $grey-dark-1;
  }

  input[type=text]:focus+label {
    color: $primary-color-dark;
  }

}

@include MQ($medium) {
  .block--search {
    height: 34px;
    width: 350px;
  }

  .form-type-search {
    position: relative;
    overflow: hidden;
    transition: width 0.3s;
	  -webkit-backface-visibility: hidden;
    width: 0%;
    padding: 0;
	  min-width: 34px;
    height: 34px;
    border-bottom: 5px solid transparent;
    transition: 0.3s;

    &.search-open,
    &:hover {
      border-bottom-color: $primary-color-dark;
    }

  }

  .form-type-search .search__icon ~ .search__label {
    left: 54px;
    margin: 0;
    color: rgba(white, 0.8);
    top: 0;
    white-space: nowrap;
    width: 100%;
    height: 1.25em;
  }

  .form-type-search .search__icon + .search__input {
    position: absolute;
  	top: 0;
  	left: 54px;
    margin: 0;
  	width: 100%;
  	height: 29px;
  	z-index: 10;
    color: white;
    border-bottom: 5px solid $primary-color-dark;
    pointer-events: none;

    &:focus {
      border-bottom: 5px solid $primary-color-dark;
      box-shadow: none;
    }

  }

  input[type="search"].search__input {
  	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
  }

  .form-type-search {

    .search__icon {
      color: white;
      width: 34px;
      left: 0;
      font-size: 24px;
      z-index: 2;
      cursor: pointer;
      text-align: center;

      &.active {
        color: white;
      }
    }

  }

  .form-type-search.search-open .search__icon,
  .no-js .form-type-search .search__icon {
	  color: white;
	  z-index: 11;
  }

  .form-type-search.search-open,
  .no-js .form-type-search {
	  width: 100%;
    overflow: visible;

    .search__input {
      pointer-events: auto;
    }

  }


}
