{#
/**
 * @file event-date-advanced.html.twig
 * Default theme implementation to present Event date.
 *
 * This template is used for correct displaying Event date on Event view modes.
 *
 *
 * Available variables:
 * - icon: an icon before the date
 * - date: a date string
 *
 * @see template_preprocess_event_date_advanced()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {% if date %}
    {% if icon_loaded %}
      <svg class="icon no-b-lazy" aria-hidden="true">
        <title>{% trans %}Event date{% endtrans %}</title>
        <use xlink:href="#icon-schedule"></use>
      </svg>
    {% else %}
      <svg class="icon no-b-lazy" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <title>{% trans %}Event date{% endtrans %}</title>
        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
      </svg>
    {% endif %}
  {% endif %}
  <span class="sr-only">{{ 'Event date'|t }}</span>
  <span class="inline-center date">{{ date }}</span>
</div>
