{#
/**
 * @file
 * Display for body of the user profile.
 *
 * For the variables available look at profile.html.twig in the profile module.
 *
 * The content in this file contains only fields and field groups that are not
 * rendered by the hero already.
 */
#}

<div class="card">
  <div class="card__body body-text">

    {{ content|without("field_manager_notes") }}

  </div>
</div>

{% if (content.field_manager_notes|render) %}
  {{ content.field_manager_notes }}
{% endif %}
