@import "settings";

.dropdown-menu {
  border-radius: 3px;

  // Links within the dropdown menu
  > li > a {
    font-weight: 300;
  }

  // Disabled state
  > .disabled {
    > a,
    > span {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-disabled-color;
      }
    }
  }

}
.dropdown {
  &.has-alert {
    > a {
      @include for-phone-only {
        &:before {
          background-color: $brand-accent;
        }
      }
    }
  }
}
