@import "settings";

.dropdown-menu {
  border-radius: 3px;

  // Links within the dropdown menu
  > li > a {
    font-weight: 300;
  }

  // Disabled state
  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-disabled-color;
    }
  }

  .list-group-item {

    &:last-child {
      border-bottom: 0;
      @include border-bottom-radius(0);
    }

  }

}
