@import "settings";

.dropdown-menu {
  border-radius: 3px;

  // Links within the dropdown menu
  > li > a {
    font-weight: 300;
  }

  // Disabled state
  > .disabled {
    > a,
    > span {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-disabled-color;
      }
    }
  }

}
.dropdown {
  &.has-alert {
    > a {
      @include for-phone-only {
        &:before {
          background-color: $brand-accent;
        }
      }
    }
  }
}

// Behaviors arrow on the dropdown menu
.socialblue--sky {
  .dropdown.open .caret,
  .enroll-action-form.open .caret,
  .hero-footer__cta .open .caret,
  .social-gtranslate-list--desktop.open > a:after {
    transform: rotate(180deg);
  }

  .social-gtranslate-list--desktop.open {
    > a:after {
      margin-top: -.4rem;
      right: auto;
    }
  }
}
