// Behaviors arrow on the dropdown menu

.socialblue--sky {
  .dropdown.open .caret,
  .enroll-action-form.open .caret,
  .hero-footer__cta .open .caret,
  .social-gtranslate-list--desktop.open > a:after {
    transform: rotate(180deg);
  }

  .social-gtranslate-list--desktop.open {
    > a:after {
      margin-top: -.4rem;
      right: auto;
    }
  }
}
