@import "settings";

.dropdown-menu {
  border-radius: $border-radius-base;
}

// Links within the dropdown menu
.dropdown-menu > li > a {
  color: $dropdown-link-color;

  &:hover,
  &:focus {
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-active-color;
    background-color: $dropdown-link-active-bg;
  }
}


.dropdown-menu li > a {
  color: $dropdown-link-color;
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-disabled-color;
  }
  
}
