.color-form {
  max-width: none;
}

/* ---------- Preview Styles ----------- */
.color-preview-header {
  z-index: 3;
  position: relative;
}

.color-preview-hero {
  z-index: 2;
  position: relative;
}

.switch__label {
  font-weight: 300;
  display: inline-block;
  max-width: 100%;
}

.color-preview .switch .lever-on {
  background-color: #649964;
}

.color-preview .switch .lever-on:after {
  background-color: #0a840d;
  left: 24px;
}

.color-preview-header .navbar-default {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.color-preview-hero .cover-img {
  background-image: url('/profiles/contrib/social/themes/socialblue/os-builder/kss-assets/homepage-block.jpg');
}

.color-preview-main {
  padding-bottom: 50px;
}

@media (min-width: 1200px) {
  .color-preview .region--complementary {
    padding-right: 1em;
  }
  .color-preview .layout--with-complementary>.region--content {
    padding-left: 1em;
  }
}
