@import 'settings';

.post-unpublished {
  img {
    opacity: 0.5;
  }
  .badge-default {
    background-color: $gray-light;
    color: white;
    margin-left: 5px;
    font-size: 100%;
  }
  * {
    color: #9b9b9b;
  }
}


