{#
/**
 * @file
 * Theme override for tabs.
 */
#}

<nav class="navbar navbar-secondary brand-bg-secondary" role="navigation" aria-label="{{ 'Tabs'|t }}">
  <div class="navbar-scrollable">
    {{ content }}
  </div>
</nav>
