
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{%
  set classes = [
    'block-' ~ plugin_id|clean_class,
    'navbar-header',
  ]
%}

<div {{ attributes.addClass(classes) }}>

  {% if site_logo %}
    <a class="navbar-brand" href="{{ path('<front>') }}" title="{% trans %} Home {% endtrans %}" rel="home">
      <img src="{{ site_logo }}" alt="{{ site_name }}" />
    </a>
  {% endif %}

  <button href="#" data-toggle="collapse" data-target="#main-navigation" type="button" aria-expanded="false" class="navbar-toggle collapsed">
    <span>{% trans %} Menu {% endtrans %}</span>
    <span class="sr-only">
      {% trans %} Toggle navigation {% endtrans %}
    </span>

  </button>

</div>


