.content-reporting-dialog .form-actions {
  display: flex;
  justify-content: flex-end;
  padding-right: .5em;
}

.content-reporting-dialog .fieldgroup > .control-label,
.form--content-reporting .fieldgroup > .control-label {
  font-weight: 400;
}

/* Remove spacing between Reason and Reason other field */
:not(.ui-dialog) .form--content-reporting .form-group {
  margin-bottom: 0;
}
