.card-head
  header.text-center My upcoming events
.list-group.list-group-divider
  a.list-group-item(href="event.html")
    h6.list-group-item-heading Open social Amsterdam meetup
    small.text-gray-lighter.list-group-item-text 3 aug 
  a.list-group-item(href="event.html")
    h6.list-group-item-heading Open social Milano meetup
    small.text-gray-lighter.list-group-item-text 10 aug 
  .text-center
    a.btn.btn-link(href="#") See all
      i.material-icons chevron_right
