.media
  .media-left
    if user == "isAnonymous"
      img.media-object.img-circle.img-medium(src='content/images/member1.jpg')
    else
      a(href='other-stream.html')
        img.media-object.img-circle.img-medium(src='content/images/member1.jpg')
  .media-body
    h5.media-heading
      if user == "isAnonymous"
        | Mary-Lou Wallace
      else
        a(href="other-stream.html") Mary-Lou Wallace 
      br 
      small 13 hours ago

.margin-top-s Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
