{% extends "node--small-teaser.html.twig" %}

{% block teaser_image %}
  <div class="teaser--small__media" aria-hidden="true">
    {% if content['field_group_image'] | render | striptags('<img>') is not empty %}
      {{ content['field_group_image'] }}
    {% else %}
      <svg class="teaser--small__type-icon">
        <title>{{- group.bundle|clean_class|capitalize -}}</title>
        <use xlink:href="#icon-group"></use>
      </svg>
    {% endif %}
  </div>
{% endblock %}

{% block extra_text %}
  <div class="teaser--small__meta">
    {% if closed_group_lock %}
      <svg class="icon-gray icon-small">
        <use xlink:href="#icon-lock"></use>
      </svg>
    {% elseif secret_group_shield %}
      <svg class="icon-gray icon-small">
        <use xlink:href="#icon-shield"></use>
      </svg>
    {% endif %}
    {{ group_type }} &middot; {% trans %}1 member{% plural group_members %}@count members{% endtrans %}
  </div>
{% endblock %}
