{#
/**
 * @file
 * Theme override to display help text for file fields.
 *
 * Available variables:
 * - popover: Markup to display the descriptions as a popover instead.
 *
 * @see template_preprocess_group_settings_help()
 */
#}
{% if popover %}
  {{ popover_toggle }}
  <div class="hidden help-block" id="{{ popover_id }}">
    {{ popover_info }}
  </div>
{% endif %}
