- var pagetype = "styleguide"
- var page = "Badges"

doctype html
html(lang="en")
  head
    include ./layout/_head.pug

  body
    include ./layout/_gtm.pug
    include ./layout/_header-styleguide.pug
    include ../assets/icons/icons.svg

    .docsheader
      .container
        h1 Components
        p.lead Over a dozen reusable components built to provide buttons, dropdowns, navigation, input groups, navigation, alerts, and much more.

    main.main-container.styleguide-container(role='main')
      .container
        .row
          .col-xs-12.col-sm-3.col-sm-last
            include ./layout/_component-nav.pug

          .col-xs-12.col-md-9
            h2.page-header Badges
            p This component is used to provide some short stand-alone information or to visually connect elements that relate to the same piece of information. You can enlarge them and use different color styles. Badges are displayed inline by default.

            .badge Badge
            .badge.badge-large Badge large
            .badge.badge-gray-lighter.badge-large Badge gray lighter large
            .badge.badge-accent Badge accent
            .badge.badge-primary Badge primary
            .badge.badge-secondary Badge secondary
            .badge.badge-gray-lighter Badge gray ligher
            .badge.badge-dark Badge dark

            pre
              code.language-markup.
                <div class="badge">Badge</div>
                <div class="badge badge-large">Badge large</div>
                <div class="badge badge-gray-lighter badge-large">Badge gray lighter large</div>
                <div class="badge badge-accent">Badge accent</div>
                <div class="badge badge-primary">Badge primary</div>
                <div class="badge badge-secondary">Badge secondary</div>
                <div class="badge badge-gray-lighter">Badge gray ligher</div>
                <div class="badge badge-dark">Badge dark</div>

    include ./layout/_scripts.pug
