- var pagetype = "styleguide"
- var page = "Color"

doctype html
html(lang="en")
  head
    include ./layout/_head.pug

  body
    include ./layout/_gtm.pug
    include ./layout/_header-styleguide.pug
    include ../assets/icons/icons.svg

    .docsheader
      .container
        h1 Style &amp; Content
        p.lead Styles for displaying content with some of the most commonly used HTML elements, including normalization, typography, images, tables, and more.

    main.main-container.styleguide-container(role='main')
      .container
        .row
          .col-xs-12.col-sm-3.col-sm-last
            .page-header
              include ./layout/_style-nav.pug

          .col-xs-12.col-md-9

            h2.page-header Color palette
            p You can use your own brand colors for your version of this application. We have defined a few color names based on the material design guidelines.

            .row
              .col-xs-12
                h4 Primary color
              .col-md-6
                p When using a primary color in your palette, this color should be the most widely used across all screens and components.
              .col-md-6
                .card
                  .card-body.brand-primary Our default primary color is #29abe2.
            .row
              .col-xs-12
                h4 Secondary color
              .col-md-6
                p Palettes with a secondary color may use this color to indicate a related action or information.
                p The secondary color can be a darker or lighter variation of the primary color.
              .col-md-6
                .card
                  .card-body.brand-secondary  Our default secondary color is #1f80aa.

            .row
              .col-xs-12
                h4 Accent color
              .col-md-6
                p The accent should be used for promoted actions only.

              .col-md-6
                .card
                  .card-body.brand-accent Our default accent color is #ffc142.

            .row
              .col-xs-12
                h2.page-header State color
                p For states in forms, messages and other feedback we use state colors to indicate whether user actions were performed successfully or failed for example.
            .row
              .col-xs-12.col-md-6
                .card
                  .card-body.bg-success.center Success color
              .col-xs-12.col-md-6
                .card
                  .card-body.bg-danger.center Danger color
              .col-xs-12.col-md-6
                .card
                  .card-body.bg-warning.center Warning color
              .col-xs-12.col-md-6
                .card
                  .card-body.bg-info.center Info color

            .row
              .col-xs-12
                h2.page-header Usage
                h4 Background color
                p To apply a background color, just add the color name as a class to the element.
            .row
              .col-xs-12.col-sm-4
                .card
                  .card-body.brand-primary This is a card with a brand-primary class
              .col-xs-12.col-sm-4
                .card
                  .card-body.brand-secondary This is a card with a brand-secondary class
              .col-xs-12.col-sm-4
                .card
                  .card-body.brand-accent This is a card with a brand-accent class

            .row
              .col-xs-12
                h4 Text color
                p To apply a text color, just apply text-{color} to the text element.
                p.text-primary This is a paragraph with a text-primary class
                p.text-success This is a paragraph with a text-success class
                p.text-warning This is a paragraph with a text-warning class
                p.text-danger This is a paragraph with a text-danger class

    include ./layout/_scripts.pug
