extends ./layout/base-lu.pug

block title
  title Explore topics

block breadcrumbs  
  li
    a(href='home-lu.html') Home
  li
    a(href='explore.html') Explore
  li
    a(href='explore-events.html') Topics

block content
              
  .row.margin-top-l  
    
    .col-xs-12.col-sm-4.col-sm-last.margin-bottom-l.margin-top-complementary
    
      button.waves-effect.waves-light.btn.btn-default.btn-block.btn-raised.visible-xs-inline-block.js-open-canvas
        svg.pull-left.btn-icon.icon-black
          title Filter list
          use(xlink:href='#icon-filter_list')
        | Filter
      .off-canvas.off-canvas-right.off-canvas-xs-only
        .offcanvas-head
          header.complementary-title Filter topics
          .offcanvas-tools.visible-xs-block
            .js-close-canvas.btn.btn-icon-toggle.btn-user-light.pull-right
              svg.pull-left.btn-icon.icon-black
                title Close
                use(xlink:href='#icon-close')
      
        .offcanvas-body
          form
            .form-group
              label Topic type
              select.form-control(onchange="enableMe('reset-button')")
                option(value="", selected="") All types
                option(value="blog") Blog
                option(value="discussion") Discussion
                option(value="topic") Topic
                  
            .form-group
              input#reset-button.btn.btn-flat.disabled(type="submit", value="Reset")
              
    .col-xs-12.col-sm-8
      h4.section-title Community topics   
    
      include molecules/_topic2.pug
      include molecules/_topic1.pug
      include molecules/_topic4.pug
      
      
      include molecules/_pager.pug

block scriptinline  
  
  script.
    function enableMe(id) {
      jQuery('#' + id).removeClass('disabled');
    }
