extends ./layout/base-lu.pug

block title
  title Explore groups

block breadcrumbs
  li
    a(href='home-lu.html') Home
    svg.icon-gray.icon-small
      use(xlink:href="#icon-navigate_next")
  li
    a(href='explore.html') Explore
    svg.icon-gray.icon-small
      use(xlink:href="#icon-navigate_next")
  li Users

block content

  .row.margin-top-l

    .col-xs-12.col-sm-4.col-sm-last.margin-bottom-l.complementary-top

      button.waves-effect.waves-light.btn.btn-default.btn-block.btn-raised.visible-xs-inline-block.js-open-canvas
        svg.pull-left.btn-icon.icon-black
          title Filter list
          use(xlink:href='#icon-filter_list')
        | Filter
      .off-canvas.off-canvas-right.off-canvas-xs-only
        .offcanvas-head
          header.complementary-title Filter members
          .offcanvas-tools.visible-xs-block
            .js-close-canvas.btn.btn-icon-toggle.btn-user-light.pull-right
              svg.pull-left.btn-icon.icon-black
                title Close
                use(xlink:href='#icon-close')

        .offcanvas-body
          form.clearfix
            .form-group
              label(for="expertise-input") Expertises
              .input-group
                input#expertise-input.form-control(type="text", size="60", onchange="enableMe('reset-button', this)")
                span.input-group-addon
                  svg.icon-gray.icon-small
                    use(xlink:href='#icon-autorenew')
            .form-group
              label(for="interests-input") Interests
              .input-group
                input#interests-input.form-control(type="text", size="60", onchange="enableMe('reset-button', this)")
                span.input-group-addon
                  svg.icon-gray.icon-small
                    use(xlink:href='#icon-autorenew')

            input#reset-button.btn.btn-flat.disabled(type="submit", value="Reset")
            button.pull-right.btn.btn-default(type="submit", value="Filter") Filter

    .col-xs-12.col-sm-8
      h4.section-title Community members

      include molecules/_member2.pug
      include molecules/_member3.pug
      include molecules/_member4.pug
      include molecules/_member5.pug

      include molecules/_pager.pug
block scriptinline

  script.
    function enableMe(id, elem) {
      jQuery('#' + id).removeClass('disabled');
    }
