extends ./layout/base-lu.pug

block title
  title Happy Campers

block pagetitle
  .container.hero-container
    include ./molecules/_my-group-hero.pug

  .container.hero-container
    .brand-secondary.z-depth-1
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li.active
            a(href='group-stream.html') Stream
              span.visually-hidden (active tab)
          li
            a(href='group-about.html') About
          li
            a(href='group-topics.html') Topics
          li
            a(href='group-events.html') Events
          li
            a(href="group-members.html") Members

block content

  .row.margin-top-l
    .col-sm-4.col-sm-last.margin-top-complementary

      include ./molecules/_group-upcoming-events.pug
      include ./molecules/_group-new-topics.pug
      include ./molecules/_group-new-members.pug

    .col-xs-12.col-sm-8
      h4.section-title.section-title-stream Happy Campers stream

      ul.stream
        li.stream-item
          i.stream-icon.stream-icon-new
          .card.stream-card
            .card-body
              include ./molecules/_stream-post-form-group.pug
        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.pug
        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.pug

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-post2.pug

        li.stream-item
          i.stream-icon
          .card.stream-card
            .card-body
              include ./molecules/_stream-post1.pug

block scriptinline
  script.
    function showMe (it, radio) {
      var visibility = radio.value;
      var icon = jQuery(radio).prevAll('svg').text();
      jQuery('#' + it).find('.text').html(visibility);
      jQuery('#' + it).find('svg').html(icon);
      jQuery('#' + it).next('.dropdown-menu').find('.list-group-item').removeClass('active');
      jQuery(radio).closest('.list-group-item').addClass('active');
    }
