extends ./layout/base-lu.pug

block title
  title Happy Campers

block pagetitle

  .container.hero-container
    include ./molecules/_my-group-hero.pug

  .container.hero-container
    .brand-secondary.z-depth-1
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li
            a(href='group-stream.html') Stream
          li
            a(href='group-about.html') About
          li
            a(href='group-topics.html') Topics
          li
            a(href='group-events.html') Events
          li.active
            a(href="group-members.html") Members
              span.visually-hidden (active tab)

block content

  .row.margin-top-l

    .col-xs-12.col-sm-8
      h4.section-title Members of Happy Campers

      ul.list-inline.local-actions.margin-bottom-l
        li
          a.waves-effect.waves-light.btn.btn-sm.btn-primary.btn-raised(href='#', style="margin-left: 20px;") Add a member


      .card.table-swipe
        .card-body
          table.table.tablesaw.tablesaw-swipe(data-tablesaw-mode="swipe", data-tablesaw-minimap)
            thead
              tr
                th(data-tablesaw-priority="persist") Member
                th Organisation
                th Role
                th Action

            tbody
              include molecules/_member1-table-view.pug
              include molecules/_member2-table-view.pug
              include molecules/_member3-table-view.pug
              include molecules/_member4-table-view.pug
              include molecules/_member5-table-view.pug
              include molecules/_member1-table-view.pug
              include molecules/_member2-table-view.pug
              include molecules/_member3-table-view.pug
              include molecules/_member4-table-view.pug
              include molecules/_member5-table-view.pug

      include molecules/_pager.pug

block scriptinline
  script(src='js/contrib/tablesaw/tablesaw.js')
  script(src='js/contrib/tablesaw/tablesaw-init.js')
