- var pagetype = "styleguide"
- var page = "Images"
- var tablesaw = "true"

doctype html
html(lang="en")
  head
    include ./layout/_head.pug
  body
    include ./layout/_gtm.pug
    include ./layout/_header-styleguide.pug
    include ../images/icons.svg

    .docsheader
      .container
        h1 Style &amp; Content
        p.lead Styles for displaying content with some of the most commonly used HTML elements, including colors, typography, images, tables, and more.

    main.main-container.styleguide-container(role='main')
      .container
        .row
          .col-xs-12.col-sm-3.col-sm-last
            include ./layout/_style-nav.pug

          .col-xs-12.col-md-9

            h2.page-header Image styles
            p We are using the following image styles in Drupal. Please use your developer tools to inspect images.

            table.table.tablesaw.tablesaw-swipe(data-tablesaw-mode="swipe")
              thead
                tr
                  th(data-tablesaw-priority="persist") Name
                  th Sizes
                  th Effects
                  th Example
                  th Corresponding <br /> CSS class
              tbody
                tr
                  td Social extra extra large
                  td 1200 x 423
                  td Scale &amp; crop
                  td Hero background
                  td
                tr
                  td Social extra large
                  td 220 x 220
                  td Scale &amp; crop
                  td Event teaser
                  td img-large
                tr
                  td Social large
                  td 128 x 128
                  td Scale &amp; crop
                  td Profile image
                  td img-large
                tr
                  td Social medium
                  td 44 x 44
                  td Scale &amp; crop
                  td Stream avatar
                  td img-medium
                tr
                  td Social small
                  td 24 x 24
                  td Scale &amp; crop
                  td Newest members list
                  td img-small

    include ./layout/_scripts.pug
