- var pagetype = "styleguide"
- var page = "Open Social"

doctype html
html(lang="en")
  head
    include ./layout/_head.pug
  body(class='#{pagetype}')
    include ./layout/_gtm.pug
    include ./layout/_header-styleguide.pug
    include ../images/icons.svg

    .docsheader
      .container
        h1 Open Social style guide
        p Documentation for Socialbase theme 8.x

    main.styleguide-container(role='main')
      .container
        .row
          .hidden-xs.hidden-sm.col-md-4.col-md-last
            img.pull-right(src='images/social-logo-blue.svg' alt='Open social logo' width="200")
          .col-xs-12.col-md-8(style="padding-bottom: 100px")
            p
              strong Open Social is a Drupal 8 distribution for building social communities and intranets.

            p For those of you who don't know what a Style Guide is - it's quite simple really. A Style Guide is a set of standards to ensure a consistent design and identity. Additionally, from a development point of view it serves to improve the speed and ease of code deployment. A style guide consolidates the front-end code while comprehensively documenting the visual language, such as color palettes and fonts.

            p The goals for creating this style guide are:
            ol
              li Streamline the workflow for designers and developers
              li Maintain a consistency of the theme styles and components
              li Create a focal point for our Design and User Experience work, both for ourselves and for the community

            p This theme is built upon <a href="https://www.drupal.org/project/bootstrap"> Drupal Bootstrap</a>, which means Bootstrap is used as the base theme. We further enhance it with custom styling and extra components. For the extra components we makes use of <a href="https://www.google.com/design/spec/material-design/introduction.html"> Material Design principles</a>.

            p
              strong We are currently working on the beta release which in planned for the end of September.
            p.text-center
              a.btn.btn-lg.btn-accent(href="home-lu.html") View prototype


    include ./layout/_scripts.pug

    footer.styleguide-footer.brand-secondary
      .repo-link
        .container
          .row
            .col-xs-12
              .commit
                span.hidden-xs Latest commit on Github by &nbsp; &nbsp;
                a.sha.hidden-xs(href='')
                span.hidden-xs -&nbsp;
                span.date.hidden-xs
                a#github-button.btn.btn-flat.pull-right.waves-effect.waves-light(href='https://github.com/goalgorilla/drupal_social/tree/gh-pages') View repository
      .container
        .row
          .col-xs-12.col-sm-8
            h5.white-text Contribute
            p.grey-text.text-lighten-4 Do you want to join us in this effort? We are welcoming your feedback, (development) time and/or financial support. For <a href="https://www.drupal.org/project/issues/social" class="social-blue-text text-lighten-4"> feedback we will use D.O</a> for other questions or suggestions please <a href="mailto:taco@goalgorilla.com" class="social-blue-text text-lighten-4">contact us</a>.
            p
              a.btn.btn-default(href='https://github.com/goalgorilla/drupal_social/wiki/Contributing-to-Open-Social') Read more

          .col-xs-12.col-sm-3.col-sm-push-1
            h5.white-text Connect
            ul
              li
                a.white-text(href='https://www.drupal.org/project/social') Drupal project page
              li
                a.white-text(href='https://github.com/goalgorilla/drupal_social/') Drupal repository
              li
                a.white-text(href='https://github.com/goalgorilla/drupal_social/issues/new') Report issues
      .footer-copyright
        .container
          a(href='http://www.goalgorilla.com') GoalGorilla is Founder and lead of the Open Social project
