extends ./layout/base-lu.pug

block title
  title Edit Topic Why are color runs so popular?

block content

  .row.margin-top-l

    #scrollspy.col-xs-12.col-sm-4.col-sm-last.complementary-top
      .toc-wrapper.hidden-print
        ul.table-of-contents.nav
          li
            a(href='#content') Content
          li
            a(href='#visibility') Visibility
          li
            a(href='#description') Description
          li
            a(href='#attachments') Attachments
          li
            a(href='#comment-settings') Comment settings

    .col-xs-12.col-sm-8
      h1.h4.section-title Edit: Why are color runs so popular?

      form(action='topic.html', method='get')

        #content.card.card-underline.scrollspy
          .card-head
            header Content
          .card-body
            .form-group.radios
              label.form-required Topic type
              .radio
                input#blog(type='radio', checked, name='type')
                label(for='blog') Blog
              .radio
                input#discussion(type='radio', name='type')
                label(for='discussion') Discussion
              .radio
                input#topic(type='radio', name='type')
                label(for='topic') Topic

            .form-group
              label.form-required Title
              input.form-control(type="text", value='Why are color runs so popular?')

            .form-group
              label Image
              .image-widget.form-managed-file.clearfix.row
                .preview.col-sm-4.col-md-3.margin-bottom-m
                  img.img-responsive(src="content/images/animals1-square.jpg", width="220")

                .data.col-sm-8.col-md-9
                  .form-no-label
                    label.visually-hidden(for="edit-field-topic-image-0-alt") Alternative text
                    input#edit-field-topic-image-0-alt.form-text.form-control(placeholder="Alternative text", type="text")
                    #edit-field-topic-image-0-alt--description.help-block This text will be used by screen readers, search engines, or when the image cannot be loaded.
                  span.file.file--mime-image-jpeg.file--image
                    span.file-icon
                      span.icon.glyphicon.glyphicon-picture
                    span.file-link
                      a.menu-item__link(href="#", type="image/jpeg; length=270186", title="Open image in new window") animals1-square.jpg
                    span.file-size 263.85 KB

                  button#edit-field-test-0-remove-button.button.js-form-submit.form-submit.btn-default.btn.btn-non-clickable(type="submit") Remove

        #visibility.card.card-underline.scrollspy

          .card-head
            header Visibility

          .card-body

            .form-group.radios
              label.form-required Visibility
              .radio
                input#community(type='radio', name='type', checked)
                label(for='community') Community
                .help-block Visible for members only
              .radio
                input#public(type='radio', name='type')
                label(for='public') Public
                .help-block Visible for everyone, including people who are not a member

        #description.card.card-underline.scrollspy

          .card-head
            header Description

          .card-body
            .form-group
              label.form-required Description
              .textarea--cke
                textarea#ckeditor.form-control.form-textarea
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. An me, inquam, nisi te audire vellem, censes haec dicturum fuisse? Summae mihi videtur inscitiae. Non enim iam stirpis bonum quaeret, sed animalis. Tu vero, inquam, ducas licet, si sequetur; In qua quid est boni praeter summam voluptatem, et eam sempiternam? Duo Reges: constructio interrete. Verba tu fingas et ea dicas, quae non sentias?

        #attachments.card.card-underline.scrollspy

          .card-head
            header Attachments

          .card-body

            .form-group
              label Files

              .table-responsive
                button.tabledrag-toggle-weight.btn-sm.btn.btn-flat.pull-right(type="button", data-toggle="tooltip", data-placement="left", title="Re-order rows by numerical weight instead of dragging.") Show row weights
                table.responsive-enabled.table.table-striped.table-hover.tablesaw.tabledrag(data-tablesaw-mode="stack")
                  thead
                    tr
                      th File information
                      th Display
                      th.tabledrag-hide Weight
                      th Operations
                  tbody
                    tr.draggable.odd
                      td
                        a.tabledrag-handle.icon-before(href="#", data-toggle="tooltip", data-original-title="Drag to re-order")
                          span.icon.glyphicon.glyphicon-move(aria-hidden="true")
                        div.js-form-managed-file.form-managed-file
                          input(type="hidden")
                          span.file.file--mime-application-pdf.file--application-pdf
                            span.file-icon
                              span.icon.glyphicon.glyphicon-file
                            span.file-link
                              a.menu-item__link(href="#", type="application/pdf;, length=480544", title="Open file in new window") Very-important-document.pdf
                            span.file-size 412.28 KB
                            span.tabledrag-changed.text-warning.icon.glyphicon.glyphicon-warning-sign.icon-before(aria-hidden="true", data-icon-type="warning")

                        .form-group
                          label(for="edit-field-test-0-description") Description
                          input#edit-field-test-0-description.form-text.form-control(type="text", size="60", maxlength="128")
                          div#edit-field-test-0-description--description.help-block The description may be used as the label of the link to the file.
                      td.checkbox
                        .checkbox
                          input#edit-field-test-0-display.file-display.form-checkbox(type="checkbox", checked="checked")
                          label(for="edit-field-test-0-display")
                      td.tabledrag-hide
                        .form-no-label.form-group
                          label.visually-hidden(for="edit-field-test-0-weight") Weight for new file
                          .select-wrapper
                            .material-select
                              select#edit-field-test-0-weight.edit-field-test-weight.form-select.form-control
                                option(value="-3") -3
                                option(value="-2") -2
                                option(value="-1") -1
                                option(value="0", selected="selected") 0
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                      td
                        button#edit-field-test-0-remove-button.button.js-form-submit.form-submit.btn-default.btn.btn-non-clickable(type="submit") Remove

                    tr.draggable.even
                      td
                        a.tabledrag-handle.icon-before(href="#", data-toggle="tooltip", data-original-title="Drag to re-order")
                          span.icon.glyphicon.glyphicon-move(aria-hidden="true")
                        div.js-form-managed-file.form-managed-file
                          input(type="hidden")
                          span.file.file--mime-application-pdf.file--application-pdf
                            span.file-icon
                              span.icon.glyphicon.glyphicon-file
                            span.file-link
                              a.menu-item__link(href="#", type="application/pdf;, length=480544", title="Open file in new window") Very-important-document.pdf
                            span.file-size 469.28 KB

                        .form-group
                          label(for="edit-field-test-1-description") Description
                          input#edit-field-test-1-description.form-text.form-control(type="text", size="60", maxlength="128")
                          div#edit-field-test-1-description--description.help-block The description may be used as the label of the link to the file.
                      td.checkbox
                        .checkbox
                          input#edit-field-test-1-display.file-display.form-checkbox(type="checkbox", checked="checked")
                          label(for="edit-field-test-1-display")
                      td.tabledrag-hide
                        .form-no-label.form-group
                          label.visually-hidden(for="edit-field-test-1-weight") Weight for new file
                          .select-wrapper
                            .material-select
                              select#edit-field-test-1-weight.edit-field-test-weight.form-select.form-control
                                option(value="-3") -3
                                option(value="-2") -2
                                option(value="-1") -1
                                option(value="0", selected="selected") 0
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                      td
                        button#edit-field-test-1-remove-button.button.js-form-submit.form-submit.btn-default.btn.btn-non-clickable(type="submit") Remove


              label Add a new file
              .form-managed-file.clearfix
                input.form-control(type='file', value='upload an image')
                .help-block
                  a.icon-before(href="#upload-instructions--3", data-toggle="popover", data-html="true", data-placement="bottom", data-title="Upload requirements", aria-describedby="popover388085")
                    span.icon.glyphicon.glyphicon-question-sign
                    | Upload requirements

                  div#upload-instructions--3.hidden.help-block.form-group.popover(aria-hidden="true")
                    ul
                      li Unlimited number of files can be uploaded to this field.
                      li 2 MB limit.</li><li>Allowed types:
                        =" "
                        code png, gif, jpg, jpeg
                        |.
                      li Images larger than
                        =" "
                        strong 3600x3600
                        |  pixels will be resized.

        #comment-settings.form-item.card.scrollspy.tabs-left
          ul.card-head.nav.nav-tabs.vertical-tabs-list(data-toggle="tabs")
            li.active
              a(href="#comments") Comment settings

          .card-body.tab-content
            #comments.tab-pane.active
              .form-group.radios
                label.form-required Comment
                .radio
                  input#open(type='radio', name='comments')
                  label(for='open') Open
                  .help-block Users with the "Post comments" permission can post comments.
                .radio
                  input#closed(type='radio', checked, name='comments')
                  label(for='closed') Closed
                  .help-block Users cannot post comments.

        .form-actions.clearfix
          input.waves-effect.waves-light.btn.btn-raised.btn-primary.pull-right(type='submit', value='Save')
          a.waves-effect.waves-light.btn-raised.btn.btn-default(href="topic.html") Discard changes
          a.waves-effect.waves-light.btn-raised.btn.btn-default(href='#') Delete
          a.waves-effect.waves-light.btn-raised.btn.btn-default(href="topic.html") Preview

block scriptinline
  script(src='js/contrib/ckeditor/ckeditor.js')
  script(src='js/contrib/ckeditor/adapters/jquery.js')

  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();
    });

    function showMe (it, box) {
      var visibility = (box.checked) ? "block" : "none";
      document.getElementById(it).style.display = visibility;
    }
