- var user = "isAuthenticated"
- var pagetype = "template"
- var page = "Notifications"

include layout/_head.pug

body
  include layout/_gtm.pug
  include layout/_header-lu.pug
  
  main.main-container(role='main')
  
    nav.visible-md-block.visible-lg-block.bg-white
      ol.breadcrumb.container
        li
          a(href='home-lu.html') Home
        li.active Notifications
        
    .main-content
      .container
  
        .row.margin-top-l          
          
          .col-xs-12.col-sm-8
            h4.section-title Notifications
            
            .list-group.z-depth-1
                  
              a.list-group-item.media.bg-gray-lightest(href='single-post.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar1.jpg', alt='')
                .media-body <em>Clive Owen</em> posted on your profile
                  br
                  .text-gray-lighter 2 hours ago
                  
              a.list-group-item.media.bg-gray-lightest(href='topic.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar2.jpg', alt='')
                .media-body <em>Amanda Ali</em> commented on your topic <em>How to run very fast</em> in group Forest runs.
                  br
                  .text-gray-lighter 3 hours ago
                  
              a.list-group-item.media.bg-white(href='topic.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar5.jpg', alt='')
                .media-body <em>Juliet Rylance</em> commented on your topic <em>How to run very fast</em> in group Forest runs.
                  br
                  .text-gray-lighter 4 hours ago
              
              a.list-group-item.media.bg-white(href='topic.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar3.jpg', alt='')
                .media-body <em>Michael Anganrona-Baxter</em> commented on your event <em>The long march to Washington</em> in group Activists.
                  br
                  .text-gray-lighter 4 hours ago
              
              a.list-group-item.media.bg-white(href='single-post.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar4.jpg', alt='')
                .media-body <em>Leon Addison Brown</em> posted on your profile
                  br
                  .text-gray-lighter 6 hours ago
                  
              a.list-group-item.media.bg-white(href='topic.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar2.jpg', alt='')
                .media-body <em>Amanda Ali</em> commented on your topic <em>How to run very fast</em> in group Forest runs.
                  br
                  .text-gray-lighter 7 hours ago
                  
              a.list-group-item.media.bg-white(href='topic.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar5.jpg', alt='')
                .media-body <em>Juliet Rylance</em> commented on your topic <em>How to run very fast</em> in group Forest runs.
                  br
                  .text-gray-lighter 2 days ago
              
              a.list-group-item.media.bg-white(href='single-post.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar3.jpg', alt='')
                .media-body <em>Michael Anganrona-Baxter</em> commented on your post in the group  Happy campers.
                  br
                  .text-gray-lighter 5 days ago
                  
              a.list-group-item.media.bg-white(href='topic.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar5.jpg', alt='')
                .media-body <em>Juliet Rylance</em> commented on your post on her profile.
                  br
                  .text-gray-lighter 1 week ago
              
              a.list-group-item.media.bg-white(href='topic.html')
                .media-left
                  img.img-medium.img-circle(src='content/images/avatar3.jpg', alt='')
                .media-body <em>Michael Anganrona-Baxter</em> commented on your topic <em>Why are color runs so popular</em>.
                  br
                  .text-gray-lighter 10 may 2016
                  
            include molecules/_pager.pug
                  

  include layout/_footer.pug
  include layout/_scripts.pug
