extends ./layout/base-lu.pug

block title
  title Edit profile



block content

  .row.margin-top-l


    #scrollspy.col-xs-12.col-sm-4.col-sm-last.complementary-top
      .toc-wrapper.hidden-print
        ul.table-of-contents.nav
          li
            a(href='#name') Name &amp; profile image
          li
            a(href='#work') Work
          li
            a(href='#contact') Contact information
          li
            a(href='#details') Details about you

    .col-xs-12.col-sm-8
      h4.section-title Edit profile

      form(method='get', action='my-profile-about.html')

        #name.card.card-underline.scrollspy

          .card-head
            header Name & profile image

          .card-body

            .row
              .col-xs-12.col-sm-6
                .form-group
                  label First name
                  input.form-control(type="text", value='John')
              .col-xs-12.col-sm-6
                .form-group
                  label Last name
                  input.form-control(type="text", value='Johnson')

              .col-xs-12
                .form-group
                  label Profile image
                  .image-widget.form-managed-file.clearfix.row
                    .preview.col-sm-4.col-md-3.margin-bottom-m
                      img.img-responsive(src="content/images/member5.jpg", width="220")

                    .data.col-sm-8.col-md-9
                      .form-no-label
                        label.visually-hidden(for="edit-field-topic-image-0-alt") Alternative text
                        input#edit-field-topic-image-0-alt.form-text.form-control(placeholder="Alternative text", type="text")
                        #edit-field-topic-image-0-alt--description.help-block This text will be used by screen readers, search engines, or when the image cannot be loaded.
                      span.file.file--mime-image-jpeg.file--image
                        span.file-icon
                          span.icon.glyphicon.glyphicon-picture.text-primary
                        span.file-link
                          a.menu-item__link(href="#", type="image/jpeg; length=270186", title="Open image in new window") animals1-square.jpg
                        span.file-size 263.85 KB

                      button#edit-field-test-0-remove-button.button.js-form-submit.form-submit.btn-default.btn.btn-non-clickable(type="submit") Remove

                .form-group
                  label Cover image

                  .image-widget.form-managed-file.clearfix.row
                    .preview.col-sm-4.col-md-3.margin-bottom-m
                      img.img-responsive(src="content/images/my-cover-square.jpg", width="220")

                    .data.col-sm-8.col-md-9
                      .form-no-label
                        label.visually-hidden(for="edit-field-topic-image-0-alt") Alternative text
                        input#edit-field-topic-image-0-alt.form-text.form-control(placeholder="Alternative text", type="text")
                        #edit-field-topic-image-0-alt--description.help-block This text will be used by screen readers, search engines, or when the image cannot be loaded.
                      span.file.file--mime-image-jpeg.file--image
                        span.file-icon
                          span.icon.glyphicon.glyphicon-picture.text-primary
                        span.file-link
                          a.menu-item__link(href="#", type="image/jpeg; length=270186", title="Open image in new window") my-cover-square.jpg
                        span.file-size 263.85 KB

                      button#edit-field-test-0-remove-button.button.js-form-submit.form-submit.btn-default.btn.btn-non-clickable(type="submit") Remove

        #work.card.card-underline.scrollspy

          .card-head
            header Work

          .card-body

            .row
              .col-xs-12.col-sm-6
                .form-group
                  label Function
                  input.form-control(type="text", value='Receptionist')
              .col-xs-12.col-sm-6
                .form-group
                  label Organisation
                  input.form-control(type="text", value='Bastion Hotels')

        #contact.card.card-underline.scrollspy

          .card-head
            header Contact information

          .card-body

            .form-group
              label Phone
              input.form-control(type="tel", value='+31 612345678')

            .form-group
              label Location name
              input.form-control(type="text", value='')

            .form-group
              label Country
              select.form-control
                option(value='', disabled='') Choose a country
                option(value='1', selected) Netherlands
                option(value='2') United Kingdom
                option(value='3') France

            .form-group
              label.form-required Post code
              input.form-control(type="text", value='1234 BB')

            .form-group
              label.form-required City
              input.form-control(type="text", value='Amsterdam')

            .form-group
              label.form-required Address
              input.form-control(type="text", value='My streetname 123')

        #details.card.card-underline.scrollspy

          .card-head
            header Details about you

          .card-body

            .form-group
              label.form-required Write some details about yourself
              .textarea--cke
                textarea#ckeditor.form-control(required)
                  p Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla.

            .form-group
              label Your expertises
              input.form-control(type="text", value='drupal, sales, barbecues')

            .form-group
              label Your interests
              input.form-control(type="text", value='php, interaction design, cooking')

        .form-actions.clearfix
          a.waves-effect.waves-light.btn.btn-raised.btn-default(href="my-profile-about.html") Discard changes
          input.waves-effect.waves-light.btn.btn-raised.btn-primary.pull-right(type='submit', value='Save')




block scriptinline
  script(src='js/contrib/ckeditor/ckeditor.js')
  script(src='js/contrib/ckeditor/adapters/jquery.js')

  script.
    jQuery(document).ready(function($){
      $( '#ckeditor' ).ckeditor();
    });
