extends ./layout/base-lu.pug

block title
  title Delete reply on comment

block pagetitle

  .container
    .cover
        h1.page-title.h2 Delete reply
        
block content

  .row.margin-top-l
  
    .col-sm-8

      .card
        .card-body.extra-padding
          form(action="comment.html")
            p Are you sure you want to delete this reply?
            br
            br
            .form-actions.clearfix
              a.btn.btn-link(href='javascript:history.back()') Cancel
              button.btn.btn-primary.pull-right(type='submit') Delete
