extends ./layout/base-lu.pug

block title
  title Search content

block breadcrumbs  
  li
    a(href='home-lu.html') Home
  li
    a(href='search-content.html') Search content

block pagetitle

  .container.hero-container
    .cover
      h1.page-title.h2 Search 
      br 
      form.hero-form(role='search', method='get', action='search-content.html')
        .form-group
          input.form-control(type='text', placeholder='Search', value='all the content' name='search', autocomplete='off')
          input.form-submit(type='submit', value='')
          span.search-icon
            svg
              use(xlink:href='#icon-search')

    .brand-secondary.z-depth-1
      nav(role="navigation" aria-label="Tabs")
        h2.visually-hidden Secondary navigation
        ul.nav.nav-tabs.tabs-center.brand-secondary.nav-tabs--xl
          li.active
            a(href='search-content.html') Content 
            span.visually-hidden (active tab) 
          li
            a(href="search-members.html") Members  
  

block content
              
  .row.margin-top-l    

    .col-xs-12.col-sm-4.col-sm-last.margin-bottom-l
    
      .margin-top-exposed-filter
      
        button.waves-effect.waves-light.btn.btn-default.btn-block.btn-raised.visible-xs-inline-block.js-open-canvas
          svg.pull-left.btn-icon.icon-black
            title Filter list
            use(xlink:href='#icon-filter_list')
          | Filter
        .off-canvas.off-canvas-right.off-canvas-xs-only
          .offcanvas-head
            header.complementary-title Filter
            .offcanvas-tools.visible-xs-block
              .js-close-canvas.btn.btn-icon-toggle.pull-right
                svg.pull-left.btn-icon.icon-black
                  title Close
                  use(xlink:href='#icon-close')
        
          .offcanvas-body
            form
              .form-group
                label Content type
                select.form-control
                  option(value="all", selected) - Any -
                  option(value="event") Event
                  option(value="topic") Topic
              
              .form-actions.clearfix
                button.btn.btn-link(type='submit', value='Reset') Reset
                button.btn.btn-default.pull-right(type='submit', value='Filter') Filter
  
    .col-xs-12.col-sm-8
    
      h4.section-title Content results
      p If you are searching for members, <a href="search-members.html">click here</a>
      
      include molecules/_topic1.pug
      include molecules/_event1.pug
      include molecules/_page1.pug
      include molecules/_event2.pug
      include molecules/_topic2.pug
      include molecules/_topic3.pug
      include molecules/_event3.pug
      include molecules/_event4.pug
      include molecules/_topic4.pug

      include molecules/_pager.pug
