$default-color:         #4d4d4d;

$brand-primary:         #02467f;
$brand-secondary:       #8482bc;
$brand-accent:          #fcd605;

$brand-success:         #48b04b;
$brand-info:            #20252b;
$brand-warning:         #ff9900;
$brand-danger:          #f7412d;

$border-radius-base:    0;
$border-radius-large:   0;

$badge-border-radius:   0;

$label-radius:          0;

$navbar-default-bg:     $brand-primary;

$input-border-radius:   0;

$btn-primary-bg:        $brand-secondary;
$btn-primary-border:    $brand-secondary;
