@import 'init';

@import "contrib/bootstrap/navs";

// Include mixin for contrib navbar dependency
// https://github.com/twbs/bootstrap/pull/19432
// This commit somehow doesn't seem to have made it in version 3.3.7.

@mixin form-inline {

  // Kick in the inline
  @media (min-width: $grid-float-breakpoint) {
    // Inline-block all the things for "inline"
    .form-group {
      margin-bottom: 0;
    }
  }
}

@import 'contrib/bootstrap/navbar';

// Layout and behaviour overrides

.navbar-fixed-top {

  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }


  @include MQ($grid-float-breakpoint) {

    .navbar-nav {
      margin-left: 10px;
    }

  }

}

.navbar > .container .navbar-brand {

  @include MQ($grid-float-breakpoint) {
    margin-left: 0;
  }

}

//

@media (max-width: $grid-float-breakpoint-max) {
  // Dropdowns get same display when collapsed
  // This is an override of bootstrap navbar line 241
  .navbar-fixed-top .navbar-nav .open .dropdown-menu {
    background-color: $dropdown-bg;
    border: 0;
    @include box-shadow(0 6px 12px rgba(0,0,0,.175));
    position: fixed;
    top: auto;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: none;
    max-height: 100%;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
  }

  .navbar-collapse .navbar-nav {
    margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);
    order: 1;
  }

  .navbar-collapse {

    .navbar-collapse-order {
      display: flex;
      flex-flow: column;
    }

    .navbar-nav > li > a {
      padding: 5px 15px 5px 25px;

      &.dropdown-toggle {
        pointer-events: none;
      }
    }

    .dropdown-menu {
      display: block;
      position: relative;
      width: 100%;
      background-color: transparent;
      float: none;
      max-width: none;
      padding-top: 0;
      box-shadow: none;

      li a {
        color: white;
        padding: 5px 15px 5px 37px;

        &:hover,
        &:focus {
          background: $brand-secondary;
        }

      }

    }

  }

}

// Style overrides

@media (max-width: $grid-float-breakpoint-max) {

  .navbar-default .navbar-nav .open .dropdown-menu {

    > li > a {
      color: $dropdown-link-color;
      &:hover,
      &:focus {
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-active-color;
        background-color: $dropdown-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-color;
        background-color: $dropdown-link-disabled-color;
      }
    }

  }

}

.profile .dropdown-toggle img {
  border: 2px solid white;
}

.navbar-footer {

  .navbar-brand {
    color: white;
    width: 100%;
    text-align: center;
    float: none;

    @include MQ($small) {
      width: auto;
      float: left;
    }

  }

  .navbar-right {
    text-align: center;

    li {
      @include MQ($small) {
        float: left;
      }
    }

    @include MQ($x-large) {
      margin-right: 0;
    }

    a {
      color: white;

      &:active,
      &:focus,
      &:hover {
        color: white;
        background: transparent
      }

    }

  }

}

.navbar {
  border: 0;
  font-size: $navbar-font-size;

  .navbar-toggle {
    border: 0;
    border-radius: 0;
    color: white;
    font-weight: 500;
    padding: 8px 10px;
    height: 50px;
    min-width: 50px;
    margin: 0;
    float: none;
  }

  .navbar-form {
    box-shadow: none;
    border: 0;
    margin: 6px 0;
    padding-left: 10px;
    padding-right: 10px;

    @include MQ($grid-float-breakpoint) {
      position: absolute;
    }

  }
}

.navbar-brand {
  background: $navbar-default-brand-bg;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  width: auto;
  padding: 0;
  max-width: 200px;
  height: 50px;
  overflow: hidden;

  img {
    pointer-events: none;
    width: auto;
    height: 50px;
  }

}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  transition: color .2s ease, background-color .2s ease;
}

.navbar-inverse {
  font-size: $navbar-inverse-size;
  color: $navbar-inverse-color;

  .navbar-toggle {
    color: $navbar-inverse-color;
    border: 1px solid;
  }
}

// Hacking into responsive bootstrap behaviour
.navbar-fixed-top .navbar-right {
  margin-top: 0;
  margin-bottom: 0;
  float: right;

  > li {
    float: left;

    > a {
      padding: 13px 10px 8px;
      height: 50px;
    }
  }


  @include MQ($x-large) {
    margin-right: 0;
  }

}

@include MQ($grid-float-breakpoint) {

  .navbar-search {
    float: right;
  }

  .navbar-collapse {
    float: left;
  }

  .navbar-right {
    margin-right: 0;
  }
}

.navbar .dropdown .badge {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.625em;
  top: 8px;
  left: 25px;
  background-color: $brand-accent;
  color: $default-color;
  border-radius: 50%;
}


.navbar-form[role='search'] {

  .form-group {
    position: relative;
  }

  .form-control {
    padding: $padding-base-vertical 38px $padding-base-vertical $padding-base-horizontal;
    border-radius: $input-border-radius;
    max-width: none;
    border: 0;
  }

  .form-submit,
  .search-icon {
    width: 38px;
    height: 38px;
    display: block;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    line-height: 38px;
    cursor: pointer;
    text-align: center;
    border-radius: 0 $input-border-radius $input-border-radius 0;
	}

  .search-icon {
    line-height: 38px;
    fill: $brand-primary;
    background: white;
    speak: none;
    pointer-events: none;

    svg {
      width: 24px;
      height: 24px;
    }

  }

  @include MQ($grid-float-breakpoint) {

    .form-group {
  		border-radius: $input-border-radius;
      width: 0%;
      min-width: 38px;
      height: 38px;
      transition: width 0.3s;
      -webkit-backface-visibility: hidden;
    }

		.form-control {
      position: absolute;
      right: 0;
      border: none;
      outline: none;
      background: white;
      width: 100%;
      height: 38px;
      margin: 0;
      z-index: 10;
      padding-left: 0;
      transition: padding 0.3s;
		}

    .form-submit {
      background: white; // IE needs this
      opacity: 0;
    	color: transparent;
    	border: none;
    	outline: none;
    	z-index: -1;
    }

    .search-icon {
      z-index: 90;
      border-radius: 0;
      background: $navbar-default-bg;
      fill: white;
      pointer-events: initial;
      transition: border-radius 0.3s, background-color 0.3s, color 0.3s;;
    }

  }

}


// Open state
#navbar-search.is-open,
.no-js #navbar-search {
	width: 180px;

  .form-control {
    padding-left: $padding-base-horizontal;
  }

  .search-icon {
  	background: white;
  	fill: $brand-primary;
  	z-index: 11;
    border-radius: 0 $input-border-radius $input-border-radius 0;
  }

  .form-submit {
  	z-index: 90;
  }

}
