name: Testing

on:
  push:
    branches:
      - main
  pull_request: { }

jobs:
  phpcs:
    name: PHPUnit
    runs-on: ubuntu-latest
    steps:

      - name: Set default PHP7.4
        run: sudo update-alternatives --set php /usr/bin/php7.4

      # We checkout the code in a separate folder since we want to use the
      # result of the merge rather than the pre-merged code.
      # A separate path is used to keep our working directory clean.
      - uses: actions/checkout@v3
        with:
          path: ${{ github.workspace }}/tmp/repository
          # Since composer must clone from this we require all the history.
          fetch-depth: 0

      - name: Cache Composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.json') }}

      # Create a branch for the specific commit so that composer can check it
      # out.
      - name: Composerify local checkout
        run: cd $GITHUB_WORKSPACE/tmp/repository && git checkout -b $GITHUB_SHA

      # Prepare our composer.json to do a full project set-up.
      - name: Project Setup
        run:  cp $GITHUB_WORKSPACE/tmp/repository/tests/composer.json composer.json

      # Set up composer with our desired PHP version.
      - name: Composer Config
        run: composer config repositories.social vcs $GITHUB_WORKSPACE/tmp/repository

      # Install the version of Open Social under test.
      - name: Composer Install
        run: composer require goalgorilla/open_social:dev-${{ github.sha }}#${{ github.sha }}

      - name: Set file permissions
        run: mkdir -p $GITHUB_WORKSPACE/sites/default/files && sudo chmod -R 664 $GITHUB_WORKSPACE/sites/default/files

      - name: PHPUnit
        run: $GITHUB_WORKSPACE/vendor/bin/phpunit -c $GITHUB_WORKSPACE/html/profiles/contrib/social/phpunit.xml.dist --log-junit $GITHUB_WORKSPACE/test-reports/phpunit.xml
        env:
          SIMPLETEST_DB: sqlite://tmp/db.sqlite
