<section class="card">
  <h2 class="card__title card__title--underline">
    Card title
    <span class="card__subtitle">
      optional subtitle
    </span>
  </h2>
  <div class="{{ modifier_class }}">
    <p>Content can be anything</p>
  </div>

  <footer class="card__actionbar">
    <a href="#" class="card__link"> Read more </a>
  </footer>

</section>