@import 'settings';

.card {
  @include clearfix;
  @include z-depth-1;
  position: relative;
  margin-bottom: $card-spacer-y;
  background-clip: padding-box;

  img {
    max-width: 100%;
  }
}

.card-head {
  position: relative;
  vertical-align: middle;
  padding: 15px $card-padding 0;
  line-height: 1;
}

// This style can be used to separate the card title from the card body.
.card-underline .card-head {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 15px;
}

.card-body {
  position: relative;
  padding: $card-padding;

  &.extra-padding {

    @include MQ($small) {
      padding: $card-padding-large;
    }

  }

}

.card-with-actionbar .card-body {
  padding-bottom: 48px;
  overflow: hidden;
}

.card-head header {
  vertical-align: middle;
  font-size: 0.875rem;
}

.card__label {
  text-transform: uppercase;
  font-size: 14px;
  color: $default-color;
}

.card-nested-section {
  margin: 10px -20px -20px;
  padding: $card-padding;
  background: $gray-lighter-1;
  border-top: 1px solid $gray-lighter;

  .extra-padding & {
    @include MQ($small) {
      margin-left: -$card-padding-large;
      margin-right: -$card-padding-large;
      padding: $card-padding $card-padding-large;
    }
  }

  &.indented {
    margin: -20px;
    background: transparent;
    border-top: 0;

  }

  &:last-child {
    margin-bottom: -$card-padding;
    border-bottom: 0;

    .extra-padding & {
      @include MQ($small) {
        margin-bottom: -$card-padding-large;
      }
    }

  }
}


.card {
  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

}

.card-actionbar {
  @include clearfix; // buttons inside can float
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: inherit;
  padding: 6px $card-padding 6px ($card-padding - 4);

  .actionbar {
    position: absolute;
    z-index: 1;
  }

}

.card-actionbar--with-border {
  border-top: 1px solid $gray-lighter;
}

.card-buttonbar {
  padding: 6px 0;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $gray-lighter;

  @include MQ($small) {
    justify-content: flex-start;
  }

  .btn-link {
    padding: 6px;
  }

  .justify-end {
    margin-left: auto;
    text-align: right;
    flex: 1;
  }
}
