// Variables
@import "mixins/mixins";
@import "base/variables";
@import "base/fonts";

body {
  line-height: 1.5;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0,0,0,0.87);
  -webkit-font-smoothing: antialiased;
	margin: 20px;
}

p {
	font-size: 14px;
}

blockquote {
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.cke_contents_ltr blockquote {
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ul,
ol {
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 12px;
}

ol {
  list-style-position: inside;
}

.list-unstyled {
  padding-left: 0;
	margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
	transition: 0.3s;
	margin: 1em 0 0.5em;

	a {
		font-weight: inherit;
	}

}

// Header Styles

h1, .h1 {
	font-size: 2rem;
	letter-spacing: 0.05em;
	font-weight: 700;

	@include MQ($medium) {
		font-size: 3rem;
	}

}

h2, .h2 {
	font-size: 1.5rem;

	@include MQ($medium) {
		font-size: 2rem;
	}
}

h3, .h3 {
	font-size: 1.25rem;

	@include MQ($medium) {
		font-size: 1.5rem;
	}
}

h4, .h4 {
	font-size: 1.2em;

	@include MQ($medium) {
		font-size: 1.25em;
	}

}

h5, .h5{
	font-size: 1.1em;

	@include MQ($medium) {
		font-size: 1.1em;
	}
}

h6, .h6 {
	font-size: 1em;

	@include MQ($medium) {
		font-size: 1em;
	}
}

hr {
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right {
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left {
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre {
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

span[lang] {
	font-style: italic;
}

figure {
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption {
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid $secondary-color;
}
