@charset "UTF-8";

// Mixins

@import "base/shadows";

//
// Variables and mixins
@import "materialize/variables";
@import "bootstrap/mixins";
@import "materialize/mixins";

//
// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "materialize/icons";
@import "materialize/fonts";

//
// Base
@import "base/color";
@import "base/animations";
@import "base/visibility";

//
// Bootstrap components that are used @version 3.3.6
@import "bootstrap/scaffolding";
@import "bootstrap/buttons";
@import "bootstrap/breadcrumbs";
@import "bootstrap/forms";
@import "bootstrap/pagination";
@import "bootstrap/type";
@import "bootstrap/forms";
@import "bootstrap/component-animations";
@import "bootstrap/navbar";
@import "bootstrap/navs";
@import "bootstrap/dropdowns";
@import "bootstrap/badges";
@import "bootstrap/list-group";
@import "bootstrap/media";


//
// Materialize style components
@import "materialize/breadcrumbs";
@import "materialize/cards";
@import "materialize/forms";
@import "materialize/grid"; // This is the Bootstrap v4.0 grid system
@import "materialize/hero";
@import "materialize/pagination";
@import "materialize/scaffolding";
@import "materialize/typography";
@import "materialize/navbar";
@import "materialize/dropdowns";
@import "materialize/badges";

//
// Components
@import "components/buttons";
@import "components/collection";
@import "components/waves";
@import "components/collapsible";
@import "components/tabs";
@import "components/table-of-contents";
@import "components/off-canvas";


@import "components/forms/checkbox";
@import "components/forms/file-input";
@import "components/forms/switch";
@import "components/forms/range";

@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";

// Layout
@import "layout/layout";

//
// Project
@import "project/header";
@import "project/search";
@import "project/hamburger";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

//
// Theme
//@import "theme/styles"
