<ul block="block-booknavigation-2" class="nav-book">
  <li class="menu-item menu-item--collapsed">
    <a href="#">Lorem ipsum dolor sit amet</a>
  </li>
  <li class="menu-item menu-item--has-children menu-item--expanded menu-item--active-trail">
    <a href="#">Lorem ipsum dolor sit amet sequitur sunt</a>
    <ul class="menu">
      <li class="menu-item menu-item--has-children menu-item--expanded menu-item--active-trail">
        <a href="#">Lorem ipsum dolor sit amet</a>
        <ul class="menu">
          <li class="menu-item menu-item--active-trail">
            <a href="#">Lorem ipsum.</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="#">Lorem ipsum dolor sit amet</a>
  </li>
</ul>
