  <div class="list-group">
    <div class="list-group-item avatar"><span class="circle" style="background-color: #E57373"></span>
      <h6 class="list-group-item-heading">Header</h6>
      <p class="list-group-item-text">Blocks: Primary navigation, user navigation, site search</p>
      <p class="list-group-item-text">The header is always present. It holds a navbar component and the logo.</p>
    </div>
    <div class="list-group-item avatar"><span class="circle" style="background-color: #E6EE9C"></span>
      <h6 class="list-group-item-heading">Breadcrumbs</h6>
      <p class="list-group-item-text">Pathway navigation for large screen and 'go back' navigation for mobile</p>
    </div>
    <div class="list-group-item avatar"><span class="circle" style="background-color: #9575CD"></span>
      <h6 class="list-group-item-heading">Hero</h6>
      <p class="list-group-item-text">Provides a summary of the main content of this page, for example a person, a group or an event.</p>
    </div>
    <div class="list-group-item avatar"><span class="circle" style="background-color: #FFE082"></span>
      <h6 class="list-group-item-heading">Secondary navigation</h6>
      <p class="list-group-item-text">Navigation options to the sub contents of a main content.</p>
    </div>
    <div class="list-group-item avatar"><span class="circle" style="background-color: #FF8A65"></span>
      <h6 class="list-group-item-heading">Content top</h6>
      <p class="list-group-item-text">Region to place content blocks above the main content. There are no blocks placed here by default.</p>
    </div>
    <div class="list-group-item avatar"><span class="circle" style="background-color: #4DB6AC"></span>
      <h6 class="list-group-item-heading">Main content</h6>
      <p class="list-group-item-text">Content about this section</p>
    </div>
    <div class="list-group-item avatar"><span class="circle" style="background-color: #4DD0E1"></span>
      <h6 class="list-group-item-heading">Complementary top</h6>
      <p class="list-group-item-text">Complementary content, filters, actions, quick navigations that is specific to the section. On mobile this region will be placed on top of the Main content, possibly in a different appearance such as with an off-canvas component.</p>
    </div>
    <div class="list-group-item avatar"><span class="circle" style="background-color: #81C784"></span>
      <h6 class="list-group-item-heading">Complementary bottom</h6>
      <p class="list-group-item-text">Complementary content that is less important than the contents of the complementary top part. The contents of this block will be hidden on non-mobile screens.</p>
    </div>
    <div class="list-group-item avatar"><span class="circle" style="background-color: #DCE775"></span>
      <h6 class="list-group-item-heading">Content bottom</h6>
      <p class="list-group-item-text">Region to place content blocks below the main content. There are no blocks placed here by default.</p>
    </div>
    <div class="list-group-item avatar"><span class="circle" style="background-color: #64b5f6"></span>
      <h6 class="list-group-item-heading">Footer</h6>
      <p class="list-group-item-text">It is static and contains information about the whole application.</p>
    </div>
  </div>
  <div class="browser-window">
    <div class="top-bar">
      <div class="circles">
        <div class="circle" id="close-circle"></div>
        <div class="circle" id="minimize-circle"></div>
        <div class="circle" id="maximize-circle"></div>
      </div>
    </div>
    <div class="content">
      <div>
        <div style="background-color:#E57373; min-height: 80px">
          <p>Header</p>
        </div>
      </div>
      <div class="hidden-xs">
        <div style="background-color:#E6EE9C; min-height: 30px">
          <p>Breadcrumbs</p>
        </div>
      </div>
      <div>
        <div style="background-color:#9575CD; min-height: 220px">
          <p>Hero</p>
          <p class="flat-text inline25"></p>
          <p class="flat-text inline25"></p>
        </div>
      </div>
      <div>
        <div style="background-color:#FFE082; min-height: 40px">
          <p>Secondary navigation</p>
          <p class="flat-text inline25"></p>
          <p class="flat-text inline25"></p>
          <p class="flat-text inline25"></p>
        </div>
      </div>
      <div>
        <div style="background-color:#FF8A65; min-height: 100px">
          <p>Content top</p>
          <p class="flat-text inline25"></p>
          <p class="flat-text inline25"></p>
          <p class="flat-text inline25"></p>
        </div>
      </div>
      <div class="row">
        <div class="region--complementary" style="background-color:#4DD0E1; min-height: 150px">
          <div class="complementary-top">
            <p>Complementary top</p>
            <p class="flat-text small"></p>
            <p class="flat-text"></p>
            <p class="flat-text"></p>
          </div>
          <div class="complementary-bottom" style="background-color:#81C784; min-height: 200px">
            <p>Complementary bottom</p>
            <p class="flat-text small"></p>
            <p class="flat-text"></p>
            <p class="flat-text"></p>
          </div>
        </div>
        <div class="region--main-content" style="background-color:#4DB6AC; min-height: 400px">
          <p>Page title</p>
          <p>Main content</p>
          <p class="flat-text-header"></p>
          <p class="flat-text"></p>
          <p class="flat-text"></p>
          <p class="flat-text"></p>
          <p class="flat-text"></p>
        </div>
      </div>
      <div>
        <div style="background-color:#DCE775; min-height: 100px">
          <p>Content bottom</p>
          <p class="flat-text inline25"></p>
          <p class="flat-text inline25"></p>
          <p class="flat-text inline25"></p>
        </div>
      </div>
      <div>
        <div style="background-color:#64b5f6; min-height: 50px">
          <p>Footer</p>
        </div>
      </div>
    </div>
  </div>
